Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add intregation test target for schema mismatch behaviour
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/schema-mismatch/Earthfile
  catalyst-gateway/tests/schema-mismatch/README.md
  catalyst-gateway/tests/schema-mismatch/docker-compose.yml
  catalyst-gateway/tests/schema-mismatch/poetry.lock
  catalyst-gateway/tests/schema-mismatch/pyproject.toml
  catalyst-gateway/tests/schema-mismatch/schema_mismatch/__init__.py
  catalyst-gateway/tests/schema-mismatch/schema_mismatch/test_schema_mismatch_behaviour.py
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: update deny.toml
  catalyst-gateway/deny.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: simplify pyproject
  catalyst-gateway/tests/schema-mismatch/poetry.lock
  catalyst-gateway/tests/schema-mismatch/pyproject.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: add name to docker-compose
  catalyst-gateway/tests/schema-mismatch/docker-compose.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: tweak Earthfiles to play nice with CI
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/schema-mismatch/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: spelling
  .config/dictionaries/project.dic
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/schema-mismatch/Earthfile
  catalyst-gateway/tests/schema-mismatch/README.md
  catalyst-gateway/tests/schema-mismatch/schema_mismatch/__init__.py
  catalyst-gateway/tests/schema-mismatch/schema_mismatch/test_schema_mismatch_behavior.py
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: organize test targets, document how to run them
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/schema-mismatch/Earthfile
  catalyst-gateway/tests/schema-mismatch/README.md
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: comment out debugging features for pytest
  catalyst-gateway/tests/schema-mismatch/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: tweak earthfile to attempt to be friendlier with ci
  catalyst-gateway/tests/schema-mismatch/Earthfile
  catalyst-gateway/tests/schema-mismatch/docker-compose.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: set docker network name to match docker-compose
  catalyst-gateway/tests/schema-mismatch/Earthfile
  catalyst-gateway/tests/schema-mismatch/README.md
  catalyst-gateway/tests/schema-mismatch/schema_mismatch/__init__.py
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: solve docker project name issue by adding a workdir to target
  catalyst-gateway/tests/schema-mismatch/Earthfile
  catalyst-gateway/tests/schema-mismatch/docker-compose.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: docker run network uses host
  catalyst-gateway/tests/schema-mismatch/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: modify urls in python to use localhost
  catalyst-gateway/tests/schema-mismatch/schema_mismatch/__init__.py
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: simplify earthly targets, rename to empower CI
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/schema-mismatch/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: use 'testing' network to better emulate service environment
  catalyst-gateway/tests/schema-mismatch/Earthfile
  catalyst-gateway/tests/schema-mismatch/docker-compose.yml
  catalyst-gateway/tests/schema-mismatch/schema_mismatch/__init__.py
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: use env var to get compose project name and default network name
  catalyst-gateway/tests/schema-mismatch/Earthfile
  catalyst-gateway/tests/schema-mismatch/docker-compose.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: value
  catalyst-gateway/bin/src/service/api/registration/mod.rs
  catalyst-gateway/bin/src/service/api/v0/mod.rs
  catalyst-gateway/bin/src/service/api/v1/mod.rs
  catalyst-gateway/bin/src/service/common/objects/account_votes.rs
  catalyst-gateway/bin/src/service/common/objects/block.rs
  catalyst-gateway/bin/src/service/common/objects/delegate_public_key.rs
  catalyst-gateway/bin/src/service/common/objects/fragments_processing_summary.rs
  catalyst-gateway/bin/src/service/common/objects/voter_info.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: format
  catalyst-gateway/bin/src/service/api/v0/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(bare bones): index follower data
  catalyst-gateway/Cargo.lock
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/event_db/queries/event/config.rs
  catalyst-gateway/bin/src/event_db/queries/event/follower.rs
  catalyst-gateway/bin/src/event_db/queries/registration.rs
  catalyst-gateway/bin/src/follower.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(bare bones): index follower data
  catalyst-gateway/bin/src/follower.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add platform detection (#230)
  catalyst_voices/ios/Flutter/AppFrameworkInfo.plist
  catalyst_voices/ios/Podfile.lock
  catalyst_voices/lib/routes/app_router.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform/catalyst_platform.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform/io_platform.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform/stub_platform.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform/web_platform.dart
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
Owners: @minikin

fix: server rules
  catalyst-gateway/.spectral.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: get server for openapi doc
  catalyst-gateway/Cargo.lock
  catalyst-gateway/Cargo.toml
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/service/api/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Create 0006-cursor-pegination-cat-data-service.md
  docs/src/architecture/09_architecture_decisions/0006-cursor-pegination-cat-data-service.md
Owners: none

Update 0006-cursor-pegination-cat-data-service.md
  docs/src/architecture/09_architecture_decisions/0006-cursor-pegination-cat-data-service.md
Owners: none

Update 0006-cursor-pegination-cat-data-service.md
  docs/src/architecture/09_architecture_decisions/0006-cursor-pegination-cat-data-service.md
Owners: none

Update 0006-cursor-pegination-cat-data-service.md
  docs/src/architecture/09_architecture_decisions/0006-cursor-pegination-cat-data-service.md
Owners: none

fix: add description
  catalyst-gateway/bin/src/service/api/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: remove doc rule from server
  catalyst-gateway/.spectral.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: spelling and format
  .config/dictionaries/project.dic
  catalyst-gateway/bin/src/service/api/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: cargo lint
  catalyst-gateway/bin/src/service/api/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: validator
  catalyst-gateway/bin/src/service/common/objects/account_votes.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: Add integration testing of schema mismatch behaviour (#232)
  .config/dictionaries/project.dic
  catalyst-gateway/Earthfile
  catalyst-gateway/deny.toml
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/schema-mismatch/Earthfile
  catalyst-gateway/tests/schema-mismatch/README.md
  catalyst-gateway/tests/schema-mismatch/docker-compose.yml
  catalyst-gateway/tests/schema-mismatch/poetry.lock
  catalyst-gateway/tests/schema-mismatch/pyproject.toml
  catalyst-gateway/tests/schema-mismatch/schema_mismatch/__init__.py
  catalyst-gateway/tests/schema-mismatch/schema_mismatch/test_schema_mismatch_behavior.py
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix typo
  docs/src/architecture/09_architecture_decisions/0006-cursor-pegination-cat-data-service.md
Owners: none

fix: syntax
  catalyst-gateway/bin/src/service/api/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: ignore id rule to all file
  catalyst-gateway/.spectral.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: remove server rules
  catalyst-gateway/.spectral.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: validator value
  catalyst-gateway/bin/src/service/common/objects/voter_info.rs
  catalyst-gateway/bin/src/service/common/responses/resp_5xx.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: TODO comment
  catalyst-gateway/bin/src/service/common/objects/account_votes.rs
  catalyst-gateway/bin/src/service/common/objects/fragments_batch.rs
  catalyst-gateway/bin/src/service/common/objects/fragments_processing_summary.rs
  catalyst-gateway/bin/src/service/common/objects/voter_info.rs
  catalyst-gateway/bin/src/service/common/responses/resp_5xx.rs
  catalyst-gateway/tests/integration/catalyst_gateway_event_db.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: cspell word
  catalyst-gateway/.spectral.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
