Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: add handle PEM file and cleanup
  catalyst-gateway-crates/c509-certificate/src/signing.rs
Owners: none

fix: lib generate and verify functionality and docs
  catalyst-gateway-crates/c509-certificate/src/lib.rs
Owners: none

fix: Cargo toml
  catalyst-gateway-crates/c509-certificate/Cargo.toml
Owners: none

fix: add deserialize, serialize, other helper function
  catalyst-gateway-crates/c509-certificate/src/c509_algo_identifier.rs
  catalyst-gateway-crates/c509-certificate/src/c509_attributes/attribute.rs
  catalyst-gateway-crates/c509-certificate/src/c509_big_uint.rs
  catalyst-gateway-crates/c509-certificate/src/c509_extensions/alt_name.rs
  catalyst-gateway-crates/c509-certificate/src/c509_extensions/extension/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_extensions/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_general_names/general_name.rs
  catalyst-gateway-crates/c509-certificate/src/c509_general_names/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_general_names/other_name_hw_module.rs
  catalyst-gateway-crates/c509-certificate/src/c509_issuer_sig_algo/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_name/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_name/rdn.rs
  catalyst-gateway-crates/c509-certificate/src/c509_oid.rs
  catalyst-gateway-crates/c509-certificate/src/c509_subject_pub_key_algo/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_time.rs
  catalyst-gateway-crates/c509-certificate/src/tbs_cert.rs
Owners: none

feat(backend): Index DB schema setup seems to work
  .config/dictionaries/project.dic
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/db/index/mod.rs
  catalyst-gateway/bin/src/db/index/schema.rs
  catalyst-gateway/bin/src/db/index/schema/namespace.cql
  catalyst-gateway/bin/src/db/index/schema/txi_by_stake_table.cql
  catalyst-gateway/bin/src/db/index/schema/txo_assets_by_stake_table.cql
  catalyst-gateway/bin/src/db/index/schema/txo_by_stake_table.cql
  catalyst-gateway/bin/src/db/index/session.rs
  catalyst-gateway/bin/src/service/api/health/live_get.rs
  catalyst-gateway/bin/src/settings.rs
  utilities/local-cluster/justfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

test: earthly rust cli no cache
  catalyst-gateway-crates/c509-certificate/Earthfile
Owners: none

test: earthly rust cli no cache
  catalyst-gateway-crates/c509-certificate/Earthfile
Owners: none

fix: add examples to earthly
  catalyst-gateway-crates/c509-certificate/Earthfile
Owners: none

fix: update crates
  catalyst-gateway-crates/c509-certificate/Cargo.toml
Owners: none

chore: update package versions to official ones
  catalyst_voices/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/pubspec.yaml
Owners: @minikin, @stevenj

feat: add catalyst_compression package
  catalyst_voices_packages/catalyst_compression/catalyst_compression/LICENSE
  catalyst_voices_packages/catalyst_compression/catalyst_compression/README.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression/analysis_options.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression/example/main.dart
  catalyst_voices_packages/catalyst_compression/catalyst_compression/lib/catalyst_compression.dart
  catalyst_voices_packages/catalyst_compression/catalyst_compression/lib/src/catalyst_compression.dart
  catalyst_voices_packages/catalyst_compression/catalyst_compression/pubspec.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression_platform_interface/LICENSE
  catalyst_voices_packages/catalyst_compression/catalyst_compression_platform_interface/README.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression_platform_interface/analysis_options.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression_platform_interface/example/main.dart
  catalyst_voices_packages/catalyst_compression/catalyst_compression_platform_interface/lib/catalyst_compression_platform_interface.dart
  catalyst_voices_packages/catalyst_compression/catalyst_compression_platform_interface/lib/src/catalyst_compression_platform.dart
  catalyst_voices_packages/catalyst_compression/catalyst_compression_platform_interface/lib/src/catalyst_compressor.dart
  catalyst_voices_packages/catalyst_compression/catalyst_compression_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/LICENSE
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/README.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/analysis_options.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/assets/js/catalyst_compression.js
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/example/main.dart
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/lib/catalyst_compression_web.dart
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/lib/src/interop/catalyst_compression_interop.dart
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/pubspec.yaml
Owners: @minikin, @stevenj

docs: add algorithm sources
  catalyst_voices_packages/catalyst_compression/catalyst_compression/README.md
Owners: @minikin, @stevenj

feat: validate if compression is supported for given bytes
  catalyst_voices_packages/catalyst_compression/catalyst_compression_platform_interface/lib/src/catalyst_compressor.dart
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/lib/src/interop/catalyst_compression_interop.dart
Owners: @minikin, @stevenj

docs: improve error messages
  catalyst_voices_packages/catalyst_compression/catalyst_compression/lib/src/catalyst_compression.dart
Owners: @minikin, @stevenj

fix: add missing dependency
  catalyst_voices_packages/catalyst_compression/catalyst_compression/pubspec.yaml
Owners: @minikin, @stevenj

docs: fix markdown
  catalyst_voices_packages/catalyst_compression/catalyst_compression/README.md
Owners: @minikin, @stevenj

test
  catalyst_voices/Earthfile
Owners: @minikin

chore: add changelogs
  catalyst_voices_packages/catalyst_compression/catalyst_compression/CHANGELOG.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression_platform_interface/CHANGELOG.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/CHANGELOG.md
Owners: @minikin, @stevenj

fix: cargo toml and add dependencies
  catalyst-gateway-crates/c509-certificate/Cargo.toml
Owners: none

feat(wip): add wasm bindgen
  catalyst-gateway-crates/c509-certificate/src/c509_big_uint.rs
  catalyst-gateway-crates/c509-certificate/src/c509_extensions/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_issuer_sig_algo/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_name/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_name/rdn.rs
  catalyst-gateway-crates/c509-certificate/src/c509_subject_pub_key_algo/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_time.rs
  catalyst-gateway-crates/c509-certificate/src/lib.rs
  catalyst-gateway-crates/c509-certificate/src/tbs_cert.rs
Owners: none

feat(wip): add file for handling wasm binding
  catalyst-gateway-crates/c509-certificate/src/wasm_binding.rs
Owners: none

test: wasm binding in js
  catalyst-gateway-crates/c509-certificate/index.html
  catalyst-gateway-crates/c509-certificate/index.js
Owners: none

feat: catalyst compression - brotli/zstd (#626)
  catalyst_voices/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/pubspec.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression/CHANGELOG.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression/LICENSE
  catalyst_voices_packages/catalyst_compression/catalyst_compression/README.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression/analysis_options.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression/example/main.dart
  catalyst_voices_packages/catalyst_compression/catalyst_compression/lib/catalyst_compression.dart
  catalyst_voices_packages/catalyst_compression/catalyst_compression/lib/src/catalyst_compression.dart
  catalyst_voices_packages/catalyst_compression/catalyst_compression/pubspec.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression_platform_interface/CHANGELOG.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression_platform_interface/LICENSE
  catalyst_voices_packages/catalyst_compression/catalyst_compression_platform_interface/README.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression_platform_interface/analysis_options.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression_platform_interface/example/main.dart
  catalyst_voices_packages/catalyst_compression/catalyst_compression_platform_interface/lib/catalyst_compression_platform_interface.dart
  catalyst_voices_packages/catalyst_compression/catalyst_compression_platform_interface/lib/src/catalyst_compression_platform.dart
  catalyst_voices_packages/catalyst_compression/catalyst_compression_platform_interface/lib/src/catalyst_compressor.dart
  catalyst_voices_packages/catalyst_compression/catalyst_compression_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/CHANGELOG.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/LICENSE
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/README.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/analysis_options.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/assets/js/catalyst_compression.js
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/example/main.dart
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/lib/catalyst_compression_web.dart
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/lib/src/interop/catalyst_compression_interop.dart
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/pubspec.yaml
Owners: @minikin, @stevenj

fix melos
  melos.yaml
Owners: none

feat: implement x509 metadata envelope
  .config/dictionaries/project.dic
  catalyst_voices_packages/catalyst_cardano_serialization/lib/catalyst_cardano_serialization.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/registration_data.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/x509_metadata_envelope.dart
  catalyst_voices_packages/catalyst_cardano_serialization/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano_serialization/test/rbac/registration_data_test.dart
Owners: @minikin, @stevenj

feat!: add Ed25519 private key support, move Ed25519PublicKey and Ed25519Signature to a new file
  catalyst_voices_packages/catalyst_cardano_serialization/lib/catalyst_cardano_serialization.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/witness_builder.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/x509_metadata_envelope.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/signature.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/transaction.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/witness.dart
  catalyst_voices_packages/catalyst_cardano_serialization/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano_serialization/test/signature_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/test_utils/test_data.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/witness_test.dart
  melos.yaml
Owners: @minikin, @stevenj

feat: add missing test
  catalyst_voices_packages/catalyst_cardano_serialization/test/signature_test.dart
Owners: @minikin, @stevenj

fix: remove bindgen
  catalyst-gateway-crates/c509-certificate/src/c509_big_uint.rs
  catalyst-gateway-crates/c509-certificate/src/c509_extensions/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_issuer_sig_algo/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_name/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_name/rdn.rs
  catalyst-gateway-crates/c509-certificate/src/c509_subject_pub_key_algo/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_time.rs
  catalyst-gateway-crates/c509-certificate/src/tbs_cert.rs
Owners: none

fix: add wasm bindgen function
  catalyst-gateway-crates/c509-certificate/src/signing.rs
  catalyst-gateway-crates/c509-certificate/src/wasm_binding.rs
Owners: none

fix: error wording
  catalyst-gateway-crates/c509-certificate/src/lib.rs
Owners: none

test: add js file to test the binding
  catalyst-gateway-crates/c509-certificate/index.js
Owners: none

chore: add word dictionary
  .config/dictionaries/project.dic
Owners: none

feat: sign/verify X509MetadataEnvelope
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/x509_metadata_envelope.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/signature.dart
Owners: @minikin, @stevenj

feat: adds parallel coverage
  .config/dictionaries/project.dic
  .github/workflows/generate-allure-report.yml
Owners: none

feat: add rbac registration to catalyst_cardano example app
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/main.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_rbac_tx.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_tx.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_data.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/web/index.html
Owners: @minikin, @stevenj

feat: adds flutter coverage
  .github/workflows/generate-allure-report.yml
Owners: none

fix: coverage ext path
  .github/workflows/generate-allure-report.yml
Owners: none

fix coverage ext
  .github/workflows/generate-allure-report.yml
Owners: none

fix: update earthfile
  catalyst-gateway-crates/c509-certificate/Earthfile
Owners: none

fix: coverage path
  .github/workflows/generate-allure-report.yml
Owners: none

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
