Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

fix: rename target
  catalyst-gateway/tests/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: typo
  catalyst-gateway/bin/src/event_db/queries/event/mod.rs
  catalyst-gateway/bin/src/event_db/queries/event/proposal.rs
  catalyst-gateway/bin/src/event_db/queries/registration.rs
  catalyst-gateway/bin/src/event_db/queries/search.rs
  catalyst-gateway/bin/src/event_db/queries/vit_ss/fund.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: remove rust version
  catalyst-gateway/Cargo.toml
  catalyst-gateway/tests/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add schematesis target
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/cat-gateway.json
  catalyst-gateway/tests/cat-gateway.log
  catalyst-gateway/tests/keeper.json
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: remove unnecessary arg
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: health live response
  catalyst-gateway/tests/integration/catalyst_gateway_event_db.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

test: add ignore to integration test
  catalyst-gateway/tests/integration/catalyst_gateway_event_db.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

style: format code
  catalyst-gateway/tests/integration/catalyst_gateway_event_db.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: update poems (#220)
  .config/dictionaries/project.dic
  catalyst-gateway/.cargo/config.toml
  catalyst-gateway/.config/nextest.toml
  catalyst-gateway/Cargo.lock
  catalyst-gateway/Cargo.toml
  catalyst-gateway/Earthfile
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/event_db/error.rs
  catalyst-gateway/bin/src/event_db/queries/event/ballot.rs
  catalyst-gateway/bin/src/event_db/queries/event/mod.rs
  catalyst-gateway/bin/src/event_db/queries/event/proposal.rs
  catalyst-gateway/bin/src/event_db/queries/registration.rs
  catalyst-gateway/bin/src/event_db/queries/search.rs
  catalyst-gateway/bin/src/event_db/queries/vit_ss/fund.rs
  catalyst-gateway/bin/src/event_db/types/registration.rs
  catalyst-gateway/bin/src/event_db/types/vit_ss/challenge.rs
  catalyst-gateway/bin/src/event_db/types/vit_ss/fund.rs
  catalyst-gateway/bin/src/event_db/types/vit_ss/goal.rs
  catalyst-gateway/bin/src/event_db/types/vit_ss/group.rs
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/service/common/objects/voter_registration.rs
  catalyst-gateway/bin/src/service/utilities/middleware/tracing_mw.rs
  catalyst-gateway/deny.toml
  catalyst-gateway/rust-toolchain.toml
  catalyst-gateway/tests/Cargo.toml
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/integration/catalyst_gateway_event_db.rs
  catalyst-gateway/tests/integration/main.rs
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Update README.md
  catalyst_voices/README.md
Owners: @minikin

feat fuzzer target test
  catalyst-gateway/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/cat-gateway.log
  catalyst-gateway/tests/keeper.json
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: update spectral rules
  catalyst-gateway/.spectral.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: refactor schemathesis target
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/cat-gateway.json
  catalyst-gateway/tests/integration/docker-compose.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add fe params and refactor
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: update spell dic
  .config/dictionaries/project.dic
Owners: none

fix: schema version
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: blankline
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: remove no-cache flag
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add Schemathesis openapi fuzzer (#226)
  .config/dictionaries/project.dic
  catalyst-gateway/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/integration/docker-compose.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add platform detection
  catalyst_voices/lib/configs/bootstrap.dart
  catalyst_voices/lib/routes/app_router.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform/catalyst_platform.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform/io_platform.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform/platform_interface.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform/platform_type.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform/stub_platform.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform/web_platform.dart
Owners: @minikin

test(ignore): wip align branches
  catalyst-gateway/Cargo.lock
  catalyst-gateway/Cargo.toml
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/README.md
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/event_db/error.rs
  catalyst-gateway/bin/src/event_db/queries/event/config.rs
  catalyst-gateway/bin/src/event_db/queries/event/follower.rs
  catalyst-gateway/bin/src/event_db/queries/event/mod.rs
  catalyst-gateway/bin/src/event_db/queries/mod.rs
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/bin/src/main.rs
  catalyst-gateway/event-db/migrations/V1__config_tables.sql
  catalyst-gateway/event-db/migrations/V6__registration.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

update CatalystPlatform for web
  catalyst_voices/ios/Flutter/AppFrameworkInfo.plist
  catalyst_voices/ios/Podfile.lock
  catalyst_voices/lib/configs/bootstrap.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform/io_platform.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform/platform_interface.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform/stub_platform.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform/web_platform.dart
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
Owners: @minikin

feat: add 400 response
  catalyst-gateway/bin/src/service/api/health/live_get.rs
  catalyst-gateway/bin/src/service/api/health/ready_get.rs
  catalyst-gateway/bin/src/service/api/health/started_get.rs
  catalyst-gateway/bin/src/service/api/registration/mod.rs
  catalyst-gateway/bin/src/service/api/test_endpoints/test_get.rs
  catalyst-gateway/bin/src/service/api/test_endpoints/test_post.rs
  catalyst-gateway/bin/src/service/api/v0/plans_get.rs
  catalyst-gateway/bin/src/service/api/v1/account_votes_get.rs
  catalyst-gateway/bin/src/service/api/v1/fragments_post.rs
  catalyst-gateway/bin/src/service/api/v1/fragments_statuses.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: add validator and fix desc
  catalyst-gateway/bin/src/event_db/types/ballot.rs
  catalyst-gateway/bin/src/service/api/test_endpoints/mod.rs
  catalyst-gateway/bin/src/service/api/v0/mod.rs
  catalyst-gateway/bin/src/service/api/v1/mod.rs
  catalyst-gateway/bin/src/service/common/objects/account_votes.rs
  catalyst-gateway/bin/src/service/common/objects/block.rs
  catalyst-gateway/bin/src/service/common/objects/delegate_public_key.rs
  catalyst-gateway/bin/src/service/common/objects/fragment_status.rs
  catalyst-gateway/bin/src/service/common/objects/fragments_batch.rs
  catalyst-gateway/bin/src/service/common/objects/fragments_processing_summary.rs
  catalyst-gateway/bin/src/service/common/objects/vote_plan.rs
  catalyst-gateway/bin/src/service/common/objects/voter_info.rs
  catalyst-gateway/bin/src/service/common/responses/resp_2xx.rs
  catalyst-gateway/bin/src/service/common/responses/resp_5xx.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: remove deployment_token
  .github/workflows/ci.yml
  catalyst-gateway/tests/cat-gateway.log
  catalyst-gateway/tests/junit-report.xml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: remove leftover files
  catalyst-gateway/tests/cat-gateway.log
  catalyst-gateway/tests/junit-report.xml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: validator openapi
  catalyst-gateway/bin/src/service/api/registration/mod.rs
  catalyst-gateway/bin/src/service/common/responses/resp_5xx.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: remove deployment_token (#228)
  .github/workflows/ci.yml
Owners: none

fix: remove Option
  catalyst-gateway/bin/src/service/api/test_endpoints/mod.rs
  catalyst-gateway/bin/src/service/api/test_endpoints/test_get.rs
  catalyst-gateway/bin/src/service/api/test_endpoints/test_post.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: import path
  catalyst-gateway/bin/src/service/api/v1/account_votes_get.rs
  catalyst-gateway/bin/src/service/api/v1/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: type and validator
  catalyst-gateway/bin/src/service/api/v1/fragments_statuses.rs
  catalyst-gateway/bin/src/service/api/v1/mod.rs
  catalyst-gateway/bin/src/service/common/objects/account_votes.rs
  catalyst-gateway/bin/src/service/common/objects/fragments_processing_summary.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: add validator
  catalyst-gateway/bin/src/service/api/v1/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: update spectral rules
  catalyst-gateway/.spectral.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: format
  catalyst-gateway/bin/src/service/api/health/ready_get.rs
  catalyst-gateway/bin/src/service/api/v0/mod.rs
  catalyst-gateway/bin/src/service/api/v0/plans_get.rs
  catalyst-gateway/bin/src/service/api/v1/account_votes_get.rs
  catalyst-gateway/bin/src/service/common/objects/fragment_status.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

update CatalystPlatform
  catalyst_voices/lib/configs/bootstrap.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform/io_platform.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform/platform_interface.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform/platform_type.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform/stub_platform.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform/web_platform.dart
Owners: @minikin

chore: add ref to the rule
  catalyst-gateway/.spectral.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: cargo lint
  catalyst-gateway/bin/src/service/api/test_endpoints/test_post.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: flutter, dart bump, fix crash
  catalyst_voices/ios/Flutter/AppFrameworkInfo.plist
  catalyst_voices/ios/Podfile.lock
  catalyst_voices/lib/app/view/app_content.dart
  catalyst_voices/packages/catalyst_voices_assets/example/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_assets/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_es.arb
  catalyst_voices/packages/catalyst_voices_localization/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_repositories/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_view_models/pubspec.yaml
  catalyst_voices/pubspec.yaml
  melos.yaml
  pubspec.yaml
Owners: @minikin

update Spanish localization
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_es.arb
Owners: @minikin

chore: update catalyst-ci version
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin
