Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: Keychain creation Instructions stage
  catalyst_voices/lib/pages/account/creation/create_keychain/create_keychain_dialog.dart
  catalyst_voices/lib/pages/account/creation/create_keychain/stage/instructions_panel.dart
  catalyst_voices/lib/pages/account/creation/create_keychain/stage/splash_panel.dart
  catalyst_voices/lib/pages/account/creation/create_keychain/stage/stages.dart
  catalyst_voices/lib/widgets/buttons/voices_buttons.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

refactor: introduce master AccountSetupDialog
  catalyst_voices/lib/pages/account/creation/create_keychain/create_keychain_controller.dart
  catalyst_voices/lib/pages/account/setup/account_setup_dialog.dart
  catalyst_voices/lib/pages/account/setup/create_keychain/create_keychain_dialog.dart
  catalyst_voices/lib/pages/account/setup/create_keychain/create_keychain_stage.dart
  catalyst_voices/lib/pages/account/setup/create_keychain/stage/instructions_panel.dart
  catalyst_voices/lib/pages/account/setup/create_keychain/stage/splash_panel.dart
  catalyst_voices/lib/pages/account/setup/create_keychain/stage/stages.dart
  catalyst_voices/lib/pages/account/setup/get_started/account_create_dialog.dart
  catalyst_voices/lib/pages/account/setup/information_panel.dart
  catalyst_voices/lib/pages/account/setup/link_wallet/intro/link_wallet_intro_dialog.dart
  catalyst_voices/lib/pages/account/setup/link_wallet/link_wallet_dialog.dart
  catalyst_voices/lib/pages/account/setup/link_wallet/link_wallet_stage.dart
  catalyst_voices/lib/pages/account/setup/link_wallet/select_wallet/select_wallet_dialog.dart
  catalyst_voices/lib/pages/account/setup/task_picture.dart
  catalyst_voices/lib/pages/spaces/spaces_shell_page.dart
Owners: @minikin

refactor: move link-wallet to another folder
  catalyst_voices/lib/pages/registration/link_wallet/intro/link_wallet_intro_dialog.dart
  catalyst_voices/lib/pages/registration/link_wallet/link_wallet_dialog.dart
  catalyst_voices/lib/pages/registration/link_wallet/link_wallet_stage.dart
  catalyst_voices/lib/pages/registration/link_wallet/select_wallet/select_wallet_dialog.dart
Owners: @minikin

feat(cat-gateway): Autogenerate the cassandra schema version and add schema sync progress table
  .config/dictionaries/project.dic
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/cardano/util.rs
  catalyst-gateway/bin/src/db/index/schema/cql/sync_status.cql
  catalyst-gateway/bin/src/db/index/schema/mod.rs
  catalyst-gateway/bin/src/main.rs
  catalyst-gateway/bin/src/service/api/cardano/types.rs
  catalyst-gateway/bin/src/service/utilities/middleware/tracing_mw.rs
  catalyst-gateway/bin/src/settings/mod.rs
  catalyst-gateway/bin/src/utilities/blake2b_hash.rs
  catalyst-gateway/bin/src/utilities/mod.rs
  catalyst-gateway/rust-toolchain.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(cat-gateway): Bump rust library dependency versions
  catalyst-gateway/bin/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor: unified RegistrationDialog
  catalyst_voices/lib/dependency/dependencies.dart
  catalyst_voices/lib/pages/account/setup/account_setup_dialog.dart
  catalyst_voices/lib/pages/account/setup/create_keychain/create_keychain_dialog.dart
  catalyst_voices/lib/pages/account/setup/link_wallet/intro/link_wallet_intro_dialog.dart
  catalyst_voices/lib/pages/account/setup/link_wallet/link_wallet_dialog.dart
  catalyst_voices/lib/pages/account/setup/link_wallet/select_wallet/select_wallet_dialog.dart
  catalyst_voices/lib/pages/registration/create_keychain/create_keychain_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/instructions_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/splash_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/stages.dart
  catalyst_voices/lib/pages/registration/get_started/get_started_panel.dart
  catalyst_voices/lib/pages/registration/information_panel.dart
  catalyst_voices/lib/pages/registration/link_wallet/intro/intro_panel.dart
  catalyst_voices/lib/pages/registration/link_wallet/select_wallet/select_wallet_panel.dart
  catalyst_voices/lib/pages/registration/link_wallet/wallet_link_panel.dart
  catalyst_voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
  catalyst_voices/lib/pages/registration/task_picture.dart
  catalyst_voices/lib/pages/spaces/spaces_shell_page.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/catalyst_voices_blocs.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/controllers/keychain_creation_controller.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/controllers/wallet_link_controller.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_bloc.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_event.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_navigator.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_state.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/registration/create_account_type.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/registration/create_keychain_stage.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/registration/registration.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/registration/wallet_link_stage.dart
Owners: @minikin

fix: use body in _HeaderStrings
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
Owners: @minikin

feat(cat-voices): registration dialog structure (#886)
  catalyst_voices/lib/dependency/dependencies.dart
  catalyst_voices/lib/pages/registration/create_keychain/create_keychain_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/instructions_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/splash_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/stages.dart
  catalyst_voices/lib/pages/registration/get_started/get_started_panel.dart
  catalyst_voices/lib/pages/registration/information_panel.dart
  catalyst_voices/lib/pages/registration/link_wallet/intro/intro_panel.dart
  catalyst_voices/lib/pages/registration/link_wallet/intro/link_wallet_intro_dialog.dart
  catalyst_voices/lib/pages/registration/link_wallet/link_wallet_dialog.dart
  catalyst_voices/lib/pages/registration/link_wallet/select_wallet/select_wallet_dialog.dart
  catalyst_voices/lib/pages/registration/link_wallet/select_wallet/select_wallet_panel.dart
  catalyst_voices/lib/pages/registration/link_wallet/wallet_link_panel.dart
  catalyst_voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
  catalyst_voices/lib/pages/registration/task_picture.dart
  catalyst_voices/lib/pages/spaces/spaces_shell_page.dart
  catalyst_voices/lib/widgets/buttons/voices_buttons.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/catalyst_voices_blocs.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/controllers/keychain_creation_controller.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/controllers/wallet_link_controller.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_bloc.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_event.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_navigator.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_state.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/registration/create_account_type.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/registration/create_keychain_stage.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/registration/registration.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/registration/wallet_link_stage.dart
Owners: @minikin

feat: add content
  catalyst_voices/lib/pages/registration/link_wallet/link_wallet_dialog.dart
  catalyst_voices/lib/pages/registration/link_wallet/select_wallet/select_wallet_dialog.dart
  catalyst_voices/lib/pages/voting/voting_page.dart
Owners: @minikin

fix(cat-gateway): Make cassandra namespace compliant.
  catalyst-gateway/bin/src/db/index/schema/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: restore earthfile
  catalyst_voices/test_driver/Earthfile
Owners: @minikin

feat: define the rest of stages for wallet link
  catalyst_voices/lib/pages/registration/link_wallet/select_wallet/select_wallet_panel.dart
  catalyst_voices/lib/pages/registration/link_wallet/wallet_link_panel.dart
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/controllers/wallet_link_controller.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/registration/wallet_link_stage.dart
Owners: @minikin

feat: add missing panels
  catalyst_voices/lib/pages/registration/link_wallet/rbac_transaction/rbac_transaction_panel.dart
  catalyst_voices/lib/pages/registration/link_wallet/roles_chooser/roles_chooser_panel.dart
  catalyst_voices/lib/pages/registration/link_wallet/roles_summary/roles_summary_panel.dart
  catalyst_voices/lib/pages/registration/link_wallet/wallet_details/wallet_details_panel.dart
  catalyst_voices/lib/pages/registration/link_wallet/wallet_link_panel.dart
Owners: @minikin

refactor: rename folder
  catalyst_voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/lib/pages/registration/wallet_link/intro/intro_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/rbac_transaction/rbac_transaction_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/roles_chooser/roles_chooser_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/roles_summary/roles_summary_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/select_wallet/select_wallet_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/wallet_details/wallet_details_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/wallet_link_panel.dart
Owners: @minikin

chore: sort imports
  catalyst_voices/lib/pages/registration/registration_dialog.dart
Owners: @minikin

chore: reformat
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
Owners: @minikin

feat: My account, modals
  catalyst_voices/lib/pages/account/account_page.dart
  catalyst_voices/lib/pages/account/delete_keychain_dialog.dart
  catalyst_voices/lib/widgets/buttons/voices_filled_button.dart
  catalyst_voices/lib/widgets/modals/voices_desktop_dialog.dart
  catalyst_voices/lib/widgets/text_field/voices_text_field.dart
Owners: @minikin

feat(cat-voices): define wallet link flow (#892)
  catalyst_voices/lib/pages/registration/link_wallet/select_wallet/select_wallet_panel.dart
  catalyst_voices/lib/pages/registration/link_wallet/wallet_link_panel.dart
  catalyst_voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/intro/intro_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/rbac_transaction/rbac_transaction_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/roles_chooser/roles_chooser_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/roles_summary/roles_summary_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/select_wallet/select_wallet_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/wallet_details/wallet_details_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/wallet_link_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/controllers/wallet_link_controller.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/registration/wallet_link_stage.dart
Owners: @minikin

refactor(cat-gateway): rename utilities to utils
  catalyst-gateway/bin/src/db/index/schema/mod.rs
  catalyst-gateway/bin/src/main.rs
  catalyst-gateway/bin/src/service/api/cardano/types.rs
  catalyst-gateway/bin/src/service/utilities/middleware/tracing_mw.rs
  catalyst-gateway/bin/src/settings/mod.rs
  catalyst-gateway/bin/src/utils/blake2b_hash.rs
  catalyst-gateway/bin/src/utils/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: My account, modals, background and border
  catalyst_voices/lib/pages/account/delete_keychain_dialog.dart
  catalyst_voices/lib/widgets/modals/voices_desktop_dialog.dart
Owners: @minikin

feat: My account, modals, add seedphrase to project.dic
  .config/dictionaries/project.dic
Owners: none

feat: My account, modals, keychain_deleted_dialog.dart
  catalyst_voices/lib/pages/account/account_page.dart
  catalyst_voices/lib/pages/account/delete_keychain_dialog.dart
  catalyst_voices/lib/pages/account/keychain_deleted_dialog.dart
Owners: @minikin

feat(cat-gateway): add table schemas for chain root indexing.
  catalyst-gateway/bin/src/db/index/schema/cql/chain_root_for_role0_key.cql
  catalyst-gateway/bin/src/db/index/schema/cql/chain_root_for_stake_addr.cql
  catalyst-gateway/bin/src/db/index/schema/cql/chain_root_for_txn_id.cql
  catalyst-gateway/bin/src/db/index/schema/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: step progress + seed phrase picture
  catalyst_voices/lib/pages/registration/information_panel.dart
  catalyst_voices/lib/pages/registration/pictures/keychain_picture.dart
  catalyst_voices/lib/pages/registration/pictures/seed_phrase_picture.dart
  catalyst_voices/lib/pages/registration/pictures/task_picture.dart
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_state.dart
Owners: @minikin

feat: add translations
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

chore: add wallet dependencies
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
Owners: @minikin

feat: add generic error indicator
  catalyst_voices/lib/widgets/indicators/voices_error_indicator.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/uikit_example/lib/examples/voices_indicators_example.dart
Owners: @minikin

feat(cat-gateway): prepare queries for chain root indexing
  catalyst-gateway/bin/src/db/index/block/rbac509/cql/insert_chain_root_for_role0_key.cql
  catalyst-gateway/bin/src/db/index/block/rbac509/cql/insert_chain_root_for_stake_address.cql
  catalyst-gateway/bin/src/db/index/block/rbac509/cql/insert_chain_root_for_txn_id.cql
  catalyst-gateway/bin/src/db/index/block/rbac509/insert_rbac509.rs
  catalyst-gateway/bin/src/db/index/block/rbac509/mod.rs
  catalyst-gateway/bin/src/db/index/queries/mod.rs
  catalyst-gateway/bin/src/db/index/schema/cql/chain_root_for_role0_key.cql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add voices future builder
  catalyst_voices/lib/widgets/common/infrastructure/voices_future_builder.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/test/widgets/common/infrastructure/voices_future_builder_test.dart
Owners: @minikin

feat: update select wallet panel content
  catalyst_voices/lib/pages/registration/wallet_link/select_wallet/select_wallet_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/controllers/wallet_link_controller.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_bloc.dart
  catalyst_voices/test/widgets/indicators/voices_status_indicator_test.dart
Owners: @minikin

fix: error builder alignment
  catalyst_voices/lib/pages/registration/wallet_link/select_wallet/select_wallet_panel.dart
  catalyst_voices/lib/widgets/indicators/voices_error_indicator.dart
Owners: @minikin

refactor: remove unused inheritance
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/controllers/wallet_link_controller.dart
Owners: @minikin

feat: add empty state
  catalyst_voices/lib/pages/registration/wallet_link/select_wallet/select_wallet_panel.dart
  catalyst_voices/lib/widgets/common/infrastructure/voices_future_builder.dart
  catalyst_voices/test/widgets/common/infrastructure/voices_future_builder_test.dart
Owners: @minikin

fix: padding
  catalyst_voices/lib/widgets/indicators/voices_error_indicator.dart
Owners: @minikin

fix: unwanted rebuilds
  catalyst_voices/lib/pages/registration/wallet_link/select_wallet/select_wallet_panel.dart
Owners: @minikin

refactor: resign from future builder in favor of value listenable
  catalyst_voices/lib/pages/registration/wallet_link/select_wallet/select_wallet_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/controllers/wallet_link_controller.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_bloc.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/catalyst_voices_view_models.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/wallet/available_cardano_wallets.dart
  catalyst_voices/packages/catalyst_voices_view_models/pubspec.yaml
Owners: @minikin

feat: improve loading
  catalyst_voices/lib/widgets/common/infrastructure/voices_future_builder.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/controllers/wallet_link_controller.dart
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/utils/future_ext.dart
Owners: @minikin

feat: My account, modals, correct logic
  catalyst_voices/lib/pages/account/account_page.dart
  catalyst_voices/lib/pages/account/delete_keychain_dialog.dart
Owners: @minikin

ci(general): locks version and updates events
  .github/workflows/ci.yml
Owners: none

wip: adds missing permission
  .github/workflows/ci.yml
Owners: none

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
