Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

chore: remove redundant imports
  catalyst_voices/uikit_example/lib/examples/treasury_space/voices_treasury_space.dart
  catalyst_voices/uikit_example/lib/examples/voices_navigation_example.dart
  catalyst_voices/uikit_example/lib/examples/voices_spaces_example.dart
Owners: @minikin

feat: add user profile bloc (#763)
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/catalyst_voices_blocs.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_bloc.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_event.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_state.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/user_profile/user_profile.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/user_profile/user_profile_bloc.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/user_profile/user_profile_event.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/user_profile/user_profile_state.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/user/user.dart
  catalyst_voices/uikit_example/lib/examples/voices_spaces_example.dart
  catalyst_voices/uikit_example/lib/main.dart
  catalyst_voices/uikit_example/lib/widgets/session_header.dart
  catalyst_voices/uikit_example/lib/widgets/user_header.dart
Owners: @minikin

feat: VoicesRichText - Damian's feedback part 1
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
Owners: @minikin

feat: VoicesRichText - Damian's feedback part 2
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
Owners: @minikin

refactor(backend-lib): Remove c509-certificate because its moved to catalyst-libs
  catalyst-gateway-crates/c509-certificate/.cargo/config.toml
  catalyst-gateway-crates/c509-certificate/.config/nextest.toml
  catalyst-gateway-crates/c509-certificate/.gitignore
  catalyst-gateway-crates/c509-certificate/Cargo.toml
  catalyst-gateway-crates/c509-certificate/Earthfile
  catalyst-gateway-crates/c509-certificate/clippy.toml
  catalyst-gateway-crates/c509-certificate/deny.toml
  catalyst-gateway-crates/c509-certificate/examples/cli/data/cert_sample_1.json
  catalyst-gateway-crates/c509-certificate/examples/cli/main.rs
  catalyst-gateway-crates/c509-certificate/examples/web/index.html
  catalyst-gateway-crates/c509-certificate/examples/web/index.js
  catalyst-gateway-crates/c509-certificate/rust-toolchain.toml
  catalyst-gateway-crates/c509-certificate/rustfmt.toml
  catalyst-gateway-crates/c509-certificate/src/c509.rs
  catalyst-gateway-crates/c509-certificate/src/c509_algo_identifier.rs
  catalyst-gateway-crates/c509-certificate/src/c509_attributes/attribute.rs
  catalyst-gateway-crates/c509-certificate/src/c509_attributes/data.rs
  catalyst-gateway-crates/c509-certificate/src/c509_attributes/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_big_uint.rs
  catalyst-gateway-crates/c509-certificate/src/c509_extensions/alt_name.rs
  catalyst-gateway-crates/c509-certificate/src/c509_extensions/extension/data.rs
  catalyst-gateway-crates/c509-certificate/src/c509_extensions/extension/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_extensions/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_general_names/data.rs
  catalyst-gateway-crates/c509-certificate/src/c509_general_names/general_name.rs
  catalyst-gateway-crates/c509-certificate/src/c509_general_names/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_general_names/other_name_hw_module.rs
  catalyst-gateway-crates/c509-certificate/src/c509_issuer_sig_algo/data.rs
  catalyst-gateway-crates/c509-certificate/src/c509_issuer_sig_algo/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_name/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_name/rdn.rs
  catalyst-gateway-crates/c509-certificate/src/c509_oid.rs
  catalyst-gateway-crates/c509-certificate/src/c509_subject_pub_key_algo/data.rs
  catalyst-gateway-crates/c509-certificate/src/c509_subject_pub_key_algo/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_time.rs
  catalyst-gateway-crates/c509-certificate/src/lib.rs
  catalyst-gateway-crates/c509-certificate/src/signing.rs
  catalyst-gateway-crates/c509-certificate/src/tables.rs
  catalyst-gateway-crates/c509-certificate/src/tbs_cert.rs
  catalyst-gateway-crates/c509-certificate/src/wasm_binding.rs
Owners: none

fix: update test plan
  docs/src/architecture/10_quality/testplans/flutter_cardano_integration.md
Owners: none

feat: rich text (#724)
  catalyst_voices/lib/widgets/common/resizable_box_parent.dart
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
  catalyst_voices/lib/widgets/text_field/voices_text_field.dart
  catalyst_voices/packages/catalyst_voices_assets/internal_resources/fonts/CatalystVoicesIcons.ttf
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_voices_icons.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/pubspec.yaml
  catalyst_voices/test/widgets/rich_text/voices_rich_text_test.dart
  catalyst_voices/uikit_example/lib/examples/voices_rich_text_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
  catalyst_voices/uikit_example/pubspec.yaml
  catalyst_voices/uikit_example/web/index.html
  melos.yaml
Owners: @minikin

feat: image caching
  catalyst_voices/lib/app/view/app_content.dart
  catalyst_voices/lib/app/view/app_precache_image_assets.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/assets_ext.dart
Owners: @minikin

fix: Review adjustments
  catalyst_voices/lib/configs/bootstrap.dart
  catalyst_voices/lib/routes/guards/milestone_guard.dart
Owners: @minikin

chore: docs
  catalyst_voices/lib/app/view/app_precache_image_assets.dart
Owners: @minikin

chore: add known words
  .config/dictionaries/project.dic
Owners: none

fix(backend): Remove dependencies from Workspace, and move into project
  catalyst-gateway/Cargo.toml
  catalyst-gateway/bin/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(backend): Use temporary cat-ci branch for rust builders
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(backend): Remove obsolete common crates subdirectory
  catalyst-gateway/crates/README.md
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(backend): Don't use pre-packaged mithril snapshots in integration tests
  catalyst-gateway/tests/api_tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(backend): Fix code so it builds with latest chain follower code.
  catalyst-gateway/bin/src/cardano/util.rs
  catalyst-gateway/bin/src/db/index/block.rs
  catalyst-gateway/bin/src/db/index/index_certs.rs
  catalyst-gateway/bin/src/db/index/index_txi.rs
  catalyst-gateway/bin/src/db/index/schema.rs
  catalyst-gateway/bin/src/service/utilities/convert.rs
  catalyst-gateway/bin/src/service/utilities/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: wip
  catalyst_voices/lib/app/view/app_content.dart
  catalyst_voices/lib/pages/treasury/campaign_builder_panel.dart
  catalyst_voices/lib/pages/treasury/campaign_comments_panel.dart
  catalyst_voices/lib/pages/treasury/campaign_details.dart
  catalyst_voices/lib/pages/treasury/treasury_page.dart
  catalyst_voices/lib/widgets/menu/voices_node_menu.dart
  catalyst_voices/uikit_example/lib/examples/treasury_space/voices_treasury_drawer.dart
  catalyst_voices/uikit_example/lib/examples/treasury_space/voices_treasury_space.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

feat: allow m4 subpages in voices
  catalyst_voices/nginx.conf
Owners: @minikin

feat: add vmware_fusion
  utilities/local-cluster/Vagrantfile
  utilities/local-cluster/justfile
Owners: none

chore: restore local_path_provisioner_script
  utilities/local-cluster/Vagrantfile
Owners: none

Update Vagrantfile
  utilities/local-cluster/Vagrantfile
Owners: none

Update Vagrantfile
  utilities/local-cluster/Vagrantfile
Owners: none

Update Vagrantfile
  utilities/local-cluster/Vagrantfile
Owners: none

Update Vagrantfile
  utilities/local-cluster/Vagrantfile
Owners: none

feat: add funded proposal card
  .config/dictionaries/project.dic
  catalyst_voices/lib/widgets/cards/funded_proposal_card.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/macos/Flutter/GeneratedPluginRegistrant.swift
  catalyst_voices/packages/catalyst_voices_assets/assets/colors/colors.xml
  catalyst_voices/packages/catalyst_voices_assets/assets/images/proposal_background_1.webp
  catalyst_voices/packages/catalyst_voices_assets/assets/images/proposal_background_2.webp
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/assets.gen.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/colors.gen.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/theme_extensions/voices_color_scheme.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/proposal/funded_proposal.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/proposal/pending_proposal.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/proposal/proposal_status.dart
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/lib/catalyst_voices_shared.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/formatter/cryptocurrency_formatter.dart
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/test/src/formatter/cryptocurrency_formatter_test.dart
  catalyst_voices/uikit_example/lib/examples/voices_proposal_card_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/types.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/types_test.dart
Owners: @minikin, @stevenj

chore: don't check spelling in GeneratedPluginRegistrant.swift
  cspell.json
Owners: none

add first part of the crypto spec
  docs/src/architecture/08_concepts/voting_transaction/.pages
  docs/src/architecture/08_concepts/voting_transaction/crypto.md
  docs/src/architecture/08_concepts/voting_transaction/transaction.md
  docs/src/architecture/08_concepts/voting_transaction/tx_v1.abnf
Owners: none

docs: fix
  catalyst_voices/packages/catalyst_voices_shared/lib/src/formatter/cryptocurrency_formatter.dart
Owners: @minikin

chore(general): update docs
  .config/dictionaries/project.dic
  utilities/local-cluster/Readme.md
  utilities/local-cluster/Vagrantfile
Owners: none

feat: Workspace - fundamentals
  catalyst_voices/lib/widgets/common/proposal_status_container.dart
  catalyst_voices/lib/widgets/common/proposal_status_indicator.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/proposal_status.dart
  catalyst_voices/uikit_example/lib/examples/workspace/proposal_details.dart
  catalyst_voices/uikit_example/lib/examples/workspace/proposal_navigation_panel.dart
  catalyst_voices/uikit_example/lib/examples/workspace/proposal_setup_panel.dart
  catalyst_voices/uikit_example/lib/examples/workspace/voices_workspace.dart
  catalyst_voices/uikit_example/lib/examples/workspace/voices_workspace_drawer.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

refactor: review feedback
  catalyst_voices/lib/widgets/cards/funded_proposal_card.dart
Owners: @minikin

feat: allow m4 subpages in voices (#770)
  catalyst_voices/nginx.conf
Owners: @minikin

Update Vagrantfile
  utilities/local-cluster/Vagrantfile
Owners: none

fix(cat-voices-fronted): dart warnings
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
Owners: @minikin

Update voices_rich_text.dart
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
Owners: @minikin

chore: disable dummy integration tests
  catalyst_voices/integration_test/main.dart
Owners: @minikin

chore: fix formating
  catalyst_voices/integration_test/main.dart
Owners: @minikin

Update main.dart
  catalyst_voices/integration_test/main.dart
Owners: @minikin

chore: discard dummy integration test changes
  catalyst_voices/integration_test/main.dart
Owners: @minikin

Update Earthfile
  catalyst_voices/test_driver/Earthfile
Owners: @minikin
