Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore(release): publish packages (#583)
  .markdownlint-cli2.jsonc
  CHANGELOG.md
  catalyst_voices_packages/catalyst_analysis/CHANGELOG.md
  catalyst_voices_packages/catalyst_analysis/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano_serialization/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano_serialization/pubspec.yaml
Owners: @minikin, @stevenj

fix: remove unused crate
  catalyst-gateway-crates/c509-certificate/Cargo.toml
Owners: none

fix: gns encode and decode
  catalyst-gateway-crates/c509-certificate/src/c509_general_name.rs
Owners: none

fix: remove unused table
  catalyst-gateway-crates/c509-certificate/src/tables.rs
Owners: none

fix: oid lifetime to static
  catalyst-gateway-crates/c509-certificate/src/c509_extension.rs
  catalyst-gateway-crates/c509-certificate/src/c509_oid.rs
Owners: none

fix: create extensions mod
  catalyst-gateway-crates/c509-certificate/src/c509_extensions/mod.rs
  catalyst-gateway-crates/c509-certificate/src/lib.rs
Owners: none

fix: general name visibility
  catalyst-gateway-crates/c509-certificate/src/c509_general_name.rs
Owners: none

feat: add alt name
  catalyst-gateway-crates/c509-certificate/src/c509_extensions/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_extensions/subject_alt_name.rs
Owners: none

feat: add alternative name encode and decode
  catalyst-gateway-crates/c509-certificate/src/c509_extensions/alt_name.rs
Owners: none

fix: minor fixes + cleanup
  catalyst-gateway-crates/c509-certificate/src/c509_extensions/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_general_name.rs
  catalyst-gateway-crates/c509-certificate/src/c509_oid.rs
  catalyst-gateway-crates/c509-certificate/src/tables.rs
Owners: none

chore: use super in test
  catalyst-gateway-crates/c509-certificate/src/c509_oid.rs
Owners: none

fix: remove unused ctx type C
  catalyst-gateway-crates/c509-certificate/src/c509_extensions/alt_name.rs
  catalyst-gateway-crates/c509-certificate/src/c509_extensions/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_general_name.rs
  catalyst-gateway-crates/c509-certificate/src/c509_oid.rs
Owners: none

fix: readme versioning for catalyst packages
  catalyst_voices/pubspec.yaml
  catalyst_voices_packages/catalyst_analysis/README.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/README.md
  catalyst_voices_packages/catalyst_cardano_serialization/README.md
Owners: @minikin, @stevenj

fix: readme versioning for catalyst packages (#585)
  catalyst_voices/pubspec.yaml
  catalyst_voices_packages/catalyst_analysis/README.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/README.md
  catalyst_voices_packages/catalyst_cardano_serialization/README.md
Owners: @minikin, @stevenj

chore(release): publish packages
  CHANGELOG.md
  catalyst_voices_packages/catalyst_analysis/CHANGELOG.md
  catalyst_voices_packages/catalyst_analysis/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano_serialization/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano_serialization/pubspec.yaml
Owners: @minikin, @stevenj

chore(release): publish packages (#586)
  CHANGELOG.md
  catalyst_voices_packages/catalyst_analysis/CHANGELOG.md
  catalyst_voices_packages/catalyst_analysis/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano_serialization/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano_serialization/pubspec.yaml
Owners: @minikin, @stevenj

fix: issues on pub.dev lowering the package scores
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/example/main.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/example/main.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano_serialization/pubspec.yaml
  melos.yaml
Owners: @minikin, @stevenj

feat: initial commit
  docs/src/architecture/10_quality/testplans/flutter_cardano_integration.md
  poc_integration_tests/example/.gitignore
  poc_integration_tests/example/.metadata
  poc_integration_tests/example/README.md
  poc_integration_tests/example/analysis_options.yaml
  poc_integration_tests/example/lib/main.dart
  poc_integration_tests/example/pubspec.yaml
  poc_integration_tests/example/web/favicon.png
  poc_integration_tests/example/web/icons/Icon-192.png
  poc_integration_tests/example/web/icons/Icon-512.png
  poc_integration_tests/example/web/icons/Icon-maskable-192.png
  poc_integration_tests/example/web/icons/Icon-maskable-512.png
  poc_integration_tests/example/web/index.html
  poc_integration_tests/example/web/manifest.json
Owners: none

fix(wip): extensions
  catalyst-gateway-crates/c509-certificate/src/c509_extensions/mod.rs
Owners: none

feat: add strum crate
  catalyst-gateway-crates/c509-certificate/Cargo.toml
Owners: none

fix: tables
  catalyst-gateway-crates/c509-certificate/src/tables.rs
Owners: none

fix: extensions
  catalyst-gateway-crates/c509-certificate/src/c509_extensions/mod.rs
Owners: none

fix: missing chromium version
  catalyst_voices/Earthfile
Owners: @minikin

fix: missing chromium version
  catalyst_voices/uikit_example/Earthfile
Owners: @minikin

fix: missing chromium version (#587)
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
Owners: @minikin

fix: general name
  catalyst-gateway-crates/c509-certificate/src/c509_general_name.rs
Owners: none

fix: table
  catalyst-gateway-crates/c509-certificate/src/tables.rs
Owners: none

fix: alt name
  catalyst-gateway-crates/c509-certificate/src/c509_extensions/alt_name.rs
Owners: none

fix: extensions
  catalyst-gateway-crates/c509-certificate/src/c509_extensions/mod.rs
Owners: none

fix: refactor
  catalyst-gateway-crates/c509-certificate/src/c509_extensions/alt_name.rs
  catalyst-gateway-crates/c509-certificate/src/c509_extensions/extension/data.rs
  catalyst-gateway-crates/c509-certificate/src/c509_extensions/extension/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_extensions/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_general_name.rs
  catalyst-gateway-crates/c509-certificate/src/c509_general_names/data.rs
  catalyst-gateway-crates/c509-certificate/src/c509_general_names/general_name.rs
  catalyst-gateway-crates/c509-certificate/src/c509_general_names/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_general_names/other_name_hw_module.rs
  catalyst-gateway-crates/c509-certificate/src/c509_oid.rs
  catalyst-gateway-crates/c509-certificate/src/lib.rs
  catalyst-gateway-crates/c509-certificate/src/tables.rs
Owners: none

feat(wip): add eid
  catalyst-gateway-crates/c509-certificate/src/c509_general_names/eid.rs
  catalyst-gateway-crates/c509-certificate/src/c509_general_names/mod.rs
Owners: none

chore: spelling
  .config/dictionaries/project.dic
  catalyst-gateway-crates/c509-certificate/src/c509_extensions/extension/data.rs
  catalyst-gateway-crates/c509-certificate/src/c509_extensions/extension/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_general_names/data.rs
  catalyst-gateway-crates/c509-certificate/src/lib.rs
Owners: none

chore: spelling
  catalyst-gateway-crates/c509-certificate/src/c509_general_names/eid.rs
Owners: none

chore: revert back to main
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.enums.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.g.dart
Owners: @minikin

chore: restore file in main
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.g.dart
Owners: @minikin

fix: update rust stdconfig and earthfile
  catalyst-gateway-crates/c509-certificate/Earthfile
  catalyst-gateway-crates/c509-certificate/deny.toml
Owners: none

fix: earthfile
  catalyst-gateway-crates/c509-certificate/Earthfile
Owners: none

fix: earthfile
  catalyst-gateway-crates/c509-certificate/Earthfile
Owners: none

fix: earthfile
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: wrong earthfile
  catalyst-gateway-crates/c509-certificate/Earthfile
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
