Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(ci): Everything except for scylladb seems to be basically working
  utilities/local-cluster/Earthfile
  utilities/local-cluster/Vagrantfile
  utilities/local-cluster/shared/extra.hosts
  utilities/local-cluster/shared/k3s/cassandra/k8c1.yml
  utilities/local-cluster/shared/k3s/cert-manager/self-signed-issuer.yaml
  utilities/local-cluster/shared/k3s/grafana-prometheus/alert-manager-ingress.yaml
  utilities/local-cluster/shared/k3s/grafana-prometheus/prometheus-ingress.yaml
  utilities/local-cluster/shared/k3s/grafana-prometheus/prometheus-values.yaml
  utilities/local-cluster/shared/k3s/longhorn/ingress.yaml
  utilities/local-cluster/shared/k3s/longhorn/storage-classes.yaml
  utilities/local-cluster/shared/k3s/registries.yaml
  utilities/local-cluster/shared/k3s/registry/registry-service.yaml
  utilities/local-cluster/shared/k3s/registry/registry-ui.yaml
  utilities/local-cluster/shared/k3s/scylladb/cluster.yaml
  utilities/local-cluster/shared/k3s/server/manifests/traefik-dashboard-helmconfig.yml
Owners: none

chore: remove unused query string files
  catalyst-gateway/bin/src/event_db/cardano/chain_state/insert_slot_index.sql
  catalyst-gateway/bin/src/event_db/cardano/cip36_registration/insert_cip36_registration.sql
  catalyst-gateway/bin/src/event_db/cardano/utxo/insert_txn_index.sql
  catalyst-gateway/bin/src/event_db/cardano/utxo/insert_utxo.sql
  catalyst-gateway/bin/src/event_db/cardano/utxo/update_utxo.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs: Add docs for `BrandAssets` and `VoicesColorScheme`.
  catalyst_voices/packages/catalyst_voices_brands/lib/src/theme_extensions/brand_assets.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/theme_extensions/voices_color_scheme.dart
Owners: @minikin

chore: clean logging and error handling
  catalyst-gateway/bin/src/cardano/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: add thiserror
  catalyst-gateway/Cargo.lock
  catalyst-gateway/crates/c509-certificate/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: cbor encode biguint and type name
  catalyst-gateway/crates/c509-certificate/src/c509_enum.rs
  catalyst-gateway/crates/c509-certificate/src/cbor.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: move test-fuzzer-api to new folder
  .github/workflows/generate-allure-report.yml
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/schemathesis_tests/.gitignore
  catalyst-gateway/tests/schemathesis_tests/Earthfile
  catalyst-gateway/tests/schemathesis_tests/hooks/hooks.py
  catalyst-gateway/tests/schemathesis_tests/schemathesis-docker-compose.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: uncomment code
  catalyst-gateway/tests/schemathesis_tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: cbor encode time
  catalyst-gateway/crates/c509-certificate/src/cbor.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: cleanup
  catalyst-gateway/crates/c509-certificate/src/c509_cert.rs
  catalyst-gateway/crates/c509-certificate/src/c509_enum.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: add oid crate
  catalyst-gateway/Cargo.lock
  catalyst-gateway/crates/c509-certificate/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add extensions
  catalyst-gateway/crates/c509-certificate/src/extensions/mod.rs
  catalyst-gateway/crates/c509-certificate/src/lib.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add alt name
  catalyst-gateway/crates/c509-certificate/src/extensions/alt_name.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: remove fixme
  catalyst-gateway/crates/c509-certificate/src/extensions/alt_name.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(ci): test cluster WIP
  utilities/local-cluster/Vagrantfile
  utilities/local-cluster/shared/k3s/scylladb/cluster.yaml
  utilities/local-cluster/shared/k3s/scylladb/values.cluster.yaml
  utilities/local-cluster/shared/k3s/scylladb/values.manager.yaml
  utilities/local-cluster/shared/k3s/scylladb/values.operator.yaml
  utilities/local-cluster/shared/k3s/server/manifests/traefik-dashboard-helmconfig.yml
Owners: none

chore: fix clippy
  catalyst-gateway/bin/src/event_db/cardano/cip36_registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: only print response data when its code is 200
  catalyst-gateway/tests/api_tests/api_tests/__init__.py
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: clean up c509 enum
  catalyst-gateway/crates/c509-certificate/src/c509_enum.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: rewrite cbor encoder
  catalyst-gateway/crates/c509-certificate/src/cbor.rs
  catalyst-gateway/crates/c509-certificate/src/cbor_encoder.rs
  catalyst-gateway/crates/c509-certificate/src/lib.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: move c509 crate folder
  catalyst-gateway-crates/c509-certificate/.cargo/config.toml
  catalyst-gateway-crates/c509-certificate/.config/nextest.toml
  catalyst-gateway-crates/c509-certificate/Cargo.toml
  catalyst-gateway-crates/c509-certificate/Earthfile
  catalyst-gateway-crates/c509-certificate/clippy.toml
  catalyst-gateway-crates/c509-certificate/deny.toml
  catalyst-gateway-crates/c509-certificate/index.html
  catalyst-gateway-crates/c509-certificate/rust-toolchain.toml
  catalyst-gateway-crates/c509-certificate/rustfmt.toml
  catalyst-gateway-crates/c509-certificate/src/c509_cert.rs
  catalyst-gateway-crates/c509-certificate/src/c509_enum.rs
  catalyst-gateway-crates/c509-certificate/src/cbor_encoder.rs
  catalyst-gateway-crates/c509-certificate/src/der.rs
  catalyst-gateway-crates/c509-certificate/src/extensions/alt_name.rs
  catalyst-gateway-crates/c509-certificate/src/extensions/mod.rs
  catalyst-gateway-crates/c509-certificate/src/lib.rs
  catalyst-gateway/Cargo.lock
  catalyst-gateway/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: update max-response-time
  catalyst-gateway/tests/schemathesis_tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: syntax
  catalyst-gateway/tests/schemathesis_tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add gitignore
  catalyst-gateway-crates/c509-certificate/.gitignore
Owners: none

fix: cargo toml
  catalyst-gateway-crates/c509-certificate/Cargo.toml
Owners: none

fix: cbor encoder
  catalyst-gateway-crates/c509-certificate/src/cbor_encoder.rs
  catalyst-gateway-crates/c509-certificate/src/extensions/alt_name.rs
Owners: none

fix: remove der encoding
  catalyst-gateway-crates/c509-certificate/src/der.rs
Owners: none

feat: Add basic lerp function for image transitioning.
  catalyst_voices/packages/catalyst_voices_brands/lib/src/theme_extensions/brand_assets.dart
Owners: @minikin

feat(ci): WIP on local testing cluster
  docs/Earthfile
  utilities/local-cluster/Earthfile
  utilities/local-cluster/Readme.md
  utilities/local-cluster/Vagrantfile
  utilities/local-cluster/manifests/cat-voices-docs.yml
  utilities/local-cluster/shared/extra.hosts
  utilities/local-cluster/shared/k3s/grafana-prometheus/prometheus-values.yaml
  utilities/local-cluster/shared/k3s/registry/registry-service.yaml
  utilities/local-cluster/shared/k3s/registry/registry-ui.yaml
  utilities/local-cluster/shared/k3s/scylladb/cluster.yaml
  utilities/local-cluster/shared/k3s/scylladb/values.cluster.yaml
  utilities/local-cluster/shared/k3s/scylladb/values.manager.yaml
Owners: none

feat: Add brand specific assets (#517)
  catalyst_voices/packages/catalyst_voices_assets/assets/images/catalyst_logo_icon.svg
  catalyst_voices/packages/catalyst_voices_assets/assets/images/catalyst_logo_icon_white.svg
  catalyst_voices/packages/catalyst_voices_assets/assets/images/catalyst_logo_white.svg
  catalyst_voices/packages/catalyst_voices_assets/assets/images/fallback_logo.svg
  catalyst_voices/packages/catalyst_voices_assets/assets/images/fallback_logo_icon.svg
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/assets.gen.dart
  catalyst_voices/packages/catalyst_voices_assets/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_brands/lib/src/theme_extensions/brand_assets.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/theme_extensions/voices_color_scheme.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/fallback.dart
  catalyst_voices/packages/catalyst_voices_brands/test/src/catalyst_voices_brands_test.dart
Owners: @minikin

fix: restore generated swagger files
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.enums.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.g.dart
Owners: @minikin

chore: cleanup debugging code
  catalyst-gateway/tests/api_tests/api_tests/__init__.py
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add hook for schemathesis tests (#513)
  .github/workflows/generate-allure-report.yml
  .gitignore
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/schemathesis_tests/.gitignore
  catalyst-gateway/tests/schemathesis_tests/Earthfile
  catalyst-gateway/tests/schemathesis_tests/hooks/hooks.py
  catalyst-gateway/tests/schemathesis_tests/schemathesis-docker-compose.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add eid encoder
  catalyst-gateway-crates/c509-certificate/src/extensions/alt_name.rs
Owners: none

feat: Selectable db query performance logging (#476)
  .config/dictionaries/project.dic
  catalyst-gateway/Cargo.toml
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/event_db/cardano/chain_state/mod.rs
  catalyst-gateway/bin/src/event_db/cardano/cip36_registration/mod.rs
  catalyst-gateway/bin/src/event_db/cardano/config/mod.rs
  catalyst-gateway/bin/src/event_db/cardano/utxo/mod.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/ballot.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/mod.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/objective.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/proposal.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/review.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/registration.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/search.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/vit_ss/fund.rs
  catalyst-gateway/bin/src/event_db/mod.rs
  catalyst-gateway/bin/src/event_db/schema_check/mod.rs
  catalyst-gateway/bin/src/logger.rs
  catalyst-gateway/bin/src/main.rs
  catalyst-gateway/bin/src/service/api/health/inspection_get.rs
  catalyst-gateway/bin/src/service/api/health/mod.rs
  catalyst-gateway/bin/src/service/common/responses/mod.rs
  catalyst-gateway/bin/src/settings.rs
  catalyst-gateway/bin/src/state/mod.rs
  catalyst-gateway/tests/api_tests/api_tests/__init__.py
  catalyst_voices/Earthfile
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.enums.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.chopper.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.dart
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

test
  .github/workflows/generate-allure-report.yml
Owners: none

wip
  .github/workflows/generate-allure-report.yml
Owners: none

fix: artifact name
  .github/workflows/generate-allure-report.yml
Owners: none

adds: coveralls
  .github/workflows/generate-allure-report.yml
Owners: none

fix bash
  .github/workflows/generate-allure-report.yml
Owners: none

fix: add earthly ignore
  .earthlyignore
Owners: none

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
