Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs: fix data change
  catalyst_voices/lib/widgets/containers/roles_chooser_container.dart
  catalyst_voices/lib/widgets/containers/roles_summary_container.dart
Owners: @minikin

feat(cat-voices): seed phrase error result and unlock password instructions (#920)
  catalyst_voices/lib/pages/registration/create_keychain/create_keychain_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_check_instructions_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_check_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_check_result_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/unlock_password_instructions_panel.dart
  catalyst_voices/lib/pages/registration/pictures/password_picture.dart
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

refactor: roles mapping
  catalyst_voices/lib/widgets/containers/roles_chooser_container.dart
  catalyst_voices/lib/widgets/containers/roles_summary_container.dart
Owners: @minikin

update ZK tally proof section
  docs/src/architecture/08_concepts/voting_transaction/crypto.md
Owners: none

feat(cat-voices): registration transaction summary
  catalyst_voices/lib/pages/registration/wallet_link/stage/rbac_transaction_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/wallet_link_panel.dart
  catalyst_voices/lib/widgets/list/bullet_list.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

feat: role extension icon
  catalyst_voices/lib/common/ext/account_role_ext.dart
  catalyst_voices/lib/widgets/containers/roles_chooser_container.dart
  catalyst_voices/lib/widgets/containers/roles_summary_container.dart
Owners: @minikin

chore: cleanup localizations
  catalyst_voices/lib/pages/registration/wallet_link/stage/rbac_transaction_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/wallet_details_panel.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

chore: remove spacebetween
  catalyst_voices/lib/widgets/cards/role_chooser_card.dart
Owners: @minikin

chore: wip
  catalyst_voices/lib/pages/registration/create_keychain/create_keychain_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_check_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/unlock_password_panel.dart
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

refactor: apply bullet list
  catalyst_voices/lib/pages/account/account_page.dart
Owners: @minikin

feat: debug pre fill seed phrase words
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_check_panel.dart
Owners: @minikin

docs: minor fix
  catalyst_voices/lib/widgets/containers/roles_chooser_container.dart
Owners: @minikin

feat: add missing wallet link
  catalyst_voices/lib/pages/registration/wallet_link/stage/rbac_transaction_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/wallet_details_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/wallet_link_panel.dart
Owners: @minikin

feat(cat-voices): registration transaction summary (#921)
  catalyst_voices/lib/pages/account/account_page.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/rbac_transaction_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/wallet_details_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/wallet_link_panel.dart
  catalyst_voices/lib/widgets/list/bullet_list.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

fix: l10n
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
Owners: @minikin

chore: lintfix
  catalyst_voices/lib/common/ext/account_role_ext.dart
Owners: @minikin

feat: debug pre fill seed phrase words (#922)
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_check_panel.dart
Owners: @minikin

feat(latest registration endpoints): given stake addr and stake key hash
  catalyst-gateway/bin/src/db/index/queries/cql/get_latest_registration_w_stake_addr.cql
  catalyst-gateway/bin/src/db/index/queries/registrations/get_latest_w_stake_addr.rs
  catalyst-gateway/bin/src/service/api/cardano/cip36.rs
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(latest registration endpoints): given stake addr and stake key hash
  catalyst-gateway/bin/src/db/index/queries/cql/get_latest_registration_w_stake_addr.cql
  catalyst-gateway/bin/src/db/index/queries/mod.rs
  catalyst-gateway/bin/src/db/index/queries/registrations/get_latest_w_stake_addr.rs
  catalyst-gateway/bin/src/db/index/queries/registrations/get_latest_w_stake_hash.rs
  catalyst-gateway/bin/src/db/index/queries/registrations/get_latest_w_vote_key.rs
  catalyst-gateway/bin/src/service/api/cardano/cip36.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(latest registration endpoints): given stake addr and stake key hash
  catalyst-gateway/bin/src/db/index/queries/cql/get_registrations_w_stake_addr.cql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(latest registration endpoints): given stake addr and stake key hash
  catalyst-gateway/bin/src/db/index/queries/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/registration_get.rs
  utilities/local-scylla/justfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add missing wallet details
  catalyst_voices/lib/pages/registration/wallet_link/stage/rbac_transaction_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/wallet_link_panel.dart
Owners: @minikin

feat: add role chooser panel content
  catalyst_voices/lib/pages/registration/wallet_link/stage/roles_chooser_panel.dart
  catalyst_voices/macos/Flutter/GeneratedPluginRegistrant.swift
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

feat(cat-voices): Add roles chooser panel widget (#916)
  catalyst_voices/lib/common/ext/account_role_ext.dart
  catalyst_voices/lib/widgets/buttons/voices_segmented_button.dart
  catalyst_voices/lib/widgets/cards/role_chooser_card.dart
  catalyst_voices/lib/widgets/common/grayscale_filter.dart
  catalyst_voices/lib/widgets/common/link_text.dart
  catalyst_voices/lib/widgets/containers/roles_chooser_container.dart
  catalyst_voices/lib/widgets/containers/roles_summary_container.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_assets/assets/images/2.0x/role_drep.webp
  catalyst_voices/packages/catalyst_voices_assets/assets/images/2.0x/role_proposer.webp
  catalyst_voices/packages/catalyst_voices_assets/assets/images/2.0x/role_voter.webp
  catalyst_voices/packages/catalyst_voices_assets/assets/images/3.0x/role_drep.webp
  catalyst_voices/packages/catalyst_voices_assets/assets/images/3.0x/role_proposer.webp
  catalyst_voices/packages/catalyst_voices_assets/assets/images/3.0x/role_voter.webp
  catalyst_voices/packages/catalyst_voices_assets/assets/images/role_drep.webp
  catalyst_voices/packages/catalyst_voices_assets/assets/images/role_proposer.webp
  catalyst_voices/packages/catalyst_voices_assets/assets/images/role_voter.webp
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/assets.gen.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/uikit_example/lib/examples/voices_role_panels_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

feat(cat-voices): add roles chooser
  catalyst_voices/lib/pages/registration/wallet_link/stage/rbac_transaction_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/roles_chooser_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/wallet_link_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/wallet_link_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/wallet_link_state_data.dart
Owners: @minikin

chore: revert
  catalyst_voices/macos/Flutter/GeneratedPluginRegistrant.swift
Owners: @minikin

fix
  docs/src/architecture/08_concepts/voting_transaction/crypto.md
Owners: none

apply blue's comments
  docs/src/architecture/08_concepts/voting_transaction/crypto.md
Owners: none

fix spelling and markdown checks
  docs/src/architecture/08_concepts/voting_transaction/crypto.md
Owners: none

feat: add role summary screen
  catalyst_voices/lib/pages/registration/create_keychain/stage/instructions_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_check_instructions_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_check_result_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/splash_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/unlock_password_instructions_panel.dart
  catalyst_voices/lib/pages/registration/get_started/get_started_panel.dart
  catalyst_voices/lib/pages/registration/registration_stage_message.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/intro_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/roles_chooser_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/roles_summary_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/select_wallet_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/wallet_link_panel.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

refactor(stake addr voting key association): check pair is active
  catalyst-gateway/bin/src/service/api/cardano/cip36.rs
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: background color
  catalyst_voices/lib/widgets/cards/role_chooser_card.dart
  catalyst_voices/packages/catalyst_voices_assets/assets/colors/colors.xml
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/colors.gen.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/theme_extensions/voices_color_scheme.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
Owners: @minikin

feat(cat-gateway): Sync status indexing and reading now working.
  catalyst-gateway/bin/src/cardano/mod.rs
  catalyst-gateway/bin/src/db/index/queries/cql/get_sync_status.cql
  catalyst-gateway/bin/src/db/index/queries/cql/insert_sync_status.cql
  catalyst-gateway/bin/src/db/index/queries/cql/update_txo_spent.cql
  catalyst-gateway/bin/src/db/index/queries/sync_status/get.rs
  catalyst-gateway/bin/src/db/index/queries/sync_status/mod.rs
  catalyst-gateway/bin/src/db/index/queries/sync_status/update.rs
  catalyst-gateway/bin/src/db/index/schema/cql/sync_status.cql
  catalyst-gateway/bin/src/db/index/schema/mod.rs
  catalyst-gateway/bin/src/db/index/session.rs
  utilities/local-scylla/justfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: code of conduct broken link (#911)
  .github/ISSUE_TEMPLATE/bug_report.yml
Owners: none

chore: update colors
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/colors.gen.dart
Owners: @minikin

chore: wip
  catalyst_voices/lib/common/formatters/input_formatters.dart
  catalyst_voices/lib/pages/login/login_password_text_field.dart
  catalyst_voices/lib/pages/registration/create_keychain/create_keychain_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/unlock_password_panel.dart
  catalyst_voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
  catalyst_voices/lib/widgets/indicators/voices_password_strength_indicator.dart
  catalyst_voices/lib/widgets/text_field/voices_password_text_field.dart
  catalyst_voices/lib/widgets/text_field/voices_text_field.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/keychain_creation_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_state.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/unlock_password_state.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/auth/password_strength.dart
  catalyst_voices/test/common/formatters/input_formatters_test.dart
Owners: @minikin

feat(cat-voices): roles chooser (#923)
  catalyst_voices/lib/pages/registration/wallet_link/stage/rbac_transaction_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/roles_chooser_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/wallet_details_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/wallet_link_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/wallet_link_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/wallet_link_state_data.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

feat: Upload file dialog - implement dragging + details
  catalyst_voices/lib/widgets/modals/voices_upload_file_dialog.dart
  catalyst_voices/pubspec.yaml
Owners: @minikin

feat(cat-voices): theme mode switch
  catalyst_voices/lib/app/view/app_content.dart
  catalyst_voices/lib/pages/spaces/appbar/spaces_theme_mode_switch.dart
  catalyst_voices/lib/pages/spaces/spaces_shell_page.dart
  catalyst_voices/lib/widgets/toggles/voices_theme_mode_switch.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/uikit_example/lib/main.dart
Owners: @minikin

feat: Upload file dialog - extract voices_file.dart
  catalyst_voices/lib/widgets/modals/voices_upload_file_dialog.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/file/voices_file.dart
Owners: @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
