Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

wip
  catalyst-gateway/tests/api_tests/api_tests/__init__.py
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

style: format code
  catalyst_voices/lib/pages/coming_soon/coming_soon.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_repositories/lib/src/catalyst_data_gateway_repository.dart
  catalyst_voices/packages/catalyst_voices_repositories/test/src/catalyst_data_gateway_repository/catalyst_data_gateway_repository_test.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform/io_platform.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform/web_platform.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform_aware_builder/platform_aware_builder.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/responsive/responsive_builder.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/responsive/responsive_child.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/responsive/responsive_padding.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/platform_aware_builder_test.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/responsive_builder_test.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/responsive_child_test.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/responsive_padding_test.dart
Owners: @minikin

ci: optimize directions include in repo-catalyst-voices-all artifact to include only needed ones
  Earthfile
Owners: none

adds one more worker and compression for catgateway logs (#400)
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix query
  catalyst-gateway/bin/src/event_db/voter_registration/select_voter_registration.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/bin/src/event_db/voter_registration/mod.rs
  catalyst-gateway/bin/src/registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor
  catalyst-gateway/bin/src/event_db/voter_registration/mod.rs
  catalyst-gateway/bin/src/registration/mod.rs
  catalyst-gateway/tests/api_tests/api_tests/__init__.py
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor: remove empty tests
  catalyst_voices/packages/catalyst_voices_blocs/test/src/catalyst_voices_blocs_test.dart
  catalyst_voices/packages/catalyst_voices_models/test/src/catalyst_voices_models_test.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/catalyst_voices_services_test.dart
  catalyst_voices/packages/catalyst_voices_view_models/test/src/catalyst_voices_view_models_test.dart
  catalyst_voices/test/app/view/app_test.dart
  utilities/catalyst_voices_remote_widgets/test/src/catalyst_voices_remote_widgets_test.dart
Owners: @minikin

ci: add melos script to generate test reports
  catalyst_voices/Earthfile
  melos.yaml
Owners: @minikin

ci: melos script to generate test report
  catalyst_voices/test/app/view/app_test.dart
  melos.yaml
Owners: @minikin

style: revert previously generated files formatting
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
Owners: @minikin

wip
  catalyst-gateway/bin/src/event_db/voter_registration/mod.rs
  catalyst-gateway/bin/src/event_db/voter_registration/select_voter_registration.sql
  catalyst-gateway/bin/src/registration/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/registration_get.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/registration_info.rs
  catalyst-gateway/tests/api_tests/api_tests/test_voter_registration.py
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/bin/src/registration/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/registration_get.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/hash.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/registration_info.rs
  catalyst-gateway/bin/src/service/utilities/mod.rs
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.g.dart
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

style: format files
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
Owners: @minikin

ci: update melos to exclude generated code form code coverage
  melos.yaml
Owners: none

ci: cleanup build script
  catalyst_voices/Earthfile
Owners: @minikin

ci: generate multiple junit test reports and save them at /test_reports
  .github/workflows/generate-allure-report.yml
  catalyst_voices/Earthfile
  melos.yaml
Owners: @minikin

wip
  catalyst-gateway/bin/src/event_db/utxo.rs
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst-gateway/tests/api_tests/api_tests/test_voter_registration.py
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

ci: depend on melos analyze instead of custom command
  catalyst_voices/Earthfile
  melos.yaml
Owners: @minikin

docs: improve melos docs
  melos.yaml
Owners: none

ci: remove unused melos scripts
  melos.yaml
Owners: none

ci: format files in test & integration_test directories
  melos.yaml
Owners: none

ci: break code to make sure CI will report failure for demonstration purposes
  catalyst_voices/packages/catalyst_voices_repositories/test/src/catalyst_data_gateway_repository/catalyst_data_gateway_repository_test.dart
Owners: @minikin

style: fix lint issues
  catalyst_voices/packages/catalyst_voices_repositories/test/src/catalyst_data_gateway_repository/catalyst_data_gateway_repository_test.dart
Owners: @minikin

ci: change WORKDIR after creating the user to make sure it will be owned by that user
  catalyst_voices/Earthfile
Owners: @minikin

ci: restore root user
  catalyst_voices/Earthfile
Owners: @minikin

fix
  catalyst-gateway/bin/src/event_db/voter_registration/mod.rs
  catalyst-gateway/tests/api_tests/snapshot_tool-56364174.json
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

style: format code
  catalyst_voices/packages/catalyst_voices_repositories/test/src/catalyst_data_gateway_repository/catalyst_data_gateway_repository_test.dart
Owners: @minikin

ci: revert test-unit target name
  catalyst_voices/Earthfile
Owners: @minikin

wip
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/api_tests/test_slot_info.py
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: Collect flutter code coverage (#404)
  .github/workflows/generate-allure-report.yml
  Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/lib/pages/coming_soon/coming_soon.dart
  catalyst_voices/packages/catalyst_voices_blocs/test/src/catalyst_voices_blocs_test.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_models/test/src/catalyst_voices_models_test.dart
  catalyst_voices/packages/catalyst_voices_repositories/lib/src/catalyst_data_gateway_repository.dart
  catalyst_voices/packages/catalyst_voices_repositories/test/src/catalyst_data_gateway_repository/catalyst_data_gateway_repository_test.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/catalyst_voices_services_test.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform/io_platform.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform/web_platform.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform_aware_builder/platform_aware_builder.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/responsive/responsive_builder.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/responsive/responsive_child.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/responsive/responsive_padding.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/platform_aware_builder_test.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/responsive_builder_test.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/responsive_child_test.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/responsive_padding_test.dart
  catalyst_voices/packages/catalyst_voices_view_models/test/src/catalyst_voices_view_models_test.dart
  catalyst_voices/test/app/view/app_test.dart
  melos.yaml
  utilities/catalyst_voices_remote_widgets/test/src/catalyst_voices_remote_widgets_test.dart
Owners: @minikin

feat: adds some logging
  catalyst_voices/Earthfile
  catalyst_voices/test_driver/scripts/install-chrome-linux64.sh
Owners: @minikin

cleanup
  catalyst-gateway/bin/src/event_db/utxo.rs
  catalyst-gateway/bin/src/event_db/voter_registration/mod.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/hash.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: Voter registration endpoint (#403)
  catalyst-gateway/bin/src/event_db/error.rs
  catalyst-gateway/bin/src/event_db/follower/mod.rs
  catalyst-gateway/bin/src/event_db/utxo.rs
  catalyst-gateway/bin/src/event_db/voter_registration.rs
  catalyst-gateway/bin/src/event_db/voter_registration/insert_voter_registration.sql
  catalyst-gateway/bin/src/event_db/voter_registration/mod.rs
  catalyst-gateway/bin/src/event_db/voter_registration/select_voter_registration.sql
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/bin/src/registration/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/date_time_to_slot_number_get.rs
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/registration_get.rs
  catalyst-gateway/bin/src/service/api/cardano/sync_state_get.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/hash.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/mod.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/registration_info.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/slot_info.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/stake_address.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/sync_state.rs
  catalyst-gateway/bin/src/service/utilities/mod.rs
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/.gitignore
  catalyst-gateway/tests/api_tests/api_tests/__init__.py
  catalyst-gateway/tests/api_tests/api_tests/test_slot_info.py
  catalyst-gateway/tests/api_tests/api_tests/test_voter_registration.py
  catalyst-gateway/tests/api_tests/snapshot_tool-56364174.json
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.g.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.chopper.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.dart
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix package-preprod-snapshot earthly version
  catalyst-gateway/tests/api_tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix package-preprod-snapshot earthly version (#409)
  catalyst-gateway/tests/api_tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

update schema_validation check
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/event_db/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/date_time_to_slot_number_get.rs
  catalyst-gateway/bin/src/service/api/cardano/registration_get.rs
  catalyst-gateway/bin/src/service/api/cardano/staked_ada_get.rs
  catalyst-gateway/bin/src/service/api/cardano/sync_state_get.rs
  catalyst-gateway/bin/src/service/api/health/ready_get.rs
  catalyst-gateway/bin/src/service/mod.rs
  catalyst-gateway/bin/src/service/utilities/middleware/schema_validation.rs
  catalyst-gateway/bin/src/state/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/bin/src/event_db/error.rs
  catalyst-gateway/bin/src/service/api/health/ready_get.rs
  catalyst-gateway/bin/src/service/utilities/middleware/schema_validation.rs
  catalyst-gateway/bin/src/state/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

adds: more logs
  catalyst_voices/Earthfile
  catalyst_voices/test_driver/scripts/install-chrome-linux64.sh
Owners: @minikin

fix
  catalyst-gateway/tests/api_tests/api_tests/__init__.py
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin
