Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Revert "chore: drop unused min delay"
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/wallet_link_cubit.dart
Owners: @minikin

refactor(general): add running allure report flow after forge ci job (#1006)
  .github/workflows/ci.yml
  .github/workflows/generate-allure-report.yml
Owners: none

add running test reporting after ci job
  .github/workflows/ci.yml
Owners: none

change random number to max 255
  catalyst_voices/packages/catalyst_voices_services/lib/src/crypto/vault_crypto_service.dart
Owners: @minikin

fix: typo
  catalyst_voices/packages/catalyst_voices_services/lib/src/crypto/vault_crypto_service.dart
Owners: @minikin

feat: Upload SeedPhrase - better validation for seedphrase
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_check_panel.dart
  catalyst_voices/lib/pages/registration/recover/seed_phrase/seed_phrase_input_panel.dart
  catalyst_voices/lib/pages/registration/show_upload_confirmation_dialog.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/keychain_creation_cubit.dart
Owners: @minikin

refactor(general): add running allure report flow after forge ci job part 2 (#1022)
  .github/workflows/ci.yml
Owners: none

add running test reporting after ci job
  .github/workflows/ci.yml
Owners: none

remove allow-privileged flags from disabled tests
  .github/workflows/generate-allure-report.yml
Owners: none

feat(cat-voices): vault crypto (#1011)
  .config/dictionaries/project.dic
  catalyst_voices/lib/dependency/dependencies.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_bloc.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/errors/crypto_exception.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/errors/errors.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/errors/vault_exception.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/catalyst_voices_services.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/crypto/crypto_service.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/crypto/vault_crypto_service.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/keychain/keychain.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_service.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/lock_factor.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/lock_factor_codec.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/secure_storage_vault.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/vault.dart
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_services/test/src/crypto/vault_crypto_service_test.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/storage/vault/lock_factor_codec_test.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/storage/vault/lock_factor_test.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/storage/vault/secure_storage_vault_test.dart
Owners: @minikin

fix: await in try/catch
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/x509_metadata_envelope.dart
Owners: @minikin, @stevenj

feat: RBAC chain root and registrations queries
  catalyst-gateway/bin/src/db/index/queries/cql/get_chain_root.cql
  catalyst-gateway/bin/src/db/index/queries/cql/get_registrations_by_chain_root.cql
  catalyst-gateway/bin/src/db/index/queries/cql/get_role0_key_chain_root.cql
  catalyst-gateway/bin/src/db/index/queries/mod.rs
  catalyst-gateway/bin/src/db/index/queries/rbac/get_chain_root.rs
  catalyst-gateway/bin/src/db/index/queries/rbac/get_registrations.rs
  catalyst-gateway/bin/src/db/index/queries/rbac/get_role0_chain_root.rs
  catalyst-gateway/bin/src/db/index/queries/rbac/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/rbac/chain_root_get.rs
  catalyst-gateway/bin/src/service/api/cardano/rbac/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/rbac/registrations_get.rs
  catalyst-gateway/bin/src/service/api/cardano/rbac/role0_chain_root_get.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

cleanup
  .github/workflows/ci.yml
Owners: none

feat: Upload SeedPhrase - areWordsMatching function in cubit
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_check_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/keychain_creation_cubit.dart
Owners: @minikin

chore: cleanup
  catalyst_voices/lib/widgets/common/infrastructure/voices_result_builder.dart
Owners: @minikin

refactor(general): add running allure report flow after forge ci job part 3 (#1023)
  .github/workflows/ci.yml
  .github/workflows/generate-allure-report.yml
Owners: none

fix: await in try/catch for zstd
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/x509_metadata_envelope.dart
Owners: @minikin, @stevenj

feat(cat-voices): add result builder with delayed loading (#1021)
  catalyst_voices/lib/pages/registration/wallet_link/stage/select_wallet_panel.dart
  catalyst_voices/lib/widgets/common/infrastructure/voices_result_builder.dart
  catalyst_voices/test/widgets/common/infrastructure/voices_result_builder_test.dart
Owners: @minikin

docs(docs): Incorporate feedback from Engineering discussion and comments.
  .config/dictionaries/project.dic
  docs/src/architecture/09_architecture_decisions/0008-structured-logging.md
Owners: none

fix: error log
  catalyst-gateway/bin/src/db/event/config/key.rs
  catalyst-gateway/bin/src/db/event/config/mod.rs
  catalyst-gateway/bin/src/service/api/config/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs(docs): Add examples of how endpoints get versioned, better explain endpoint deprecation, add note about security requirements.
  docs/src/architecture/09_architecture_decisions/0007-api-versions.md
Owners: none

docs(docs): Fix consistency example
  docs/src/architecture/09_architecture_decisions/0008-structured-logging.md
Owners: none

fix: bump ci to v3.2.18
  Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: in forge version for run action
  .github/workflows/generate-allure-report.yml
Owners: none

chore: annotate code parts that require optimization
  catalyst_voices/packages/catalyst_voices_services/lib/src/keychain/key_derivation.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/signature.dart
Owners: @minikin, @stevenj

fix: in forge version for run action (#1026)
  .github/workflows/generate-allure-report.yml
Owners: none

chore: minor comment
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/assets/js/catalyst_compression.js
Owners: @minikin, @stevenj

refactor: random string to number counter
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/assets/js/catalyst_compression.js
Owners: @minikin, @stevenj

chore: minor comment
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/assets/js/catalyst_compression.js
Owners: @minikin, @stevenj

chore: simplify promise to future
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/lib/src/interop/catalyst_compression_interop.dart
Owners: @minikin, @stevenj

chore: todo comment
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/signature.dart
Owners: @minikin, @stevenj

chore: fmt
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/signature.dart
Owners: @minikin, @stevenj

feat(cat-voices): implement web worker for compression logic (#1020)
  catalyst_voices/packages/catalyst_voices_services/lib/src/keychain/key_derivation.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_transaction_builder.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_rbac_tx.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/x509_metadata_envelope.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/signature.dart
  catalyst_voices_packages/catalyst_compression/catalyst_compression/README.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression/example/main.dart
  catalyst_voices_packages/catalyst_compression/catalyst_compression_platform_interface/lib/src/catalyst_compressor.dart
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/assets/js/catalyst_compression.js
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/assets/js/catalyst_compression_worker.js
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/lib/src/interop/catalyst_compression_interop.dart
Owners: @minikin, @stevenj

feat: Upload SeedPhrase - use listEquals
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/keychain_creation_cubit.dart
Owners: @minikin

feat: Upload SeedPhrase - change dialogs pattern
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_check_panel.dart
  catalyst_voices/lib/pages/registration/incorrect_seedphrase_dialog.dart
  catalyst_voices/lib/pages/registration/recover/seed_phrase/seed_phrase_input_panel.dart
  catalyst_voices/lib/pages/registration/show_upload_confirmation_dialog.dart
  catalyst_voices/lib/pages/registration/upload_seedphrase_confirmation_dialog.dart
  catalyst_voices/lib/pages/registration/upload_seedphrase_dialog.dart
Owners: @minikin

feat: add recovery to unlock dialog
  catalyst_voices/lib/pages/account/unlock_keychain_dialog.dart
  catalyst_voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

refactor: keychain
  catalyst_voices/lib/dependency/dependencies.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/keychain_creation_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/recover_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/wallet_link_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/seed_phrase_state_data.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_bloc.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/user/profile.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/catalyst_voices_services.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/crypto/key_derivation.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/keychain/keychain.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/keychain/keychain_provider.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/keychain/vault_keychain.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/keychain/vault_keychain_provider.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_service.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/secure_storage_vault.dart
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_services/test/src/crypto/key_derivation_test.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/storage/vault/secure_storage_vault_test.dart
  melos.yaml
Owners: @minikin

feat(cat-voices): make sure app state is synced with keychain
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_bloc.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/keychain/keychain.dart
Owners: @minikin

chore: sync remaining session states
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_bloc.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_event.dart
Owners: @minikin

feat(cat-gateway): config API (#981)
  .config/dictionaries/project.dic
  Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/db/event/config/default/frontend.json
  catalyst-gateway/bin/src/db/event/config/default/frontend_ip.json
  catalyst-gateway/bin/src/db/event/config/jsonschema/frontend.json
  catalyst-gateway/bin/src/db/event/config/key.rs
  catalyst-gateway/bin/src/db/event/config/mod.rs
  catalyst-gateway/bin/src/db/event/config/sql/get.sql
  catalyst-gateway/bin/src/db/event/config/sql/upsert.sql
  catalyst-gateway/bin/src/db/event/mod.rs
  catalyst-gateway/bin/src/service/api/config/mod.rs
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/service/common/tags.rs
  catalyst-gateway/deny.toml
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/event-db/migrations/V1__config_tables.sql
  catalyst-gateway/event-db/migrations/V2__event_tables.sql
  catalyst-gateway/event-db/migrations/V3__objective_tables.sql
  catalyst-gateway/event-db/migrations/V4__proposal_tables.sql
  catalyst-gateway/event-db/migrations/V5__vote_plan.sql
  catalyst-gateway/event-db/migrations/V6__registration.sql
  catalyst-gateway/event-db/migrations/V7__vote_tables.sql
  catalyst-gateway/event-db/migrations/V8__catalyst_automation.sql
  catalyst-gateway/event-db/migrations/V9__moderation_stage.sql
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.g.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.chopper.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.dart
  catalyst_voices/uikit_example/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
