Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: wip
  utilities/local-cluster/Readme.md
Owners: none

Update Earthfile
  catalyst_voices/Earthfile
Owners: @minikin

Update Earthfile
  catalyst_voices/Earthfile
Owners: @minikin

ci: update frontend configs
  .github/workflows/build-flutter-web.yml
  catalyst_voices/Earthfile
Owners: @minikin

Update Earthfile
  catalyst_voices/Earthfile
Owners: @minikin

feat: simpleTreeView + VoicesNodeMenu
  catalyst_voices/lib/widgets/common/simple_tree_view.dart
  catalyst_voices/lib/widgets/menu/voices_node_menu.dart
  catalyst_voices/lib/widgets/separators/voices_divider.dart
  catalyst_voices/lib/widgets/separators/voices_vertical_divider.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/uikit_example/lib/examples/voices_menu_example.dart
  catalyst_voices/uikit_example/lib/examples/voices_tree_view_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

wip
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_rbac_tx.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/utils.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/wallet-tests.spec.ts
Owners: @minikin, @stevenj

Update Earthfile
  catalyst_voices/Earthfile
Owners: @minikin

feat: svg icons
  catalyst_voices/lib/widgets/menu/voices_node_menu.dart
  catalyst_voices/packages/catalyst_voices_assets/assets/images/node_open.svg
  catalyst_voices/packages/catalyst_voices_assets/assets/images/view_grid.svg
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/assets.gen.dart
Owners: @minikin

wip
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_rbac_tx.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/Earthfile
Owners: @minikin, @stevenj

feat: NodeIcon
  catalyst_voices/lib/widgets/icons/svg_icons.dart
  catalyst_voices/lib/widgets/menu/voices_menu.dart
  catalyst_voices/lib/widgets/menu/voices_node_menu.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_assets/assets/images/node-closed.svg
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/assets.gen.dart
  catalyst_voices/uikit_example/lib/examples/voices_menu_example.dart
Owners: @minikin

fix: handle null utxos
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_interop.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_wallet_proxy.dart
Owners: @minikin, @stevenj

refactor: Move NodeIcon into voices_node_menu
  catalyst_voices/lib/widgets/icons/svg_icons.dart
  catalyst_voices/lib/widgets/menu/voices_node_menu.dart
  catalyst_voices/lib/widgets/widgets.dart
Owners: @minikin

feat: VoicesRichText - add limited set of actions to toolbar
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
  catalyst_voices/pubspec.yaml
Owners: @minikin

fix: more error logs
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_rbac_tx.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_tx.dart
Owners: @minikin, @stevenj

chore: doc typo
  catalyst_voices/lib/widgets/common/tab_bar_stack_view.dart
Owners: @minikin

refactor: more descriptive variable names in TabBarStackView state
  catalyst_voices/lib/widgets/common/tab_bar_stack_view.dart
Owners: @minikin

Update Earthfile
  catalyst_voices/Earthfile
Owners: @minikin

Update Earthfile
  catalyst_voices/Earthfile
Owners: @minikin

fix: NoteIcon color
  catalyst_voices/lib/widgets/menu/voices_node_menu.dart
Owners: @minikin

feat: TabBarStackView and SectionHeader (#730)
  .config/dictionaries/project.dic
  catalyst_voices/lib/widgets/common/tab_bar_stack_view.dart
  catalyst_voices/lib/widgets/common/tree_view_column.dart
  catalyst_voices/lib/widgets/headers/section_header.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/test/widgets/common/tab_bar_stack_view_test.dart
  catalyst_voices/test/widgets/headers/section_header_test.dart
  catalyst_voices/uikit_example/lib/examples/voices_headers_examples.dart
  catalyst_voices/uikit_example/lib/examples/voices_tabs_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

chore: PR review adjustments
  catalyst_voices/lib/widgets/common/simple_tree_view.dart
Owners: @minikin

feat: VoicesRichText - fix web running bug
  catalyst_voices/uikit_example/web/index.html
Owners: @minikin

feat: VoicesRichText - fix stacktrace when adding image
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
Owners: @minikin

Update Readme.md
  utilities/local-cluster/Readme.md
Owners: none

feat: TreeView + VoicesNodeMenu (#741)
  catalyst_voices/lib/widgets/common/simple_tree_view.dart
  catalyst_voices/lib/widgets/menu/voices_menu.dart
  catalyst_voices/lib/widgets/menu/voices_node_menu.dart
  catalyst_voices/lib/widgets/separators/voices_divider.dart
  catalyst_voices/lib/widgets/separators/voices_vertical_divider.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_assets/assets/images/node-closed.svg
  catalyst_voices/packages/catalyst_voices_assets/assets/images/node_open.svg
  catalyst_voices/packages/catalyst_voices_assets/assets/images/view_grid.svg
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/assets.gen.dart
  catalyst_voices/uikit_example/lib/examples/voices_menu_example.dart
  catalyst_voices/uikit_example/lib/examples/voices_tree_view_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

Update Earthfile
  catalyst_voices/Earthfile
Owners: @minikin

Update Earthfile
  catalyst_voices/Earthfile
Owners: @minikin

feat: add RUN_ON_PR flag
  .github/workflows/build-flutter-web.yml
  catalyst_voices/Earthfile
Owners: @minikin

ci: bump catalyst-ci version
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
Owners: @minikin

feat: VoicesRichText - add charsLimit param
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
Owners: @minikin

ci: Frontend publishing (#731)
  .github/workflows/build-flutter-web.yml
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
Owners: @minikin

feat: assemble more treasury parts
  catalyst_voices/lib/widgets/containers/space_side_panel.dart
  catalyst_voices/lib/widgets/menu/voices_node_menu.dart
  catalyst_voices/uikit_example/lib/examples/voices_treasury_space.dart
Owners: @minikin

refactor: move VoicesTreasurySpace into separate package and extract widgets into its own files
  catalyst_voices/lib/widgets/app_bar/voices_app_bar.dart
  catalyst_voices/lib/widgets/menu/voices_node_menu.dart
  catalyst_voices/uikit_example/lib/examples/treasury_space/campaign_builder_panel.dart
  catalyst_voices/uikit_example/lib/examples/treasury_space/campaign_comments_panel.dart
  catalyst_voices/uikit_example/lib/examples/treasury_space/campaign_details.dart
  catalyst_voices/uikit_example/lib/examples/treasury_space/voices_treasury_space.dart
  catalyst_voices/uikit_example/lib/examples/voices_menu_example.dart
  catalyst_voices/uikit_example/lib/examples/voices_treasury_space.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

fix: restore cbor encoding
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/certificate.dart
Owners: @minikin, @stevenj

feat: VoicesRichText - header icon
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
Owners: @minikin

fix: add unique hero tags
  catalyst_voices/uikit_example/lib/examples/voices_fab_example.dart
Owners: @minikin

fix: closing sign tab
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/utils.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/wallet-tests.spec.ts
Owners: @minikin, @stevenj

feat: add voices wallet tile
  catalyst_voices/lib/widgets/menu/voices_wallet_tile.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/test/widgets/menu/voices_wallet_tile_test.dart
  catalyst_voices/uikit_example/lib/examples/voices_list_tile_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

feat: VoicesRichText - resizable editor
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
  catalyst_voices/uikit_example/lib/examples/voices_rich_text_example.dart
Owners: @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
