Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Update flutter_web_integration_test.sh
  scripts/flutter_web_integration_test.sh
Owners: none

Update flutter_web_integration_test.sh
  scripts/flutter_web_integration_test.sh
Owners: none

Update flutter_web_integration_test.sh
  scripts/flutter_web_integration_test.sh
Owners: none

clean up
  catalyst_voices/integration_test/scenarios/robots/login_robot.dart
  catalyst_voices/lib/app/view/app.dart
  catalyst_voices/lib/dummy/constants.dart
  catalyst_voices/lib/dummy/home_screen.dart
  catalyst_voices/lib/dummy/login_page.dart
  catalyst_voices/lib/dummy/poc.dart
  docs/FLUTTER_INTEGRATION_TEST.md
  scripts/flutter_web_integration_test.sh
Owners: @minikin

chore: remove unused Earthfile
  catalyst-gateway/bin/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Update project.dic
  .config/dictionaries/project.dic
Owners: none

Update project.dic
  .config/dictionaries/project.dic
Owners: none

Update project.dic
  .config/dictionaries/project.dic
Owners: none

Update project.dic
  .config/dictionaries/project.dic
Owners: none

chore: remove unused Earthfiles
  catalyst-gateway/event-db/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

more clean up
  catalyst_voices/lib/app/view/app.dart
  catalyst_voices/lib/dummy/dummy.dart
  catalyst_voices/lib/dummy/home_screen.dart
  catalyst_voices/lib/dummy/login_page.dart
  catalyst_voices/lib/dummy/poc.dart
  docs/FLUTTER_INTEGRATION_TEST.md
Owners: @minikin

Update dummy.dart
  catalyst_voices/lib/dummy/dummy.dart
Owners: @minikin

Update FLUTTER_INTEGRATION_TEST.md
  docs/FLUTTER_INTEGRATION_TEST.md
Owners: none

docs(docs): Fix the docs so they use the latests docs-ci and are able to properly include data from build targets
  Earthfile
  docs/Earthfile
  docs/includes/repo/CODE_OF_CONDUCT.md
  docs/includes/repo/CONTRIBUTING.md
  docs/includes/repo/LICENSE-APACHE
  docs/includes/repo/LICENSE-MIT
  docs/includes/repo/README.md
  docs/includes/repo/SECURITY.md
  docs/macros/__init__.py
  docs/macros/include.py
  docs/mkdocs.yml
  docs/src/appendix/examples/abbreviations.md
  docs/src/appendix/examples/admonitions.md
  docs/src/appendix/examples/code-formatting.md
  docs/src/appendix/examples/index.md
  docs/src/appendix/examples/kroki-diagrams.md
  docs/src/appendix/examples/mermaid-diagrams.md
  docs/src/appendix/important/coc.md
  docs/src/appendix/important/contributing.md
  docs/src/appendix/important/index.md
  docs/src/appendix/important/license.md
  docs/src/appendix/important/security.md
Owners: none

update docs
  docs/FLUTTER_INTEGRATION_TEST.md
  scripts/flutter_web_integration_test.sh
Owners: none

docs(docs): fix spelling and markdown lint issues
  .config/dictionaries/project.dic
  docs/Earthfile
  docs/src/catalyst-standards/draft-cips/rbac-cip30-extension copy/cip-xxxx.md
  docs/src/catalyst-standards/draft-cips/rbac-cip30-extension/cip-xxxx.md
Owners: none

feat(endpoint): Add V1 API and stub endpoint for account votes (#96)
  catalyst-gateway/bin/Earthfile
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/service/api/v0/message_post.rs
  catalyst-gateway/bin/src/service/api/v0/mod.rs
  catalyst-gateway/bin/src/service/api/v1/account_votes_get.rs
  catalyst-gateway/bin/src/service/api/v1/mod.rs
  catalyst-gateway/bin/src/service/common/objects/account_votes.rs
  catalyst-gateway/bin/src/service/common/objects/mod.rs
  catalyst-gateway/bin/src/service/common/tags.rs
  catalyst-gateway/event-db/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix settings.recommended.json file
  .vscode/settings.recommended.json
Owners: none

update
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/event-db/Readme.md
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Update FLUTTER_INTEGRATION_TEST.md
  docs/FLUTTER_INTEGRATION_TEST.md
Owners: none

update
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/event-db/entry.sh
  catalyst-gateway/event-db/setup/dev-db.docker-compose.yml
  catalyst-gateway/event-db/setup/setup-db.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs(docs): Update to use latest Cat-CI Docs and reduce replication
  docs/Earthfile
  docs/includes/abbreviations.md
  docs/includes/repo/CODE_OF_CONDUCT.md
  docs/includes/repo/CONTRIBUTING.md
  docs/includes/repo/LICENSE-APACHE
  docs/includes/repo/LICENSE-MIT
  docs/includes/repo/README.md
  docs/includes/repo/SECURITY.md
  docs/macros/__init__.py
  docs/macros/include.py
  docs/mkdocs.yml
  docs/overrides/cip.html
  docs/src/appendix/examples/abbreviations.md
  docs/src/appendix/examples/admonitions.md
  docs/src/appendix/examples/code-formatting.md
  docs/src/appendix/examples/index.md
  docs/src/appendix/examples/kroki-diagrams.md
  docs/src/appendix/examples/mermaid-diagrams.md
Owners: none

docs(docs): Fix the top level parts of the docs and remove test values
  docs/mkdocs.yml
  docs/src/appendix/index.md
  docs/src/index.md
Owners: none

add event-db docker-compose.yml, add test target
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/event-db/docker-compose.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: update android project
  .config/dictionaries/project.dic
  catalyst_voices/android/app/build.gradle
  catalyst_voices/android/app/src/androidTest/java/androidTest/java/io/projectcatalyst/catalyst_voices/MainActivityTest.java
  docs/FLUTTER_INTEGRATION_TEST.md
Owners: @minikin

update
  catalyst-gateway/event-db/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: integration scripts for iOS and Android, docs update
  .config/dictionaries/project.dic
  catalyst_voices/ios/Podfile
  catalyst_voices/ios/Podfile.lock
  catalyst_voices/ios/Runner.xcodeproj/project.pbxproj
  catalyst_voices/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  catalyst_voices/ios/RunnerTests/RunnerTests.m
  docs/FLUTTER_INTEGRATION_TEST.md
  scripts/flutter_android_integration_test.sh
  scripts/flutter_ios_integration_test.sh
Owners: @minikin

docs(docs): try and build and deploy docs to gh-pages
  .github/workflows/docs.yml
Owners: none

docs(docs): fix spelling issue
  .github/workflows/docs.yml
Owners: none

docs(docs): Use proper docs action, and also add branch cleanup for branch docs
  .github/workflows/branch-delete-cleanup.yml
  .github/workflows/docs.yml
Owners: none

fix settings.recommended.json file (#114)
  .vscode/settings.recommended.json
Owners: none

add docs
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/event-db/Readme.md
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

add CATALYST_CI_VER as an earthly arg, and specify it in .arg file
  .arg
  Earthfile
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

remove --required flag
  Earthfile
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add flutter integration test for Android
  .github/workflows/flitter-mobile-integration-test.yml
  .github/workflows/flitter-web-integration-test.yml
  .gitignore
  catalyst_voices/analysis_options.yaml
  catalyst_voices/ios/Podfile.lock
  docs/FLUTTER_INTEGRATION_TEST.md
  scripts/flutter_android_integration_test.sh
  scripts/flutter_ios_integration_test.sh
Owners: @minikin

Update project.dic
  .config/dictionaries/project.dic
Owners: none

Update FLUTTER_INTEGRATION_TEST.md
  docs/FLUTTER_INTEGRATION_TEST.md
Owners: none

Update project.dic
  .config/dictionaries/project.dic
Owners: none

minor update
  .github/workflows/flitter-mobile-integration-test.yml
  .github/workflows/flitter-web-integration-test.yml
Owners: none

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
