Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

Update project.dic
  .config/dictionaries/project.dic
Owners: none

Update Readme.md
  utilities/local-cluster/Readme.md
Owners: none

Update project.dic
  .config/dictionaries/project.dic
Owners: none

Update Vagrantfile
  utilities/local-cluster/Vagrantfile
Owners: none

feat: registration exception
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/registration/exception/registration_exception.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/registration/registration.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_service.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_transaction_builder.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/catalyst_voices_view_models.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/registration/exception/localized_registration_exception.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/registration/exception/localized_registration_transaction_exception.dart
  catalyst_voices/packages/catalyst_voices_view_models/pubspec.yaml
Owners: @minikin

feat(cat-voices): wallet link transaction (#976)
  .config/dictionaries/project.dic
  catalyst_voices/lib/dependency/dependencies.dart
  catalyst_voices/lib/pages/registration/bloc_registration_builder.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/rbac_transaction_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/wallet_link_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_state.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/keychain_state_data.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/registration_state_data.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/wallet_link_state_data.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_repositories/lib/src/catalyst_voices_repositories.dart
  catalyst_voices/packages/catalyst_voices_repositories/lib/src/transaction/transaction_config_repository.dart
  catalyst_voices/packages/catalyst_voices_repositories/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_repositories/test/src/transaction/transaction_config_repository_test.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/catalyst_voices_services.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/transaction/registration_transaction_builder.dart
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/lib/src/formatter/cryptocurrency_formatter.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/formatter/cryptocurrency_formatter_test.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/catalyst_voices_view_models.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/exception/localized_exception.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/exception/localized_unknown_exception.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/registration/exception/localized_registration_transaction_exception.dart
  catalyst_voices/packages/catalyst_voices_view_models/pubspec.yaml
  catalyst_voices/web/index.html
Owners: @minikin

chore: resolve merge conflicts
  catalyst_voices/packages/catalyst_voices_services/lib/src/catalyst_voices_services.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/transaction/registration_transaction_builder.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/registration/exception/localized_registration_transaction_exception.dart
Owners: @minikin

docs: document registration service
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_service.dart
Owners: @minikin

fix: add missing exception
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/registration/exception/localized_registration_exception.dart
Owners: @minikin

fix: remove wrong export
  catalyst_voices/packages/catalyst_voices_models/lib/src/registration/registration.dart
Owners: @minikin

fix: convert dependencies to lazy singletons to fix dependency resolution
  catalyst_voices/lib/dependency/dependencies.dart
Owners: @minikin

style: reformat
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_service.dart
Owners: @minikin

fix: comment to sql file
  catalyst-gateway/bin/src/db/event/config/sql/get.sql
  catalyst-gateway/bin/src/db/event/config/sql/insert.sql
  catalyst-gateway/event-db/migrations/V1__config_tables.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add upsert sql
  catalyst-gateway/bin/src/db/event/config/sql/upsert.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: update endpoint
  catalyst-gateway/bin/src/service/api/config/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: frontend key implementation
  catalyst-gateway/bin/src/db/event/config/key.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: config query
  catalyst-gateway/bin/src/db/event/config/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor: inject catalyst cardano
  catalyst_voices/lib/dependency/dependencies.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_service.dart
Owners: @minikin

refactor: convert to sealed class
  catalyst_voices/packages/catalyst_voices_models/lib/src/registration/exception/registration_exception.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/registration/exception/localized_registration_exception.dart
Owners: @minikin

refactor: error handling
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_service.dart
Owners: @minikin

fix: sql lint
  catalyst-gateway/bin/src/db/event/config/sql/get.sql
  catalyst-gateway/bin/src/db/event/config/sql/upsert.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

test: run only chrome
  catalyst_voices/integration_test/Earthfile
Owners: @minikin

test(cat-voices): add allure report to slack
  .github/workflows/generate-allure-report.yml
  .github/workflows/nightly-ci.yml
Owners: none

test: run only firefox
  catalyst_voices/integration_test/Earthfile
Owners: @minikin

feat(cat-voices): wallet link service (#984)
  catalyst_voices/lib/dependency/dependencies.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/wallet_link_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/registration/exception/registration_exception.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/registration/registration.dart
  catalyst_voices/packages/catalyst_voices_repositories/lib/src/transaction/transaction_config_repository.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/catalyst_voices_services.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_service.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_transaction_builder.dart
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/catalyst_voices_view_models.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/registration/exception/localized_registration_exception.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/registration/exception/localized_registration_transaction_exception.dart
  catalyst_voices/packages/catalyst_voices_view_models/pubspec.yaml
Owners: @minikin

feat: recovered account summary panel
  catalyst_voices/lib/pages/registration/recover/seed_phrase/account_details_panel.dart
  catalyst_voices/lib/pages/registration/recover/seed_phrase/seed_phrase_input_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/wallet_details_panel.dart
  catalyst_voices/lib/pages/registration/widgets/wallet_connection_status.dart
  catalyst_voices/lib/pages/registration/widgets/wallet_summary.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/recover_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/wallet_link_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/recover_state_data.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/wallet_link_state_data.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/catalyst_voices_view_models.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/registration/registration.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/registration/wallet_connection.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/registration/wallet_summary.dart
Owners: @minikin

test(cat-voices): add allure report to slack (#989)
  .github/workflows/nightly-ci.yml
Owners: none

feat: finish recovery results panel
  catalyst_voices/lib/pages/registration/recover/seed_phrase/account_details_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/recover_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/recover_state_data.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/wallet/dummy_cardano_wallet.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_service.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/registration/exception/localized_registration_exception.dart
Owners: @minikin

fix: use bytes ShelleyAddress
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_service.dart
Owners: @minikin

Set cat-gateway as the container entrypoint
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Fix up entrypoint
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: typo
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/recover_state_data.dart
Owners: @minikin

feat: non ui errors
  catalyst_voices/lib/common/error_handler.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/unlock_password_panel.dart
  catalyst_voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/bloc_error_emitter_mixin.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/catalyst_voices_blocs.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/keychain_creation_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/recover_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/wallet_link_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_service.dart
Owners: @minikin

chore: PR review fixes
  catalyst_voices/lib/pages/registration/recover/seed_phrase/account_details_panel.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/wallet/dummy_cardano_wallet.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/registration/exception/localized_registration_exception.dart
Owners: @minikin

chore: update recoverCardanoWalletDetails note about returned type
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_service.dart
Owners: @minikin

chore: use ShelleyAddress.fromBech32 for testNet address
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_service.dart
Owners: @minikin

Remove commented out code
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Set cat-gateway as the container entrypoint (#988)
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(cat-voices): mocked recover wallet (#990)
  catalyst_voices/lib/pages/registration/recover/recover_seed_phrase_panel.dart
  catalyst_voices/lib/pages/registration/recover/seed_phrase/account_details_panel.dart
  catalyst_voices/lib/pages/registration/recover/seed_phrase/seed_phrase_input_panel.dart
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/wallet_details_panel.dart
  catalyst_voices/lib/pages/registration/widgets/wallet_connection_status.dart
  catalyst_voices/lib/pages/registration/widgets/wallet_summary.dart
  catalyst_voices/lib/widgets/text_field/seed_phrase_field.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/recover_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/wallet_link_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/recover_state_data.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/wallet_link_state_data.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/registration/recover_seed_phrase_stage.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/wallet/dummy_cardano_wallet.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_service.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/catalyst_voices_view_models.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/registration/exception/localized_registration_exception.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/registration/registration.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/registration/wallet_connection.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/registration/wallet_summary.dart
Owners: @minikin

feat: use better exceptions
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/keychain_creation_cubit.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/registration/exception/localized_registration_exception.dart
Owners: @minikin
