Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

feat: add required signers (#605)
  catalyst_voices_packages/catalyst_cardano_serialization/README.md
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/transaction_builder.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/transaction.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/fees_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/test_utils/test_data.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/transaction_test.dart
Owners: @minikin, @stevenj

remove unnecessary jobs
  .github/workflows/nightly-ci.yml
Owners: none

feat: add earthly nightly target
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(docs): Fix up docs issues
  utilities/local-cluster/Readme.md
Owners: none

feat: implement algorithm identifier
  catalyst-gateway-crates/c509-certificate/src/c509_algo_iden.rs
  catalyst-gateway-crates/c509-certificate/src/c509_issuer_sig_algo/data.rs
  catalyst-gateway-crates/c509-certificate/src/c509_issuer_sig_algo/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_subject_pub_key_algo/data.rs
  catalyst-gateway-crates/c509-certificate/src/c509_subject_pub_key_algo/mod.rs
  catalyst-gateway-crates/c509-certificate/src/lib.rs
Owners: none

fix: add test case for algo iden
  catalyst-gateway-crates/c509-certificate/src/c509_algo_iden.rs
  catalyst-gateway-crates/c509-certificate/src/c509_issuer_sig_algo/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_subject_pub_key_algo/mod.rs
Owners: none

fix: earthly action
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: implement type time and ~biguint
  catalyst-gateway-crates/c509-certificate/src/c509_big_uint.rs
  catalyst-gateway-crates/c509-certificate/src/c509_time.rs
  catalyst-gateway-crates/c509-certificate/src/lib.rs
Owners: none

fix: linter and spelling
  catalyst-gateway-crates/c509-certificate/src/c509_big_uint.rs
  catalyst-gateway-crates/c509-certificate/src/c509_time.rs
  catalyst-gateway-crates/c509-certificate/src/lib.rs
Owners: none

feat: adds time-triggered GitHub action to run ci nightly (#601)
  .github/workflows/nightly-ci.yml
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: pr comment
  catalyst-gateway-crates/c509-certificate/src/c509_big_uint.rs
  catalyst-gateway-crates/c509-certificate/src/c509_time.rs
Owners: none

chore: fix spelling
  catalyst-gateway-crates/c509-certificate/src/c509_big_uint.rs
Owners: none

fix: comment and syntax
  catalyst-gateway-crates/c509-certificate/src/c509_algo_iden.rs
  catalyst-gateway-crates/c509-certificate/src/c509_issuer_sig_algo/data.rs
  catalyst-gateway-crates/c509-certificate/src/c509_issuer_sig_algo/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_subject_pub_key_algo/data.rs
  catalyst-gateway-crates/c509-certificate/src/c509_subject_pub_key_algo/mod.rs
  catalyst-gateway-crates/c509-certificate/src/lib.rs
Owners: none

fix: spelling and naming
  catalyst-gateway-crates/c509-certificate/src/c509_algo_identifier.rs
  catalyst-gateway-crates/c509-certificate/src/c509_issuer_sig_algo/data.rs
  catalyst-gateway-crates/c509-certificate/src/c509_issuer_sig_algo/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_subject_pub_key_algo/data.rs
  catalyst-gateway-crates/c509-certificate/src/c509_subject_pub_key_algo/mod.rs
  catalyst-gateway-crates/c509-certificate/src/lib.rs
Owners: none

fix: naming
  catalyst-gateway-crates/c509-certificate/src/c509_attributes/attribute.rs
  catalyst-gateway-crates/c509-certificate/src/c509_attributes/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_name/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_name/rdn.rs
Owners: none

fix: add amz env to nightly
  .github/workflows/nightly-ci.yml
Owners: none

fix: cspell
  catalyst-gateway-crates/c509-certificate/src/c509_subject_pub_key_algo/mod.rs
Owners: none

fix: add amz env to nightly (#611)
  .github/workflows/nightly-ci.yml
Owners: none

feat: C509 `Name` type (#604)
  catalyst-gateway-crates/c509-certificate/Cargo.toml
  catalyst-gateway-crates/c509-certificate/src/c509_attributes/attribute.rs
  catalyst-gateway-crates/c509-certificate/src/c509_attributes/data.rs
  catalyst-gateway-crates/c509-certificate/src/c509_attributes/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_general_names/data.rs
  catalyst-gateway-crates/c509-certificate/src/c509_general_names/general_name.rs
  catalyst-gateway-crates/c509-certificate/src/c509_name/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_name/rdn.rs
  catalyst-gateway-crates/c509-certificate/src/lib.rs
Owners: none

fix: data table struct
  catalyst-gateway-crates/c509-certificate/src/c509_issuer_sig_algo/data.rs
  catalyst-gateway-crates/c509-certificate/src/c509_subject_pub_key_algo/data.rs
Owners: none

fix: getter func
  catalyst-gateway-crates/c509-certificate/src/c509_algo_identifier.rs
  catalyst-gateway-crates/c509-certificate/src/c509_issuer_sig_algo/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_subject_pub_key_algo/mod.rs
Owners: none

fix: construct tbs cert
  catalyst-gateway-crates/c509-certificate/src/lib.rs
  catalyst-gateway-crates/c509-certificate/src/tbs_cert.rs
Owners: none

fix: encode and decode bug
  catalyst-gateway-crates/c509-certificate/src/c509_general_names/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_name/mod.rs
Owners: none

fix: getter func
  catalyst-gateway-crates/c509-certificate/src/c509_algo_identifier.rs
  catalyst-gateway-crates/c509-certificate/src/c509_issuer_sig_algo/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_subject_pub_key_algo/mod.rs
Owners: none

fix: getter func
  catalyst-gateway-crates/c509-certificate/src/c509_algo_identifier.rs
  catalyst-gateway-crates/c509-certificate/src/c509_issuer_sig_algo/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_subject_pub_key_algo/mod.rs
Owners: none

feat: C509 `AlgorithmIdentifier` for `subjectPublicKeyAlgorithm` and `issuerSignatureAlgorithm` (#610)
  catalyst-gateway-crates/c509-certificate/src/c509_algo_identifier.rs
  catalyst-gateway-crates/c509-certificate/src/c509_issuer_sig_algo/data.rs
  catalyst-gateway-crates/c509-certificate/src/c509_issuer_sig_algo/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_subject_pub_key_algo/data.rs
  catalyst-gateway-crates/c509-certificate/src/c509_subject_pub_key_algo/mod.rs
  catalyst-gateway-crates/c509-certificate/src/lib.rs
Owners: none

fix(backend): Clean up logging a little, and add build info logs as required for production.
  catalyst-gateway/Cargo.toml
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/build.rs
  catalyst-gateway/bin/src/build_info.rs
  catalyst-gateway/bin/src/cardano/mod.rs
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/logger.rs
  catalyst-gateway/bin/src/main.rs
  catalyst-gateway/bin/src/service/api/health/inspection_get.rs
  catalyst-gateway/bin/src/service/poem_service.rs
  catalyst-gateway/bin/src/service/utilities/net.rs
  catalyst-gateway/bin/src/settings.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: C509 Implement type `Time` and `~biguint` (#609)
  catalyst-gateway-crates/c509-certificate/src/c509_big_uint.rs
  catalyst-gateway-crates/c509-certificate/src/c509_time.rs
  catalyst-gateway-crates/c509-certificate/src/lib.rs
Owners: none

fix: time decode
  catalyst-gateway-crates/c509-certificate/src/c509_time.rs
Owners: none

bug: remove redundant OID
  catalyst-gateway-crates/c509-certificate/src/c509_issuer_sig_algo/data.rs
  catalyst-gateway-crates/c509-certificate/src/c509_subject_pub_key_algo/data.rs
Owners: none

fix: gn encode
  catalyst-gateway-crates/c509-certificate/src/c509_general_names/mod.rs
Owners: none

fix: rdn
  catalyst-gateway-crates/c509-certificate/src/c509_name/rdn.rs
Owners: none

fix: other name hw module
  catalyst-gateway-crates/c509-certificate/src/c509_general_names/other_name_hw_module.rs
Owners: none

fix: tbs cert
  catalyst-gateway-crates/c509-certificate/src/tbs_cert.rs
Owners: none

fix: name test
  catalyst-gateway-crates/c509-certificate/src/c509_name/mod.rs
Owners: none

feat: add ed25519 signing
  catalyst-gateway-crates/c509-certificate/Cargo.toml
  catalyst-gateway-crates/c509-certificate/src/signing.rs
Owners: none

fix: c509
  catalyst-gateway-crates/c509-certificate/src/c509.rs
  catalyst-gateway-crates/c509-certificate/src/lib.rs
Owners: none

fix: update cat-ci to 3.1.16
  Earthfile
  catalyst-gateway-crates/c509-certificate/Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: doc and lib
  catalyst-gateway-crates/c509-certificate/src/lib.rs
Owners: none

fix: remove unused dependency
  catalyst-gateway-crates/c509-certificate/Cargo.toml
  catalyst-gateway-crates/c509-certificate/src/lib.rs
Owners: none
