Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

fix(legacy jor sig check): chain crypto sig check
  catalyst-gateway/bin/src/cardano/cip36_registration/mod.rs
  catalyst-gateway/bin/src/cardano/util.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(legacy jor sig check): chain crypto sig check
  catalyst-gateway/Cargo.lock
  catalyst-gateway/bin/src/cardano/cip36_registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(legacy jor sig check): chain crypto sig check
  catalyst-gateway/bin/src/cardano/cip36_registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(legacy jor sig check): chain crypto sig check
  catalyst-gateway/Cargo.lock
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/cardano/cip36_registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(legacy jor sig check): chain crypto sig check
  catalyst-gateway/bin/src/cardano/cip36_registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(legacy jor sig check): chain crypto sig check
  catalyst-gateway/bin/src/cardano/cip36_registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(legacy jor sig check): chain crypto sig check
  catalyst-gateway/Cargo.lock
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/cardano/cip36_registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(legacy jor sig check): chain crypto sig check
  catalyst-gateway/bin/src/cardano/cip36_registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(legacy jor sig check): chain crypto sig check
  catalyst-gateway/bin/src/cardano/util.rs
  catalyst-gateway/tests/api_tests/snapshot_tool-56364174.json
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(legacy jor sig check): chain crypto sig check
  catalyst-gateway/bin/src/cardano/util.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(legacy jor sig check): chain crypto sig check
  catalyst-gateway/bin/src/cardano/cip36_registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: Create `catalyst_voices_brands` package to manage brands and themes.
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/brand/brand_bloc.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/brand/brand_event.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/brand/brand_state.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/catalyst_voices_blocs.dart
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_brands/.gitignore
  catalyst_voices/packages/catalyst_voices_brands/README.md
  catalyst_voices/packages/catalyst_voices_brands/analysis_options.yaml
  catalyst_voices/packages/catalyst_voices_brands/lib/catalyst_voices_brands.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/brands/brands.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/catalyst_voices_brands.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/theme_builder/theme_builder.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/dummy.dart
  catalyst_voices/packages/catalyst_voices_brands/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_brands/test/src/brand_test.dart
  catalyst_voices/packages/catalyst_voices_models/lib/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/brands.dart
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
Owners: @minikin

chore: Replace `builder` with `home`.
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/brand/brand_bloc.dart
  catalyst_voices/packages/catalyst_voices_brands/test/src/brand_test.dart
Owners: @minikin

chore: Update `catalyst_voices_brands` deps.
  catalyst_voices/packages/catalyst_voices_brands/pubspec.yaml
Owners: @minikin

chore: Update generated models.
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.g.dart
Owners: @minikin

fix (wip): update der parser
  catalyst-gateway/crates/c509-certificate/src/der.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: Update generated code.
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.g.dart
Owners: @minikin

chore: Rename `dummy` theme into `fallback`.
  catalyst_voices/packages/catalyst_voices_brands/lib/src/brands/brands.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/theme_builder/theme_builder.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/dummy.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/fallback.dart
  catalyst_voices/packages/catalyst_voices_brands/test/src/catalyst_voices_brands_test.dart
Owners: @minikin

fix(rebuild original signed 61284 payload) sig check works
  catalyst-gateway/bin/src/cardano/cip36_registration/mod.rs
  catalyst-gateway/bin/src/event_db/cardano/cip36_registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(rebuild original signed 61284 payload) sig check works
  catalyst-gateway/bin/src/cardano/cip36_registration/mod.rs
  catalyst-gateway/bin/src/event_db/cardano/cip36_registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix (wip): update der parser
  catalyst-gateway/crates/c509-certificate/src/der.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: Add initial brand support (#431)
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/brand/brand.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/brand/brand_bloc.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/brand/brand_event.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/brand/brand_state.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/catalyst_voices_blocs.dart
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_brands/.gitignore
  catalyst_voices/packages/catalyst_voices_brands/README.md
  catalyst_voices/packages/catalyst_voices_brands/analysis_options.yaml
  catalyst_voices/packages/catalyst_voices_brands/lib/catalyst_voices_brands.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/brands/brands.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/catalyst_voices_brands.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/theme_builder/theme_builder.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/fallback.dart
  catalyst_voices/packages/catalyst_voices_brands/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_brands/test/src/catalyst_voices_brands_test.dart
Owners: @minikin

clippy
  catalyst-gateway/bin/src/cardano/cip36_registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix (wip): update der parser
  catalyst-gateway/crates/c509-certificate/src/der.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix snapshot
  catalyst-gateway/bin/src/cardano/cip36_registration/mod.rs
  catalyst-gateway/tests/api_tests/snapshot_tool-56364174.json
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fmt
  catalyst-gateway/bin/src/cardano/cip36_registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fmt
  catalyst-gateway/bin/src/cardano/cip36_registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

markdown fix
  .github/ISSUE_TEMPLATE/test_plan.yml
  docs/src/architecture/10_quality/testplans/template.md
  docs/src/index.md
Owners: none

change pallas version to `catalyst` branch
  catalyst-gateway/Cargo.lock
  catalyst-gateway/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/Cargo.lock
  catalyst-gateway/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

dalek snapshot
  catalyst-gateway/tests/api_tests/snapshot_tool-56364174.json
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

dalek snapshot
  catalyst-gateway/tests/api_tests/snapshot_tool-56364174.json
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

change pallas version to `catalyst` branch (#470)
  catalyst-gateway/Cargo.lock
  catalyst-gateway/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: add sig check (#460)
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/cardano/cip36_registration/mod.rs
  catalyst-gateway/bin/src/cardano/util.rs
  catalyst-gateway/bin/src/event_db/cardano/cip36_registration/mod.rs
  catalyst-gateway/tests/api_tests/snapshot_tool-56364174.json
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

markdown fix
  docs/src/architecture/10_quality/test_reports.md
  docs/src/architecture/10_quality/testplans/template.md
Owners: none

docs(cips): Point to the new home of the RBAC CIPs.
  docs/src/catalyst-standards/draft-cips/c509-plutus-restricted-certificate/cip-509C.md
  docs/src/catalyst-standards/draft-cips/project-catalyst-x509-role-defintions/cip-catalyst-roles.md
  docs/src/catalyst-standards/draft-cips/x509-envelope-metadata/cip-509A.md
  docs/src/catalyst-standards/draft-cips/x509-rbac-signing-with-cip30/cip-x509D.md
  docs/src/catalyst-standards/draft-cips/x509-role-registration-metadata/cip-509B.md
Owners: none

fix(spelling): Fix corrupted spelling in project dictionary
  .config/dictionaries/project.dic
Owners: none

feat: Testcase and testplan templates (#466)
  .config/dictionaries/project.dic
  .github/ISSUE_TEMPLATE/test_case.yml
  .github/ISSUE_TEMPLATE/test_plan.yml
  docs/src/architecture/.pages
  docs/src/architecture/10_quality/.pages
  docs/src/architecture/10_quality/index.md
  docs/src/architecture/10_quality/quality_requirements.md
  docs/src/architecture/10_quality/test_reports.md
  docs/src/architecture/10_quality/testplans/template.md
  docs/src/index.md
Owners: none

bump pallas version
  catalyst-gateway/Cargo.lock
  catalyst-gateway/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

bump pallas version (#474)
  catalyst-gateway/Cargo.lock
  catalyst-gateway/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin
