Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: switch, dividers, progress indicators (#670)
  catalyst_voices/lib/widgets/indicators/voices_circular_progress_indicator.dart
  catalyst_voices/lib/widgets/indicators/voices_linear_progress_indicator.dart
  catalyst_voices/lib/widgets/separators/voices_divider.dart
  catalyst_voices/lib/widgets/separators/voices_text_divider.dart
  catalyst_voices/lib/widgets/separators/voices_vertical_divider.dart
  catalyst_voices/lib/widgets/toggles/voices_switch.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/widgets/toggles_theme.dart
  catalyst_voices/uikit_example/lib/examples/voices_indicators_example.dart
  catalyst_voices/uikit_example/lib/examples/voices_separators_example.dart
  catalyst_voices/uikit_example/lib/examples/voices_switch_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

feat: add catv1 auth token generator (#671)
  catalyst_voices_packages/catalyst_cardano_serialization/lib/catalyst_cardano_serialization.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/auth_token.dart
  catalyst_voices_packages/catalyst_cardano_serialization/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano_serialization/test/rbac/auth_token_test.dart
  melos.yaml
Owners: @minikin, @stevenj

feat: Stepper example previous step button
  catalyst_voices/uikit_example/lib/examples/voices_indicators_example.dart
Owners: @minikin

docs: ProcessProgressIndicator
  catalyst_voices/lib/widgets/indicators/process_progress_indicator.dart
  catalyst_voices/uikit_example/lib/examples/voices_indicators_example.dart
Owners: @minikin

refactor: Stepper example
  catalyst_voices/uikit_example/lib/examples/voices_indicators_example.dart
Owners: @minikin

feat: ProcessProgressIndicator (#673)
  catalyst_voices/lib/widgets/indicators/process_progress_indicator.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/uikit_example/lib/examples/voices_indicators_example.dart
Owners: @minikin

chore: wip
  utilities/poc_local_storage/.firebaserc
  utilities/poc_local_storage/.gitignore
  utilities/poc_local_storage/firebase.json
  utilities/poc_local_storage/package-lock.json
Owners: none

fix: flutter integration tests (#672)
  catalyst_voices/Earthfile
  catalyst_voices/test_driver/Earthfile
Owners: @minikin

feat: add missing app bars
  catalyst_voices/uikit_example/lib/examples/voices_chip_example.dart
  catalyst_voices/uikit_example/lib/examples/voices_snackbar_example.dart
Owners: @minikin

Update main.dart
  utilities/poc_local_storage/lib/main.dart
Owners: none

feat: add voices avatar
  catalyst_voices/lib/widgets/avatars/voices_avatar.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/test/widgets/avatars/voices_avatar_test.dart
  catalyst_voices/uikit_example/assets/images/robot_avatar.png
  catalyst_voices/uikit_example/lib/examples/voices_avatar_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
  catalyst_voices/uikit_example/lib/generated/assets.gen.dart
  catalyst_voices/uikit_example/pubspec.yaml
Owners: @minikin

fix: tap ripple
  catalyst_voices/lib/widgets/avatars/voices_avatar.dart
  catalyst_voices/uikit_example/lib/examples/voices_avatar_example.dart
Owners: @minikin

fix: ripple effect
  catalyst_voices/lib/widgets/avatars/voices_avatar.dart
Owners: @minikin

refactor: simplify widgets
  catalyst_voices/lib/widgets/avatars/voices_avatar.dart
Owners: @minikin

feat: UIKit avatars (#676)
  catalyst_voices/lib/widgets/avatars/voices_avatar.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/test/widgets/avatars/voices_avatar_test.dart
  catalyst_voices/uikit_example/assets/images/robot_avatar.png
  catalyst_voices/uikit_example/lib/examples/voices_avatar_example.dart
  catalyst_voices/uikit_example/lib/examples/voices_chip_example.dart
  catalyst_voices/uikit_example/lib/examples/voices_snackbar_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
  catalyst_voices/uikit_example/lib/generated/assets.gen.dart
  catalyst_voices/uikit_example/pubspec.yaml
Owners: @minikin

feat: add FilePickerService, LocalStorageService
  utilities/poc_local_storage/lib/certificate_repository.dart
  utilities/poc_local_storage/lib/file_picker_service.dart
  utilities/poc_local_storage/lib/local_storage_service.dart
  utilities/poc_local_storage/pubspec.yaml
Owners: none

chore(release): publish packages
  CHANGELOG.md
  catalyst_voices/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano_serialization/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano_serialization/pubspec.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression/CHANGELOG.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression/pubspec.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/CHANGELOG.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/pubspec.yaml
  catalyst_voices_packages/catalyst_cose/CHANGELOG.md
  catalyst_voices_packages/catalyst_cose/pubspec.yaml
Owners: @minikin, @stevenj

chore(release): publish packages (#678)
  CHANGELOG.md
  catalyst_voices/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano_serialization/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano_serialization/pubspec.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression/CHANGELOG.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression/pubspec.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/CHANGELOG.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/pubspec.yaml
  catalyst_voices_packages/catalyst_cose/CHANGELOG.md
  catalyst_voices_packages/catalyst_cose/pubspec.yaml
Owners: @minikin, @stevenj

chore: add dependency on flutter for catalyst_cardano_serialization
  catalyst_voices_packages/catalyst_cardano_serialization/pubspec.yaml
Owners: @minikin, @stevenj

docs: update packages readme
  catalyst_voices_packages/README.md
Owners: @minikin, @stevenj

docs: update requirements
  catalyst_voices_packages/README.md
Owners: @minikin, @stevenj

fix!: cardano serialization must depend on flutter (#679)
  catalyst_voices_packages/README.md
  catalyst_voices_packages/catalyst_cardano_serialization/pubspec.yaml
Owners: @minikin, @stevenj

chore(release): publish packages
  CHANGELOG.md
  catalyst_voices/pubspec.yaml
  catalyst_voices_packages/catalyst_analysis/CHANGELOG.md
  catalyst_voices_packages/catalyst_analysis/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano_serialization/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano_serialization/pubspec.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression/CHANGELOG.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression/pubspec.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression_platform_interface/CHANGELOG.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/CHANGELOG.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/pubspec.yaml
  catalyst_voices_packages/catalyst_cose/CHANGELOG.md
  catalyst_voices_packages/catalyst_cose/pubspec.yaml
Owners: @minikin, @stevenj

chore(release): publish packages
  CHANGELOG.md
  catalyst_voices/pubspec.yaml
  catalyst_voices_packages/catalyst_analysis/CHANGELOG.md
  catalyst_voices_packages/catalyst_analysis/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano_serialization/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano_serialization/pubspec.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression/CHANGELOG.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression/pubspec.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression_platform_interface/CHANGELOG.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/CHANGELOG.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/pubspec.yaml
  catalyst_voices_packages/catalyst_cose/CHANGELOG.md
  catalyst_voices_packages/catalyst_cose/pubspec.yaml
Owners: @minikin, @stevenj

chore(release): publish packages
  CHANGELOG.md
  catalyst_voices/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano_serialization/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano_serialization/pubspec.yaml
Owners: @minikin, @stevenj

feat: refactor and add earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/global-setup.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/package-lock.json
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/package.json
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/playwright.config.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/test-results/.last-run.json
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/typhon/cardano-wallet-tests.spec.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/typhon/credentials.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/typhon/seed-phrase.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/typhon/typhon-wallet-storage.txt
Owners: @minikin, @stevenj

feat: add voices text field
  catalyst_voices/lib/widgets/text_field/voices_email_text_field.dart
  catalyst_voices/lib/widgets/text_field/voices_password_text_field.dart
  catalyst_voices/lib/widgets/text_field/voices_text_field.dart
  catalyst_voices/uikit_example/lib/examples/voices_text_field_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

feat: validate text fields
  catalyst_voices/lib/widgets/text_field/voices_text_field.dart
  catalyst_voices/pubspec.yaml
Owners: @minikin

fix: calculate inputs hash from the inputs only, not from the whole utxo
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_rbac_tx.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/hashes.dart
Owners: @minikin, @stevenj

fix: tests
  catalyst_voices_packages/catalyst_cardano_serialization/test/hashes_test.dart
Owners: @minikin, @stevenj

fix: rbac txn inputs hash (#688)
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_rbac_tx.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/hashes.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/hashes_test.dart
Owners: @minikin, @stevenj

feat: add borders and tests
  catalyst_voices/lib/widgets/text_field/voices_text_field.dart
  catalyst_voices/test/widgets/text_field/voices_text_field_test.dart
  catalyst_voices/uikit_example/lib/examples/voices_text_field_example.dart
Owners: @minikin

fix: icon padding
  catalyst_voices/lib/widgets/text_field/voices_text_field.dart
Owners: @minikin

feat: make it possible to skip the suffix icon from validation
  catalyst_voices/lib/widgets/text_field/voices_text_field.dart
Owners: @minikin

feat: uikit text fields (#689)
  catalyst_voices/lib/widgets/text_field/voices_email_text_field.dart
  catalyst_voices/lib/widgets/text_field/voices_password_text_field.dart
  catalyst_voices/lib/widgets/text_field/voices_text_field.dart
  catalyst_voices/pubspec.yaml
  catalyst_voices/test/widgets/text_field/voices_text_field_test.dart
  catalyst_voices/uikit_example/lib/examples/voices_text_field_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

chore(release): publish packages (#682)
  CHANGELOG.md
  catalyst_voices/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano_serialization/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano_serialization/pubspec.yaml
Owners: @minikin, @stevenj

chore: wip
  utilities/poc_local_storage/lib/_main.dart
  utilities/poc_local_storage/lib/home_screen.dart
  utilities/poc_local_storage/lib/main.dart
  utilities/poc_local_storage/lib/password_entry_screen.dart
  utilities/poc_local_storage/lib/protected_screen.dart
  utilities/poc_local_storage/pubspec.yaml
Owners: none

chore: wip
  utilities/poc_local_storage/firebase.json
  utilities/poc_local_storage/lib/auth_service.dart
  utilities/poc_local_storage/lib/home_screen.dart
  utilities/poc_local_storage/lib/main.dart
  utilities/poc_local_storage/lib/password_entry_screen.dart
  utilities/poc_local_storage/lib/protected_screen.dart
  utilities/poc_local_storage/lib/temp/_main.dart
  utilities/poc_local_storage/lib/temp/certificate_repository.dart
  utilities/poc_local_storage/lib/temp/file_picker_service.dart
  utilities/poc_local_storage/lib/temp/local_storage_service.dart
  utilities/poc_local_storage/pubspec.yaml
Owners: none

chore: wip
  catalyst_voices/devtools_options.yaml
  utilities/poc_local_storage/lib/auth_service.dart
  utilities/poc_local_storage/lib/file_picker_service.dart
  utilities/poc_local_storage/lib/home_screen.dart
  utilities/poc_local_storage/lib/main.dart
  utilities/poc_local_storage/lib/password_entry_screen.dart
  utilities/poc_local_storage/lib/protected_screen.dart
  utilities/poc_local_storage/lib/secure_certificate_repository.dart
  utilities/poc_local_storage/lib/secure_storage_service.dart
  utilities/poc_local_storage/lib/temp/_main.dart
  utilities/poc_local_storage/lib/temp/certificate_repository.dart
  utilities/poc_local_storage/pubspec.yaml
Owners: @minikin

chore: refactor resource allocation
  utilities/poc_local_storage/analysis_options.yaml
  utilities/poc_local_storage/lib/app.dart
  utilities/poc_local_storage/lib/home_screen.dart
  utilities/poc_local_storage/lib/main.dart
  utilities/poc_local_storage/lib/protected_screen.dart
  utilities/poc_local_storage/lib/secure_certificate_repository.dart
  utilities/poc_local_storage/lib/secure_storage_service.dart
  utilities/poc_local_storage/pubspec.yaml
Owners: none

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
