Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

fix: remove simple rs
  catalyst_voices_packages/catalyst_key_derivation/lib/catalyst_key_derivation.dart
  catalyst_voices_packages/catalyst_key_derivation/lib/src/rust/api/simple.dart
  catalyst_voices_packages/catalyst_key_derivation/lib/src/rust/frb_generated.dart
  catalyst_voices_packages/catalyst_key_derivation/lib/src/rust/frb_generated.io.dart
  catalyst_voices_packages/catalyst_key_derivation/lib/src/rust/frb_generated.web.dart
  catalyst_voices_packages/catalyst_key_derivation/rust/src/api/mod.rs
  catalyst_voices_packages/catalyst_key_derivation/rust/src/api/simple.rs
  catalyst_voices_packages/catalyst_key_derivation/rust/src/frb_generated.rs
Owners: @minikin, @stevenj

test(cat-voices): smoke integration test (#898)
  catalyst_voices/integration_test/Earthfile
  catalyst_voices/integration_test/app_test.dart
  catalyst_voices/integration_test/blueprint.cue
  catalyst_voices/integration_test/main.dart
  catalyst_voices/integration_test/scenarios/login_scenario.dart
  catalyst_voices/integration_test/scenarios/robots/login_robot.dart
  catalyst_voices/test_driver/Earthfile
Owners: @minikin

fix: flutter format
  catalyst_voices_packages/catalyst_key_derivation/example/lib/main.dart
Owners: @minikin, @stevenj

docs: update README
  README.md
  catalyst_voices/README.md
Owners: @minikin

style: dart lint issues
  catalyst_voices_packages/catalyst_key_derivation/example/lib/main.dart
Owners: @minikin, @stevenj

fix: builder target
  Earthfile
  catalyst_voices/Earthfile
Owners: @minikin

fix: update paths in Earthfile
  catalyst_voices/Earthfile
Owners: @minikin

fix: uikit_example pubspec + libs examples deps override
  catalyst_voices/melos.yaml
  catalyst_voices/utilities/uikit_example/pubspec.yaml
Owners: @minikin

chore: test
  catalyst_voices/.idea/modules.xml
Owners: @minikin

chore: fix types
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/rbac/chain_root_get.rs
  catalyst-gateway/bin/src/service/api/cardano/rbac/registrations_get.rs
  catalyst-gateway/bin/src/service/api/cardano/rbac/role0_chain_root_get.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: update cspell and check markdown rules
  .markdownlint-cli2.jsonc
  cspell.json
Owners: none

fix: README formatting
  .config/dictionaries/project.dic
  README.md
Owners: none

fix: add description to module
  catalyst_voices_packages/catalyst_key_derivation/rust/src/api/mod.rs
  catalyst_voices_packages/catalyst_key_derivation/rust/src/lib.rs
Owners: @minikin, @stevenj

fix: add cspell dict
  .config/dictionaries/project.dic
Owners: none

feat: add sign data, verify sig, get pubkey
  catalyst_voices_packages/catalyst_key_derivation/rust/src/api/key_derivation/mod.rs
Owners: @minikin, @stevenj

fix: auto gen file
  catalyst_voices_packages/catalyst_key_derivation/lib/src/rust/api/key_derivation.dart
  catalyst_voices_packages/catalyst_key_derivation/lib/src/rust/frb_generated.dart
  catalyst_voices_packages/catalyst_key_derivation/lib/src/rust/frb_generated.io.dart
  catalyst_voices_packages/catalyst_key_derivation/lib/src/rust/frb_generated.web.dart
  catalyst_voices_packages/catalyst_key_derivation/rust/src/frb_generated.rs
Owners: @minikin, @stevenj

feat: add rust project setup files
  catalyst_voices_packages/catalyst_key_derivation/rust/.cargo/config.toml
  catalyst_voices_packages/catalyst_key_derivation/rust/Cargo.toml
  catalyst_voices_packages/catalyst_key_derivation/rust/clippy.toml
  catalyst_voices_packages/catalyst_key_derivation/rust/rust-toolchain.toml
  catalyst_voices_packages/catalyst_key_derivation/rust/rustfmt.toml
Owners: @minikin, @stevenj

fix: flutter example
  catalyst_voices_packages/catalyst_key_derivation/example/lib/main.dart
Owners: @minikin, @stevenj

chore: fix fmt
  catalyst-gateway/bin/src/service/api/cardano/rbac/role0_chain_root_get.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: fix openapi lints
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/rbac/registrations_get.rs
  catalyst-gateway/bin/src/service/api/cardano/rbac/role0_chain_root_get.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: build-web target path
  Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/wallet-automation/Earthfile
Owners: @minikin

fix: remove build-web target suffix separator
  catalyst_voices/Earthfile
Owners: @minikin

chore: regenerate openapi sdk
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.g.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.chopper.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.dart
Owners: @minikin

fix: wallet-automation tests target path
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/wallet-automation/Earthfile
Owners: @minikin

fix: wallet-automation builder target
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/wallet-automation/Earthfile
Owners: @minikin

fix: voices automation tests target
  catalyst_voices/apps/voices/integration_test/Earthfile
Owners: @minikin

fix: code-generator target path
  catalyst_voices/Earthfile
Owners: @minikin

feat(wip): add search endpoint
  catalyst-gateway/bin/src/service/api/legacy/v0/mod.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/search.rs
  catalyst-gateway/bin/src/service/common/objects/legacy/mod.rs
  catalyst-gateway/bin/src/service/common/objects/legacy/search.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: typo and comment
  catalyst_voices_packages/catalyst_key_derivation/lib/src/rust/api/key_derivation.dart
  catalyst_voices_packages/catalyst_key_derivation/rust/src/api/key_derivation/mod.rs
Owners: @minikin, @stevenj

fix: vscode launch.recommended paths
  .vscode/launch.recommended.json
Owners: none

feat: catalyst_voices justfile
  catalyst-gateway/.cargo/config.toml
  catalyst_voices/justfile
  justfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

test(cat-voices): playwright tests refactoring
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/.env
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/.nvmrc
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/README.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/package-lock.json
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/playwright.config.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/test-fixtures.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/tests/wallet-tests.spec.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/tests/wallets.spec.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/tsconfig.json
Owners: @minikin, @stevenj

test(cat-voices): separating utils in files
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/.env
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/utils.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/utils/extension_downloader.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/utils/extensions.ts
Owners: @minikin, @stevenj

fix: remote_widget spelling and licence checks
  catalyst_voices/melos.yaml
  cspell.json
Owners: @minikin

fix: remote_widget analyzer
  catalyst_voices/utilities/remote_widgets/example/bin/main.dart
  catalyst_voices/utilities/remote_widgets/example/pubspec.yaml
Owners: @minikin

feat: RBAC chain root and registrations queries (#1024)
  catalyst-gateway/bin/src/db/index/queries/cql/get_chain_root.cql
  catalyst-gateway/bin/src/db/index/queries/cql/get_registrations_by_chain_root.cql
  catalyst-gateway/bin/src/db/index/queries/cql/get_role0_key_chain_root.cql
  catalyst-gateway/bin/src/db/index/queries/mod.rs
  catalyst-gateway/bin/src/db/index/queries/rbac/get_chain_root.rs
  catalyst-gateway/bin/src/db/index/queries/rbac/get_registrations.rs
  catalyst-gateway/bin/src/db/index/queries/rbac/get_role0_chain_root.rs
  catalyst-gateway/bin/src/db/index/queries/rbac/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/rbac/chain_root_get.rs
  catalyst-gateway/bin/src/service/api/cardano/rbac/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/rbac/registrations_get.rs
  catalyst-gateway/bin/src/service/api/cardano/rbac/role0_chain_root_get.rs
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.g.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.chopper.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.dart
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor: move repo-catalyst-voices from root Earthfile to catalyst_voices/Earthfile
  Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/justfile
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/wallet-automation/Earthfile
Owners: @minikin

docs(docs): Add targets to make it easy to locally preview the documentation of the repo.
  docs/Earthfile
  justfile
  utilities/docs-preview/.gitignore
  utilities/docs-preview/Earthfile
  utilities/docs-preview/justfile
Owners: none

fix: restructure rust key derivation and solve dispose value
  catalyst_voices_packages/catalyst_key_derivation/example/lib/main.dart
  catalyst_voices_packages/catalyst_key_derivation/rust/src/api/key_derivation/mod.rs
Owners: @minikin, @stevenj

fix: auto gen file
  catalyst_voices_packages/catalyst_key_derivation/lib/src/rust/api/key_derivation.dart
  catalyst_voices_packages/catalyst_key_derivation/lib/src/rust/frb_generated.dart
  catalyst_voices_packages/catalyst_key_derivation/lib/src/rust/frb_generated.io.dart
  catalyst_voices_packages/catalyst_key_derivation/lib/src/rust/frb_generated.web.dart
  catalyst_voices_packages/catalyst_key_derivation/rust/src/frb_generated.rs
Owners: @minikin, @stevenj
