Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: avatar letter height
  catalyst_voices/lib/widgets/avatars/voices_avatar.dart
Owners: @minikin

fix: avatar letter height (#833)
  catalyst_voices/lib/widgets/avatars/voices_avatar.dart
Owners: @minikin

docs(backend): Improve comment
  catalyst-gateway/bin/src/db/event/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(backend): Vote Key index logic, and update comments
  catalyst-gateway/bin/src/db/index/block/cip36/insert_cip36.rs
  catalyst-gateway/bin/src/db/index/block/cip36/insert_cip36_for_vote_key.rs
  catalyst-gateway/bin/src/db/index/block/cip36/insert_cip36_invalid.rs
  catalyst-gateway/bin/src/db/index/block/cip36/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(cat-voices): Spaces drawer menu animation (#832)
  catalyst_voices/lib/pages/spaces/drawer/spaces_drawer.dart
  catalyst_voices/lib/widgets/drawer/voices_drawer.dart
  catalyst_voices/lib/widgets/headers/brand_header.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/uikit_example/lib/examples/voices_navigation_example.dart
Owners: @minikin

refactor(cat-voices): rename method
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/x509_certificate.dart
Owners: @minikin, @stevenj

general: update flutter-ci version to v3.2.04 (#834)
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/Earthfile
Owners: @minikin, @stevenj

feat(dart/catalyst_cardano_serialization): x509 self-signed certificate (#831)
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/main.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_rbac_tx.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/catalyst_cardano_serialization.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/address.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/exceptions.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/hashes.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/x509_certificate.dart
  catalyst_voices_packages/catalyst_cardano_serialization/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano_serialization/test/address_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/rbac/x509_certificate_test.dart
  melos.yaml
Owners: @minikin, @stevenj

fix(cat-voices): spaces navigation behaviour (#835)
  catalyst_voices/lib/common/ext/space_ext.dart
  catalyst_voices/lib/pages/overall_spaces/spaces_overview_list_view.dart
  catalyst_voices/lib/pages/spaces/drawer/discovery_menu.dart
  catalyst_voices/lib/pages/spaces/drawer/guest_menu.dart
  catalyst_voices/lib/pages/spaces/drawer/individual_private_campaigns.dart
  catalyst_voices/lib/pages/spaces/drawer/my_private_proposals.dart
  catalyst_voices/lib/pages/spaces/drawer/space_header.dart
  catalyst_voices/lib/pages/spaces/drawer/voting_rounds.dart
  catalyst_voices/lib/pages/workspace/workspace_page.dart
  catalyst_voices/lib/routes/routing/spaces_route.dart
  catalyst_voices/lib/routes/routing/spaces_route.g.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/space.dart
Owners: @minikin

fix(backend): Earthfile needs to be executed from root of repo, to properly pick up secrets
  catalyst-gateway/Justfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(backend): make generic saturating value converter and use it instead of type specific ones
  catalyst-gateway/bin/src/db/index/block/certs.rs
  catalyst-gateway/bin/src/db/index/block/mod.rs
  catalyst-gateway/bin/src/db/index/block/txo/mod.rs
  catalyst-gateway/bin/src/service/utilities/convert.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst_voices/integration_test/app_test.dart
  catalyst_voices/lib/configs/bootstrap.dart
Owners: @minikin

refactor: app initialization logic in tests
  catalyst_voices/integration_test/app_test.dart
  catalyst_voices/lib/configs/bootstrap.dart
Owners: @minikin

feat: bip39
  catalyst_voices/lib/common/bip39/seed_phrase.dart
  catalyst_voices/pubspec.yaml
Owners: @minikin

chore: improve FPS
  catalyst_voices/integration_test/app_test.dart
Owners: @minikin

fix: constructor
  catalyst_voices/lib/common/bip39/seed_phrase.dart
Owners: @minikin

docs: Voting ledger design (#709)
  cspell.json
  docs/src/architecture/08_concepts/immutable_ledger/.pages
  docs/src/architecture/08_concepts/immutable_ledger/cddl/block.cddl
  docs/src/architecture/08_concepts/immutable_ledger/cddl/genesis_to_prev_hash.cddl
  docs/src/architecture/08_concepts/immutable_ledger/images/ledger_schema.excalidraw
  docs/src/architecture/08_concepts/immutable_ledger/images/ledger_schema.svg
  docs/src/architecture/08_concepts/immutable_ledger/images/temporary_chain.excalidraw
  docs/src/architecture/08_concepts/immutable_ledger/images/temporary_chain.svg
  docs/src/architecture/08_concepts/immutable_ledger/ledger.md
  docs/src/catalyst-standards/cbor_tags/blake.md
Owners: none

refactor: single class
  catalyst_voices/lib/common/bip39/seed_phrase.dart
Owners: @minikin

fix: docs
  catalyst_voices/lib/common/bip39/seed_phrase.dart
Owners: @minikin

add Non-Interactive ZK Tally Proof appendix
  docs/src/architecture/08_concepts/voting_transaction/crypto.md
Owners: none

fix
  docs/src/architecture/08_concepts/voting_transaction/crypto.md
Owners: none

fix markdown check
  docs/src/architecture/08_concepts/voting_transaction/crypto.md
Owners: none

fix spelling
  docs/src/architecture/08_concepts/voting_transaction/crypto.md
Owners: none

feat: WIP - interfaces
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/lib/src/storage/lock_factor.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/storage/secure_storage_vault.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/storage/storage.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/storage/vault.dart
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
  melos.yaml
Owners: @minikin

refactor: bootstrap
  catalyst_voices/integration_test/app_test.dart
  catalyst_voices/lib/configs/bootstrap.dart
  catalyst_voices/lib/configs/main_dev.dart
  catalyst_voices/lib/configs/main_preprod.dart
  catalyst_voices/lib/configs/main_prod.dart
  catalyst_voices/lib/configs/main_qa.dart
  catalyst_voices/lib/configs/main_web.dart
Owners: @minikin

ci(general): integrates catalyst-forge
  .github/workflows/ci.yml
  blueprint.cue
  catalyst-gateway/blueprint.cue
  catalyst-gateway/event-db/blueprint.cue
  catalyst-gateway/tests/api_tests/blueprint.cue
  catalyst-gateway/tests/blueprint.cue
  catalyst-gateway/tests/schemathesis_tests/blueprint.cue
  catalyst_voices/blueprint.cue
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/blueprint.cue
  docs/blueprint.cue
  utilities/wallet-tester/blueprint.cue
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip: testing
  .github/workflows/ci.yml
Owners: none

wip: fix publish target
  catalyst_voices/Earthfile
Owners: @minikin

wip: fixes regex
  blueprint.cue
Owners: none

fix(docs): Backend API title corrected in rendered docs
  docs/src/api/cat-gateway/stoplight_template.html
Owners: none

test(cat-gateway): Add tests for float conversion and better docs about functions limitations.
  catalyst-gateway/bin/src/service/utilities/convert.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(cat-gateway): Developer lints in release mode, and also refer to correct local release binary
  catalyst-gateway/Justfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(cat-gateway): CIP36 index schema error
  catalyst-gateway/bin/src/db/index/schema/cql/cip36_registration.cql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs(cat-voices): bootstrap docs
  catalyst_voices/lib/configs/bootstrap.dart
Owners: @minikin

refactor(cat-voices): cleanup
  catalyst_voices/lib/configs/bootstrap.dart
Owners: @minikin

refactor(cat-voices): lints
  catalyst_voices/integration_test/app_test.dart
Owners: @minikin

docs(cat-voices): add more documentation
  catalyst_voices/lib/configs/bootstrap.dart
Owners: @minikin

refactor(cat-voices): cleanup
  catalyst_voices/lib/configs/bootstrap.dart
Owners: @minikin

refactor(cat-voices): cleanup
  catalyst_voices/lib/configs/bootstrap.dart
Owners: @minikin

refactor(cat-voices): cleanup name
  catalyst_voices/integration_test/app_test.dart
Owners: @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
