Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

wip
  catalyst-gateway/tests/api_tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(initial cddl parsing ): wip
  catalyst-gateway/bin/src/cddl/mod.rs
  catalyst-gateway/bin/src/event_db/voter_registration.rs
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/bin/src/main.rs
  catalyst-gateway/bin/src/registration/61284.cddl
  catalyst-gateway/bin/src/registration/61285.cddl
  catalyst-gateway/bin/src/registration/cip36.cddl
  catalyst-gateway/bin/src/registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/event-db/migrations/V1__config_tables.sql
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst-gateway/tests/api_tests/api_tests/test_utxo.py
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/tests/api_tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/tests/api_tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: minor
  utilities/wallet-tester/src/common/helpers/buildUnsignedTx.ts
  utilities/wallet-tester/src/modules/SignTxPanel.tsx
Owners: none

feat: cleanup
  utilities/wallet-tester/Earthfile
  utilities/wallet-tester/src/common/components/Combobox.tsx
  utilities/wallet-tester/src/common/components/TxBuilder.tsx
  utilities/wallet-tester/src/common/helpers/buildUnsignedTx.ts
  utilities/wallet-tester/src/modules/SignTxPanel.tsx
  utilities/wallet-tester/src/types/cardano.ts
Owners: none

chore: remove unused comment
  utilities/wallet-tester/src/common/helpers/buildUnsignedTx.ts
Owners: none

fix: cspell
  utilities/wallet-tester/src/common/components/TxBuilder.tsx
  utilities/wallet-tester/src/common/helpers/buildUnsignedTx.ts
  utilities/wallet-tester/src/modules/SignTxPanel.tsx
  utilities/wallet-tester/src/types/cardano.ts
Owners: none

feat: Scaffold CatalystGateway repository.
  catalyst_voices/packages/catalyst_voices_repositories/lib/src/catalyst_data_gateway_repository.dart
  catalyst_voices/packages/catalyst_voices_repositories/pubspec.yaml
Owners: @minikin

fixซ: mdlint
  utilities/wallet-tester/README.md
Owners: none

fix: cert fields len
  utilities/wallet-tester/src/common/components/TxBuilder.tsx
Owners: none

feat(initial cddl parsing ): wip
  catalyst-gateway/bin/src/event_db/voter_registration.rs
  catalyst-gateway/bin/src/registration/mod.rs
  catalyst-gateway/event-db/migrations/V6__registration.sql
  catalyst-gateway/event-db/queries/voter_registration/insert_voter_registration.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Update docs/src/catalyst-standards/draft-cips/c509-plutus-restricted-certificate/c509-cert-plutus-restricted.cddl
  docs/src/catalyst-standards/draft-cips/c509-plutus-restricted-certificate/c509-cert-plutus-restricted.cddl
Owners: none

Update docs/src/catalyst-standards/draft-cips/c509-plutus-restricted-certificate/c509-cert-plutus-restricted.cddl
  docs/src/catalyst-standards/draft-cips/c509-plutus-restricted-certificate/c509-cert-plutus-restricted.cddl
Owners: none

Update docs/src/catalyst-standards/draft-cips/x509-role-registration-metadata/x509-roles.cddl
  docs/src/catalyst-standards/draft-cips/x509-role-registration-metadata/x509-roles.cddl
Owners: none

Update docs/src/catalyst-standards/draft-cips/x509-role-registration-metadata/x509-roles.cddl
  docs/src/catalyst-standards/draft-cips/x509-role-registration-metadata/x509-roles.cddl
Owners: none

Update docs/src/catalyst-standards/draft-cips/x509-envelope-metadata/x509-envelope.cddl
  docs/src/catalyst-standards/draft-cips/x509-envelope-metadata/x509-envelope.cddl
Owners: none

Update docs/src/catalyst-standards/draft-cips/x509-envelope-metadata/x509-envelope.cddl
  docs/src/catalyst-standards/draft-cips/x509-envelope-metadata/x509-envelope.cddl
Owners: none

Update docs/src/catalyst-standards/draft-cips/x509-envelope-metadata/x509-envelope.cddl
  docs/src/catalyst-standards/draft-cips/x509-envelope-metadata/x509-envelope.cddl
Owners: none

Update docs/src/catalyst-standards/draft-cips/c509-plutus-restricted-certificate/c509-cert-plutus-restricted.cddl
  docs/src/catalyst-standards/draft-cips/c509-plutus-restricted-certificate/c509-cert-plutus-restricted.cddl
Owners: none

feat(initial cddl parsing ): wip
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(initial cddl parsing ): wip
  catalyst-gateway/bin/src/event_db/legacy/types/event.rs
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/bin/src/registration/mod.rs
  catalyst-gateway/bin/src/service/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(initial cddl parsing ): wip
  catalyst-gateway/bin/src/registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(initial cddl parsing ): wip
  catalyst-gateway/bin/src/event_db/voter_registration.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/Earthfile
  catalyst-gateway/bin/src/event_db/utxo.rs
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(initial cddl parsing ): wip
  catalyst-gateway/bin/src/event_db/voter_registration.rs
  catalyst-gateway/bin/src/registration/mod.rs
  catalyst-gateway/event-db/queries/voter_registration/insert_voter_registration.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(initial cddl parsing ): wip
  catalyst-gateway/bin/src/registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(initial cddl parsing ): wip
  catalyst-gateway/bin/src/registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(initial cddl parsing ): wip
  catalyst-gateway/bin/src/registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(initial cddl parsing ): wip
  catalyst-gateway/bin/src/registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(initial cddl parsing ): wip
  catalyst-gateway/bin/src/registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(initial cddl parsing ): wip
  catalyst-gateway/bin/src/event_db/voter_registration.rs
  catalyst-gateway/bin/src/registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(initial cddl parsing ): wip
  catalyst-gateway/bin/src/event_db/voter_registration.rs
  catalyst-gateway/event-db/queries/voter_registration/insert_voter_registration.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(initial cddl parsing ): wip
  catalyst-gateway/bin/src/event_db/voter_registration.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(initial cddl parsing ): wip
  catalyst-gateway/bin/src/registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(initial cddl parsing ): wip
  catalyst-gateway/bin/src/registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(initial cddl parsing ): wip
  catalyst-gateway/bin/src/registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(initial cddl parsing ): wip
  catalyst-gateway/bin/src/registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(initial cddl parsing ): wip
  catalyst-gateway/bin/src/registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin
