Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

Update flitter-mobile-integration-test.yml
  .github/workflows/flitter-mobile-integration-test.yml
Owners: none

Update flitter-mobile-integration-test.yml
  .github/workflows/flitter-mobile-integration-test.yml
Owners: none

Update flutter_android_integration_test.sh
  scripts/flutter_android_integration_test.sh
Owners: none

wip: iOS build
  .github/workflows/flitter-mobile-integration-test.yml
  docs/FLUTTER_INTEGRATION_TEST.md
  scripts/flutter_android_integration_test.sh
  scripts/flutter_ios_integration_test.sh
Owners: none

feat(backend): Start work redefining the event db for catalyst voices.
  catalyst-gateway/event-db/migrations/V1__config_tables.sql
  catalyst-gateway/event-db/migrations/V2__event_tables.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs(docs): Use the published versions from Catalyst-CI
  .github/workflows/docs.yml
  docs/Earthfile
Owners: none

docs(docs): Ensure we do not try and clean docs while building them.
  .github/workflows/branch-delete-cleanup.yml
Owners: none

docs(docs): Ensure we don't try and build docs simultaneously, Don't build docs for tags.
  .github/workflows/docs.yml
Owners: none

ci(mdlint): Use tagged CI versions for stability
  .github/workflows/markdown-check.yml
Owners: none

ci(spelling): Use tagged CI versions for stability
  .github/workflows/spell-check.yml
Owners: none

feat(docs): Add documentation/gh-pages using Catalyst-CI docs builders and actions. (#104)
  .config/dictionaries/project.dic
  .github/workflows/branch-delete-cleanup.yml
  .github/workflows/docs.yml
  .github/workflows/markdown-check.yml
  .github/workflows/spell-check.yml
  .gitignore
  .vscode/settings.recommended.json
  Earthfile
  docs/Earthfile
  docs/mkdocs.yml
  docs/src/appendix/important/coc.md
  docs/src/appendix/important/contributing.md
  docs/src/appendix/important/index.md
  docs/src/appendix/important/license.md
  docs/src/appendix/important/security.md
  docs/src/appendix/index.md
  docs/src/catalyst-standards/ballot/catalyst-v1.md
  docs/src/catalyst-standards/ballot/catalyst-v2.md
  docs/src/catalyst-standards/ballot/index.md
  docs/src/catalyst-standards/draft-cips/.meta.yml
  docs/src/catalyst-standards/draft-cips/catalyst-vote-signing-cip30-extension/.meta.yml
  docs/src/catalyst-standards/draft-cips/catalyst-vote-signing-cip30-extension/cip-xxxx.md
  docs/src/catalyst-standards/draft-cips/index.md
  docs/src/catalyst-standards/draft-cips/rbac-cip30-extension/.meta.yml
  docs/src/catalyst-standards/draft-cips/rbac-cip30-extension/cip-xxxx.md
  docs/src/catalyst-standards/draft-cips/role-registration/.meta.yml
  docs/src/catalyst-standards/draft-cips/role-registration/cip-xxxx.md
  docs/src/catalyst-standards/index.md
  docs/src/getting-started/advanced.md
  docs/src/getting-started/development.md
  docs/src/getting-started/index.md
  docs/src/getting-started/quick-start.md
  docs/src/important/coc.md
  docs/src/important/contributing.md
  docs/src/important/index.md
  docs/src/important/license.md
  docs/src/important/security.md
  docs/src/index.md
  docs/src/monorepo-architecture/index.md
Owners: none

Update flutter_ios_integration_test.sh
  scripts/flutter_ios_integration_test.sh
Owners: none

add linting
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/event-db/historic_data/fund_0.sql
  catalyst-gateway/event-db/historic_data/fund_1.sql
  catalyst-gateway/event-db/migrations/V1__config_tables.sql
  catalyst-gateway/event-db/migrations/V2__event_tables.sql
  catalyst-gateway/event-db/migrations/V3__objective_tables.sql
  catalyst-gateway/event-db/migrations/V4__proposal_tables.sql
  catalyst-gateway/event-db/migrations/V5__vote_plan.sql
  catalyst-gateway/event-db/migrations/V6__snapshot_tables.sql
  catalyst-gateway/event-db/migrations/V7__vote_tables.sql
  catalyst-gateway/event-db/migrations/V8__catalyst_automation.sql
  catalyst-gateway/event-db/migrations/V9__moderation_stage.sql
  catalyst-gateway/event-db/stage_data/dev/00001_testfund_event.sql
  catalyst-gateway/event-db/stage_data/dev/00002_testfund_ideascale_params.sql
  catalyst-gateway/event-db/stage_data/testnet/00001_fund10_event.sql
  catalyst-gateway/event-db/stage_data/testnet/00002_fund10_ideascale_params.sql
  catalyst-gateway/event-db/test_data/01_event_table.sql
  catalyst-gateway/event-db/test_data/02_snapshot_table.sql
  catalyst-gateway/event-db/test_data/03_voter_table.sql
  catalyst-gateway/event-db/test_data/04_contribution_table.sql
  catalyst-gateway/event-db/test_data/05_goal_table.sql
  catalyst-gateway/event-db/test_data/06_objective_table.sql
  catalyst-gateway/event-db/test_data/07_voteplan_table.sql
  catalyst-gateway/event-db/test_data/08_proposal_table.sql
  catalyst-gateway/event-db/test_data/09_proposal_review_table.sql
  catalyst-gateway/event-db/test_data/10_review_rating_table.sql
  catalyst-gateway/event-db/test_data/11_objective_review_metric_table.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs(docs): Edit docs so we test deployment
  docs/src/monorepo-architecture/index.md
Owners: none

fix(docs): Try and force docs to build for all branches, but not for any tags
  .github/workflows/docs.yml
Owners: none

fix(docs): Revert docs to build on any push and see if they start building again.
  .github/workflows/docs.yml
Owners: none

fix(docs): Use latest workflow from catalyst-ci for docs
  .github/workflows/docs.yml
Owners: none

add new endpoint
  catalyst-gateway/bin/src/service/api/v0/mod.rs
  catalyst-gateway/bin/src/service/api/v0/plans_get.rs
  catalyst-gateway/bin/src/service/api/v1/account_votes_get.rs
  catalyst-gateway/bin/src/service/common/objects/mod.rs
  catalyst-gateway/bin/src/service/common/objects/vote_plan.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(docs): Docs should build for any branch but never for a tag.
  .github/workflows/docs.yml
Owners: none

fix(docs): Need double quotes for branches to work properly
  .github/workflows/docs.yml
Owners: none

fix(docs): Test that github actions for docs complete properly on merge to main. (#132)
  .github/workflows/docs.yml
  docs/src/monorepo-architecture/index.md
Owners: none

Update flutter_ios_integration_test.sh
  scripts/flutter_ios_integration_test.sh
Owners: none

wip ios
  .github/workflows/flitter-mobile-integration-test.yml
  scripts/flutter_ios_integration_test.sh
Owners: none

add VotePlan object
  catalyst-gateway/bin/src/service/api/v0/plans_get.rs
  catalyst-gateway/bin/src/service/common/objects/vote_plan.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

update iOS project and tests
  catalyst_voices/ios/Runner.xcodeproj/project.pbxproj
  scripts/flutter_ios_integration_test.sh
Owners: @minikin

update ios
  .github/workflows/flitter-mobile-integration-test.yml
  catalyst_voices/ios/Runner.xcodeproj/project.pbxproj
  scripts/flutter_ios_integration_test.sh
Owners: @minikin

docs(docs): Add a small doc change
  docs/src/catalyst-standards/index.md
Owners: none

update
  catalyst-gateway/bin/src/service/common/objects/vote_plan.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix fmt
  catalyst-gateway/bin/src/service/common/objects/vote_plan.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Update flutter_ios_integration_test.sh
  scripts/flutter_ios_integration_test.sh
Owners: none

fix version
  catalyst-gateway/event-db/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

ci(docs): Make branch doc deletion like branch doc creation.
  .github/workflows/branch-delete-cleanup.yml
Owners: none

Update flitter-mobile-integration-test.yml
  .github/workflows/flitter-mobile-integration-test.yml
Owners: none

docs(docs): fix spelling issues
  .github/workflows/branch-delete-cleanup.yml
Owners: none

feat(docs): Make Branch documentation deletion the same as creation. (#133)
  .github/workflows/branch-delete-cleanup.yml
  docs/src/catalyst-standards/index.md
Owners: none

refactor
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/logger.rs
  catalyst-gateway/bin/src/main.rs
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/service/common/responses/resp_5xx.rs
  catalyst-gateway/bin/src/service/docs/mod.rs
  catalyst-gateway/bin/src/service/poem_service.rs
  catalyst-gateway/bin/src/service/utilities/middleware/tracing_mw.rs
  catalyst-gateway/bin/src/service_settings.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

add Docs settings
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/main.rs
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/service/common/responses/resp_5xx.rs
  catalyst-gateway/bin/src/service/docs/mod.rs
  catalyst-gateway/bin/src/service/mod.rs
  catalyst-gateway/bin/src/service/poem_service.rs
  catalyst-gateway/bin/src/service/utilities/middleware/tracing_mw.rs
  catalyst-gateway/bin/src/settings.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

finilize
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/settings.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

cleanup docker-compose file
  catalyst-gateway/event-db/docker-compose.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix fmt
  catalyst-gateway/bin/src/settings.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin
