Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

fix: add c509 cert module
  catalyst-gateway/crates/c509-certificate/src/c509-cert.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add x690 der
  catalyst-gateway/crates/c509-certificate/src/der.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor: Refactor cardano cip36 registration parts. (#443)
  catalyst-gateway/bin/src/cardano/cip36_registration/cip36.cddl
  catalyst-gateway/bin/src/cardano/cip36_registration/cip36_registration.cddl
  catalyst-gateway/bin/src/cardano/cip36_registration/cip36_witness.cddl
  catalyst-gateway/bin/src/cardano/cip36_registration/mod.rs
  catalyst-gateway/bin/src/cardano/mod.rs
  catalyst-gateway/bin/src/cardano/registration/61284.cddl
  catalyst-gateway/bin/src/cardano/registration/61285.cddl
  catalyst-gateway/bin/src/cardano/registration/mod.rs
  catalyst-gateway/bin/src/event_db/cardano/chain_state/insert_slot_index.sql
  catalyst-gateway/bin/src/event_db/cardano/chain_state/insert_update_state.sql
  catalyst-gateway/bin/src/event_db/cardano/chain_state/mod.rs
  catalyst-gateway/bin/src/event_db/cardano/chain_state/select_slot_info_by_datetime.sql.hbs
  catalyst-gateway/bin/src/event_db/cardano/chain_state/select_update_state.sql
  catalyst-gateway/bin/src/event_db/cardano/cip36_registration/insert_cip36_registration.sql
  catalyst-gateway/bin/src/event_db/cardano/cip36_registration/mod.rs
  catalyst-gateway/bin/src/event_db/cardano/cip36_registration/select_cip36_registration.sql
  catalyst-gateway/bin/src/event_db/cardano/mod.rs
  catalyst-gateway/bin/src/event_db/cardano/utxo/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/date_time_to_slot_number_get.rs
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/registration_get.rs
  catalyst-gateway/bin/src/service/api/cardano/staked_ada_get.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/registration_info.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/slot_info.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/stake_info.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/sync_state.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix config fetching
  catalyst-gateway/bin/src/cardano/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor
  catalyst-gateway/bin/src/cardano/cip36_registration/mod.rs
  catalyst-gateway/bin/src/event_db/cardano/cip36_registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

add cddl validation
  catalyst-gateway/bin/src/cardano/cip36_registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix cddl
  catalyst-gateway/bin/src/cardano/cip36_registration/cip36_registration.cddl
  catalyst-gateway/bin/src/cardano/cip36_registration/cip36_witness.cddl
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor: Small improving of the cip36 parsing (#450)
  catalyst-gateway/bin/src/cardano/cip36_registration/cip36_registration.cddl
  catalyst-gateway/bin/src/cardano/cip36_registration/cip36_witness.cddl
  catalyst-gateway/bin/src/cardano/cip36_registration/mod.rs
  catalyst-gateway/bin/src/cardano/mod.rs
  catalyst-gateway/bin/src/event_db/cardano/cip36_registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix issue for schemathesis running
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/docker-compose.yml
  catalyst-gateway/tests/schemathesis-docker-compose.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

add new ErrorMessage type
  catalyst-gateway/bin/src/service/common/objects/error_message.rs
  catalyst-gateway/bin/src/service/common/objects/mod.rs
  catalyst-gateway/bin/src/service/common/responses/resp_4xx.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  docs/src/architecture/10_quality_requirements.md
Owners: none

wip
  docs/src/architecture/10_quality_requirements.md
Owners: none

chore: update catalyst_voices earthly file to always take source files from an artifact instead of build context
  catalyst_voices/Earthfile
Owners: @minikin

chore: random change to trigger rebuild
  catalyst_voices/packages/catalyst_voices_view_models/README.md
Owners: @minikin

chore: run code-generator
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.g.dart
Owners: @minikin

fix: typo
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/lib/src/catalyst_cardano_platform.dart
Owners: @minikin, @stevenj

chore: update catalyst_voices earthly file to always take source files from an artifact instead of build context (#455)
  catalyst_voices/Earthfile
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.g.dart
Owners: @minikin

feat: some fix
  .config/dictionaries/project.dic
  docs/src/architecture/01_introduction_and_goals.md
  docs/src/architecture/10_quality_requirements.md
Owners: none

feat: some fix
  docs/src/architecture/10_quality_requirements.md
Owners: none

refactor health endpoints
  catalyst-gateway/bin/src/service/api/health/live_get.rs
  catalyst-gateway/bin/src/service/api/health/mod.rs
  catalyst-gateway/bin/src/service/api/health/ready_get.rs
  catalyst-gateway/bin/src/service/api/health/started_get.rs
  catalyst-gateway/bin/src/service/common/objects/mod.rs
  catalyst-gateway/bin/src/service/common/objects/server_error.rs
  catalyst-gateway/bin/src/service/common/responses/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

remove unused test endpoints
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/service/api/test_endpoints/mod.rs
  catalyst-gateway/bin/src/service/api/test_endpoints/test_get.rs
  catalyst-gateway/bin/src/service/api/test_endpoints/test_post.rs
  catalyst-gateway/bin/src/service/common/tags.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor legacy endpoints
  catalyst-gateway/bin/src/service/api/legacy/registration/mod.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/message_post.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/plans_get.rs
  catalyst-gateway/bin/src/service/api/legacy/v1/account_votes_get.rs
  catalyst-gateway/bin/src/service/api/legacy/v1/fragments_post.rs
  catalyst-gateway/bin/src/service/api/legacy/v1/fragments_statuses.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor(add 61284 sig check): verify msg vs pub key
  catalyst-gateway/Cargo.lock
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/cardano/cip36_registration/mod.rs
  catalyst-gateway/bin/src/cardano/util.rs
  catalyst-gateway/bin/src/event_db/cardano/cip36_registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor(add 61284 sig check): verify msg vs pub key
  catalyst-gateway/bin/src/cardano/cip36_registration/mod.rs
  catalyst-gateway/bin/src/cardano/util.rs
  catalyst-gateway/bin/src/event_db/cardano/cip36_registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor(add 61284 sig check): verify msg vs pub key
  catalyst-gateway/bin/src/cardano/cip36_registration/mod.rs
  catalyst-gateway/bin/src/cardano/util.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor(add 61284 sig check): verify msg vs pub key
  catalyst-gateway/bin/src/cardano/cip36_registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: Quality docs (#458)
  .config/dictionaries/project.dic
  docs/src/architecture/01_introduction_and_goals.md
  docs/src/architecture/10_quality_requirements.md
Owners: none

refactor catalyst endpoints, use a fixed version of poem
  catalyst-gateway/Cargo.lock
  catalyst-gateway/Cargo.toml
  catalyst-gateway/bin/src/service/api/cardano/date_time_to_slot_number_get.rs
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/registration_get.rs
  catalyst-gateway/bin/src/service/api/cardano/staked_ada_get.rs
  catalyst-gateway/bin/src/service/api/cardano/sync_state_get.rs
  catalyst-gateway/bin/src/service/common/objects/mod.rs
  catalyst-gateway/bin/src/service/common/objects/validation_error.rs
  catalyst-gateway/bin/src/service/common/responses/mod.rs
  catalyst-gateway/bin/src/service/common/responses/resp_2xx.rs
  catalyst-gateway/bin/src/service/common/responses/resp_4xx.rs
  catalyst-gateway/bin/src/service/common/responses/resp_5xx.rs
  catalyst-gateway/bin/src/service/utilities/catch_panic.rs
  catalyst-gateway/bin/src/service/utilities/middleware/schema_validation.rs
  catalyst-gateway/bin/src/service/utilities/middleware/tracing_mw.rs
  catalyst-gateway/bin/src/service/utilities/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

remove poem-extensions crate
  catalyst-gateway/Cargo.lock
  catalyst-gateway/Cargo.toml
  catalyst-gateway/bin/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

update dart code
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.enums.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.g.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.chopper.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.dart
Owners: @minikin

fix fmt
  catalyst-gateway/bin/src/service/common/objects/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

test ci
  catalyst-gateway/bin/src/cardano/cip36_registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

test ci
  catalyst-gateway/bin/src/cardano/cip36_registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

test ci
  catalyst-gateway/bin/src/cardano/cip36_registration/mod.rs
  catalyst-gateway/bin/src/cardano/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

ci test
  catalyst-gateway/bin/src/cardano/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: wip TLV extract value
  catalyst-gateway/crates/c509-certificate/src/der.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: add comment on TLV length
  catalyst-gateway/crates/c509-certificate/src/der.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  .github/ISSUE_TEMPLATE/test_case.yml
Owners: none

provide a common ErrorResponses type and convinient other abstractions
  catalyst-gateway/Cargo.lock
  catalyst-gateway/Cargo.toml
  catalyst-gateway/bin/src/service/api/cardano/date_time_to_slot_number_get.rs
  catalyst-gateway/bin/src/service/api/cardano/registration_get.rs
  catalyst-gateway/bin/src/service/api/cardano/staked_ada_get.rs
  catalyst-gateway/bin/src/service/api/cardano/sync_state_get.rs
  catalyst-gateway/bin/src/service/api/health/live_get.rs
  catalyst-gateway/bin/src/service/api/health/ready_get.rs
  catalyst-gateway/bin/src/service/api/health/started_get.rs
  catalyst-gateway/bin/src/service/common/objects/validation_error.rs
  catalyst-gateway/bin/src/service/common/responses/mod.rs
  catalyst-gateway/bin/src/service/utilities/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

enable schematisis test
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin
