Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs(cips): Fix time and algorithm comments
  docs/src/catalyst-standards/draft-cips/c509-plutus-restricted-certificate/c509-cert-plutus-restricted.cddl
Owners: none

build(frontend): Relax flutter/dart version requirements to last minor release
  catalyst_voices/packages/catalyst_voices_assets/example/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_assets/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_localization/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_repositories/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_view_models/pubspec.yaml
  catalyst_voices/pubspec.yaml
  catalyst_voices_packages/catalyst_analysis/example/pubspec.yaml
  catalyst_voices_packages/catalyst_analysis/pubspec.yaml
  melos.yaml
  pubspec.yaml
Owners: @minikin, @stevenj

add stake addr bech32 encode utils function
  catalyst-gateway/tests/api_tests/api_tests/test_utils.py
  catalyst-gateway/tests/api_tests/api_tests/utils.py
  catalyst-gateway/tests/api_tests/poetry.lock
  catalyst-gateway/tests/api_tests/pyproject.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(initial cddl parsing ): wip
  Earthfile
  catalyst-gateway/Cargo.lock
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/event_db/voter_registration.rs
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/bin/src/main.rs
  catalyst-gateway/bin/src/registration/61284.cddl
  catalyst-gateway/bin/src/registration/61285.cddl
  catalyst-gateway/bin/src/registration/cip36.cddl
  catalyst-gateway/bin/src/registration/mod.rs
  catalyst-gateway/event-db/migrations/V6__registration.sql
  catalyst-gateway/event-db/queries/voter_registration/insert_voter_registration.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(bump ci release)
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: docs: earthfile
  utilities/wallet-tester/Earthfile
Owners: none

wip
  catalyst-gateway/tests/api_tests/api_tests/utils.py
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/tests/api_tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

ci
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/mithril_snapshot_loader/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(bump ci release)
  catalyst-gateway/event-db/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

update indexing of the utxo data
  catalyst-gateway/bin/src/event_db/error.rs
  catalyst-gateway/bin/src/event_db/utxo.rs
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/bin/src/util.rs
  catalyst-gateway/event-db/migrations/V6__registration.sql
  catalyst-gateway/event-db/queries/utxo/insert_txn_index.sql
  catalyst-gateway/event-db/queries/utxo/insert_utxo.sql
  catalyst-gateway/event-db/queries/utxo/update_utxo.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(cip36): reg capture
  catalyst-gateway/bin/src/event_db/legacy/types/event.rs
  catalyst-gateway/bin/src/registration/mod.rs
  catalyst-gateway/bin/src/service/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(cip36): reg capture
  catalyst-gateway/bin/src/event_db/voter_registration.rs
  catalyst-gateway/bin/src/registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix spelling
  catalyst-gateway/tests/api_tests/api_tests/test_utils.py
  catalyst-gateway/tests/api_tests/api_tests/utils.py
  catalyst-gateway/tests/api_tests/pyproject.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(cip36): reg capture
  docs/Earthfile
Owners: none

feat(cip36): reg capture
  Earthfile
  docs/Earthfile
Owners: none

fix(ci): cspell
  catalyst-gateway/bin/src/registration/mod.rs
  cspell.json
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(initial cddl parsing ): wip
  catalyst-gateway/bin/src/registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix cspell
  cspell.json
Owners: none

chore: fix warnings
   utilities/catalyst_voices_remote_widgets/analysis_options.yaml
   utilities/catalyst_voices_remote_widgets/example/lib/src/home_page.dart
   utilities/catalyst_voices_remote_widgets/example/lib/src/remote_form.dart
   utilities/catalyst_voices_remote_widgets/example/pubspec.yaml
   utilities/catalyst_voices_remote_widgets/lib/src/core/catalyst_core.dart
   utilities/catalyst_voices_remote_widgets/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_models/analysis_options.yaml
  catalyst_voices_packages/catalyst_analysis/example/analysis_options.yaml
  catalyst_voices_packages/catalyst_analysis/example/pubspec_overrides.yaml
  catalyst_voices_packages/catalyst_analysis/lib/analysis_options.yaml
  melos.yaml
Owners: @minikin, @stevenj

Update pubspec.yaml
  catalyst_voices_packages/catalyst_analysis/pubspec.yaml
Owners: @minikin, @stevenj

Update cspell.json
  cspell.json
Owners: none

Update cspell.json
  cspell.json
Owners: none

Update cspell.json
  cspell.json
Owners: none

Update cspell.json
  cspell.json
Owners: none

fix cspell
  cspell.json
Owners: none

fix cspell
  cspell.json
Owners: none

fix cspell
  catalyst-gateway/event-db/queries/voter_registration/insert_voter_registration.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix cspell
  catalyst-gateway/mithril_snapshot_loader/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: improve schemathesis logs
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

adds issue url
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix cspell
  cspell.json
Owners: none

fix cspell
  catalyst-gateway/bin/src/registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix cspell
  catalyst-gateway/bin/src/registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix cspell
  cspell.json
Owners: none

fix: restore checks
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix cspell
  catalyst-gateway/event-db/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix cspell
  .config/dictionaries/project.dic
Owners: none

fix cspell
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix cspell
  catalyst-gateway/bin/src/registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
