Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

fix: delete files
  catalyst-gateway-crates/c509-certificate/src/c509_cert.rs
  catalyst-gateway-crates/c509-certificate/src/c509_enum.rs
  catalyst-gateway-crates/c509-certificate/src/cbor_encoder.rs
  catalyst-gateway-crates/c509-certificate/src/extensions/alt_name.rs
  catalyst-gateway-crates/c509-certificate/src/extensions/mod.rs
  catalyst-gateway-crates/c509-certificate/src/lib.rs
Owners: none

fix: update flutter-ci version
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
Owners: @minikin

Update Earthfile
  catalyst_voices/Earthfile
Owners: @minikin

fix: update flutter-ci version (#572)
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
Owners: @minikin

feat: add sentry (#564)
  .github/workflows/build-flutter-web.yml
  .vscode/launch.recommended.json
  catalyst_voices/Earthfile
  catalyst_voices/README.md
  catalyst_voices/lib/configs/bootstrap.dart
  catalyst_voices/lib/configs/sentry_service.dart
  catalyst_voices/lib/routes/app_router.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/common/build_config.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/common/build_environment.dart
  catalyst_voices/pubspec.yaml
Owners: @minikin

feat: add macos
  catalyst_voices/.metadata
  catalyst_voices/catalyst_voices.iml
  catalyst_voices/macos/.gitignore
  catalyst_voices/macos/Flutter/Flutter-Debug.xcconfig
  catalyst_voices/macos/Flutter/Flutter-Release.xcconfig
  catalyst_voices/macos/Flutter/GeneratedPluginRegistrant.swift
  catalyst_voices/macos/Podfile
  catalyst_voices/macos/Runner.xcodeproj/project.pbxproj
  catalyst_voices/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  catalyst_voices/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  catalyst_voices/macos/Runner.xcworkspace/contents.xcworkspacedata
  catalyst_voices/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  catalyst_voices/macos/Runner/AppDelegate.swift
  catalyst_voices/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  catalyst_voices/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  catalyst_voices/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  catalyst_voices/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  catalyst_voices/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  catalyst_voices/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  catalyst_voices/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  catalyst_voices/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  catalyst_voices/macos/Runner/Base.lproj/MainMenu.xib
  catalyst_voices/macos/Runner/Configs/AppInfo.xcconfig
  catalyst_voices/macos/Runner/Configs/Debug.xcconfig
  catalyst_voices/macos/Runner/Configs/Release.xcconfig
  catalyst_voices/macos/Runner/Configs/Warnings.xcconfig
  catalyst_voices/macos/Runner/DebugProfile.entitlements
  catalyst_voices/macos/Runner/Info.plist
  catalyst_voices/macos/Runner/MainFlutterWindow.swift
  catalyst_voices/macos/Runner/Release.entitlements
  catalyst_voices/macos/RunnerTests/RunnerTests.swift
Owners: @minikin

fix(wip): handle extensions
  catalyst-gateway-crates/c509-certificate/Cargo.toml
  catalyst-gateway-crates/c509-certificate/src/c509_extension.rs
Owners: none

fix: don't trigger uikit deploy needlessly
  .github/workflows/flutter-uikit-example-firebase-deploy.yml
  catalyst_voices/uikit_example/Earthfile
Owners: @minikin

fix: disable extensions encode and decode
  catalyst-gateway-crates/c509-certificate/src/c509_extension.rs
Owners: none

fix: testplan link
  docs/src/architecture/10_quality/testplans/flutter_cardano_integration.md
Owners: none

chore: disable broken tests
  catalyst_voices/test_driver/Earthfile
Owners: @minikin

feat: Add wallet automation test plan (#543)
  .config/dictionaries/project.dic
  docs/src/architecture/10_quality/testplans/flutter_cardano_integration.md
Owners: none

chore: disabled dependent target
  catalyst_voices/test_driver/Earthfile
Owners: @minikin

fix: don't trigger uikit deploy needlessly (#574)
  .github/workflows/flutter-uikit-example-firebase-deploy.yml
  catalyst_voices/test_driver/Earthfile
  catalyst_voices/uikit_example/Earthfile
Owners: @minikin

chore(macod): update macos project
  catalyst_voices/macos/Podfile.lock
  catalyst_voices/macos/Runner.xcodeproj/project.pbxproj
  catalyst_voices/macos/Runner.xcworkspace/contents.xcworkspacedata
  catalyst_voices/macos/Runner/DebugProfile.entitlements
Owners: @minikin

Update project.dic
  .config/dictionaries/project.dic
Owners: none

Update launch.recommended.json
  .vscode/launch.recommended.json
Owners: none

feat: add macos target (#577)
  .config/dictionaries/project.dic
  .vscode/launch.recommended.json
  catalyst_voices/.metadata
  catalyst_voices/catalyst_voices.iml
  catalyst_voices/macos/.gitignore
  catalyst_voices/macos/Flutter/Flutter-Debug.xcconfig
  catalyst_voices/macos/Flutter/Flutter-Release.xcconfig
  catalyst_voices/macos/Flutter/GeneratedPluginRegistrant.swift
  catalyst_voices/macos/Podfile
  catalyst_voices/macos/Podfile.lock
  catalyst_voices/macos/Runner.xcodeproj/project.pbxproj
  catalyst_voices/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  catalyst_voices/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  catalyst_voices/macos/Runner.xcworkspace/contents.xcworkspacedata
  catalyst_voices/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  catalyst_voices/macos/Runner/AppDelegate.swift
  catalyst_voices/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  catalyst_voices/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  catalyst_voices/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  catalyst_voices/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  catalyst_voices/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  catalyst_voices/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  catalyst_voices/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  catalyst_voices/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  catalyst_voices/macos/Runner/Base.lproj/MainMenu.xib
  catalyst_voices/macos/Runner/Configs/AppInfo.xcconfig
  catalyst_voices/macos/Runner/Configs/Debug.xcconfig
  catalyst_voices/macos/Runner/Configs/Release.xcconfig
  catalyst_voices/macos/Runner/Configs/Warnings.xcconfig
  catalyst_voices/macos/Runner/DebugProfile.entitlements
  catalyst_voices/macos/Runner/Info.plist
  catalyst_voices/macos/Runner/MainFlutterWindow.swift
  catalyst_voices/macos/Runner/Release.entitlements
  catalyst_voices/macos/RunnerTests/RunnerTests.swift
Owners: @minikin

fix: cargo toml and add num-derive
  catalyst-gateway-crates/c509-certificate/Cargo.toml
Owners: none

fix(wip): refactor tables
  catalyst-gateway-crates/c509-certificate/src/c509_extension.rs
  catalyst-gateway-crates/c509-certificate/src/c509_oid.rs
  catalyst-gateway-crates/c509-certificate/src/lib.rs
  catalyst-gateway-crates/c509-certificate/src/tables.rs
Owners: none

feat(wip): add encode decode general name
  catalyst-gateway-crates/c509-certificate/src/c509_general_name.rs
Owners: none

fix: chips light/dark icons
  catalyst_voices/lib/widgets/chips/voices_chip.dart
Owners: @minikin

refactor: don't subscribe to whole theme
  catalyst_voices/lib/widgets/chips/voices_chip.dart
Owners: @minikin

fix: chips light/dark icons (#580)
  catalyst_voices/lib/widgets/chips/voices_chip.dart
Owners: @minikin

fix: name and type
  catalyst-gateway-crates/c509-certificate/src/c509_extension.rs
  catalyst-gateway-crates/c509-certificate/src/c509_general_name.rs
Owners: none

feat: loosen flutter version requirement
  catalyst_voices/packages/catalyst_voices_assets/example/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_assets/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_brands/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_localization/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_repositories/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_view_models/pubspec.yaml
  catalyst_voices/pubspec.yaml
  catalyst_voices/uikit_example/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/pubspec.yaml
  melos.yaml
  utilities/catalyst_voices_remote_widgets/pubspec.yaml
Owners: @minikin, @stevenj

feat: add missing licenses
  catalyst_voices_packages/catalyst_analysis/LICENSE
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/LICENSE
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/LICENSE
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/LICENSE
  catalyst_voices_packages/catalyst_cardano_serialization/LICENSE
Owners: @minikin, @stevenj

chore: update gitignore and pubignore
  catalyst_voices_packages/catalyst_analysis/.pubignore
Owners: @minikin, @stevenj

chore: remove melos files
  catalyst_voices_packages/catalyst_analysis/melos_catalyst_analysis.iml
Owners: @minikin, @stevenj

chore: remove melos files
  catalyst_voices_packages/catalyst_analysis/example/melos_example.iml
Owners: @minikin, @stevenj

chore: remove unnecessary gitignore
  catalyst_voices_packages/catalyst_analysis/.gitignore
  catalyst_voices_packages/catalyst_analysis/.pubignore
Owners: @minikin, @stevenj

chore: upgrade melos
  melos.yaml
  pubspec.yaml
Owners: none

fix(wip): decode and encode generalnames
  catalyst-gateway-crates/c509-certificate/src/c509_general_name.rs
Owners: none

feat: add check for publishable packages
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
Owners: @minikin

fix(wip): gn value encode decode
  catalyst-gateway-crates/c509-certificate/src/c509_general_name.rs
Owners: none

feat: add check for publishable packages (#582)
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
Owners: @minikin

fix: issues before publishing catalyst-cardano (#581)
  catalyst_voices/Earthfile
  catalyst_voices/packages/catalyst_voices_assets/example/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_assets/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_brands/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_localization/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_repositories/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_view_models/pubspec.yaml
  catalyst_voices/pubspec.yaml
  catalyst_voices/uikit_example/Earthfile
  catalyst_voices/uikit_example/pubspec.yaml
  catalyst_voices_packages/catalyst_analysis/.gitignore
  catalyst_voices_packages/catalyst_analysis/LICENSE
  catalyst_voices_packages/catalyst_analysis/example/melos_example.iml
  catalyst_voices_packages/catalyst_analysis/melos_catalyst_analysis.iml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/LICENSE
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/LICENSE
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/LICENSE
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano_serialization/LICENSE
  melos.yaml
  pubspec.yaml
  utilities/catalyst_voices_remote_widgets/pubspec.yaml
Owners: @minikin, @stevenj

chore(release): publish packages
  CHANGELOG.md
  catalyst_voices_packages/catalyst_analysis/CHANGELOG.md
  catalyst_voices_packages/catalyst_analysis/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano_serialization/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano_serialization/pubspec.yaml
Owners: @minikin, @stevenj

chore: ignore auto generated markdown
  .markdownlint-cli2.jsonc
Owners: none

fix: typos
  CHANGELOG.md
  catalyst_voices_packages/catalyst_analysis/CHANGELOG.md
Owners: @minikin, @stevenj
