Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

ci(general): Bump cat-ci version
  Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/Earthfile
  docs/Earthfile
  utilities/docs-preview/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(docs): Spelling
  .config/dictionaries/project.dic
Owners: none

Update utilities/docs-preview/justfile
  utilities/docs-preview/justfile
Owners: none

docs(docs): Add targets to make it easy to locally preview docs. (#1098)
  .config/dictionaries/project.dic
  Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/Earthfile
  docs/Earthfile
  justfile
  utilities/docs-preview/.gitignore
  utilities/docs-preview/Earthfile
  utilities/docs-preview/justfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: ignore auto gen file
  catalyst_voices_packages/catalyst_key_derivation/.gitignore
Owners: @minikin, @stevenj

fix(docs): Remove obsolete lint config file
  catalyst-gateway/tests/.spectral.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(cat-gateway): Make config.toml match upstream
  catalyst-gateway/.cargo/config.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs(docs): update project dictionary
  .config/dictionaries/project.dic
Owners: none

feat(cat-gateway): add target to make it quick to check openapi lints locally
  catalyst-gateway/Justfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: remove auto gen file
  catalyst_voices_packages/catalyst_key_derivation/lib/src/rust/api/key_derivation.dart
  catalyst_voices_packages/catalyst_key_derivation/lib/src/rust/frb_generated.dart
  catalyst_voices_packages/catalyst_key_derivation/lib/src/rust/frb_generated.io.dart
  catalyst_voices_packages/catalyst_key_derivation/lib/src/rust/frb_generated.web.dart
  catalyst_voices_packages/catalyst_key_derivation/rust/src/frb_generated.rs
Owners: @minikin, @stevenj

fix: add justfile, fix readme, and remove run.sh
  catalyst_voices_packages/catalyst_key_derivation/Justfile
  catalyst_voices_packages/catalyst_key_derivation/README.md
  catalyst_voices_packages/catalyst_key_derivation/run.sh
Owners: @minikin, @stevenj

fix: markdown
  catalyst_voices_packages/catalyst_key_derivation/README.md
Owners: @minikin, @stevenj

fix: update git ignore
  catalyst_voices_packages/catalyst_key_derivation/.gitignore
  catalyst_voices_packages/catalyst_key_derivation/lib/src/rust/api/key_derivation.dart
  catalyst_voices_packages/catalyst_key_derivation/lib/src/rust/frb_generated.dart
  catalyst_voices_packages/catalyst_key_derivation/lib/src/rust/frb_generated.io.dart
  catalyst_voices_packages/catalyst_key_derivation/lib/src/rust/frb_generated.web.dart
Owners: @minikin, @stevenj

fix: ignore spelling check for dart auto gen file
  cspell.json
Owners: none

fix(cat-gateway): Remove reference to hermes
  catalyst-gateway/Justfile
  catalyst-gateway/bin/src/build_info.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: apply latest change
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/cardano/util.rs
  catalyst-gateway/bin/src/db/index/block/certs.rs
  catalyst-gateway/bin/src/db/index/block/txo/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(cat-gateway): Add auth to rbac endpoints
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/rbac/chain_root_get.rs
  catalyst-gateway/bin/src/service/api/cardano/rbac/registrations_get.rs
  catalyst-gateway/bin/src/service/api/cardano/rbac/role0_chain_root_get.rs
  catalyst-gateway/bin/src/service/common/responses/code_503_service_unavailable.rs
  catalyst-gateway/bin/src/service/common/responses/mod.rs
  catalyst-gateway/bin/src/service/common/types/headers/retry_after.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs(cat-gateway): Add full docs for v1/votes/plan/account-votes
  catalyst-gateway/bin/src/service/api/legacy/v1/account_votes_get.rs
  catalyst-gateway/bin/src/service/common/objects/legacy/account_votes.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: add flutter_rust_bridge headers to launch.recommended.json for web
  .vscode/launch.recommended.json
Owners: none

feat: add loader to transaction panel
  catalyst_voices/lib/pages/registration/wallet_link/stage/rbac_transaction_panel.dart
Owners: @minikin

chore: move ed25519 code to catalyst_key_derivation package
  catalyst_voices_packages/catalyst_cardano_serialization/README.md
  catalyst_voices_packages/catalyst_cardano_serialization/example/main.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/catalyst_cardano_serialization.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/witness_builder.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/hashes.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/auth_token.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/signature.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/witness.dart
  catalyst_voices_packages/catalyst_cardano_serialization/pubspec.yaml
  catalyst_voices_packages/catalyst_key_derivation/lib/src/ed25519/ed25519.dart
  catalyst_voices_packages/catalyst_key_derivation/lib/src/ed25519/ed25519_key_pair.dart
  catalyst_voices_packages/catalyst_key_derivation/lib/src/ed25519/ed25519_private_key.dart
  catalyst_voices_packages/catalyst_key_derivation/lib/src/ed25519/ed25519_public_key.dart
  catalyst_voices_packages/catalyst_key_derivation/lib/src/ed25519/ed25519_signature.dart
  catalyst_voices_packages/catalyst_key_derivation/test/ed25519/ed25519_private_key_test.dart
  catalyst_voices_packages/catalyst_key_derivation/test/ed25519/ed25519_public_key_test.dart
  catalyst_voices_packages/catalyst_key_derivation/test/ed25519/ed25519_signature_test.dart
Owners: @minikin, @stevenj

fix: add ci check and build
  .config/dictionaries/project.dic
  catalyst-gateway/.cargo/config.toml
  catalyst_voices_packages/catalyst_key_derivation/rust/.config/nextest.toml
  catalyst_voices_packages/catalyst_key_derivation/rust/Cargo.toml
  catalyst_voices_packages/catalyst_key_derivation/rust/Earthfile
  catalyst_voices_packages/catalyst_key_derivation/rust/deny.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs(cat-gateway): Add example for ip address query argument
  catalyst-gateway/bin/src/service/api/config/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: add earthfile and fix justfile
  catalyst_voices_packages/catalyst_key_derivation/Earthfile
  catalyst_voices_packages/catalyst_key_derivation/Justfile
Owners: @minikin, @stevenj

fix: deprecated api
  catalyst_voices/lib/widgets/modals/voices_upload_file_dialog.dart
Owners: @minikin

fix: file drop
  catalyst_voices/apps/voices/lib/widgets/modals/voices_upload_file_dialog.dart
  catalyst_voices/apps/voices/pubspec.yaml
  catalyst_voices/melos.yaml
Owners: @minikin

fix: force downgraded version of flutter_dropzone
  catalyst_voices/apps/voices/lib/widgets/modals/voices_upload_file_dialog.dart
  catalyst_voices/apps/voices/pubspec.yaml
  catalyst_voices/melos.yaml
Owners: @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
