Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

update cat-gateway docs
  docs/Earthfile
  docs/src/api/.pages
  docs/src/api/cat-gateway/.pages
  docs/src/api/cat-gateway/index.md
  docs/src/api/cat-gateway/openapi.md
  docs/src/api/cat-gateway/rust.md
  docs/src/api/catalyst-gateway.md
Owners: none

chore: remove docs.yml (#182)
  .github/workflows/docs.yml
Owners: none

generate openapi docs
  catalyst-gateway/Earthfile
  docs/src/api/cat-gateway/openapi.md
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix markdown check
  docs/src/api/cat-gateway/openapi.md
Owners: none

fix: remove unnecessary targets and rename targets
  Earthfile
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: change branch for testing github action
  .github/workflows/ci.yml
Owners: none

fix: target name
  docs/Earthfile
Owners: none

remove unneeded tests
  catalyst-gateway/bin/src/event_db/mod.rs
  catalyst-gateway/bin/src/event_db/queries/event/ballot.rs
  catalyst-gateway/bin/src/event_db/queries/event/mod.rs
  catalyst-gateway/bin/src/event_db/queries/event/objective.rs
  catalyst-gateway/bin/src/event_db/queries/event/proposal.rs
  catalyst-gateway/bin/src/event_db/queries/event/review.rs
  catalyst-gateway/bin/src/event_db/queries/registration.rs
  catalyst-gateway/bin/src/event_db/queries/search.rs
  catalyst-gateway/bin/src/event_db/queries/vit_ss/fund.rs
  catalyst-gateway/bin/src/service/api/health/mod.rs
  catalyst-gateway/bin/src/service/api/registration/mod.rs
  catalyst-gateway/bin/src/service/api/v0/mod.rs
  catalyst-gateway/bin/src/settings.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

remove unneeded event-db test data
  catalyst-gateway/event-db/test_data/02_snapshot_table.sql
  catalyst-gateway/event-db/test_data/03_voter_table.sql
  catalyst-gateway/event-db/test_data/04_contribution_table.sql
  catalyst-gateway/event-db/test_data/05_goal_table.sql
  catalyst-gateway/event-db/test_data/06_objective_table.sql
  catalyst-gateway/event-db/test_data/07_voteplan_table.sql
  catalyst-gateway/event-db/test_data/08_proposal_table.sql
  catalyst-gateway/event-db/test_data/09_proposal_review_table.sql
  catalyst-gateway/event-db/test_data/10_review_rating_table.sql
  catalyst-gateway/event-db/test_data/11_objective_review_metric_table.sql
  catalyst-gateway/event-db/test_data/12_proposal_voteplan_table.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

bump rust version
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix deny.toml file
  catalyst-gateway/deny.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: tests structure
  catalyst-gateway/Earthfile
  catalyst-gateway/tests/Cargo.toml
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/integration/main.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

add tests to main earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/tests/Cargo.toml
  catalyst-gateway/tests/end2end/main.rs
  catalyst-gateway/tests/integration/main.rs
  catalyst-gateway/tests/non_functional/main.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: add locked param
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: Cleanup staled tests from catalyst-gateway (#187)
  catalyst-gateway/bin/src/event_db/mod.rs
  catalyst-gateway/bin/src/event_db/queries/event/ballot.rs
  catalyst-gateway/bin/src/event_db/queries/event/mod.rs
  catalyst-gateway/bin/src/event_db/queries/event/objective.rs
  catalyst-gateway/bin/src/event_db/queries/event/proposal.rs
  catalyst-gateway/bin/src/event_db/queries/event/review.rs
  catalyst-gateway/bin/src/event_db/queries/registration.rs
  catalyst-gateway/bin/src/event_db/queries/search.rs
  catalyst-gateway/bin/src/event_db/queries/vit_ss/fund.rs
  catalyst-gateway/bin/src/service/api/health/mod.rs
  catalyst-gateway/bin/src/service/api/registration/mod.rs
  catalyst-gateway/bin/src/service/api/v0/mod.rs
  catalyst-gateway/bin/src/settings.rs
  catalyst-gateway/event-db/test_data/02_snapshot_table.sql
  catalyst-gateway/event-db/test_data/03_voter_table.sql
  catalyst-gateway/event-db/test_data/04_contribution_table.sql
  catalyst-gateway/event-db/test_data/05_goal_table.sql
  catalyst-gateway/event-db/test_data/06_objective_table.sql
  catalyst-gateway/event-db/test_data/07_voteplan_table.sql
  catalyst-gateway/event-db/test_data/08_proposal_table.sql
  catalyst-gateway/event-db/test_data/09_proposal_review_table.sql
  catalyst-gateway/event-db/test_data/10_review_rating_table.sql
  catalyst-gateway/event-db/test_data/11_objective_review_metric_table.sql
  catalyst-gateway/event-db/test_data/12_proposal_voteplan_table.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

update
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix
  catalyst-gateway/.cargo/config.toml
  catalyst-gateway/bin/src/settings.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(event-db): lint checks now pass
  .sqlfluff
  Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/event-db/migrations/V1__config_tables.sql
  catalyst-gateway/event-db/migrations/V2__event_tables.sql
  catalyst-gateway/event-db/migrations/V3__objective_tables.sql
  catalyst-gateway/event-db/migrations/V4__proposal_tables.sql
  catalyst-gateway/event-db/migrations/V5__vote_plan.sql
  catalyst-gateway/event-db/migrations/V6__registration.sql
  catalyst-gateway/event-db/migrations/V7__vote_tables.sql
  catalyst-gateway/event-db/migrations/V8__catalyst_automation.sql
  catalyst-gateway/event-db/migrations/V9__moderation_stage.sql
  catalyst-gateway/event-db/seed/stage_data/dev/00001_testfund_event.sql
  catalyst-gateway/event-db/seed/stage_data/dev/00002_testfund_ideascale_params.sql
  catalyst-gateway/event-db/seed/stage_data/testnet/00001_fund10_event.sql
  catalyst-gateway/event-db/seed/stage_data/testnet/00002_fund10_ideascale_params.sql
  catalyst-gateway/event-db/seed/test_data/01_event_table.sql
  catalyst-gateway/event-db/seed/test_data/04_contribution_table.sql
  catalyst-gateway/event-db/seed/test_data/06_objective_table.sql
  catalyst-gateway/event-db/seed/test_data/08_proposal_table.sql
  catalyst-gateway/event-db/seed/test_data/09_proposal_review_table.sql
  catalyst-gateway/event-db/seed/test_data/10_review_rating_table.sql
  catalyst-gateway/event-db/seed/test_data/11_objective_review_metric_table.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: Rust builder bug (#186)
  catalyst-gateway/.cargo/config.toml
  catalyst-gateway/Earthfile
  catalyst-gateway/bin/src/settings.rs
  catalyst-gateway/deny.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

update
  docs/Earthfile
  docs/src/api/cat-gateway/openapi.md
Owners: none

fix CI
  docs/src/api/cat-gateway/openapi.md
Owners: none

fix: add words to cspell
  catalyst-gateway/tests/Cargo.toml
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: nextest profile earthly arg
  catalyst-gateway/Earthfile
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: wip
  docs/FLUTTER_INTEGRATION_TEST.md
  docs/src/architecture/09_architecture_decisions/0005-flutter-app.md
Owners: none

refactor tests
  catalyst-gateway/tests/Cargo.toml
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/end2end/main.rs
  catalyst-gateway/tests/integration/catalyst_gateway_event_db.rs
  catalyst-gateway/tests/integration/main.rs
  catalyst-gateway/tests/non_functional/main.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

use stoplight template
  docs/src/api/cat-gateway/openapi.md
  docs/src/api/cat-gateway/stoplight_template.html
Owners: none

fix Earthly
  docs/Earthfile
Owners: none

fix: clippy
  catalyst-gateway/tests/integration/catalyst_gateway_event_db.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix markdown check
  docs/src/api/cat-gateway/openapi.md
Owners: none

fix: use a better test example
  catalyst-gateway/tests/integration/catalyst_gateway_event_db.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs(event-db): Update DB Docs and Registration Schema
  catalyst-gateway/event-db/migrations/V2__event_tables.sql
  catalyst-gateway/event-db/migrations/V6__registration.sql
  docs/Earthfile
  docs/src/architecture/.pages
  docs/src/architecture/08_concepts.md
  docs/src/architecture/08_concepts/index.md
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(event-db): Fix spelling and missing sub-dir issue for ci
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/event-db/check-lint.txt
  catalyst-gateway/event-db/seed/Readme.md
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(event-db): remove obsolete unit test for event-db
  catalyst-gateway/event-db/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Update 0005-flutter-app.md
  docs/src/architecture/09_architecture_decisions/0005-flutter-app.md
Owners: none

Update 0005-flutter-app.md
  docs/src/architecture/09_architecture_decisions/0005-flutter-app.md
Owners: none

rename to gateway
  catalyst-gateway/bin/README.md
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/service/docs/stoplight_elements/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Update 0005-flutter-app.md
  docs/src/architecture/09_architecture_decisions/0005-flutter-app.md
Owners: none

Update 0005-flutter-app.md
  docs/src/architecture/09_architecture_decisions/0005-flutter-app.md
Owners: none

chore: upgrade Flutter and Dart
  catalyst_voices/README.md
  catalyst_voices/android/app/build.gradle
  catalyst_voices/packages/catalyst_voices_assets/example/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_assets/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_localization/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_repositories/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_view_models/pubspec.yaml
  catalyst_voices/pubspec.yaml
  pubspec.yaml
Owners: @minikin

feat: update dart configs
  catalyst_voices/integration_test/scenarios/login_scenario.dart
  catalyst_voices/lib/configs/app_bloc_observer.dart
  catalyst_voices/lib/configs/bootstrap.dart
  catalyst_voices/lib/configs/main_dev.dart
  catalyst_voices/lib/configs/main_preprod.dart
  catalyst_voices/lib/configs/main_prod.dart
  catalyst_voices/lib/configs/main_qa.dart
Owners: @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
