Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

build(markdown): lints
  catalyst-gateway/bin/src/follower.rs
  cspell.json
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

build(markdown): lints
  catalyst-gateway/bin/src/event_db/legacy/queries/event/config.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/follower.rs
  catalyst-gateway/event-db/migrations/V1__config_tables.sql
  cspell.json
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor(housekeeping): tidy
  catalyst-gateway/bin/src/event_db/legacy/queries/event/follower.rs
  catalyst-gateway/bin/src/follower.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor(housekeeping): tidy
  catalyst-gateway/bin/src/event_db/legacy/queries/event/follower.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Update Earthfile
  catalyst_voices/Earthfile
Owners: @minikin

fix typos
  .config/dictionaries/project.dic
  catalyst_voices/Earthfile
Owners: @minikin

Update project.dic
  .config/dictionaries/project.dic
Owners: none

Update catalyst_voices/Earthfile
  catalyst_voices/Earthfile
Owners: @minikin

inspect
  catalyst_voices/Earthfile
Owners: @minikin

build(ci release version): cspell
  catalyst-gateway/Earthfile
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/event-db/migrations/V1__config_tables.sql
  catalyst-gateway/tests/schema-mismatch/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Update Earthfile
  catalyst_voices/Earthfile
Owners: @minikin

Update Earthfile
  catalyst_voices/Earthfile
Owners: @minikin

Update Earthfile
  catalyst_voices/Earthfile
Owners: @minikin

chore: update flutter to 3.19.1
  catalyst_voices/packages/catalyst_voices_assets/example/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_assets/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_localization/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_repositories/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_view_models/pubspec.yaml
  catalyst_voices/pubspec.yaml
  melos.yaml
Owners: @minikin

bump formz
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_view_models/pubspec.yaml
  catalyst_voices/pubspec.yaml
Owners: @minikin

clean up
  catalyst_voices/Earthfile
Owners: @minikin

feat(ci): add earthfile for voices fronted (#263)
  .config/dictionaries/project.dic
  catalyst_voices/.gitignore
  catalyst_voices/Earthfile
  catalyst_voices/README.md
  catalyst_voices/lib/configs/main_web.dart
  catalyst_voices/nginx.conf
  catalyst_voices/pubspec.yaml
Owners: @minikin

build(cpsell): dict
  .config/dictionaries/project.dic
Owners: none

build(cpsell): dict
  .config/dictionaries/project.dic
Owners: none

build(clippy): lint
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/config.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/follower.rs
  catalyst-gateway/bin/src/follower.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

build(clippy): lint
  catalyst-gateway/bin/src/event_db/error.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/config.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/follower.rs
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/bin/src/service/utilities/catch_panic.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: update flutter to 3.19.1 (#264)
  catalyst_voices/packages/catalyst_voices_assets/example/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_assets/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_localization/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_repositories/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_view_models/pubspec.yaml
  catalyst_voices/pubspec.yaml
  melos.yaml
Owners: @minikin

build(clippy): lint
  catalyst-gateway/bin/src/event_db/legacy/queries/event/follower.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

build(clippy): lint
  catalyst-gateway/bin/src/event_db/legacy/queries/event/follower.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor(housekeeping): clean
  catalyst-gateway/bin/src/event_db/legacy/queries/event/config.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/follower.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor(housekeeping): clean
  catalyst-gateway/bin/src/event_db/legacy/queries/event/config.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/follower.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

test(docker ci tests): envs
  catalyst-gateway/tests/schema-mismatch/docker-compose.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add allure report workflow
  .github/workflows/generate-allure-report.yml
  catalyst-gateway/cat-gateway.coverage-report.info
  catalyst-gateway/cat-gateway.junit-report.xml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

test(docker ci tests): envs
  catalyst-gateway/tests/schemathesis-docker-compose.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

test
  .github/workflows/generate-allure-report.yml
Owners: none

test
  .github/workflows/generate-allure-report.yml
Owners: none

test(docker ci tests): envs
  catalyst-gateway/bin/src/follower.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor(housekeeping): clean
  catalyst-gateway/bin/src/follower.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor(housekeeping): tidy
  catalyst-gateway/Cargo.lock
  catalyst-gateway/bin/src/follower.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst_voices/packages/catalyst_voices_remote_widgets/lib/src/catalyst_voices_remote_widgets.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/lib/src/proposal_builder_m2/proposal_builder_body_m2.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/pubspec.yaml
Owners: @minikin

test
  .github/workflows/generate-allure-report.yml
Owners: none

add macOS support for quicker UI iteration
  catalyst_voices/.metadata
  catalyst_voices/catalyst_voices.iml
  catalyst_voices/ios/Runner.xcodeproj/project.pbxproj
  catalyst_voices/lib/app/view/app_content.dart
  catalyst_voices/lib/routes/app_router.dart
  catalyst_voices/macos/.gitignore
  catalyst_voices/macos/Flutter/Flutter-Debug.xcconfig
  catalyst_voices/macos/Flutter/Flutter-Release.xcconfig
  catalyst_voices/macos/Flutter/GeneratedPluginRegistrant.swift
  catalyst_voices/macos/Podfile
  catalyst_voices/macos/Podfile.lock
  catalyst_voices/macos/Runner.xcodeproj/project.pbxproj
  catalyst_voices/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  catalyst_voices/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  catalyst_voices/macos/Runner.xcodeproj/xcshareddata/xcschemes/dev.xcscheme
  catalyst_voices/macos/Runner.xcodeproj/xcshareddata/xcschemes/preprod.xcscheme
  catalyst_voices/macos/Runner.xcodeproj/xcshareddata/xcschemes/prod.xcscheme
  catalyst_voices/macos/Runner.xcodeproj/xcshareddata/xcschemes/qa.xcscheme
  catalyst_voices/macos/Runner.xcworkspace/contents.xcworkspacedata
  catalyst_voices/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  catalyst_voices/macos/Runner/AppDelegate.swift
  catalyst_voices/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  catalyst_voices/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  catalyst_voices/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  catalyst_voices/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  catalyst_voices/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  catalyst_voices/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  catalyst_voices/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  catalyst_voices/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  catalyst_voices/macos/Runner/Base.lproj/MainMenu.xib
  catalyst_voices/macos/Runner/Configs/AppInfo.xcconfig
  catalyst_voices/macos/Runner/Configs/Debug.xcconfig
  catalyst_voices/macos/Runner/Configs/Release.xcconfig
  catalyst_voices/macos/Runner/Configs/Warnings.xcconfig
  catalyst_voices/macos/Runner/DebugProfile.entitlements
  catalyst_voices/macos/Runner/Info.plist
  catalyst_voices/macos/Runner/MainFlutterWindow.swift
  catalyst_voices/macos/Runner/Release.entitlements
  catalyst_voices/macos/RunnerTests/RunnerTests.swift
  catalyst_voices/test/widget_test.dart
Owners: @minikin

stall api fuzzer
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

test
  .github/workflows/generate-allure-report.yml
Owners: none

refactor(start all services): non recoverable startup panic
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
