Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

cleanup
  catalyst-gateway/bin/src/event_db/queries/mod.rs
  catalyst-gateway/bin/src/state/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: move spectral and remove integration test pkg
  catalyst-gateway/Cargo.lock
  catalyst-gateway/Cargo.toml
  catalyst-gateway/tests/.spectral.yml
  catalyst-gateway/tests/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix readme
  README.md
Owners: none

fix CI
  catalyst-gateway/bin/src/service/api/registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix CI
  catalyst-gateway/bin/src/service/api/registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: Deprecating legacy vote endpoints (#253)
  README.md
  catalyst-gateway/bin/src/event_db/mod.rs
  catalyst-gateway/bin/src/event_db/queries/mod.rs
  catalyst-gateway/bin/src/event_db/schema_check.rs
  catalyst-gateway/bin/src/service/api/registration/mod.rs
  catalyst-gateway/bin/src/service/api/v0/mod.rs
  catalyst-gateway/bin/src/service/api/v1/mod.rs
  catalyst-gateway/bin/src/state/mod.rs
  catalyst_voices/android/build.gradle
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor: Fix api fuzzer and refactor tests (#248)
  .config/dictionaries/project.dic
  README.md
  catalyst-gateway/Cargo.lock
  catalyst-gateway/Cargo.toml
  catalyst-gateway/Earthfile
  catalyst-gateway/bin/src/event_db/mod.rs
  catalyst-gateway/bin/src/event_db/queries/mod.rs
  catalyst-gateway/bin/src/event_db/schema_check.rs
  catalyst-gateway/bin/src/service/api/registration/mod.rs
  catalyst-gateway/bin/src/service/api/v0/mod.rs
  catalyst-gateway/bin/src/service/api/v1/mod.rs
  catalyst-gateway/bin/src/state/mod.rs
  catalyst-gateway/tests/.spectral.yml
  catalyst-gateway/tests/Cargo.toml
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/integration/catalyst_gateway_event_db.rs
  catalyst-gateway/tests/integration/main.rs
  catalyst-gateway/tests/schema-mismatch/Earthfile
  catalyst-gateway/tests/schemathesis-docker-compose.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Update m2_proposal_types.json
  docs/src/architecture/templates/m2_proposal_types.json
Owners: none

wip
  docs/src/architecture/01_introduction_and_goals.md
  docs/src/architecture/10_quality_requirements.md
Owners: none

chore: change TODO format to refer to github name
  catalyst-gateway/bin/src/event_db/queries/vit_ss/fund.rs
  catalyst-gateway/bin/src/service/api/v1/mod.rs
  catalyst-gateway/bin/src/service/common/objects/account_votes.rs
  catalyst-gateway/bin/src/service/common/objects/block.rs
  catalyst-gateway/bin/src/service/common/objects/fragment_status.rs
  catalyst-gateway/bin/src/service/common/objects/fragments_batch.rs
  catalyst-gateway/bin/src/service/common/objects/fragments_processing_summary.rs
  catalyst-gateway/bin/src/service/common/objects/voter_info.rs
  catalyst-gateway/bin/src/service/common/responses/resp_5xx.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: cspell
  .config/dictionaries/project.dic
  catalyst-gateway/bin/src/service/api/registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: bump flutter and dart version
  catalyst_voices/packages/catalyst_voices_assets/example/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_assets/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_localization/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_repositories/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_view_models/pubspec.yaml
  catalyst_voices/pubspec.yaml
  catalyst_voices_packages/catalyst_analysis/example/pubspec.yaml
  catalyst_voices_packages/catalyst_analysis/pubspec.yaml
  melos.yaml
  pubspec.yaml
Owners: @minikin, @stevenj

chore: update web pub and melos
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
  pubspec.yaml
Owners: @minikin

chore: bump flutter and dart version (#256)
  catalyst_voices/packages/catalyst_voices_assets/example/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_assets/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_localization/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_repositories/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_view_models/pubspec.yaml
  catalyst_voices/pubspec.yaml
  catalyst_voices_packages/catalyst_analysis/example/pubspec.yaml
  catalyst_voices_packages/catalyst_analysis/pubspec.yaml
  melos.yaml
  pubspec.yaml
Owners: @minikin, @stevenj

chore: change TODO format to refer to github name (#255)
  .config/dictionaries/project.dic
  catalyst-gateway/bin/src/event_db/queries/vit_ss/fund.rs
  catalyst-gateway/bin/src/service/api/registration/mod.rs
  catalyst-gateway/bin/src/service/api/v1/mod.rs
  catalyst-gateway/bin/src/service/common/objects/account_votes.rs
  catalyst-gateway/bin/src/service/common/objects/block.rs
  catalyst-gateway/bin/src/service/common/objects/fragment_status.rs
  catalyst-gateway/bin/src/service/common/objects/fragments_batch.rs
  catalyst-gateway/bin/src/service/common/objects/fragments_processing_summary.rs
  catalyst-gateway/bin/src/service/common/objects/voter_info.rs
  catalyst-gateway/bin/src/service/common/responses/resp_5xx.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

move registration, v0 and v1 endpoints impl to the legacy mod
  catalyst-gateway/bin/src/service/api/legacy/mod.rs
  catalyst-gateway/bin/src/service/api/legacy/registration/mod.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/message_post.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/mod.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/plans_get.rs
  catalyst-gateway/bin/src/service/api/legacy/v1/account_votes_get.rs
  catalyst-gateway/bin/src/service/api/legacy/v1/fragments_post.rs
  catalyst-gateway/bin/src/service/api/legacy/v1/fragments_statuses.rs
  catalyst-gateway/bin/src/service/api/legacy/v1/mod.rs
  catalyst-gateway/bin/src/service/api/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

update test endpoint
  catalyst-gateway/bin/src/service/api/test_endpoints/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

move common objects to the legacy mod
  catalyst-gateway/bin/src/service/api/legacy/registration/mod.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/message_post.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/plans_get.rs
  catalyst-gateway/bin/src/service/api/legacy/v1/account_votes_get.rs
  catalyst-gateway/bin/src/service/api/legacy/v1/fragments_post.rs
  catalyst-gateway/bin/src/service/api/legacy/v1/fragments_statuses.rs
  catalyst-gateway/bin/src/service/api/legacy/v1/mod.rs
  catalyst-gateway/bin/src/service/common/objects/legacy/account_votes.rs
  catalyst-gateway/bin/src/service/common/objects/legacy/block.rs
  catalyst-gateway/bin/src/service/common/objects/legacy/delegate_public_key.rs
  catalyst-gateway/bin/src/service/common/objects/legacy/event_id.rs
  catalyst-gateway/bin/src/service/common/objects/legacy/fragment_status.rs
  catalyst-gateway/bin/src/service/common/objects/legacy/fragments_batch.rs
  catalyst-gateway/bin/src/service/common/objects/legacy/fragments_processing_summary.rs
  catalyst-gateway/bin/src/service/common/objects/legacy/hash.rs
  catalyst-gateway/bin/src/service/common/objects/legacy/mod.rs
  catalyst-gateway/bin/src/service/common/objects/legacy/stake_public_key.rs
  catalyst-gateway/bin/src/service/common/objects/legacy/vote_plan.rs
  catalyst-gateway/bin/src/service/common/objects/legacy/voter_group_id.rs
  catalyst-gateway/bin/src/service/common/objects/legacy/voter_info.rs
  catalyst-gateway/bin/src/service/common/objects/legacy/voter_registration.rs
  catalyst-gateway/bin/src/service/common/objects/legacy/voting_public_key.rs
  catalyst-gateway/bin/src/service/common/objects/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

move event-db types and quries to the legacy mod
  catalyst-gateway/bin/src/event_db/legacy/mod.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/ballot.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/mod.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/objective.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/proposal.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/review.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/mod.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/registration.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/search.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/vit_ss/fund.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/vit_ss/mod.rs
  catalyst-gateway/bin/src/event_db/legacy/types/ballot.rs
  catalyst-gateway/bin/src/event_db/legacy/types/event.rs
  catalyst-gateway/bin/src/event_db/legacy/types/mod.rs
  catalyst-gateway/bin/src/event_db/legacy/types/objective.rs
  catalyst-gateway/bin/src/event_db/legacy/types/proposal.rs
  catalyst-gateway/bin/src/event_db/legacy/types/registration.rs
  catalyst-gateway/bin/src/event_db/legacy/types/review.rs
  catalyst-gateway/bin/src/event_db/legacy/types/search.rs
  catalyst-gateway/bin/src/event_db/legacy/types/vit_ss/challenge.rs
  catalyst-gateway/bin/src/event_db/legacy/types/vit_ss/fund.rs
  catalyst-gateway/bin/src/event_db/legacy/types/vit_ss/goal.rs
  catalyst-gateway/bin/src/event_db/legacy/types/vit_ss/group.rs
  catalyst-gateway/bin/src/event_db/legacy/types/vit_ss/mod.rs
  catalyst-gateway/bin/src/event_db/legacy/types/vit_ss/vote_plan.rs
  catalyst-gateway/bin/src/event_db/legacy/types/voting_status.rs
  catalyst-gateway/bin/src/event_db/mod.rs
  catalyst-gateway/bin/src/service/api/legacy/registration/mod.rs
  catalyst-gateway/bin/src/service/api/legacy/v1/fragments_post.rs
  catalyst-gateway/bin/src/service/api/legacy/v1/fragments_statuses.rs
  catalyst-gateway/bin/src/service/api/legacy/v1/mod.rs
  catalyst-gateway/bin/src/service/common/objects/legacy/event_id.rs
  catalyst-gateway/bin/src/service/common/objects/legacy/fragment_status.rs
  catalyst-gateway/bin/src/service/common/objects/legacy/mod.rs
  catalyst-gateway/bin/src/service/common/objects/legacy/voter_group_id.rs
  catalyst-gateway/bin/src/service/common/objects/legacy/voter_info.rs
  catalyst-gateway/bin/src/service/common/objects/legacy/voter_registration.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(env vars): dynamic variables
  catalyst-gateway/Cargo.lock
  catalyst-gateway/Cargo.toml
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/rust-toolchain.toml
  catalyst-gateway/tests/Cargo.toml
  docs/src/architecture/08_concepts/gateway/concrete.md
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(initial boostrap): follower
  catalyst-gateway/Cargo.lock
  catalyst-gateway/Cargo.toml
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/event_db/error.rs
  catalyst-gateway/bin/src/event_db/queries/event/config.rs
  catalyst-gateway/bin/src/event_db/queries/event/follower.rs
  catalyst-gateway/bin/src/event_db/queries/event/mod.rs
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/bin/src/main.rs
  catalyst-gateway/event-db/migrations/V1__config_tables.sql
  catalyst-gateway/event-db/migrations/V6__registration.sql
  docs/src/architecture/08_concepts/gateway/concrete.md
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(initial boostrap): follower
  catalyst-gateway/bin/src/event_db/queries/event/follower.rs
  catalyst-gateway/bin/src/follower.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(initial boostrap): follower
  catalyst-gateway/bin/src/follower.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

migration lints
  catalyst-gateway/event-db/migrations/V1__config_tables.sql
  catalyst-gateway/event-db/migrations/V6__registration.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

migration lints
  catalyst-gateway/event-db/migrations/V1__config_tables.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

migration lints
  catalyst-gateway/event-db/migrations/V1__config_tables.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

migration lints
  catalyst-gateway/event-db/migrations/V6__registration.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: poc remote widgets
  catalyst_voices/android/app/build.gradle
  catalyst_voices/android/app/src/debug/AndroidManifest.xml
  catalyst_voices/android/app/src/main/AndroidManifest.xml
  catalyst_voices/android/app/src/profile/AndroidManifest.xml
  catalyst_voices/android/build.gradle
  catalyst_voices/android/gradle/wrapper/gradle-wrapper.properties
  catalyst_voices/packages/catalyst_voices_remote_widgets/.gitignore
  catalyst_voices/packages/catalyst_voices_remote_widgets/README.md
  catalyst_voices/packages/catalyst_voices_remote_widgets/analysis_options.yaml
  catalyst_voices/packages/catalyst_voices_remote_widgets/lib/catalyst_voices_remote_widgets.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/lib/src/catalyst_voices_remote_widgets.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_remote_widgets/test/src/catalyst_voices_remote_widgets_test.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/catalyst_voices_shared.dart
Owners: @minikin

migration lints
  catalyst-gateway/event-db/migrations/V1__config_tables.sql
  catalyst-gateway/event-db/migrations/V6__registration.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

migration lints
  catalyst-gateway/bin/src/event_db/error.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/config.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix ci
  catalyst-gateway/bin/src/event_db/error.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/config.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

migration lints
  catalyst-gateway/event-db/migrations/V1__config_tables.sql
  catalyst-gateway/event-db/migrations/V6__registration.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

migration lints
  catalyst-gateway/event-db/migrations/V1__config_tables.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

migration lints
  catalyst-gateway/event-db/migrations/V1__config_tables.sql
  catalyst-gateway/event-db/migrations/V6__registration.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

migration lints
  catalyst-gateway/event-db/migrations/V1__config_tables.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

migration lints
  catalyst-gateway/event-db/migrations/V1__config_tables.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

migration lints
  catalyst-gateway/event-db/migrations/V6__registration.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

migration lints
  catalyst-gateway/event-db/migrations/V6__registration.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

migration lints
  catalyst-gateway/event-db/migrations/V6__registration.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

migration lints
  catalyst-gateway/event-db/migrations/V6__registration.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
