Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

Update project.dic
  .config/dictionaries/project.dic
Owners: none

feat: add flutter adr, update catalyst_voices_assets (#164)
  .config/dictionaries/project.dic
  catalyst_voices/packages/catalyst_voices_assets/internal_resources/README.md
  catalyst_voices/packages/catalyst_voices_assets/internal_resources/animations/.gitkeep
  catalyst_voices/packages/catalyst_voices_assets/internal_resources/fonts/.gitkeep
  catalyst_voices/packages/catalyst_voices_assets/internal_resources/icons/.gitkeep
  catalyst_voices/packages/catalyst_voices_assets/internal_resources/images/.gitkeep
  docs/src/architecture/09_architecture_decisions/0003-flutter.md
  docs/src/architecture/09_architecture_decisions/index.md
Owners: @minikin

refactor(catalyst-gateway): Remove axum legacy service implementation (#162)
  catalyst-gateway/Cargo.lock
  catalyst-gateway/Cargo.toml
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/event_db/types/registration.rs
  catalyst-gateway/bin/src/event_db/types/search.rs
  catalyst-gateway/bin/src/legacy_service/health.rs
  catalyst-gateway/bin/src/legacy_service/mod.rs
  catalyst-gateway/bin/src/legacy_service/types/ballot.rs
  catalyst-gateway/bin/src/legacy_service/types/event.rs
  catalyst-gateway/bin/src/legacy_service/types/mod.rs
  catalyst-gateway/bin/src/legacy_service/types/objective.rs
  catalyst-gateway/bin/src/legacy_service/types/proposal.rs
  catalyst-gateway/bin/src/legacy_service/types/registration.rs
  catalyst-gateway/bin/src/legacy_service/types/review.rs
  catalyst-gateway/bin/src/legacy_service/types/search.rs
  catalyst-gateway/bin/src/legacy_service/types/vit_ss/challenge.rs
  catalyst-gateway/bin/src/legacy_service/types/vit_ss/fund.rs
  catalyst-gateway/bin/src/legacy_service/types/vit_ss/goal.rs
  catalyst-gateway/bin/src/legacy_service/types/vit_ss/group.rs
  catalyst-gateway/bin/src/legacy_service/types/vit_ss/mod.rs
  catalyst-gateway/bin/src/legacy_service/types/vit_ss/vote_plan.rs
  catalyst-gateway/bin/src/legacy_service/types/voting_status.rs
  catalyst-gateway/bin/src/legacy_service/v0/fund.rs
  catalyst-gateway/bin/src/legacy_service/v0/mod.rs
  catalyst-gateway/bin/src/legacy_service/v1/event/ballots.rs
  catalyst-gateway/bin/src/legacy_service/v1/event/mod.rs
  catalyst-gateway/bin/src/legacy_service/v1/event/objective/ballots.rs
  catalyst-gateway/bin/src/legacy_service/v1/event/objective/mod.rs
  catalyst-gateway/bin/src/legacy_service/v1/event/objective/proposal/ballot.rs
  catalyst-gateway/bin/src/legacy_service/v1/event/objective/proposal/mod.rs
  catalyst-gateway/bin/src/legacy_service/v1/event/objective/proposal/review.rs
  catalyst-gateway/bin/src/legacy_service/v1/event/objective/review_type.rs
  catalyst-gateway/bin/src/legacy_service/v1/mod.rs
  catalyst-gateway/bin/src/legacy_service/v1/registration.rs
  catalyst-gateway/bin/src/legacy_service/v1/search.rs
  catalyst-gateway/bin/src/main.rs
  catalyst-gateway/bin/src/service/mod.rs
  catalyst-gateway/bin/src/service/poem_service.rs
  catalyst-gateway/bin/src/service/utilities/middleware/chain_axum.rs
  catalyst-gateway/bin/src/service/utilities/middleware/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Create 0004-voices-frontend-arch.md
  docs/src/architecture/09_architecture_decisions/0004-voices-frontend-arch.md
Owners: none

Create 0004-webp.md
  docs/src/architecture/09_architecture_decisions/0004-webp.md
Owners: none

Update 0004-webp.md
  docs/src/architecture/09_architecture_decisions/0004-webp.md
Owners: none

Update 0004-webp.md
  docs/src/architecture/09_architecture_decisions/0004-webp.md
Owners: none

Update 0004-webp.md
  docs/src/architecture/09_architecture_decisions/0004-webp.md
Owners: none

feat: propose adr to use webp (#167)
  docs/src/architecture/09_architecture_decisions/0004-webp.md
Owners: none

Add rust docs deployment
  docs/Earthfile
  docs/src/index.md
Owners: none

fix
  docs/src/.pages
  docs/src/appendix/important/.pages
  docs/src/architecture/.pages
Owners: none

fix
  docs/src/index.md
Owners: none

update
  docs/src/.pages
  docs/src/api/.pages
  docs/src/api/catalyst-gateway.md
  docs/src/api/index.md
  docs/src/catalyst-standards/index.md
  docs/src/index.md
Owners: none

embed Rust docs
  catalyst-gateway/Earthfile
  docs/Earthfile
  docs/src/api/catalyst-gateway.md
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

add dependency graphs
  catalyst-gateway/Earthfile
  docs/Earthfile
  docs/src/api/catalyst-gateway.md
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

update
  catalyst-gateway/Earthfile
  catalyst-gateway/bin/Cargo.toml
  docs/src/api/catalyst-gateway.md
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: markdownlint-disable name for require-headings
  .markdownlint.jsonc
  docs/src/appendix/important/coc.md
  docs/src/appendix/important/contributing.md
  docs/src/appendix/important/security.md
Owners: none

fix: change markdown check local to remotely call check
  .vscode/tasks.recommended.json
  Earthfile
Owners: none

feat: spellcheck ci
  .vscode/tasks.recommended.json
  Earthfile
Owners: none

feat: spell-check doc comment
  Earthfile
Owners: none

fix: spell-check comment
  Earthfile
Owners: none

chore: change name
  .vscode/tasks.recommended.json
Owners: none

ci: remove markdown-check in github action
  .github/workflows/markdown-check.yml
Owners: none

chore: remove local spellcheck from workflow and earthfile
  .github/workflows/spell-check.yml
  Earthfile
Owners: none

fix: modify the spellcheck from local to call spellcheck in `catalyst-ci` (#177)
  .github/workflows/spell-check.yml
  .vscode/tasks.recommended.json
  Earthfile
Owners: none

fix: add check markdown to check target
  Earthfile
Owners: none

fix: modify the markdown check from local to call markdown check in `catalyst-ci` (#176)
  .github/workflows/markdown-check.yml
  .markdownlint.jsonc
  .vscode/tasks.recommended.json
  Earthfile
  docs/src/appendix/important/coc.md
  docs/src/appendix/important/contributing.md
  docs/src/appendix/important/security.md
Owners: none

fix
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

update
  catalyst-gateway/.cargo/config.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: allow except tests
  catalyst-gateway/clippy.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: allow expect tests
  catalyst-gateway/clippy.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix
  catalyst-gateway/.cargo/config.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix
  catalyst-gateway/.cargo/config.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: remove CP_SRC from rust builder
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: remove CP_SRC from rust builder (#181)
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

update Earthly versions
  catalyst-gateway/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix Rust build
  catalyst-gateway/clippy.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/Cargo.lock
  catalyst-gateway/Cargo.toml
  catalyst-gateway/tests/Cargo.toml
  catalyst-gateway/tests/end2end/main.rs
  catalyst-gateway/tests/non_functional/main.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: remove docs.yml
  .github/workflows/docs.yml
Owners: none

feat(docs): Integrate Rust docs to our general mkDocs (#173)
  catalyst-gateway/.cargo/config.toml
  catalyst-gateway/Earthfile
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/clippy.toml
  docs/Earthfile
  docs/src/.pages
  docs/src/api/.pages
  docs/src/api/catalyst-gateway.md
  docs/src/api/index.md
  docs/src/appendix/important/.pages
  docs/src/architecture/.pages
  docs/src/catalyst-standards/index.md
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin
