Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

test: add test
  catalyst-gateway-crates/c509-certificate/src/lib.rs
Owners: none

doc: update doc
  catalyst-gateway-crates/c509-certificate/src/c509_algo_identifier.rs
  catalyst-gateway-crates/c509-certificate/src/c509_attributes/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_big_uint.rs
  catalyst-gateway-crates/c509-certificate/src/c509_extensions/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_name/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_oid.rs
  catalyst-gateway-crates/c509-certificate/src/lib.rs
  catalyst-gateway-crates/c509-certificate/src/tbs_cert.rs
Owners: none

fix: update cat-ci to 3.1.16 (#614)
  Earthfile
  catalyst-gateway-crates/c509-certificate/Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat!: add role based access control metadata, rename Vkey to Ed25519PublicKey
  catalyst_voices_packages/catalyst_cardano_serialization/README.md
  catalyst_voices_packages/catalyst_cardano_serialization/example/main.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/transaction_builder.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/witness_builder.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/certificate.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/hashes.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/role_based_access_control.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/transaction.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/witness.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/test_utils/test_data.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/witness_test.dart
Owners: @minikin, @stevenj

feat: add tests
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/role_based_access_control.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/hashes_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/rbac/role_based_access_control_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/test_utils/test_data.dart
Owners: @minikin, @stevenj

feat: add c509 certificate
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/role_based_access_control.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/hashes_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/rbac/role_based_access_control_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/test_utils/test_data.dart
Owners: @minikin, @stevenj

docs: typos
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/certificate.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/role_based_access_control.dart
Owners: @minikin, @stevenj

feat: add module exports
  catalyst_voices_packages/catalyst_cardano_serialization/lib/catalyst_cardano_serialization.dart
Owners: @minikin, @stevenj

chore: unused imports
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/role_based_access_control.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/rbac/role_based_access_control_test.dart
Owners: @minikin, @stevenj

feat: Add nightly coverage report
  .github/workflows/nightly-ci.yml
Owners: none

fix: Update cat-ci version to v3.1.17
  Earthfile
  catalyst-gateway-crates/c509-certificate/Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: Update cat-ci version to v3.1.17 (#622)
  Earthfile
  catalyst-gateway-crates/c509-certificate/Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: test run
  .github/workflows/generate-allure-report.yml
Owners: none

chore: test run
  .github/workflows/generate-allure-report.yml
Owners: none

refactor: cbor serialization
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/role_based_access_control.dart
Owners: @minikin, @stevenj

fix: action param
  .github/workflows/generate-allure-report.yml
Owners: none

fix: report folder name, trigger manual
  .github/workflows/nightly-ci.yml
Owners: none

fix: report folder name, trigger manual (#623)
  .github/workflows/nightly-ci.yml
Owners: none

test
  .github/workflows/generate-allure-report.yml
Owners: none

feat: adds nighly repost to docs
  docs/src/architecture/10_quality/test_reports.md
Owners: none

fix: linting
  docs/src/architecture/10_quality/test_reports.md
Owners: none

feat: adds nighly repost to docs (#624)
  docs/src/architecture/10_quality/test_reports.md
Owners: none

test
  .github/workflows/generate-allure-report.yml
Owners: none

test
  .github/workflows/generate-allure-report.yml
Owners: none

adds debug
  .github/workflows/generate-allure-report.yml
Owners: none

feat: rbac metadata (#619)
  catalyst_voices_packages/catalyst_cardano_serialization/README.md
  catalyst_voices_packages/catalyst_cardano_serialization/example/main.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/catalyst_cardano_serialization.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/transaction_builder.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/witness_builder.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/certificate.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/hashes.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/role_based_access_control.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/transaction.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/witness.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/hashes_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/rbac/role_based_access_control_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/test_utils/test_data.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/witness_test.dart
Owners: @minikin, @stevenj

adds base path
  .github/workflows/generate-allure-report.yml
Owners: none

fix base path
  .github/workflows/generate-allure-report.yml
Owners: none

test
  .github/workflows/generate-allure-report.yml
  catalyst-gateway/cat-gateway.coverage.test.info
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

test
  .github/workflows/generate-allure-report.yml
Owners: none

chore: add comment
  catalyst-gateway-crates/c509-certificate/src/c509_name/mod.rs
Owners: none

feat: C509 craft a tbs certificate and sign the certificate (#615)
  catalyst-gateway-crates/c509-certificate/Cargo.toml
  catalyst-gateway-crates/c509-certificate/src/c509.rs
  catalyst-gateway-crates/c509-certificate/src/c509_algo_identifier.rs
  catalyst-gateway-crates/c509-certificate/src/c509_attributes/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_big_uint.rs
  catalyst-gateway-crates/c509-certificate/src/c509_extensions/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_general_names/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_general_names/other_name_hw_module.rs
  catalyst-gateway-crates/c509-certificate/src/c509_issuer_sig_algo/data.rs
  catalyst-gateway-crates/c509-certificate/src/c509_name/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_name/rdn.rs
  catalyst-gateway-crates/c509-certificate/src/c509_oid.rs
  catalyst-gateway-crates/c509-certificate/src/c509_subject_pub_key_algo/data.rs
  catalyst-gateway-crates/c509-certificate/src/c509_time.rs
  catalyst-gateway-crates/c509-certificate/src/lib.rs
  catalyst-gateway-crates/c509-certificate/src/signing.rs
  catalyst-gateway-crates/c509-certificate/src/tbs_cert.rs
Owners: none

test
  .github/workflows/generate-allure-report.yml
Owners: none

test
  .github/workflows/generate-allure-report.yml
  catalyst-gateway/cat-gateway.coverage.test.info
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

test
  .github/workflows/generate-allure-report.yml
Owners: none

test
  .github/workflows/generate-allure-report.yml
Owners: none

feat: adds sed
  .github/workflows/generate-allure-report.yml
Owners: none

chore: clean up
  .github/workflows/generate-allure-report.yml
  catalyst-gateway/cat-gateway.coverage.test.info
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: implement cli example for c509
  catalyst-gateway-crates/c509-certificate/examples/data/cert_sample_1.json
  catalyst-gateway-crates/c509-certificate/examples/main.rs
Owners: none

fix: c509 file
  catalyst-gateway-crates/c509-certificate/src/c509.rs
Owners: none
