Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

feat: support native tokens in utxos
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/main.dart
  catalyst_voices_packages/catalyst_cardano_serialization/example/main.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/address.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/transaction_builder.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/witness_builder.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/exceptions.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/fees.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/transaction.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/types.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/utils/numbers.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/witness.dart
  catalyst_voices_packages/catalyst_cardano_serialization/pubspec.yaml
Owners: @minikin, @stevenj

fix: multi asset change calculation
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/types.dart
Owners: @minikin, @stevenj

fix: change calculation
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/transaction_builder.dart
Owners: @minikin, @stevenj

refactor: cleanup code
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/transaction_builder.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/types.dart
Owners: @minikin, @stevenj

fix(ci): disable earthfiles (#535)
  catalyst_voices/test_driver/Earthfile.disabled
Owners: @minikin

wip
  catalyst-gateway/bin/src/service/api/health/inspection_get.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Update .earthlyignore
  .earthlyignore
Owners: none

chore: ignore Earthfile in .earthfileignore
  .earthlyignore
Owners: none

docs: update example
  catalyst_voices_packages/catalyst_cardano_serialization/README.md
Owners: @minikin, @stevenj

docs: update readme
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/README.md
  catalyst_voices_packages/catalyst_cardano_serialization/README.md
Owners: @minikin, @stevenj

refactor: cleanup code
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/types.dart
Owners: @minikin, @stevenj

docs: readme
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/README.md
Owners: @minikin, @stevenj

feat: add cip 95
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/lib/src/cardano_wallet.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/lib/src/exceptions.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_interop.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_wallet_proxy.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/catalyst_cardano_serialization.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/cip95/drep.dart
Owners: @minikin, @stevenj

fix: cip95 deserialization
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/main.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/lib/src/cardano_wallet.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_wallet_proxy.dart
Owners: @minikin, @stevenj

feat: Add VoicesAppBar (#531)
  .config/dictionaries/project.dic
  catalyst_voices/lib/pages/widgets/voices_app_bar/actions/connecting_status.dart
  catalyst_voices/lib/pages/widgets/voices_app_bar/actions/finish_account_button.dart
  catalyst_voices/lib/pages/widgets/voices_app_bar/actions/get_started_button.dart
  catalyst_voices/lib/pages/widgets/voices_app_bar/actions/notifications_indicator.dart
  catalyst_voices/lib/pages/widgets/voices_app_bar/actions/role_picker.dart
  catalyst_voices/lib/pages/widgets/voices_app_bar/actions/search_button.dart
  catalyst_voices/lib/pages/widgets/voices_app_bar/actions/unlock_button.dart
  catalyst_voices/lib/pages/widgets/voices_app_bar/actions/user_profile_button.dart
  catalyst_voices/lib/pages/widgets/voices_app_bar/actions/voices_app_bar_actions.dart
  catalyst_voices/lib/pages/widgets/voices_app_bar/voices_app_bar.dart
  catalyst_voices/packages/catalyst_voices_assets/assets/colors/colors.xml
  catalyst_voices/packages/catalyst_voices_assets/internal_resources/fonts/CatalystVoicesIcons.ttf
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/colors.gen.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_voices_assets.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_voices_icons.dart
  catalyst_voices/packages/catalyst_voices_assets/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_brands/lib/src/catalyst_voices_brands.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/theme_extensions/theme_extensions.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/theme_extensions/voices_color_scheme.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/packages/catalyst_voices_brands/test/src/catalyst_voices_brands_test.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/pubspec.yaml
Owners: @minikin

refactor: formatting
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/main.dart
Owners: @minikin, @stevenj

docs: improve grammar
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/README.md
  catalyst_voices_packages/catalyst_cardano_serialization/README.md
Owners: @minikin, @stevenj

fix: Fix .earthlyignore excluded directories/files (#536)
  .earthlyignore
Owners: none

refactor: rename value to balance
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/main.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/lib/src/cardano_wallet.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_wallet_proxy.dart
  catalyst_voices_packages/catalyst_cardano_serialization/example/main.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/transaction_builder.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/transaction.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/types.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/test_utils/test_data.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/types_test.dart
Owners: @minikin, @stevenj

docs: fix
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/types.dart
Owners: @minikin, @stevenj

docs: update c509 docs
  catalyst-gateway-crates/c509-certificate/src/c509_cert.rs
  catalyst-gateway-crates/c509-certificate/src/c509_enum.rs
  catalyst-gateway-crates/c509-certificate/src/cbor_encoder.rs
  catalyst-gateway-crates/c509-certificate/src/extensions/alt_name.rs
  catalyst-gateway-crates/c509-certificate/src/extensions/mod.rs
  catalyst-gateway-crates/c509-certificate/src/lib.rs
Owners: none

fix: name
  catalyst-gateway-crates/c509-certificate/src/c509_cert.rs
  catalyst-gateway-crates/c509-certificate/src/extensions/alt_name.rs
  catalyst-gateway-crates/c509-certificate/src/extensions/mod.rs
  catalyst-gateway-crates/c509-certificate/src/lib.rs
Owners: none

fix: catalyst cardano support for NFTs (#537)
  .gitignore
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/README.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/main.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/lib/src/cardano_wallet.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_wallet_proxy.dart
  catalyst_voices_packages/catalyst_cardano_serialization/README.md
  catalyst_voices_packages/catalyst_cardano_serialization/example/main.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/address.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/transaction_builder.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/witness_builder.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/exceptions.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/fees.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/transaction.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/types.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/utils/numbers.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/witness.dart
  catalyst_voices_packages/catalyst_cardano_serialization/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano_serialization/test/test_utils/test_data.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/types_test.dart
Owners: @minikin, @stevenj

feat: cardano wallet cip 95 (#538)
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/main.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/lib/src/cardano_wallet.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/lib/src/exceptions.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_interop.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_wallet_proxy.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/catalyst_cardano_serialization.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/cip95/drep.dart
Owners: @minikin, @stevenj

chore: remove unnecessary comments
  catalyst-gateway-crates/c509-certificate/src/c509_cert.rs
Owners: none

draft
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/integration_test/wallet_test.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/pubspec.yaml
Owners: @minikin, @stevenj

fix: docs url
  utilities/local-cluster/Readme.md
Owners: none

fix: adds windows hosts doc
  utilities/local-cluster/Readme.md
Owners: none

Update Readme.md
  utilities/local-cluster/Readme.md
Owners: none

fix: refactor ARGs
  catalyst-gateway/tests/schemathesis_tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: remove saving logs
  catalyst-gateway/tests/schemathesis_tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  docs/src/architecture/10_quality/testplans/flutter_cardano_integration.md
Owners: none

Update flutter_cardano_integration.md
  docs/src/architecture/10_quality/testplans/flutter_cardano_integration.md
Owners: none

Update flutter_cardano_integration.md
  docs/src/architecture/10_quality/testplans/flutter_cardano_integration.md
Owners: none

Update flutter_cardano_integration.md
  docs/src/architecture/10_quality/testplans/flutter_cardano_integration.md
Owners: none

fix: macro definitions location
  catalyst-gateway-crates/c509-certificate/src/c509_cert.rs
  catalyst-gateway-crates/c509-certificate/src/c509_enum.rs
  catalyst-gateway-crates/c509-certificate/src/cbor_encoder.rs
  catalyst-gateway-crates/c509-certificate/src/extensions/alt_name.rs
  catalyst-gateway-crates/c509-certificate/src/extensions/mod.rs
Owners: none

fix: earthly version and cspell
  catalyst-gateway-crates/c509-certificate/Earthfile
Owners: none

fix: update rust config file to match cat-ci stdcfg
  catalyst-gateway-crates/c509-certificate/deny.toml
  catalyst-gateway-crates/c509-certificate/rust-toolchain.toml
  catalyst-gateway-crates/c509-certificate/rustfmt.toml
Owners: none

fix: macro definitions location
  catalyst-gateway-crates/c509-certificate/src/lib.rs
Owners: none

Update abstract for flutter_cardano_integration.md
  docs/src/architecture/10_quality/testplans/flutter_cardano_integration.md
Owners: none
