Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

add anyhow, refactor some functions
  catalyst-gateway/Cargo.lock
  catalyst-gateway/Cargo.toml
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/bin/src/logger.rs
  catalyst-gateway/bin/src/util.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/bin/src/cli.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor: Use `ResponsiveBuilder` to calculate padding values.
  catalyst_voices/packages/catalyst_voices_shared/lib/src/dynamic_padding/dynamic_padding.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/dynamic_padding_test.dart
Owners: @minikin

feat: bump ci to 3.0.0
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: bump ci to 3.0.0 (#340)
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: Add ResponsiveDynamicCgild widget.
  catalyst_voices/packages/catalyst_voices_shared/lib/src/responsive_dynamic_child/responsive_dynamic_child.dart
Owners: @minikin

refactor: Add `anyhow` error handling (#339)
  catalyst-gateway/Cargo.lock
  catalyst-gateway/Cargo.toml
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/bin/src/logger.rs
  catalyst-gateway/bin/src/util.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

add mithril snapshot loader
  catalyst-gateway/mithril_snapshot_loader/Earthfile
  catalyst-gateway/mithril_snapshot_loader/loader.py
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/mithril_snapshot_loader/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix spelling
  catalyst-gateway/mithril_snapshot_loader/Earthfile
  catalyst-gateway/mithril_snapshot_loader/loader.py
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: Rename `DynamicPadding` to `ResponsivePadding`.
  catalyst_voices/packages/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/responsive_padding/responsive_padding.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/responsive_padding_test.dart
Owners: @minikin

feat: add DynamicPadding widget. (#324)
  catalyst_voices/packages/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/responsive_padding/responsive_padding.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/catalyst_voices_shared_test.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/platform_aware_builder_test.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/responsive_padding_test.dart
Owners: @minikin

chore: Rename `ResponsiveChild` widget.
  catalyst_voices/packages/catalyst_voices_shared/lib/src/responsive_child/responsive_child.dart
Owners: @minikin

test: Add test cases for `ResponsiveChild`.
  catalyst_voices/packages/catalyst_voices_shared/test/src/responsive_child.dart
Owners: @minikin

docs: Add description for `ResponsiveChild`.
  catalyst_voices/packages/catalyst_voices_shared/lib/src/responsive_child/responsive_child.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/responsive_child_test.dart
Owners: @minikin

feat: adds flutter unit tests and report
  .github/workflows/generate-allure-report.yml
  catalyst_voices/Earthfile
  catalyst_voices/test_driver/Earthfile
  catalyst_voices/test_driver/integration_tests.dart
Owners: @minikin

bump CI version
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/schema-mismatch/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: cspell
  .github/workflows/generate-allure-report.yml
Owners: none

wip
  catalyst-gateway/mithril_snapshot_loader/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: update ci version
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/tests/schema-mismatch/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/tests/schema-mismatch/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs(cips): Add full transaction/metadata relationship diagram
  .config/dictionaries/project.dic
  docs/src/catalyst-standards/draft-cips/role-registration/cardano-transaction.svg
  docs/src/catalyst-standards/draft-cips/role-registration/certificate-chain.svg
  docs/src/catalyst-standards/draft-cips/role-registration/metadata-envelope.svg
  docs/src/catalyst-standards/draft-cips/role-registration/x509-roles-complete.d2
  docs/src/catalyst-standards/draft-cips/role-registration/x509-roles-complete.svg
  docs/src/catalyst-standards/draft-cips/role-registration/x509-roles.svg
Owners: none

wip
  catalyst-gateway/tests/schema-mismatch/README.md
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/tests/schema-mismatch/Readme.md
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: adds tojson lib
  catalyst_voices/Earthfile
Owners: @minikin

feat: adds lib output
  catalyst_voices/Earthfile
  catalyst_voices/flutter-unit-tests.junit-report.xml
Owners: @minikin

fix: remove test report leftover
  catalyst_voices/flutter-unit-tests.junit-report.xml
Owners: @minikin

fix: cspell
  .config/dictionaries/project.dic
Owners: none

feat: update catalyst_voices_remote_widgets structure, add dics
  catalyst_voices/packages/catalyst_voices_remote_widgets/README.md
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/README.md
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/bin/main.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/remote_form.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/rfw/new_remote_widget.rfw
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/rfw/remote_widget.rfw
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/rfw/test.rfw
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/rfwtxt/new_remote_widget.rfwtxt
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/rfwtxt/remote_widget.rfwtxt
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/rfwtxt/test.rfwtxt
Owners: @minikin

feat: Add mithril snapshot loader (#341)
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/mithril_snapshot_loader/Earthfile
  catalyst-gateway/mithril_snapshot_loader/loader.py
  catalyst-gateway/tests/schema-mismatch/Earthfile
  catalyst-gateway/tests/schema-mismatch/Readme.md
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: adds flutter unit tests and report (#343)
  .config/dictionaries/project.dic
  .github/workflows/generate-allure-report.yml
  catalyst_voices/Earthfile
  catalyst_voices/test_driver/Earthfile
  catalyst_voices/test_driver/integration_tests.dart
Owners: @minikin

docs: add docs
  catalyst_voices/packages/catalyst_voices_remote_widgets/lib/src/core/catalyst_core.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/lib/src/formats/rfw_encode.dart
Owners: @minikin

feat: Draft ComingSoon page structure.
  catalyst_voices/lib/pages/coming_soon/coming_soon.dart
  catalyst_voices/lib/routes/home_page_route.dart
  catalyst_voices/lib/routes/home_page_route.g.dart
Owners: @minikin

refactor: `ResponsiveChild` manages `WidgetBuilder` instead of `Widget`.
  catalyst_voices/packages/catalyst_voices_shared/lib/src/responsive_child/responsive_child.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/responsive_child_test.dart
Owners: @minikin

rename schema_mismatch dir to api_tests
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst-gateway/tests/api_tests/Readme.md
  catalyst-gateway/tests/api_tests/api-tests/__init__.py
  catalyst-gateway/tests/api_tests/api-tests/test_schema_mismatch_behavior.py
  catalyst-gateway/tests/api_tests/docker-compose.yml
  catalyst-gateway/tests/api_tests/poetry.lock
  catalyst-gateway/tests/api_tests/pyproject.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst-gateway/tests/api_tests/api_tests/__init__.py
  catalyst-gateway/tests/api_tests/api_tests/test_schema_mismatch_behavior.py
  catalyst-gateway/tests/api_tests/pyproject.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/tests/api_tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst-gateway/tests/api_tests/api_tests/__init__.py
  catalyst-gateway/tests/api_tests/api_tests/test_schema_mismatch_behavior.py
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/tests/api_tests/api_tests/__init__.py
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
