Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

refactor(auth token encode and decode): ed25519 Signature cbor fields
  catalyst-gateway/bin/src/service/api/auth/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: clean up example seed words
  catalyst_voices/uikit_example/lib/examples/voices_seed_phrase_example.dart
Owners: @minikin

fix!: required signers are the hash of the public key, not the public key itself
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/transaction_builder.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/hashes.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/transaction.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/fees_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/test_utils/test_data.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/transaction_test.dart
Owners: @minikin, @stevenj

Delete devtools_options.yaml
  catalyst_voices/devtools_options.yaml
Owners: @minikin

Update README.md
  utilities/poc_local_storage/README.md
Owners: none

Update cspell.json
  cspell.json
Owners: none

Delete README.md
  utilities/poc_local_storage/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
Owners: none

chore: widgets docs
  catalyst_voices/lib/widgets/common/columns_row.dart
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_completer.dart
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_picker.dart
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_sequencer.dart
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_viewer.dart
Owners: @minikin

tests for ColumnsRow widget
  catalyst_voices/test/widgets/common/columns_row_test.dart
Owners: @minikin

fix warnings
  utilities/poc_local_storage/lib/crypto_service.dart
  utilities/poc_local_storage/lib/file_picker_service.dart
  utilities/poc_local_storage/lib/home_screen.dart
  utilities/poc_local_storage/lib/password_entry_screen.dart
  utilities/poc_local_storage/lib/protected_screen.dart
  utilities/poc_local_storage/lib/secure_certificate_repository.dart
  utilities/poc_local_storage/lib/secure_storage_service.dart
  utilities/poc_local_storage/pubspec.yaml
Owners: none

fix: to be signed message should be a plain cbor sequence (#701)
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/auth_token.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/rbac/auth_token_test.dart
Owners: @minikin, @stevenj

chore: seed_phrases_sequencer tests
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_sequencer.dart
  catalyst_voices/test/widgets/seed_phrase/seed_phrases_sequencer_test.dart
Owners: @minikin

fix: display hin text as disabled if disabled
  catalyst_voices/lib/widgets/text_field/voices_text_field.dart
Owners: @minikin

feat: IterableExt separatedBy and separatedByIndexed
  catalyst_voices/packages/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/utils/iterable_ext.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/utils/iterable_ext_test.dart
Owners: @minikin

feat: SeedPhrasesSequencer and SeedPhrasesViewer (#702)
  catalyst_voices/lib/widgets/common/columns_row.dart
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_completer.dart
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_picker.dart
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_sequencer.dart
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_viewer.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/test/widgets/common/columns_row_test.dart
  catalyst_voices/test/widgets/seed_phrase/seed_phrases_sequencer_test.dart
  catalyst_voices/uikit_example/lib/examples/voices_seed_phrase_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

feat: use separatedBy extension
  catalyst_voices/lib/widgets/common/columns_row.dart
  catalyst_voices/uikit_example/lib/examples/voices_buttons_example.dart
  catalyst_voices/uikit_example/lib/examples/voices_indicators_example.dart
  catalyst_voices/uikit_example/pubspec.yaml
Owners: @minikin

chore: use extension for widget spacings
  catalyst_voices/lib/widgets/common/columns_row.dart
  catalyst_voices/lib/widgets/indicators/voices_status_indicator.dart
Owners: @minikin

chore: SeedPhrase slot loc
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_completer.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

fix: SeedPhrasesSequencer tests
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_picker.dart
  catalyst_voices/test/helpers/pump_app.dart
  catalyst_voices/test/widgets/seed_phrase/seed_phrases_sequencer_test.dart
Owners: @minikin

chore: clean up
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_picker.dart
Owners: @minikin

fix!: required signers are the hash of the public key, not the public key itself (#703)
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/transaction_builder.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/hashes.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/transaction.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/fees_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/test_utils/test_data.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/transaction_test.dart
Owners: @minikin, @stevenj

fix: seed phrases slot loc (#706)
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_completer.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/test/helpers/pump_app.dart
  catalyst_voices/test/widgets/seed_phrase/seed_phrases_sequencer_test.dart
Owners: @minikin

feat: Iterable separatedBy/separatedByIndexed extension (#705)
  catalyst_voices/lib/widgets/common/columns_row.dart
  catalyst_voices/lib/widgets/indicators/voices_status_indicator.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/utils/iterable_ext.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/utils/iterable_ext_test.dart
  catalyst_voices/uikit_example/lib/examples/voices_buttons_example.dart
  catalyst_voices/uikit_example/lib/examples/voices_indicators_example.dart
  catalyst_voices/uikit_example/pubspec.yaml
Owners: @minikin

add initial ledger schema
  docs/src/architecture/08_concepts/voting_ledger/.pages
  docs/src/architecture/08_concepts/voting_ledger/cddl/block.cddl
  docs/src/architecture/08_concepts/voting_ledger/images/ledger_schema.excalidraw
  docs/src/architecture/08_concepts/voting_ledger/images/ledger_schema.svg
  docs/src/architecture/08_concepts/voting_ledger/ledger_cip.md
Owners: none

feat: menu - initial commit
  catalyst_voices/lib/widgets/menu/voices_menu.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/uikit_example/lib/examples/voices_menu_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

feat: plain tooltip + example
  catalyst_voices/lib/widgets/tooltips/voices_plain_tooltip.dart
  catalyst_voices/lib/widgets/tooltips/voices_rich_tooltip.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/uikit_example/lib/examples/voices_tooltips_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

feat: VoicesRichTooltip
  catalyst_voices/lib/widgets/tooltips/voices_rich_tooltip.dart
  catalyst_voices/uikit_example/lib/examples/voices_tooltips_example.dart
Owners: @minikin

chore: remove console prints
  catalyst_voices/uikit_example/lib/examples/voices_tooltips_example.dart
Owners: @minikin

feat: light mode shadows
  catalyst_voices/lib/widgets/tooltips/voices_rich_tooltip.dart
Owners: @minikin

chore: widgets docs
  catalyst_voices/lib/widgets/tooltips/voices_plain_tooltip.dart
  catalyst_voices/lib/widgets/tooltips/voices_rich_tooltip.dart
Owners: @minikin

fix: example texts makes more sens now
  catalyst_voices/uikit_example/lib/examples/voices_tooltips_example.dart
Owners: @minikin

add blake tags specefication
  docs/src/catalyst-standards/cbor_tags/blake.md
Owners: none

update block structure
  docs/src/architecture/08_concepts/voting_ledger/cddl/block.cddl
Owners: none

feat: menu - more scalable syntax
  catalyst_voices/lib/widgets/menu/voices_menu.dart
Owners: @minikin

feat: menu - more scalable syntax
  catalyst_voices/uikit_example/lib/examples/voices_menu_example.dart
Owners: @minikin

feat: menu - add enabled and showDivider properties
  catalyst_voices/lib/widgets/menu/voices_menu.dart
  catalyst_voices/uikit_example/lib/examples/voices_menu_example.dart
Owners: @minikin

cleanup
  docs/src/architecture/08_concepts/voting_ledger/ledger_cip.md
  docs/src/catalyst-standards/cbor_tags/blake.md
Owners: none

feat: menu - workaround to show correct chevron icons
  catalyst_voices/lib/widgets/menu/voices_menu.dart
  catalyst_voices/uikit_example/lib/examples/voices_menu_example.dart
Owners: @minikin

feat: menu - remove padding from divider
  catalyst_voices/lib/widgets/menu/voices_menu.dart
Owners: @minikin

chore: Tooltips tests
  catalyst_voices/lib/widgets/tooltips/voices_plain_tooltip.dart
  catalyst_voices/lib/widgets/tooltips/voices_rich_tooltip.dart
  catalyst_voices/test/helpers/pump_app.dart
  catalyst_voices/test/widgets/tooltips/voices_plain_tooltip_test.dart
  catalyst_voices/test/widgets/tooltips/voices_rich_tooltip_test.dart
Owners: @minikin
