Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

fix: add mit-0 license to deny.toml and test it
  catalyst-gateway/Earthfile
  catalyst-gateway/deny.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: update cat-gateway code gen
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.chopper.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.dart
Owners: @minikin

fix: update cat-gateway rust-ci version
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

add running allure report flow after forge ci job
  .github/workflows/ci.yml
Owners: none

add temp trigger for this branch
  .github/workflows/ci.yml
Owners: none

try 1
  .github/workflows/ci.yml
Owners: none

try 2
  .github/workflows/ci.yml
Owners: none

try 3
  .github/workflows/ci.yml
  .github/workflows/generate-allure-report.yml
Owners: none

try 4
  .github/workflows/ci.yml
Owners: none

docs(docs): Add API Versioning ADR
  .config/dictionaries/project.dic
  .earthlyignore
  .vscode/extensions.json
  .vscode/settings.recommended.json
  docs/src/architecture/09_architecture_decisions/0007-api-versions.md
Owners: none

fix: revert change
  catalyst-gateway/bin/src/settings/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: add new endpoint and fix validate json
  catalyst-gateway/bin/src/db/event/config/default/frontend_ip.json
  catalyst-gateway/bin/src/db/event/config/jsonschema/frontend.json
  catalyst-gateway/bin/src/db/event/config/key.rs
  catalyst-gateway/bin/src/db/event/config/mod.rs
  catalyst-gateway/bin/src/service/api/config/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: cat-gateway api code gen
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.chopper.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.dart
Owners: @minikin

fix(cat-gateway): bump cardano-chain-follower to v0.0.4 (#1004)
  catalyst-gateway/bin/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Update catalyst-gateway/bin/src/db/event/config/jsonschema/frontend.json
  catalyst-gateway/bin/src/db/event/config/jsonschema/frontend.json
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Update catalyst-gateway/bin/src/db/event/config/jsonschema/frontend.json
  catalyst-gateway/bin/src/db/event/config/jsonschema/frontend.json
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: first iteration of AesCryptoService
  catalyst_voices/packages/catalyst_voices_services/lib/src/crypto/aes_crypto_service.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/crypto/crypto_service.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/crypto/cryptography_crypto_service.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/lock_factor_codec.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/storage/vault/lock_factor_codec_test.dart
Owners: @minikin

feat: refactor SecureStorageVault to use CryptoService
  catalyst_voices/packages/catalyst_voices_models/lib/src/errors/errors.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/errors/vault_exception.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/catalyst_voices_services.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/lock_factor.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/secure_storage_vault.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/storage/vault/lock_factor_test.dart
Owners: @minikin

fix: keychain clearing vault
  catalyst_voices/packages/catalyst_voices_services/lib/src/keychain/keychain.dart
Owners: @minikin

chore: spacing in SecureStorageVault
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/secure_storage_vault.dart
Owners: @minikin

add running after ci finishes
  .github/workflows/ci.yml
Owners: none

test: AesCryptoService
  catalyst_voices/packages/catalyst_voices_models/lib/src/errors/crypto_exception.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/errors/errors.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/crypto/aes_crypto_service.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/crypto/aes_crypto_service_test.dart
Owners: @minikin

chore: wip
  catalyst_voices/packages/catalyst_voices_services/lib/src/crypto/aes_crypto_service.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/secure_storage_vault.dart
Owners: @minikin

chore: review feedback
  catalyst_voices/lib/common/error_handler.dart
  catalyst_voices/lib/pages/account/unlock_keychain_dialog.dart
  catalyst_voices/lib/pages/registration/pictures/unlock_keychain_picture.dart
  catalyst_voices/lib/widgets/snackbar/voices_snackbar.dart
Owners: @minikin

refactor: make a global session listener that shows snackbars
  catalyst_voices/lib/app/view/app.dart
  catalyst_voices/lib/pages/account/unlock_keychain_dialog.dart
  catalyst_voices/lib/widgets/app_bar/session/session_action_header.dart
  catalyst_voices/lib/widgets/app_bar/session/session_state_header.dart
Owners: @minikin

fix: move the global session listener to a place in widget tree where the localizations are available
  catalyst_voices/lib/app/view/app.dart
  catalyst_voices/lib/app/view/app_content.dart
  catalyst_voices/lib/app/view/app_session_listener.dart
Owners: @minikin

feat: vault crypto service versioning + algorithm ID
  catalyst_voices/packages/catalyst_voices_models/lib/src/errors/crypto_exception.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/secure_storage_vault.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/vault_crypto_service.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/storage/vault/vault_crypto_service_test.dart
Owners: @minikin

style: reformat
  catalyst_voices/lib/app/view/app.dart
Owners: @minikin

test: fix vault tests
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/secure_storage_vault.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/storage/vault/secure_storage_vault_test.dart
Owners: @minikin

try using forge run instead of ci run
  .github/workflows/ci.yml
Owners: none

feat(cat-voices): lock/unlock keychain (#1003)
  catalyst_voices/lib/app/view/app_content.dart
  catalyst_voices/lib/app/view/app_session_listener.dart
  catalyst_voices/lib/common/error_handler.dart
  catalyst_voices/lib/pages/account/unlock_keychain_dialog.dart
  catalyst_voices/lib/pages/registration/pictures/unlock_keychain_picture.dart
  catalyst_voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/lib/widgets/app_bar/session/session_action_header.dart
  catalyst_voices/lib/widgets/app_bar/session/session_state_header.dart
  catalyst_voices/lib/widgets/footers/standard_links_page_footer.dart
  catalyst_voices/lib/widgets/snackbar/voices_snackbar.dart
  catalyst_voices/lib/widgets/snackbar/voices_snackbar_action.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/bloc_error_emitter_mixin.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_bloc.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_event.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_services/lib/src/keychain/key_derivation.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/keychain/keychain.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_transaction_builder.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/authentication/authentication.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/authentication/exception/localized_unlock_password_exception.dart
  catalyst_voices/uikit_example/lib/examples/voices_snackbar_example.dart
Owners: @minikin

fix: vault singleton registration
  catalyst_voices/lib/dependency/dependencies.dart
Owners: @minikin

try using forge run instead of ci run for all possible in allure flow
  .github/workflows/ci.yml
Owners: none

feat: Upload SeedPhrase
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_check_panel.dart
  catalyst_voices/lib/pages/registration/recover/seed_phrase/seed_phrase_input_panel.dart
  catalyst_voices/lib/pages/registration/show_upload_confirmation_dialog.dart
  catalyst_voices/packages/catalyst_voices_assets/assets/images/2.0x/key_incorrect.webp
  catalyst_voices/packages/catalyst_voices_assets/assets/images/3.0x/key_incorrect.webp
  catalyst_voices/packages/catalyst_voices_assets/assets/images/key_incorrect.webp
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/assets.gen.dart
Owners: @minikin

fix: keychain adjustments
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_bloc.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/keychain/keychain.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_service.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/secure_storage_vault.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/vault.dart
Owners: @minikin

chore: benchmark crypto service
  catalyst_voices/packages/catalyst_voices_services/lib/src/crypto/vault_crypto_service.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/secure_storage_vault.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/vault_crypto_service.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/crypto/vault_crypto_service_test.dart
Owners: @minikin

feat: worker file
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/assets/js/catalyst_compression.js
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/assets/js/catalyst_compression_worker.js
Owners: @minikin, @stevenj

feat: Upload SeedPhrase - translations
  catalyst_voices/lib/pages/registration/show_upload_confirmation_dialog.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

chore: change affacted functions to future
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_transaction_builder.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_rbac_tx.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/x509_metadata_envelope.dart
  catalyst_voices_packages/catalyst_compression/catalyst_compression/example/main.dart
  catalyst_voices_packages/catalyst_compression/catalyst_compression_platform_interface/lib/src/catalyst_compressor.dart
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/lib/src/interop/catalyst_compression_interop.dart
Owners: @minikin, @stevenj

chore: escape special characters in arb
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin
