Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

refactor(cat-voices): Refactor application bootstrap to allow running it in integration tests (#848)
  catalyst_voices/integration_test/app_test.dart
  catalyst_voices/lib/configs/bootstrap.dart
  catalyst_voices/lib/configs/main_dev.dart
  catalyst_voices/lib/configs/main_preprod.dart
  catalyst_voices/lib/configs/main_prod.dart
  catalyst_voices/lib/configs/main_qa.dart
  catalyst_voices/lib/configs/main_web.dart
Owners: @minikin

refactor: move storage to services package + implement codec
  catalyst_voices/packages/catalyst_voices_services/lib/src/catalyst_voices_services.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/secure_storage/secure_storage.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/secure_storage/secure_storage_keys.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/secure_storage/secure_storage_service.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/storage.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/lock_factor.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/lock_factor_codec.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/secure_storage_vault.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/vault.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/storage/lock_factor.dart
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
Owners: @minikin

fix(cat-gateway): Cip36 indexing working, improve bad cassandra query reporting.
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/db/index/block/certs.rs
  catalyst-gateway/bin/src/db/index/block/cip36/cql/insert_cip36.cql
  catalyst-gateway/bin/src/db/index/block/cip36/cql/insert_cip36_for_vote_key.cql
  catalyst-gateway/bin/src/db/index/block/cip36/cql/insert_cip36_invalid.cql
  catalyst-gateway/bin/src/db/index/block/cip36/insert_cip36.rs
  catalyst-gateway/bin/src/db/index/block/cip36/insert_cip36_for_vote_key.rs
  catalyst-gateway/bin/src/db/index/block/cip36/insert_cip36_invalid.rs
  catalyst-gateway/bin/src/db/index/block/cip36/mod.rs
  catalyst-gateway/bin/src/db/index/block/txi.rs
  catalyst-gateway/bin/src/db/index/block/txo/insert_txo.rs
  catalyst-gateway/bin/src/db/index/block/txo/insert_txo_asset.rs
  catalyst-gateway/bin/src/db/index/block/txo/insert_unstaked_txo.rs
  catalyst-gateway/bin/src/db/index/block/txo/insert_unstaked_txo_asset.rs
  catalyst-gateway/bin/src/db/index/queries/mod.rs
  catalyst-gateway/bin/src/db/index/queries/staked_ada/update_txo_spent.rs
  catalyst-gateway/bin/src/db/index/schema/cql/cip36_registration_for_vote_key.cql
  catalyst-gateway/bin/src/db/index/schema/cql/cip36_registration_invalid.cql
  catalyst-gateway/bin/src/db/index/session.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: More storage types options
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/storage.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/secure_storage_vault.dart
Owners: @minikin

feat(cat-voices): alert dialog
  catalyst_voices/lib/widgets/avatars/voices_avatar.dart
  catalyst_voices/lib/widgets/modals/voices_alert_dialog.dart
  catalyst_voices/lib/widgets/modals/voices_desktop_dialog.dart
  catalyst_voices/lib/widgets/modals/voices_dialog.dart
  catalyst_voices/lib/widgets/modals/voices_info_dialog.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/uikit_example/lib/examples/voices_avatar_example.dart
  catalyst_voices/uikit_example/lib/examples/voices_modals_example.dart
Owners: @minikin

fix(cat-voices) pass isDismissible to alert dialog
  catalyst_voices/lib/widgets/modals/voices_alert_dialog.dart
Owners: @minikin

refactor(cat-voices): cleanup
  catalyst_voices/lib/widgets/modals/voices_alert_dialog.dart
Owners: @minikin

chore(cat-voices): tests
  catalyst_voices/test/widgets/avatars/voices_avatar_test.dart
Owners: @minikin

chore: docs
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/storage.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/storage_string_mixin.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/lock_factor.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/lock_factor_codec.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/secure_storage_vault.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/vault.dart
Owners: @minikin

test: initial test
  catalyst_voices/test/common/bip39/seed_phrase_test.dart
Owners: @minikin

feat: secure storage
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/secure_storage.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/secure_storage_vault.dart
Owners: @minikin

feat: export storage classes + fix voices usage
  catalyst_voices/lib/dependency/dependencies.dart
  catalyst_voices/packages/catalyst_voices_repositories/lib/src/credentials_storage_repository.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/catalyst_voices_services.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/secure_storage_keys_const.dart
Owners: @minikin

fix: typo
  catalyst_voices/test/common/bip39/seed_phrase_test.dart
Owners: @minikin

add Non-Interactive ZK Vote Proof Proover section and Verifier section
  docs/src/architecture/08_concepts/voting_transaction/crypto.md
Owners: none

test: StorageStringMixin unit tests
  catalyst_voices/packages/catalyst_voices_services/test/src/storage/storage_string_mixin_test.dart
Owners: @minikin

fix: remove test folder
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/compose.yml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/global-setup.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/keys.txt
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/package-lock.json
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/package.json
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/playwright.config.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/utils.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/wallet-tests.spec.ts
Owners: @minikin, @stevenj

fix: test report path
  .github/workflows/nightly-ci.yml
Owners: none

test: first secure storage test
  catalyst_voices/packages/catalyst_voices_services/test/src/storage/secure_storage_test.dart
Owners: @minikin

feat: My account, develop account_popup.dart
  catalyst_voices/lib/pages/account/account_popup.dart
  catalyst_voices/lib/widgets/app_bar/session/session_state_header.dart
Owners: @minikin

refactor: seed phrase class
  catalyst_voices/lib/common/bip39/seed_phrase.dart
  catalyst_voices/pubspec.yaml
  catalyst_voices/test/common/bip39/seed_phrase_test.dart
  melos.yaml
Owners: @minikin

feat: My account, account_popup, pass callbacks
  catalyst_voices/lib/pages/account/account_popup.dart
  catalyst_voices/lib/widgets/app_bar/session/session_state_header.dart
Owners: @minikin

feat: My account, account_popup, ignore pointer for avatar
  catalyst_voices/lib/pages/account/account_popup.dart
Owners: @minikin

test: seed phrase words
  catalyst_voices/lib/common/bip39/seed_phrase.dart
  catalyst_voices/test/common/bip39/seed_phrase_test.dart
Owners: @minikin

feat: My account, account_popup, lint issues
  catalyst_voices/lib/pages/account/account_popup.dart
Owners: @minikin

feat: full words
  catalyst_voices/analysis_options.yaml
  catalyst_voices/lib/common/bip39/seed_phrase.dart
Owners: @minikin

fix: cspell
  catalyst_voices/lib/common/bip39/seed_phrase.dart
Owners: @minikin

feat(transaction_builder): add support for additional transaction body fields (#710)
  catalyst_voices_packages/catalyst_cardano_serialization/README.md
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/transaction_builder.dart
Owners: @minikin, @stevenj

refactor: move to models
  catalyst_voices/analysis_options.yaml
  catalyst_voices/packages/catalyst_voices_models/analysis_options.yaml
  catalyst_voices/packages/catalyst_voices_models/lib/src/seed_phrase.dart
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_models/tests/seed_phrase_test.dart
  catalyst_voices/pubspec.yaml
Owners: @minikin

refactor: rename test folder
  catalyst_voices/packages/catalyst_voices_models/test/seed_phrase_test.dart
Owners: @minikin

feat(cat-voices): alert dialog (#851)
  catalyst_voices/lib/widgets/avatars/voices_avatar.dart
  catalyst_voices/lib/widgets/modals/voices_alert_dialog.dart
  catalyst_voices/lib/widgets/modals/voices_desktop_dialog.dart
  catalyst_voices/lib/widgets/modals/voices_dialog.dart
  catalyst_voices/lib/widgets/modals/voices_info_dialog.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/test/widgets/avatars/voices_avatar_test.dart
  catalyst_voices/uikit_example/lib/examples/voices_avatar_example.dart
  catalyst_voices/uikit_example/lib/examples/voices_modals_example.dart
Owners: @minikin

feat(cat-gateway): Chain sync V2 - part 2 (#836)
  catalyst-gateway/Justfile
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/db/index/block/certs.rs
  catalyst-gateway/bin/src/db/index/block/cip36/cql/insert_cip36.cql
  catalyst-gateway/bin/src/db/index/block/cip36/cql/insert_cip36_for_vote_key.cql
  catalyst-gateway/bin/src/db/index/block/cip36/cql/insert_cip36_invalid.cql
  catalyst-gateway/bin/src/db/index/block/cip36/insert_cip36.rs
  catalyst-gateway/bin/src/db/index/block/cip36/insert_cip36_for_vote_key.rs
  catalyst-gateway/bin/src/db/index/block/cip36/insert_cip36_invalid.rs
  catalyst-gateway/bin/src/db/index/block/cip36/mod.rs
  catalyst-gateway/bin/src/db/index/block/mod.rs
  catalyst-gateway/bin/src/db/index/block/txi.rs
  catalyst-gateway/bin/src/db/index/block/txo/insert_txo.rs
  catalyst-gateway/bin/src/db/index/block/txo/insert_txo_asset.rs
  catalyst-gateway/bin/src/db/index/block/txo/insert_unstaked_txo.rs
  catalyst-gateway/bin/src/db/index/block/txo/insert_unstaked_txo_asset.rs
  catalyst-gateway/bin/src/db/index/block/txo/mod.rs
  catalyst-gateway/bin/src/db/index/queries/mod.rs
  catalyst-gateway/bin/src/db/index/queries/staked_ada/update_txo_spent.rs
  catalyst-gateway/bin/src/db/index/schema/cql/cip36_registration.cql
  catalyst-gateway/bin/src/db/index/schema/cql/cip36_registration_for_vote_key.cql
  catalyst-gateway/bin/src/db/index/schema/cql/cip36_registration_invalid.cql
  catalyst-gateway/bin/src/db/index/session.rs
  catalyst-gateway/bin/src/service/utilities/convert.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Finish verifier description
  docs/src/architecture/08_concepts/voting_transaction/crypto.md
Owners: none

wip
  docs/src/architecture/08_concepts/voting_transaction/crypto.md
Owners: none

fix spelling
  docs/src/architecture/08_concepts/voting_transaction/crypto.md
Owners: none

feat(catalyst-gateway): add draft schema for RBAC registrations
  catalyst-gateway/bin/src/db/index/schema/cql/cip509_registration.cql
  catalyst-gateway/bin/src/db/index/schema/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

test: add exceeding cases
  catalyst_voices/packages/catalyst_voices_models/test/seed_phrase_test.dart
Owners: @minikin

refactor: test array
  catalyst_voices/packages/catalyst_voices_models/lib/src/seed_phrase.dart
  catalyst_voices/packages/catalyst_voices_models/test/seed_phrase_test.dart
Owners: @minikin

feat(cat-voices): password strength calculator
  catalyst_voices/packages/catalyst_voices_models/lib/src/auth/authentication_status.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/auth/password_strength.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_models/test/auth/password_strength_test.dart
  melos.yaml
Owners: @minikin

feat(cat-voices): add password strength indicator widget
  catalyst_voices/lib/widgets/indicators/voices_password_strength_indicator.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/auth/password_strength.dart
  catalyst_voices/uikit_example/lib/examples/voices_indicators_example.dart
Owners: @minikin

secure storage tests
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/secure_storage.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/secure_storage_vault.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/storage/secure_storage_test.dart
Owners: @minikin
