Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: update example
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/home_page.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/remote_form.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/widgets/convert.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/widgets/local_widget.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/widgets/remote_widget.rfw
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/widgets/remote_widget.rfwtxt
Owners: @minikin

Update catalyst_core.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/lib/src/core/catalyst_core.dart
Owners: @minikin

chore: minor update
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/remote_form.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/widgets/new_remote_widget.rfw
Owners: @minikin

feat: update example
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/widgets/local_widget.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/widgets/new_remote_widget.rfw
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/widgets/remote_widget.rfw
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/widgets/remote_widget.rfwtxt
Owners: @minikin

feat: bump ci to 2.9.9
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: advanced config
  utilities/wallet-connector/package.json
  utilities/wallet-connector/src/common/components/Input.tsx
  utilities/wallet-connector/src/common/components/TxBuilder.tsx
  utilities/wallet-connector/src/common/constants/index.ts
  utilities/wallet-connector/src/common/helpers/buildUnsingedReg.ts
  utilities/wallet-connector/src/modules/SignTxPanel.tsx
  utilities/wallet-connector/src/modules/WalletInfoSection.tsx
  utilities/wallet-connector/src/types/cardano.ts
Owners: none

chore: lintfix
  utilities/wallet-connector/src/common/helpers/buildUnsingedReg.ts
  utilities/wallet-connector/src/common/helpers/extractApiData.ts
Owners: none

feat: bump ci to 2.9.9 (#327)
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix spelling
  catalyst-gateway/bin/src/service/common/objects/cardano_address.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: badge
  utilities/wallet-connector/src/common/components/Badge.tsx
  utilities/wallet-connector/src/common/components/WalletViewSelection.tsx
  utilities/wallet-connector/src/modules/SignTxPanel.tsx
  utilities/wallet-connector/src/modules/WalletInfoSection.tsx
  utilities/wallet-connector/src/styles/global.css
Owners: none

add prefix checks
  catalyst-gateway/bin/src/service/common/objects/cardano_address.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

deprecate endpoint to pass the Schemathesis tests
  catalyst-gateway/bin/src/service/api/utxo/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: complete sign tx
  utilities/wallet-connector/src/common/components/Badge.tsx
  utilities/wallet-connector/src/common/components/TxBuilder.tsx
  utilities/wallet-connector/src/common/helpers/extractApiData.ts
  utilities/wallet-connector/src/modules/SignTxPanel.tsx
  utilities/wallet-connector/src/modules/WalletInfoSection.tsx
  utilities/wallet-connector/src/types/cardano.ts
Owners: none

chore: lint
  utilities/wallet-connector/src/common/helpers/extractApiData.ts
  utilities/wallet-connector/src/common/helpers/getCardano.ts
  utilities/wallet-connector/src/modules/SignTxPanel.tsx
  utilities/wallet-connector/src/modules/WalletInfoSection.tsx
  utilities/wallet-connector/src/types/cardano.ts
Owners: none

Update test.rfwtxt
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/widgets/test.rfwtxt
Owners: @minikin

chore: update test.rfw example
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/widgets/convert.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/widgets/test.rfw
Owners: @minikin

wip
  catalyst-gateway/bin/src/service/common/objects/stake_amount.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: Add `ResponsiveBuilder` widget.
  catalyst_voices/packages/catalyst_voices_shared/lib/src/responsive_builder/responsive_breakpoint_key.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/responsive_builder/responsive_builder.dart
Owners: @minikin

test: Add tests for `Responsive Builder`.
  catalyst_voices/packages/catalyst_voices_shared/test/src/responsive_builder_test.dart
Owners: @minikin

chore: Remove unused comment.
  catalyst_voices/packages/catalyst_voices_shared/test/src/responsive_builder_test.dart
Owners: @minikin

docs: Specify the `Object` constrain.
  catalyst_voices/packages/catalyst_voices_shared/lib/src/responsive_builder/responsive_builder.dart
Owners: @minikin

feat: badge variant
  utilities/wallet-connector/src/common/components/Badge.tsx
  utilities/wallet-connector/src/common/components/TxBuilder.tsx
  utilities/wallet-connector/src/common/helpers/extractApiData.ts
  utilities/wallet-connector/src/modules/SignTxPanel.tsx
  utilities/wallet-connector/src/types/cardano.ts
Owners: none

fix
  catalyst-gateway/bin/src/service/common/objects/stake_amount.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs: document `ResponsiveBreakpointKey`.
  catalyst_voices/packages/catalyst_voices_shared/lib/src/responsive_builder/responsive_breakpoint_key.dart
Owners: @minikin

fix: selection state
  utilities/wallet-connector/src/modules/SignTxPanel.tsx
  utilities/wallet-connector/src/modules/WalletInfoSection.tsx
Owners: none

fix: submit status
  utilities/wallet-connector/src/modules/SignTxPanel.tsx
Owners: none

feat: Add ResponsiveBuilder widget. (#331)
  catalyst_voices/packages/catalyst_voices_shared/lib/src/responsive_builder/responsive_breakpoint_key.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/responsive_builder/responsive_builder.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/responsive_builder_test.dart
Owners: @minikin

chore: remove unused pkgs
  utilities/wallet-connector/.eslintrc.yaml
  utilities/wallet-connector/package-lock.json
  utilities/wallet-connector/package.json
  utilities/wallet-connector/src/App.tsx
  utilities/wallet-connector/src/modules/SignTxPanel.tsx
Owners: none

fix: lint
  utilities/wallet-connector/src/common/helpers/extractApiData.ts
  utilities/wallet-connector/src/types/cardano.ts
Owners: none

feat: col fmt
  utilities/wallet-connector/src/common/helpers/extractApiData.ts
Owners: none

chore: lintfix
  utilities/wallet-connector/src/common/helpers/extractApiData.ts
Owners: none

disable some lints
  catalyst-gateway/bin/src/service/common/objects/stake_amount.rs
  catalyst-gateway/tests/.spectral.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: update example
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/remote_form.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/widgets/local_widget.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/widgets/remote_widget.rfw
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/widgets/remote_widget.rfwtxt
Owners: @minikin

fix: change title
  utilities/wallet-connector/index.html
  utilities/wallet-connector/src/App.tsx
Owners: none

docs(cips): Add cddl specs and diagrams for x509 rbac registration work
  docs/src/catalyst-standards/draft-cips/role-registration/cardano-transaction.svg
  docs/src/catalyst-standards/draft-cips/role-registration/certificate-chain.d2
  docs/src/catalyst-standards/draft-cips/role-registration/certificate-chain.svg
  docs/src/catalyst-standards/draft-cips/role-registration/metadata-envelope.d2
  docs/src/catalyst-standards/draft-cips/role-registration/metadata-envelope.svg
  docs/src/catalyst-standards/draft-cips/role-registration/x509-envelope.cddl
  docs/src/catalyst-standards/draft-cips/role-registration/x509-roles.cddl
  docs/src/catalyst-standards/draft-cips/role-registration/x509-roles.d2
  docs/src/catalyst-standards/draft-cips/role-registration/x509-roles.svg
Owners: none

feat: Total utxo staked ada amount (#325)
  .config/dictionaries/project.dic
  catalyst-gateway/Cargo.toml
  catalyst-gateway/bin/src/event_db/follower.rs
  catalyst-gateway/bin/src/event_db/utxo.rs
  catalyst-gateway/bin/src/event_db/voter_registration.rs
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/service/api/utxo/mod.rs
  catalyst-gateway/bin/src/service/api/utxo/staked_ada_get.rs
  catalyst-gateway/bin/src/service/common/objects/cardano_address.rs
  catalyst-gateway/bin/src/service/common/objects/mod.rs
  catalyst-gateway/bin/src/service/common/objects/network.rs
  catalyst-gateway/bin/src/service/common/objects/stake_amount.rs
  catalyst-gateway/bin/src/service/common/responses/resp_4xx.rs
  catalyst-gateway/bin/src/service/common/tags.rs
  catalyst-gateway/bin/src/state/mod.rs
  catalyst-gateway/event-db/migrations/V6__registration.sql
  catalyst-gateway/event-db/queries/utxo/insert_txn_index.sql
  catalyst-gateway/event-db/queries/utxo/insert_utxo.sql
  catalyst-gateway/event-db/queries/utxo/select_total_utxo_amount.sql
  catalyst-gateway/tests/.spectral.yml
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/schema-mismatch/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor: fix words
  .config/dictionaries/project.dic
  utilities/wallet-tester/src/common/components/CBOREditor.tsx
  utilities/wallet-tester/src/common/components/TxBuilder.tsx
  utilities/wallet-tester/src/common/helpers/buildUnsignedTx.ts
  utilities/wallet-tester/src/modules/SignTxPanel.tsx
  utilities/wallet-tester/src/styles/global.css
Owners: none

fix: markdown lint docs
  utilities/wallet-tester/README.md
Owners: none

chore: remove tanstack
  utilities/wallet-tester/README.md
Owners: none

update rust dependecies
  catalyst-gateway/Cargo.toml
  catalyst-gateway/bin/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
