Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

cleanup get slot info db functions
  catalyst-gateway/bin/src/event_db/follower.rs
  catalyst-gateway/bin/src/service/api/cardano/date_time_to_slot_number_get.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/bin/src/event_db/follower.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(cips): rename draft x509 envelope CIP so its easier to identify
  docs/src/catalyst-standards/draft-cips/x509-envelope-metadata/cip-509A.md
Owners: none

docs(cips): WIP updates to x509 roles
  docs/src/catalyst-standards/draft-cips/images/x509-roles.d2
  docs/src/catalyst-standards/draft-cips/images/x509-roles.svg
  docs/src/catalyst-standards/draft-cips/x509-envelope-metadata/cip-xxxx.md
  docs/src/catalyst-standards/draft-cips/x509-role-registration-metadata/cip-xxxx.md
  docs/src/catalyst-standards/draft-cips/x509-role-registration-metadata/images/x509-roles.d2
  docs/src/catalyst-standards/draft-cips/x509-role-registration-metadata/images/x509-roles.svg
  docs/src/catalyst-standards/draft-cips/x509-role-registration-metadata/x509-roles.cddl
Owners: none

fix(cips): rename RBAC definition CIP draft so its easier to identify
  docs/src/catalyst-standards/draft-cips/x509-role-registration-metadata/cip-509B.md
Owners: none

make templated sql query
  catalyst-gateway/Cargo.lock
  catalyst-gateway/Cargo.toml
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/event_db/follower.rs
  catalyst-gateway/event-db/queries/follower/select_slot_index_by_datetime/current_slot_info.sql
  catalyst-gateway/event-db/queries/follower/select_slot_index_by_datetime/next_slot_info.sql
  catalyst-gateway/event-db/queries/follower/select_slot_info_by_datetime.sql.tmpl
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor
  catalyst-gateway/bin/src/event_db/follower/insert_slot_index.sql
  catalyst-gateway/bin/src/event_db/follower/insert_update_state.sql
  catalyst-gateway/bin/src/event_db/follower/mod.rs
  catalyst-gateway/bin/src/event_db/follower/select_slot_info_by_datetime.sql.tmpl
  catalyst-gateway/bin/src/event_db/follower/select_update_state.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor
  Earthfile
  catalyst-gateway/bin/src/event_db/follower/mod.rs
  catalyst-gateway/bin/src/event_db/follower/select_slot_info_by_datetime.sql.hbs
  catalyst-gateway/bin/src/service/common/objects/cardano/slot_info.rs
  catalyst-gateway/event-db/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs(cips): x509 certificate registration format fully defined
  docs/src/catalyst-standards/draft-cips/x509-envelope-metadata/x509-envelope.cddl
  docs/src/catalyst-standards/draft-cips/x509-role-registration-metadata/cip-509B.md
  docs/src/catalyst-standards/draft-cips/x509-role-registration-metadata/x509-roles.cddl
Owners: none

docs(cips): Document the restricted plutus subset.
  docs/src/catalyst-standards/draft-cips/c509-plutus-restricted-certificate/cip-509C.md
Owners: none

refactor
  catalyst-gateway/bin/src/event_db/voter_registration/insert_voter_registration.sql
  catalyst-gateway/bin/src/event_db/voter_registration/mod.rs
  catalyst-gateway/bin/src/event_db/voter_registration/select_voter_registration.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs(cips): Add document detailing how CIP-30 is used to sign the transaction
  .config/dictionaries/project.dic
  docs/src/catalyst-standards/draft-cips/x509-rbac-signing-with-cip30/cip-x509D.md
  docs/src/catalyst-standards/draft-cips/x509-rbac-signing-with-cip30/cip-xxxx.md
  docs/src/catalyst-standards/draft-cips/x509-rbac-signing-with-cip30/images/cardano-transaction.d2
  docs/src/catalyst-standards/draft-cips/x509-rbac-signing-with-cip30/images/cardano-transaction.svg
Owners: none

refactor, add new API shema Hash type
  catalyst-gateway/bin/src/event_db/error.rs
  catalyst-gateway/bin/src/event_db/follower/mod.rs
  catalyst-gateway/bin/src/event_db/voter_registration/mod.rs
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/bin/src/service/api/cardano/date_time_to_slot_number_get.rs
  catalyst-gateway/bin/src/service/api/cardano/sync_state_get.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/hash.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/mod.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/registration_info.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/slot_info.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/stake_address.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/sync_state.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

disable fuzzer-api test
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(cips): remove trailing spaces
  docs/src/catalyst-standards/draft-cips/x509-rbac-signing-with-cip30/cip-x509D.md
Owners: none

feat: Get slot number by provided date-time endpoint (#387)
  Earthfile
  catalyst-gateway/Cargo.lock
  catalyst-gateway/Cargo.toml
  catalyst-gateway/Earthfile
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/event_db/follower.rs
  catalyst-gateway/bin/src/event_db/follower/insert_slot_index.sql
  catalyst-gateway/bin/src/event_db/follower/insert_update_state.sql
  catalyst-gateway/bin/src/event_db/follower/mod.rs
  catalyst-gateway/bin/src/event_db/follower/select_slot_info_by_datetime.sql.hbs
  catalyst-gateway/bin/src/event_db/follower/select_update_state.sql
  catalyst-gateway/bin/src/event_db/utxo.rs
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/bin/src/service/api/cardano/date_time_to_slot_number_get.rs
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/staked_ada_get.rs
  catalyst-gateway/bin/src/service/api/cardano/sync_state_get.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/mod.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/network.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/slot_info.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/sync_state.rs
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst-gateway/tests/api_tests/api_tests/__init__.py
  catalyst-gateway/tests/api_tests/api_tests/test_slot_info.py
  catalyst-gateway/tests/api_tests/api_tests/test_utxo.py
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.g.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.chopper.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.dart
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(cips): Fix line lengths
  docs/src/catalyst-standards/cbor_tags/ulid.md
Owners: none

docs: Add CatalystDataGatewayRepository docs (#388)
  catalyst_voices/packages/catalyst_voices_repositories/README.md
  catalyst_voices/packages/catalyst_voices_repositories/lib/src/catalyst_data_gateway_repository.dart
  catalyst_voices/packages/catalyst_voices_repositories/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_repositories/test/src/catalyst_data_gateway_repository/catalyst_data_gateway_repository_test.dart
  catalyst_voices/packages/catalyst_voices_repositories/test/src/catalyst_data_gateway_repository/catalyst_data_gateway_repository_test.mocks.dart
Owners: @minikin

fix(cips): Correct spelling
  .config/dictionaries/project.dic
  cspell.json
  docs/src/catalyst-standards/draft-cips/c509-plutus-restricted-certificate/c509-cert-plutus-restricted.cddl
  docs/src/catalyst-standards/draft-cips/x509-envelope-metadata/cip-509A.md
  docs/src/catalyst-standards/draft-cips/x509-envelope-metadata/x509-envelope.cddl
  docs/src/catalyst-standards/draft-cips/x509-role-registration-metadata/cip-509B.md
  docs/src/catalyst-standards/draft-cips/x509-role-registration-metadata/x509-roles.cddl
Owners: none

fix(cips): spelling
  docs/src/catalyst-standards/cbor_tags/ulid.md
Owners: none

fix
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/hash.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/registration_info.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/sync_state.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(frontend): revert changes to flutter/dart versions
  catalyst_voices/packages/catalyst_voices_assets/example/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_assets/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_localization/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_repositories/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_view_models/pubspec.yaml
  catalyst_voices/pubspec.yaml
  melos.yaml
  utilities/catalyst_voices_remote_widgets/pubspec.yaml
Owners: @minikin

fix Hash parsing
  catalyst-gateway/bin/src/service/common/objects/cardano/hash.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(frontend): more flutter/dart version corrections
  catalyst_voices_packages/catalyst_analysis/example/pubspec.yaml
  catalyst_voices_packages/catalyst_analysis/pubspec.yaml
  pubspec.yaml
Owners: @minikin, @stevenj

fix(frontend): Revert flutter files to same as main branch
  catalyst_voices/packages/catalyst_voices_assets/example/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_assets/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
Owners: @minikin

fix(frontend): revert more flutter .yml files to those in main
  catalyst_voices/packages/catalyst_voices_view_models/pubspec.yaml
  catalyst_voices/pubspec.yaml
  catalyst_voices_packages/catalyst_analysis/example/pubspec.yaml
  catalyst_voices_packages/catalyst_analysis/pubspec.yaml
  melos.yaml
  pubspec.yaml
  utilities/catalyst_voices_remote_widgets/pubspec.yaml
Owners: @minikin, @stevenj

wip
  catalyst-gateway/bin/src/event_db/utxo.rs
  catalyst-gateway/bin/src/event_db/voter_registration/mod.rs
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/bin/src/service/api/cardano/registration_get.rs
  catalyst-gateway/bin/src/service/api/cardano/staked_ada_get.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/registration_info.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/bin/src/event_db/utxo.rs
  catalyst-gateway/bin/src/event_db/voter_registration/mod.rs
  catalyst-gateway/bin/src/follower.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

adds one more worker and compression for catgateway logs
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(cips): Fix links between files
  docs/src/catalyst-standards/draft-cips/x509-envelope-metadata/cip-509A.md
  docs/src/catalyst-standards/draft-cips/x509-role-registration-metadata/cip-509B.md
Owners: none

docs(cips): Add catalyst specific role registration documentation
  docs/src/catalyst-standards/draft-cips/images/certificate-chain.svg
  docs/src/catalyst-standards/draft-cips/project-catalyst-x509-role-defintions/cip-catalyst-roles.md
  docs/src/catalyst-standards/draft-cips/project-catalyst-x509-role-defintions/cip-xxxx.md
  docs/src/catalyst-standards/draft-cips/project-catalyst-x509-role-defintions/images/certificate-chain.d2
  docs/src/catalyst-standards/draft-cips/project-catalyst-x509-role-defintions/images/certificate-chain.svg
Owners: none

docs(spelling): fix spelling
  docs/src/catalyst-standards/draft-cips/project-catalyst-x509-role-defintions/cip-catalyst-roles.md
Owners: none

feat: RBAC Documentation Drafting (#332)
  .config/dictionaries/project.dic
  .vscode/extensions.json
  cspell.json
  docs/src/architecture/08_concepts/.pages
  docs/src/catalyst-standards/cbor_tags/ulid.md
  docs/src/catalyst-standards/draft-cips/c509-plutus-restricted-certificate/c509-cert-plutus-restricted.cddl
  docs/src/catalyst-standards/draft-cips/c509-plutus-restricted-certificate/cip-509C.md
  docs/src/catalyst-standards/draft-cips/catalyst-vote-signing-cip30-extension/cip-xxxx.md
  docs/src/catalyst-standards/draft-cips/images/x509-roles-complete.d2
  docs/src/catalyst-standards/draft-cips/images/x509-roles-complete.svg
  docs/src/catalyst-standards/draft-cips/project-catalyst-x509-role-defintions/.meta.yml
  docs/src/catalyst-standards/draft-cips/project-catalyst-x509-role-defintions/cip-catalyst-roles.md
  docs/src/catalyst-standards/draft-cips/project-catalyst-x509-role-defintions/images/certificate-chain.d2
  docs/src/catalyst-standards/draft-cips/project-catalyst-x509-role-defintions/images/certificate-chain.svg
  docs/src/catalyst-standards/draft-cips/rbac-cip30-extension/cip-xxxx.md
  docs/src/catalyst-standards/draft-cips/role-registration/cip-xxxx.md
  docs/src/catalyst-standards/draft-cips/x509-envelope-metadata/.meta.yml
  docs/src/catalyst-standards/draft-cips/x509-envelope-metadata/cip-509A.md
  docs/src/catalyst-standards/draft-cips/x509-envelope-metadata/images/metadata-envelope-process.d2
  docs/src/catalyst-standards/draft-cips/x509-envelope-metadata/images/metadata-envelope-process.svg
  docs/src/catalyst-standards/draft-cips/x509-envelope-metadata/images/metadata-envelope-structure.d2
  docs/src/catalyst-standards/draft-cips/x509-envelope-metadata/images/metadata-envelope-structure.svg
  docs/src/catalyst-standards/draft-cips/x509-envelope-metadata/x509-envelope.cddl
  docs/src/catalyst-standards/draft-cips/x509-rbac-signing-with-cip30/.meta.yml
  docs/src/catalyst-standards/draft-cips/x509-rbac-signing-with-cip30/cip-x509D.md
  docs/src/catalyst-standards/draft-cips/x509-rbac-signing-with-cip30/images/cardano-transaction.d2
  docs/src/catalyst-standards/draft-cips/x509-rbac-signing-with-cip30/images/cardano-transaction.svg
  docs/src/catalyst-standards/draft-cips/x509-role-registration-metadata/.meta.yml
  docs/src/catalyst-standards/draft-cips/x509-role-registration-metadata/cip-509B.md
  docs/src/catalyst-standards/draft-cips/x509-role-registration-metadata/images/x509-roles.d2
  docs/src/catalyst-standards/draft-cips/x509-role-registration-metadata/images/x509-roles.svg
  docs/src/catalyst-standards/draft-cips/x509-role-registration-metadata/x509-roles.cddl
Owners: none

wip
  catalyst-gateway/bin/src/event_db/voter_registration/mod.rs
  catalyst-gateway/bin/src/event_db/voter_registration/select_voter_registration.sql
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/bin/src/service/api/cardano/registration_get.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

add integration test
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst-gateway/tests/api_tests/api_tests/__init__.py
  catalyst-gateway/tests/api_tests/api_tests/test_voter_registration.py
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix sqlfluff
  catalyst-gateway/bin/src/event_db/voter_registration/select_voter_registration.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

ci: configure static analysis & code formatting check
  Earthfile
  catalyst_voices/Earthfile
  melos.yaml
Owners: @minikin

style: formatting
  catalyst_voices/Earthfile
Owners: @minikin

fix: revert browser installation scripts
  catalyst_voices/Earthfile
Owners: @minikin

wip
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.g.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.chopper.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.dart
Owners: @minikin
