Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

chore: typo
  catalyst_voices/packages/catalyst_voices_services/lib/src/transaction/registration_transaction_builder.dart
Owners: @minikin

feat: AccountRole LearnMore Dialog - open dialog in proper place
  catalyst_voices/lib/pages/registration/wallet_link/stage/roles_chooser_panel.dart
Owners: @minikin

feat: integrate panel with RecoverCubit
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_check_panel.dart
  catalyst_voices/lib/pages/registration/recover/recover_seed_phrase_panel.dart
  catalyst_voices/lib/pages/registration/recover/seed_phrase/seed_phrase_input_panel.dart
  catalyst_voices/lib/pages/registration/widgets/seed_phrase_actions.dart
  catalyst_voices/lib/widgets/text_field/seed_phrase_field.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/recover_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/recover_state_data.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

feat: word field always visible
  catalyst_voices/lib/pages/registration/recover/seed_phrase/seed_phrase_input_panel.dart
  catalyst_voices/lib/widgets/text_field/seed_phrase_field.dart
Owners: @minikin

chore: remove done TODO
  catalyst_voices/lib/widgets/text_field/seed_phrase_field.dart
Owners: @minikin

feat: scrollbar
  catalyst_voices/lib/widgets/scrollbar/voices_scrollbar.dart
  catalyst_voices/lib/widgets/text_field/seed_phrase_field.dart
Owners: @minikin

feat: AccountRole LearnMore Dialog - extract SummaryItem
  catalyst_voices/lib/pages/registration/wallet_link/account_role_dialog.dart
Owners: @minikin

feat: AccountRole LearnMore Dialog - pointer
  catalyst_voices/lib/widgets/common/link_text.dart
Owners: @minikin

chore: add missing TODO
  catalyst_voices/lib/pages/registration/recover/seed_phrase/seed_phrase_input_panel.dart
Owners: @minikin

fix(cat-gateway): Add publish CI target for cat-gateway
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: typo
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/recover_cubit.dart
Owners: @minikin

fix(cat-gateway): Add publish CI target for cat-gateway (#979)
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(cat-voices): account role learn more dialog (#977)
  catalyst_voices/lib/common/ext/account_role_ext.dart
  catalyst_voices/lib/pages/registration/wallet_link/account_role_dialog.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/roles_chooser_panel.dart
  catalyst_voices/lib/widgets/common/link_text.dart
  catalyst_voices/packages/catalyst_voices_assets/assets/images/role_info_drep.png
  catalyst_voices/packages/catalyst_voices_assets/assets/images/role_info_proposer.png
  catalyst_voices/packages/catalyst_voices_assets/assets/images/role_info_voter.png
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/assets.gen.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

feat: add config endpoint
  catalyst-gateway/bin/src/db/event/config/default/frontend.json
  catalyst-gateway/bin/src/db/event/config/jsonschema/frontend.json
  catalyst-gateway/bin/src/db/event/config/key.rs
  catalyst-gateway/bin/src/db/event/config/mod.rs
  catalyst-gateway/bin/src/db/event/config/sql/get.sql
  catalyst-gateway/bin/src/db/event/config/sql/insert.sql
  catalyst-gateway/bin/src/db/event/mod.rs
  catalyst-gateway/bin/src/service/api/config/mod.rs
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/service/common/tags.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add jsonschema lib
  .config/dictionaries/project.dic
  catalyst-gateway/bin/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: config table
  catalyst-gateway/event-db/migrations/V1__config_tables.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: sql format
  catalyst-gateway/bin/src/db/event/config/sql/get.sql
  catalyst-gateway/bin/src/db/event/config/sql/insert.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: allow completing seed phrase with duplicated words
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_check_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_panel.dart
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_completer.dart
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_picker.dart
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_sequencer.dart
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_viewer.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/keychain_creation_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/seed_phrase_state_data.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/seed_phrase.dart
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  catalyst_voices/test/widgets/seed_phrase/seed_phrases_sequencer_test.dart
  catalyst_voices/uikit_example/lib/examples/voices_seed_phrase_example.dart
Owners: @minikin

test: seed phrase mnemonic words order
  catalyst_voices/packages/catalyst_voices_models/test/seed_phrase_test.dart
Owners: @minikin

test: SeedPhraseWord
  catalyst_voices/packages/catalyst_voices_models/test/seed_phrase_test.dart
Owners: @minikin

test: SeedPhrasesSequencer
  catalyst_voices/test/widgets/seed_phrase/seed_phrases_sequencer_test.dart
Owners: @minikin

chore: review feedback
  catalyst_voices/lib/dependency/dependencies.dart
  catalyst_voices/lib/pages/registration/bloc_registration_builder.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/rbac_transaction_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/wallet_link_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_state.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/keychain_state_data.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/registration_state_data.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/wallet_link_state_data.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/transaction/registration_transaction_builder.dart
Owners: @minikin

chore: removes test seed phrase words
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/keychain_creation_cubit.dart
Owners: @minikin

chore: use Material clipBehavior instead of Clip
  catalyst_voices/lib/widgets/text_field/voices_autocomplete.dart
Owners: @minikin

feat(cat-voices): provide seed phrase 953 (#978)
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_check_panel.dart
  catalyst_voices/lib/pages/registration/recover/recover_seed_phrase_panel.dart
  catalyst_voices/lib/pages/registration/recover/seed_phrase/seed_phrase_input_panel.dart
  catalyst_voices/lib/pages/registration/widgets/seed_phrase_actions.dart
  catalyst_voices/lib/widgets/scrollbar/voices_scrollbar.dart
  catalyst_voices/lib/widgets/text_field/seed_phrase_field.dart
  catalyst_voices/lib/widgets/text_field/voices_autocomplete.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/recover_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/recover_state_data.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/seed_phrase.dart
  catalyst_voices/uikit_example/lib/examples/voices_seed_phrase_field_example.dart
  catalyst_voices/uikit_example/lib/examples/voices_text_field_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

fix(cat-voices): allow duplicate seed phrase words (#982)
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_check_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_panel.dart
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_completer.dart
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_picker.dart
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_sequencer.dart
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_viewer.dart
  catalyst_voices/lib/widgets/text_field/seed_phrase_field.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/keychain_creation_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/recover_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/recover_state_data.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/seed_phrase_state_data.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/seed_phrase.dart
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_models/test/seed_phrase_test.dart
  catalyst_voices/test/widgets/seed_phrase/seed_phrases_sequencer_test.dart
  catalyst_voices/uikit_example/lib/examples/voices_seed_phrase_example.dart
Owners: @minikin

fix: use test package instead of flutter_test in models package
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_models/test/auth/password_strength_test.dart
  catalyst_voices/packages/catalyst_voices_models/test/optional_test.dart
  catalyst_voices/packages/catalyst_voices_models/test/seed_phrase_test.dart
Owners: @minikin

chore: qemu wip
  utilities/local-cluster/Readme.md
  utilities/local-cluster/Vagrantfile
  utilities/local-cluster/justfile
Owners: none

fix: use test package instead of flutter_test in models package (#983)
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_models/test/auth/password_strength_test.dart
  catalyst_voices/packages/catalyst_voices_models/test/optional_test.dart
  catalyst_voices/packages/catalyst_voices_models/test/seed_phrase_test.dart
Owners: @minikin

feat: add parallels as provider
  utilities/local-cluster/Vagrantfile
  utilities/local-cluster/justfile
Owners: none

Update Readme.md
  utilities/local-cluster/Readme.md
Owners: none

Update Readme.md
  utilities/local-cluster/Readme.md
Owners: none

Update Readme.md
  utilities/local-cluster/Readme.md
Owners: none

feat: localized exception
  catalyst_voices/lib/pages/registration/wallet_link/stage/rbac_transaction_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/registration_state_data.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/catalyst_voices_view_models.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/exception/localized_exception.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/exception/localized_unknown_exception.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/registration/exception/localized_registration_transaction_exception.dart
  catalyst_voices/packages/catalyst_voices_view_models/pubspec.yaml
Owners: @minikin

chore: extract common widgets from wallet link flow
  catalyst_voices/lib/pages/registration/recover/recover_seed_phrase_panel.dart
  catalyst_voices/lib/pages/registration/recover/seed_phrase/account_details_panel.dart
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/wallet_details_panel.dart
  catalyst_voices/lib/pages/registration/widgets/wallet_connection_status.dart
  catalyst_voices/lib/pages/registration/widgets/wallet_summary.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/registration/recover_seed_phrase_stage.dart
Owners: @minikin

fix: seed phrase scrollbar scroll controller
  catalyst_voices/lib/widgets/text_field/seed_phrase_field.dart
Owners: @minikin

chore: clean up cspell
  .config/dictionaries/project.dic
  utilities/local-cluster/Vagrantfile
Owners: none

refactor: RegistrationService
  catalyst_voices/lib/dependency/dependencies.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/wallet_link_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_repositories/lib/src/transaction/transaction_config_repository.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/catalyst_voices_services.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_service.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_transaction_builder.dart
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
Owners: @minikin

chore: wip
  catalyst_voices/lib/pages/registration/recover/seed_phrase/account_details_panel.dart
  catalyst_voices/lib/pages/registration/widgets/wallet_connection_status.dart
  catalyst_voices/lib/pages/registration/widgets/wallet_summary.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

Update project.dic
  .config/dictionaries/project.dic
Owners: none
