Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs(cips): Add a tag to the epoch time.
  docs/src/catalyst-standards/draft-cips/role-registration/cip-xxxx.md
Owners: none

docs(cips): Add CBOR tag cip for ED25519-BIP32 Keys, Derivation paths and Signatures
  docs/src/catalyst-standards/draft-cips/ed25519-cbor-tags/cip-xxxx.md
Owners: none

docs(cips): Properly define the field tags to use where known, and clean up Stake Address specification.
  docs/src/catalyst-standards/draft-cips/role-registration/cip-xxxx.md
Owners: none

docs(skeleton for gateway follower): initial napkin sketches
  docs/src/architecture/08_concepts/gateway/concrete.md
  docs/src/architecture/08_concepts/gateway/follower.md
  docs/src/architecture/08_concepts/gateway/mechanics.md
Owners: none

docs(skeleton for gateway follower): initial napkin sketches
  docs/src/architecture/08_concepts/gateway/concrete.md
  docs/src/architecture/08_concepts/gateway/mechanics.md
Owners: none

docs(skeleton for gateway follower): initial napkin sketches
  docs/src/architecture/08_concepts/gateway/concrete.md
  docs/src/architecture/08_concepts/gateway/mechanics.md
Owners: none

docs(skeleton for gateway follower): initial napkin sketches
  docs/src/architecture/08_concepts/gateway/concrete.md
Owners: none

ci lints
  docs/src/architecture/08_concepts/gateway/concrete.md
  docs/src/architecture/08_concepts/gateway/mechanics.md
Owners: none

ci lints
  docs/src/architecture/08_concepts/gateway/concrete.md
Owners: none

ci lint
  docs/src/architecture/08_concepts/gateway/concrete.md
Owners: none

ci lints
  docs/src/architecture/08_concepts/gateway/concrete.md
Owners: none

ci lints
  cspell.json
Owners: none

ci lints
  cspell.json
  docs/src/architecture/08_concepts/gateway/concrete.md
Owners: none

ci lints
  docs/src/architecture/08_concepts/gateway/mechanics.md
Owners: none

ci lints
  docs/src/architecture/08_concepts/gateway/mechanics.md
Owners: none

feat(frontend): add dependencies injection configurations
  catalyst_voices/ios/Podfile.lock
  catalyst_voices/lib/app/view/app_content.dart
  catalyst_voices/lib/app/view/app_page.dart
  catalyst_voices/lib/pages/login/login_page.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/catalyst_voices_blocs.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/dependency/dependency.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/dependency/dependency_provider.dart
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_repositories/lib/src/authentication_repository.dart
Owners: @minikin

Update melos.yaml
  melos.yaml
Owners: none

feat(frontend): add dependencies injection configurations (#215)
  catalyst_voices/ios/Podfile.lock
  catalyst_voices/lib/app/view/app_content.dart
  catalyst_voices/lib/app/view/app_page.dart
  catalyst_voices/lib/pages/login/login_page.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/catalyst_voices_blocs.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/dependency/dependency.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/dependency/dependency_provider.dart
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_repositories/lib/src/authentication_repository.dart
  melos.yaml
Owners: @minikin

feat(docs): initial gateway docs (#214)
  docs/src/architecture/.pages
  docs/src/architecture/08_concepts/gateway/concrete.md
  docs/src/architecture/08_concepts/gateway/mechanics.md
Owners: none

fix: update rules and ref to doc
  catalyst-gateway/.spectral.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: typo
  catalyst-gateway/.spectral.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: openapi lint cat-ci version
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: update poems
  catalyst-gateway/Cargo.lock
  catalyst-gateway/Cargo.toml
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/service/utilities/middleware/tracing_mw.rs
  catalyst-gateway/rust-toolchain.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: cat-gateway earthfile
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: rust format
  catalyst-gateway/bin/src/service/utilities/middleware/tracing_mw.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: artifact name
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: strict test
  catalyst-gateway/.cargo/config.toml
  catalyst-gateway/.config/nextest.toml
  catalyst-gateway/deny.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: non strict test
  catalyst-gateway/Cargo.toml
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/rust-toolchain.toml
  catalyst-gateway/tests/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(cspell): dict
  .config/dictionaries/project.dic
Owners: none

fix: non strict test
  catalyst-gateway/tests/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: cargo toml
  catalyst-gateway/Cargo.toml
  catalyst-gateway/tests/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: workspace conflict
  catalyst-gateway/tests/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: workspace
  catalyst-gateway/tests/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: workspace edition
  catalyst-gateway/tests/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: cargo linter
  catalyst-gateway/bin/src/event_db/queries/event/ballot.rs
  catalyst-gateway/bin/src/event_db/queries/event/mod.rs
  catalyst-gateway/bin/src/event_db/queries/event/proposal.rs
  catalyst-gateway/bin/src/event_db/queries/registration.rs
  catalyst-gateway/bin/src/event_db/queries/search.rs
  catalyst-gateway/bin/src/event_db/queries/vit_ss/fund.rs
  catalyst-gateway/bin/src/service/api/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: variant name end with enum name
  catalyst-gateway/bin/src/event_db/error.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: linter field name starts with the struct's name
  catalyst-gateway/bin/src/event_db/queries/registration.rs
  catalyst-gateway/bin/src/event_db/queries/vit_ss/fund.rs
  catalyst-gateway/bin/src/event_db/types/registration.rs
  catalyst-gateway/bin/src/event_db/types/vit_ss/challenge.rs
  catalyst-gateway/bin/src/event_db/types/vit_ss/fund.rs
  catalyst-gateway/bin/src/event_db/types/vit_ss/goal.rs
  catalyst-gateway/bin/src/event_db/types/vit_ss/group.rs
  catalyst-gateway/bin/src/service/common/objects/voter_registration.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: remove unwrap
  catalyst-gateway/tests/integration/catalyst_gateway_event_db.rs
  catalyst-gateway/tests/integration/main.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs(cips): Fix nonce so its reliable without needing blockchain data
  docs/src/catalyst-standards/draft-cips/role-registration/cip-xxxx.md
Owners: none

fix: rust lint
  catalyst-gateway/tests/integration/catalyst_gateway_event_db.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
