Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: stricter checks
  utilities/wallet-connector/src/App.tsx
  utilities/wallet-connector/src/common/helpers/extractApiData.ts
  utilities/wallet-connector/src/modules/WalletInfoSection.tsx
  utilities/wallet-connector/tsconfig.json
Owners: none

feat(find stake credential on tx): match with cert output
  catalyst-gateway/Cargo.lock
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/event_db/utxo.rs
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/bin/src/util.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/main.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/poc/poc.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/poc/remote_form.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/poc/remote_widgets_page.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/poc/temp.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/poc/widgets/local_widget.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/poc/widgets/new_local_widget.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/poc/widgets/new_remote_widget.rfwtxt
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/poc/widgets/remote_widget.rfwtxt
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/test/widget_test.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/lib/src/catalyst_voices_remote_widgets.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/lib/src/core/rfw_converter.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/lib/src/remote_widgets/remote_widgets.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/pubspec.yaml
  catalyst_voices/pubspec.yaml
Owners: @minikin

update catalyst_voices_remote_widgets
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/main.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/poc/poc.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/poc/remote_form.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/poc/remote_widgets_page.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/app.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/home_page.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/remote_form.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/widgets/convert.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/widgets/new_remote_widget.rfwtxt
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/widgets/poc_local_widget.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/widgets/poc_new_local_widget.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/widgets/remote_widget.rfwtxt
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_remote_widgets/lib/src/catalyst_voices_remote_widgets.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/lib/src/core/rfw_converter.dart
Owners: @minikin

feat: adds logging
  catalyst_voices/test_driver/Earthfile
Owners: @minikin

feat: panels
  utilities/wallet-connector/src/App.tsx
  utilities/wallet-connector/src/components/CBOREditor.tsx
  utilities/wallet-connector/src/components/CheckBox.tsx
  utilities/wallet-connector/src/components/InputBlock.tsx
  utilities/wallet-connector/src/modules/SignDataPanel.tsx
  utilities/wallet-connector/src/modules/SignTxnPanel.tsx
  utilities/wallet-connector/src/modules/SubmitTxnPanel.tsx
  utilities/wallet-connector/src/modules/WalletActionsSection.tsx
  utilities/wallet-connector/src/modules/WalletInfoSection.tsx
Owners: none

feat: removing edge testing
  catalyst_voices/test_driver/Earthfile
Owners: @minikin

feat: cbor editor
  utilities/wallet-connector/package-lock.json
  utilities/wallet-connector/package.json
  utilities/wallet-connector/src/common/helpers/hex2bin.ts
  utilities/wallet-connector/src/components/Button.tsx
  utilities/wallet-connector/src/components/CBOREditor.tsx
  utilities/wallet-connector/src/components/InputBlock.tsx
  utilities/wallet-connector/src/modules/SignTxnPanel.tsx
  utilities/wallet-connector/src/modules/WalletInfoSection.tsx
  utilities/wallet-connector/src/styles/global.css
  utilities/wallet-connector/tsconfig.json
Owners: none

feat: hex2diag
  utilities/wallet-connector/src/common/helpers/hex2bin.ts
  utilities/wallet-connector/src/common/helpers/hex2diag.ts
  utilities/wallet-connector/src/components/CBOREditor.tsx
  utilities/wallet-connector/vite.config.ts
Owners: none

feat: reactive cbor editor
  utilities/wallet-connector/src/common/helpers/diag2hex.ts
  utilities/wallet-connector/src/components/CBOREditor.tsx
  utilities/wallet-connector/src/modules/SignTxnPanel.tsx
Owners: none

feat(find stake credential on tx): match with cert output
  catalyst-gateway/bin/src/event_db/error.rs
  catalyst-gateway/bin/src/event_db/utxo.rs
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/bin/src/util.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(find stake credential on tx): match with cert output
  catalyst-gateway/bin/src/event_db/utxo.rs
  catalyst-gateway/bin/src/util.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(find stake credential on tx): match with cert output
  catalyst-gateway/bin/src/event_db/utxo.rs
  catalyst-gateway/bin/src/util.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(find stake credential on tx): match with cert output
  catalyst-gateway/bin/src/util.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(find stake credential on tx): match with cert output
  catalyst-gateway/bin/src/event_db/utxo.rs
  catalyst-gateway/bin/src/util.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(find stake credential on tx): match with cert output
  catalyst-gateway/bin/src/util.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(find stake credential on tx): match with cert output
  catalyst-gateway/bin/src/util.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(find stake credential on tx): match with cert output
  catalyst-gateway/bin/src/util.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(find stake credential on tx): match with cert output
  catalyst-gateway/bin/src/util.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(find stake credential on tx): match with cert output
  catalyst-gateway/bin/src/util.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(find stake credential on tx): match with cert output
  catalyst-gateway/bin/src/util.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(find stake credential on tx): match with cert output
  catalyst-gateway/bin/src/util.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs(cips): wip updates to high level docs
  docs/src/catalyst-standards/draft-cips/role-registration/cip-xxxx.md
Owners: none

docs(cips): Add overview of cardano transaction processign and data
  docs/src/catalyst-standards/draft-cips/role-registration/cardano-transaction.d2
Owners: none

docs(cips): update cardano block to be complete for clarity
  docs/src/catalyst-standards/draft-cips/role-registration/cardano-transaction.d2
Owners: none

docs(cips): fix layout engine
  docs/src/catalyst-standards/draft-cips/role-registration/cardano-transaction.d2
Owners: none

feat: response
  utilities/wallet-connector/src/App.tsx
  utilities/wallet-connector/src/common/helpers/diag2hex.ts
  utilities/wallet-connector/src/components/CBOREditor.tsx
  utilities/wallet-connector/src/modules/SignTxnPanel.tsx
  utilities/wallet-connector/src/modules/WalletActionsSection.tsx
Owners: none

feat: submit tx function
  utilities/wallet-connector/src/App.tsx
  utilities/wallet-connector/src/components/CheckBox.tsx
  utilities/wallet-connector/src/components/WalletCard.tsx
  utilities/wallet-connector/src/components/WalletResponseSelection.tsx
  utilities/wallet-connector/src/modules/SignTxnPanel.tsx
Owners: none

feat: clean hex
  utilities/wallet-connector/package-lock.json
  utilities/wallet-connector/src/common/helpers/cleanHex.ts
  utilities/wallet-connector/src/common/helpers/hex2bin.ts
  utilities/wallet-connector/src/modules/SignTxnPanel.tsx
  utilities/wallet-connector/vite.config.ts
Owners: none

feat: to be implemented
  utilities/wallet-connector/package-lock.json
  utilities/wallet-connector/package.json
  utilities/wallet-connector/src/App.tsx
  utilities/wallet-connector/src/modules/SignDataPanel.tsx
  utilities/wallet-connector/src/modules/SignTxnPanel.tsx
  utilities/wallet-connector/src/modules/SubmitTxnPanel.tsx
Owners: none

fix: restore cspell
  cspell.json
Owners: none

feat: enable all wallets
  utilities/wallet-connector/src/App.tsx
  utilities/wallet-connector/src/modules/SignTxnPanel.tsx
  utilities/wallet-connector/src/modules/WalletActionsSection.tsx
  utilities/wallet-connector/src/modules/WalletInfoSection.tsx
Owners: none

feat: remove integration test workflow
  .github/workflows/flutter-web-integration-test.yml
Owners: none

feat: Earthfile flutter integration tests (#304)
  .config/dictionaries/project.dic
  .github/workflows/flutter-web-integration-test.yml
  catalyst_voices/Earthfile
  catalyst_voices/test_driver/Earthfile
  catalyst_voices/test_driver/scripts/install-chrome-linux64.sh
  catalyst_voices/test_driver/scripts/install-edge-linux64.sh
  catalyst_voices/test_driver/scripts/install-firefox-linux64.sh
Owners: @minikin

feat: json mode
  utilities/wallet-connector/Earthfile
  utilities/wallet-connector/package-lock.json
  utilities/wallet-connector/package.json
  utilities/wallet-connector/src/App.tsx
  utilities/wallet-connector/src/common/helpers/bin2hex.ts
  utilities/wallet-connector/src/common/helpers/diag2hex.ts
  utilities/wallet-connector/src/components/CBOREditor.tsx
Owners: none

feat: json editor
  utilities/wallet-connector/package-lock.json
  utilities/wallet-connector/package.json
  utilities/wallet-connector/src/components/CBOREditor.tsx
Owners: none

fix: extract api data handling
  utilities/wallet-connector/src/common/helpers/extractApiData.ts
  utilities/wallet-connector/src/components/CBOREditor.tsx
  utilities/wallet-connector/src/modules/WalletInfoSection.tsx
Owners: none

refactor: move components to common
  utilities/wallet-connector/src/App.tsx
  utilities/wallet-connector/src/common/components/Button.tsx
  utilities/wallet-connector/src/common/components/CBOREditor.tsx
  utilities/wallet-connector/src/common/components/CheckBox.tsx
  utilities/wallet-connector/src/common/components/InfoItem.tsx
  utilities/wallet-connector/src/common/components/InputBlock.tsx
  utilities/wallet-connector/src/common/components/WalletCard.tsx
  utilities/wallet-connector/src/common/components/WalletResponseSelection.tsx
  utilities/wallet-connector/src/modules/SignTxnPanel.tsx
  utilities/wallet-connector/src/modules/WalletInfoSection.tsx
Owners: none

feat: file upload
  utilities/wallet-connector/src/common/components/CBOREditor.tsx
  utilities/wallet-connector/src/common/helpers/readFile.ts
Owners: none

feat(find stake credential on tx): match with cert output
  catalyst-gateway/bin/src/util.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
