Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

ci(gateway): use correct tagged catalyst-ci resources (#86)
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix
  .cargo/config.toml
  .vscode/settings.recommended.json
  catalyst-gateway/bin/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/rust-toolchain.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

remove cargo chef usage
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix lint
  catalyst-gateway/bin/src/event_db/queries/search.rs
  catalyst-gateway/bin/src/service/utilities/middleware/chain_axum.rs
  catalyst-gateway/bin/src/service/utilities/middleware/tracing_mw.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix spellcheck, add readme
  .config/dictionaries/project.dic
  catalyst-gateway/README.md
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix markdown check
  catalyst-gateway/README.md
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(docs): Docs WIP setup
  .gitignore
  .vscode/settings.recommended.json
  Earthfile
  docs/Earthfile
  docs/includes/abbreviations.md
  docs/macros/__init__.py
  docs/macros/include.py
  docs/mkdocs.yml
  docs/overrides/cip.html
  docs/src/catalyst-standards/ballot/catalyst-v1.md
  docs/src/catalyst-standards/ballot/catalyst-v2.md
  docs/src/catalyst-standards/ballot/index.md
  docs/src/catalyst-standards/draft-cips/.meta.yml
  docs/src/catalyst-standards/draft-cips/catalyst-vote-signing-cip30-extension/.meta.yml
  docs/src/catalyst-standards/draft-cips/catalyst-vote-signing-cip30-extension/cip-xxxx.md
  docs/src/catalyst-standards/draft-cips/index.md
  docs/src/catalyst-standards/draft-cips/rbac-cip30-extension copy/cip-xxxx.md
  docs/src/catalyst-standards/draft-cips/rbac-cip30-extension/.meta.yml
  docs/src/catalyst-standards/draft-cips/rbac-cip30-extension/cip-xxxx.md
  docs/src/catalyst-standards/draft-cips/role-registration/.meta.yml
  docs/src/catalyst-standards/draft-cips/role-registration/cip-xxxx.md
  docs/src/catalyst-standards/index.md
  docs/src/examples/abbreviations.md
  docs/src/examples/admonitions.md
  docs/src/examples/code-formatting.md
  docs/src/examples/index.md
  docs/src/examples/kroki-diagrams.md
  docs/src/examples/mermaid-diagrams.md
  docs/src/getting-started/advanced.md
  docs/src/getting-started/development.md
  docs/src/getting-started/index.md
  docs/src/getting-started/quick-start.md
  docs/src/important/coc.md
  docs/src/important/contributing.md
  docs/src/important/index.md
  docs/src/important/license.md
  docs/src/important/security.md
  docs/src/index.md
  docs/src/monorepo-architecture/index.md
Owners: none

add event-db docker target
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/event-db/Readme.md
  catalyst-gateway/event-db/docker-compose.yml
  catalyst-gateway/event-db/entry.sh
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: update readme, flutter version bump
  README.md
  catalyst-gateway/README.md
  catalyst_voices/README.md
  catalyst_voices/pubspec.yaml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix
  catalyst-gateway/event-db/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Update .markdownlint-cli2.jsonc
  .markdownlint-cli2.jsonc
Owners: none

chore: update readme, flutter version bump (#90)
  README.md
  catalyst-gateway/README.md
  catalyst_voices/README.md
  catalyst_voices/pubspec.yaml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

add check target
  catalyst-gateway/event-db/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

rename check to integrate
  catalyst-gateway/event-db/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix spell check
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/event-db/entry.sh
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

update event-db Readme
  catalyst-gateway/event-db/Readme.md
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix markdown check
  catalyst-gateway/event-db/Readme.md
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Create login_page.dart
  catalyst_voices/lib/poc/login_page.dart
Owners: @minikin

feat: add constants , update login screen
  catalyst_voices/lib/poc/constants.dart
  catalyst_voices/lib/poc/login_page.dart
  catalyst_voices/lib/poc/poc.dart
Owners: @minikin

feat: update app
  catalyst_voices/lib/app/view/app.dart
  catalyst_voices/lib/poc/home_screen.dart
  catalyst_voices/lib/poc/login_page.dart
  catalyst_voices/lib/poc/poc.dart
Owners: @minikin

Update login_page.dart
  catalyst_voices/lib/poc/login_page.dart
Owners: @minikin

chore: impl Error::TimedOut from RunError
  catalyst-gateway/bin/src/event_db/error.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: health/ready endpoint checks db schema version
  catalyst-gateway/bin/src/service/api/health/mod.rs
  catalyst-gateway/bin/src/service/api/health/ready_get.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: add SchemaVersion to EventDbQueries
  catalyst-gateway/bin/src/event_db/queries/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: add error for no db url, clippy lint fix
  catalyst-gateway/bin/src/event_db/error.rs
  catalyst-gateway/bin/src/event_db/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: make scheme check optional when creating a new EvenDB pool
  catalyst-gateway/bin/src/event_db/mod.rs
  catalyst-gateway/bin/src/event_db/queries/event/ballot.rs
  catalyst-gateway/bin/src/event_db/queries/event/proposal.rs
  catalyst-gateway/bin/src/event_db/queries/event/review.rs
  catalyst-gateway/bin/src/state/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

cleanup: clippy lint fix
  catalyst-gateway/bin/src/event_db/types/proposal.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: cat-gateway must be resiliant in the face of DB schema changes (#94)
  catalyst-gateway/bin/src/event_db/error.rs
  catalyst-gateway/bin/src/event_db/mod.rs
  catalyst-gateway/bin/src/event_db/queries/event/ballot.rs
  catalyst-gateway/bin/src/event_db/queries/event/proposal.rs
  catalyst-gateway/bin/src/event_db/queries/event/review.rs
  catalyst-gateway/bin/src/event_db/queries/mod.rs
  catalyst-gateway/bin/src/event_db/types/proposal.rs
  catalyst-gateway/bin/src/service/api/health/mod.rs
  catalyst-gateway/bin/src/service/api/health/ready_get.rs
  catalyst-gateway/bin/src/state/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(gateway): Fix cat-gateway to use new rust builder
  catalyst-gateway/Earthfile
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/event_db/mod.rs
  catalyst-gateway/bin/src/event_db/queries/event/ballot.rs
  catalyst-gateway/bin/src/event_db/queries/event/proposal.rs
  catalyst-gateway/bin/src/event_db/queries/event/review.rs
  catalyst-gateway/bin/src/legacy_service/health.rs
  catalyst-gateway/bin/src/legacy_service/mod.rs
  catalyst-gateway/bin/src/legacy_service/v0/fund.rs
  catalyst-gateway/bin/src/legacy_service/v1/event/ballots.rs
  catalyst-gateway/bin/src/legacy_service/v1/event/mod.rs
  catalyst-gateway/bin/src/legacy_service/v1/event/objective/ballots.rs
  catalyst-gateway/bin/src/legacy_service/v1/event/objective/mod.rs
  catalyst-gateway/bin/src/legacy_service/v1/event/objective/proposal/ballot.rs
  catalyst-gateway/bin/src/legacy_service/v1/event/objective/proposal/mod.rs
  catalyst-gateway/bin/src/legacy_service/v1/event/objective/proposal/review.rs
  catalyst-gateway/bin/src/legacy_service/v1/event/objective/review_type.rs
  catalyst-gateway/bin/src/legacy_service/v1/registration.rs
  catalyst-gateway/bin/src/legacy_service/v1/search.rs
  catalyst-gateway/bin/src/lib.rs
  catalyst-gateway/bin/src/settings.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add integration tests
  catalyst_voices/integration_test/scenarios/login_scenario.dart
  catalyst_voices/integration_test/scenarios/robots/login_robot.dart
  catalyst_voices/ios/Flutter/Debug.xcconfig
  catalyst_voices/ios/Flutter/Release.xcconfig
  catalyst_voices/ios/Podfile
  catalyst_voices/ios/Runner.xcodeproj/project.pbxproj
  catalyst_voices/ios/Runner/Info.plist
  catalyst_voices/lib/poc/login_page.dart
  catalyst_voices/pubspec.yaml
  catalyst_voices/test_driver/integration_test.dart
  docs/FLUTTER_INTEGRATION_TEST.md
Owners: @minikin

wip
  catalyst_voices/integration_test/main.dart
  catalyst_voices/integration_test/scenarios/login_scenario.dart
  catalyst_voices/ios/Podfile
  docs/FLUTTER_INTEGRATION_TEST.md
Owners: @minikin

chore(wip): Add openapi object for fragments processing summary
  catalyst-gateway/bin/src/service/common/objects/fragments_processing_summary.rs
  catalyst-gateway/bin/src/service/common/objects/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add Message API endpoint
  catalyst-gateway/bin/src/service/api/message/message_post.rs
  catalyst-gateway/bin/src/service/api/message/mod.rs
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/service/common/tags.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add FragmentsProcessingSummary object, docs & example
  catalyst-gateway/bin/src/service/api/message/mod.rs
  catalyst-gateway/bin/src/service/common/objects/fragments_processing_summary.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: spelling mistake
  catalyst-gateway/bin/src/service/common/objects/fragments_processing_summary.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs: add comment regarding Fragment ID validation
  catalyst-gateway/bin/src/service/common/objects/fragments_processing_summary.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: add V0Api, update endpoint to 'POST /v0/message'
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/service/api/v0/message_post.rs
  catalyst-gateway/bin/src/service/api/v0/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

test: add basic test for message endpoint
  catalyst-gateway/bin/src/service/api/v0/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(endpoints): Add 'POST /message' endpoint (#95)
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/service/api/v0/message_post.rs
  catalyst-gateway/bin/src/service/api/v0/mod.rs
  catalyst-gateway/bin/src/service/common/objects/fragments_processing_summary.rs
  catalyst-gateway/bin/src/service/common/objects/mod.rs
  catalyst-gateway/bin/src/service/common/tags.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(gateway): Fix config files to align with CI requirements
  catalyst-gateway/.cargo/config.toml
  catalyst-gateway/deny.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
