Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs: Describe code generation process.
  catalyst_voices/packages/catalyst_voices_services/README.md
Owners: @minikin

feat: Add generated models.
  catalyst_voices/packages/catalyst_voices_models/lib/generated/cat_gateway_api.enums.swagger.dart
  catalyst_voices/packages/catalyst_voices_models/lib/generated/cat_gateway_api.models.swagger.dart
  catalyst_voices/packages/catalyst_voices_models/lib/generated/cat_gateway_api.models.swagger.g.dart
  catalyst_voices/packages/catalyst_voices_models/lib/generated/cat_gateway_api.swagger.chopper.dart
  catalyst_voices/packages/catalyst_voices_models/lib/generated/cat_gateway_api.swagger.dart
  catalyst_voices/packages/catalyst_voices_models/lib/generated/client_index.dart
  catalyst_voices/packages/catalyst_voices_models/lib/generated/client_mapping.dart
Owners: @minikin

chore: Lint README.
  catalyst_voices/packages/catalyst_voices_services/README.md
Owners: @minikin

chore: Spell check.
  Earthfile
Owners: none

fix CardanoStakeAddress error handling
  catalyst-gateway/bin/src/service/common/objects/cardano_address.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor, add sync_state_get endpoint
  catalyst-gateway/Cargo.lock
  catalyst-gateway/Cargo.toml
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/staked_ada_get.rs
  catalyst-gateway/bin/src/service/api/cardano/sync_state_get.rs
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/service/common/tags.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor types
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/staked_ada_get.rs
  catalyst-gateway/bin/src/service/api/cardano/sync_state_get.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/mod.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/network.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/stake_address.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/stake_amount.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/sync_state.rs
  catalyst-gateway/bin/src/service/common/objects/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: upgrade flutter to 3.19.5
  catalyst_voices/packages/catalyst_voices_assets/example/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_assets/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_localization/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_repositories/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_view_models/pubspec.yaml
  catalyst_voices/pubspec.yaml
  catalyst_voices_packages/catalyst_analysis/example/pubspec.yaml
  catalyst_voices_packages/catalyst_analysis/pubspec.yaml
  melos.yaml
  pubspec.yaml
Owners: @minikin, @stevenj

chore: temporarily add --no-cache
  catalyst_voices/Earthfile
Owners: @minikin

refactor
  catalyst-gateway/bin/src/event_db/config.rs
  catalyst-gateway/bin/src/event_db/error.rs
  catalyst-gateway/bin/src/event_db/follower.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/ballot.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/mod.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/proposal.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/registration.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/search.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/vit_ss/fund.rs
  catalyst-gateway/bin/src/event_db/utxo.rs
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/staked_ada_get.rs
  catalyst-gateway/bin/src/service/api/cardano/sync_state_get.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/sync_state.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: Rename earthly targets based on CI style guide.
  Earthfile
  catalyst_voices/Earthfile
Owners: @minikin

add block_hash validation
  catalyst-gateway/bin/src/service/common/objects/cardano/sync_state.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: remove --no-cache
  catalyst_voices/Earthfile
Owners: @minikin

feat: selection
  utilities/wallet-tester/src/common/components/Combobox.tsx
  utilities/wallet-tester/src/common/components/TxBuilder.tsx
  utilities/wallet-tester/src/common/helpers/buildUnsignedTx.ts
  utilities/wallet-tester/src/modules/SignTxPanel.tsx
  utilities/wallet-tester/src/types/cardano.ts
Owners: none

chore: upgrade flutter to 3.19.5 (#358)
  catalyst_voices/packages/catalyst_voices_assets/example/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_assets/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_localization/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_repositories/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_view_models/pubspec.yaml
  catalyst_voices/pubspec.yaml
  catalyst_voices_packages/catalyst_analysis/example/pubspec.yaml
  catalyst_voices_packages/catalyst_analysis/pubspec.yaml
  melos.yaml
  pubspec.yaml
Owners: @minikin, @stevenj

wip
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/bin/src/service/api/cardano/staked_ada_get.rs
  catalyst-gateway/bin/src/service/api/cardano/sync_state_get.rs
  catalyst-gateway/bin/src/service/api/health/ready_get.rs
  catalyst-gateway/bin/src/service/common/responses/resp_5xx.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/bin/src/event_db/config.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/Cargo.lock
  catalyst-gateway/Cargo.toml
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

add check_network fn
  catalyst-gateway/bin/src/service/api/cardano/staked_ada_get.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix
  catalyst-gateway/deny.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix schematisis test
  catalyst-gateway/bin/src/service/api/cardano/sync_state_get.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: complete tx builder
  utilities/wallet-tester/src/common/components/TxBuilder.tsx
  utilities/wallet-tester/src/common/components/WalletViewSelection.tsx
  utilities/wallet-tester/src/common/helpers/buildUnsignedTx.ts
  utilities/wallet-tester/src/modules/SignTxPanel.tsx
  utilities/wallet-tester/src/types/cardano.ts
Owners: none

refactor: Move generated files in catalyst_voices_services.
  catalyst_voices/packages/catalyst_voices_services/.gitignore
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.enums.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.g.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.chopper.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/client_index.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/client_mapping.dart
Owners: @minikin

try
  catalyst-gateway/bin/src/service/common/responses/resp_4xx.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor: Introduce `save_locally` arg to generate code locally.
  catalyst_voices/Earthfile
  catalyst_voices/packages/catalyst_voices_services/build.yaml
Owners: @minikin

docs: Update code generator documentation.
  catalyst_voices/packages/catalyst_voices_services/README.md
Owners: @minikin

wip
  catalyst-gateway/bin/src/service/common/responses/resp_4xx.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: setup code generation (#357)
  Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/packages/catalyst_voices_services/README.md
  catalyst_voices/packages/catalyst_voices_services/build.yaml
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.enums.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.g.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.chopper.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/client_index.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/client_mapping.dart
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
Owners: @minikin

try
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

try
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

try
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

try
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

try
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

try
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix
  catalyst-gateway/bin/src/service/common/objects/cardano/sync_state.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

update Network
  catalyst-gateway/bin/src/service/common/objects/cardano/network.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

add test_utxo test
  catalyst-gateway/Earthfile
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/event-db/migrations/V1__config_tables.sql
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst-gateway/tests/api_tests/api_tests/__init__.py
  catalyst-gateway/tests/api_tests/api_tests/test_utxo.py
  catalyst-gateway/tests/api_tests/docker-compose.yml
  catalyst-gateway/tests/api_tests/poetry.lock
  catalyst-gateway/tests/api_tests/pyproject.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

try
  catalyst-gateway/tests/api_tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
