Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: margin
  catalyst_voices/lib/widgets/indicators/voices_no_internet_connection_banner.dart
Owners: @minikin

refactor: remove noop
  catalyst_voices/lib/widgets/indicators/voices_no_internet_connection_banner.dart
Owners: @minikin

feat(cat-voices): Voices discovery space (#826)
  catalyst_voices/lib/app/view/app.dart
  catalyst_voices/lib/dependency/dependencies.dart
  catalyst_voices/lib/pages/discovery/current_status_text.dart
  catalyst_voices/lib/pages/discovery/discovery_page.dart
  catalyst_voices/lib/pages/discovery/toggle_state_text.dart
  catalyst_voices/lib/pages/spaces/drawer/discovery_menu.dart
  catalyst_voices/lib/pages/spaces/drawer/guest_menu.dart
  catalyst_voices/lib/pages/spaces/drawer/individual_private_campaigns.dart
  catalyst_voices/lib/pages/spaces/drawer/my_private_proposals.dart
  catalyst_voices/lib/pages/spaces/drawer/space_header.dart
  catalyst_voices/lib/pages/spaces/drawer/spaces_drawer.dart
  catalyst_voices/lib/pages/spaces/drawer/voting_rounds.dart
  catalyst_voices/lib/pages/spaces/spaces_drawer.dart
  catalyst_voices/lib/pages/spaces/spaces_shell_page.dart
  catalyst_voices/lib/widgets/app_bar/session/session_action_header.dart
  catalyst_voices/lib/widgets/app_bar/session/session_header.dart
  catalyst_voices/lib/widgets/app_bar/session/session_state_header.dart
  catalyst_voices/lib/widgets/app_bar/session/user_header.dart
  catalyst_voices/lib/widgets/buttons/voices_icon_button.dart
  catalyst_voices/lib/widgets/tiles/voices_nav_tile.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/catalyst_voices_blocs.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_bloc.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_event.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_state.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/user_profile/user_profile.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/user_profile/user_profile_bloc.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/user_profile/user_profile_event.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/user_profile/user_profile_state.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/user/user.dart
  catalyst_voices/uikit_example/lib/examples/voices_spaces_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
  catalyst_voices/uikit_example/lib/main.dart
Owners: @minikin

fix(backend): spelling
  .config/dictionaries/project.dic
  catalyst-gateway/bin/src/db/index/staked_ada.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(backend): Eliminate lint errors from Derived function
  catalyst-gateway/bin/src/db/index/queries.rs
  catalyst-gateway/bin/src/db/index/staked_ada.rs
  catalyst-gateway/bin/src/db/index/staked_ada/get_txi_by_txn_hash.rs
  catalyst-gateway/bin/src/db/index/staked_ada/get_txo_by_stake_address.rs
  catalyst-gateway/bin/src/db/index/staked_ada/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/staked_ada_get.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(backend): code format
  catalyst-gateway/bin/src/db/index/queries.rs
  catalyst-gateway/bin/src/service/api/cardano/staked_ada_get.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs: widget
  catalyst_voices/lib/widgets/indicators/voices_no_internet_connection_banner.dart
Owners: @minikin

feat: interactive drawer nav tiles
  catalyst_voices/lib/pages/spaces/drawer/discovery_menu.dart
  catalyst_voices/lib/pages/spaces/drawer/guest_menu.dart
  catalyst_voices/lib/pages/spaces/drawer/individual_private_campaigns.dart
  catalyst_voices/lib/pages/spaces/drawer/my_private_proposals.dart
  catalyst_voices/lib/pages/spaces/drawer/voting_rounds.dart
Owners: @minikin

refactor: removing single child col
  catalyst_voices/lib/widgets/indicators/voices_no_internet_connection_banner.dart
Owners: @minikin

feat: remove drawer space header arrow
  catalyst_voices/lib/pages/spaces/drawer/space_header.dart
Owners: @minikin

fix: update spaces order
  catalyst_voices/lib/common/ext/space_ext.dart
  catalyst_voices/lib/pages/overall_spaces/spaces_overview_list_view.dart
  catalyst_voices/lib/routes/routing/spaces_route.dart
  catalyst_voices/lib/routes/routing/spaces_route.g.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/space.dart
Owners: @minikin

fix: generate loc files
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
Owners: @minikin

feat: theme colors
  catalyst_voices/lib/widgets/indicators/voices_no_internet_connection_banner.dart
Owners: @minikin

fix(backend): Udate autogenerated dart code
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.g.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.chopper.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.dart
Owners: @minikin

fix: localization
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

chore(cat-voices): fix tests
  catalyst_voices/packages/catalyst_voices_repositories/lib/src/catalyst_data_gateway_repository.dart
  catalyst_voices/packages/catalyst_voices_repositories/test/src/catalyst_data_gateway_repository/catalyst_data_gateway_repository_test.dart
Owners: @minikin

feat: Update GET staked_ada endpoint to fetch from ScyllaDB (#728)
  .config/dictionaries/project.dic
  catalyst-gateway/bin/src/db/event/cardano.obsolete/utxo/mod.rs
  catalyst-gateway/bin/src/db/index/mod.rs
  catalyst-gateway/bin/src/db/index/queries.rs
  catalyst-gateway/bin/src/db/index/queries/get_txi_by_txn_hashes.cql
  catalyst-gateway/bin/src/db/index/queries/get_txo_by_stake_address.cql
  catalyst-gateway/bin/src/db/index/queries/insert_txo.cql
  catalyst-gateway/bin/src/db/index/queries/update_txo_spent.cql
  catalyst-gateway/bin/src/db/index/schema/txi_by_txn_hash_table.cql
  catalyst-gateway/bin/src/db/index/session.rs
  catalyst-gateway/bin/src/db/index/staked_ada/get_txi_by_txn_hash.rs
  catalyst-gateway/bin/src/db/index/staked_ada/get_txo_by_stake_address.rs
  catalyst-gateway/bin/src/db/index/staked_ada/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/staked_ada_get.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/stake_address.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/stake_info.rs
  catalyst_voices/packages/catalyst_voices_repositories/lib/src/catalyst_data_gateway_repository.dart
  catalyst_voices/packages/catalyst_voices_repositories/test/src/catalyst_data_gateway_repository/catalyst_data_gateway_repository_test.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.g.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.chopper.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.dart
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: use TxiInserParams::new when adding txi data
  catalyst-gateway/bin/src/db/index/index_txi.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: remove unused cfg attributes
  catalyst-gateway/bin/src/db/index/index_cip36.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: refactor Cip36RegistrationInsertQuery::new
  catalyst-gateway/bin/src/db/index/index_cip36.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(cat-voices): Add "No Internet Connection Banner" widget (#827)
  catalyst_voices/lib/widgets/indicators/voices_no_internet_connection_banner.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/uikit_example/lib/examples/voices_indicators_example.dart
Owners: @minikin

feat: KeyboardKeyButton, VoicesPlainTooltip leading and trailing
  catalyst_voices/lib/widgets/avatars/voices_avatar.dart
  catalyst_voices/lib/widgets/buttons/voices_keyboard_key_button.dart
  catalyst_voices/lib/widgets/drawer/voices_drawer_space_chooser.dart
  catalyst_voices/lib/widgets/tooltips/voices_plain_tooltip.dart
  catalyst_voices/lib/widgets/widgets.dart
Owners: @minikin

fix(backend): Cip36 Primary key is stake key. Stake Key N->1 Vote Key
  catalyst-gateway/bin/src/db/index/block/cip36/cql/insert_cip36.cql
  catalyst-gateway/bin/src/db/index/block/cip36/cql/insert_cip36_for_vote_key.cql
  catalyst-gateway/bin/src/db/index/block/cip36/cql/insert_cip36_invalid.cql
  catalyst-gateway/bin/src/db/index/block/cip36/insert_cip36.rs
  catalyst-gateway/bin/src/db/index/block/cip36/insert_cip36_for_vote_key.rs
  catalyst-gateway/bin/src/db/index/block/cip36/insert_cip36_invalid.rs
  catalyst-gateway/bin/src/db/index/block/cip36/mod.rs
  catalyst-gateway/bin/src/db/index/schema/cql/cip36_registration.cql
  catalyst-gateway/bin/src/db/index/schema/cql/cip36_registration_for_vote_key.cql
  catalyst-gateway/bin/src/db/index/schema/cql/cip36_registration_invalid.cql
  catalyst-gateway/bin/src/db/index/schema/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(backend): code format
  catalyst-gateway/bin/src/db/index/block/cip36/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: spaces shortcuts
  catalyst_voices/lib/common/ext/space_ext.dart
  catalyst_voices/lib/pages/spaces/drawer/spaces_drawer.dart
  catalyst_voices/lib/pages/spaces/spaces_shell_page.dart
  catalyst_voices/lib/widgets/buttons/voices_keyboard_key_button.dart
  catalyst_voices/lib/widgets/buttons/voices_logical_keyboard_key_button.dart
  catalyst_voices/lib/widgets/common/shortcut_activator_view.dart
  catalyst_voices/lib/widgets/drawer/voices_drawer_space_chooser.dart
  catalyst_voices/lib/widgets/widgets.dart
Owners: @minikin

feat: spaces keyboard shortcuts
  catalyst_voices/lib/common/ext/space_ext.dart
  catalyst_voices/lib/pages/spaces/drawer/spaces_drawer.dart
  catalyst_voices/lib/pages/spaces/spaces_shell_page.dart
  catalyst_voices/lib/widgets/buttons/voices_keyboard_key_button.dart
  catalyst_voices/lib/widgets/buttons/voices_logical_keyboard_key_button.dart
  catalyst_voices/lib/widgets/common/shortcut_activator_view.dart
  catalyst_voices/lib/widgets/drawer/voices_drawer_space_chooser.dart
  catalyst_voices/lib/widgets/tooltips/voices_plain_tooltip.dart
  catalyst_voices/lib/widgets/widgets.dart
Owners: @minikin

chore: docs
  catalyst_voices/lib/widgets/buttons/voices_keyboard_key_button.dart
  catalyst_voices/lib/widgets/buttons/voices_logical_keyboard_key_button.dart
  catalyst_voices/lib/widgets/common/shortcut_activator_view.dart
Owners: @minikin

chore: remove unused code
  catalyst_voices/lib/pages/spaces/drawer/spaces_drawer.dart
Owners: @minikin

feat(cat-voices): x509 certificate generator
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/main.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_rbac_tx.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/catalyst_cardano_serialization.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/x509_certificate.dart
  catalyst_voices_packages/catalyst_cardano_serialization/pubspec.yaml
  melos.yaml
Owners: @minikin, @stevenj

chore(cat-voices): add tests
  catalyst_voices_packages/catalyst_cardano_serialization/test/rbac/x509_certificate_test.dart
Owners: @minikin, @stevenj

docs(cat-voices): improve docs
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/x509_certificate.dart
Owners: @minikin, @stevenj

docs(general): Cleanup project dictionary
  .config/dictionaries/project.dic
Owners: none

docs(spelling): Fix spelling
  .config/dictionaries/project.dic
Owners: none

chore(cat-voices): remove unused dependency
  catalyst_voices_packages/catalyst_cardano_serialization/pubspec.yaml
Owners: @minikin, @stevenj

chore: update VoicesDrawer docs
  catalyst_voices/lib/pages/spaces/drawer/spaces_drawer.dart
  catalyst_voices/lib/widgets/drawer/voices_drawer.dart
  catalyst_voices/lib/widgets/headers/brand_header.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/uikit_example/lib/examples/voices_navigation_example.dart
Owners: @minikin

fix(backend): remove obsolete clippy lint cfg
  catalyst-gateway/bin/src/db/index/block/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(cat-voices): spaces shortcuts (#830)
  catalyst_voices/lib/common/ext/space_ext.dart
  catalyst_voices/lib/pages/spaces/drawer/spaces_drawer.dart
  catalyst_voices/lib/pages/spaces/spaces_shell_page.dart
  catalyst_voices/lib/widgets/buttons/voices_keyboard_key_button.dart
  catalyst_voices/lib/widgets/buttons/voices_logical_keyboard_key_button.dart
  catalyst_voices/lib/widgets/common/shortcut_activator_view.dart
  catalyst_voices/lib/widgets/drawer/voices_drawer_space_chooser.dart
  catalyst_voices/lib/widgets/tooltips/voices_plain_tooltip.dart
  catalyst_voices/lib/widgets/widgets.dart
Owners: @minikin

docs(backend): Improve field documentation so its not ambiguous.
  catalyst-gateway/bin/src/cardano/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

general: update flutter-ci version to v3.2.04
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/Earthfile
Owners: @minikin, @stevenj

docs(backend): Fix comment
  catalyst-gateway/bin/src/db/event/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
