Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

migration lints
  catalyst-gateway/event-db/migrations/V6__registration.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

migration lints
  catalyst-gateway/bin/src/event_db/legacy/queries/event/config.rs
  catalyst-gateway/event-db/migrations/V6__registration.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

migration lints
  catalyst-gateway/event-db/migrations/V6__registration.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

migration lints
  catalyst-gateway/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

migration lints
  catalyst-gateway/Cargo.lock
  catalyst-gateway/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix deps
  catalyst-gateway/Cargo.lock
  catalyst-gateway/bin/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix deps
  catalyst-gateway/bin/src/event_db/error.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/follower.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix deps
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/event-db/migrations/V6__registration.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor(better error handling): skip
  catalyst-gateway/bin/src/follower.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor(better error handling): skip
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/deny.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor(better error handling): skip
  catalyst-gateway/deny.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

allow git - cargo deny
  catalyst-gateway/deny.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

allow git - cargo deny
  catalyst-gateway/deny.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

allow git - cargo deny
  catalyst-gateway/deny.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

allow git - cargo deny
  catalyst-gateway/deny.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

allow git - cargo deny
  catalyst-gateway/deny.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

allow git - cargo deny
  catalyst-gateway/deny.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

allow git - cargo deny
  catalyst-gateway/deny.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

allow git - cargo deny
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/config.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/follower.rs
  catalyst-gateway/bin/src/follower.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

build(cargo deny): allow
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/deny.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

build(cargo deny): allow
  catalyst-gateway/deny.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add workflow for test report generation
  .github/workflows/generate-allure-report.yml
Owners: none

fix: earthly path
  .github/workflows/generate-allure-report.yml
Owners: none

fix: earthly
  .github/workflows/generate-allure-report.yml
Owners: none

feat: add ci setup
  .github/workflows/generate-allure-report.yml
Owners: none

test run
  .github/workflows/generate-allure-report.yml
  catalyst-gateway/cat-gateway.coverage-report.info
  catalyst-gateway/cat-gateway.junit-report.xml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add allure report action
  .github/workflows/generate-allure-report.yml
Owners: none

test run
  .github/workflows/generate-allure-report.yml
Owners: none

feat(ci): add initial Earthfile for voice web app
  catalyst_voices/.gitignore
  catalyst_voices/Earthfile
  catalyst_voices/README.md
  catalyst_voices/lib/configs/main_web.dart
  catalyst_voices/nginx.conf
  catalyst_voices/pubspec.yaml
Owners: @minikin

Update Earthfile
  catalyst_voices/Earthfile
Owners: @minikin

refactor( start from genesis ): no previous followers or metadata
  catalyst-gateway/bin/README.md
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/event_db/error.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/config.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/follower.rs
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/deny.toml
  catalyst-gateway/event-db/migrations/V6__registration.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor( start from genesis ): no previous followers or metadata
  catalyst-gateway/bin/src/follower.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor( start from genesis ): no previous followers or metadata
  catalyst-gateway/bin/src/event_db/legacy/queries/event/follower.rs
  catalyst-gateway/bin/src/follower.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor( start from genesis ): no previous followers or metadata
  catalyst-gateway/bin/src/event_db/legacy/queries/event/follower.rs
  catalyst-gateway/bin/src/follower.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor( start from genesis ): no previous followers or metadata
  catalyst-gateway/bin/src/event_db/legacy/queries/event/follower.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Update Earthfile
  catalyst_voices/Earthfile
Owners: @minikin

Update Earthfile
  catalyst_voices/Earthfile
Owners: @minikin

Update .gitignore
  catalyst_voices/.gitignore
Owners: @minikin

build(ci tag): new release
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/schema-mismatch/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

build(markdown): lints
  catalyst-gateway/bin/README.md
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
