Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor(process block): valid era
  catalyst-gateway/bin/src/follower.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs(cips): updates
  docs/src/catalyst-standards/draft-cips/role-registration/cip-xxxx.md
Owners: none

fix(vscode): workspace recommendations update
  .vscode/extensions.json
Owners: none

fix(docs): Use pending docs branch for kroki fix
  docs/Earthfile
Owners: none

remove redundant traits
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/event_db/config.rs
  catalyst-gateway/bin/src/event_db/follower.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/ballot.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/mod.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/objective.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/proposal.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/review.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/registration.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/search.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/vit_ss/fund.rs
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/bin/src/service/utilities/middleware/tracing_mw.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(docs): set correct version now cat-ci changes are merged
  docs/Earthfile
Owners: none

fix
  catalyst-gateway/Cargo.lock
  catalyst-gateway/bin/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(docs): Remove all kroki diagrams from docs
  .config/dictionaries/project.dic
  docs/src/api/cat-gateway/rust.md
Owners: none

fix: kroki ci errors (#298)
  .config/dictionaries/project.dic
  .vscode/extensions.json
  docs/Earthfile
  docs/src/api/cat-gateway/rust.md
Owners: none

fix db
  catalyst-gateway/bin/src/event_db/follower.rs
  catalyst-gateway/event-db/Readme.md
  catalyst-gateway/event-db/migrations/V6__registration.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: utxo barebones index (#292)
  .gitignore
  catalyst-gateway/Cargo.lock
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/event_db/error.rs
  catalyst-gateway/bin/src/event_db/mod.rs
  catalyst-gateway/bin/src/event_db/utxo.rs
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/bin/src/main.rs
  catalyst-gateway/bin/src/settings.rs
  catalyst-gateway/bin/src/util.rs
  docs/src/architecture/08_concepts/gateway/mechanics.md
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: update flutter to 3.19.3
  catalyst_voices/macos/Flutter/GeneratedPluginRegistrant.swift
  catalyst_voices/macos/Flutter/ephemeral/Flutter-Generated.xcconfig
  catalyst_voices/macos/Flutter/ephemeral/flutter_export_environment.sh
  catalyst_voices/macos/Podfile
  catalyst_voices/packages/catalyst_voices_assets/example/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_assets/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_localization/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_repositories/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_view_models/pubspec.yaml
  catalyst_voices/pubspec.yaml
  melos.yaml
Owners: @minikin

Update Earthfile
  catalyst_voices/Earthfile
Owners: @minikin

Update Earthfile
  catalyst_voices/Earthfile
Owners: @minikin

Update Earthfile
  catalyst_voices/Earthfile
Owners: @minikin

wip
  catalyst_voices/ios/Podfile.lock
  catalyst_voices/ios/Runner.xcodeproj/project.pbxproj
  catalyst_voices/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  catalyst_voices/lib/pages/remote_widgets/core/catalyst_core.dart
  catalyst_voices/lib/pages/remote_widgets/temp.dart
  catalyst_voices/packages/catalyst_voices_assets/example/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_assets/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_localization/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_remote_widgets/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_repositories/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_view_models/pubspec.yaml
  catalyst_voices/pubspec.yaml
  melos.yaml
Owners: @minikin

fix(merge conflicts): rm event db traits
  catalyst-gateway/bin/src/event_db/utxo.rs
  catalyst-gateway/bin/src/follower.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(merge conflicts): rm event db traits
  catalyst-gateway/bin/src/event_db/utxo.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(merge conflicts): rm event db traits
  catalyst-gateway/event-db/queries/follower/utxo_index_utxo_query.sql
  catalyst-gateway/event-db/queries/follower/utxo_txn_index.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(merge conflicts): rm event db traits
  catalyst-gateway/event-db/queries/follower/utxo_index_utxo_query.sql
  catalyst-gateway/event-db/queries/follower/utxo_txn_index.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(merge conflicts): rm event db traits
  catalyst-gateway/event-db/queries/follower/utxo_index_utxo_query.sql
  catalyst-gateway/event-db/queries/follower/utxo_txn_index.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(merge conflicts): rm event db traits
  catalyst-gateway/event-db/queries/follower/utxo_index_utxo_query.sql
  catalyst-gateway/event-db/queries/follower/utxo_txn_index.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(merge conflicts): rm event db traits
  catalyst-gateway/event-db/queries/follower/utxo_txn_index.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor: Cleanup catalyst-gateway event-db queries (#297)
  catalyst-gateway/Cargo.lock
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/event_db/config.rs
  catalyst-gateway/bin/src/event_db/follower.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/ballot.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/mod.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/objective.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/proposal.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/review.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/registration.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/search.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/vit_ss/fund.rs
  catalyst-gateway/bin/src/event_db/schema_check.rs
  catalyst-gateway/bin/src/event_db/utxo.rs
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/bin/src/service/utilities/middleware/tracing_mw.rs
  catalyst-gateway/event-db/Readme.md
  catalyst-gateway/event-db/migrations/V6__registration.sql
  catalyst-gateway/event-db/queries/config/select_config.sql
  catalyst-gateway/event-db/queries/follower/insert_slot_index.sql
  catalyst-gateway/event-db/queries/follower/insert_update_state.sql
  catalyst-gateway/event-db/queries/follower/select_update_state.sql
  catalyst-gateway/event-db/queries/follower/utxo_index_utxo_query.sql
  catalyst-gateway/event-db/queries/follower/utxo_txn_index.sql
  catalyst-gateway/event-db/queries/schema_check/select_max_version.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst_voices/lib/pages/remote_widgets/core/catalyst_core.dart
  catalyst_voices/lib/pages/remote_widgets/temp.dart
Owners: @minikin

docs(docs): Add CDDL definition for POC x509 envelope metadata
  docs/src/catalyst-standards/draft-cips/role-registration/x509-envelope.cddl
Owners: none

fix(vscode): update vscode extension recommendations
  .vscode/extensions.json
Owners: none

docs(cips): rbac x509 envelope fix
  docs/src/catalyst-standards/draft-cips/role-registration/x509-envelope.cddl
Owners: none

feat: initial commit
  utilities/wallet-connector/.gitignore
  utilities/wallet-connector/Earthfile
  utilities/wallet-connector/index.html
  utilities/wallet-connector/nginx.conf
  utilities/wallet-connector/package-lock.json
  utilities/wallet-connector/package.json
  utilities/wallet-connector/postcss.config.js
  utilities/wallet-connector/src/App.tsx
  utilities/wallet-connector/src/main.tsx
  utilities/wallet-connector/src/styles/global.css
  utilities/wallet-connector/src/types/global.d.ts
  utilities/wallet-connector/tailwind.config.js
  utilities/wallet-connector/tsconfig.json
  utilities/wallet-connector/tsconfig.node.json
  utilities/wallet-connector/vite.config.ts
Owners: none

feat: wallet card
  utilities/wallet-connector/package-lock.json
  utilities/wallet-connector/package.json
  utilities/wallet-connector/src/App.tsx
  utilities/wallet-connector/src/components/WalletCard.tsx
  utilities/wallet-connector/tsconfig.json
Owners: none

clean up
  catalyst_voices/lib/pages/remote_widgets/README.md
  catalyst_voices/packages/catalyst_voices_remote_widgets/README.md
  catalyst_voices/packages/catalyst_voices_remote_widgets/lib/src/core/catalyst_core.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/lib/src/core/local_widget.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/lib/src/core/new_local_widget.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/lib/src/core/new_remote_widget.rfwtxt
  catalyst_voices/packages/catalyst_voices_remote_widgets/lib/src/core/remote_widget.rfwtxt
  catalyst_voices/packages/catalyst_voices_remote_widgets/lib/src/core/rfw_converter.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/lib/src/proposal_builder_m2/proposal_builder_body_m2.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/lib/src/remote_widgets/remote_form.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/lib/src/remote_widgets/remote_widgets.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/lib/src/remote_widgets/remote_widgets_page.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/lib/src/remote_widgets/temp.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/pubspec.yaml
Owners: @minikin

feat: cardano types
  utilities/wallet-connector/package-lock.json
  utilities/wallet-connector/package.json
  utilities/wallet-connector/src/App.tsx
  utilities/wallet-connector/src/common/helpers/getCardano.ts
Owners: none

feat: wallet info view
  utilities/wallet-connector/src/App.tsx
  utilities/wallet-connector/src/common/helpers/extractApiData.ts
  utilities/wallet-connector/src/styles/global.css
  utilities/wallet-connector/src/types/cardano.ts
Owners: none

feat: adds cspell words
  .config/dictionaries/project.dic
Owners: none

feat: adds scripts and earthly target to install browsers
  catalyst_voices/Earthfile
  catalyst_voices/test_driver/scripts/install-chrome-linux64.sh
  catalyst_voices/test_driver/scripts/install-edge-linux64.sh
  catalyst_voices/test_driver/scripts/install-firefox-linux64.sh
Owners: @minikin

feat: adds test targets
  catalyst_voices/test_driver/Earthfile
Owners: @minikin

feat: cleanup and cspell
  .config/dictionaries/project.dic
  catalyst_voices/test_driver/Earthfile
  catalyst_voices/test_driver/scripts/install-chrome-linux64.sh
  cspell.json
Owners: @minikin

clean up
  catalyst_voices/lib/routes/app_router.dart
  catalyst_voices/lib/routes/remote_page_route.dart
  catalyst_voices/lib/routes/remote_page_route.g.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/README.md
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/main.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/poc.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/pubspec.yaml
Owners: @minikin

feat: secitons
  utilities/wallet-connector/package-lock.json
  utilities/wallet-connector/package.json
  utilities/wallet-connector/src/App.tsx
  utilities/wallet-connector/src/components/InfoItem.tsx
  utilities/wallet-connector/src/modules/WalletActionsSection.tsx
  utilities/wallet-connector/src/modules/WalletInfoSection.tsx
Owners: none

refactor: move wallet info section
  utilities/wallet-connector/src/App.tsx
  utilities/wallet-connector/src/modules/WalletInfoSection.tsx
Owners: none

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
