Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

feat: index cip-36 registrations by vote key
  catalyst-gateway/bin/src/db/index/index_cip36.rs
  catalyst-gateway/bin/src/db/index/queries.rs
  catalyst-gateway/bin/src/db/index/queries/insert_cip36_vote_key.cql
  catalyst-gateway/bin/src/db/index/schema.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: index cip-36 by stake address
  catalyst-gateway/bin/src/db/index/block.rs
  catalyst-gateway/bin/src/db/index/index_cip36.rs
  catalyst-gateway/bin/src/db/index/mod.rs
  catalyst-gateway/bin/src/db/index/queries.rs
  catalyst-gateway/bin/src/db/index/queries/insert_cip36_registration.cql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor: move brand related assets to enum function
  catalyst_voices/lib/app/view/app_precache_image_assets.dart
  catalyst_voices/lib/pages/overall_spaces/brands_navigation.dart
  catalyst_voices/lib/widgets/app_bar/voices_app_bar.dart
  catalyst_voices/lib/widgets/drawer/voices_drawer.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/brands/brand.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/theme_extensions/brand_assets.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/packages/catalyst_voices_brands/test/src/catalyst_voices_brands_test.dart
Owners: @minikin

feat: Workspace - update shadow colors
  catalyst_voices/lib/widgets/containers/workspace_text_tile_container.dart
  catalyst_voices/lib/widgets/containers/workspace_tile_container.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/colors.gen.dart
Owners: @minikin

feat: Workspace - fix dark mode
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
Owners: @minikin

refactor: move space colors and icons to SpaceExt
  catalyst_voices/lib/common/ext/ext.dart
  catalyst_voices/lib/common/ext/space_ext.dart
  catalyst_voices/lib/widgets/avatars/space_avatar.dart
Owners: @minikin

feat: VoicesScrollbar
  catalyst_voices/lib/pages/overall_spaces/spaces_overview_list_view.dart
  catalyst_voices/lib/widgets/scrollbar/voices_scrollbar.dart
  catalyst_voices/lib/widgets/widgets.dart
Owners: @minikin

fix: VoicesScrollbar ScrollController
  catalyst_voices/lib/pages/overall_spaces/spaces_overview_list_view.dart
  catalyst_voices/lib/widgets/scrollbar/voices_scrollbar.dart
Owners: @minikin

feat: update star_filled icon
  catalyst_voices/lib/pages/voting/voting_page.dart
  catalyst_voices/lib/widgets/cards/pending_proposal_card.dart
  catalyst_voices/packages/catalyst_voices_assets/internal_resources/fonts/CatalystVoicesIcons.ttf
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_voices_icons.dart
Owners: @minikin

feat: update star_filled icon (#801)
  catalyst_voices/lib/pages/voting/voting_page.dart
  catalyst_voices/lib/widgets/cards/pending_proposal_card.dart
  catalyst_voices/packages/catalyst_voices_assets/internal_resources/fonts/CatalystVoicesIcons.ttf
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_voices_icons.dart
Owners: @minikin

feat: more spaces overviews
  .config/dictionaries/project.dic
  catalyst_voices/lib/common/ext/space_ext.dart
  catalyst_voices/lib/pages/overall_spaces/space/discovery_overview.dart
  catalyst_voices/lib/pages/overall_spaces/space/funded_projects_overview.dart
  catalyst_voices/lib/pages/overall_spaces/space/space_overview_header.dart
  catalyst_voices/lib/pages/overall_spaces/space/space_overview_nav_tile.dart
  catalyst_voices/lib/pages/overall_spaces/space/treasury_overview.dart
  catalyst_voices/lib/pages/overall_spaces/space/voting_overview.dart
  catalyst_voices/lib/pages/overall_spaces/space/workspace_overview.dart
  catalyst_voices/lib/pages/overall_spaces/space_overview_container.dart
  catalyst_voices/lib/pages/spaces/individual_private_campaigns.dart
  catalyst_voices/lib/widgets/buttons/voices_buttons.dart
  catalyst_voices/lib/widgets/common/proposal_status_container.dart
  catalyst_voices/lib/widgets/drawer/voices_drawer_nav_item.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/proposal/proposal_status.dart
Owners: @minikin

feat: Workspace - Damian's feedback
  catalyst_voices/lib/pages/spaces/spaces_shell_page.dart
  catalyst_voices/lib/pages/workspace/workspace_page.dart
  catalyst_voices/lib/routes/routing/spaces_route.dart
Owners: @minikin

ci(general): Replace temp CI branch with tagged release
  Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: Workspace - Damian's feedback, part 2
  catalyst_voices/lib/widgets/containers/workspace_text_tile_container.dart
  catalyst_voices/lib/widgets/containers/workspace_tile_container.dart
  catalyst_voices/lib/widgets/headers/segment_header.dart
Owners: @minikin

feat: update melos format script
  catalyst_voices/lib/widgets/cards/pending_proposal_card.dart
  melos.yaml
Owners: @minikin

docs(general): Fix spelling
  .config/dictionaries/project.dic
  docs/src/catalyst-standards/permissionless-auth/auth-header.md
  docs/src/catalyst-standards/permissionless-auth/auth-token.cddl
Owners: none

feat: Workspace - ignore lint for sample_rich_text.dart
  catalyst_voices/lib/pages/workspace/sample_rich_text.dart
Owners: @minikin

feat: Workspace - replace problematic words
  catalyst_voices/lib/pages/workspace/sample_rich_text.dart
Owners: @minikin

chore: script rename
  melos.yaml
Owners: none

fix: format-check fails when code is not formatted (#792)
  catalyst_voices/lib/widgets/cards/pending_proposal_card.dart
  catalyst_voices/lib/widgets/common/tree_view_column.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/catalyst_voices_icons.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_voices_assets.dart
  melos.yaml
Owners: @minikin

fix: remove unused widget
  catalyst_voices/lib/widgets/common/proposal_status_indicator.dart
Owners: @minikin

fix: funded projects favorite icon
  catalyst_voices/lib/pages/funded_projects/funded_projects_page.dart
  catalyst_voices/lib/widgets/cards/funded_proposal_card.dart
  catalyst_voices/packages/catalyst_voices_assets/internal_resources/fonts/CatalystVoicesIcons.ttf
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/catalyst_voices_icons.dart
Owners: @minikin

refactor: extract VoicesDrawerNavItem into VoicesNavTile
  catalyst_voices/lib/pages/overall_spaces/space/treasury_overview.dart
  catalyst_voices/lib/pages/overall_spaces/space/voting_overview.dart
  catalyst_voices/lib/pages/overall_spaces/space/workspace_overview.dart
  catalyst_voices/lib/pages/spaces/individual_private_campaigns.dart
  catalyst_voices/lib/widgets/tiles/voices_nav_tile.dart
  catalyst_voices/lib/widgets/widgets.dart
Owners: @minikin

feat: Workspace - replace problematic words
  catalyst_voices/lib/pages/workspace/sample_rich_text.dart
Owners: @minikin

feat: Workspace - reformat
  catalyst_voices/lib/pages/spaces/spaces_drawer.dart
  catalyst_voices/lib/pages/workspace/sample_rich_text.dart
  catalyst_voices/lib/widgets/common/proposal_status_container.dart
  catalyst_voices/lib/widgets/containers/workspace_tile_container.dart
Owners: @minikin

feat: Workspace (#795)
  catalyst_voices/lib/pages/spaces/my_private_proposals.dart
  catalyst_voices/lib/pages/spaces/spaces_drawer.dart
  catalyst_voices/lib/pages/workspace/proposal_details.dart
  catalyst_voices/lib/pages/workspace/proposal_navigation_panel.dart
  catalyst_voices/lib/pages/workspace/proposal_segment_controller.dart
  catalyst_voices/lib/pages/workspace/proposal_setup_panel.dart
  catalyst_voices/lib/pages/workspace/sample_rich_text.dart
  catalyst_voices/lib/pages/workspace/workspace_page.dart
  catalyst_voices/lib/pages/workspace/workspace_proposal_navigation_ext.dart
  catalyst_voices/lib/widgets/common/proposal_status_container.dart
  catalyst_voices/lib/widgets/common/proposal_status_indicator.dart
  catalyst_voices/lib/widgets/containers/workspace_text_tile_container.dart
  catalyst_voices/lib/widgets/containers/workspace_tile_container.dart
  catalyst_voices/lib/widgets/drawer/voices_drawer.dart
  catalyst_voices/lib/widgets/drawer/voices_drawer_nav_item.dart
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/colors.gen.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/proposal/proposal_status.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/workspace/workspace_proposal_navigation.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/workspace/workspace_proposal_segment.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/workspace/workspace_proposal_segment_step.dart
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  catalyst_voices/pubspec.yaml
  catalyst_voices/uikit_example/pubspec.yaml
  melos.yaml
Owners: @minikin

feat: do not close drawer when space changes
  catalyst_voices/lib/pages/spaces/spaces_drawer.dart
Owners: @minikin

feat: do not close drawer when space changes (#806)
  catalyst_voices/lib/pages/spaces/spaces_drawer.dart
Owners: @minikin

feat: Rich text-update Cursor-cosmetics
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
Owners: @minikin

feat: more rich text items
  catalyst_voices/lib/pages/workspace/sample_rich_text2.dart
  catalyst_voices/lib/pages/workspace/sample_rich_text3.dart
  catalyst_voices/lib/pages/workspace/workspace_page.dart
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
Owners: @minikin

wip
  docs/Earthfile
  docs/src/architecture/08_concepts/voting_transaction/crypto.md
Owners: none

feat: replace fluttericons with svg icons
  catalyst_voices/lib/pages/funded_projects/funded_projects_page.dart
  catalyst_voices/lib/pages/voting/voting_page.dart
  catalyst_voices/lib/widgets/app_bar/actions/connecting_status.dart
  catalyst_voices/lib/widgets/app_bar/actions/notifications_indicator.dart
  catalyst_voices/lib/widgets/app_bar/actions/role_picker.dart
  catalyst_voices/lib/widgets/app_bar/actions/search_button.dart
  catalyst_voices/lib/widgets/app_bar/actions/unlock_button.dart
  catalyst_voices/lib/widgets/avatars/space_avatar.dart
  catalyst_voices/lib/widgets/buttons/voices_buttons.dart
  catalyst_voices/lib/widgets/cards/funded_proposal_card.dart
  catalyst_voices/lib/widgets/cards/pending_proposal_card.dart
  catalyst_voices/lib/widgets/common/proposal_status_container.dart
  catalyst_voices/lib/widgets/common/proposal_status_indicator.dart
  catalyst_voices/lib/widgets/drawer/voices_drawer.dart
  catalyst_voices/lib/widgets/drawer/voices_drawer_nav_item.dart
  catalyst_voices/lib/widgets/drawer/voices_drawer_space_chooser.dart
  catalyst_voices/lib/widgets/menu/voices_menu.dart
  catalyst_voices/lib/widgets/menu/voices_node_menu.dart
  catalyst_voices/lib/widgets/menu/voices_wallet_tile.dart
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
  catalyst_voices/lib/widgets/snackbar/voices_snackbar.dart
  catalyst_voices/lib/widgets/snackbar/voices_snackbar_type.dart
  catalyst_voices/lib/widgets/text_field/voices_text_field.dart
  catalyst_voices/packages/catalyst_voices_assets/internal_resources/fonts/CatalystVoicesIcons.ttf
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/catalyst_voices_icons.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/fonts.gen.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/assets_ext.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_svg_icon.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_voices_assets.dart
  catalyst_voices/packages/catalyst_voices_assets/pubspec.yaml
  catalyst_voices/test/widgets/menu/voices_menu_test.dart
  catalyst_voices/test/widgets/text_field/voices_text_field_test.dart
  catalyst_voices/uikit_example/lib/examples/voices_avatar_example.dart
  catalyst_voices/uikit_example/lib/examples/voices_chip_example.dart
  catalyst_voices/uikit_example/lib/examples/voices_headers_examples.dart
  catalyst_voices/uikit_example/lib/examples/voices_list_tile_example.dart
  catalyst_voices/uikit_example/lib/examples/voices_menu_example.dart
  catalyst_voices/uikit_example/lib/examples/voices_navigation_example.dart
  catalyst_voices/uikit_example/lib/examples/voices_text_field_example.dart
  catalyst_voices/uikit_example/lib/widgets/session_header.dart
Owners: @minikin

fix: quill toolbar buttons
  .config/dictionaries/project.dic
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
Owners: @minikin

fix: unit tests
  catalyst_voices/test/widgets/text_field/voices_text_field_test.dart
Owners: @minikin

chore: remove unused file
  catalyst_voices/lib/widgets/drawer/voices_drawer_nav_item.dart
Owners: @minikin

feat: Rich text-update Cursor-cosmetics (#807)
  catalyst_voices/lib/pages/workspace/sample_rich_text2.dart
  catalyst_voices/lib/pages/workspace/sample_rich_text3.dart
  catalyst_voices/lib/pages/workspace/workspace_page.dart
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
Owners: @minikin

wip
  docs/src/architecture/08_concepts/voting_transaction/crypto.md
Owners: none

add Transaction vote generation
  docs/src/architecture/08_concepts/voting_transaction/transaction.md
Owners: none

feat: voting space menu
  catalyst_voices/lib/pages/spaces/spaces_drawer.dart
  catalyst_voices/lib/pages/spaces/voting_rounds.dart
  catalyst_voices/lib/widgets/tiles/voices_nav_tile.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

refactor: move session header to cat-voices package
  catalyst_voices/lib/pages/spaces/spaces_shell_page.dart
  catalyst_voices/lib/widgets/app_bar/session/session_header.dart
  catalyst_voices/lib/widgets/app_bar/session/user_header.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/uikit_example/lib/examples/voices_spaces_example.dart
Owners: @minikin
