Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

update
  docs/src/architecture/08_concepts/voting_ledger/cddl/block.cddl
  docs/src/architecture/08_concepts/voting_ledger/ledger_cip.md
Owners: none

chore: cleanup docs
  catalyst_voices/lib/widgets/tooltips/voices_plain_tooltip.dart
  catalyst_voices/lib/widgets/tooltips/voices_rich_tooltip.dart
Owners: @minikin

feat: tooltips (#707)
  catalyst_voices/lib/widgets/tooltips/voices_plain_tooltip.dart
  catalyst_voices/lib/widgets/tooltips/voices_rich_tooltip.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/test/helpers/pump_app.dart
  catalyst_voices/test/widgets/tooltips/voices_plain_tooltip_test.dart
  catalyst_voices/test/widgets/tooltips/voices_rich_tooltip_test.dart
  catalyst_voices/uikit_example/lib/examples/voices_tooltips_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

fix
  docs/src/architecture/08_concepts/voting_ledger/cddl/block.cddl
Owners: none

fix CI
  docs/src/architecture/08_concepts/voting_ledger/ledger_cip.md
Owners: none

fix spelling
  cspell.json
Owners: none

feat: refactor utils functions
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/global-setup.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/keys.txt
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/lace.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/package-lock.json
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/package.json
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/playwright.config.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/utils.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/wallets/credentials.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/wallets/seed-phrase.ts
Owners: @minikin, @stevenj

fix
  .config/dictionaries/project.dic
  docs/src/catalyst-standards/cbor_tags/blake.md
Owners: none

fix
  docs/src/catalyst-standards/cbor_tags/blake.md
Owners: none

wip
  docs/src/architecture/08_concepts/voting_ledger/ledger_cip.md
Owners: none

fix
  docs/src/architecture/08_concepts/voting_ledger/ledger_cip.md
Owners: none

feat: menu - correct theming for disabled menu item
  catalyst_voices/lib/widgets/menu/voices_menu.dart
  catalyst_voices/uikit_example/lib/examples/voices_menu_example.dart
Owners: @minikin

feat: split import wallet function
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/global-setup.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/playwright.config.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/typhon-tests.spec.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/utils.ts
Owners: @minikin, @stevenj

wip
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/typhon-tests.spec.ts
Owners: @minikin, @stevenj

feat: menu - fix lint issues
  catalyst_voices/lib/widgets/menu/voices_menu.dart
  catalyst_voices/uikit_example/lib/examples/voices_menu_example.dart
Owners: @minikin

feat(catalyst_cardano_serialization): refactor `CborEncodable` to use interface for standardized CBOR handling
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/address.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/registration_data.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/transaction.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/types.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/witness.dart
Owners: @minikin, @stevenj

feat: menu - better spacing
  catalyst_voices/lib/widgets/menu/voices_menu.dart
  catalyst_voices/uikit_example/lib/examples/voices_menu_example.dart
Owners: @minikin

fix(catalyst_cardano_serialization): Update the missed `Balance` and `MultiAsset` classes
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/types.dart
Owners: @minikin, @stevenj

feat: menu - add comments
  catalyst_voices/lib/widgets/menu/voices_menu.dart
  catalyst_voices/uikit_example/lib/examples/voices_menu_example.dart
Owners: @minikin

wip
  docs/src/architecture/08_concepts/immutable_ledger/.pages
  docs/src/architecture/08_concepts/immutable_ledger/cddl/block.cddl
  docs/src/architecture/08_concepts/immutable_ledger/cddl/genesis_to_prev_hash.cddl
  docs/src/architecture/08_concepts/immutable_ledger/images/ledger_schema.excalidraw
  docs/src/architecture/08_concepts/immutable_ledger/images/ledger_schema.svg
  docs/src/architecture/08_concepts/immutable_ledger/ledger.md
  docs/src/architecture/08_concepts/voting_ledger/.pages
  docs/src/architecture/08_concepts/voting_ledger/cddl/block.cddl
  docs/src/architecture/08_concepts/voting_ledger/ledger_cip.md
Owners: none

add image
  docs/src/architecture/08_concepts/immutable_ledger/images/temporary_chain.excalidraw
  docs/src/architecture/08_concepts/immutable_ledger/images/temporary_chain.svg
  docs/src/architecture/08_concepts/immutable_ledger/ledger.md
Owners: none

wip
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/lace.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/typhon-tests.spec.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/utils.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/wallet-tests.spec.ts
Owners: @minikin, @stevenj

fix
  docs/src/architecture/08_concepts/immutable_ledger/images/temporary_chain.svg
  docs/src/architecture/08_concepts/immutable_ledger/ledger.md
Owners: none

feat: menu - fix focus
  catalyst_voices/lib/widgets/menu/voices_menu.dart
Owners: @minikin

feat(catalyst_cardano_serialization): add CborEncodable interface for standardized CBOR handling (#696)
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/address.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/registration_data.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/transaction.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/types.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/witness.dart
Owners: @minikin, @stevenj

fix
  docs/src/architecture/08_concepts/immutable_ledger/ledger.md
Owners: none

feat: menu - add tests
  catalyst_voices/test/widgets/menu/voices_menu_test.dart
Owners: @minikin

feat(catalyst_cardano_serialization): initial implementation for supporting Cardano Native and Plutus scripts (#710)
  catalyst_voices_packages/catalyst_cardano_serialization/lib/catalyst_cardano_serialization.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/scripts.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/scripts_test.dart
Owners: @minikin, @stevenj

feat: LinksPageFooter, CatalystSvgPicture + Examples
  catalyst_voices/lib/widgets/common/link_text.dart
  catalyst_voices/lib/widgets/drawer/voices_drawer.dart
  catalyst_voices/lib/widgets/footers/links_page_footer.dart
  catalyst_voices/lib/widgets/footers/page_footer.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_assets/internal_resources/icons/facebook.svg
  catalyst_voices/packages/catalyst_voices_assets/internal_resources/icons/facebook_mono.svg
  catalyst_voices/packages/catalyst_voices_assets/internal_resources/icons/linkedin.svg
  catalyst_voices/packages/catalyst_voices_assets/internal_resources/icons/linkedin_mono.svg
  catalyst_voices/packages/catalyst_voices_assets/internal_resources/icons/x.svg
  catalyst_voices/packages/catalyst_voices_assets/internal_resources/icons/x_mono.svg
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/assets.gen.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/assets_ext.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_svg_icon.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_svg_picture.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_voices_assets.dart
  catalyst_voices/packages/catalyst_voices_assets/pubspec.yaml
  catalyst_voices/uikit_example/lib/examples/voices_spaces_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

wip
  docs/src/architecture/08_concepts/immutable_ledger/cddl/block.cddl
  docs/src/architecture/08_concepts/immutable_ledger/images/ledger_schema.excalidraw
  docs/src/architecture/08_concepts/immutable_ledger/images/ledger_schema.svg
  docs/src/architecture/08_concepts/immutable_ledger/ledger.md
Owners: none

wip
  docs/src/architecture/08_concepts/immutable_ledger/ledger.md
Owners: none

fix
  docs/src/architecture/08_concepts/immutable_ledger/ledger.md
Owners: none

feat: update VoicesSpacesExample
  catalyst_voices/lib/widgets/app_bar/voices_app_bar.dart
  catalyst_voices/uikit_example/lib/examples/voices_spaces_example.dart
Owners: @minikin

fix
  docs/src/architecture/08_concepts/immutable_ledger/ledger.md
Owners: none

fix(catalyst_cardano_serialization): eliminate accidental double encoding in `toCbor()`, clean up unnecessary `main()`
  catalyst_voices_packages/catalyst_cardano_serialization/lib/catalyst_cardano_serialization.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/scripts.dart
Owners: @minikin, @stevenj

feat(catalyst_cardano_serialization): add initial support for `PostAlonzo` and `PreBabbage` transaction outputs
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_tx.dart
  catalyst_voices_packages/catalyst_cardano_serialization/example/main.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/catalyst_cardano_serialization.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/transaction_builder.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/scripts.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/transaction.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/transaction_output.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/types.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/scripts_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/test_utils/test_data.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/transaction_output_test.dart
Owners: @minikin, @stevenj

wip
  docs/src/catalyst-standards/cbor_tags/blake.md
Owners: none

fix
  docs/src/catalyst-standards/cbor_tags/blake.md
Owners: none

fix
  docs/src/catalyst-standards/cbor_tags/blake.md
Owners: none

fix
  docs/src/catalyst-standards/cbor_tags/blake.md
Owners: none
