Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor(start all services): non recoverable startup panic
  catalyst-gateway/bin/src/cli.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

test
  .github/workflows/generate-allure-report.yml
Owners: none

refactor(start all services): non recoverable startup panic
  catalyst-gateway/bin/src/cli.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor(start all services): non recoverable startup panic
  catalyst-gateway/bin/src/cli.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

test:
  .github/workflows/generate-allure-report.yml
Owners: none

test
  .github/workflows/generate-allure-report.yml
Owners: none

refactor(housekeeping): clean
  catalyst-gateway/bin/src/follower.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor(housekeeping): clean
  catalyst-gateway/bin/src/follower.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor(housekeeping): clean
  catalyst-gateway/bin/src/follower.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

test
  .github/workflows/generate-allure-report.yml
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

tests
  .github/workflows/generate-allure-report.yml
Owners: none

tests
  .github/workflows/generate-allure-report.yml
Owners: none

tests
  .github/workflows/generate-allure-report.yml
Owners: none

tests
  .github/workflows/generate-allure.yml
  allure-results/cat-gateway.junit-report.xml
Owners: none

tests
  .github/workflows/generate-allure-report.yml
Owners: none

tests
  .github/workflows/generate-allure.yml
Owners: none

tests
  .github/workflows/generate-allure.yml
Owners: none

tests
  .github/workflows/generate-allure.yml
Owners: none

tests
  .github/workflows/generate-allure.yml
Owners: none

test-pr
  .github/workflows/generate-allure.yml
Owners: none

wip
  catalyst_voices/lib/pages/home/home_page.dart
  catalyst_voices/pubspec.yaml
  catalyst_voices/test/widget_test.dart
Owners: @minikin

Update catalyst-gateway/Earthfile
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Update catalyst-gateway/event-db/Earthfile
  catalyst-gateway/event-db/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Update catalyst-gateway/event-db/Earthfile
  catalyst-gateway/event-db/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: printing cat gateway logs in case of failure
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: printing cat gateway logs in case of failure (#267)
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: adds --if-exists tosave artifacts
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: use #1 as example issue in pr template
  .github/pull_request_template.md
Owners: none

fix: adds --if-exists tosave artifacts (#268)
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

test run
  .github/workflows/generate-allure-report.yml
  cat-gateway.junit-report.xml
  junit-report.xml
Owners: none

refactor(code review): suggestions
  catalyst-gateway/Cargo.lock
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/event_db/config.rs
  catalyst-gateway/bin/src/event_db/follower.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/mod.rs
  catalyst-gateway/bin/src/event_db/mod.rs
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/bin/src/settings.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor(code review): suggestions
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/event_db/follower.rs
  catalyst-gateway/bin/src/settings.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor(code review): suggestions
  catalyst-gateway/bin/README.md
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor(code review): suggestions
  catalyst-gateway/bin/README.md
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: adds action to generate test report
  .github/workflows/generate-allure-report.yml
Owners: none

fix(cspell): add words to dict
  .config/dictionaries/project.dic
Owners: none

fix: token permission
  .github/workflows/generate-allure-report.yml
Owners: none

feat: Gateway follower bootstrap (#260)
  .config/dictionaries/project.dic
  catalyst-gateway/Cargo.lock
  catalyst-gateway/Earthfile
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/event_db/config.rs
  catalyst-gateway/bin/src/event_db/error.rs
  catalyst-gateway/bin/src/event_db/follower.rs
  catalyst-gateway/bin/src/event_db/mod.rs
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/bin/src/main.rs
  catalyst-gateway/bin/src/service/utilities/catch_panic.rs
  catalyst-gateway/bin/src/settings.rs
  catalyst-gateway/deny.toml
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/event-db/migrations/V1__config_tables.sql
  catalyst-gateway/event-db/migrations/V6__registration.sql
  catalyst-gateway/tests/schema-mismatch/Earthfile
  catalyst-gateway/tests/schema-mismatch/docker-compose.yml
  catalyst-gateway/tests/schemathesis-docker-compose.yml
  docs/src/architecture/08_concepts/gateway/concrete.md
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: use #1 as example issue in pr template (#269)
  .github/pull_request_template.md
Owners: none

fix(cspell): add words to dict
  .config/dictionaries/project.dic
Owners: none

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
