Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor: extract learn more button
  catalyst_voices/lib/pages/account/creation/get_started/account_create_dialog.dart
  catalyst_voices/lib/widgets/buttons/voices_buttons.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_bloc.dart
Owners: @minikin

fix: samples (#880)
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/README.md
  catalyst_voices_packages/catalyst_cardano_serialization/README.md
Owners: @minikin, @stevenj

refactor(cat-voices): make link wallet dialog private, move learn more button
  catalyst_voices/lib/pages/registration/link_wallet/intro/link_wallet_intro_dialog.dart
  catalyst_voices/lib/pages/registration/link_wallet/link_wallet_dialog.dart
  catalyst_voices/lib/widgets/buttons/specialized/voices_learn_more_button.dart
  catalyst_voices/lib/widgets/buttons/voices_buttons.dart
Owners: @minikin

ci(general): Bump cat-ci to v3.2.07
  Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(cat-voices): wallet link flow structure (#877)
  catalyst_voices/lib/pages/registration/link_wallet/intro/link_wallet_intro_dialog.dart
  catalyst_voices/lib/pages/registration/link_wallet/link_wallet_dialog.dart
  catalyst_voices/lib/pages/registration/link_wallet/link_wallet_stage.dart
  catalyst_voices/lib/pages/registration/link_wallet/select_wallet/select_wallet_dialog.dart
  catalyst_voices/lib/widgets/buttons/voices_buttons.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

fix: task picture scaling
  catalyst_voices/lib/pages/account/creation/task_picture.dart
Owners: @minikin

feat(cat-gateway): Add Mithril Snapshot Downloader control env vars (#875)
  Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/Justfile
  catalyst-gateway/bin/src/cardano/mod.rs
  catalyst-gateway/bin/src/db/index/block/certs.rs
  catalyst-gateway/bin/src/db/index/block/cip36/insert_cip36.rs
  catalyst-gateway/bin/src/db/index/block/cip36/insert_cip36_for_vote_key.rs
  catalyst-gateway/bin/src/db/index/block/cip36/insert_cip36_invalid.rs
  catalyst-gateway/bin/src/db/index/block/cip36/mod.rs
  catalyst-gateway/bin/src/db/index/block/mod.rs
  catalyst-gateway/bin/src/db/index/block/txi.rs
  catalyst-gateway/bin/src/db/index/block/txo/insert_txo.rs
  catalyst-gateway/bin/src/db/index/block/txo/insert_txo_asset.rs
  catalyst-gateway/bin/src/db/index/block/txo/insert_unstaked_txo.rs
  catalyst-gateway/bin/src/db/index/block/txo/insert_unstaked_txo_asset.rs
  catalyst-gateway/bin/src/db/index/block/txo/mod.rs
  catalyst-gateway/bin/src/db/index/queries/mod.rs
  catalyst-gateway/bin/src/db/index/queries/staked_ada/update_txo_spent.rs
  catalyst-gateway/bin/src/db/index/schema/mod.rs
  catalyst-gateway/bin/src/db/index/session.rs
  catalyst-gateway/bin/src/settings/cassandra_db.rs
  catalyst-gateway/bin/src/settings/chain_follower.rs
  catalyst-gateway/bin/src/settings/mod.rs
  catalyst-gateway/bin/src/settings/str_env_var.rs
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst-gateway/tests/schemathesis_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/Earthfile
  docs/Earthfile
  utilities/local-cluster/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: task picture scaling (#882)
  catalyst_voices/lib/pages/account/creation/task_picture.dart
Owners: @minikin

feat: My account, account page, add const constructors
  catalyst_voices/lib/pages/account/account_page.dart
Owners: @minikin

feat(cat-voices): account creation type dialog (#881)
  catalyst_voices/lib/pages/account/creation/get_started/account_create_dialog.dart
  catalyst_voices/lib/pages/spaces/spaces_shell_page.dart
  catalyst_voices/lib/widgets/app_bar/session/session_action_header.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_bloc.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

feat: My account, account page, extract AccountRole enum
  catalyst_voices/lib/pages/account/account_page.dart
Owners: @minikin

feat: My account, account page, AccountRole translations
  catalyst_voices/lib/pages/account/account_page.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

feat: My account, account page, rename from cutomColor to custom
  catalyst_voices/lib/pages/account/account_page.dart
  catalyst_voices/lib/widgets/buttons/voices_text_button.dart
Owners: @minikin

feat: My account, account page, move padding
  catalyst_voices/lib/pages/account/account_page.dart
Owners: @minikin

feat: My account, account page, wrap SizedBox in DecoratedBox
  catalyst_voices/lib/pages/account/account_page.dart
Owners: @minikin

feat: My account, account page, merge and fix for translation
  catalyst_voices/lib/pages/account/account_page.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
Owners: @minikin

feat(cat-voices): Account page (#878)
  catalyst_voices/lib/pages/account/account.dart
  catalyst_voices/lib/pages/account/account_page.dart
  catalyst_voices/lib/routes/routing/account_route.dart
  catalyst_voices/lib/routes/routing/routes.dart
  catalyst_voices/lib/routes/routing/routing.dart
  catalyst_voices/lib/widgets/app_bar/session/session_state_header.dart
  catalyst_voices/lib/widgets/buttons/voices_text_button.dart
  catalyst_voices/packages/catalyst_voices_assets/assets/images/account_bg.png
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/assets.gen.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/uikit_example/lib/examples/voices_tabs_example.dart
Owners: @minikin

feat: My account, account page, extract model and fix build
  catalyst_voices/lib/pages/account/account_page.dart
  catalyst_voices/lib/pages/account/account_role_ext.dart
  catalyst_voices/lib/routes/routing/account_route.g.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/account/account_role.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
Owners: @minikin

feat: initial commit
  catalyst_voices/packages/catalyst_voices_models/lib/src/key_derivation.dart
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  melos.yaml
Owners: @minikin

chore(cat-voices): add melos scripts to generate code
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/assets.gen.dart
  melos.yaml
Owners: @minikin

feat: My account, account page, extract model and fix build, repackage
  catalyst_voices/lib/common/ext/account_role_ext.dart
  catalyst_voices/lib/pages/account/account_page.dart
Owners: @minikin

chore(cat-voices): reformat
  melos.yaml
Owners: none

feat(cat-voices): My account, extract AccountRole model and fix build (#883)
  catalyst_voices/lib/common/ext/account_role_ext.dart
  catalyst_voices/lib/pages/account/account_page.dart
  catalyst_voices/lib/routes/routing/account_route.g.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/account/account_role.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
Owners: @minikin

feat: create keychain structure
  catalyst_voices/lib/pages/account/creation/create_keychain/create_keychain_controller.dart
  catalyst_voices/lib/pages/account/creation/create_keychain/create_keychain_dialog.dart
  catalyst_voices/lib/pages/account/creation/create_keychain/create_keychain_stage.dart
  catalyst_voices/lib/pages/account/creation/create_keychain/stage/splash_stage_panel.dart
  catalyst_voices/lib/pages/account/creation/create_keychain/stage/stages.dart
  catalyst_voices/lib/pages/account/creation/get_started/account_create_dialog.dart
  catalyst_voices/lib/pages/account/creation/information_panel.dart
  catalyst_voices/lib/pages/spaces/spaces_shell_page.dart
Owners: @minikin

fix: learn more button positioning
  catalyst_voices/lib/pages/account/creation/information_panel.dart
Owners: @minikin

ci(general): fix docker in docker container image
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/Earthfile
Owners: @minikin, @stevenj

fix: localizations
  catalyst_voices/lib/pages/account/creation/create_keychain/create_keychain_dialog.dart
  catalyst_voices/lib/pages/account/creation/create_keychain/stage/splash_stage_panel.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

chore(cat-voices): add melos scripts to generate code (#884)
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/assets.gen.dart
  melos.yaml
Owners: @minikin

feat: seed phrase to generate key pair
  catalyst_voices/packages/catalyst_voices_models/lib/src/key_derivation.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/seed_phrase.dart
Owners: @minikin

feat: offset param
  catalyst_voices/packages/catalyst_voices_models/lib/src/seed_phrase.dart
Owners: @minikin

docs: method
  catalyst_voices/packages/catalyst_voices_models/lib/src/seed_phrase.dart
Owners: @minikin

test: add test for method
  catalyst_voices/packages/catalyst_voices_models/lib/src/seed_phrase.dart
  catalyst_voices/packages/catalyst_voices_models/test/seed_phrase_test.dart
Owners: @minikin

chore: rename test
  catalyst_voices/packages/catalyst_voices_models/test/seed_phrase_test.dart
Owners: @minikin

chore: fmtfix
  catalyst_voices/packages/catalyst_voices_models/lib/src/seed_phrase.dart
  catalyst_voices/packages/catalyst_voices_models/test/seed_phrase_test.dart
Owners: @minikin

chore: fmtfix
  catalyst_voices/packages/catalyst_voices_models/test/seed_phrase_test.dart
Owners: @minikin

fix: update to use upstream changes
  catalyst-gateway/bin/src/db/index/block/rbac509/insert_rbac509.rs
  catalyst-gateway/bin/src/db/index/block/rbac509/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor: move link_wallet_dialog
  catalyst_voices/lib/pages/account/creation/link_wallet/intro/link_wallet_intro_dialog.dart
  catalyst_voices/lib/pages/account/creation/link_wallet/link_wallet_dialog.dart
  catalyst_voices/lib/pages/account/creation/link_wallet/link_wallet_stage.dart
  catalyst_voices/lib/pages/account/creation/link_wallet/select_wallet/select_wallet_dialog.dart
Owners: @minikin

refactor: align l10n keys
  catalyst_voices/lib/pages/account/creation/link_wallet/intro/link_wallet_intro_dialog.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

chore: fix comments
  catalyst_voices/packages/catalyst_voices_models/lib/src/seed_phrase.dart
  catalyst_voices/packages/catalyst_voices_models/test/seed_phrase_test.dart
Owners: @minikin

feat(cat-voices): Add simple key derivation from seed phrase (#885)
  catalyst_voices/packages/catalyst_voices_models/lib/src/seed_phrase.dart
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_models/test/seed_phrase_test.dart
  melos.yaml
Owners: @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
