Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: desktop dialog
  catalyst_voices/lib/widgets/modals/voices_desktop_dialog.dart
  catalyst_voices/lib/widgets/modals/voices_dialog.dart
  catalyst_voices/lib/widgets/modals/voices_info_dialog.dart
  catalyst_voices/uikit_example/lib/examples/voices_modals_example.dart
Owners: @minikin

refactor: move more dialog config into DialogTheme
  catalyst_voices/lib/widgets/modals/voices_desktop_dialog.dart
  catalyst_voices/lib/widgets/modals/voices_dialog.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
Owners: @minikin

addded initial vote tx document
  .config/dictionaries/project.dic
  docs/src/architecture/08_concepts/voting_transaction/.pages
  docs/src/architecture/08_concepts/voting_transaction/transaction.md
Owners: none

cleanup
  docs/src/architecture/08_concepts/immutable_ledger/.pages
  docs/src/architecture/08_concepts/immutable_ledger/ledger.md
Owners: none

feat: treasury_space_ui_example (#729)
  catalyst_voices/lib/widgets/common/proposal_status_container.dart
  catalyst_voices/lib/widgets/common/simple_tree_view.dart
  catalyst_voices/lib/widgets/drawer/voices_drawer_nav_item.dart
  catalyst_voices/lib/widgets/drawer/voices_drawer_space_chooser.dart
  catalyst_voices/lib/widgets/menu/voices_node_menu.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/uikit_example/lib/examples/treasury_space/campaign_builder_panel.dart
  catalyst_voices/uikit_example/lib/examples/treasury_space/campaign_comments_panel.dart
  catalyst_voices/uikit_example/lib/examples/treasury_space/campaign_details.dart
  catalyst_voices/uikit_example/lib/examples/treasury_space/voices_treasury_drawer.dart
  catalyst_voices/uikit_example/lib/examples/treasury_space/voices_treasury_space.dart
  catalyst_voices/uikit_example/lib/examples/voices_menu_example.dart
  catalyst_voices/uikit_example/lib/examples/voices_navigation_example.dart
  catalyst_voices/uikit_example/lib/examples/voices_spaces_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
  catalyst_voices/uikit_example/pubspec.yaml
Owners: @minikin

chore: refactor TODO username
  .config/dictionaries/project.dic
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
Owners: @minikin

feat: discovery modal (#760)
  .config/dictionaries/project.dic
  catalyst_voices/lib/widgets/buttons/voices_buttons.dart
  catalyst_voices/lib/widgets/modals/voices_desktop_dialog.dart
  catalyst_voices/lib/widgets/modals/voices_dialog.dart
  catalyst_voices/lib/widgets/modals/voices_info_dialog.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_assets/assets/colors/colors.xml
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/colors.gen.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/theme_extensions/voices_color_scheme.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/uikit_example/lib/examples/voices_modals_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

feat: add session bloc
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/catalyst_voices_blocs.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_bloc.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_event.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_state.dart
  catalyst_voices/uikit_example/lib/main.dart
  catalyst_voices/uikit_example/pubspec.yaml
Owners: @minikin

feat: add session header
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/pubspec.yaml
  catalyst_voices/uikit_example/lib/examples/voices_spaces_example.dart
  catalyst_voices/uikit_example/pubspec.yaml
  melos.yaml
Owners: @minikin

refactor: extract session header
  catalyst_voices/uikit_example/lib/examples/voices_spaces_example.dart
  catalyst_voices/uikit_example/lib/widgets/session_header.dart
Owners: @minikin

feat: add session header to treasury space
  catalyst_voices/uikit_example/lib/examples/treasury_space/voices_treasury_space.dart
Owners: @minikin

feat: drop session header
  catalyst_voices/uikit_example/lib/examples/treasury_space/voices_treasury_space.dart
Owners: @minikin

chore: filter TXOs in rust instead of filtering in ScyllaDB query
  catalyst-gateway/bin/src/db/index/index_txo.rs
  catalyst-gateway/bin/src/db/index/queries/get_txo_by_stake_address.cql
  catalyst-gateway/bin/src/db/index/queries/insert_txo.cql
  catalyst-gateway/bin/src/db/index/staked_ada.rs
  catalyst-gateway/bin/src/service/api/cardano/staked_ada_get.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: remove unnecessary dependency
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
Owners: @minikin

fix: earthly
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/compose.yml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/playwright.config.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/utils.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/wallet-tests.spec.ts
Owners: @minikin, @stevenj

fix: markdown
  .config/dictionaries/project.dic
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/utils.ts
Owners: @minikin, @stevenj

feat: guest/locked/unlocked state management simulation (#761)
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/catalyst_voices_blocs.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_bloc.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_event.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_state.dart
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/pubspec.yaml
  catalyst_voices/uikit_example/lib/examples/voices_spaces_example.dart
  catalyst_voices/uikit_example/lib/main.dart
  catalyst_voices/uikit_example/lib/widgets/session_header.dart
  catalyst_voices/uikit_example/pubspec.yaml
  melos.yaml
Owners: @minikin

feat: VoicesRichText - extract private widgets
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
Owners: @minikin

wip
  docs/src/architecture/08_concepts/voting_transaction/transaction.md
  docs/src/architecture/08_concepts/voting_transaction/tx_v1.abnf
Owners: none

fix CI
  .config/dictionaries/project.dic
  docs/src/architecture/08_concepts/voting_transaction/transaction.md
  docs/src/architecture/08_concepts/voting_transaction/tx_v1.abnf
Owners: none

feat: add user profile bloc
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/catalyst_voices_blocs.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_bloc.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_event.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_state.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/user_profile/user_profile.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/user_profile/user_profile_bloc.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/user_profile/user_profile_event.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/user_profile/user_profile_state.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/user/user.dart
  catalyst_voices/uikit_example/lib/examples/voices_spaces_example.dart
  catalyst_voices/uikit_example/lib/main.dart
  catalyst_voices/uikit_example/lib/widgets/session_header.dart
  catalyst_voices/uikit_example/lib/widgets/user_header.dart
Owners: @minikin

feat: VoicesRichText - extract translations
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

feat: VoicesRichText - pass title as param
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
  catalyst_voices/uikit_example/lib/examples/voices_rich_text_example.dart
Owners: @minikin

wip
  .config/dictionaries/project.dic
  docs/src/architecture/08_concepts/voting_transaction/transaction.md
  docs/src/architecture/08_concepts/voting_transaction/tx_v1.abnf
Owners: none

chore: clean up routing
  catalyst_voices/lib/app/app.dart
  catalyst_voices/lib/app/view/app.dart
  catalyst_voices/lib/app/view/app_content.dart
  catalyst_voices/lib/app/view/app_page.dart
  catalyst_voices/lib/configs/bootstrap.dart
  catalyst_voices/lib/configs/main_dev.dart
  catalyst_voices/lib/configs/main_preprod.dart
  catalyst_voices/lib/configs/main_prod.dart
  catalyst_voices/lib/configs/main_qa.dart
  catalyst_voices/lib/configs/main_web.dart
  catalyst_voices/lib/pages/coming_soon/coming_soon.dart
  catalyst_voices/lib/pages/coming_soon/coming_soon_page.dart
  catalyst_voices/lib/pages/discovery/discovery.dart
  catalyst_voices/lib/pages/discovery/discovery_page.dart
  catalyst_voices/lib/pages/home/home_page.dart
  catalyst_voices/lib/pages/treasury/treasury.dart
  catalyst_voices/lib/pages/treasury/treasury_page.dart
  catalyst_voices/lib/routes/app_router.dart
  catalyst_voices/lib/routes/app_router_refresh_stream.dart
  catalyst_voices/lib/routes/guards/milestone_guard.dart
  catalyst_voices/lib/routes/guards/route_guard.dart
  catalyst_voices/lib/routes/home_page_route.dart
  catalyst_voices/lib/routes/home_page_route.g.dart
  catalyst_voices/lib/routes/login_page_route.dart
  catalyst_voices/lib/routes/login_page_route.g.dart
  catalyst_voices/lib/routes/routes.dart
  catalyst_voices/lib/routes/routing/routes.dart
  catalyst_voices/lib/routes/routing/routing.dart
  catalyst_voices/lib/routes/routing/routing.g.dart
  catalyst_voices/test/app/view/app_test.dart
Owners: @minikin

test: incrrease timeout
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/wallet-tests.spec.ts
Owners: @minikin, @stevenj

feat: VoicesRichText - fix tests
  catalyst_voices/test/widgets/rich_text/voices_rich_text_test.dart
Owners: @minikin

fix: increase timeout
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/wallet-tests.spec.ts
Owners: @minikin, @stevenj

feat: VoicesRichText - rich text only resizable Vertically
  catalyst_voices/lib/widgets/common/resizable_box_parent.dart
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
  catalyst_voices/lib/widgets/text_field/voices_text_field.dart
Owners: @minikin

feat: run the tests into nightly
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/Earthfile
Owners: @minikin, @stevenj

feat: VoicesRichText - change background for Rich text sample
  catalyst_voices/uikit_example/lib/examples/voices_rich_text_example.dart
Owners: @minikin

feat: adds test report
  .github/workflows/nightly-ci.yml
Owners: none

feat: Spaces shell page
  catalyst_voices/lib/pages/discovery/discovery_page.dart
  catalyst_voices/lib/pages/spaces/spaces.dart
  catalyst_voices/lib/pages/spaces/spaces_shell_page.dart
  catalyst_voices/lib/pages/treasury/treasury_page.dart
  catalyst_voices/lib/routes/guards/milestone_guard.dart
  catalyst_voices/lib/routes/routing/routes.dart
  catalyst_voices/lib/routes/routing/routing.dart
  catalyst_voices/lib/routes/routing/routing.g.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/space.dart
Owners: @minikin

feat: route fade transition
  catalyst_voices/lib/routes/routing/routing.dart
  catalyst_voices/lib/routes/routing/transitions/fade_page_transition_mixin.dart
  catalyst_voices/lib/routes/routing/transitions/transitions.dart
Owners: @minikin

feat: add all spaces blank screens
  catalyst_voices/lib/pages/funded_projects/funded_projects.dart
  catalyst_voices/lib/pages/funded_projects/funded_projects_page.dart
  catalyst_voices/lib/pages/spaces/spaces_shell_page.dart
  catalyst_voices/lib/pages/voting/voting.dart
  catalyst_voices/lib/pages/voting/voting_page.dart
  catalyst_voices/lib/pages/workspace/workspace.dart
  catalyst_voices/lib/pages/workspace/workspace_page.dart
  catalyst_voices/lib/routes/routing/routes.dart
  catalyst_voices/lib/routes/routing/routing.dart
  catalyst_voices/lib/routes/routing/routing.g.dart
  catalyst_voices/lib/widgets/drawer/voices_drawer_space_chooser.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/space.dart
Owners: @minikin

fix: Change initial page to coming_soon
  catalyst_voices/lib/routes/routing/routes.dart
Owners: @minikin

feat: VoicesRichText - fix resizable_box_parent.dart
  catalyst_voices/lib/widgets/common/resizable_box_parent.dart
Owners: @minikin

feat: VoicesRichText - fix Editor's color
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
Owners: @minikin

refactor: smaller route files
  catalyst_voices/lib/pages/spaces/spaces_shell_page.dart
  catalyst_voices/lib/routes/guards/milestone_guard.dart
  catalyst_voices/lib/routes/routes.dart
  catalyst_voices/lib/routes/routing/coming_soon_route.dart
  catalyst_voices/lib/routes/routing/coming_soon_route.g.dart
  catalyst_voices/lib/routes/routing/login_route.dart
  catalyst_voices/lib/routes/routing/login_route.g.dart
  catalyst_voices/lib/routes/routing/routes.dart
  catalyst_voices/lib/routes/routing/routing.dart
  catalyst_voices/lib/routes/routing/spaces_route.dart
  catalyst_voices/lib/routes/routing/spaces_route.g.dart
Owners: @minikin

refactor: rename build app function in bootstrap
  catalyst_voices/lib/configs/bootstrap.dart
Owners: @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
