Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(flutter/catalyst_key_derivation): catalyst key derivation package structure (#1041)
  .github/workflows/semantic_pull_request.yml
  .vscode/settings.recommended.json
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation/CHANGELOG.md
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation/LICENSE
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation/README.md
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation/analysis_options.yaml
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation/example/main.dart
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation/lib/catalyst_key_derivation.dart
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation/lib/src/catalyst_key_derivation.dart
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation/pubspec.yaml
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation_platform_interface/CHANGELOG.md
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation_platform_interface/LICENSE
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation_platform_interface/README.md
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation_platform_interface/analysis_options.yaml
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation_platform_interface/example/main.dart
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation_platform_interface/lib/catalyst_key_derivation_platform_interface.dart
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation_platform_interface/lib/src/catalyst_key_derivation_platform.dart
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation_web/CHANGELOG.md
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation_web/LICENSE
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation_web/README.md
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation_web/analysis_options.yaml
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation_web/assets/js/catalyst_key_derivation.js
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation_web/assets/js/catalyst_key_derivation_worker.js
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation_web/example/main.dart
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation_web/lib/catalyst_key_derivation_web.dart
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation_web/lib/src/interop/catalyst_key_derivation_interop.dart
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation_web/pubspec.yaml
  melos.yaml
Owners: @minikin, @stevenj

refactor: use strict type for master key in Keychain
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/keychain/keychain.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/keychain/vault_keychain.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_service.dart
Owners: @minikin

refactor: registration state
  catalyst_voices/lib/pages/registration/wallet_link/stage/rbac_transaction_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/registration_state_data.dart
Owners: @minikin

fix: Save registration progress after SeedPhrase AND password is completed
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/keychain_creation_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/registration/registration_progress.dart
Owners: @minikin

test
  catalyst_voices/integration_test/Earthfile
  catalyst_voices/integration_test/chrome_box.sh
Owners: @minikin

feat: add recovery to unlock dialog (#1027)
  catalyst_voices/lib/pages/account/unlock_keychain_dialog.dart
  catalyst_voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

feat(cat-voices): add route guard for account page
  catalyst_voices/lib/routes/guards/unlocked_keychain_guard_mixin.dart
  catalyst_voices/lib/routes/routing/account_route.dart
Owners: @minikin

test
  catalyst_voices/integration_test/Earthfile
Owners: @minikin

test
  catalyst_voices/integration_test/Earthfile
Owners: @minikin

feat: initial endpoints
  catalyst-gateway/bin/src/service/api/legacy/v0/fund_get.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/mod.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/proposal_by_id_get.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/proposals_get.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/proposals_post.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/review_by_proposal_id_get.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/settings_get.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: fmtfix
  catalyst-gateway/bin/src/service/api/legacy/v0/fund_get.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/mod.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/proposal_by_id_get.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/proposals_get.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/proposals_post.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/review_by_proposal_id_get.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/settings_get.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: fund path
  catalyst-gateway/bin/src/service/api/legacy/v0/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: add spectral ruleset
  catalyst-gateway/tests/.spectral.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: Workspace - More data
  catalyst_voices/analysis_options.yaml
  catalyst_voices/lib/pages/workspace/rich_text/answer.dart
  catalyst_voices/lib/pages/workspace/rich_text/bonus_mark_up.dart
  catalyst_voices/lib/pages/workspace/rich_text/delivery_and_accountability.dart
  catalyst_voices/lib/pages/workspace/rich_text/feasibility_checks.dart
  catalyst_voices/lib/pages/workspace/rich_text/problem_statement.dart
  catalyst_voices/lib/pages/workspace/rich_text/public_description.dart
  catalyst_voices/lib/pages/workspace/rich_text/solution_statement.dart
  catalyst_voices/lib/pages/workspace/rich_text/title.dart
  catalyst_voices/lib/pages/workspace/rich_text/value_for_money.dart
  catalyst_voices/lib/pages/workspace/sample_rich_text2.dart
  catalyst_voices/lib/pages/workspace/sample_rich_text3.dart
  catalyst_voices/lib/pages/workspace/workspace_page.dart
  catalyst_voices/lib/pages/workspace/workspace_proposal_navigation_ext.dart
  catalyst_voices/lib/widgets/containers/space_side_panel.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/workspace/workspace_proposal_segment.dart
Owners: @minikin

feat: Workspace - More data, reformat
  catalyst_voices/lib/pages/workspace/rich_text/answer.dart
  catalyst_voices/lib/pages/workspace/rich_text/delivery_and_accountability.dart
  catalyst_voices/lib/pages/workspace/rich_text/feasibility_checks.dart
  catalyst_voices/lib/pages/workspace/rich_text/problem_statement.dart
  catalyst_voices/lib/pages/workspace/rich_text/public_description.dart
  catalyst_voices/lib/pages/workspace/rich_text/solution_statement.dart
  catalyst_voices/lib/pages/workspace/rich_text/title.dart
  catalyst_voices/lib/pages/workspace/rich_text/value_for_money.dart
  catalyst_voices/lib/pages/workspace/workspace_page.dart
Owners: @minikin

refactor: add composite route guard mixin
  catalyst_voices/lib/routes/guards/composite_route_guard_mixin.dart
  catalyst_voices/lib/routes/guards/session_unlocked_guard.dart
  catalyst_voices/lib/routes/routing/account_route.dart
Owners: @minikin

fix(cat-gateway): Sort the spelling words, and use latest deny.toml
  .config/dictionaries/project.dic
  catalyst-gateway/deny.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

style: reformat
  catalyst_voices/lib/routes/guards/composite_route_guard_mixin.dart
  catalyst_voices/lib/routes/routing/account_route.dart
Owners: @minikin

test
  catalyst_voices/integration_test/Earthfile
Owners: @minikin

feat(cat-voices): add route guard for account page (#1047)
  catalyst_voices/lib/routes/guards/composite_route_guard_mixin.dart
  catalyst_voices/lib/routes/guards/session_unlocked_guard.dart
  catalyst_voices/lib/routes/routing/account_route.dart
Owners: @minikin

fix(cat-gateway): Fix broken pre-push justfile target
  catalyst-gateway/Earthfile
  catalyst-gateway/Justfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs(cat-gateway): cleanup
  catalyst-gateway/README.md
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix block.cdll metadata definition
  docs/src/architecture/08_concepts/immutable_ledger/cddl/block.cddl
Owners: none

docs(cat-gateway): Fix API Groups and document them better
  catalyst-gateway/bin/src/service/api/legacy/v0/mod.rs
  catalyst-gateway/bin/src/service/api/legacy/v1/mod.rs
  catalyst-gateway/bin/src/service/common/tags.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs(cat-gateway): Add documentation to the health/inspection endpoint
  catalyst-gateway/bin/src/service/api/health/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: Workspace - More data, richTextParams, titleInDetails, ...
  catalyst_voices/lib/pages/workspace/proposal_details.dart
  catalyst_voices/lib/pages/workspace/workspace_page.dart
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/workspace/workspace_proposal_segment_step.dart
Owners: @minikin

feat: Workspace - More data, smaller padding for title
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
Owners: @minikin

docs(cat-gateway): Add descriptions for cardano/cip36/latest_registration/stake_addr
  catalyst-gateway/bin/src/service/api/cardano/cip36.rs
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs(cat-gateway): Document stake key hash and vote key endpoints for cardano
  catalyst-gateway/bin/src/service/api/cardano/cip36.rs
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: Workspace - More data, ignore_for_file
  catalyst_voices/analysis_options.yaml
  catalyst_voices/lib/pages/workspace/rich_text/answer.dart
  catalyst_voices/lib/pages/workspace/rich_text/bonus_mark_up.dart
  catalyst_voices/lib/pages/workspace/rich_text/delivery_and_accountability.dart
  catalyst_voices/lib/pages/workspace/rich_text/feasibility_checks.dart
  catalyst_voices/lib/pages/workspace/rich_text/problem_statement.dart
  catalyst_voices/lib/pages/workspace/rich_text/public_description.dart
  catalyst_voices/lib/pages/workspace/rich_text/solution_statement.dart
  catalyst_voices/lib/pages/workspace/rich_text/title.dart
  catalyst_voices/lib/pages/workspace/rich_text/value_for_money.dart
Owners: @minikin

feat: Workspace - More data, change to final
  catalyst_voices/lib/pages/workspace/workspace_page.dart
Owners: @minikin

docs(cat-gateway): add documentation to config/frontend
  catalyst-gateway/bin/src/service/api/config/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: Workspace - More data, assert message
  catalyst_voices/packages/catalyst_voices_models/lib/src/workspace/workspace_proposal_segment_step.dart
Owners: @minikin

docs(cat-gateway): Add api docs for frontend schema
  catalyst-gateway/bin/src/service/api/config/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs(cat-gateway): Move legacy registration endpoints into the Legacy TAG.
  catalyst-gateway/bin/src/service/api/legacy/registration/mod.rs
  catalyst-gateway/bin/src/service/common/tags.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: Workspace - More data, add words to project.dic
  .config/dictionaries/project.dic
Owners: none

feat: Workspace - More data, pass only title
  catalyst_voices/lib/pages/workspace/proposal_details.dart
Owners: @minikin

chore: style
  catalyst-gateway/bin/src/service/api/legacy/v0/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs(cat-gateway): Remaining documentable entities documented
  catalyst-gateway/bin/src/service/api/cardano/cip36.rs
  catalyst-gateway/bin/src/service/api/cardano/registration_get.rs
  catalyst-gateway/bin/src/service/api/config/mod.rs
  catalyst-gateway/bin/src/service/api/health/inspection_get.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/registration_info.rs
  catalyst-gateway/bin/src/service/common/objects/legacy/delegate_public_key.rs
  catalyst-gateway/bin/src/service/common/objects/legacy/vote_plan.rs
  catalyst-gateway/bin/src/service/common/objects/legacy/voter_group_id.rs
  catalyst-gateway/bin/src/service/common/objects/legacy/voter_info.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(cat-voices): Workspace - more data 837 (#1051)
  .config/dictionaries/project.dic
  catalyst_voices/lib/pages/workspace/proposal_details.dart
  catalyst_voices/lib/pages/workspace/rich_text/answer.dart
  catalyst_voices/lib/pages/workspace/rich_text/bonus_mark_up.dart
  catalyst_voices/lib/pages/workspace/rich_text/delivery_and_accountability.dart
  catalyst_voices/lib/pages/workspace/rich_text/feasibility_checks.dart
  catalyst_voices/lib/pages/workspace/rich_text/problem_statement.dart
  catalyst_voices/lib/pages/workspace/rich_text/public_description.dart
  catalyst_voices/lib/pages/workspace/rich_text/solution_statement.dart
  catalyst_voices/lib/pages/workspace/rich_text/title.dart
  catalyst_voices/lib/pages/workspace/rich_text/value_for_money.dart
  catalyst_voices/lib/pages/workspace/sample_rich_text2.dart
  catalyst_voices/lib/pages/workspace/sample_rich_text3.dart
  catalyst_voices/lib/pages/workspace/workspace_page.dart
  catalyst_voices/lib/pages/workspace/workspace_proposal_navigation_ext.dart
  catalyst_voices/lib/widgets/containers/space_side_panel.dart
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/workspace/workspace_proposal_segment.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/workspace/workspace_proposal_segment_step.dart
Owners: @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
