Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Update FLUTTER_INTEGRATION_TEST.md
  docs/FLUTTER_INTEGRATION_TEST.md
Owners: none

fix(gateway): fix code format issues
  catalyst-gateway/bin/src/event_db/mod.rs
  catalyst-gateway/bin/src/event_db/queries/event/ballot.rs
  catalyst-gateway/bin/src/event_db/queries/event/proposal.rs
  catalyst-gateway/bin/src/event_db/queries/event/review.rs
  catalyst-gateway/bin/src/event_db/types/proposal.rs
  catalyst-gateway/bin/src/service/api/health/mod.rs
  catalyst-gateway/bin/src/service/api/health/ready_get.rs
  catalyst-gateway/bin/src/service/api/v0/message_post.rs
  catalyst-gateway/bin/src/service/api/v0/mod.rs
  catalyst-gateway/bin/src/service/common/tags.rs
  catalyst-gateway/bin/src/state/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(gateway): remove tests which cause license violation. For now.
  catalyst-gateway/bin/src/service/api/v0/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add integration tests support for iOS
  catalyst_voices/ios/Podfile.lock
  catalyst_voices/ios/Runner.xcodeproj/project.pbxproj
  catalyst_voices/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  catalyst_voices/ios/Runner.xcodeproj/xcshareddata/xcschemes/development.xcscheme
  catalyst_voices/ios/Runner.xcodeproj/xcshareddata/xcschemes/production.xcscheme
  catalyst_voices/ios/Runner.xcodeproj/xcshareddata/xcschemes/staging.xcscheme
  catalyst_voices/ios/Runner.xcworkspace/contents.xcworkspacedata
  catalyst_voices/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
  catalyst_voices/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
  catalyst_voices/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@1x.png
  catalyst_voices/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
  catalyst_voices/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
  catalyst_voices/ios/RunnerTests/RunnerTests.m
  catalyst_voices/scripts/ios_integration_test_.sh
  docs/FLUTTER_INTEGRATION_TEST.md
Owners: @minikin

fix(gateway): Use tagged rust builders from cat-ci
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs(gateway): Fix spelling issues
  .config/dictionaries/project.dic
  catalyst-gateway/.cargo/README.md
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: adds ci
  .github/workflows/ci.yml
Owners: none

wip: test deploy branch
  .github/workflows/ci.yml
Owners: none

wip: fixes spelling
  .config/dictionaries/project.dic
  .github/workflows/ci.yml
Owners: none

wip: adds deployment token
  .github/workflows/ci.yml
Owners: none

wip: points to master
  .github/workflows/ci.yml
Owners: none

chore: adds ci (#101)
  .config/dictionaries/project.dic
  .github/workflows/ci.yml
Owners: none

feat: add CI job to run integration tests
  .github/workflows/app-integration-test.yml
  catalyst_voices/.idea/runConfigurations/melos_run_build_pub_get_all.xml
  catalyst_voices/melos.yaml
  catalyst_voices/scripts/ios_integration_test_.sh
  docs/FLUTTER_INTEGRATION_TEST.md
  scripts/flutter_web_integration_test.sh
Owners: @minikin

Update app-integration-test.yml
  .github/workflows/app-integration-test.yml
Owners: none

wip
  .github/workflows/app-integration-test.yml
  catalyst_voices/pubspec.yaml
Owners: @minikin

chore(wip): Add V1Api and stub endpoint for account votes
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/service/api/v1/account_votes_get.rs
  catalyst-gateway/bin/src/service/api/v1/mod.rs
  catalyst-gateway/bin/src/service/common/tags.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: add VotePlanId as openapi NewType
  catalyst-gateway/bin/src/service/common/objects/account_votes.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: format code
  catalyst-gateway/bin/src/service/api/v0/mod.rs
  catalyst-gateway/bin/src/service/api/v1/account_votes_get.rs
  catalyst-gateway/bin/src/service/api/v1/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: remove ApiTag::Message
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/service/api/v0/mod.rs
  catalyst-gateway/bin/src/service/common/objects/account_votes.rs
  catalyst-gateway/bin/src/service/common/tags.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs: improve /v0/message description
  catalyst-gateway/bin/src/service/api/v0/message_post.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: add validator to AccountId
  catalyst-gateway/bin/src/service/common/objects/account_votes.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: implement endpoint with params and return payload
  catalyst-gateway/bin/src/service/api/v0/mod.rs
  catalyst-gateway/bin/src/service/api/v1/account_votes_get.rs
  catalyst-gateway/bin/src/service/api/v1/mod.rs
  catalyst-gateway/bin/src/service/common/objects/account_votes.rs
  catalyst-gateway/bin/src/service/common/objects/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Update melos.yaml
  catalyst_voices/melos.yaml
Owners: @minikin

chore: improve docs
  catalyst-gateway/bin/src/service/api/v1/account_votes_get.rs
  catalyst-gateway/bin/src/service/api/v1/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Update melos.yaml
  catalyst_voices/melos.yaml
Owners: @minikin

Update app-integration-test.yml
  .github/workflows/app-integration-test.yml
Owners: none

Update app-integration-test.yml
  .github/workflows/app-integration-test.yml
Owners: none

Update app-integration-test.yml
  .github/workflows/app-integration-test.yml
Owners: none

feat: update project structure
  .gitignore
  catalyst_voices/melos_catalyst_voices.iml
  catalyst_voices_packages/melos.yaml
  melos.yaml
  melos_catalyst_voices.iml
  pubspec.yaml
Owners: @minikin, @stevenj

Update app-integration-test.yml
  .github/workflows/app-integration-test.yml
Owners: none

Update pubspec.yaml
  pubspec.yaml
Owners: none

update flutter_web_integration_test
  catalyst_voices/pubspec.yaml
  scripts/flutter_web_integration_test.sh
Owners: @minikin

Update flutter_web_integration_test.sh
  scripts/flutter_web_integration_test.sh
Owners: none

Update flutter_web_integration_test.sh
  scripts/flutter_web_integration_test.sh
Owners: none

Update flutter_web_integration_test.sh
  scripts/flutter_web_integration_test.sh
Owners: none

wip
  .github/workflows/app-integration-test.yml
  scripts/flutter_web_integration_test.sh
Owners: none

wip
  .github/workflows/app-integration-test.yml
  scripts/flutter_web_integration_test.sh
Owners: none

Update app-integration-test.yml
  .github/workflows/app-integration-test.yml
Owners: none

Update app-integration-test.yml
  .github/workflows/app-integration-test.yml
Owners: none

wip
  .github/workflows/app-integration-test.yml
  scripts/flutter_web_integration_test.sh
Owners: none

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
