Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

chore: cleanup todo
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/address.dart
Owners: @minikin, @stevenj

style: cleanup
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/witness.dart
Owners: @minikin, @stevenj

chore: spelling
  catalyst_voices_packages/catalyst_cardano_serialization/example/main.dart
Owners: @minikin, @stevenj

docs: improve transaction bulder docs
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/transaction_builder.dart
Owners: @minikin, @stevenj

style: fix blank lines
  catalyst_voices_packages/catalyst_cardano_serialization/README.md
Owners: @minikin, @stevenj

style: format markdown
  catalyst_voices_packages/catalyst_cardano_serialization/README.md
Owners: @minikin, @stevenj

feat: bunp ci to 3.00.1
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  utilities/local-cluster/.vagrant/rgloader/loader.rb
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(ci): local custer WIP
  .config/dictionaries/project.dic
  .vscode/extensions.json
  .vscode/settings.recommended.json
  docs/Earthfile
  utilities/local-cluster/.gitignore
  utilities/local-cluster/Earthfile
  utilities/local-cluster/Readme.md
  utilities/local-cluster/Vagrantfile
  utilities/local-cluster/manifests/cat-voices-docs.yml
  utilities/local-cluster/scripts/check-cluster-dns.py
  utilities/local-cluster/shared/.do_not_remove
  utilities/local-cluster/shared/extra.hosts
  utilities/local-cluster/shared/k3s/grafana-prometheus/alert-manager-ingress.yaml
  utilities/local-cluster/shared/k3s/grafana-prometheus/grafana-ingress.yaml
  utilities/local-cluster/shared/k3s/grafana-prometheus/prometheus-ingress.yaml
  utilities/local-cluster/shared/k3s/grafana-prometheus/prometheus-values.yaml
  utilities/local-cluster/shared/k3s/grafana-prometheus/traefik-dashboard-service.yaml
  utilities/local-cluster/shared/k3s/grafana-prometheus/traefik-dashboard.yaml
  utilities/local-cluster/shared/k3s/grafana-prometheus/traefik-service-monitor.yaml
  utilities/local-cluster/shared/k3s/registries.yaml
  utilities/local-cluster/shared/k3s/server/manifests/registry-ui.yaml
  utilities/local-cluster/shared/k3s/server/manifests/traefik-dashboard-helmconfig.yml
  utilities/local-cluster/shared/k3s/server/manifests/traefik-dashboard-ingress.yaml
  utilities/local-cluster/shared/k3s/server/manifests/traefik-dashboard-service.yaml
  utilities/local-cluster/shared/k3s/server/manifests/traefik-dashboard.old.yml
Owners: none

fix:spell
  .config/dictionaries/project.dic
Owners: none

fix: update openapi response types, add missing docs
  catalyst-gateway/bin/src/event_db/mod.rs
  catalyst-gateway/bin/src/service/api/health/inspection_get.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: update flutter generated code
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.enums.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.chopper.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.dart
Owners: @minikin

fix (wip): dependencies
  catalyst-gateway/Cargo.lock
  catalyst-gateway/Cargo.toml
  catalyst-gateway/crates/c509-certificate/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(wip): add c509 enum
  catalyst-gateway/crates/c509-certificate/src/c509_enum.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(wip): add cbor encode helper
  catalyst-gateway/crates/c509-certificate/src/cbor.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(wip): add c509 cert helper
  catalyst-gateway/crates/c509-certificate/src/c509-cert.rs
  catalyst-gateway/crates/c509-certificate/src/c509_cert.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(wip): modify lib
  catalyst-gateway/crates/c509-certificate/src/lib.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: bunp ci to 3.00.1 (#502)
  .config/dictionaries/project.dic
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  utilities/local-cluster/.vagrant/rgloader/loader.rb
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs: improve readme
  catalyst_voices_packages/catalyst_cardano_serialization/README.md
Owners: @minikin, @stevenj

docs: add reference docs
  catalyst_voices_packages/catalyst_cardano_serialization/README.md
Owners: @minikin, @stevenj

docs: update readme formatting
  catalyst_voices_packages/catalyst_cardano_serialization/README.md
Owners: @minikin, @stevenj

feat(ci): Basic cluster seems to work
  utilities/local-cluster/Vagrantfile
  utilities/local-cluster/scripts/check-cluster-dns.py
  utilities/local-cluster/shared/extra.hosts
  utilities/local-cluster/shared/k3s/grafana-prometheus/alert-manager-ingress.yaml
  utilities/local-cluster/shared/k3s/grafana-prometheus/grafana-ingress.yaml
  utilities/local-cluster/shared/k3s/grafana-prometheus/prometheus-ingress.yaml
  utilities/local-cluster/shared/k3s/grafana-prometheus/prometheus-values.yaml
  utilities/local-cluster/shared/k3s/grafana-prometheus/traefik-dashboard-service.yaml
  utilities/local-cluster/shared/k3s/server/manifests/registry-ui.yaml
  utilities/local-cluster/shared/k3s/server/manifests/traefik-dashboard-ingress.yaml
  utilities/local-cluster/shared/k3s/server/manifests/traefik-dashboard.old.yml
Owners: none

Delete utilities/local-cluster/.vagrant/rgloader/loader.rb
  utilities/local-cluster/.vagrant/rgloader/loader.rb
Owners: none

docs: update readme structure
  catalyst_voices_packages/catalyst_cardano_serialization/README.md
Owners: @minikin, @stevenj

feat: catalyst cardano documentation (#507)
  catalyst_voices_packages/catalyst_cardano_serialization/README.md
Owners: @minikin, @stevenj

feat: add license checker yaml file
  catalyst_voices/license_checker.yml
Owners: @minikin

docs: explain the code structure of a method
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/transaction_builder.dart
Owners: @minikin, @stevenj

feat: catalyst cardano transaction builder (#501)
  catalyst_voices_packages/catalyst_cardano_serialization/example/main.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/catalyst_cardano_serialization.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/address.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/transaction_builder.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/witness_builder.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/exceptions.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/fees.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/hashes.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/transaction.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/types.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/utils/numbers.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/witness.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/builders/witness_builder_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/fees_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/test_utils/test_data.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/transaction_test.dart
  utilities/local-cluster/.vagrant/rgloader/loader.rb
Owners: @minikin, @stevenj

fix: update license checker yaml
  catalyst_voices/license_checker.yml
Owners: @minikin

docs: add license to catalyst_analysis
  catalyst_voices_packages/catalyst_analysis/LICENSE-APACHE
  catalyst_voices_packages/catalyst_analysis/LICENSE-MIT
Owners: @minikin, @stevenj

update earthfile and allure yml
  .github/workflows/generate-allure-report.yml
  catalyst-gateway/tests/api_tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix earthfile path and add gitignore
  .github/workflows/generate-allure-report.yml
  catalyst-gateway/tests/api_tests/.gitignore
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs: add license to catalyst_voices_assets
  catalyst_voices/packages/catalyst_voices_assets/LICENSE-APACHE
  catalyst_voices/packages/catalyst_voices_assets/LICENSE-MIT
Owners: @minikin

fix(ci): traefik dashboard yaml correction
  utilities/local-cluster/shared/k3s/server/manifests/traefik-dashboard-service.yaml
Owners: none

feat(ci): Still non working docs manifest
  utilities/local-cluster/manifests/cat-voices-docs.yml
Owners: none

feat(ci): Get full cluster info and simplify docs pod deployment/teardown
  catalyst-gateway/event-db/Earthfile
  docs/Earthfile
  utilities/local-cluster/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs: add license to catalyst packages
  catalyst_voices/packages/catalyst_voices_assets/LICENSE
  catalyst_voices/packages/catalyst_voices_assets/LICENSE-MIT
  catalyst_voices/packages/catalyst_voices_blocs/LICENSE
  catalyst_voices/packages/catalyst_voices_brands/LICENSE
  catalyst_voices/packages/catalyst_voices_localization/LICENSE
  catalyst_voices/packages/catalyst_voices_models/LICENSE
  catalyst_voices/packages/catalyst_voices_repositories/LICENSE
  catalyst_voices/packages/catalyst_voices_services/LICENSE
  catalyst_voices/packages/catalyst_voices_shared/LICENSE
  catalyst_voices/packages/catalyst_voices_view_models/LICENSE
  catalyst_voices_packages/catalyst_analysis/LICENSE
  catalyst_voices_packages/catalyst_analysis/LICENSE-MIT
  catalyst_voices_packages/catalyst_cardano_serialization/LICENSE
Owners: @minikin, @stevenj

fix(ci): Docs deploy OK now, and are browseable.
  utilities/local-cluster/manifests/cat-voices-docs.yml
Owners: none

feat: update earthfile and allure yml
  .github/workflows/generate-allure-report.yml
  catalyst-gateway/tests/api_tests/.gitignore
  catalyst-gateway/tests/api_tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: earthfile path
  .github/workflows/generate-allure-report.yml
Owners: none

fix: spelling
  .config/dictionaries/project.dic
Owners: none
