Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

fix: workaround for -project name must not be empty-
  catalyst-gateway/tests/st-docker-compose.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs: adds target doc
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: spell
  .config/dictionaries/project.dic
Owners: none

feat(wip): resync with config diff
  catalyst-gateway/Cargo.lock
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/event_db/queries/event/config.rs
  catalyst-gateway/bin/src/event_db/queries/event/follower.rs
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/event-db/migrations/V1__config_tables.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(wip): resync with config diff
  catalyst-gateway/bin/src/event_db/queries/event/follower.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: adds workaround for iptables-legacy bug
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/schema-mismatch/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(wip): resync with config diff
  catalyst-gateway/bin/src/event_db/queries/event/follower.rs
  catalyst-gateway/bin/src/follower.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(wip): resync with config diff
  catalyst-gateway/bin/src/event_db/queries/event/config.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: links to cat-core
  catalyst-gateway/bin/README.md
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/settings.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: links to cat-core (#242)
  catalyst-gateway/bin/README.md
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/settings.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add ADR for m2 proposal structure
  docs/src/architecture/templates/m2_proposal_structure.json
  docs/src/architecture/templates/m2_template.json
Owners: none

Update m2_proposal_structure.json
  docs/src/architecture/templates/m2_proposal_structure.json
Owners: none

feat(wip): resync with config diff
  catalyst-gateway/bin/src/follower.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: rename docker-compose
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/schemathesis-docker-compose.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  docs/src/architecture/templates/m2_proposal_types.json
  docs/src/architecture/templates/m2_template.json
Owners: none

docs: wip
  docs/src/architecture/01_introduction_and_goals.md
Owners: none

add adr 0007 M2: Proposal Template
  docs/src/architecture/09_architecture_decisions/0007-m2-proposal-template.md
  docs/src/architecture/templates/m2_proposal_types.json
Owners: none

feat: add stakeholders
  docs/src/architecture/01_introduction_and_goals.md
Owners: none

fix: md format
  docs/src/architecture/01_introduction_and_goals.md
Owners: none

Update build.gradle
  catalyst_voices/android/build.gradle
Owners: @minikin

refactor(clean up error handling ): spawned threads
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/event-db/migrations/V1__config_tables.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor(clean up error handling ): spawned threads
  catalyst-gateway/bin/src/follower.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: quality tree/scenario first example
  docs/src/architecture/10_quality_requirements.md
Owners: none

Update build.gradle (#251)
  catalyst_voices/android/build.gradle
Owners: @minikin

Update m2_proposal_types.json
  docs/src/architecture/templates/m2_proposal_types.json
Owners: none

Update README.md
  README.md
Owners: none

feat: add some more quality properties and scenarios
  docs/src/architecture/01_introduction_and_goals.md
  docs/src/architecture/10_quality_requirements.md
Owners: none

remove unneeded SchemaVersion trait
  catalyst-gateway/bin/src/event_db/mod.rs
  catalyst-gateway/bin/src/event_db/queries/mod.rs
  catalyst-gateway/bin/src/event_db/schema_check.rs
  catalyst-gateway/bin/src/service/api/registration/mod.rs
  catalyst-gateway/bin/src/state/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: fix earthly/dind to alpine 3.19
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/schema-mismatch/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: remove integration test
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: move cat gateway package to main earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/schema-mismatch/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: rename docker-compose
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/schemathesis-docker-compose.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: rename fuzzer api taget
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: refactor st tests and remove integration tests
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/integration/catalyst_gateway_event_db.rs
  catalyst-gateway/tests/integration/main.rs
  catalyst-gateway/tests/st-docker-compose.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs: adds target doc
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: move openapi lint test to test Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

mark as deprecated
  catalyst-gateway/bin/src/service/api/registration/mod.rs
  catalyst-gateway/bin/src/service/api/v0/mod.rs
  catalyst-gateway/bin/src/service/api/v1/mod.rs
  catalyst-gateway/bin/src/state/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: adds workaround for iptables-legacy bug
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/schema-mismatch/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: workaround for -project name must not be empty-
  catalyst-gateway/tests/st-docker-compose.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: spell
  .config/dictionaries/project.dic
Owners: none
