Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: use flutter ci from cat ci
  catalyst_voices/Earthfile
Owners: @minikin

fix: flutter build target
  catalyst_voices/Earthfile
Owners: @minikin

fix: update cat-gateway code gen
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.enums.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.g.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.dart
Owners: @minikin

fix: earthly ignore
  .earthlyignore
Owners: none

feat: add catalyst_cardano wallet api
  .config/dictionaries/project.dic
  catalyst_voices/lib/app/view/app_page.dart
  catalyst_voices/pubspec.yaml
  catalyst_voices/web/index.html
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/README.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/lib/src/catalyst_cardano.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/lib/catalyst_cardano_platform_interface.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/lib/src/cardano_wallet.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/lib/src/catalyst_cardano_platform.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/lib/src/exceptions.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/assets/js/catalyst_cardano.js
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/catalyst_cardano_web.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_interop.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_wallet_proxy.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/address.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/address_test.dart
Owners: @minikin, @stevenj

feat: add error handling
  catalyst_voices/lib/app/view/app_page.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/lib/catalyst_cardano_platform_interface.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/lib/src/cardano_wallet.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/lib/src/exceptions.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_interop.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_wallet_proxy.dart
  catalyst_voices_packages/catalyst_cardano_serialization/README.md
  catalyst_voices_packages/catalyst_cardano_serialization/example/main.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/transaction.dart
Owners: @minikin, @stevenj

fix: tests
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/transaction.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/transaction_test.dart
Owners: @minikin, @stevenj

docs: update toc
  catalyst_voices_packages/catalyst_cardano_serialization/README.md
Owners: @minikin, @stevenj

docs: fix readme
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/README.md
Owners: @minikin, @stevenj

fix: decrement package version
  catalyst_voices/pubspec.yaml
Owners: @minikin

debug
  .github/workflows/generate-allure-report.yml
Owners: none

fix file path
  .github/workflows/generate-allure-report.yml
Owners: none

adds coverall action
  .github/workflows/generate-allure-report.yml
Owners: none

adds debug
  .github/workflows/generate-allure-report.yml
Owners: none

fix: update build
  catalyst_voices/Earthfile
Owners: @minikin

fix: flutter build target
  catalyst_voices/Earthfile
Owners: @minikin

chore: use COPY in voter registration query
  catalyst-gateway/bin/src/event_db/cardano/cip36_registration/mod.rs
  catalyst-gateway/bin/src/event_db/mod.rs
  catalyst-gateway/bin/src/event_db/utils.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: fix fmt
  catalyst-gateway/bin/src/event_db/cardano/chain_state/mod.rs
  catalyst-gateway/bin/src/event_db/cardano/cip36_registration/mod.rs
  catalyst-gateway/bin/src/event_db/cardano/utxo/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: flutter builder
  catalyst_voices/Earthfile
  catalyst_voices/test_driver/Earthfile
Owners: @minikin

fix: ssp encoder
  catalyst-gateway-crates/c509-certificate/src/extensions/alt_name.rs
Owners: none

feat: add missing import
  .config/dictionaries/project.dic
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/lib/catalyst_cardano.dart
Owners: @minikin, @stevenj

fix: assets path
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/pubspec.yaml
Owners: @minikin, @stevenj

feat: create genc509cert function
  catalyst-gateway-crates/c509-certificate/src/c509_cert.rs
Owners: none

feat: add sigalgo registry
  catalyst-gateway-crates/c509-certificate/src/c509_enum.rs
Owners: none

fix: altname type visibility
  catalyst-gateway-crates/c509-certificate/src/cbor_encoder.rs
Owners: none

fix: altname encoder
  catalyst-gateway-crates/c509-certificate/src/extensions/alt_name.rs
Owners: none

feat: add extension encoding func
  catalyst-gateway-crates/c509-certificate/src/extensions/mod.rs
Owners: none

fix: lib.rs
  catalyst-gateway-crates/c509-certificate/src/lib.rs
Owners: none

fix: add missing dependency
  catalyst_voices/pubspec.yaml
Owners: @minikin

feat: add example
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/.gitignore
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/.metadata
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/README.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/analysis_options.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/main.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/web/favicon.png
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/web/icons/Icon-192.png
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/web/icons/Icon-512.png
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/web/icons/Icon-maskable-192.png
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/web/icons/Icon-maskable-512.png
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/web/index.html
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/web/manifest.json
Owners: @minikin, @stevenj

feat: Add new colors and definitions to Catalyst Theme.
  catalyst_voices/packages/catalyst_voices_assets/assets/colors/colors.xml
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/colors.gen.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/catalyst_voices_brands.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/theme_extensions/theme_extensions.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/theme_extensions/voices_color_scheme.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
Owners: @minikin

feat: add patrol test
  catalyst_voices/android/app/build.gradle
  catalyst_voices/android/app/src/androidTest/java/androidTest/java/io/projectcatalyst/catalyst_voices/MainActivityTest.java
  catalyst_voices/integration_test/common.dart
  catalyst_voices/integration_test/example_test.dart
  catalyst_voices/lib/configs/main_qa.dart
  catalyst_voices/packages/catalyst_voices_localization/pubspec.yaml
  catalyst_voices/pubspec.yaml
Owners: @minikin

fix: spelling
  .config/dictionaries/project.dic
  catalyst_voices/.gitignore
Owners: @minikin

feat: Add VoicesAppBar and sub-actions.
  catalyst_voices/lib/pages/widgets/voices_app_bar/actions/connecting_status.dart
  catalyst_voices/lib/pages/widgets/voices_app_bar/actions/finish_account_button.dart
  catalyst_voices/lib/pages/widgets/voices_app_bar/actions/get_started_button.dart
  catalyst_voices/lib/pages/widgets/voices_app_bar/actions/notifications_indicator.dart
  catalyst_voices/lib/pages/widgets/voices_app_bar/actions/role_picker.dart
  catalyst_voices/lib/pages/widgets/voices_app_bar/actions/unlock_button.dart
  catalyst_voices/lib/pages/widgets/voices_app_bar/actions/user_profile_button.dart
  catalyst_voices/lib/pages/widgets/voices_app_bar/actions/voices_app_bar_actions.dart
  catalyst_voices/lib/pages/widgets/voices_app_bar/voices_app_bar.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

feat: add error case
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/lib/src/exceptions.dart
Owners: @minikin, @stevenj

refactor: rename getCardanoWallets
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/lib/src/catalyst_cardano.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/lib/src/catalyst_cardano_platform.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/assets/js/catalyst_cardano.js
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/catalyst_cardano_web.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_interop.dart
Owners: @minikin, @stevenj

fix: method name
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/main.dart
Owners: @minikin, @stevenj

fix: update cat-analysis ref
  catalyst_voices/pubspec.yaml
Owners: @minikin

fix: ci branch
  Earthfile
Owners: none

fix: flutter intl
  catalyst_voices/packages/catalyst_voices_localization/pubspec.yaml
Owners: @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
