Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

feat: Add earthly `cat-gateway/event-db` initial setup (#91)
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/event-db/Readme.md
  catalyst-gateway/event-db/docker-compose.yml
  catalyst-gateway/event-db/historic_data/fund_0.sql
  catalyst-gateway/event-db/historic_data/fund_1.sql
  catalyst-gateway/event-db/migrations/V1__config_tables.sql
  catalyst-gateway/event-db/migrations/V2__event_tables.sql
  catalyst-gateway/event-db/migrations/V3__objective_tables.sql
  catalyst-gateway/event-db/migrations/V4__proposal_tables.sql
  catalyst-gateway/event-db/migrations/V5__vote_plan.sql
  catalyst-gateway/event-db/migrations/V6__snapshot_tables.sql
  catalyst-gateway/event-db/migrations/V7__vote_tables.sql
  catalyst-gateway/event-db/migrations/V8__catalyst_automation.sql
  catalyst-gateway/event-db/migrations/V9__moderation_stage.sql
  catalyst-gateway/event-db/setup/dev-db.docker-compose.yml
  catalyst-gateway/event-db/setup/setup-db.sql
  catalyst-gateway/event-db/stage_data/dev/00001_testfund_event.sql
  catalyst-gateway/event-db/stage_data/dev/00002_testfund_ideascale_params.sql
  catalyst-gateway/event-db/stage_data/testnet/00001_fund10_event.sql
  catalyst-gateway/event-db/stage_data/testnet/00002_fund10_ideascale_params.sql
  catalyst-gateway/event-db/test_data/01_event_table.sql
  catalyst-gateway/event-db/test_data/02_snapshot_table.sql
  catalyst-gateway/event-db/test_data/03_voter_table.sql
  catalyst-gateway/event-db/test_data/04_contribution_table.sql
  catalyst-gateway/event-db/test_data/05_goal_table.sql
  catalyst-gateway/event-db/test_data/06_objective_table.sql
  catalyst-gateway/event-db/test_data/07_voteplan_table.sql
  catalyst-gateway/event-db/test_data/08_proposal_table.sql
  catalyst-gateway/event-db/test_data/09_proposal_review_table.sql
  catalyst-gateway/event-db/test_data/10_review_rating_table.sql
  catalyst-gateway/event-db/test_data/11_objective_review_metric_table.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/service/docs/mod.rs
  catalyst-gateway/bin/src/service/poem_service.rs
  catalyst-gateway/bin/src/settings.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix spell check
  catalyst-gateway/bin/src/service/common/objects/vote_plan.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

cleanup
  catalyst-gateway/bin/src/settings.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: `catalyst-gateway` docs generation cli command (#136)
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/logger.rs
  catalyst-gateway/bin/src/service/docs/mod.rs
  catalyst-gateway/bin/src/service/mod.rs
  catalyst-gateway/bin/src/service/poem_service.rs
  catalyst-gateway/bin/src/settings.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore(gateway): Move metadata to the workspace for cat-gateway
  catalyst-gateway/Cargo.toml
  catalyst-gateway/bin/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore(gateway): Move metadata to the workspace for cat-gateway (#144)
  catalyst-gateway/Cargo.toml
  catalyst-gateway/bin/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: update readme, remove unused files
  catalyst_voices_packages/.idea/.name
  catalyst_voices_packages/.idea/modules.xml
  catalyst_voices_packages/.idea/runConfigurations/melos_bootstrap.xml
  catalyst_voices_packages/.idea/runConfigurations/melos_clean.xml
  catalyst_voices_packages/.idea/runConfigurations/melos_run_analyze.xml
  catalyst_voices_packages/.idea/runConfigurations/melos_run_lint_all.xml
  catalyst_voices_packages/.idea/runConfigurations/melos_run_qualitycheck.xml
  catalyst_voices_packages/README.md
  catalyst_voices_packages/packages/catalyst_analysis/CONTRIBUTING.md
  catalyst_voices_packages/packages/catalyst_analysis/example/melos_example.iml
  catalyst_voices_packages/packages/catalyst_analysis/pubspec.yaml
Owners: @minikin, @stevenj

Create melos_example.iml
  catalyst_voices_packages/packages/catalyst_analysis/example/melos_example.iml
Owners: @minikin, @stevenj

Delete analysis_options.yaml
  catalyst_voices_packages/analysis_options.yaml
Owners: @minikin, @stevenj

docs (catalyst_analysis): update README
  catalyst_voices_packages/packages/catalyst_analysis/LICENSE
  catalyst_voices_packages/packages/catalyst_analysis/README.md
Owners: @minikin, @stevenj

Update analysis_options.1.0.0.yaml
  catalyst_voices_packages/packages/catalyst_analysis/lib/analysis_options.1.0.0.yaml
Owners: @minikin, @stevenj

chore: update dart lints
  catalyst_voices/analysis_options.yaml
  catalyst_voices/pubspec.yaml
  catalyst_voices_packages/packages/catalyst_analysis/lib/analysis_options.1.0.0.yaml
Owners: @minikin, @stevenj

Update README.md
  catalyst_voices_packages/packages/catalyst_analysis/README.md
Owners: @minikin, @stevenj

fix typo in workflow file names
  .github/workflows/flutter-mobile-integration-test.yml
  .github/workflows/flutter-web-integration-test.yml
Owners: none

chore: voices packages clean up (#147)
  .github/workflows/flutter-mobile-integration-test.yml
  .github/workflows/flutter-web-integration-test.yml
  catalyst_voices/analysis_options.yaml
  catalyst_voices/pubspec.yaml
  catalyst_voices_packages/.idea/.name
  catalyst_voices_packages/.idea/modules.xml
  catalyst_voices_packages/.idea/runConfigurations/melos_bootstrap.xml
  catalyst_voices_packages/.idea/runConfigurations/melos_clean.xml
  catalyst_voices_packages/.idea/runConfigurations/melos_run_analyze.xml
  catalyst_voices_packages/.idea/runConfigurations/melos_run_lint_all.xml
  catalyst_voices_packages/.idea/runConfigurations/melos_run_qualitycheck.xml
  catalyst_voices_packages/README.md
  catalyst_voices_packages/analysis_options.yaml
  catalyst_voices_packages/packages/catalyst_analysis/CONTRIBUTING.md
  catalyst_voices_packages/packages/catalyst_analysis/LICENSE
  catalyst_voices_packages/packages/catalyst_analysis/README.md
  catalyst_voices_packages/packages/catalyst_analysis/lib/analysis_options.1.0.0.yaml
  catalyst_voices_packages/packages/catalyst_analysis/pubspec.yaml
Owners: @minikin, @stevenj

Comment out unsued rust stages
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

remove unused fields
  catalyst-gateway/bin/src/service/common/objects/vote_plan.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Fix fragment status object format and implement PR suggestions
  catalyst-gateway/bin/src/service/api/fragments/mod.rs
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/service/api/v1/fragments_post.rs
  catalyst-gateway/bin/src/service/api/v1/fragments_statuses.rs
  catalyst-gateway/bin/src/service/api/v1/mod.rs
  catalyst-gateway/bin/src/service/common/objects/fragment_status.rs
  catalyst-gateway/bin/src/service/common/objects/hash.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(fragments-endpoints): Add /fragments and /fragments/statuses compatibility endpoints
  catalyst-gateway/bin/src/service/api/fragments/index.rs
  catalyst-gateway/bin/src/service/api/fragments/mod.rs
  catalyst-gateway/bin/src/service/api/fragments/statuses.rs
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/service/common/objects/block.rs
  catalyst-gateway/bin/src/service/common/objects/fragment_status.rs
  catalyst-gateway/bin/src/service/common/objects/fragments_batch.rs
  catalyst-gateway/bin/src/service/common/objects/hash.rs
  catalyst-gateway/bin/src/service/common/objects/mod.rs
  catalyst-gateway/bin/src/service/common/tags.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

bump version
  Earthfile
Owners: none

bump version (#151)
  Earthfile
Owners: none

chore(fix-stage-data-sql): Upsert event-db stage data
  catalyst-gateway/event-db/stage_data/dev/00001_testfund_event.sql
  catalyst-gateway/event-db/stage_data/dev/00002_testfund_ideascale_params.sql
  catalyst-gateway/event-db/stage_data/testnet/00001_fund10_event.sql
  catalyst-gateway/event-db/stage_data/testnet/00002_fund10_ideascale_params.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs(docs): Update to latest docs builder, add architecture docs templates
  .config/dictionaries/project.dic
  .vscode/settings.recommended.json
  docs/Earthfile
  docs/mkdocs.yml
  docs/src/.pages
  docs/src/appendix/important/.pages
  docs/src/appendix/important/coc.md
  docs/src/appendix/tags.md
  docs/src/architecture/.pages
  docs/src/architecture/01_introduction_and_goals.md
  docs/src/architecture/02_architecture_constraints.md
  docs/src/architecture/03_system_scope_and_context.md
  docs/src/architecture/04_solution_strategy.md
  docs/src/architecture/05_building_block_view.md
  docs/src/architecture/06_runtime_view.md
  docs/src/architecture/07_deployment_view.md
  docs/src/architecture/08_concepts.md
  docs/src/architecture/09_architecture_decisions/.pages
  docs/src/architecture/09_architecture_decisions/0001-arch-std.md
  docs/src/architecture/09_architecture_decisions/0002-adr.md
  docs/src/architecture/09_architecture_decisions/index.md
  docs/src/architecture/09_architecture_decisions/template/.pages
  docs/src/architecture/09_architecture_decisions/template/0xxx-template.md_
  docs/src/architecture/10_quality_requirements.md
  docs/src/architecture/11_technical_risks.md
  docs/src/architecture/12_glossary.md
  docs/src/architecture/images/arc42-logo.png
  docs/src/architecture/index.md
  docs/src/important/coc.md
  docs/src/important/contributing.md
  docs/src/important/index.md
  docs/src/important/license.md
  docs/src/important/security.md
  docs/src/monorepo-architecture/index.md
Owners: none

chore(fix-stage-data-sql): Upsert event-db stage data (#152)
  catalyst-gateway/event-db/stage_data/dev/00001_testfund_event.sql
  catalyst-gateway/event-db/stage_data/dev/00002_testfund_ideascale_params.sql
  catalyst-gateway/event-db/stage_data/testnet/00001_fund10_event.sql
  catalyst-gateway/event-db/stage_data/testnet/00002_fund10_ideascale_params.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst_voices/packages/.gitkeep
  catalyst_voices/packages/catalyst_voices_assets/.gitignore
  catalyst_voices/packages/catalyst_voices_assets/README.md
  catalyst_voices/packages/catalyst_voices_assets/analysis_options.yaml
  catalyst_voices/packages/catalyst_voices_assets/assets/colors/colors.xml
  catalyst_voices/packages/catalyst_voices_assets/assets/fonts/SF-Pro-Rounded-Regular.ttf
  catalyst_voices/packages/catalyst_voices_assets/lib/catalyst_voices_assets.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_voices_assets.dart
  catalyst_voices/packages/catalyst_voices_assets/pubspec.yaml
  catalyst_voices/pubspec.yaml
  catalyst_voices_packages/packages/catalyst_analysis/CONTRIBUTING.md
  catalyst_voices_packages/packages/catalyst_analysis/LICENSE
  catalyst_voices_packages/packages/catalyst_analysis/example/pubspec.yaml
  catalyst_voices_packages/packages/catalyst_analysis/pubspec.yaml
  pubspec.yaml
Owners: @minikin, @stevenj

Update analysis_options.1.0.0.yaml
  catalyst_voices_packages/packages/catalyst_analysis/lib/analysis_options.1.0.0.yaml
Owners: @minikin, @stevenj

feat: update flutter packages
  catalyst_voices/lib/dummy/home_screen.dart
  catalyst_voices/packages/catalyst_voices_assets/README.md
  catalyst_voices/packages/catalyst_voices_assets/assets/images/dummy_catalyst_voices.webp
  catalyst_voices/packages/catalyst_voices_assets/lib/src/assets.gen.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_voices_assets.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/colors.gen.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/fonts.gen.dart
  catalyst_voices/packages/catalyst_voices_assets/pubspec.yaml
  catalyst_voices/pubspec.yaml
  catalyst_voices_packages/catalyst_analysis/.gitignore
  catalyst_voices_packages/catalyst_analysis/CHANGELOG.md
  catalyst_voices_packages/catalyst_analysis/README.md
  catalyst_voices_packages/catalyst_analysis/analysis_options.yaml
  catalyst_voices_packages/catalyst_analysis/example/README.md
  catalyst_voices_packages/catalyst_analysis/example/lib/example.dart
  catalyst_voices_packages/catalyst_analysis/example/melos_example.iml
  catalyst_voices_packages/catalyst_analysis/example/pubspec.yaml
  catalyst_voices_packages/catalyst_analysis/example/pubspec_overrides.yaml
  catalyst_voices_packages/catalyst_analysis/lib/analysis_options.1.0.0.yaml
  catalyst_voices_packages/catalyst_analysis/lib/analysis_options.yaml
  catalyst_voices_packages/catalyst_analysis/lib/catalyst_analysis.dart
  catalyst_voices_packages/catalyst_analysis/melos_catalyst_analysis.iml
  catalyst_voices_packages/catalyst_analysis/pubspec.yaml
  melos.yaml
Owners: @minikin, @stevenj

feat: add CatalystImage
  catalyst_voices/lib/dummy/home_screen.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_image.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_voices_assets.dart
Owners: @minikin

feat: Add blank implementation of the `/api/v0/vote/active/plans` endpoint (#134)
  catalyst-gateway/bin/src/service/api/v0/mod.rs
  catalyst-gateway/bin/src/service/api/v0/plans_get.rs
  catalyst-gateway/bin/src/service/common/objects/mod.rs
  catalyst-gateway/bin/src/service/common/objects/vote_plan.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Update README.md
  catalyst_voices/packages/catalyst_voices_assets/README.md
Owners: @minikin

Update catalyst_image.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_image.dart
Owners: @minikin

Update project.dic
  .config/dictionaries/project.dic
Owners: none

feat(gateway): WIP catalyst-voices database respec.
  .sqlfluff
  catalyst-gateway/event-db/Readme.md
  catalyst-gateway/event-db/historic_data/fund_0.sql
  catalyst-gateway/event-db/historic_data/fund_1.sql
  catalyst-gateway/event-db/json_schemas/config/dbsync_connection.jsonc
  catalyst-gateway/event-db/migrations/.sqlfluff
  catalyst-gateway/event-db/migrations/V1__config_tables.sql
  catalyst-gateway/event-db/migrations/V2__event_tables.sql
  catalyst-gateway/event-db/migrations/V3__objective_tables.sql
  catalyst-gateway/event-db/migrations/V4__proposal_tables.sql
  catalyst-gateway/event-db/migrations/V5__vote_plan.sql
  catalyst-gateway/event-db/migrations/V6__snapshot_tables.sql
  catalyst-gateway/event-db/migrations/V7__vote_tables.sql
  catalyst-gateway/event-db/migrations/V8__catalyst_automation.sql
  catalyst-gateway/event-db/migrations/V9__moderation_stage.sql
  catalyst-gateway/event-db/stage_data/dev/00001_testfund_event.sql
  catalyst-gateway/event-db/stage_data/testnet/00001_fund10_event.sql
  catalyst-gateway/event-db/test_data/01_event_table.sql
  catalyst-gateway/event-db/test_data/02_snapshot_table.sql
  catalyst-gateway/event-db/test_data/03_voter_table.sql
  catalyst-gateway/event-db/test_data/04_contribution_table.sql
  catalyst-gateway/event-db/test_data/05_goal_table.sql
  catalyst-gateway/event-db/test_data/06_objective_table.sql
  catalyst-gateway/event-db/test_data/07_voteplan_table.sql
  catalyst-gateway/event-db/test_data/08_proposal_table.sql
  catalyst-gateway/event-db/test_data/09_proposal_review_table.sql
  catalyst-gateway/event-db/test_data/10_review_rating_table.sql
  catalyst-gateway/event-db/test_data/11_objective_review_metric_table.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

add example for catalyst_voices_assets
  catalyst_voices/lib/dummy/login_page.dart
  catalyst_voices/lib/main_development.dart
  catalyst_voices/lib/main_production.dart
  catalyst_voices/lib/main_staging.dart
  catalyst_voices/packages/catalyst_voices_assets/analysis_options.yaml
  catalyst_voices/packages/catalyst_voices_assets/example/.gitignore
  catalyst_voices/packages/catalyst_voices_assets/example/.metadata
  catalyst_voices/packages/catalyst_voices_assets/example/README.md
  catalyst_voices/packages/catalyst_voices_assets/example/lib/main.dart
  catalyst_voices/packages/catalyst_voices_assets/example/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_assets/example/src/main.dart
  catalyst_voices/packages/catalyst_voices_assets/example/web/favicon.png
  catalyst_voices/packages/catalyst_voices_assets/example/web/icons/Icon-192.png
  catalyst_voices/packages/catalyst_voices_assets/example/web/icons/Icon-512.png
  catalyst_voices/packages/catalyst_voices_assets/example/web/icons/Icon-maskable-192.png
  catalyst_voices/packages/catalyst_voices_assets/example/web/icons/Icon-maskable-512.png
  catalyst_voices/packages/catalyst_voices_assets/example/web/index.html
  catalyst_voices/packages/catalyst_voices_assets/example/web/manifest.json
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/assets.gen.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/colors.gen.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/fonts.gen.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_voices_assets.dart
  catalyst_voices/packages/catalyst_voices_assets/pubspec.yaml
Owners: @minikin

update example
  catalyst_voices/packages/catalyst_voices_assets/example/README.md
  catalyst_voices/packages/catalyst_voices_assets/example/lib/main.dart
  catalyst_voices/packages/catalyst_voices_assets/example/lib/src/main.dart
Owners: @minikin

Update README.md
  catalyst_voices/packages/catalyst_voices_assets/example/README.md
Owners: @minikin

Update project.dic
  .config/dictionaries/project.dic
Owners: none

chore: Fix code formatting
  catalyst-gateway/bin/src/service/common/objects/hash.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: Fix lint errors
  catalyst-gateway/bin/src/service/api/v1/fragments_post.rs
  catalyst-gateway/bin/src/service/api/v1/fragments_statuses.rs
  catalyst-gateway/bin/src/service/common/objects/block.rs
  catalyst-gateway/bin/src/service/common/objects/fragment_status.rs
  catalyst-gateway/bin/src/service/common/objects/fragments_batch.rs
  catalyst-gateway/bin/src/service/common/objects/hash.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin
