Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore(cat-voices): reformat
  catalyst_voices/packages/catalyst_voices_models/lib/src/auth/password_strength.dart
Owners: @minikin

fix(catalyst_cardano_serialization): add missing properties to Transaction constructor in `_buildBody()`
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/transaction_builder.dart
Owners: @minikin, @stevenj

feat: My account, account_popup, lint issues
  .config/dictionaries/project.dic
  catalyst_voices/lib/widgets/app_bar/session/session_state_header.dart
Owners: @minikin

chore: LockFactor tests
  catalyst_voices/packages/catalyst_voices_services/test/src/storage/vault/lock_factor_test.dart
Owners: @minikin

chore: codec tests
  catalyst_voices/packages/catalyst_voices_services/test/src/storage/vault/lock_factor_codec_test.dart
Owners: @minikin

feat: My account, account_popup, use enum
  catalyst_voices/lib/pages/account/account_popup.dart
Owners: @minikin

feat: My account, account_popup, fields above constructor
  catalyst_voices/lib/pages/account/account_popup.dart
Owners: @minikin

feat: My account, account_popup, use VoicesDivider
  catalyst_voices/lib/pages/account/account_popup.dart
Owners: @minikin

feat(cat-voices): password strength indicator (#861)
  catalyst_voices/lib/widgets/indicators/voices_password_strength_indicator.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/auth/authentication_status.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/auth/password_strength.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_models/test/auth/password_strength_test.dart
  catalyst_voices/uikit_example/lib/examples/voices_indicators_example.dart
  melos.yaml
Owners: @minikin

fix
  docs/src/architecture/08_concepts/voting_transaction/crypto.md
Owners: none

docs(catalyst_cardano_serialization): Correct typo in transaction builder class
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/transaction_builder.dart
Owners: @minikin, @stevenj

chore: SecureStorageVault tests
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/secure_storage_vault.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/storage/secure_storage_test.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/storage/vault/secure_storage_vault_test.dart
Owners: @minikin

refactor: renaming of lockFactor variables to lock/unlock
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/secure_storage_vault.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/vault.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/storage/vault/secure_storage_vault_test.dart
Owners: @minikin

fix: linter for a file
  catalyst_voices/packages/catalyst_voices_models/analysis_options.yaml
  catalyst_voices/packages/catalyst_voices_models/lib/src/seed_phrase.dart
Owners: @minikin

refactor: cleanup vault functions order
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/secure_storage_vault.dart
Owners: @minikin

feat(cat-voices): Add CIP-39 seed phrase utility (#852)
  catalyst_voices/packages/catalyst_voices_models/lib/src/seed_phrase.dart
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_models/test/seed_phrase_test.dart
  melos.yaml
Owners: @minikin

feat: initial checks
  catalyst_voices/Earthfile
  melos.yaml
Owners: @minikin

feat(dart/catalyst_cardano_serialization): add support for additional transaction body fields (#858)
  catalyst_voices_packages/catalyst_cardano_serialization/README.md
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/transaction_builder.dart
Owners: @minikin, @stevenj

docs: Jormungandr voting crypto proofs spec. (#862)
  docs/src/architecture/08_concepts/voting_transaction/crypto.md
Owners: none

fix: add -i flag
  melos.yaml
Owners: none

fix(dart/catalyst_cardano_serialization): update inputs to Set for CDDL alignment and change referenceInputs for reference script fee calculation
  catalyst_voices_packages/catalyst_cardano_serialization/example/main.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/transaction_builder.dart
Owners: @minikin, @stevenj

refactor: Rename Storage mixin
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/secure_storage.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/storage_string_mixin.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/secure_storage_vault.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/storage/storage_string_mixin_test.dart
Owners: @minikin

feat(cat-voices): Account popup (#857)
  .config/dictionaries/project.dic
  catalyst_voices/lib/pages/account/account_popup.dart
  catalyst_voices/lib/widgets/app_bar/session/session_state_header.dart
Owners: @minikin

feat: dummy auth storage which encapsulates keys
  catalyst_voices/lib/dependency/dependencies.dart
  catalyst_voices/packages/catalyst_voices_repositories/lib/src/credentials_storage_repository.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/catalyst_voices_services.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/dummy_auth_storage.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/secure_storage.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/secure_storage_keys_const.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/secure_storage_vault.dart
Owners: @minikin

fix: path
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/Earthfile
Owners: @minikin, @stevenj

fix(cat-voices): rename wallet test folder (#856)
  .github/workflows/nightly-ci.yml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/compose.yml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/global-setup.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/keys.txt
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/package-lock.json
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/package.json
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/playwright.config.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/utils.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/wallet-tests.spec.ts
Owners: @minikin, @stevenj

feat: new ci version
  catalyst_voices/Earthfile
Owners: @minikin

feat: /m4 redirects to /m4/discovery
  catalyst_voices/lib/routes/guards/milestone_guard.dart
  catalyst_voices/lib/routes/routing/routes.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_bloc.dart
Owners: @minikin

feat(catalyst_cardano_serialization): add length getter to the Script's classes for reference script fee calculation
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/scripts.dart
Owners: @minikin, @stevenj

chore: bump ci version
  catalyst_voices/uikit_example/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/Earthfile
Owners: @minikin, @stevenj

feat: discovery alert dialog
  catalyst_voices/lib/pages/discovery/discovery_page.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
Owners: @minikin

feat: dialog barrier color
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
Owners: @minikin

feat: /m4 redirects to /m4/discovery (#868)
  catalyst_voices/lib/routes/guards/milestone_guard.dart
  catalyst_voices/lib/routes/routing/routes.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_bloc.dart
Owners: @minikin

wip: switches back to master branch
  .github/workflows/ci.yml
Owners: none

feat(cat-voices): local storage + vault (#864)
  catalyst_voices/lib/dependency/dependencies.dart
  catalyst_voices/packages/catalyst_voices_repositories/lib/src/credentials_storage_repository.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/catalyst_voices_services.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/secure_storage/secure_storage.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/secure_storage/secure_storage_keys.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/secure_storage/secure_storage_service.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/dummy_auth_storage.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/secure_storage.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/storage.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/storage_string_mixin.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/lock_factor.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/lock_factor_codec.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/secure_storage_vault.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/vault.dart
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_services/test/src/storage/secure_storage_test.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/storage/storage_string_mixin_test.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/storage/vault/lock_factor_codec_test.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/storage/vault/lock_factor_test.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/storage/vault/secure_storage_vault_test.dart
  melos.yaml
Owners: @minikin

feat(catalyst_cardano_serialization): Implement tiered fee calculation for reference scripts
  catalyst_voices_packages/catalyst_cardano_serialization/README.md
  catalyst_voices_packages/catalyst_cardano_serialization/example/main.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/transaction_builder.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/exceptions.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/fees.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/hashes.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/scripts.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/fees_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/hashes_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/scripts_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/test_utils/test_data.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/transaction_output_test.dart
Owners: @minikin, @stevenj

feat: discovery cta modal (#869)
  catalyst_voices/lib/pages/discovery/discovery_page.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
Owners: @minikin

ci(general): integrates catalyst-forge (#847)
  .github/workflows/ci.yml
  blueprint.cue
  catalyst-gateway/blueprint.cue
  catalyst-gateway/event-db/blueprint.cue
  catalyst-gateway/tests/api_tests/blueprint.cue
  catalyst-gateway/tests/blueprint.cue
  catalyst-gateway/tests/schemathesis_tests/blueprint.cue
  catalyst_voices/Earthfile
  catalyst_voices/blueprint.cue
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/blueprint.cue
  docs/blueprint.cue
  utilities/wallet-tester/blueprint.cue
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip: schema for RBAC valid registrations
  catalyst-gateway/bin/src/db/index/schema/cql/cip509_registration.cql
  catalyst-gateway/bin/src/db/index/schema/cql/rbac509_registration.cql
  catalyst-gateway/bin/src/db/index/schema/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip: fix doc comment
  catalyst-gateway/bin/src/db/index/schema/cql/rbac509_registration.cql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
