Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

wip
  docs/src/architecture/08_concepts/voting_transaction/crypto.md
Owners: none

feat: logging (#787)
  catalyst_voices/lib/configs/app_bloc_observer.dart
  catalyst_voices/lib/configs/bootstrap.dart
  catalyst_voices/lib/routes/app_router.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/logging/logging_service.dart
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
  melos.yaml
Owners: @minikin

feat: Workspace - fix conflicts after merge
  catalyst_voices/lib/pages/workspace/proposal_details.dart
Owners: @minikin

feat: extract publicKeyHash from stake address
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/address.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/exceptions.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/hashes.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/address_test.dart
Owners: @minikin, @stevenj

feat: add required signers to rbac sample transaction
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_rbac_tx.dart
Owners: @minikin, @stevenj

feat: Workspace - showSearch
  catalyst_voices/lib/pages/spaces/spaces_shell_page.dart
  catalyst_voices/lib/routes/routing/spaces_route.dart
Owners: @minikin

feat: Workspace - add richtext
  catalyst_voices/lib/pages/treasury/campaign_details.dart
  catalyst_voices/lib/pages/workspace/proposal_details.dart
  catalyst_voices/lib/pages/workspace/workspace_page.dart
  catalyst_voices/lib/widgets/containers/workspace_text_tile_container.dart
  catalyst_voices/lib/widgets/containers/workspace_tile_container.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/workspace/workspace_proposal_segment_step.dart
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
Owners: @minikin

fix: make format-check fails when code is not formatted. Exclude generated files
  catalyst_voices/lib/widgets/common/tree_view_column.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/catalyst_voices_icons.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_voices_assets.dart
  melos.yaml
Owners: @minikin

fix: adjust find root loc
  melos.yaml
Owners: none

feat: Workspace - consistent styling
  catalyst_voices/lib/pages/workspace/proposal_details.dart
  catalyst_voices/lib/pages/workspace/workspace_page.dart
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
Owners: @minikin

chore: upgrade flutter_quill_extensions and web dependencies to resolve compile issues
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/pubspec.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/pubspec.yaml
  melos.yaml
Owners: @minikin, @stevenj

chore: add web version to melos.yaml
  melos.yaml
Owners: none

feat: Workspace - add footer
  catalyst_voices/lib/pages/workspace/proposal_details.dart
Owners: @minikin

feat: Workspace - add shadow
  catalyst_voices/lib/widgets/containers/workspace_text_tile_container.dart
  catalyst_voices/lib/widgets/containers/workspace_tile_container.dart
  catalyst_voices/lib/widgets/headers/segment_header.dart
Owners: @minikin

feat: Workspace - correct onSave
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
Owners: @minikin

feat(backend): remove obsoleted postgres logic for chain indexing
  catalyst-gateway/bin/src/cardano/cip36_registration/mod.rs
  catalyst-gateway/bin/src/cardano/util.rs
  catalyst-gateway/bin/src/db/event/cardano.obsolete/chain_state/insert_update_state.sql.obsolete
  catalyst-gateway/bin/src/db/event/cardano.obsolete/chain_state/mod.rs
  catalyst-gateway/bin/src/db/event/cardano.obsolete/chain_state/select_slot_info_by_datetime.sql.hbs
  catalyst-gateway/bin/src/db/event/cardano.obsolete/chain_state/select_update_state.sql
  catalyst-gateway/bin/src/db/event/cardano.obsolete/cip36_registration/mod.rs
  catalyst-gateway/bin/src/db/event/cardano.obsolete/cip36_registration/select_cip36_registration.sql.obsolete
  catalyst-gateway/bin/src/db/event/cardano.obsolete/config/mod.rs
  catalyst-gateway/bin/src/db/event/cardano.obsolete/config/select_config.sql.obsolete
  catalyst-gateway/bin/src/db/event/cardano.obsolete/mod.rs.obsolete
  catalyst-gateway/bin/src/db/event/cardano.obsolete/utxo/mod.rs
  catalyst-gateway/bin/src/db/event/cardano.obsolete/utxo/select_total_utxo_amount.sql.obsolete
  catalyst-gateway/bin/src/db/event/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/date_time_to_slot_number_get.rs
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/registration_get.rs
  catalyst-gateway/bin/src/service/api/cardano/staked_ada_get.rs
  catalyst-gateway/bin/src/service/api/cardano/sync_state_get.rs
  catalyst-gateway/bin/src/service/api/cardano/types.rs
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/registration_info.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/slot_info.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/stake_info.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/sync_state.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

revert(event-db): Revert extension changes to sql files after fixing sqlfluff version
  catalyst-gateway/bin/src/db/event/cardano.obsolete/chain_state/insert_update_state.sql
  catalyst-gateway/bin/src/db/event/cardano.obsolete/cip36_registration/select_cip36_registration.sql
  catalyst-gateway/bin/src/db/event/cardano.obsolete/config/select_config.sql
  catalyst-gateway/bin/src/db/event/cardano.obsolete/utxo/select_total_utxo_amount.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(frontend): Regenerate the dart api interface file, and add doing that to the pre-push just command
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.enums.swagger.dart
  justfile
Owners: @minikin

feat: add funded projects space
  catalyst_voices/lib/pages/funded_projects/funded_projects_page.dart
  catalyst_voices/lib/widgets/cards/funded_proposal_card.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

feat: Workspace - sample rich text
  catalyst_voices/lib/pages/workspace/workspace_page.dart
Owners: @minikin

feat: Workspace - fix icons foreground
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
Owners: @minikin

feat: blank overall spaces page
  catalyst_voices/lib/pages/overall_spaces/overall_spaces.dart
  catalyst_voices/lib/pages/overall_spaces/overall_spaces_page.dart
  catalyst_voices/lib/pages/spaces/spaces_drawer.dart
  catalyst_voices/lib/routes/routing/overall_spaces_route.dart
  catalyst_voices/lib/routes/routing/overall_spaces_route.g.dart
  catalyst_voices/lib/routes/routing/routes.dart
  catalyst_voices/lib/routes/routing/routing.dart
  catalyst_voices/lib/widgets/drawer/voices_drawer_space_chooser.dart
Owners: @minikin

feat: Workspace - extract sample_rich_text.dart
  catalyst_voices/lib/pages/workspace/sample_rich_text.dart
  catalyst_voices/lib/pages/workspace/workspace_page.dart
Owners: @minikin

feat: Workspace - add drawer
  catalyst_voices/lib/pages/spaces/my_private_proposals.dart
  catalyst_voices/lib/pages/spaces/spaces_drawer.dart
Owners: @minikin

feat: Workspace - add drawer, part 2
  catalyst_voices/lib/pages/spaces/my_private_proposals.dart
  catalyst_voices/lib/widgets/common/proposal_status_container.dart
  catalyst_voices/lib/widgets/common/proposal_status_indicator.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/proposal/proposal_status.dart
Owners: @minikin

feat: Workspace - style drawer
  catalyst_voices/lib/widgets/common/proposal_status_container.dart
  catalyst_voices/lib/widgets/drawer/voices_drawer.dart
  catalyst_voices/lib/widgets/drawer/voices_drawer_nav_item.dart
Owners: @minikin

wip
  docs/src/architecture/08_concepts/voting_transaction/crypto.md
Owners: none

feat: Workspace - IgnorePointer instead of ExcludeFocus
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
Owners: @minikin

feat: Workspace - Correct edit / cancel
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
Owners: @minikin

feat: wip - overall spaces scaffolding
  catalyst_voices/lib/app/view/app_content.dart
  catalyst_voices/lib/pages/overall_spaces/brands_navigation.dart
  catalyst_voices/lib/pages/overall_spaces/overall_spaces_page.dart
  catalyst_voices/lib/pages/overall_spaces/space/discovery_overview.dart
  catalyst_voices/lib/pages/overall_spaces/space/funded_projects_overview.dart
  catalyst_voices/lib/pages/overall_spaces/space/treasury_overview.dart
  catalyst_voices/lib/pages/overall_spaces/space/voting_overview.dart
  catalyst_voices/lib/pages/overall_spaces/space/workspace_overview.dart
  catalyst_voices/lib/pages/overall_spaces/space_overview_container.dart
  catalyst_voices/lib/pages/overall_spaces/spaces_overview_list_view.dart
  catalyst_voices/lib/widgets/separators/voices_divider.dart
Owners: @minikin

fix(backend): temporarily disable API tests
  catalyst-gateway/tests/api_tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(backend): Also temporarily stop workflow consuming test reports that are disabled
  .github/workflows/generate-allure-report.yml
Owners: none

fix(ci): Try and stop coveralls running for api-tests
  .github/workflows/generate-allure-report.yml
Owners: none

chore: fix uikit deployment (#793)
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/pubspec.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/pubspec.yaml
  melos.yaml
Owners: @minikin, @stevenj

refactor: rename BrandKey to Brand and remove fallback
  catalyst_voices/lib/app/view/app_content.dart
  catalyst_voices/lib/pages/overall_spaces/brands_navigation.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/brand/brand_bloc.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/brand/brand_event.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/brand/brand_state.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/brands/brand.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/catalyst_voices_brands.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/theme_builder/theme_builder.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/theme_extensions/brand_assets.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/fallback.dart
  catalyst_voices/packages/catalyst_voices_brands/test/src/catalyst_voices_brands_test.dart
  catalyst_voices/test/widgets/rich_text/voices_rich_text_test.dart
  catalyst_voices/test/widgets/text_field/voices_text_field_test.dart
  catalyst_voices/uikit_example/lib/main.dart
Owners: @minikin

feat: funded projects space (#794)
  catalyst_voices/lib/pages/funded_projects/funded_projects_page.dart
  catalyst_voices/lib/pages/voting/voting_page.dart
  catalyst_voices/lib/widgets/cards/funded_proposal_card.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

feat: overall spaces brands navigation
  catalyst_voices/lib/common/ext/brand_ext.dart
  catalyst_voices/lib/common/ext/ext.dart
  catalyst_voices/lib/pages/overall_spaces/brands_navigation.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

feat: update ready
  catalyst_voices/lib/pages/overall_spaces/back_fab.dart
  catalyst_voices/lib/pages/overall_spaces/brands_navigation.dart
  catalyst_voices/lib/pages/overall_spaces/overall_spaces_page.dart
  catalyst_voices/lib/pages/overall_spaces/update_ready.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

feat: Workspace - Fix flutter_quill version problem
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  catalyst_voices/pubspec.yaml
  catalyst_voices/uikit_example/pubspec.yaml
  melos.yaml
Owners: @minikin

feat: add schema for cip-36 registration tables
  catalyst-gateway/bin/src/db/index/schema.rs
  catalyst-gateway/bin/src/db/index/schema/cip36_registration.cql
  catalyst-gateway/bin/src/db/index/schema/cip36_registration_by_vote_key.cql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin
