Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

feat: Add basic test for PlatformWidgetBuilder.
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/test/src/catalyst_voices_shared_test.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/platform_widget_builder/platform_widget_builder_test.dart
Owners: @minikin

chore: Spell check.
  catalyst_voices/packages/catalyst_voices_shared/test/src/platform_widget_builder/platform_widget_builder_test.dart
Owners: @minikin

chore: markdown fixes
  catalyst_voices/packages/catalyst_voices_remote_widgets/README.md
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/README.md
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
Owners: @minikin

add total_utxo_amount query
  catalyst-gateway/bin/src/event_db/follower.rs
  catalyst-gateway/bin/src/event_db/utxo.rs
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/event-db/queries/utxo/select_total_utxo_amount.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor
  catalyst-gateway/bin/src/event_db/utxo.rs
  catalyst-gateway/event-db/queries/utxo/insert_txn_index.sql
  catalyst-gateway/event-db/queries/utxo/insert_utxo.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs(cips): wip cddl for envelope metadata
  docs/src/catalyst-standards/draft-cips/role-registration/x509-envelope.cddl
Owners: none

wip
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/service/api/utxo/mod.rs
  catalyst-gateway/bin/src/service/api/utxo/staked_ada_get.rs
  catalyst-gateway/bin/src/service/common/tags.rs
  catalyst-gateway/bin/src/state/mod.rs
  catalyst-gateway/event-db/queries/utxo/select_total_utxo_amount.sql
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/schema-mismatch/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix
  catalyst-gateway/bin/src/service/api/utxo/staked_ada_get.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix
  catalyst-gateway/event-db/queries/utxo/select_total_utxo_amount.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor: Switch name from `PlatformWidgetBuilder` to `PlatformAwareBuilder`.
  catalyst_voices/packages/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform_aware_builder/platform_aware_builder.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/catalyst_voices_shared_test.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/platform_aware_builder/platform_aware_builder_test.dart
Owners: @minikin

docs: readme
  utilities/wallet-connector/README.md
  utilities/wallet-connector/src/App.tsx
  utilities/wallet-connector/src/common/components/InfoItem.tsx
  utilities/wallet-connector/src/common/helpers/extractApiData.ts
  utilities/wallet-connector/src/modules/SignTxnPanel.tsx
  utilities/wallet-connector/src/modules/WalletInfoSection.tsx
  utilities/wallet-connector/src/types/cardano.ts
Owners: none

add /staked_ada/:stake_address impl
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/service/api/utxo/mod.rs
  catalyst-gateway/bin/src/service/api/utxo/staked_ada_get.rs
  catalyst-gateway/bin/src/service/common/objects/mod.rs
  catalyst-gateway/bin/src/service/common/objects/network.rs
  catalyst-gateway/bin/src/service/common/objects/stake_amount.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor: Use platform identifiers to select proper data to be used.
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform/io_platform.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform/stub_platform.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform/web_platform.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform_aware_builder/platform_aware_builder.dart
Owners: @minikin

refactor: Use `PlatformKey` enum for platform identifiers.
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform/io_platform.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform/platform_key.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform/stub_platform.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform/web_platform.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform_aware_builder/platform_aware_builder.dart
Owners: @minikin

docs: Add `PlatformAwareBuilder` documentation.
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform_aware_builder/platform_aware_builder.dart
Owners: @minikin

docs: Improve `PlatformAwareBuilder` description.
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform_aware_builder/platform_aware_builder.dart
Owners: @minikin

feat: Add PlatformWidgetBuilder. (#319)
  catalyst_voices/packages/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform/io_platform.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform/platform_key.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform/stub_platform.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform/web_platform.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform_aware_builder/platform_aware_builder.dart
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/test/src/catalyst_voices_shared_test.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/platform_aware_builder/platform_aware_builder_test.dart
Owners: @minikin

feat: decoder
  utilities/wallet-connector/package-lock.json
  utilities/wallet-connector/package.json
  utilities/wallet-connector/src/common/components/InfoItem.tsx
  utilities/wallet-connector/src/common/components/TxBuilder.tsx
  utilities/wallet-connector/src/common/components/TxInput.tsx
  utilities/wallet-connector/src/common/constants/index.ts
  utilities/wallet-connector/src/common/helpers/extractApiData.ts
  utilities/wallet-connector/src/modules/SignTxPanel.tsx
  utilities/wallet-connector/src/modules/SubmitTxPanel.tsx
  utilities/wallet-connector/src/modules/WalletActionsSection.tsx
  utilities/wallet-connector/src/modules/WalletInfoSection.tsx
Owners: none

feat: Add `DynamicPadding` widget.
  catalyst_voices/packages/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/dynamic_padding/dynamic_padding.dart
Owners: @minikin

refactor: Adjust sizes to material design standards.
  catalyst_voices/packages/catalyst_voices_shared/lib/src/dynamic_padding/dynamic_padding.dart
Owners: @minikin

feat: unsigned tx function
  utilities/wallet-connector/package-lock.json
  utilities/wallet-connector/package.json
  utilities/wallet-connector/src/common/components/InfoItem.tsx
  utilities/wallet-connector/src/common/components/TxBuilder.tsx
  utilities/wallet-connector/src/common/helpers/extractApiData.ts
  utilities/wallet-connector/src/modules/WalletInfoSection.tsx
Owners: none

docs: DynamicPadding usage.
  catalyst_voices/packages/catalyst_voices_shared/lib/src/dynamic_padding/dynamic_padding.dart
Owners: @minikin

add cardano address type
  catalyst-gateway/Cargo.toml
  catalyst-gateway/bin/src/service/api/utxo/mod.rs
  catalyst-gateway/bin/src/service/api/utxo/staked_ada_get.rs
  catalyst-gateway/bin/src/service/common/objects/cardano_address.rs
  catalyst-gateway/bin/src/service/common/objects/mod.rs
  catalyst-gateway/bin/src/service/common/objects/stake_amount.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: update package structure
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/widgets/convert.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/lib/catalyst_voices_remote_widgets.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/lib/core.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/lib/formats.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/lib/src/catalyst_voices_remote_widgets.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/lib/src/formats/rfw_encode.dart
Owners: @minikin

wip
  catalyst-gateway/bin/src/event_db/utxo.rs
  catalyst-gateway/bin/src/event_db/voter_registration.rs
  catalyst-gateway/bin/src/service/api/utxo/mod.rs
  catalyst-gateway/bin/src/service/api/utxo/staked_ada_get.rs
  catalyst-gateway/bin/src/service/common/objects/cardano_address.rs
  catalyst-gateway/bin/src/service/common/objects/stake_amount.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

add network type validation
  catalyst-gateway/bin/src/event_db/utxo.rs
  catalyst-gateway/bin/src/service/api/utxo/staked_ada_get.rs
  catalyst-gateway/bin/src/service/common/objects/mod.rs
  catalyst-gateway/bin/src/service/common/responses/resp_4xx.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/bin/src/event_db/utxo.rs
  catalyst-gateway/bin/src/service/api/utxo/staked_ada_get.rs
  catalyst-gateway/bin/src/service/common/objects/stake_amount.rs
  catalyst-gateway/event-db/migrations/V6__registration.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: clean up
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/remote_form.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/widgets/convert.dart
Owners: @minikin

filter out orphan txs
  catalyst-gateway/bin/src/event_db/utxo.rs
  catalyst-gateway/bin/src/service/api/utxo/staked_ada_get.rs
  catalyst-gateway/bin/src/service/common/objects/stake_amount.rs
  catalyst-gateway/event-db/queries/utxo/select_total_utxo_amount.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

test: Add tests for `OCDynamicPadding` widget.
  catalyst_voices/packages/catalyst_voices_shared/test/src/catalyst_voices_shared_test.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/dynamic_padding_test.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/platform_aware_builder_test.dart
Owners: @minikin

fix
  catalyst-gateway/bin/src/event_db/utxo.rs
  catalyst-gateway/event-db/queries/utxo/select_total_utxo_amount.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix spelling
  .config/dictionaries/project.dic
  catalyst-gateway/bin/src/event_db/utxo.rs
  catalyst-gateway/bin/src/service/api/utxo/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix
  catalyst-gateway/bin/src/service/api/utxo/staked_ada_get.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix
  catalyst-gateway/event-db/queries/utxo/select_total_utxo_amount.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: tx builder interaction
  utilities/wallet-connector/src/App.tsx
  utilities/wallet-connector/src/common/components/InfoItem.tsx
  utilities/wallet-connector/src/common/components/TxBuilder.tsx
  utilities/wallet-connector/src/common/components/TxInput.tsx
  utilities/wallet-connector/src/common/constants/index.ts
  utilities/wallet-connector/src/common/helpers/buildUnsingedReg.ts
  utilities/wallet-connector/src/common/helpers/extractApiData.ts
  utilities/wallet-connector/src/modules/SignTxPanel.tsx
  utilities/wallet-connector/src/modules/WalletInfoSection.tsx
  utilities/wallet-connector/src/types/cardano.ts
Owners: none

fix
  catalyst-gateway/bin/src/event_db/follower.rs
  catalyst-gateway/event-db/queries/follower/insert_update_state.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

add regex pattern
  catalyst-gateway/bin/src/service/common/objects/cardano_address.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix
  catalyst-gateway/bin/src/service/common/objects/cardano_address.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix
  catalyst-gateway/bin/src/service/common/objects/cardano_address.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: update example
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/home_page.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/remote_form.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/widgets/convert.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/widgets/local_widget.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/widgets/remote_widget.rfw
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/widgets/remote_widget.rfwtxt
Owners: @minikin
