Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip: skeleton code for indexing rbac registrations
  catalyst-gateway/bin/src/db/index/block/mod.rs
  catalyst-gateway/bin/src/db/index/block/rbac509/cql/insert_rbac509.cql
  catalyst-gateway/bin/src/db/index/block/rbac509/insert_rbac509.rs
  catalyst-gateway/bin/src/db/index/block/rbac509/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor(cat-gateway): Make settings a sub-module
  catalyst-gateway/bin/src/settings/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor(cat-gateway): Break up Envvar handling into multiple files
  catalyst-gateway/bin/src/db/index/block/certs.rs
  catalyst-gateway/bin/src/db/index/block/cip36/insert_cip36.rs
  catalyst-gateway/bin/src/db/index/block/cip36/insert_cip36_for_vote_key.rs
  catalyst-gateway/bin/src/db/index/block/cip36/insert_cip36_invalid.rs
  catalyst-gateway/bin/src/db/index/block/cip36/mod.rs
  catalyst-gateway/bin/src/db/index/block/txi.rs
  catalyst-gateway/bin/src/db/index/block/txo/insert_txo.rs
  catalyst-gateway/bin/src/db/index/block/txo/insert_txo_asset.rs
  catalyst-gateway/bin/src/db/index/block/txo/insert_unstaked_txo.rs
  catalyst-gateway/bin/src/db/index/block/txo/insert_unstaked_txo_asset.rs
  catalyst-gateway/bin/src/db/index/block/txo/mod.rs
  catalyst-gateway/bin/src/db/index/queries/mod.rs
  catalyst-gateway/bin/src/db/index/queries/staked_ada/update_txo_spent.rs
  catalyst-gateway/bin/src/db/index/schema/mod.rs
  catalyst-gateway/bin/src/db/index/session.rs
  catalyst-gateway/bin/src/settings/cassandra_db.rs
  catalyst-gateway/bin/src/settings/chain_follower.rs
  catalyst-gateway/bin/src/settings/mod.rs
  catalyst-gateway/bin/src/settings/str_env_var.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

ci(cat-voices): Add license checker (#865)
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/Earthfile
  melos.yaml
Owners: @minikin, @stevenj

refactor(cat-gateway): Fix code format
  catalyst-gateway/bin/src/db/index/block/certs.rs
  catalyst-gateway/bin/src/db/index/queries/mod.rs
  catalyst-gateway/bin/src/db/index/session.rs
  catalyst-gateway/bin/src/settings/cassandra_db.rs
  catalyst-gateway/bin/src/settings/mod.rs
  catalyst-gateway/bin/src/settings/str_env_var.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(cat-gateway): Add chain-sync downloader options to cat-gateway env vars
  catalyst-gateway/bin/src/cardano/mod.rs
  catalyst-gateway/bin/src/settings/chain_follower.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(catalyst_cardano_serialization): add missing fields (multiplier, sizeIncrement, maxRefScriptSize) to props for equality
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/fees.dart
Owners: @minikin, @stevenj

fix(catalyst_cardano): resolve compilation errors in dependent packages caused by catalyst_cardano_serialization changes
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/README.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/main.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_rbac_tx.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_tx.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/lib/src/cardano_wallet.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_wallet_proxy.dart
Owners: @minikin, @stevenj

feat: Simplify MVE1 workspace
  catalyst_voices/lib/pages/workspace/workspace_page.dart
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
Owners: @minikin

test(cat-gateway): Make debug logs visible in local testing
  catalyst-gateway/Justfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(cat-gateway): Minimum timeout for mithril downloads
  catalyst-gateway/bin/src/settings/chain_follower.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

test(cat-gateway): Silence gratuitous debug log in cassandra queries
  catalyst-gateway/bin/src/db/index/block/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: Simplify MVE1 workspace (#874)
  catalyst_voices/lib/pages/workspace/workspace_page.dart
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
Owners: @minikin

wip
  catalyst_voices/lib/pages/account/creation/get_started/account_get_started_dialog.dart
  catalyst_voices/lib/pages/spaces/spaces_shell_page.dart
  catalyst_voices/lib/widgets/app_bar/session/session_action_header.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_bloc.dart
Owners: @minikin

feat: add link wallet flow structure
  catalyst_voices/lib/pages/registration/link_wallet/intro/link_wallet_intro_dialog.dart
  catalyst_voices/lib/pages/registration/link_wallet/link_wallet_dialog.dart
  catalyst_voices/lib/pages/registration/link_wallet/link_wallet_stage.dart
  catalyst_voices/lib/pages/registration/link_wallet/select_wallet/select_wallet_dialog.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

fix(cat-voices): typo
  catalyst_voices/lib/pages/registration/link_wallet/link_wallet_stage.dart
  catalyst_voices/lib/pages/registration/link_wallet/select_wallet/select_wallet_dialog.dart
Owners: @minikin

feat: My account, account page
  catalyst_voices/lib/pages/account/account.dart
  catalyst_voices/lib/pages/account/account_page.dart
  catalyst_voices/lib/routes/routing/account_route.dart
  catalyst_voices/lib/routes/routing/routes.dart
  catalyst_voices/lib/routes/routing/routing.dart
  catalyst_voices/lib/widgets/app_bar/session/session_state_header.dart
  catalyst_voices/packages/catalyst_voices_assets/assets/images/account_bg.png
  catalyst_voices/uikit_example/lib/examples/voices_tabs_example.dart
Owners: @minikin

feat: My account, account page, introduce VoicesTextButton's customColor
  catalyst_voices/lib/pages/account/account_page.dart
  catalyst_voices/lib/widgets/buttons/voices_text_button.dart
Owners: @minikin

feat: My account, account page, add correct bg asset
  catalyst_voices/lib/pages/account/account_page.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/assets.gen.dart
Owners: @minikin

feat: My account, account page, add onRemoveKeychain callback
  catalyst_voices/lib/pages/account/account_page.dart
Owners: @minikin

refactor(cat-gateway): Decrease verboseness of the string env var logging code
  catalyst-gateway/bin/src/settings/str_env_var.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: My account, account page, lint issues
  catalyst_voices/lib/pages/account/account_page.dart
  catalyst_voices/lib/routes/routing/account_route.dart
Owners: @minikin

feat: My account, account page, translations
  catalyst_voices/lib/pages/account/account_page.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

feat: My account, account page, reformatting
  catalyst_voices/lib/pages/account/account_page.dart
Owners: @minikin

feat: account creation task picture
  catalyst_voices/lib/pages/account/creation/task_picture.dart
  catalyst_voices/lib/pages/discovery/discovery_page.dart
  catalyst_voices/packages/catalyst_voices_assets/assets/images/2.0x/task_illustration.webp
  catalyst_voices/packages/catalyst_voices_assets/assets/images/3.0x/task_illustration.webp
  catalyst_voices/packages/catalyst_voices_assets/assets/images/keychain.svg
  catalyst_voices/packages/catalyst_voices_assets/assets/images/task_illustration.webp
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/assets.gen.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/colors.gen.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/assets_ext.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_svg_icon.dart
Owners: @minikin

chore: clean up discovery
  catalyst_voices/lib/pages/discovery/discovery_page.dart
Owners: @minikin

feat: add content for link wallet intro dialog
  catalyst_voices/lib/pages/registration/link_wallet/intro/link_wallet_intro_dialog.dart
  catalyst_voices/lib/widgets/buttons/specialized/voices_learn_more_button.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

feat(dart/catalyst_cardano_serialization)!: Implement tiered fee calculation for reference scripts (#871)
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/README.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/main.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_rbac_tx.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_tx.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/lib/src/cardano_wallet.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_wallet_proxy.dart
  catalyst_voices_packages/catalyst_cardano_serialization/README.md
  catalyst_voices_packages/catalyst_cardano_serialization/example/main.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/transaction_builder.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/exceptions.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/fees.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/hashes.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/scripts.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/fees_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/hashes_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/scripts_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/test_utils/test_data.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/transaction_output_test.dart
Owners: @minikin, @stevenj

feat(cat-voices): account creation task picture (#879)
  catalyst_voices/lib/pages/account/creation/task_picture.dart
  catalyst_voices/packages/catalyst_voices_assets/assets/images/2.0x/task_illustration.webp
  catalyst_voices/packages/catalyst_voices_assets/assets/images/3.0x/task_illustration.webp
  catalyst_voices/packages/catalyst_voices_assets/assets/images/keychain.svg
  catalyst_voices/packages/catalyst_voices_assets/assets/images/task_illustration.webp
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/assets.gen.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/colors.gen.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/assets_ext.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_svg_icon.dart
Owners: @minikin

fix: RBAC509_registration table name
  catalyst-gateway/bin/src/db/index/block/rbac509/cql/insert_rbac509.cql
  catalyst-gateway/bin/src/db/index/block/rbac509/insert_rbac509.rs
  catalyst-gateway/bin/src/db/index/schema/cql/rbac509_registration.cql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: rbac509_registration clustering key order
  catalyst-gateway/bin/src/db/index/block/rbac509/cql/insert_rbac509.cql
  catalyst-gateway/bin/src/db/index/schema/cql/rbac509_registration.cql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip: rbac 509 prepared queries are added to block indexing
  catalyst-gateway/bin/src/db/index/block/mod.rs
  catalyst-gateway/bin/src/db/index/block/rbac509/mod.rs
  catalyst-gateway/bin/src/db/index/queries/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip: rbac 509 prepare and execute batch queries
  catalyst-gateway/bin/src/db/index/block/rbac509/insert_rbac509.rs
  catalyst-gateway/bin/src/db/index/block/rbac509/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(cat-voices): add picture
  catalyst_voices/lib/pages/registration/link_wallet/intro/link_wallet_intro_dialog.dart
  catalyst_voices/lib/pages/registration/link_wallet/select_wallet/select_wallet_dialog.dart
Owners: @minikin

refactor(cat-voices): cleanup
  catalyst_voices/lib/pages/registration/link_wallet/intro/link_wallet_intro_dialog.dart
  catalyst_voices/lib/pages/registration/link_wallet/link_wallet_dialog.dart
  catalyst_voices/lib/widgets/buttons/specialized/voices_learn_more_button.dart
Owners: @minikin

fix: samples
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/README.md
  catalyst_voices_packages/catalyst_cardano_serialization/README.md
Owners: @minikin, @stevenj

fix(general): Bump alpine version and pin to fix missing upstream containers
  catalyst-gateway/Earthfile
  catalyst-gateway/tests/schemathesis_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/Earthfile
  utilities/local-cluster/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip: index rbac registrations
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/db/index/block/mod.rs
  catalyst-gateway/bin/src/db/index/block/rbac509/insert_rbac509.rs
  catalyst-gateway/bin/src/db/index/block/rbac509/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: localization + rename dialog
  catalyst_voices/lib/pages/account/creation/get_started/account_create_dialog.dart
  catalyst_voices/lib/pages/account/creation/get_started/account_get_started_dialog.dart
  catalyst_voices/lib/pages/spaces/spaces_shell_page.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

fix: missing comma
  catalyst_voices/lib/pages/account/creation/get_started/account_create_dialog.dart
Owners: @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
