Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(find stake credential on tx): match with cert output
  catalyst-gateway/bin/src/util.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(find stake credential on tx): match with cert output
  catalyst-gateway/bin/src/event_db/error.rs
  catalyst-gateway/bin/src/event_db/utxo.rs
  catalyst-gateway/bin/src/util.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(find stake credential on tx): match with cert output
  catalyst-gateway/bin/src/event_db/utxo.rs
  catalyst-gateway/bin/src/util.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: extension field
  utilities/wallet-connector/src/App.tsx
  utilities/wallet-connector/src/common/components/CBOREditor.tsx
  utilities/wallet-connector/src/common/components/InfoItem.tsx
  utilities/wallet-connector/src/modules/WalletInfoSection.tsx
Owners: none

fix: types
  utilities/wallet-connector/src/App.tsx
  utilities/wallet-connector/src/common/components/InfoItem.tsx
  utilities/wallet-connector/src/common/helpers/getCardano.ts
  utilities/wallet-connector/src/main.tsx
  utilities/wallet-connector/src/modules/SignTxnPanel.tsx
  utilities/wallet-connector/src/modules/WalletInfoSection.tsx
  utilities/wallet-connector/src/types/cardano.ts
  utilities/wallet-connector/src/types/global.d.ts
Owners: none

fix(cat ci v2.9.7): dictionary updates
  catalyst-gateway/Earthfile
  catalyst-gateway/bin/src/util.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(cat ci v2.9.7): dictionary updates
  catalyst-gateway/bin/src/util.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: linters
  utilities/wallet-connector/.eslintrc.yaml
  utilities/wallet-connector/.prettierrc.yaml
  utilities/wallet-connector/src/App.tsx
Owners: none

chore: lintfix
  utilities/wallet-connector/src/App.tsx
  utilities/wallet-connector/src/common/components/Button.tsx
  utilities/wallet-connector/src/common/components/CBOREditor.tsx
  utilities/wallet-connector/src/common/components/CheckBox.tsx
  utilities/wallet-connector/src/common/components/InfoItem.tsx
  utilities/wallet-connector/src/common/components/InputBlock.tsx
  utilities/wallet-connector/src/common/components/WalletCard.tsx
  utilities/wallet-connector/src/common/components/WalletResponseSelection.tsx
  utilities/wallet-connector/src/common/helpers/cleanHex.ts
  utilities/wallet-connector/src/common/helpers/diag2hex.ts
  utilities/wallet-connector/src/common/helpers/extractApiData.ts
  utilities/wallet-connector/src/common/helpers/hex2diag.ts
  utilities/wallet-connector/src/common/helpers/readFile.ts
  utilities/wallet-connector/src/modules/SignDataPanel.tsx
  utilities/wallet-connector/src/modules/SignTxnPanel.tsx
  utilities/wallet-connector/src/modules/SubmitTxnPanel.tsx
  utilities/wallet-connector/src/modules/WalletActionsSection.tsx
  utilities/wallet-connector/src/modules/WalletInfoSection.tsx
  utilities/wallet-connector/src/types/cardano.ts
  utilities/wallet-connector/src/types/global.d.ts
Owners: none

chore: lintfix
  utilities/wallet-connector/.eslintrc.yaml
  utilities/wallet-connector/src/common/components/CheckBox.tsx
  utilities/wallet-connector/src/common/components/InputBlock.tsx
  utilities/wallet-connector/src/common/components/WalletCard.tsx
  utilities/wallet-connector/src/common/components/WalletResponseSelection.tsx
  utilities/wallet-connector/src/types/cardano.ts
Owners: none

chore: remove lint issues
  utilities/wallet-connector/src/common/components/CBOREditor.tsx
  utilities/wallet-connector/src/common/components/InfoItem.tsx
  utilities/wallet-connector/src/common/components/WalletResponseSelection.tsx
  utilities/wallet-connector/src/modules/SignDataPanel.tsx
  utilities/wallet-connector/src/modules/SubmitTxnPanel.tsx
  utilities/wallet-connector/src/modules/WalletActionsSection.tsx
  utilities/wallet-connector/src/types/cardano.ts
  utilities/wallet-connector/src/types/global.d.ts
Owners: none

fix(cat ci v2.9.7): dictionary updates
  docs/Earthfile
Owners: none

chore: fmt
  utilities/wallet-connector/.prettierrc.yaml
  utilities/wallet-connector/src/App.tsx
  utilities/wallet-connector/src/common/components/Button.tsx
  utilities/wallet-connector/src/common/components/CBOREditor.tsx
  utilities/wallet-connector/src/common/components/CheckBox.tsx
  utilities/wallet-connector/src/common/components/InfoItem.tsx
  utilities/wallet-connector/src/common/components/InputBlock.tsx
  utilities/wallet-connector/src/common/components/WalletCard.tsx
  utilities/wallet-connector/src/common/components/WalletResponseSelection.tsx
  utilities/wallet-connector/src/common/helpers/cleanHex.ts
  utilities/wallet-connector/src/common/helpers/extractApiData.ts
  utilities/wallet-connector/src/common/helpers/getCardano.ts
  utilities/wallet-connector/src/common/helpers/hex2bin.ts
  utilities/wallet-connector/src/main.tsx
  utilities/wallet-connector/src/modules/SignDataPanel.tsx
  utilities/wallet-connector/src/modules/SignTxnPanel.tsx
  utilities/wallet-connector/src/modules/SubmitTxnPanel.tsx
  utilities/wallet-connector/src/modules/WalletActionsSection.tsx
  utilities/wallet-connector/src/modules/WalletInfoSection.tsx
  utilities/wallet-connector/src/types/cardano.ts
Owners: none

chore: lintfix
  utilities/wallet-connector/Earthfile
  utilities/wallet-connector/src/types/cardano.ts
Owners: none

fix(cat ci v2.9.7): dictionary updates
  .config/dictionaries/project.dic
Owners: none

ci: build local
  utilities/wallet-connector/Earthfile
  utilities/wallet-connector/nginx.conf
Owners: none

docs: earthfile
  utilities/wallet-connector/Earthfile
Owners: none

fix: copied
  utilities/wallet-connector/src/common/components/InfoItem.tsx
Owners: none

feat: re-enable
  utilities/wallet-connector/src/App.tsx
  utilities/wallet-connector/src/common/components/InfoItem.tsx
  utilities/wallet-connector/src/modules/WalletInfoSection.tsx
Owners: none

fix(cat ci v2.9.8): rust tooling
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(cat ci v2.9.8): rust tooling
  catalyst-gateway/deny.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor(stake_key_hash index)
  catalyst-gateway/bin/src/event_db/utxo.rs
  catalyst-gateway/bin/src/util.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor(stake_key_hash index)
  catalyst-gateway/bin/src/util.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor(stake_key_hash index)
  catalyst-gateway/rust-toolchain.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

ci
  catalyst-gateway/Cargo.lock
  catalyst-gateway/bin/src/util.rs
  catalyst-gateway/rust-toolchain.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

ci
  catalyst-gateway/bin/src/util.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(dalek without unstable features)
  catalyst-gateway/bin/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(dalek without unstable features)
  catalyst-gateway/bin/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(nightly for dalek)
  catalyst-gateway/bin/src/event_db/legacy/types/voting_status.rs
  catalyst-gateway/rust-toolchain.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(nightly for dalek)
  catalyst-gateway/bin/src/event_db/legacy/types/voting_status.rs
  catalyst-gateway/rust-toolchain.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(nightly for dalek)
  catalyst-gateway/bin/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: remove console.log
  utilities/wallet-connector/src/App.tsx
Owners: none

fix(remove dalek lib): conflict using nightly
  catalyst-gateway/Cargo.lock
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/util.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(remove dalek lib): conflict using nightly
  catalyst-gateway/bin/src/util.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Update catalyst-gateway/bin/src/util.rs
  catalyst-gateway/bin/src/util.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Update utxo.rs
  catalyst-gateway/bin/src/event_db/utxo.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: identify TX stake credential (#307)
  .config/dictionaries/project.dic
  catalyst-gateway/Cargo.lock
  catalyst-gateway/Earthfile
  catalyst-gateway/bin/src/event_db/error.rs
  catalyst-gateway/bin/src/event_db/utxo.rs
  catalyst-gateway/bin/src/util.rs
  catalyst-gateway/deny.toml
  catalyst-gateway/event-db/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: Add PlatformWidgetBuilder.
  catalyst_voices/packages/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/platform_widget_builder/platform_widget_builder.dart
Owners: @minikin

feat(poc):catalyst_voices_remote_widgets
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/README.md
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/app.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/widgets/local_widget.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/widgets/new_local_widget.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/widgets/poc_local_widget.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/lib/src/widgets/poc_new_local_widget.dart
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/macos/Runner/DebugProfile.entitlements
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/macos/Runner/Release.entitlements
Owners: @minikin

add select_total_utxo_amount.sql query
  catalyst-gateway/bin/src/event_db/follower.rs
  catalyst-gateway/event-db/migrations/V6__registration.sql
  catalyst-gateway/event-db/queries/follower/insert_update_state.sql
  catalyst-gateway/event-db/queries/utxo/select_total_utxo_amount.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
