Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(catalyst_cardano_serialization): address PR review feedback, fix cspell issues, remove comments, and perform general housekeeping
  .config/dictionaries/project.dic
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_tx.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/hashes.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/scripts.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/transaction.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/transaction_output.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/witness.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/scripts_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/transaction_output_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/transaction_test.dart
Owners: @minikin, @stevenj

refactor(catalyst_cardano_serialization): replace all instances of `PreBabbageTransactionOutput` with `TransactionOutput` in `TransactionOutputBuilder` class
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/transaction_builder.dart
Owners: @minikin, @stevenj

chore: format code
  catalyst_voices/lib/widgets/app_bar/actions/user_profile_button.dart
  catalyst_voices/lib/widgets/avatars/voices_avatar.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/brand/brand_bloc.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/brand/brand_state.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/dependency/dependency_provider.dart
Owners: @minikin

feat(mock cert state): given kid from bearer return pub key
  catalyst-gateway/bin/src/service/api/auth/endpoint.rs
  catalyst-gateway/bin/src/service/api/auth/token.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(auth token): cache TTL
  catalyst-gateway/bin/src/service/api/auth/endpoint.rs
  catalyst-gateway/bin/src/service/api/health/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(auth token): cache TTL
  catalyst-gateway/bin/src/service/api/auth/endpoint.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(auth token): cache TT
  catalyst-gateway/bin/src/service/api/auth/endpoint.rs
  catalyst-gateway/bin/src/service/api/auth/token.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

ci(spell check): fix
  catalyst-gateway/bin/src/service/api/auth/endpoint.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

ci(spell check): fix
  catalyst-gateway/bin/src/service/api/auth/endpoint.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: update flutter ci
  Earthfile
  catalyst-gateway-crates/c509-certificate/Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: wip
  catalyst_voices/lib/widgets/app_bar/voices_app_bar.dart
  catalyst_voices/lib/widgets/buttons/voices_buttons.dart
  catalyst_voices/lib/widgets/containers/space_container.dart
  catalyst_voices/lib/widgets/containers/space_side_panel.dart
  catalyst_voices/lib/widgets/containers/tracks_container.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/uikit_example/lib/examples/voices_treasury_space.dart
  catalyst_voices/uikit_example/lib/main.dart
Owners: @minikin

feat: VoicesRichText - initial commit
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
  catalyst_voices/pubspec.yaml
  catalyst_voices/uikit_example/lib/examples/voices_rich_text_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

feat: VoicesRichText - fix lint issue
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

chore: upgrade flutter to 3.24.1, dart to 3.5.0 - fix Menu issue
  catalyst_voices/lib/widgets/menu/voices_menu.dart
Owners: @minikin

ci(spell check): fix
  catalyst-gateway/bin/src/service/api/auth/endpoint.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: VoicesRichText - fix lint issues
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
  catalyst_voices/pubspec.yaml
Owners: @minikin

refactor(clippy): housekeeping tidy
  catalyst-gateway/bin/src/service/api/auth/endpoint.rs
  catalyst-gateway/bin/src/service/api/auth/mod.rs
  catalyst-gateway/bin/src/service/api/auth/token.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor(clippy): housekeeping tidy
  catalyst-gateway/bin/src/service/api/auth/endpoint.rs
  catalyst-gateway/bin/src/service/api/auth/token.rs
  catalyst-gateway/bin/src/service/api/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor(clippy): housekeeping tidy
  catalyst-gateway/bin/src/service/api/auth/endpoint.rs
  catalyst-gateway/bin/src/service/api/auth/token.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor(clippy): housekeeping tidy
  catalyst-gateway/bin/src/service/api/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: VoicesRichText - add comment
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
Owners: @minikin

feat: VoicesRichText - add tests
  catalyst_voices/test/widgets/rich_text/voices_rich_text_test.dart
Owners: @minikin

feat: VoicesRichText - use const
  catalyst_voices/test/widgets/rich_text/voices_rich_text_test.dart
Owners: @minikin

feat: SpaceContainer + SpaceSidePanel + TreasuryExample
  catalyst_voices/lib/widgets/buttons/voices_buttons.dart
  catalyst_voices/lib/widgets/common/tab_bar_stack_view.dart
  catalyst_voices/lib/widgets/containers/space_container.dart
  catalyst_voices/lib/widgets/containers/space_side_panel.dart
  catalyst_voices/lib/widgets/containers/tracks_container.dart
  catalyst_voices/lib/widgets/headers/section_header.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/uikit_example/lib/examples/voices_treasury_space.dart
Owners: @minikin

feat: adds import wallet for lace
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/keys.txt
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/utils.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/wallet-tests.spec.ts
Owners: @minikin, @stevenj

chore: upgrade build runner
  catalyst_voices/packages/catalyst_voices_assets/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_repositories/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  catalyst_voices/pubspec.yaml
  catalyst_voices/uikit_example/pubspec.yaml
  melos.yaml
Owners: @minikin

chore: disabled linter rule that crashes
  catalyst_voices_packages/catalyst_analysis/lib/analysis_options.yaml
Owners: @minikin, @stevenj

chore: upgrade deprecated swift annotations
  catalyst_voices/ios/Runner/AppDelegate.swift
  catalyst_voices/macos/Runner/AppDelegate.swift
Owners: @minikin

chore: update Podfile.lock
  catalyst_voices/ios/Podfile.lock
Owners: @minikin

chore: upgrade sentry
  catalyst_voices/macos/Podfile.lock
  catalyst_voices/pubspec.yaml
  melos.yaml
Owners: @minikin

chore: update sentry
  catalyst_voices/ios/Podfile.lock
Owners: @minikin

chore: make sure the project uses a stable win32 version
  catalyst_voices/pubspec.yaml
  melos.yaml
Owners: @minikin

feat: get staked ada from scylladb
  catalyst-gateway/bin/src/db/event/cardano/utxo/mod.rs
  catalyst-gateway/bin/src/db/event/cardano/utxo/select_total_utxo_amount.sql
  catalyst-gateway/bin/src/db/index/index_txo.rs
  catalyst-gateway/bin/src/db/index/mod.rs
  catalyst-gateway/bin/src/db/index/queries.rs
  catalyst-gateway/bin/src/db/index/queries/get_txi_by_txn_hashes.cql
  catalyst-gateway/bin/src/db/index/queries/get_txo_by_stake_address.cql
  catalyst-gateway/bin/src/db/index/queries/insert_txo.cql
  catalyst-gateway/bin/src/db/index/queries/update_txo_spent.cql
  catalyst-gateway/bin/src/db/index/schema/txi_by_txn_hash_table.cql
  catalyst-gateway/bin/src/db/index/session.rs
  catalyst-gateway/bin/src/db/index/staked_ada.rs
  catalyst-gateway/bin/src/service/api/cardano/staked_ada_get.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/stake_address.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/stake_info.rs
  justfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: upgrade flutter ci
  Earthfile
  catalyst-gateway-crates/c509-certificate/Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: TabBarStackView and SectionHeader
  catalyst_voices/lib/widgets/common/tab_bar_stack_view.dart
  catalyst_voices/lib/widgets/headers/section_header.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/test/widgets/common/tab_bar_stack_view_test.dart
  catalyst_voices/test/widgets/headers/section_header_test.dart
  catalyst_voices/uikit_example/lib/examples/voices_headers_examples.dart
  catalyst_voices/uikit_example/lib/examples/voices_tabs_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

chore: downgrade cat-ci except for flutter-ci
  Earthfile
  catalyst-gateway-crates/c509-certificate/Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: remove widgets from separate PR
  catalyst_voices/lib/widgets/common/tab_bar_stack_view.dart
  catalyst_voices/lib/widgets/containers/space_side_panel.dart
  catalyst_voices/lib/widgets/headers/section_header.dart
  catalyst_voices/lib/widgets/widgets.dart
Owners: @minikin

chore: restore docs ci version
  docs/Earthfile
Owners: none

fix: add vsync to known words
  .config/dictionaries/project.dic
Owners: none

chore: missing comma
  catalyst_voices/lib/widgets/common/tree_view_column.dart
  catalyst_voices/test/widgets/headers/section_header_test.dart
Owners: @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
