Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: VoicesRichText - extract resizable_box_parent.dart
  catalyst_voices/lib/widgets/common/resizable_box_parent.dart
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
  catalyst_voices/lib/widgets/text_field/voices_text_field.dart
Owners: @minikin

feat: VoicesRichText - add minWidth and minHeight as params
  catalyst_voices/lib/widgets/common/resizable_box_parent.dart
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
Owners: @minikin

chore: revert justfile changes
  justfile
Owners: none

feat: VoicesTreasurySpace campaign setup details
  catalyst_voices/lib/widgets/buttons/voices_buttons.dart
  catalyst_voices/lib/widgets/common/simple_tree_view.dart
  catalyst_voices/lib/widgets/containers/workspace_tile_container.dart
  catalyst_voices/lib/widgets/headers/segment_header.dart
  catalyst_voices/lib/widgets/menu/voices_node_menu.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/uikit_example/lib/examples/treasury_space/campaign_builder_panel.dart
  catalyst_voices/uikit_example/lib/examples/treasury_space/campaign_details.dart
  catalyst_voices/uikit_example/lib/examples/treasury_space/voices_treasury_space.dart
  catalyst_voices/uikit_example/lib/examples/voices_menu_example.dart
Owners: @minikin

fix: catalyst cardano null utxos (#746)
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_rbac_tx.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_tx.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_interop.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_wallet_proxy.dart
Owners: @minikin, @stevenj

feat: VoicesRichText - passing document
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
  catalyst_voices/test/widgets/rich_text/voices_rich_text_test.dart
  catalyst_voices/uikit_example/lib/examples/voices_rich_text_example.dart
Owners: @minikin

feat: VoicesRichText - add chars counter widget
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
  catalyst_voices/uikit_example/lib/examples/voices_rich_text_example.dart
  catalyst_voices/uikit_example/pubspec.yaml
Owners: @minikin

feat: treasury drawer
  catalyst_voices/lib/widgets/buttons/voices_buttons.dart
  catalyst_voices/lib/widgets/common/proposal_status_container.dart
  catalyst_voices/lib/widgets/drawer/voices_drawer_nav_item.dart
  catalyst_voices/lib/widgets/drawer/voices_drawer_space_chooser.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/proposal_status.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/space.dart
  catalyst_voices/uikit_example/lib/examples/treasury_space/campaign_details.dart
  catalyst_voices/uikit_example/lib/examples/treasury_space/voices_treasury_drawer.dart
  catalyst_voices/uikit_example/lib/examples/treasury_space/voices_treasury_space.dart
  catalyst_voices/uikit_example/lib/examples/voices_navigation_example.dart
  catalyst_voices/uikit_example/pubspec.yaml
Owners: @minikin

feat: VoicesRichText - Cancel button, other widgets' alignment, fix counter initialisation
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
  catalyst_voices/uikit_example/lib/examples/voices_rich_text_example.dart
Owners: @minikin

feat: force light mode in VoicesTreasurySpace
  catalyst_voices/uikit_example/lib/examples/treasury_space/voices_treasury_space.dart
  catalyst_voices/uikit_example/lib/main.dart
Owners: @minikin

feat: VoicesRichText - remove unused import
  catalyst_voices/lib/widgets/text_field/voices_text_field.dart
Owners: @minikin

fix: remove duplicated import
  catalyst_voices/uikit_example/lib/examples/voices_spaces_example.dart
Owners: @minikin

refactor: introduce VoicesDrawerSpaceChooser config
  catalyst_voices/lib/widgets/drawer/voices_drawer_space_chooser.dart
Owners: @minikin

feat: VoicesRichText - optional document, fix tests
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
  catalyst_voices/test/widgets/rich_text/voices_rich_text_test.dart
Owners: @minikin

fix(catalyst_cardano_serialization): resolve merge conflict in lib/serc/types.dart for upstream sync
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/types.dart
Owners: @minikin, @stevenj

chore(catalyst_cardano_serialization): prepare changes for merging PR; refactor BaseHash to extend Equatable and implement CborEncodable
  catalyst_voices_packages/catalyst_cardano_serialization/lib/catalyst_cardano_serialization.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/datum.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/hashes.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/redeemer.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/scripts.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/transaction.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/transaction_output.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/witness.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/transaction_output_test.dart
Owners: @minikin, @stevenj

refactor: responsive builder + app_bar
  catalyst_voices/lib/widgets/app_bar/voices_app_bar.dart
  catalyst_voices/lib/widgets/buttons/voices_buttons.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/responsive/responsive_builder.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/responsive/responsive_child.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/responsive/responsive_padding.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/utils/typedefs.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/responsive_builder_test.dart
Owners: @minikin

feat: containers + headers
  catalyst_voices/lib/widgets/buttons/voices_buttons.dart
  catalyst_voices/lib/widgets/common/proposal_status_indicator.dart
  catalyst_voices/lib/widgets/containers/space_container.dart
  catalyst_voices/lib/widgets/containers/space_side_panel.dart
  catalyst_voices/lib/widgets/containers/tracks_container.dart
  catalyst_voices/lib/widgets/containers/workspace_tile_container.dart
  catalyst_voices/lib/widgets/headers/segment_header.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/proposal_status.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/space.dart
Owners: @minikin

refactor: make buildLeading private [VoicesAppBar]
  catalyst_voices/lib/widgets/app_bar/voices_app_bar.dart
Owners: @minikin

feat!: add initial support for Cardano Native scripts, Plutus scripts, advanced transaction outputs, and additional transaction body fields and witnesses (#713)
  .config/dictionaries/project.dic
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_rbac_tx.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_tx.dart
  catalyst_voices_packages/catalyst_cardano_serialization/example/main.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/catalyst_cardano_serialization.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/transaction_builder.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/datum.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/hashes.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/redeemer.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/scripts.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/transaction.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/transaction_output.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/types.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/witness.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/scripts_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/test_utils/test_data.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/transaction_output_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/transaction_test.dart
Owners: @minikin, @stevenj

chore(release): publish packages
  CHANGELOG.md
  catalyst_voices/packages/catalyst_voices_assets/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_brands/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_localization/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_repositories/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_view_models/pubspec.yaml
  catalyst_voices/pubspec.yaml
  catalyst_voices/uikit_example/pubspec.yaml
  catalyst_voices_packages/catalyst_analysis/CHANGELOG.md
  catalyst_voices_packages/catalyst_analysis/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano_serialization/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano_serialization/pubspec.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression/CHANGELOG.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression/pubspec.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression_platform_interface/CHANGELOG.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/CHANGELOG.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/pubspec.yaml
  catalyst_voices_packages/catalyst_cose/CHANGELOG.md
  catalyst_voices_packages/catalyst_cose/pubspec.yaml
  utilities/catalyst_voices_remote_widgets/example/pubspec.yaml
  utilities/catalyst_voices_remote_widgets/pubspec.yaml
  utilities/poc_local_storage/pubspec.yaml
Owners: @minikin, @stevenj

refactor: rename TracksContainer to RailsContainer + docs
  catalyst_voices/lib/widgets/containers/rails_container.dart
  catalyst_voices/lib/widgets/containers/space_container.dart
  catalyst_voices/lib/widgets/containers/space_side_panel.dart
  catalyst_voices/lib/widgets/containers/workspace_tile_container.dart
  catalyst_voices/lib/widgets/widgets.dart
Owners: @minikin

refactor: spaces values
  catalyst_voices/packages/catalyst_voices_models/lib/src/space.dart
Owners: @minikin

feat: VoicesRichText - custom icons
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
  catalyst_voices/packages/catalyst_voices_assets/internal_resources/fonts/CatalystVoicesIcons.ttf
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_voices_icons.dart
Owners: @minikin

chore(release): publish packages (#752)
  CHANGELOG.md
  catalyst_voices/packages/catalyst_voices_assets/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_brands/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_localization/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_repositories/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_view_models/pubspec.yaml
  catalyst_voices/pubspec.yaml
  catalyst_voices/uikit_example/pubspec.yaml
  catalyst_voices_packages/catalyst_analysis/CHANGELOG.md
  catalyst_voices_packages/catalyst_analysis/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano_serialization/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano_serialization/pubspec.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression/CHANGELOG.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression/pubspec.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression_platform_interface/CHANGELOG.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/CHANGELOG.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/pubspec.yaml
  catalyst_voices_packages/catalyst_cose/CHANGELOG.md
  catalyst_voices_packages/catalyst_cose/pubspec.yaml
  utilities/catalyst_voices_remote_widgets/example/pubspec.yaml
  utilities/catalyst_voices_remote_widgets/pubspec.yaml
  utilities/poc_local_storage/pubspec.yaml
Owners: @minikin, @stevenj

refactor: responsive builder + app_bar (#747)
  catalyst_voices/lib/widgets/app_bar/voices_app_bar.dart
  catalyst_voices/lib/widgets/buttons/voices_buttons.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/responsive/responsive_builder.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/responsive/responsive_child.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/responsive/responsive_padding.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/utils/typedefs.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/responsive_builder_test.dart
Owners: @minikin

Rename RilesContainer to SidebarScaffold
  catalyst_voices/lib/widgets/containers/sidebar_scaffold.dart
  catalyst_voices/lib/widgets/containers/space_scaffold.dart
  catalyst_voices/lib/widgets/containers/space_side_panel.dart
  catalyst_voices/lib/widgets/widgets.dart
Owners: @minikin

refactor: cleanup tests
  catalyst_voices/test/widgets/avatars/voices_avatar_test.dart
  catalyst_voices/test/widgets/menu/voices_wallet_tile_test.dart
  catalyst_voices/test/widgets/text_field/voices_text_field_test.dart
Owners: @minikin

refactor: rename icon to iconSrc
  catalyst_voices/lib/widgets/menu/voices_wallet_tile.dart
  catalyst_voices/test/widgets/menu/voices_wallet_tile_test.dart
  catalyst_voices/uikit_example/lib/examples/voices_list_tile_example.dart
Owners: @minikin

feat: containers + headers (#748)
  catalyst_voices/lib/widgets/common/proposal_status_indicator.dart
  catalyst_voices/lib/widgets/containers/sidebar_scaffold.dart
  catalyst_voices/lib/widgets/containers/space_scaffold.dart
  catalyst_voices/lib/widgets/containers/space_side_panel.dart
  catalyst_voices/lib/widgets/containers/workspace_tile_container.dart
  catalyst_voices/lib/widgets/headers/segment_header.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/proposal_status.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/space.dart
Owners: @minikin

feat: wallet lister (#745)
  catalyst_voices/lib/widgets/menu/voices_wallet_tile.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/test/widgets/avatars/voices_avatar_test.dart
  catalyst_voices/test/widgets/menu/voices_wallet_tile_test.dart
  catalyst_voices/test/widgets/text_field/voices_text_field_test.dart
  catalyst_voices/uikit_example/lib/examples/voices_fab_example.dart
  catalyst_voices/uikit_example/lib/examples/voices_list_tile_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

fix: remove unnecessary import
  catalyst_voices/uikit_example/lib/examples/voices_navigation_example.dart
Owners: @minikin

feat: VoicesRichText - styling
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
  catalyst_voices/uikit_example/lib/examples/voices_rich_text_example.dart
Owners: @minikin

feat: VoicesRichText - extract theme
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
Owners: @minikin

feat: VoicesRichText - Dominik's feedback part 1
  catalyst_voices/lib/widgets/common/resizable_box_parent.dart
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
Owners: @minikin

feat: VoicesRichText - Dominik's feedback part 2
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
Owners: @minikin

feat: VoicesRichText - Dominik's feedback part 3
  catalyst_voices/uikit_example/web/index.html
  melos.yaml
Owners: @minikin

Desktop modals/dialogs
  catalyst_voices/lib/widgets/buttons/voices_buttons.dart
  catalyst_voices/lib/widgets/modals/voices_desktop_dialog.dart
  catalyst_voices/lib/widgets/modals/voices_dialog.dart
  catalyst_voices/lib/widgets/modals/voices_info_dialog.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_assets/assets/colors/colors.xml
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/colors.gen.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/theme_extensions/voices_color_scheme.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/uikit_example/lib/examples/voices_modals_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

chore: PR review adjustments
  catalyst_voices/lib/widgets/drawer/voices_drawer_space_chooser.dart
  catalyst_voices/lib/widgets/menu/voices_node_menu.dart
  catalyst_voices/uikit_example/lib/examples/treasury_space/voices_treasury_space.dart
Owners: @minikin

chore: wip
  utilities/local-cluster/Readme.md
  utilities/local-cluster/Vagrantfile
  utilities/local-cluster/justfile
Owners: none

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
