Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(cat-voices): registration completed screen (#996)
  catalyst_voices/lib/common/ext/ext.dart
  catalyst_voices/lib/common/ext/string_ext.dart
  catalyst_voices/lib/pages/registration/account_completed/account_completed_panel.dart
  catalyst_voices/lib/pages/registration/pictures/account_completed_picture.dart
  catalyst_voices/lib/pages/registration/registration_details_panel.dart
  catalyst_voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
  catalyst_voices/lib/pages/registration/widgets/next_step.dart
  catalyst_voices/lib/widgets/modals/voices_desktop_dialog.dart
  catalyst_voices/packages/catalyst_voices_assets/assets/images/2.0x/welcome_illustration.webp
  catalyst_voices/packages/catalyst_voices_assets/assets/images/3.0x/welcome_illustration.webp
  catalyst_voices/packages/catalyst_voices_assets/assets/images/registration_summary_keychain.png
  catalyst_voices/packages/catalyst_voices_assets/assets/images/registration_summary_roles.png
  catalyst_voices/packages/catalyst_voices_assets/assets/images/registration_summary_wallet.png
  catalyst_voices/packages/catalyst_voices_assets/assets/images/welcome_illustration.webp
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/assets.gen.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_state.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

fix: account page back gesture when there is no previous child in stack
  catalyst_voices/lib/pages/account/account_page.dart
  catalyst_voices/lib/pages/account/account_page_header.dart
Owners: @minikin

fix: account page back gesture when there is no previous child in stack (#998)
  catalyst_voices/lib/pages/account/account_page.dart
  catalyst_voices/lib/pages/account/account_page_header.dart
Owners: @minikin

feat(cat-voices): account restored (#997)
  catalyst_voices/lib/pages/registration/recover/recover_seed_phrase_panel.dart
  catalyst_voices/lib/pages/registration/recover/seed_phrase/restored_panel.dart
  catalyst_voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/lib/pages/registration/registration_exit_confirm_dialog.dart
  catalyst_voices/lib/pages/registration/wallet_link/account_role_dialog.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/roles_chooser_panel.dart
  catalyst_voices/lib/pages/registration/widgets/exit_confirm_dialog.dart
  catalyst_voices/lib/pages/registration/widgets/placeholder_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/recover_cubit.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/registration/registration_step.dart
Owners: @minikin

refactor: introduce profile and walletHeader, walletMeta classes to avoid working directly with CardanoWallet
  catalyst_voices/lib/pages/registration/wallet_link/stage/select_wallet_panel.dart
  catalyst_voices/lib/widgets/app_bar/session/session_state_header.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/recover_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/wallet_link_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/wallet_link_state_data.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_bloc.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/user/account_role.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/user/profile.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/user/user.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/wallet/wallet_header.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/wallet/wallet_meta.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_service.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/registration/exception/localized_registration_exception.dart
Owners: @minikin

chore: delete DummyCardanoWallet
  catalyst_voices/packages/catalyst_voices_models/lib/src/wallet/dummy_cardano_wallet.dart
Owners: @minikin

test(cat-voices): playwright tests refactoring
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/.env
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/.nvmrc
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/README.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/package-lock.json
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/playwright.config.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/test-fixtures.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/tests/wallet-tests.spec.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/tests/wallets.spec.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/tsconfig.json
Owners: @minikin, @stevenj

chore: cleanup wrong references
  catalyst_voices/lib/pages/registration/account_completed/account_completed_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/rbac_transaction_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/wallet_details_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/wallet_link_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/wallet_link_state_data.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
Owners: @minikin

fix: updating wallets list
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/wallet_link_cubit.dart
Owners: @minikin

feat: delayed progress bar
  catalyst_voices/lib/pages/registration/wallet_link/stage/select_wallet_panel.dart
Owners: @minikin

refactor: rename wallet meta class
  catalyst_voices/lib/pages/registration/wallet_link/stage/select_wallet_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/wallet_link_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/wallet_link_state_data.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_bloc.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/wallet/wallet_header.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/wallet/wallet_metadata.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_service.dart
Owners: @minikin

chore: more profile fields above constructor
  catalyst_voices/packages/catalyst_voices_models/lib/src/user/profile.dart
Owners: @minikin

refactor: Use shorter WalletInfo class name
  catalyst_voices/lib/pages/registration/account_completed/account_completed_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/rbac_transaction_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/wallet_details_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/recover_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/wallet_link_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/wallet_link_state_data.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_bloc.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/user/profile.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/wallet/wallet_info.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_service.dart
Owners: @minikin

fix: config endpoint
  catalyst-gateway/bin/src/db/event/config/key.rs
  catalyst-gateway/bin/src/db/event/config/mod.rs
  catalyst-gateway/bin/src/service/api/config/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Update catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/wallet_link_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/wallet_link_cubit.dart
Owners: @minikin

refactor: cleanup
  catalyst_voices/lib/widgets/footers/standard_links_page_footer.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/keychain/key_derivation.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_transaction_builder.dart
Owners: @minikin

feat: update snackbar to support custom messages
  catalyst_voices/lib/widgets/snackbar/voices_snackbar.dart
Owners: @minikin

feat: show localized snackbar errors
  catalyst_voices/lib/common/error_handler.dart
Owners: @minikin

feat: keychain unlock
  catalyst_voices/lib/pages/account/account_page.dart
  catalyst_voices/lib/pages/account/unlock_keychain_dialog.dart
  catalyst_voices/lib/pages/registration/pictures/unlock_keychain_picture.dart
  catalyst_voices/lib/widgets/app_bar/session/session_action_header.dart
  catalyst_voices/lib/widgets/app_bar/session/session_state_header.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_bloc.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_event.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_services/lib/src/keychain/keychain.dart
Owners: @minikin

refactor(cat-voices): user and wallet model (#999)
  catalyst_voices/lib/pages/registration/account_completed/account_completed_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/rbac_transaction_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/select_wallet_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/wallet_details_panel.dart
  catalyst_voices/lib/widgets/app_bar/session/session_state_header.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/recover_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/wallet_link_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/wallet_link_state_data.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_bloc.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/user/account_role.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/user/profile.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/user/user.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/wallet/dummy_cardano_wallet.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/wallet/wallet_info.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/wallet/wallet_metadata.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_service.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/registration/exception/localized_registration_exception.dart
Owners: @minikin

test(cat-voices): separating utils in files
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/.env
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/utils.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/utils/extension_downloader.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/utils/extensions.ts
Owners: @minikin, @stevenj

wip
  catalyst_voices/Earthfile
  catalyst_voices/integration_test/Earthfile
  catalyst_voices/integration_test/app_test.dart
Owners: @minikin

refactor: error handler
  catalyst_voices/lib/common/error_handler.dart
  catalyst_voices/lib/pages/account/unlock_keychain_dialog.dart
  catalyst_voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/bloc_error_emitter_mixin.dart
Owners: @minikin

fix: earthly deps
  catalyst_voices/Earthfile
Owners: @minikin

feat: add snackbars when locking / unlocking
  catalyst_voices/lib/pages/account/unlock_keychain_dialog.dart
  catalyst_voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/lib/widgets/app_bar/session/session_state_header.dart
  catalyst_voices/lib/widgets/snackbar/voices_snackbar.dart
  catalyst_voices/lib/widgets/snackbar/voices_snackbar_action.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/uikit_example/lib/examples/voices_snackbar_example.dart
Owners: @minikin

feat: add custom icon to snackbar
  catalyst_voices/lib/widgets/snackbar/voices_snackbar.dart
  catalyst_voices/uikit_example/lib/examples/voices_snackbar_example.dart
Owners: @minikin

feat: add icons to snackbars
  catalyst_voices/lib/pages/account/unlock_keychain_dialog.dart
  catalyst_voices/lib/widgets/app_bar/session/session_state_header.dart
Owners: @minikin

fix: ui fixes
  catalyst_voices/lib/pages/account/unlock_keychain_dialog.dart
  catalyst_voices/lib/widgets/app_bar/session/session_state_header.dart
  catalyst_voices/lib/widgets/snackbar/voices_snackbar.dart
Owners: @minikin

chore: cleanup
  catalyst_voices/lib/common/error_handler.dart
  catalyst_voices/lib/pages/account/account_page.dart
  catalyst_voices/lib/pages/account/unlock_keychain_dialog.dart
  catalyst_voices/lib/widgets/app_bar/session/session_action_header.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_bloc.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/authentication/authentication.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/authentication/exception/localized_unlock_password_exception.dart
Owners: @minikin

docs: improve
  catalyst_voices/lib/common/error_handler.dart
Owners: @minikin

chore: wip
  catalyst_voices/packages/catalyst_voices_services/lib/src/crypto/crypto_service.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/crypto/cryptography_crypto_service.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/secure_storage_vault.dart
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
Owners: @minikin

style: reformat
  catalyst_voices/lib/common/error_handler.dart
Owners: @minikin

fix: lazy lock validator and rename function
  catalyst-gateway/bin/src/db/event/config/key.rs
  catalyst-gateway/bin/src/db/event/config/mod.rs
  catalyst-gateway/bin/src/db/event/config/sql/insert.sql
  catalyst-gateway/bin/src/service/api/config/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: frontend default and json schema
  catalyst-gateway/bin/src/db/event/config/default/frontend.json
  catalyst-gateway/bin/src/db/event/config/jsonschema/frontend.json
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore:add license MIT
  catalyst-gateway/LICENSE-MIT
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: remove migration v2 to v9
  catalyst-gateway/event-db/migrations/V2__event_tables.sql
  catalyst-gateway/event-db/migrations/V3__objective_tables.sql
  catalyst-gateway/event-db/migrations/V4__proposal_tables.sql
  catalyst-gateway/event-db/migrations/V5__vote_plan.sql
  catalyst-gateway/event-db/migrations/V6__registration.sql
  catalyst-gateway/event-db/migrations/V7__vote_tables.sql
  catalyst-gateway/event-db/migrations/V8__catalyst_automation.sql
  catalyst-gateway/event-db/migrations/V9__moderation_stage.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: format
  catalyst-gateway/bin/src/db/event/config/key.rs
  catalyst-gateway/bin/src/settings/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: change license to MIT-0
  catalyst-gateway/LICENSE-MIT
  catalyst-gateway/MIT-0
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: remove license
  catalyst-gateway/MIT-0
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(cat-gateway): bump cardano-chain-follower to v0.0.4
  catalyst-gateway/bin/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
