Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

wip
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/service/api/health/live_get.rs
  catalyst-gateway/bin/src/service/api/health/mod.rs
  catalyst-gateway/bin/src/service/api/health/ready_get.rs
  catalyst-gateway/bin/src/service/api/health/started_get.rs
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/service/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix spelling
  catalyst-gateway/bin/src/service/api/cardano/sync_state_get.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix
  catalyst-gateway/bin/src/service/api/health/live_get.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

update set_started fn
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/service/api/health/mod.rs
  catalyst-gateway/bin/src/service/api/health/started_get.rs
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/service/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add witnesses management
  .config/dictionaries/project.dic
  catalyst_voices_packages/catalyst_cardano_serialization/lib/catalyst_cardano_serialization.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/exceptions.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/hashes.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/transaction.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/types.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/utils/cbor.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/address_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/fees_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/hashes_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/test_utils/test_data.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/transaction_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/utils/cbor_test.dart
Owners: @minikin, @stevenj

feat: add witnesses
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/witness.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/witness_test.dart
Owners: @minikin, @stevenj

feat: add witness builder
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/witness_builder.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/builders/witness_builder_test.dart
Owners: @minikin, @stevenj

try
  catalyst-gateway/tests/api_tests/api_tests/__init__.py
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

екн
  catalyst-gateway/tests/api_tests/api_tests/__init__.py
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: catalyst cardano witnesses management (#490)
  .config/dictionaries/project.dic
  catalyst_voices_packages/catalyst_cardano_serialization/lib/catalyst_cardano_serialization.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/exceptions.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/hashes.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/transaction.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/types.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/utils/cbor.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/witness.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/address_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/fees_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/hashes_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/test_utils/test_data.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/transaction_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/utils/cbor_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/witness_test.dart
Owners: @minikin, @stevenj

try
  catalyst-gateway/bin/src/service/api/health/live_get.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

try
  catalyst-gateway/bin/src/service/api/health/live_get.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

try
  catalyst-gateway/bin/src/service/api/health/live_get.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

try
  catalyst-gateway/bin/src/service/api/health/live_get.rs
  catalyst-gateway/tests/api_tests/api_tests/test_schema_mismatch_behavior.py
  catalyst-gateway/tests/api_tests/api_tests/test_slot_info.py
  catalyst-gateway/tests/api_tests/api_tests/test_utxo.py
  catalyst-gateway/tests/api_tests/api_tests/test_voter_registration.py
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

try
  catalyst-gateway/bin/src/service/api/health/live_get.rs
  catalyst-gateway/tests/api_tests/api_tests/test_schema_mismatch_behavior.py
  catalyst-gateway/tests/api_tests/api_tests/test_slot_info.py
  catalyst-gateway/tests/api_tests/api_tests/test_utxo.py
  catalyst-gateway/tests/api_tests/api_tests/test_voter_registration.py
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

try
  catalyst-gateway/bin/src/service/api/health/live_get.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix
  catalyst-gateway/bin/src/service/api/health/live_get.rs
  catalyst-gateway/bin/src/service/api/health/started_get.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add stringzilla to crate dependencies
  catalyst-gateway/Cargo.toml
  catalyst-gateway/bin/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add function to determine if a statement is a query operation
  catalyst-gateway/bin/src/event_db/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: update project dictionary
  .config/dictionaries/project.dic
Owners: none

feat: Add svg support for flutter_gen and add `CatalystSvgPicture` wrapper.
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_svg_picture.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_voices_assets.dart
  catalyst_voices/packages/catalyst_voices_assets/pubspec.yaml
Owners: @minikin

feat: Add Catalyst SVG logo version.
  catalyst_voices/lib/pages/coming_soon/logo.dart
  catalyst_voices/packages/catalyst_voices_assets/assets/images/catalyst_logo.svg
  catalyst_voices/packages/catalyst_voices_assets/assets/images/logo.webp
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/assets.gen.dart
Owners: @minikin

fix: aux hash
  utilities/wallet-tester/src/common/helpers/buildUnsignedTx.ts
Owners: none

fix: filter pollution
  utilities/wallet-tester/src/common/helpers/getCardano.ts
Owners: none

chore: fmt
  utilities/wallet-tester/src/common/helpers/getCardano.ts
Owners: none

feat: enable network ID
  utilities/wallet-tester/src/common/components/TxBuilder.tsx
  utilities/wallet-tester/src/common/helpers/buildUnsignedTx.ts
Owners: none

fix: note typo
  utilities/wallet-tester/src/common/helpers/buildUnsignedTx.ts
Owners: none

fix: typo
  utilities/wallet-tester/src/common/helpers/buildUnsignedTx.ts
Owners: none

fix: inspect statement to query or modify the DB
  catalyst-gateway/bin/src/event_db/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: improve is_query_stmt function
  catalyst-gateway/bin/src/event_db/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(wallet-tester): missing configurable aux hash and network ID (#500)
  utilities/wallet-tester/src/common/components/TxBuilder.tsx
  utilities/wallet-tester/src/common/helpers/buildUnsignedTx.ts
  utilities/wallet-tester/src/common/helpers/getCardano.ts
Owners: none

chore: Replace static `asset` method for CatalystSvgPicture and CatalystImage.
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_image.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_svg_picture.dart
Owners: @minikin

refactor default error responses
  catalyst-gateway/bin/src/service/api/cardano/staked_ada_get.rs
  catalyst-gateway/bin/src/service/api/health/live_get.rs
  catalyst-gateway/bin/src/service/api/health/ready_get.rs
  catalyst-gateway/bin/src/service/api/health/started_get.rs
  catalyst-gateway/bin/src/service/common/objects/server_error.rs
  catalyst-gateway/bin/src/service/common/responses/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/bin/src/service/api/cardano/staked_ada_get.rs
  catalyst-gateway/bin/src/service/api/health/live_get.rs
  catalyst-gateway/bin/src/service/api/health/ready_get.rs
  catalyst-gateway/bin/src/service/api/health/started_get.rs
  catalyst-gateway/bin/src/service/common/responses/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/bin/src/event_db/error.rs
  catalyst-gateway/bin/src/service/api/cardano/staked_ada_get.rs
  catalyst-gateway/bin/src/service/api/health/ready_get.rs
  catalyst-gateway/bin/src/service/common/responses/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/bin/src/service/api/cardano/date_time_to_slot_number_get.rs
  catalyst-gateway/bin/src/service/api/cardano/registration_get.rs
  catalyst-gateway/bin/src/service/api/cardano/sync_state_get.rs
  catalyst-gateway/bin/src/service/common/responses/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/bin/src/service/api/legacy/registration/mod.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/message_post.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/plans_get.rs
  catalyst-gateway/bin/src/service/api/legacy/v1/account_votes_get.rs
  catalyst-gateway/bin/src/service/api/legacy/v1/fragments_post.rs
  catalyst-gateway/bin/src/service/api/legacy/v1/fragments_statuses.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: Add svg support to flutter (#498)
  catalyst_voices/lib/pages/coming_soon/logo.dart
  catalyst_voices/packages/catalyst_voices_assets/assets/images/catalyst_logo.svg
  catalyst_voices/packages/catalyst_voices_assets/assets/images/logo.webp
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/assets.gen.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_image.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_svg_picture.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_voices_assets.dart
  catalyst_voices/packages/catalyst_voices_assets/pubspec.yaml
Owners: @minikin

feat: add transaction builder
  catalyst_voices_packages/catalyst_cardano_serialization/README.md
  catalyst_voices_packages/catalyst_cardano_serialization/example/main.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/catalyst_cardano_serialization.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/address.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/transaction_builder.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/witness_builder.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/exceptions.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/fees.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/hashes.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/transaction.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/types.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/utils/numbers.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/witness.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/fees_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/test_utils/test_data.dart
Owners: @minikin, @stevenj

refactor: cleanup code
  catalyst_voices_packages/catalyst_cardano_serialization/example/main.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/transaction_builder.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/test_utils/test_data.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/transaction_test.dart
Owners: @minikin, @stevenj
