Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs(CIPs): Move CIPs and submit them for review (#473)
  .config/dictionaries/project.dic
  docs/src/catalyst-standards/draft-cips/c509-plutus-restricted-certificate/cip-509C.md
  docs/src/catalyst-standards/draft-cips/project-catalyst-x509-role-defintions/cip-catalyst-roles.md
  docs/src/catalyst-standards/draft-cips/x509-envelope-metadata/cip-509A.md
  docs/src/catalyst-standards/draft-cips/x509-rbac-signing-with-cip30/cip-x509D.md
  docs/src/catalyst-standards/draft-cips/x509-role-registration-metadata/cip-509B.md
Owners: none

feat: ThemeBuilder support for dark themes.
  catalyst_voices/packages/catalyst_voices_brands/lib/src/theme_builder/theme_builder.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/fallback.dart
  catalyst_voices/packages/catalyst_voices_brands/test/src/catalyst_voices_brands_test.dart
Owners: @minikin

feat: Add light colors for Catalyst brand.
  catalyst_voices/lib/pages/coming_soon/description.dart
  catalyst_voices/lib/pages/coming_soon/logo.dart
  catalyst_voices/lib/pages/coming_soon/title.dart
  catalyst_voices/lib/pages/home/home_page.dart
  catalyst_voices/packages/catalyst_voices_assets/assets/colors/colors.xml
  catalyst_voices/packages/catalyst_voices_assets/example/lib/src/main.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/colors.gen.dart
  catalyst_voices/packages/catalyst_voices_brands/test/src/catalyst_voices_brands_test.dart
Owners: @minikin

feat: Add light Theme definition for Catalyst brand.
  .config/dictionaries/project.dic
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/packages/catalyst_voices_brands/pubspec.yaml
Owners: @minikin

feat: Add Catalyst dark theme.
  catalyst_voices/packages/catalyst_voices_assets/assets/colors/colors.xml
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/colors.gen.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/extended_color_scheme.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/fallback.dart
Owners: @minikin

fix(ci): Exclude Cargo.lock from git by default, only include it if explicitly required.
  .gitignore
  athena/.gitignore
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku

fix(ci): Remove cargo.lock from git repo
  catalyst-gateway/Cargo.lock
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add shelley address & cardano serialization lib
  .config/dictionaries/project.dic
  catalyst_voices/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano_serialization/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano_serialization/README.md
  catalyst_voices_packages/catalyst_cardano_serialization/analysis_options.yaml
  catalyst_voices_packages/catalyst_cardano_serialization/lib/catalyst_cardano_serialization.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/address.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/exceptions.dart
  catalyst_voices_packages/catalyst_cardano_serialization/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano_serialization/test/address_test.dart
Owners: @minikin, @stevenj

feat: Add icons colors to scheme.
  catalyst_voices/packages/catalyst_voices_assets/assets/colors/colors.xml
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/colors.gen.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/extended_color_scheme.dart
Owners: @minikin

fix: address to string
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/address.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/types.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/address_test.dart
Owners: @minikin, @stevenj

style: disable cspell for cardano addresses
  catalyst_voices_packages/catalyst_cardano_serialization/test/address_test.dart
Owners: @minikin, @stevenj

chore: Format.
  catalyst_voices/packages/catalyst_voices_brands/lib/src/theme_builder/theme_builder.dart
  catalyst_voices/packages/catalyst_voices_brands/test/src/catalyst_voices_brands_test.dart
Owners: @minikin

fix
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat/update-testplan-template
  docs/src/architecture/10_quality/testplans/template.md
Owners: none

fix: address hashcode
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/address.dart
Owners: @minikin, @stevenj

fix
  docs/src/architecture/10_quality/testplans/template.md
Owners: none

fix(ci): Bump earthly version to 0.8 and use new rust builders from cat-ci
  Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/test_driver/Earthfile
  docs/Earthfile
  utilities/wallet-tester/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(ci): Sync deny.toml to vendored version
  catalyst-gateway/deny.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(ci): Fix spelling
  .config/dictionaries/project.dic
Owners: none

refactor: make coin an extension type, rename magicId to id
  catalyst_voices_packages/catalyst_cardano_serialization/lib/catalyst_cardano_serialization.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/address.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/types.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/types_test.dart
Owners: @minikin, @stevenj

style: use expression syntax
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/address.dart
Owners: @minikin, @stevenj

fix(ci): sync with standard deny.toml from cat-ci
  catalyst-gateway/deny.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

style: use expressions
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/exceptions.dart
Owners: @minikin, @stevenj

style: typo
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/types.dart
Owners: @minikin, @stevenj

fix(ci): `target` is implied in output, so don;t reference it.
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add comparison operators
  catalyst_voices_packages/catalyst_cardano_serialization/lib/catalyst_cardano_serialization.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/types.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/types_test.dart
Owners: @minikin, @stevenj

feat: add greater or equal, less or equal operators
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/types.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/types_test.dart
Owners: @minikin, @stevenj

chore: Change name for VoicesColorScheme.
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/extended_color_scheme.dart
Owners: @minikin

fix(ci): fix the output declaration for cat-gateway
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: Update-testplan-template (#482)
  docs/src/architecture/10_quality/testplans/template.md
Owners: none

chore: Adjust Catalyst Theme line heights.
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
Owners: @minikin

wip
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(backend): Fix cat-gateway build issues from tools upgrade
  catalyst-gateway/.gitignore
  catalyst-gateway/Earthfile
  catalyst-gateway/bin/src/event_db/legacy/queries/search.rs
  catalyst-gateway/bin/src/event_db/legacy/types/search.rs
  catalyst-gateway/bin/src/event_db/legacy/types/voting_status.rs
  catalyst-gateway/bin/src/service/docs/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(ci): Use the merged down branch
  Earthfile
  catalyst-gateway/Cargo.toml
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(backend): Bump poem to latest current versions, and correct small issues in the code because of it.
  catalyst-gateway/Cargo.toml
  catalyst-gateway/bin/src/service/utilities/middleware/schema_validation.rs
  catalyst-gateway/bin/src/service/utilities/middleware/tracing_mw.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

update ValidationError handling
  catalyst-gateway/Cargo.lock
  catalyst-gateway/bin/src/cardano/util.rs
  catalyst-gateway/bin/src/service/api/cardano/date_time_to_slot_number_get.rs
  catalyst-gateway/bin/src/service/api/cardano/registration_get.rs
  catalyst-gateway/bin/src/service/api/cardano/staked_ada_get.rs
  catalyst-gateway/bin/src/service/api/cardano/sync_state_get.rs
  catalyst-gateway/bin/src/service/api/health/ready_get.rs
  catalyst-gateway/bin/src/service/common/responses/mod.rs
  catalyst-gateway/bin/src/service/utilities/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add utils for transaction hash
  .config/dictionaries/project.dic
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/exceptions.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/hashes.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/types.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/address_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/hashes_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/types_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/utils/test_data.dart
  melos.yaml
Owners: @minikin, @stevenj

feat: add transaction serialization
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/fees.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/transaction.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/transaction_test.dart
Owners: @minikin, @stevenj

feat: add algorithm for fee calculation
  catalyst_voices_packages/catalyst_cardano_serialization/lib/catalyst_cardano_serialization.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/fees_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/transaction_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/utils/test_data.dart
Owners: @minikin, @stevenj

docs: improve method
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/fees.dart
Owners: @minikin, @stevenj

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
