Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(backend): indexing WIP
  catalyst-gateway/Cargo.toml
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/cardano/mod.rs
  catalyst-gateway/bin/src/cardano/util.rs
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/db/index/block.rs
  catalyst-gateway/bin/src/db/index/index_certs.rs
  catalyst-gateway/bin/src/db/index/index_txi.rs
  catalyst-gateway/bin/src/db/index/index_txo.rs
  catalyst-gateway/bin/src/db/index/mod.rs
  catalyst-gateway/bin/src/db/index/queries.rs
  catalyst-gateway/bin/src/db/index/queries/insert_stake_registration.cql
  catalyst-gateway/bin/src/db/index/queries/insert_txi.cql
  catalyst-gateway/bin/src/db/index/queries/insert_txo.cql
  catalyst-gateway/bin/src/db/index/queries/insert_txo_asset.cql
  catalyst-gateway/bin/src/db/index/queries/insert_unstaked_txo.cql
  catalyst-gateway/bin/src/db/index/queries/insert_unstaked_txo_asset.cql
  catalyst-gateway/bin/src/db/index/schema.rs
  catalyst-gateway/bin/src/db/index/schema/stake_hash_to_stake_address.cql
  catalyst-gateway/bin/src/db/index/schema/stake_registration.cql
  catalyst-gateway/bin/src/db/index/schema/txo_assets_by_stake_table.cql
  catalyst-gateway/bin/src/db/index/schema/unstaked_txo_assets_by_txn_hash.cql
  catalyst-gateway/bin/src/db/index/session.rs
  catalyst-gateway/bin/src/service/api/health/live_get.rs
  catalyst-gateway/bin/src/settings.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

LabelDecorator tests
  catalyst_voices/packages/catalyst_voices_brands/lib/src/theme_extensions/voices_color_scheme.dart
  catalyst_voices/test/widgets/common/label_decorator_test.dart
Owners: @minikin

feat: CheckboxGroup initial draft
  catalyst_voices/lib/widgets/toggles/voices_checkbox_group.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/uikit_example/lib/examples/voices_checkbox_example.dart
Owners: @minikin

feat: finish VoicesCheckboxGroup widget
  catalyst_voices/lib/widgets/toggles/voices_checkbox_group.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/widgets/toggles_theme.dart
  catalyst_voices/uikit_example/lib/examples/voices_checkbox_example.dart
Owners: @minikin

fix: static analyze warning + some VoicesCheckboxGroupElement tests
  catalyst_voices/lib/widgets/toggles/voices_checkbox_group.dart
  catalyst_voices/test/widgets/toggles/voices_checkbox_group_test.dart
Owners: @minikin

test: VoicesCheckboxGroup and VoicesCheckbox tests
  catalyst_voices/lib/widgets/toggles/voices_checkbox_group.dart
  catalyst_voices/test/widgets/toggles/voices_checkbox_group_test.dart
  catalyst_voices/test/widgets/toggles/voices_checkbox_test.dart
  catalyst_voices/uikit_example/lib/examples/voices_checkbox_example.dart
Owners: @minikin

fix: test name typo
  catalyst_voices/test/widgets/toggles/voices_checkbox_group_test.dart
Owners: @minikin

feat: VoicesCheckbox, VoicesCheckboxGroup, VoicesRadio (#663)
  .config/dictionaries/project.dic
  catalyst_voices/lib/widgets/common/label_decorator.dart
  catalyst_voices/lib/widgets/toggles/voices_checkbox.dart
  catalyst_voices/lib/widgets/toggles/voices_checkbox_group.dart
  catalyst_voices/lib/widgets/toggles/voices_radio.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/theme_extensions/voices_color_scheme.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/widgets/toggles_theme.dart
  catalyst_voices/pubspec.yaml
  catalyst_voices/test/widgets/common/affix_decorator_test.dart
  catalyst_voices/test/widgets/common/label_decorator_test.dart
  catalyst_voices/test/widgets/toggles/voices_checkbox_group_test.dart
  catalyst_voices/test/widgets/toggles/voices_checkbox_test.dart
  catalyst_voices/uikit_example/lib/examples/voices_checkbox_example.dart
  catalyst_voices/uikit_example/lib/examples/voices_radio_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

docs(cips): Add Formal Defintion of auth token
  docs/src/catalyst-standards/permissionless-auth/x509-roles.cddl
Owners: none

fix(docs): Fix comments in cddl file
  docs/src/catalyst-standards/permissionless-auth/x509-roles.cddl
Owners: none

fix(docs): sig size
  docs/src/catalyst-standards/permissionless-auth/x509-roles.cddl
Owners: none

fix(docs): Rename CDDL for the auth token
  docs/src/catalyst-standards/permissionless-auth/auth-token.cddl
Owners: none

chore!: remove federated plugin structure from catalyst_cose
  catalyst_voices_packages/catalyst_cose/catalyst_cose/CHANGELOG.md
  catalyst_voices_packages/catalyst_cose/catalyst_cose/LICENSE
  catalyst_voices_packages/catalyst_cose/catalyst_cose/README.md
  catalyst_voices_packages/catalyst_cose/catalyst_cose/analysis_options.yaml
  catalyst_voices_packages/catalyst_cose/catalyst_cose/example/main.dart
  catalyst_voices_packages/catalyst_cose/catalyst_cose/lib/catalyst_cose.dart
  catalyst_voices_packages/catalyst_cose/catalyst_cose/lib/src/catalyst_cose.dart
  catalyst_voices_packages/catalyst_cose/catalyst_cose/pubspec.yaml
  catalyst_voices_packages/catalyst_cose/catalyst_cose_platform_interface/CHANGELOG.md
  catalyst_voices_packages/catalyst_cose/catalyst_cose_platform_interface/LICENSE
  catalyst_voices_packages/catalyst_cose/catalyst_cose_platform_interface/README.md
  catalyst_voices_packages/catalyst_cose/catalyst_cose_platform_interface/analysis_options.yaml
  catalyst_voices_packages/catalyst_cose/catalyst_cose_platform_interface/example/main.dart
  catalyst_voices_packages/catalyst_cose/catalyst_cose_platform_interface/lib/catalyst_cose_platform_interface.dart
  catalyst_voices_packages/catalyst_cose/catalyst_cose_platform_interface/lib/src/catalyst_cose_platform.dart
  catalyst_voices_packages/catalyst_cose/catalyst_cose_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_cose/catalyst_cose_web/CHANGELOG.md
  catalyst_voices_packages/catalyst_cose/catalyst_cose_web/LICENSE
  catalyst_voices_packages/catalyst_cose/catalyst_cose_web/README.md
  catalyst_voices_packages/catalyst_cose/catalyst_cose_web/analysis_options.yaml
  catalyst_voices_packages/catalyst_cose/catalyst_cose_web/assets/js/.gitignore
  catalyst_voices_packages/catalyst_cose/catalyst_cose_web/assets/js/README.md
  catalyst_voices_packages/catalyst_cose/catalyst_cose_web/assets/js/catalyst_cose.js
  catalyst_voices_packages/catalyst_cose/catalyst_cose_web/assets/js/main.js
  catalyst_voices_packages/catalyst_cose/catalyst_cose_web/assets/js/package.json
  catalyst_voices_packages/catalyst_cose/catalyst_cose_web/example/main.dart
  catalyst_voices_packages/catalyst_cose/catalyst_cose_web/lib/catalyst_cose_web.dart
  catalyst_voices_packages/catalyst_cose/catalyst_cose_web/lib/src/interop/catalyst_cose_interop.dart
  catalyst_voices_packages/catalyst_cose/catalyst_cose_web/pubspec.yaml
Owners: @minikin, @stevenj

refactor!: prevent extending plugin classes
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/lib/src/catalyst_cardano.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/catalyst_cardano_web.dart
  catalyst_voices_packages/catalyst_compression/catalyst_compression/lib/src/catalyst_compression.dart
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/lib/catalyst_compression_web.dart
Owners: @minikin, @stevenj

feat: implement COSE_SIGN1 signatures and verification
  .config/dictionaries/project.dic
  catalyst_voices_packages/catalyst_cose/CHANGELOG.md
  catalyst_voices_packages/catalyst_cose/LICENSE
  catalyst_voices_packages/catalyst_cose/README.md
  catalyst_voices_packages/catalyst_cose/analysis_options.yaml
  catalyst_voices_packages/catalyst_cose/example/main.dart
  catalyst_voices_packages/catalyst_cose/lib/catalyst_cose.dart
  catalyst_voices_packages/catalyst_cose/lib/src/catalyst_cose.dart
  catalyst_voices_packages/catalyst_cose/pubspec.yaml
  catalyst_voices_packages/catalyst_cose/test/catalyst_cose_test.dart
  cspell.json
Owners: @minikin, @stevenj

chore: make tests repeatable
  catalyst_voices_packages/catalyst_cose/README.md
  catalyst_voices_packages/catalyst_cose/example/main.dart
  catalyst_voices_packages/catalyst_cose/test/catalyst_cose_test.dart
Owners: @minikin, @stevenj

docs: markdown fixes
  catalyst_voices_packages/catalyst_cose/README.md
Owners: @minikin, @stevenj

refactor: lints
  catalyst_voices_packages/catalyst_cose/test/catalyst_cose_test.dart
Owners: @minikin, @stevenj

docs(docs): Add auth-header documentation
  docs/src/catalyst-standards/permissionless-auth/auth-header.md
Owners: none

docs(docs): Fix markdown line length error
  .markdownlint.jsonc
  docs/src/catalyst-standards/permissionless-auth/auth-header.md
Owners: none

fix: remove file not needed
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/wallet-automation/package.json
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/wallet-automation/typhon/wallet-extension.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/wallet-automation/typhon/wallet-test.spec.ts
Owners: @minikin, @stevenj

feat: VoicesSwitch widget
  catalyst_voices/lib/widgets/toggles/voices_switch.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/widgets/toggles_theme.dart
  catalyst_voices/uikit_example/lib/examples/voices_switch_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

feat: add kid
  catalyst_voices_packages/catalyst_cose/README.md
  catalyst_voices_packages/catalyst_cose/example/main.dart
  catalyst_voices_packages/catalyst_cose/lib/src/catalyst_cose.dart
  catalyst_voices_packages/catalyst_cose/test/catalyst_cose_test.dart
Owners: @minikin, @stevenj

feat: VoicesDivider
  catalyst_voices/lib/widgets/separators/voices_divider.dart
  catalyst_voices/lib/widgets/separators/voices_named_divider.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/uikit_example/lib/examples/voices_separators_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

feat: VoicesIndicators
  catalyst_voices/lib/widgets/indicators/voices_circular_progress_indicator.dart
  catalyst_voices/lib/widgets/indicators/voices_linear_progress_indicator.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/uikit_example/lib/examples/voices_indicators_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

fix: missing comma
  catalyst_voices/uikit_example/lib/examples/voices_indicators_example.dart
Owners: @minikin

chore: add tests validating cose_sign1 is a valid cbor
  catalyst_voices_packages/catalyst_cose/test/catalyst_cose_test.dart
Owners: @minikin, @stevenj

fix:clean up
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/wallet-automation/playwright.config.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/wallet-automation/typhon/cardano-wallet-tests.spec.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/wallet-automation/typhon/typhon-wallet-registration.spec.ts
Owners: @minikin, @stevenj

feat: add auth token generator
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/auth_token.dart
  catalyst_voices_packages/catalyst_cardano_serialization/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano_serialization/test/rbac/auth_token_test.dart
  melos.yaml
Owners: @minikin, @stevenj

docs: markdown format
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/auth_token.dart
Owners: @minikin, @stevenj

chore: lint issues
  catalyst_voices_packages/catalyst_cardano_serialization/lib/catalyst_cardano_serialization.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/rbac/auth_token_test.dart
Owners: @minikin, @stevenj

fix: flutter integration tests
  catalyst_voices/test_driver/Earthfile
Owners: @minikin

fix: remove secret check
  catalyst_voices/Earthfile
Owners: @minikin

feat: add empty wallet test
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/wallet-automation/typhon/cardano-wallet-tests.spec.ts
Owners: @minikin, @stevenj

fix: gitignore
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/.gitignore
Owners: @minikin, @stevenj

feat: ProcessProgressIndicator with leading
  catalyst_voices/lib/widgets/indicators/process_progress_indicator.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/uikit_example/lib/examples/voices_indicators_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

feat: finish ProcessProgressIndicator widget
  catalyst_voices/lib/widgets/indicators/process_progress_indicator.dart
  catalyst_voices/uikit_example/lib/examples/voices_indicators_example.dart
Owners: @minikin

fix: documentation update, rename divider with name to VoicesTextDivider
  catalyst_voices/lib/widgets/indicators/voices_circular_progress_indicator.dart
  catalyst_voices/lib/widgets/indicators/voices_linear_progress_indicator.dart
  catalyst_voices/lib/widgets/separators/voices_divider.dart
  catalyst_voices/lib/widgets/separators/voices_named_divider.dart
  catalyst_voices/lib/widgets/separators/voices_text_divider.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/uikit_example/lib/examples/voices_separators_example.dart
Owners: @minikin

feat: VoicesVerticalDivider
  catalyst_voices/lib/widgets/separators/voices_vertical_divider.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/uikit_example/lib/examples/voices_separators_example.dart
Owners: @minikin

fix: Remove Switch category annotation
  catalyst_voices/lib/widgets/toggles/voices_switch.dart
Owners: @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
