Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix
  catalyst-gateway/README.md
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix spelling
  catalyst-gateway/README.md
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

update entry.sh comments
  catalyst-gateway/scripts/entry.sh
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/README.md
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/settings.rs
  catalyst-gateway/docker-compose.yml
  catalyst-gateway/tests/api_tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix
  catalyst-gateway/README.md
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor: move dependency injection to catalyst_voices_shared package
  catalyst_voices/lib/app/view/app_page.dart
  catalyst_voices/lib/dependency/dependencies.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/catalyst_voices_blocs.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/dependency/dependency_provider.dart
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/dependency/dependency_provider.dart
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
Owners: @minikin

doc: improve instance setter docs
  catalyst_voices/packages/catalyst_voices_shared/lib/src/dependency/dependency_provider.dart
Owners: @minikin

fix: allow to override dependencies instance to allow integration_tests to start multiple app instances
  catalyst_voices/packages/catalyst_voices_shared/lib/src/dependency/dependency_provider.dart
Owners: @minikin

refactor: use dependencies instead of dependency provider
  catalyst_voices/lib/app/view/app_page.dart
Owners: @minikin

chore: cleanup imports
  catalyst_voices/lib/app/view/app_page.dart
Owners: @minikin

refactor: move dependency injection to catalyst_voices_shared package (#438)
  catalyst_voices/lib/app/view/app_page.dart
  catalyst_voices/lib/dependency/dependencies.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/catalyst_voices_blocs.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/dependency/dependency_provider.dart
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/dependency/dependency_provider.dart
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
Owners: @minikin

wip
  docs/src/architecture/10_quality_requirements.md
Owners: none

fix: update wasm testing
  catalyst-gateway/crates/c509-certificate/Earthfile
  catalyst-gateway/crates/c509-certificate/index.html
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: remove clippy toml
  catalyst-gateway/crates/c509-certificate/clippy.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: update cargo toml
  catalyst-gateway/Cargo.toml
  catalyst-gateway/crates/c509-certificate/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: spelling
  .config/dictionaries/project.dic
  catalyst-gateway/crates/c509-certificate/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: revert test report
  .github/workflows/generate-allure-report.yml
Owners: none

chore: add comment
  catalyst-gateway/crates/c509-certificate/index.html
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: update message
  catalyst-gateway/crates/c509-certificate/index.html
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: update cargo.toml
  catalyst-gateway/Cargo.lock
  catalyst-gateway/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: fix format
  catalyst-gateway/crates/c509-certificate/src/lib.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: linter
  catalyst-gateway/crates/c509-certificate/src/lib.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: update cargo toml
  catalyst-gateway/Cargo.toml
  catalyst-gateway/crates/c509-certificate/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor
  catalyst-gateway/bin/src/cardano/mod.rs
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/event_db/cardano/follower/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/sync_state_get.rs
  catalyst-gateway/bin/src/settings.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add federated package structure for cardano_multiplatform_lib
  .gitignore
  catalyst_voices/melos_catalyst_voices.iml
  catalyst_voices/packages/catalyst_voices_models/melos_catalyst_voices_models.iml
  catalyst_voices_packages/cardano_multiplatform_lib/cardano_multiplatform_lib/CHANGELOG.md
  catalyst_voices_packages/cardano_multiplatform_lib/cardano_multiplatform_lib/README.md
  catalyst_voices_packages/cardano_multiplatform_lib/cardano_multiplatform_lib/analysis_options.yaml
  catalyst_voices_packages/cardano_multiplatform_lib/cardano_multiplatform_lib/lib/cardano_multiplatform_lib.dart
  catalyst_voices_packages/cardano_multiplatform_lib/cardano_multiplatform_lib/lib/src/cardano_multiplatform_lib.dart
  catalyst_voices_packages/cardano_multiplatform_lib/cardano_multiplatform_lib/pubspec.yaml
  catalyst_voices_packages/cardano_multiplatform_lib/cardano_multiplatform_lib/test/cardano_multiplatform_lib_test.dart
  catalyst_voices_packages/cardano_multiplatform_lib/cardano_multiplatform_lib_platform_interface/CHANGELOG.md
  catalyst_voices_packages/cardano_multiplatform_lib/cardano_multiplatform_lib_platform_interface/README.md
  catalyst_voices_packages/cardano_multiplatform_lib/cardano_multiplatform_lib_platform_interface/analysis_options.yaml
  catalyst_voices_packages/cardano_multiplatform_lib/cardano_multiplatform_lib_platform_interface/lib/cardano_multiplatform_lib_platform_interface.dart
  catalyst_voices_packages/cardano_multiplatform_lib/cardano_multiplatform_lib_platform_interface/lib/src/cardano_multiplatform_lib_platform.dart
  catalyst_voices_packages/cardano_multiplatform_lib/cardano_multiplatform_lib_platform_interface/pubspec.yaml
  catalyst_voices_packages/cardano_multiplatform_lib/cardano_multiplatform_lib_platform_interface/test/cardano_multiplatform_lib_platform_interface_test.dart
  catalyst_voices_packages/cardano_multiplatform_lib/cardano_multiplatform_lib_web/CHANGELOG.md
  catalyst_voices_packages/cardano_multiplatform_lib/cardano_multiplatform_lib_web/README.md
  catalyst_voices_packages/cardano_multiplatform_lib/cardano_multiplatform_lib_web/analysis_options.yaml
  catalyst_voices_packages/cardano_multiplatform_lib/cardano_multiplatform_lib_web/lib/cardano_multiplatform_lib_web.dart
  catalyst_voices_packages/cardano_multiplatform_lib/cardano_multiplatform_lib_web/pubspec.yaml
  catalyst_voices_packages/cardano_multiplatform_lib/cardano_multiplatform_lib_web/test/cardano_multiplatform_lib_web_test.dart
  melos.yaml
  melos_catalyst_voices.iml
Owners: @minikin, @stevenj

feat: Update cat-gateway packaging, update README.md with guidance how to locally spin up cat-gateway with event-db (#437)
  catalyst-gateway/Earthfile
  catalyst-gateway/README.md
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/settings.rs
  catalyst-gateway/docker-compose.yml
  catalyst-gateway/event-db/Readme.md
  catalyst-gateway/event-db/docker-compose.yml
  catalyst-gateway/scripts/entry.sh
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst-gateway/tests/schemathesis-docker-compose.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

style: improve changelog style to fix analyzer issues
  catalyst_voices_packages/cardano_multiplatform_lib/cardano_multiplatform_lib/CHANGELOG.md
  catalyst_voices_packages/cardano_multiplatform_lib/cardano_multiplatform_lib_platform_interface/CHANGELOG.md
  catalyst_voices_packages/cardano_multiplatform_lib/cardano_multiplatform_lib_web/CHANGELOG.md
Owners: @minikin, @stevenj

fix: update cargo toml
  catalyst-gateway/Cargo.toml
  catalyst-gateway/crates/c509-certificate/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: update project dic
  .config/dictionaries/project.dic
Owners: none

docs: document better instance initialization with assertions
  catalyst_voices_packages/cardano_multiplatform_lib/cardano_multiplatform_lib_platform_interface/lib/src/cardano_multiplatform_lib_platform.dart
Owners: @minikin, @stevenj

chore: add cardano multiplatform lib related words to cspell dictionary
  .config/dictionaries/project.dic
Owners: none

fix: remove wasm-pack install
  catalyst-gateway/crates/c509-certificate/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: run melos bootstrap before running tests to make sure melos overrides paths to local packages
  catalyst_voices/Earthfile
Owners: @minikin

wip
  catalyst-gateway/bin/src/cardano/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

remove unused timing pattern
  catalyst-gateway/bin/src/event_db/cardano/config/mod.rs
  catalyst-gateway/event-db/migrations/V1__config_tables.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add config
  catalyst-gateway/crates/c509-certificate/.cargo/config.toml
  catalyst-gateway/crates/c509-certificate/.config/nextest.toml
  catalyst-gateway/crates/c509-certificate/clippy.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: earthly for c509
  catalyst-gateway/crates/c509-certificate/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: remove empty tests which cause code coverage failure
  catalyst_voices_packages/cardano_multiplatform_lib/cardano_multiplatform_lib/test/cardano_multiplatform_lib_test.dart
  catalyst_voices_packages/cardano_multiplatform_lib/cardano_multiplatform_lib_platform_interface/test/cardano_multiplatform_lib_platform_interface_test.dart
  catalyst_voices_packages/cardano_multiplatform_lib/cardano_multiplatform_lib_web/test/cardano_multiplatform_lib_web_test.dart
Owners: @minikin, @stevenj

return data_refresh_tick
  catalyst-gateway/bin/src/cardano/mod.rs
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/event_db/cardano/config/mod.rs
  catalyst-gateway/bin/src/settings.rs
  catalyst-gateway/event-db/migrations/V1__config_tables.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor: rename cardano_multiplatform_lib to catalyst_cardano
  catalyst_voices_packages/cardano_multiplatform_lib/cardano_multiplatform_lib/README.md
  catalyst_voices_packages/cardano_multiplatform_lib/cardano_multiplatform_lib/lib/cardano_multiplatform_lib.dart
  catalyst_voices_packages/cardano_multiplatform_lib/cardano_multiplatform_lib/lib/src/cardano_multiplatform_lib.dart
  catalyst_voices_packages/cardano_multiplatform_lib/cardano_multiplatform_lib_platform_interface/README.md
  catalyst_voices_packages/cardano_multiplatform_lib/cardano_multiplatform_lib_platform_interface/lib/cardano_multiplatform_lib_platform_interface.dart
  catalyst_voices_packages/cardano_multiplatform_lib/cardano_multiplatform_lib_web/README.md
  catalyst_voices_packages/cardano_multiplatform_lib/cardano_multiplatform_lib_web/lib/cardano_multiplatform_lib_web.dart
  catalyst_voices_packages/cardano_multiplatform_lib/cardano_multiplatform_lib_web/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/README.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/analysis_options.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/lib/catalyst_cardano.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/lib/src/catalyst_cardano.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/README.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/analysis_options.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/lib/catalyst_cardano_platform_interface.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/lib/src/catalyst_cardano_platform.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/README.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/analysis_options.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/catalyst_cardano_web.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/pubspec.yaml
Owners: @minikin, @stevenj

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
