Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix CI
  docs/src/architecture/08_concepts/immutable_ledger/ledger.md
  docs/src/catalyst-standards/cbor_tags/blake.md
Owners: none

fix cddl
  docs/src/architecture/08_concepts/immutable_ledger/cddl/block.cddl
  docs/src/architecture/08_concepts/immutable_ledger/cddl/genesis_to_prev_hash.cddl
Owners: none

fix(catalyst_cardano_serialization): Add `Redeemer` class and allow malformed UTF-8 in `AssetName`
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/redeemer.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/types.dart
Owners: @minikin, @stevenj

feat(cat security scheme): open api
  catalyst-gateway/bin/src/service/api/auth/endpoint.rs
  catalyst-gateway/bin/src/service/api/auth/mod.rs
  catalyst-gateway/bin/src/service/api/auth/token.rs
  catalyst-gateway/bin/src/service/api/health/mod.rs
  catalyst-gateway/bin/src/service/docs/stoplight_elements/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: make text field resizable
  catalyst_voices/lib/widgets/text_field/voices_text_field.dart
  catalyst_voices/packages/catalyst_voices_assets/assets/images/dragger.svg
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/assets.gen.dart
  catalyst_voices/uikit_example/lib/examples/voices_text_field_example.dart
Owners: @minikin

fix: don't make widget resizable if it defines min & max lines
  catalyst_voices/lib/widgets/text_field/voices_text_field.dart
Owners: @minikin

refactor: cleanup code
  catalyst_voices/lib/widgets/text_field/voices_text_field.dart
Owners: @minikin

feat: make it configurable whether the text field is resizable
  catalyst_voices/lib/widgets/text_field/voices_text_field.dart
Owners: @minikin

refactor: rename extension build functions
  catalyst_voices/lib/widgets/drawer/voices_drawer.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/assets_ext.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_svg_icon.dart
  catalyst_voices/uikit_example/lib/examples/voices_spaces_example.dart
Owners: @minikin

feat: text field resizable (#714)
  catalyst_voices/lib/widgets/text_field/voices_text_field.dart
  catalyst_voices/packages/catalyst_voices_assets/assets/images/dragger.svg
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/assets.gen.dart
  catalyst_voices/uikit_example/lib/examples/voices_text_field_example.dart
Owners: @minikin

fix: data signature
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/main.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/pubspec.yaml
Owners: @minikin, @stevenj

chore: uncomment
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/main.dart
Owners: @minikin, @stevenj

wip
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/wallet-tests.spec.ts
Owners: @minikin, @stevenj

fix spelling
  docs/src/architecture/08_concepts/immutable_ledger/cddl/block.cddl
  docs/src/architecture/08_concepts/immutable_ledger/ledger.md
Owners: none

Update docs/src/architecture/08_concepts/immutable_ledger/ledger.md
  docs/src/architecture/08_concepts/immutable_ledger/ledger.md
Owners: none

Update docs/src/architecture/08_concepts/immutable_ledger/ledger.md
  docs/src/architecture/08_concepts/immutable_ledger/ledger.md
Owners: none

Update docs/src/architecture/08_concepts/immutable_ledger/ledger.md
  docs/src/architecture/08_concepts/immutable_ledger/ledger.md
Owners: none

feat: menu - remove unnecessary test group
  catalyst_voices/test/widgets/menu/voices_menu_test.dart
Owners: @minikin

feat: menu - test group name as class, not string
  catalyst_voices/test/widgets/menu/voices_menu_test.dart
Owners: @minikin

fix
  docs/src/architecture/08_concepts/immutable_ledger/ledger.md
Owners: none

feat: menu - pass IconData instead of Icon
  catalyst_voices/lib/widgets/menu/voices_menu.dart
  catalyst_voices/test/widgets/menu/voices_menu_test.dart
  catalyst_voices/uikit_example/lib/examples/voices_menu_example.dart
Owners: @minikin

chore: documentation + tests
  catalyst_voices/lib/widgets/common/link_text.dart
  catalyst_voices/lib/widgets/common/navigation_location.dart
  catalyst_voices/lib/widgets/footers/standard_links_page_footer.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/test/widgets/common/link_text_test.dart
  catalyst_voices/test/widgets/common/navigation_location_test.dart
  catalyst_voices/uikit_example/lib/examples/voices_spaces_example.dart
Owners: @minikin

refactor: move icons to assets/images from internal_resources/icons
  catalyst_voices/lib/widgets/footers/standard_links_page_footer.dart
  catalyst_voices/lib/widgets/text_field/voices_text_field.dart
  catalyst_voices/packages/catalyst_voices_assets/assets/images/facebook.svg
  catalyst_voices/packages/catalyst_voices_assets/assets/images/facebook_mono.svg
  catalyst_voices/packages/catalyst_voices_assets/assets/images/linkedin.svg
  catalyst_voices/packages/catalyst_voices_assets/assets/images/linkedin_mono.svg
  catalyst_voices/packages/catalyst_voices_assets/assets/images/x.svg
  catalyst_voices/packages/catalyst_voices_assets/assets/images/x_mono.svg
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/assets.gen.dart
  catalyst_voices/packages/catalyst_voices_assets/pubspec.yaml
Owners: @minikin

feat: menu - show correct pointer
  catalyst_voices/uikit_example/lib/examples/voices_menu_example.dart
Owners: @minikin

fix: navigation location parts spacing
  catalyst_voices/lib/widgets/common/navigation_location.dart
  catalyst_voices/test/widgets/common/navigation_location_test.dart
Owners: @minikin

fix: footer scrolling behaviour
  catalyst_voices/uikit_example/lib/examples/voices_spaces_example.dart
Owners: @minikin

feat: menu - better dealing with icon.data
  catalyst_voices/lib/widgets/menu/voices_menu.dart
Owners: @minikin

chore: add missing comma
  catalyst_voices/uikit_example/lib/examples/voices_spaces_example.dart
Owners: @minikin

feat(cat security scheme): open api
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/service/api/auth/endpoint.rs
  catalyst-gateway/bin/src/service/api/auth/token.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: menu - add id to MenuItem and change onTap signature
  catalyst_voices/lib/widgets/menu/voices_menu.dart
  catalyst_voices/uikit_example/lib/examples/voices_menu_example.dart
Owners: @minikin

fix: doc typo
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_svg_icon.dart
Owners: @minikin

fix(backend-lib): Add stop for cassandra db cluster
  utilities/local-scylla/justfile
Owners: none

feat: menu - fix formatting
  catalyst_voices/uikit_example/lib/examples/voices_menu_example.dart
Owners: @minikin

feat: menu - fix tests
  catalyst_voices/test/widgets/menu/voices_menu_test.dart
Owners: @minikin

feat: discovery_spaces (#718)
  catalyst_voices/lib/widgets/app_bar/voices_app_bar.dart
  catalyst_voices/lib/widgets/common/link_text.dart
  catalyst_voices/lib/widgets/common/navigation_location.dart
  catalyst_voices/lib/widgets/drawer/voices_drawer.dart
  catalyst_voices/lib/widgets/footers/links_page_footer.dart
  catalyst_voices/lib/widgets/footers/page_footer.dart
  catalyst_voices/lib/widgets/footers/standard_links_page_footer.dart
  catalyst_voices/lib/widgets/text_field/voices_text_field.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_assets/assets/images/facebook.svg
  catalyst_voices/packages/catalyst_voices_assets/assets/images/facebook_mono.svg
  catalyst_voices/packages/catalyst_voices_assets/assets/images/linkedin.svg
  catalyst_voices/packages/catalyst_voices_assets/assets/images/linkedin_mono.svg
  catalyst_voices/packages/catalyst_voices_assets/assets/images/x.svg
  catalyst_voices/packages/catalyst_voices_assets/assets/images/x_mono.svg
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/assets.gen.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/assets_ext.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_svg_icon.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_svg_picture.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_voices_assets.dart
  catalyst_voices/packages/catalyst_voices_assets/pubspec.yaml
  catalyst_voices/test/widgets/common/link_text_test.dart
  catalyst_voices/test/widgets/common/navigation_location_test.dart
  catalyst_voices/uikit_example/lib/examples/voices_spaces_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

feat: menu (#712)
  catalyst_voices/lib/widgets/menu/voices_menu.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/test/widgets/menu/voices_menu_test.dart
  catalyst_voices/uikit_example/lib/examples/voices_menu_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

feat: blank screen
  catalyst_voices/uikit_example/lib/examples/voices_treasury_space.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

fix(catalyst_cardano_serialization): update for Poll Request review
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/hashes.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/redeemer.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/transaction_output.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/witness.dart
Owners: @minikin, @stevenj

refactor: Clean up ResponsiveBuilder as well as VoicesAppBar
  catalyst_voices/lib/widgets/app_bar/voices_app_bar.dart
  catalyst_voices/lib/widgets/buttons/voices_buttons.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/responsive/responsive_builder.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/responsive/responsive_child.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/responsive/responsive_padding.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/utils/typedefs.dart
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/test/src/responsive_builder_test.dart
  catalyst_voices/uikit_example/lib/examples/voices_treasury_space.dart
Owners: @minikin

chore: upgrade flutter to 3.24.1, dart to 3.5.0
  .github/workflows/flutter-publish-packages.yml
  catalyst_voices/README.md
  catalyst_voices/packages/catalyst_voices_assets/example/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_assets/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_brands/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_localization/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_repositories/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_view_models/pubspec.yaml
  catalyst_voices/pubspec.yaml
  catalyst_voices/uikit_example/pubspec.yaml
  catalyst_voices_packages/README.md
  catalyst_voices_packages/catalyst_analysis/example/pubspec.yaml
  catalyst_voices_packages/catalyst_analysis/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/README.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano_serialization/README.md
  catalyst_voices_packages/catalyst_cardano_serialization/pubspec.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression/README.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression/pubspec.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/pubspec.yaml
  catalyst_voices_packages/catalyst_cose/README.md
  catalyst_voices_packages/catalyst_cose/pubspec.yaml
  melos.yaml
  utilities/catalyst_voices_remote_widgets/pubspec.yaml
  utilities/poc_local_storage/pubspec.yaml
Owners: @minikin, @stevenj

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
