Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: defer exit code until test_reports and coverage are saved
  melos.yaml
Owners: none

chore: update ci version
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/Earthfile
Owners: @minikin, @stevenj

fix(cat-gateway): bump dependencies, cleanup
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/db/index/block/rbac509/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(cat-gateway): code format
  catalyst-gateway/bin/src/db/index/queries/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(cat-gateway): update chain-follower code
  catalyst-gateway/bin/src/db/index/block/rbac509/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(cat-gateway): update schema version for tests
  catalyst-gateway/bin/src/db/index/schema/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(cat-gateway): RBAC Metadata Indexing (#799)
  .config/dictionaries/project.dic
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/db/index/block/mod.rs
  catalyst-gateway/bin/src/db/index/block/rbac509/cql/insert_chain_root_for_role0_key.cql
  catalyst-gateway/bin/src/db/index/block/rbac509/cql/insert_chain_root_for_stake_address.cql
  catalyst-gateway/bin/src/db/index/block/rbac509/cql/insert_chain_root_for_txn_id.cql
  catalyst-gateway/bin/src/db/index/block/rbac509/cql/insert_rbac509.cql
  catalyst-gateway/bin/src/db/index/block/rbac509/insert_chain_root_for_role0_key.rs
  catalyst-gateway/bin/src/db/index/block/rbac509/insert_chain_root_for_stake_address.rs
  catalyst-gateway/bin/src/db/index/block/rbac509/insert_chain_root_for_txn_id.rs
  catalyst-gateway/bin/src/db/index/block/rbac509/insert_rbac509.rs
  catalyst-gateway/bin/src/db/index/block/rbac509/mod.rs
  catalyst-gateway/bin/src/db/index/queries/mod.rs
  catalyst-gateway/bin/src/db/index/schema/cql/chain_root_for_role0_key.cql
  catalyst-gateway/bin/src/db/index/schema/cql/chain_root_for_stake_addr.cql
  catalyst-gateway/bin/src/db/index/schema/cql/chain_root_for_txn_id.cql
  catalyst-gateway/bin/src/db/index/schema/cql/rbac509_registration.cql
  catalyst-gateway/bin/src/db/index/schema/mod.rs
  utilities/local-scylla/justfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: recovery methods and recovery seed phrase instructions panels
  catalyst_voices/lib/pages/registration/recover/recover_method_panel.dart
  catalyst_voices/lib/pages/registration/recover/recover_seed_phrase_panel.dart
  catalyst_voices/lib/pages/registration/recover/seed_phrase/seed_phrase_instructions_panel.dart
  catalyst_voices/lib/pages/registration/registration_details_panel.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

feat: keychain status indicators
  catalyst_voices/lib/pages/registration/get_started/get_started_panel.dart
  catalyst_voices/lib/pages/registration/recover/recover_method_panel.dart
  catalyst_voices/lib/widgets/indicators/voices_indicator.dart
  catalyst_voices/lib/widgets/indicators/voices_success_indicator.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_state.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/recover_state_data.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/registration/recover_seed_phrase_stage.dart
Owners: @minikin

feat: navigation
  catalyst_voices/lib/widgets/indicators/voices_error_indicator.dart
  catalyst_voices/lib/widgets/widgets.dart
Owners: @minikin

feat: recover state data
  catalyst_voices/lib/pages/registration/recover/bloc_recover_builder.dart
  catalyst_voices/lib/pages/registration/recover/recover_method_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/recover_state_data.dart
Owners: @minikin

RecoverManager
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/recover_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
Owners: @minikin

fix: remove unused import
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_state.dart
Owners: @minikin

fix: PR review adjustments
  catalyst_voices/lib/widgets/indicators/voices_success_indicator.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/recover_state_data.dart
Owners: @minikin

chore: add word to dictionary
  .config/dictionaries/project.dic
Owners: none

feat: add loader to submit transaction button
  catalyst_voices/lib/pages/registration/wallet_link/stage/rbac_transaction_panel.dart
Owners: @minikin

wip
  docs/src/architecture/08_concepts/voting_transaction/crypto.md
Owners: none

fix
  docs/src/architecture/08_concepts/voting_transaction/crypto.md
Owners: none

Update design_task.yml
  .github/ISSUE_TEMPLATE/design_task.yml
Owners: none

feat(docs): Update `crypto` docs (#909)
  .config/dictionaries/project.dic
  docs/src/architecture/08_concepts/voting_transaction/crypto.md
Owners: none

chore: update catalyst-ci
  Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

general: add design task (#968)
  .github/ISSUE_TEMPLATE/design_task.yml
Owners: none

fix(cat-voices): make sure ci job fails when test fail (#969)
  Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/blueprint.cue
  docs/Earthfile
  melos.yaml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: VoicesAutocomplete
  catalyst_voices/lib/widgets/text_field/voices_autocomplete.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/uikit_example/lib/examples/voices_text_field_example.dart
Owners: @minikin

feat: First version of SeedPhraseField
  catalyst_voices/lib/widgets/text_field/seed_phrase_field.dart
  catalyst_voices/lib/widgets/text_field/voices_autocomplete.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/uikit_example/lib/examples/voices_text_field_example.dart
Owners: @minikin

feat: add transaction config repository
  catalyst_voices/lib/dependency/dependencies.dart
  catalyst_voices/packages/catalyst_voices_repositories/lib/src/catalyst_voices_repositories.dart
  catalyst_voices/packages/catalyst_voices_repositories/lib/src/transaction/transaction_config_repository.dart
  catalyst_voices/packages/catalyst_voices_repositories/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_repositories/test/src/transaction/transaction_config_repository_test.dart
Owners: @minikin

feat: add registration transaction builder
  catalyst_voices/packages/catalyst_voices_services/lib/src/catalyst_voices_services.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/transaction/registration_transaction_builder.dart
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
Owners: @minikin

feat: submit registration
  catalyst_voices/lib/dependency/dependencies.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/rbac_transaction_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/wallet_link_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/wallet_link_state_data.dart
Owners: @minikin

feat: seed phrase field deletion with X
  catalyst_voices/lib/widgets/text_field/seed_phrase_field.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/seed_phrase.dart
  catalyst_voices/uikit_example/lib/examples/voices_seed_phrase_field_example.dart
  catalyst_voices/uikit_example/lib/examples/voices_text_field_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

feat: update cryptocurrency formatter
  catalyst_voices/lib/pages/registration/wallet_link/stage/rbac_transaction_panel.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/formatter/cryptocurrency_formatter.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/formatter/cryptocurrency_formatter_test.dart
Owners: @minikin

feat: handle submit tx error
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/wallet_link_cubit.dart
Owners: @minikin

feat: move to next step after submitting a registration
  catalyst_voices/lib/pages/registration/wallet_link/stage/rbac_transaction_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/wallet_link_cubit.dart
Owners: @minikin

feat: delete shortcut
  catalyst_voices/lib/widgets/text_field/seed_phrase_field.dart
Owners: @minikin

fix: constrain autocomplete dropdown max width
  catalyst_voices/lib/widgets/text_field/voices_autocomplete.dart
Owners: @minikin

feat: AccountRole LearnMore Dialog
  catalyst_voices/lib/common/ext/account_role_ext.dart
  catalyst_voices/lib/pages/registration/wallet_link/account_role_dialog.dart
  catalyst_voices/packages/catalyst_voices_assets/assets/images/role_info_drep.png
  catalyst_voices/packages/catalyst_voices_assets/assets/images/role_info_proposer.png
  catalyst_voices/packages/catalyst_voices_assets/assets/images/role_info_voter.png
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/assets.gen.dart
Owners: @minikin

feat: AccountRole LearnMore Dialog - translations in account_role_dialog.dart
  catalyst_voices/lib/pages/registration/wallet_link/account_role_dialog.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

feat: improve error handling for submitting a transaction
  catalyst_voices/lib/pages/registration/wallet_link/stage/rbac_transaction_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/wallet_link_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/wallet_link_state_data.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

feat: AccountRole LearnMore Dialog - translations for verboseName and description
  catalyst_voices/lib/common/ext/account_role_ext.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

feat: AccountRole LearnMore Dialog - parametrized string
  catalyst_voices/lib/pages/registration/wallet_link/account_role_dialog.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

feat: AccountRole LearnMore Dialog - translations for summary
  catalyst_voices/lib/common/ext/account_role_ext.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
