Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices/packages/libs/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

fix: remove frb generated rust file
  catalyst_voices/packages/libs/catalyst_key_derivation/rust/src/frb_generated.rs
Owners: @minikin, @stevenj

fix: rename
  catalyst_voices/packages/libs/catalyst_key_derivation/rust/src/api/key_derivation/mod.rs
Owners: @minikin, @stevenj

fix: add word to dict
  .config/dictionaries/project.dic
Owners: none

fix: cspell ignore auto gen flutter file
  cspell.json
Owners: none

fix: auto gen file
  catalyst_voices/packages/libs/catalyst_key_derivation/lib/src/rust/api/key_derivation.dart
  catalyst_voices/packages/libs/catalyst_key_derivation/lib/src/rust/frb_generated.dart
  catalyst_voices/packages/libs/catalyst_key_derivation/lib/src/rust/frb_generated.io.dart
  catalyst_voices/packages/libs/catalyst_key_derivation/lib/src/rust/frb_generated.web.dart
Owners: @minikin, @stevenj

fix: remove unnecessary SizedBox in RolesChooserPanel
  catalyst_voices/apps/voices/lib/pages/registration/wallet_link/stage/roles_chooser_panel.dart
Owners: @minikin
