Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip(cat-gateway): add caches for chain_root
  catalyst-gateway/bin/src/db/index/block/rbac509/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore(utilities/local-scylla): tweaks to justfile
  utilities/local-scylla/justfile
Owners: none

refactor: more generic next step calculation
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/controllers/keychain_creation_controller.dart
Owners: @minikin

feat: dummy seed phrase panel
  catalyst_voices/lib/pages/registration/create_keychain/create_keychain_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/stages.dart
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
Owners: @minikin

refactor: improve error and loader builder, use minimum loading delay
  catalyst_voices/lib/widgets/common/infrastructure/voices_future_builder.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/utils/future_ext.dart
Owners: @minikin

Slightly updated crypto document
  docs/src/architecture/08_concepts/voting_transaction/crypto.md
Owners: none

refactor: result_type
  catalyst_voices/lib/pages/registration/wallet_link/select_wallet/select_wallet_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/controllers/wallet_link_controller.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_bloc.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/catalyst_voices_view_models.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/wallet/available_cardano_wallets.dart
  catalyst_voices/pubspec.yaml
Owners: @minikin

refactor: cleanup
  catalyst_voices/lib/widgets/common/infrastructure/voices_future_builder.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/utils/future_ext.dart
Owners: @minikin

feat(cat-voices): wallet selection logic (#893)
  catalyst_voices/lib/pages/registration/wallet_link/select_wallet/select_wallet_panel.dart
  catalyst_voices/lib/widgets/common/infrastructure/voices_future_builder.dart
  catalyst_voices/lib/widgets/indicators/voices_error_indicator.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/controllers/wallet_link_controller.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_bloc.dart
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/utils/future_ext.dart
  catalyst_voices/packages/catalyst_voices_view_models/pubspec.yaml
  catalyst_voices/pubspec.yaml
  catalyst_voices/test/widgets/common/infrastructure/voices_future_builder_test.dart
  catalyst_voices/test/widgets/indicators/voices_status_indicator_test.dart
  catalyst_voices/uikit_example/lib/examples/voices_indicators_example.dart
Owners: @minikin

feat: string l10n extraction + smaller sub widgets
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_panel.dart
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

refactor(cat-gateway): use ensure! instead of if/bail
  catalyst-gateway/bin/src/db/index/schema/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: My account, modals, remove unnecessary comment
  catalyst_voices/lib/pages/account/keychain_deleted_dialog.dart
Owners: @minikin

feat: My account, modals, extract translations for delete_keychain_dialog.dart
  catalyst_voices/lib/pages/account/delete_keychain_dialog.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

feat: My account, modals, extract translations for keychain_deleted_dialog.dart
  catalyst_voices/lib/pages/account/keychain_deleted_dialog.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

feat: My account, modals, extract _onRemoveKeychainTap
  catalyst_voices/lib/pages/account/delete_keychain_dialog.dart
Owners: @minikin

feat: My account, modals, pass onDeleteKeychain callback
  catalyst_voices/lib/pages/account/account_page.dart
  catalyst_voices/lib/pages/account/delete_keychain_dialog.dart
Owners: @minikin

feat: My account, modals, merge changes
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
Owners: @minikin

feat: My account, modals, refactor base dialogs
  catalyst_voices/lib/pages/account/delete_keychain_dialog.dart
  catalyst_voices/lib/pages/account/keychain_deleted_dialog.dart
  catalyst_voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/lib/widgets/modals/voices_desktop_dialog.dart
  catalyst_voices/lib/widgets/modals/voices_info_dialog.dart
Owners: @minikin

feat: My account, modals, change callback name
  catalyst_voices/lib/pages/account/account_page.dart
  catalyst_voices/lib/pages/account/delete_keychain_dialog.dart
Owners: @minikin

ci(general): Bump cat-ci version to latest
  Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor: RegistrationBloc internals
  catalyst_voices/lib/pages/registration/create_keychain/create_keychain_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_panel.dart
  catalyst_voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/controllers/keychain_creation_controller.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/controllers/wallet_link_controller.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_bloc.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_event.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_navigator.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_state.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/seed_phrase_state.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/registration/registration.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/registration/registration_step.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/seed_phrase.dart
Owners: @minikin

refactor: use event based approach
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/controllers/keychain_creation_controller.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_bloc.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_event.dart
Owners: @minikin

fix: initial wallets loading
  catalyst_voices/lib/pages/registration/wallet_link/select_wallet/select_wallet_panel.dart
Owners: @minikin

chore(ci): add playwright function to Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/Earthfile
Owners: @minikin, @stevenj

fix: spacings
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_bloc.dart
Owners: @minikin

feat: adds simple test
  catalyst_voices/integration_test/app_test.dart
Owners: @minikin

feat: remove old tests
  catalyst_voices/integration_test/app_test.dart
  catalyst_voices/integration_test/main.dart
  catalyst_voices/integration_test/scenarios/login_scenario.dart
  catalyst_voices/integration_test/scenarios/robots/login_robot.dart
Owners: @minikin

fix: format
  catalyst_voices/integration_test/Earthfile
  catalyst_voices/integration_test/app_test.dart
Owners: @minikin

feat: adds bluprint.cue
  catalyst_voices/integration_test/blueprint.cue
Owners: @minikin

feat(barebones): scylla queries
  catalyst-gateway/bin/src/db/index/queries/cql/get_latest_registration_w_stake_addr.cql
  catalyst-gateway/bin/src/db/index/queries/mod.rs
  catalyst-gateway/bin/src/db/index/queries/registrations/get_latest_registration_w_stake_addr.rs
  catalyst-gateway/bin/src/db/index/queries/registrations/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/registration_get.rs
  catalyst-gateway/bin/src/service/api/health/mod.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/registration_info.rs
  utilities/local-scylla/justfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(flutter): Again, try and see if caching is working ok for flutter builds with cat-ci
  Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

ci(general): Bump CI to latest version to try and fix docs build issues
  Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs(cat-gateway): Better document the generate_cql_schema_version function
  catalyst-gateway/bin/src/db/index/schema/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(cat-gateway): Use a string array reference rather than a vec of strings for strings to uuid generation
  catalyst-gateway/bin/src/service/utilities/middleware/tracing_mw.rs
  catalyst-gateway/bin/src/settings/mod.rs
  catalyst-gateway/bin/src/utils/blake2b_hash.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor(cat-gateway): fix code format
  catalyst-gateway/bin/src/db/index/schema/mod.rs
  catalyst-gateway/bin/src/settings/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(cat-gateway): Add autogenerated cassandra schema version and sync status tables. (#889)
  .config/dictionaries/project.dic
  Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/cardano/util.rs
  catalyst-gateway/bin/src/db/index/schema/cql/sync_status.cql
  catalyst-gateway/bin/src/db/index/schema/mod.rs
  catalyst-gateway/bin/src/main.rs
  catalyst-gateway/bin/src/service/api/cardano/types.rs
  catalyst-gateway/bin/src/service/utilities/middleware/tracing_mw.rs
  catalyst-gateway/bin/src/settings/mod.rs
  catalyst-gateway/bin/src/utils/blake2b_hash.rs
  catalyst-gateway/bin/src/utils/mod.rs
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/rust-toolchain.toml
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Update .github/workflows/ci.yml
  .github/workflows/ci.yml
Owners: none

ci(general): locks version and updates events (#895)
  .github/workflows/ci.yml
Owners: none

feat(barebones): scylla queries
  catalyst-gateway/bin/src/db/index/queries/cql/get_latest_registration_w_stake_addr.cql
  catalyst-gateway/bin/src/db/index/queries/mod.rs
  catalyst-gateway/bin/src/db/index/queries/registrations/get_latest_registration_w_stake_addr.rs
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/registration_get.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/registration_info.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(barebones): scylla queries
  catalyst-gateway/bin/src/db/index/queries/cql/get_latest_registration_w_stake_addr.cql
  catalyst-gateway/bin/src/db/index/queries/registrations/get_latest_registration_w_stake_addr.rs
  catalyst-gateway/bin/src/service/api/cardano/registration_get.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
