Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

feat: add ADR for fronted app (#190)
  docs/FLUTTER_INTEGRATION_TEST.md
  docs/src/architecture/09_architecture_decisions/0005-flutter-app.md
Owners: none

docs(docs): Use latest docs builders and fix concepts page
  docs/Earthfile
  docs/src/architecture/08_concepts/.pages
Owners: none

feat: add app routes
  catalyst_voices/lib/app/view/app.dart
  catalyst_voices/lib/app/view/app_content.dart
  catalyst_voices/lib/app/view/app_page.dart
  catalyst_voices/lib/dummy/home_page.dart
  catalyst_voices/lib/dummy/login_page.dart
  catalyst_voices/lib/routes/app_router.dart
  catalyst_voices/lib/routes/app_router_refresh_stream.dart
  catalyst_voices/lib/routes/app_scaffold.dart
  catalyst_voices/lib/routes/home_page_route.dart
  catalyst_voices/lib/routes/home_page_route.g.dart
  catalyst_voices/lib/routes/login_page_route.dart
  catalyst_voices/lib/routes/login_page_route.g.dart
  catalyst_voices/lib/routes/routes.dart
  catalyst_voices/pubspec.yaml
Owners: @minikin

Update bootstrap.dart
  catalyst_voices/lib/configs/bootstrap.dart
Owners: @minikin

wip
  catalyst_voices/lib/routes/app_router.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/authentication/authentication_bloc.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/session_data.dart
  catalyst_voices/packages/catalyst_voices_repositories/lib/src/authentication_repository.dart
  catalyst_voices/packages/catalyst_voices_repositories/lib/src/credentials_storage_repository.dart
Owners: @minikin

update pages, integration tests, add routes
  catalyst_voices/integration_test/scenarios/login_scenario.dart
  catalyst_voices/integration_test/scenarios/robots/login_robot.dart
  catalyst_voices/lib/dummy/constants.dart
  catalyst_voices/lib/dummy/dummy.dart
  catalyst_voices/lib/dummy/login_page.dart
  catalyst_voices/lib/pages/home/home_page.dart
  catalyst_voices/lib/pages/login/login.dart
  catalyst_voices/lib/pages/login/login_button.dart
  catalyst_voices/lib/pages/login/login_form.dart
  catalyst_voices/lib/pages/login/login_page.dart
  catalyst_voices/lib/pages/widgets/email_input.dart
  catalyst_voices/lib/pages/widgets/password_input.dart
  catalyst_voices/lib/pages/widgets/widgets.dart
  catalyst_voices/lib/routes/app_router.dart
  catalyst_voices/lib/routes/home_page_route.dart
  catalyst_voices/lib/routes/login_page_route.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/login/login_bloc.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_repositories/lib/src/authentication_repository.dart
  catalyst_voices/pubspec.yaml
Owners: @minikin

Update login_form.dart
  catalyst_voices/lib/pages/login/login_form.dart
Owners: @minikin

fix: revert ci yaml to branch master
  .github/workflows/ci.yml
Owners: none

fix: cleanup targets (#185)
  Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/tests/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs(cips): Start drafting the CIPS for milestone 2
  docs/src/catalyst-standards/draft-cips/role-registration/cip-xxxx.md
Owners: none

docs(cips): More text for RBAC metadata draft
  docs/src/catalyst-standards/draft-cips/role-registration/cip-xxxx.md
Owners: none

feat: add openapi linter
  catalyst-gateway/.spectral.yml
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs(skeleton for gateway follower): initial napkin sketches
  docs/src/architecture/.pages
  docs/src/architecture/13_follower.md
  docs/src/architecture/images/bootstrapping_flow.excalidraw.svg
  docs/src/architecture/images/db_flow.excalidraw.svg
Owners: none

docs(skeleton for gateway follower): initial napkin sketches
  docs/src/architecture/13_follower.md
  docs/src/architecture/images/bootstrapping_flow.excalidraw.svg
Owners: none

docs(skeleton for gateway follower): initial napkin sketches
  docs/src/architecture/images/map.svg
Owners: none

docs(skeleton for gateway follower): initial napkin sketches
  docs/src/architecture/13_follower.md
Owners: none

docs(skeleton for gateway follower): initial napkin sketches
  docs/src/architecture/13_follower.md
Owners: none

docs(skeleton for gateway follower): initial napkin sketches
  docs/src/architecture/images/entry.svg
Owners: none

docs(skeleton for gateway follower): initial napkin sketches
  docs/src/architecture/13_follower.md
Owners: none

fix(lint): openapi linting
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs(skeleton for gateway follower): initial napkin sketches
  docs/src/architecture/08_concepts/gateway/mechanics.md
  docs/src/architecture/images/db_flow.excalidraw.svg
  docs/src/architecture/images/entry.svg
  docs/src/architecture/images/map.svg
Owners: none

docs(skeleton for gateway follower): initial napkin sketches
  docs/src/architecture/.pages
  docs/src/architecture/08_concepts/gateway/mechanics.md
Owners: none

docs(skeleton for gateway follower): initial napkin sketches
  docs/src/architecture/08_concepts/gateway/mechanics.md
Owners: none

docs(skeleton for gateway follower): initial napkin sketches
  docs/src/architecture/08_concepts/gateway/mechanics.md
Owners: none

docs(skeleton for gateway follower): initial napkin sketches
  docs/src/architecture/08_concepts/gateway/mechanics.md
Owners: none

fix(spectral): add version for CDN
  catalyst-gateway/.spectral.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(openapi): linting openAPI files in test stage
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs(skeleton for gateway follower): initial napkin sketches
  docs/src/architecture/08_concepts/gateway/mechanics.md
Owners: none

docs(skeleton for gateway follower): initial napkin sketches
  docs/src/architecture/08_concepts/gateway/follower.md
Owners: none

fix: make the info section compatible with v3.0.0
  catalyst-gateway/bin/src/service/api/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

style: format rust
  catalyst-gateway/bin/src/service/api/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: remove openapi linter
  catalyst-gateway/.spectral.yml
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

style: remove EOF line
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: openapi info section (#209)
  catalyst-gateway/bin/src/service/api/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs(skeleton for gateway follower): initial napkin sketches
  docs/src/architecture/08_concepts/gateway/mechanics.md
Owners: none

docs(skeleton for gateway follower): initial napkin sketches
  docs/src/architecture/08_concepts/gateway/mechanics.md
Owners: none

docs(cips): WIP updates to draft cip for role registration
  docs/src/catalyst-standards/draft-cips/role-registration/cip-xxxx.md
Owners: none

docs(cips): define draft specification for a ULID cbor tag
  docs/src/catalyst-standards/cbor_tags/ulid.md
Owners: none

docs(cips): Further WIP edits to RBAC
  .config/dictionaries/project.dic
  docs/src/catalyst-standards/draft-cips/role-registration/cip-xxxx.md
Owners: none

docs(cips): fix ulid spec binary encoding reference
  docs/src/catalyst-standards/cbor_tags/ulid.md
Owners: none
