Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

fix: flutter_cardano_integration.md
  docs/src/architecture/10_quality/testplans/flutter_cardano_integration.md
Owners: none

feat: adds risks and acceptance criteria
  docs/src/architecture/10_quality/testplans/template.md
Owners: none

feat: add index
  docs/src/architecture/10_quality/testplans/template.md
Owners: none

docs: add common issues docs
  catalyst_voices/README.md
Owners: @minikin

docs: fix readme formatting
  catalyst_voices/README.md
Owners: @minikin

docs: add common issues docs (#548)
  catalyst_voices/README.md
Owners: @minikin

feat: add oid encode/decode
  catalyst-gateway-crates/c509-certificate/Cargo.toml
  catalyst-gateway-crates/c509-certificate/src/c509_oid.rs
  catalyst-gateway-crates/c509-certificate/src/lib.rs
Owners: none

fix: naming and test
  catalyst-gateway-crates/c509-certificate/src/c509_oid.rs
Owners: none

fix: naming
  catalyst-gateway-crates/c509-certificate/src/c509_oid.rs
Owners: none

fix: implement encode and decode trait
  catalyst-gateway-crates/c509-certificate/src/c509_oid.rs
Owners: none

fix: markdown lint
  docs/src/architecture/10_quality/testplans/template.md
Owners: none

fix: test
  catalyst-gateway-crates/c509-certificate/src/c509_oid.rs
Owners: none

feat: use theme builder
  catalyst_voices/lib/app/view/app_content.dart
  catalyst_voices/lib/pages/widgets/voices_app_bar/voices_app_bar.dart
Owners: @minikin

chore: enable earthly files
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst-gateway/tests/schemathesis_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/test_driver/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feats: adds coverage for backend pytest tests
  .config/dictionaries/project.dic
  catalyst-gateway/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst-gateway/tests/api_tests/poetry.lock
  catalyst-gateway/tests/api_tests/pyproject.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat:add integration test
  .vscode/launch.recommended.json
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/integration_test/wallet_test.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/test_driver/integration_test.dart
Owners: @minikin, @stevenj

feat: add OID PEN encode and decode
  catalyst-gateway-crates/c509-certificate/src/c509_oid.rs
Owners: none

fix: merge
  catalyst_voices/Earthfile
  catalyst_voices/test_driver/Earthfile
Owners: @minikin

fix: merge
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.enums.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.g.dart
Owners: @minikin

chore: enable disabled earthly target
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: rerun target without cache
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway-crates/c509-certificate/src/c509_oid.rs
Owners: none

chore: no-cache earthly target
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: trigger rebuild
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

bump cat-ci version
  Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/deny.toml
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile.disabled
  catalyst_voices/Earthfile.disabled
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

test
  .github/workflows/generate-allure-report.yml
Owners: none

fix spelling
  .config/dictionaries/project.dic
  cspell.json
Owners: none

rename coverage file
  .github/workflows/generate-allure-report.yml
  catalyst-gateway/.gitignore
  catalyst-gateway/Earthfile
  catalyst-gateway/cat-gateway.coverage-report.info
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: enable earthfile
  .github/workflows/generate-allure-report.yml
  catalyst-gateway/cat-gateway.coverage-report.info
  catalyst-gateway/tests/schemathesis_tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: pen decode and encode
  catalyst-gateway-crates/c509-certificate/src/c509_oid.rs
Owners: none

enable api_tests
  catalyst-gateway/tests/api_tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

enable test_driver
  catalyst_voices/test_driver/Earthfile
Owners: @minikin

fix: change ARG to LET
  catalyst-gateway/tests/schemathesis_tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

update automate install extension
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/integration_test/wallet_extension.dart
Owners: @minikin, @stevenj

fix
  catalyst-gateway/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

disable test_driver earthly targets
  catalyst_voices/test_driver/Earthfile.disabled
Owners: @minikin

disable test_driver earthly
  catalyst_voices/test_driver/Earthfile.disabled
Owners: @minikin

enable
  catalyst_voices/Earthfile
  catalyst_voices/test_driver/Earthfile
Owners: @minikin

bump cat-ci version (#551)
  Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/deny.toml
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/test_driver/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: Update testplan template (#547)
  docs/src/architecture/10_quality/testplans/template.md
Owners: none
