Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: unlock password instructions
  catalyst_voices/lib/pages/registration/recover/recover_seed_phrase_panel.dart
  catalyst_voices/lib/pages/registration/recover/seed_phrase/unlock_password_instructions_panel.dart
  catalyst_voices/lib/pages/registration/recover/seed_phrase/unlock_password_panel.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

feat(cat-voices): blocs errors stream and basic handling (#991)
  catalyst_voices/lib/common/error_handler.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/unlock_password_panel.dart
  catalyst_voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/bloc_error_emitter_mixin.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/catalyst_voices_blocs.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/keychain_creation_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/recover_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/wallet_link_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_service.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/registration/exception/localized_registration_exception.dart
Owners: @minikin

fix: refactor
  catalyst-gateway/bin/src/db/event/config/key.rs
  catalyst-gateway/bin/src/db/event/config/mod.rs
  catalyst-gateway/bin/src/service/api/config/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: remover unlock password
  catalyst_voices/lib/pages/registration/create_keychain/stage/unlock_password_panel.dart
  catalyst_voices/lib/pages/registration/recover/seed_phrase/unlock_password_panel.dart
  catalyst_voices/lib/pages/registration/widgets/unlock_password_form.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/keychain_creation_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/recover_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/unlock_password_manager.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/recover_state_data.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/unlock_password_state.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/authentication/authentication.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/authentication/unlock_password.dart
Owners: @minikin

fix definitions
  docs/src/architecture/08_concepts/voting_transaction/crypto.md
  docs/src/architecture/08_concepts/voting_transaction/transaction.md
Owners: none

refactor: unify bloc unlock builder
  catalyst_voices/lib/pages/registration/bloc_unlock_password_builder.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/unlock_password_panel.dart
  catalyst_voices/lib/pages/registration/recover/seed_phrase/unlock_password_panel.dart
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
Owners: @minikin

feat: recovery keychain creation
  catalyst_voices/lib/pages/registration/recover/seed_phrase/unlock_password_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/recover_cubit.dart
Owners: @minikin

feat: Registration completed screen - initial
  catalyst_voices/lib/pages/registration/account_completed/account_completed_panel.dart
  catalyst_voices/lib/pages/registration/pictures/account_completed_picture.dart
  catalyst_voices/lib/pages/registration/registration_details_panel.dart
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
  catalyst_voices/lib/pages/registration/widgets/next_step.dart
  catalyst_voices/packages/catalyst_voices_assets/assets/images/2.0x/welcome_illustration.webp
  catalyst_voices/packages/catalyst_voices_assets/assets/images/3.0x/welcome_illustration.webp
  catalyst_voices/packages/catalyst_voices_assets/assets/images/registration_summary_keychain.png
  catalyst_voices/packages/catalyst_voices_assets/assets/images/registration_summary_roles.png
  catalyst_voices/packages/catalyst_voices_assets/assets/images/registration_summary_wallet.png
  catalyst_voices/packages/catalyst_voices_assets/assets/images/welcome_illustration.webp
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/assets.gen.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_state.dart
Owners: @minikin

feat: Registration completed screen - showCloseButton
  catalyst_voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/lib/widgets/modals/voices_desktop_dialog.dart
Owners: @minikin

feat: Registration completed screen - show real data
  catalyst_voices/lib/pages/registration/account_completed/account_completed_panel.dart
Owners: @minikin

feat: Registration completed screen - go to discovery
  catalyst_voices/lib/pages/registration/account_completed/account_completed_panel.dart
Owners: @minikin

feat: Registration completed screen - open account
  catalyst_voices/lib/pages/registration/account_completed/account_completed_panel.dart
Owners: @minikin

feat(vat-voices): keychain
  catalyst_voices/lib/app/view/app.dart
  catalyst_voices/lib/configs/app_bloc_observer.dart
  catalyst_voices/lib/dependency/dependencies.dart
  catalyst_voices/lib/pages/account/account_page.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_bloc.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_event.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/account/account_role.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/seed_phrase.dart
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_models/test/seed_phrase_test.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/catalyst_voices_services.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/keychain/key_derivation_service.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/keychain/keychain_service.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_service.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_transaction_builder.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/secure_storage.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/storage.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/storage_string_mixin.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/secure_storage_vault.dart
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_services/test/src/keychain/key_derivation_service_test.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/storage/storage_string_mixin_test.dart
  catalyst_voices/uikit_example/lib/main.dart
Owners: @minikin

feat(cat-voices): restore unlock password (#994)
  catalyst_voices/lib/pages/registration/bloc_unlock_password_builder.dart
  catalyst_voices/lib/pages/registration/recover/recover_seed_phrase_panel.dart
  catalyst_voices/lib/pages/registration/recover/seed_phrase/unlock_password_instructions_panel.dart
  catalyst_voices/lib/pages/registration/recover/seed_phrase/unlock_password_panel.dart
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
  catalyst_voices/lib/pages/registration/widgets/unlock_password_form.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/keychain_creation_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/recover_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/unlock_password_manager.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/recover_state_data.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/unlock_password_state.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/authentication/authentication.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/authentication/unlock_password.dart
Owners: @minikin

docs(cat-voices): typo
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/secure_storage_vault.dart
Owners: @minikin

feat: dummy states
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_bloc.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/keychain/keychain_service.dart
Owners: @minikin

fix spelling
  docs/src/architecture/08_concepts/voting_transaction/crypto.md
Owners: none

feat: Registration completed screen - translations
  catalyst_voices/lib/pages/registration/account_completed/account_completed_panel.dart
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

feat: Registration completed screen - fix merge
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
Owners: @minikin

refactor: code review feedback
  catalyst_voices/lib/app/view/app.dart
  catalyst_voices/lib/dependency/dependencies.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_bloc.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/catalyst_voices_services.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/keychain/key_derivation.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/keychain/keychain.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_service.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/keychain/key_derivation_test.dart
Owners: @minikin

feat: Registration completed screen - fix Lint issues
  catalyst_voices/lib/pages/registration/account_completed/account_completed_panel.dart
Owners: @minikin

feat: Registration completed screen - better spacing
  catalyst_voices/lib/pages/registration/account_completed/account_completed_panel.dart
Owners: @minikin

refactor: cleanup
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_bloc.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/keychain/keychain.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_service.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/secure_storage.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/storage.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/storage_string_mixin.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/secure_storage_vault.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/keychain/key_derivation_test.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/storage/storage_string_mixin_test.dart
Owners: @minikin

fix: dummy states
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_bloc.dart
Owners: @minikin

refactor: cleanup
  catalyst_voices/lib/app/view/app.dart
Owners: @minikin

feat: Registration completed screen - put 1x as string literal into code
  catalyst_voices/lib/pages/registration/account_completed/account_completed_panel.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

feat: Registration completed screen - PR feedback part 1
  catalyst_voices/lib/pages/registration/account_completed/account_completed_panel.dart
  catalyst_voices/lib/pages/registration/widgets/next_step.dart
Owners: @minikin

feat(cat-voices): keychain and session (#995)
  catalyst_voices/lib/app/view/app.dart
  catalyst_voices/lib/configs/app_bloc_observer.dart
  catalyst_voices/lib/dependency/dependencies.dart
  catalyst_voices/lib/pages/account/account_page.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_bloc.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_event.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/account/account_role.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/seed_phrase.dart
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_models/test/seed_phrase_test.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/catalyst_voices_services.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/keychain/key_derivation.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/keychain/keychain.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_service.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_transaction_builder.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/secure_storage.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/storage.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/secure_storage_vault.dart
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_services/test/src/keychain/key_derivation_test.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/storage/storage_string_mixin_test.dart
  catalyst_voices/uikit_example/lib/main.dart
Owners: @minikin

feat: Registration completed screen - Use BlocSelector
  catalyst_voices/lib/pages/registration/registration_dialog.dart
Owners: @minikin

feat: Registration completed screen - Use BlocSelector
  catalyst_voices/lib/pages/registration/account_completed/account_completed_panel.dart
Owners: @minikin

feat: account restored panel
  catalyst_voices/lib/pages/registration/recover/recover_seed_phrase_panel.dart
  catalyst_voices/lib/pages/registration/recover/seed_phrase/restored_panel.dart
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/account_role_dialog.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/roles_chooser_panel.dart
  catalyst_voices/lib/pages/registration/widgets/placeholder_panel.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

docs: check local keychains
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/recover_cubit.dart
Owners: @minikin

Update catalyst_voices/lib/pages/registration/account_completed/account_completed_panel.dart
  catalyst_voices/lib/pages/registration/account_completed/account_completed_panel.dart
Owners: @minikin

fix(docs): Update voting protocol definition and the jormnugandr tx spec (#993)
  docs/src/architecture/08_concepts/voting_transaction/crypto.md
  docs/src/architecture/08_concepts/voting_transaction/transaction.md
Owners: none

feat: Registration completed screen - Capitalize wallet name
  catalyst_voices/lib/common/ext/ext.dart
  catalyst_voices/lib/common/ext/string_ext.dart
  catalyst_voices/lib/pages/registration/account_completed/account_completed_panel.dart
Owners: @minikin

feat: Registration completed screen - fix issue after merge
  catalyst_voices/lib/pages/registration/account_completed/account_completed_panel.dart
Owners: @minikin

feat: Registration completed screen - fix lint issues
  catalyst_voices/lib/common/ext/string_ext.dart
Owners: @minikin

feat: exit dialog
  catalyst_voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/lib/pages/registration/registration_exit_confirm_dialog.dart
  catalyst_voices/lib/pages/registration/widgets/exit_confirm_dialog.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/registration/registration_step.dart
Owners: @minikin

feat: Registration completed screen - correct 'Remove Keychain' error message
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

feat: Registration completed screen - implement capitalize edge cases
  catalyst_voices/lib/common/ext/string_ext.dart
Owners: @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
