Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: cspell word
  catalyst-gateway/.spectral.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: hex pattern and example
  catalyst-gateway/bin/src/service/api/registration/mod.rs
  catalyst-gateway/bin/src/service/common/objects/account_votes.rs
  catalyst-gateway/bin/src/service/common/objects/delegate_public_key.rs
  catalyst-gateway/bin/src/service/common/objects/fragments_batch.rs
  catalyst-gateway/bin/src/service/common/objects/fragments_processing_summary.rs
  catalyst-gateway/bin/src/service/common/objects/hash.rs
  catalyst-gateway/bin/src/service/common/objects/voting_public_key.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: add TODO to validators
  catalyst-gateway/bin/src/service/api/registration/mod.rs
  catalyst-gateway/bin/src/service/api/v1/mod.rs
  catalyst-gateway/bin/src/service/common/objects/block.rs
  catalyst-gateway/bin/src/service/common/objects/fragment_status.rs
  catalyst-gateway/bin/src/service/common/objects/voter_info.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: nightly format
  catalyst-gateway/bin/src/service/api/registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: add regex for doc desc
  catalyst-gateway/.spectral.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: typo
  catalyst-gateway/.spectral.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: remove hardcode port and get from socket addr
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/service/poem_service.rs
  catalyst-gateway/bin/src/settings.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: format
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/service/poem_service.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: docs setting use only socket addr
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/settings.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Update docs/src/architecture/09_architecture_decisions/0006-cursor-pegination-cat-data-service.md
  docs/src/architecture/09_architecture_decisions/0006-cursor-pegination-cat-data-service.md
Owners: none

Update docs/src/architecture/09_architecture_decisions/0006-cursor-pegination-cat-data-service.md
  docs/src/architecture/09_architecture_decisions/0006-cursor-pegination-cat-data-service.md
Owners: none

chore: flutter, dart bump, fix crash caused localization context (#231)
  catalyst_voices/lib/app/view/app_content.dart
  catalyst_voices/packages/catalyst_voices_assets/example/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_assets/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_es.arb
  catalyst_voices/packages/catalyst_voices_localization/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_repositories/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_view_models/pubspec.yaml
  catalyst_voices/pubspec.yaml
  melos.yaml
  pubspec.yaml
Owners: @minikin

fix: extract common setting and add flag + env var
  catalyst-gateway/bin/src/settings.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: add http(s) prefix and server name
  catalyst-gateway/bin/src/service/api/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: parameter needed for function
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/service/mod.rs
  catalyst-gateway/bin/src/service/poem_service.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: linter
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/settings.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: linter
  catalyst-gateway/bin/src/service/api/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: remove CommonSetting and add to DocsSetting
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/service/mod.rs
  catalyst-gateway/bin/src/service/poem_service.rs
  catalyst-gateway/bin/src/settings.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: env var and cli param
  catalyst-gateway/bin/src/settings.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Update 0006-cursor-pegination-cat-data-service.md
  docs/src/architecture/09_architecture_decisions/0006-cursor-pegination-cat-data-service.md
Owners: none

Update 0006-cursor-pegination-cat-data-service.md
  docs/src/architecture/09_architecture_decisions/0006-cursor-pegination-cat-data-service.md
Owners: none

fix: get server for Openapi specification (#236)
  .config/dictionaries/project.dic
  catalyst-gateway/Cargo.lock
  catalyst-gateway/Cargo.toml
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/service/mod.rs
  catalyst-gateway/bin/src/service/poem_service.rs
  catalyst-gateway/bin/src/settings.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Update flutter-web-integration-test.yml
  .github/workflows/flutter-web-integration-test.yml
Owners: none

Update 0006-cursor-pegination-cat-data-service.md
  docs/src/architecture/09_architecture_decisions/0006-cursor-pegination-cat-data-service.md
Owners: none

fix: openapi specification (#229)
  catalyst-gateway/bin/src/event_db/types/ballot.rs
  catalyst-gateway/bin/src/service/api/health/live_get.rs
  catalyst-gateway/bin/src/service/api/health/ready_get.rs
  catalyst-gateway/bin/src/service/api/health/started_get.rs
  catalyst-gateway/bin/src/service/api/registration/mod.rs
  catalyst-gateway/bin/src/service/api/test_endpoints/mod.rs
  catalyst-gateway/bin/src/service/api/test_endpoints/test_get.rs
  catalyst-gateway/bin/src/service/api/test_endpoints/test_post.rs
  catalyst-gateway/bin/src/service/api/v0/mod.rs
  catalyst-gateway/bin/src/service/api/v0/plans_get.rs
  catalyst-gateway/bin/src/service/api/v1/account_votes_get.rs
  catalyst-gateway/bin/src/service/api/v1/fragments_post.rs
  catalyst-gateway/bin/src/service/api/v1/fragments_statuses.rs
  catalyst-gateway/bin/src/service/api/v1/mod.rs
  catalyst-gateway/bin/src/service/common/objects/account_votes.rs
  catalyst-gateway/bin/src/service/common/objects/block.rs
  catalyst-gateway/bin/src/service/common/objects/delegate_public_key.rs
  catalyst-gateway/bin/src/service/common/objects/fragment_status.rs
  catalyst-gateway/bin/src/service/common/objects/fragments_batch.rs
  catalyst-gateway/bin/src/service/common/objects/fragments_processing_summary.rs
  catalyst-gateway/bin/src/service/common/objects/hash.rs
  catalyst-gateway/bin/src/service/common/objects/vote_plan.rs
  catalyst-gateway/bin/src/service/common/objects/voter_info.rs
  catalyst-gateway/bin/src/service/common/objects/voting_public_key.rs
  catalyst-gateway/bin/src/service/common/responses/resp_2xx.rs
  catalyst-gateway/bin/src/service/common/responses/resp_5xx.rs
  catalyst-gateway/tests/integration/catalyst_gateway_event_db.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: doc build
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add openapi linter (#208)
  catalyst-gateway/.spectral.yml
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(bootstrap from cardano_update_table): follower
  catalyst-gateway/bin/src/event_db/queries/event/config.rs
  catalyst-gateway/bin/src/event_db/queries/event/follower.rs
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/event-db/migrations/V1__config_tables.sql
  catalyst-gateway/event-db/migrations/V6__registration.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(bootstrap from cardano_update_table): follower
  catalyst-gateway/bin/src/follower.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs: Cursor-based pagination ADR (#235)
  .github/workflows/flutter-web-integration-test.yml
  docs/src/architecture/09_architecture_decisions/0006-cursor-pegination-cat-data-service.md
Owners: none

fix: remove integration test
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: move openapi lint test to test Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(start follower on threshold): index if data is stale
  catalyst-gateway/Cargo.lock
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/event_db/queries/event/follower.rs
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/event-db/migrations/V6__registration.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(start follower on threshold): index if data is stale
  catalyst-gateway/bin/src/follower.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(bootstrap from cardano_update_table): follower
  catalyst-gateway/bin/src/event_db/queries/event/follower.rs
  catalyst-gateway/bin/src/follower.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: refactor st tests and remove integration tests
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/integration/catalyst_gateway_event_db.rs
  catalyst-gateway/tests/integration/main.rs
  catalyst-gateway/tests/st-docker-compose.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: fix earthly/dind to alpine 3.19
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/schema-mismatch/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: move spectral and remove integration test pkg
  catalyst-gateway/Cargo.lock
  catalyst-gateway/Cargo.toml
  catalyst-gateway/tests/.spectral.yml
  catalyst-gateway/tests/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: rename fuzzer api taget
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: move cat gateway package to main earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/schema-mismatch/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
