Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

test
  .github/workflows/generate-allure-report.yml
Owners: none

fix: Schemathesis cache (#541)
  catalyst-gateway/tests/schemathesis_tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

test run
  .github/workflows/generate-allure-report.yml
Owners: none

disable api tests
  catalyst-gateway/tests/api_tests/Earthfile.disabled
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

disable api tests (#552)
  catalyst-gateway/tests/api_tests/Earthfile.disabled
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix path
  .github/workflows/generate-allure-report.yml
Owners: none

feat: new builder function
  utilities/wallet-tester/package-lock.json
  utilities/wallet-tester/package.json
  utilities/wallet-tester/src/common/components/Dropdown.tsx
  utilities/wallet-tester/src/common/components/TxBuilder.tsx
  utilities/wallet-tester/src/common/constants/index.ts
  utilities/wallet-tester/src/common/helpers/builidUnsignedTxWithMultiplatformLib.ts
  utilities/wallet-tester/src/modules/SignTxPanel.tsx
  utilities/wallet-tester/src/types/cardano.ts
  utilities/wallet-tester/vite.config.ts
Owners: none

increase max response time
  catalyst-gateway/tests/schemathesis_tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

increase schemathesis max response time
  catalyst-gateway/tests/schemathesis_tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor: extract widget
  catalyst_voices/lib/pages/widgets/voices_app_bar/actions/notifications_indicator.dart
Owners: @minikin

increase schemathesis max response time (#553)
  catalyst-gateway/tests/schemathesis_tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

disable schemathesis
  catalyst-gateway/tests/schemathesis_tests/Earthfile.disabled
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/tests/schemathesis_tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

update api_tests
  catalyst-gateway/tests/api_tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix
  catalyst-gateway/tests/api_tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

add comments
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst-gateway/tests/schemathesis_tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: Disable schemathesis (#554)
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst-gateway/tests/schemathesis_tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: rewrite PEN encode and decode
  catalyst-gateway-crates/c509-certificate/src/c509_oid.rs
Owners: none

fix: Remove unneeded `raw_metadata` field. (#486)
  catalyst-gateway/bin/src/cardano/cip36_registration/mod.rs
  catalyst-gateway/bin/src/event_db/cardano/cip36_registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(mdlint): Fix markdown issues
  utilities/local-cluster/Readme.md
Owners: none

feat: uikit example
  catalyst_voices/uikit_example/.gitignore
  catalyst_voices/uikit_example/.metadata
  catalyst_voices/uikit_example/README.md
  catalyst_voices/uikit_example/analysis_options.yaml
  catalyst_voices/uikit_example/lib/examples/voices_app_bar_example.dart
  catalyst_voices/uikit_example/lib/main.dart
  catalyst_voices/uikit_example/pubspec.yaml
  catalyst_voices/uikit_example/web/favicon.png
  catalyst_voices/uikit_example/web/icons/Icon-192.png
  catalyst_voices/uikit_example/web/icons/Icon-512.png
  catalyst_voices/uikit_example/web/icons/Icon-maskable-192.png
  catalyst_voices/uikit_example/web/icons/Icon-maskable-512.png
  catalyst_voices/uikit_example/web/index.html
  catalyst_voices/uikit_example/web/manifest.json
  melos.yaml
Owners: @minikin

feat: uikit example (#557)
  catalyst_voices/lib/app/view/app_content.dart
  catalyst_voices/lib/pages/widgets/voices_app_bar/actions/notifications_indicator.dart
  catalyst_voices/lib/pages/widgets/voices_app_bar/voices_app_bar.dart
  catalyst_voices/uikit_example/.gitignore
  catalyst_voices/uikit_example/.metadata
  catalyst_voices/uikit_example/README.md
  catalyst_voices/uikit_example/analysis_options.yaml
  catalyst_voices/uikit_example/lib/examples/voices_app_bar_example.dart
  catalyst_voices/uikit_example/lib/main.dart
  catalyst_voices/uikit_example/pubspec.yaml
  catalyst_voices/uikit_example/web/favicon.png
  catalyst_voices/uikit_example/web/icons/Icon-192.png
  catalyst_voices/uikit_example/web/icons/Icon-512.png
  catalyst_voices/uikit_example/web/icons/Icon-maskable-192.png
  catalyst_voices/uikit_example/web/icons/Icon-maskable-512.png
  catalyst_voices/uikit_example/web/index.html
  catalyst_voices/uikit_example/web/manifest.json
  melos.yaml
Owners: @minikin

feat(dev cluster): Basic Cluster Setup and all necessary default services installed and running. (#527)
  .config/dictionaries/project.dic
  .vscode/extensions.json
  .vscode/settings.recommended.json
  catalyst-gateway/.gitignore
  catalyst-gateway/Earthfile
  catalyst-gateway/deny.toml
  catalyst-gateway/event-db/Earthfile
  docs/Earthfile
  utilities/local-cluster/.gitignore
  utilities/local-cluster/Earthfile
  utilities/local-cluster/Readme.md
  utilities/local-cluster/Vagrantfile
  utilities/local-cluster/justfile
  utilities/local-cluster/manifests/cat-voices-docs.yml
  utilities/local-cluster/scripts/check-cluster-dns.py
  utilities/local-cluster/shared/extra.hosts
  utilities/local-cluster/shared/k3s/cert-manager/self-signed-issuer.yaml
  utilities/local-cluster/shared/k3s/grafana-prometheus/alert-manager-ingress.yaml
  utilities/local-cluster/shared/k3s/grafana-prometheus/grafana-ingress.yaml
  utilities/local-cluster/shared/k3s/grafana-prometheus/prometheus-ingress.yaml
  utilities/local-cluster/shared/k3s/grafana-prometheus/prometheus-values.yaml
  utilities/local-cluster/shared/k3s/grafana-prometheus/traefik-dashboard.yaml
  utilities/local-cluster/shared/k3s/grafana-prometheus/traefik-service-monitor.yaml
  utilities/local-cluster/shared/k3s/longhorn/ingress.yaml
  utilities/local-cluster/shared/k3s/longhorn/storage-classes.yaml
  utilities/local-cluster/shared/k3s/registries.yaml
  utilities/local-cluster/shared/k3s/registry/registry-service.yaml
  utilities/local-cluster/shared/k3s/registry/registry-ui.yaml
  utilities/local-cluster/shared/k3s/scylladb/load-balancer.yaml
  utilities/local-cluster/shared/k3s/scylladb/values.cluster.yaml
  utilities/local-cluster/shared/k3s/scylladb/values.manager.yaml
  utilities/local-cluster/shared/k3s/scylladb/values.operator.yaml
  utilities/local-cluster/shared/k3s/server/manifests/traefik-dashboard-helmconfig.yml
  utilities/local-cluster/shared/k3s/server/manifests/traefik-dashboard-ingress.yaml
  utilities/local-cluster/shared/k3s/server/manifests/traefik-dashboard-service.yaml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: deploy uikit example to firebase hosting
  .github/workflows/flutter-uikit-example-firebase-deploy.yml
  catalyst_voices/uikit_example/Earthfile
Owners: @minikin

chore: add firebase config
  catalyst_voices/uikit_example/.firebaserc
  catalyst_voices/uikit_example/Earthfile
  catalyst_voices/uikit_example/firebase.json
Owners: @minikin

chore: cleanup
  .github/workflows/flutter-uikit-example-firebase-deploy.yml
Owners: none

chore: add comments
  catalyst-gateway-crates/c509-certificate/src/c509_oid.rs
Owners: none

feat: add install extension program
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/chromedriver/.metadata
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/chromedriver/mac-126.0.6478.61/chromedriver-mac-x64/LICENSE.chromedriver
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/integration_test/eternl-test-wallet.json
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/integration_test/wallet_extension.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/integration_test/wallet_test.dart
Owners: @minikin, @stevenj

chore: env variable for firebase project id
  .github/workflows/flutter-uikit-example-firebase-deploy.yml
Owners: none

chore: fix firebase entrypoint
  .github/workflows/flutter-uikit-example-firebase-deploy.yml
Owners: none

chore: remove .firebaserc
  catalyst_voices/uikit_example/.firebaserc
Owners: @minikin

chore: deploy only on pushes to main
  .github/workflows/flutter-uikit-example-firebase-deploy.yml
Owners: none

feat: uikit example firebase deploy (#558)
  .github/workflows/flutter-uikit-example-firebase-deploy.yml
  catalyst_voices/uikit_example/Earthfile
  catalyst_voices/uikit_example/firebase.json
Owners: @minikin

feat: add sentry
  .vscode/launch.recommended.json
  catalyst_voices/README.md
  catalyst_voices/lib/configs/sentry/sentry.dart
  catalyst_voices/lib/pages/coming_soon/coming_soon.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/common/app_config.dart
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/pubspec.yaml
Owners: @minikin

chore: fix lint error
  catalyst_voices/Earthfile
  catalyst_voices/lib/pages/coming_soon/coming_soon.dart
Owners: @minikin

fix: update c509 extensions
  catalyst-gateway-crates/c509-certificate/Cargo.toml
  catalyst-gateway-crates/c509-certificate/src/c509_oid.rs
  catalyst-gateway-crates/c509-certificate/src/c509_oid_extension.rs
  catalyst-gateway-crates/c509-certificate/src/lib.rs
Owners: none

chore: clean up
  catalyst_voices/Earthfile
  catalyst_voices/lib/configs/sentry/sentry.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/common/build_config.dart
  catalyst_voices/pubspec.yaml
Owners: @minikin

feat: add sentry
  .vscode/launch.recommended.json
  catalyst_voices/Earthfile
  catalyst_voices/README.md
  catalyst_voices/lib/configs/bootstrap.dart
  catalyst_voices/lib/configs/sentry_service.dart
  catalyst_voices/lib/pages/coming_soon/coming_soon.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/common/build_config.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/common/build_environment.dart
  catalyst_voices/pubspec.yaml
Owners: @minikin

Update README.md
  catalyst_voices/README.md
Owners: @minikin

Update app_router.dart
  catalyst_voices/lib/routes/app_router.dart
Owners: @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
