Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

chore: ignore pubspec.lock
  catalyst_voices_packages/catalyst_key_derivation/.gitignore
Owners: @minikin, @stevenj

chore: ignore pubspec.lock
  catalyst_voices_packages/catalyst_key_derivation/cargokit/build_tool/.gitignore
Owners: @minikin, @stevenj

fix(cat-gateway): Refactor the RBAC Token auth, so it's easier to maintain.
  catalyst-gateway/bin/src/service/api/config/mod.rs
  catalyst-gateway/bin/src/service/common/auth/mod.rs
  catalyst-gateway/bin/src/service/common/auth/rbac/mod.rs
  catalyst-gateway/bin/src/service/common/auth/rbac/scheme.rs
  catalyst-gateway/bin/src/service/common/auth/rbac/token.rs
  catalyst-gateway/bin/src/service/common/auth/scheme.rs
  catalyst-gateway/bin/src/service/common/auth/token.rs
  catalyst-gateway/bin/src/service/common/responses/mod.rs
  catalyst-gateway/bin/src/utils/blake2b_hash.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: fix spelling
  .config/dictionaries/project.dic
  catalyst_voices_packages/catalyst_key_derivation/android/build.gradle
  cspell.json
Owners: @minikin, @stevenj

chore: fix markdown
  .markdownlint-cli2.jsonc
  catalyst_voices_packages/catalyst_key_derivation/README.md
  catalyst_voices_packages/catalyst_key_derivation/example/README.md
  catalyst_voices_packages/catalyst_key_derivation/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
Owners: @minikin, @stevenj

chore: temporarily disable publishing for catalyst_key_derivation package
  catalyst_voices_packages/catalyst_key_derivation/pubspec.yaml
Owners: @minikin, @stevenj

fix(cat-gateway): stake address name
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/registration_get.rs
  catalyst-gateway/bin/src/service/api/cardano/staked_ada_get.rs
  catalyst-gateway/bin/src/service/common/types/cardano/address.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(cat-gateway): Add no auth and no-auth+rbac auth schemes
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/staked_ada_get.rs
  catalyst-gateway/bin/src/service/api/config/mod.rs
  catalyst-gateway/bin/src/service/common/auth/mod.rs
  catalyst-gateway/bin/src/service/common/auth/none.rs
  catalyst-gateway/bin/src/service/common/auth/none_or_rbac.rs
  catalyst-gateway/bin/src/service/common/types/cardano/address.rs
  catalyst-gateway/bin/src/service/common/types/cardano/mod.rs
  catalyst-gateway/bin/src/service/common/types/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix block.cdll metadata definition (#1050)
  docs/src/architecture/08_concepts/immutable_ledger/cddl/block.cddl
Owners: none

fix(cat-gateway): format + stake addr example
  catalyst-gateway/bin/src/service/api/cardano/registration_get.rs
  catalyst-gateway/bin/src/service/api/cardano/staked_ada_get.rs
  catalyst-gateway/bin/src/service/common/types/cardano/address.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(cat-gateway): code format
  catalyst-gateway/bin/src/service/api/cardano/registration_get.rs
  catalyst-gateway/bin/src/service/api/cardano/staked_ada_get.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

test: Session cubit
  catalyst_voices/lib/dependency/dependencies.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_blocs/test/session/session_cubit_test.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_service.dart
Owners: @minikin

fix(cat-gateway): openapi spectral example rules
  catalyst-gateway/tests/.oapi-v3.spectral.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor: services as interfaces with factory methods
  catalyst_voices/lib/dependency/dependencies.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/catalyst_voices_services.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_service.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/user/user_service.dart
Owners: @minikin

fix: analyzer
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_blocs/test/session/session_cubit_test.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/user/user_service_test.dart
Owners: @minikin

fix: mocktail spelling
  .config/dictionaries/project.dic
Owners: none

refactor: session cubit group
  catalyst_voices/packages/catalyst_voices_blocs/test/session/session_cubit_test.dart
Owners: @minikin

feat: complete proposal dto
  catalyst-gateway/bin/src/service/api/legacy/v0/mod.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/proposal_by_id_get.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/proposals_get.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/proposals_post.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

test(cat-voices): user service, keychain, keychain provider (#1056)
  .config/dictionaries/project.dic
  catalyst_voices/lib/dependency/dependencies.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_blocs/test/session/session_cubit_test.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/crypto/keychain_metadata.dart
  catalyst_voices/packages/catalyst_voices_models/test/crypto/keychain_metadata_test.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/catalyst_voices_services.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/keychain/vault_keychain.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/keychain/vault_keychain_provider.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_service.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/secure_storage_vault.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/user/user_service.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/keychain/keychain_transformers_test.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/keychain/vault_keychain_provider_test.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/keychain/vault_keychain_test.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/storage/vault/secure_storage_vault_test.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/user/user_service_test.dart
Owners: @minikin

feat: review dto
  catalyst-gateway/bin/src/service/api/legacy/v0/review_by_proposal_id_get.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: fmtfix
  catalyst-gateway/bin/src/service/api/legacy/v0/review_by_proposal_id_get.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

ci(general): bumps CI to v1.2.2
  .github/workflows/ci.yml
  .github/workflows/generate-allure-report.yml
Owners: none

fix(cat-gateway): Move legacy registration endpoint under Legacy Tag
  catalyst-gateway/bin/src/service/api/legacy/registration/mod.rs
  catalyst-gateway/bin/src/service/common/tags.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

ci(general): bumps CI to v1.2.2 (#1057)
  .github/workflows/ci.yml
  .github/workflows/generate-allure-report.yml
Owners: none

fix(cat-gateway): Add Auth to all endpoints
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
  catalyst-gateway/bin/src/service/api/legacy/registration/mod.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/mod.rs
  catalyst-gateway/bin/src/service/api/legacy/v1/mod.rs
  catalyst-gateway/bin/src/service/common/tags.rs
  catalyst-gateway/tests/.oapi-v3.spectral.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(cat-voice-package): add rust key derivation implementation
  catalyst_voices_packages/catalyst_key_derivation/example/lib/main.dart
  catalyst_voices_packages/catalyst_key_derivation/lib/catalyst_key_derivation.dart
  catalyst_voices_packages/catalyst_key_derivation/rust/Cargo.toml
  catalyst_voices_packages/catalyst_key_derivation/rust/src/api/key_derivation/mod.rs
  catalyst_voices_packages/catalyst_key_derivation/rust/src/api/mod.rs
Owners: @minikin, @stevenj

fix: bump ci version v3.2.21
  Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: cargo toml
  catalyst-gateway/.cargo/config.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: exclude example packages from melos bootstrap
  melos.yaml
Owners: none

fix: bump ci version v3.2.21 (#1062)
  Earthfile
  catalyst-gateway/.cargo/config.toml
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: key derivation implementation
  catalyst_voices_packages/catalyst_key_derivation/example/lib/main.dart
  catalyst_voices_packages/catalyst_key_derivation/lib/src/rust/api/key_derivation.dart
  catalyst_voices_packages/catalyst_key_derivation/lib/src/rust/frb_generated.dart
  catalyst_voices_packages/catalyst_key_derivation/lib/src/rust/frb_generated.io.dart
  catalyst_voices_packages/catalyst_key_derivation/lib/src/rust/frb_generated.web.dart
  catalyst_voices_packages/catalyst_key_derivation/rust/src/api/key_derivation/mod.rs
  catalyst_voices_packages/catalyst_key_derivation/rust/src/frb_generated.rs
Owners: @minikin, @stevenj

fix: auto gen file
  catalyst_voices_packages/catalyst_key_derivation/example/lib/main.dart
  catalyst_voices_packages/catalyst_key_derivation/lib/src/rust/api/key_derivation.dart
  catalyst_voices_packages/catalyst_key_derivation/lib/src/rust/frb_generated.dart
  catalyst_voices_packages/catalyst_key_derivation/rust/src/frb_generated.rs
Owners: @minikin, @stevenj

refactor: move scripts into catalyst_voices dir
  catalyst_voices/scripts/flutter_android_integration_test.sh
  catalyst_voices/scripts/flutter_ios_integration_test.sh
  catalyst_voices/scripts/flutter_web_integration_test.sh
Owners: @minikin

chore: lintfix
  catalyst-gateway/bin/src/service/api/legacy/v0/fund_get.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/mod.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/proposal_by_id_get.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/proposals_get.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/proposals_post.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/review_by_proposal_id_get.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/settings_get.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: cspell fix
  catalyst-gateway/bin/src/service/api/legacy/v0/fund_get.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/mod.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/proposal_by_id_get.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/proposals_get.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/proposals_post.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/review_by_proposal_id_get.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/settings_get.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor: move melos.yaml into catalyst_voices
  README.md
  catalyst_voices/.idea/runConfigurations/melos_run_analyze.xml
  catalyst_voices/.idea/runConfigurations/melos_run_build_pub_get_all.xml
  catalyst_voices/.idea/runConfigurations/melos_run_coverage.xml
  catalyst_voices/.idea/runConfigurations/melos_run_format.xml
  catalyst_voices/.idea/runConfigurations/melos_run_lint.xml
  catalyst_voices/melos.yaml
  catalyst_voices/packages/external/CHANGELOG.md
  catalyst_voices/pubspec.yaml
  pubspec.yaml
Owners: @minikin

fix: flutter drive params
  catalyst_voices/Earthfile
  catalyst_voices/integration_test/Earthfile
  catalyst_voices/integration_test/app_test.dart
  catalyst_voices/integration_test/chrome_box.sh
Owners: @minikin

fix
  catalyst_voices/integration_test/Earthfile
Owners: @minikin

fix: add word to dict
  .config/dictionaries/project.dic
Owners: none

fix: key derivation implementation
  catalyst_voices_packages/catalyst_key_derivation/lib/src/rust/api/key_derivation.dart
  catalyst_voices_packages/catalyst_key_derivation/rust/src/api/key_derivation/mod.rs
  catalyst_voices_packages/catalyst_key_derivation/rust/src/frb_generated.rs
Owners: @minikin, @stevenj
