Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

clippy lints
  catalyst-gateway/bin/src/registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

remove dalek
  catalyst-gateway/Cargo.lock
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

rm dalek
  catalyst-gateway/bin/src/registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor(component bytes): struct docs
  catalyst-gateway/bin/src/registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor(component bytes): struct docs
  catalyst-gateway/bin/src/registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor(component bytes): struct docs
  .config/dictionaries/project.dic
Owners: none

feat: Improve schemathesis logs (#374)
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: Add Cat Gateway active endpoints to repository.
  catalyst_voices/packages/catalyst_voices_repositories/lib/src/catalyst_data_gateway_repository.dart
Owners: @minikin

test: CatalystDataGatewayRepository tests.
  catalyst_voices/packages/catalyst_voices_repositories/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_repositories/test/src/catalyst_data_gateway_repository/catalyst_data_gateway_repository_test.dart
  catalyst_voices/packages/catalyst_voices_repositories/test/src/catalyst_data_gateway_repository/catalyst_data_gateway_repository_test.mocks.dart
Owners: @minikin

test: Complete tests for CatalystDataGatewayRepository.
  catalyst_voices/packages/catalyst_voices_repositories/test/src/catalyst_data_gateway_repository/catalyst_data_gateway_repository_test.dart
Owners: @minikin

docs: Specify how to generate mocks.
  catalyst_voices/packages/catalyst_voices_repositories/README.md
Owners: @minikin

wip
  catalyst-gateway/bin/src/event_db/utxo.rs
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/staked_ada_get.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/stake_amount.rs
  catalyst-gateway/event-db/queries/utxo/select_total_utxo_amount.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/stake_amount.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: Lint markdown.
  catalyst_voices/packages/catalyst_voices_repositories/README.md
Owners: @minikin

chore: Add `mockito` as dev dep for CI tests.
  catalyst_voices/pubspec.yaml
Owners: @minikin

finish utxo test
  catalyst-gateway/tests/api_tests/api_tests/__init__.py
  catalyst-gateway/tests/api_tests/api_tests/test_utxo.py
  catalyst-gateway/tests/api_tests/snapshot_tool-56364174.json
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix deny
  catalyst-gateway/Cargo.lock
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix check
  .config/dictionaries/project.dic
  catalyst-gateway/event-db/migrations/V6__registration.sql
  catalyst-gateway/event-db/queries/utxo/select_total_utxo_amount.sql
  catalyst-gateway/tests/api_tests/api_tests/test_utxo.py
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix
  catalyst-gateway/tests/api_tests/api_tests/test_utxo.py
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.g.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.chopper.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.dart
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.g.dart
Owners: @minikin

refactor(voting key as bytes): db entry
  catalyst-gateway/bin/src/event_db/voter_registration.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

cargo deny
  catalyst-gateway/Cargo.lock
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Revert "cargo deny"
  catalyst-gateway/Cargo.lock
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

cargo deny
  catalyst-gateway/Cargo.lock
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: bumb h2 versions to make cargo deny happy
  catalyst-gateway/Cargo.lock
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

update earthly builder versions
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/bin/src/service/api/cardano/staked_ada_get.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/mod.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/stake_info.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: index and capture registration data cip36 (#372)
  .config/dictionaries/project.dic
  catalyst-gateway/Cargo.lock
  catalyst-gateway/Earthfile
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/event_db/legacy/types/event.rs
  catalyst-gateway/bin/src/event_db/voter_registration.rs
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/bin/src/main.rs
  catalyst-gateway/bin/src/registration/61284.cddl
  catalyst-gateway/bin/src/registration/61285.cddl
  catalyst-gateway/bin/src/registration/cip36.cddl
  catalyst-gateway/bin/src/registration/mod.rs
  catalyst-gateway/bin/src/service/mod.rs
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/event-db/migrations/V6__registration.sql
  catalyst-gateway/event-db/queries/voter_registration/insert_voter_registration.sql
  cspell.json
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: Add CatalystDataGatewayRepository (#376)
  catalyst_voices/packages/catalyst_voices_repositories/README.md
  catalyst_voices/packages/catalyst_voices_repositories/lib/src/catalyst_data_gateway_repository.dart
  catalyst_voices/packages/catalyst_voices_repositories/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_repositories/test/src/catalyst_data_gateway_repository/catalyst_data_gateway_repository_test.dart
  catalyst_voices/packages/catalyst_voices_repositories/test/src/catalyst_data_gateway_repository/catalyst_data_gateway_repository_test.mocks.dart
  catalyst_voices/pubspec.yaml
Owners: @minikin

ignore test_utxo.py in CI
  Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

dont ignore tests
  catalyst-gateway/tests/api_tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs(cips): wip
  docs/src/catalyst-standards/draft-cips/x509-rbac-signing-with-cip30/cip-xxxx.md
  docs/src/catalyst-standards/draft-cips/x509-role-registration-metadata/cip-xxxx.md
Owners: none

add date_time_to_slot_number_get endpoint
  catalyst-gateway/bin/src/event_db/follower.rs
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/bin/src/service/api/cardano/date_time_to_slot_number_get.rs
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/staked_ada_get.rs
  catalyst-gateway/bin/src/service/api/cardano/sync_state_get.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/sync_state.rs
  catalyst-gateway/event-db/queries/follower/select_update_state.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

add sql queries
  catalyst-gateway/bin/src/event_db/follower.rs
  catalyst-gateway/bin/src/service/api/cardano/date_time_to_slot_number_get.rs
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/mod.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/network.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/slot_info.rs
  catalyst-gateway/event-db/queries/follower/select_slot_index_by_datetime/current_slot_no.sql
  catalyst-gateway/event-db/queries/follower/select_slot_index_by_datetime/next_slot_no.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix
  catalyst-gateway/bin/src/event_db/follower.rs
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

update logging
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst-gateway/tests/api_tests/api_tests/test_utxo.py
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

update slot info, fix follower indexing block time issue
  catalyst-gateway/bin/src/event_db/follower.rs
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/bin/src/service/api/cardano/date_time_to_slot_number_get.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/slot_info.rs
  catalyst-gateway/event-db/queries/follower/select_slot_index_by_datetime/current_slot_no.sql
  catalyst-gateway/event-db/queries/follower/select_slot_index_by_datetime/next_slot_no.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

add previous slot info field
  catalyst-gateway/bin/src/event_db/follower.rs
  catalyst-gateway/bin/src/service/api/cardano/date_time_to_slot_number_get.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/slot_info.rs
  catalyst-gateway/event-db/queries/follower/select_slot_index_by_datetime/current_slot_info.sql
  catalyst-gateway/event-db/queries/follower/select_slot_index_by_datetime/next_slot_info.sql
  catalyst-gateway/event-db/queries/follower/select_slot_index_by_datetime/previous_slot_info.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

test(gateway): Add perf metrics when syncing blockchain and also timeout faster when it fails.
  catalyst-gateway/tests/api_tests/api_tests/test_utxo.py
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(backend): Show interval slots/sec as well as cumulative
  catalyst-gateway/tests/api_tests/api_tests/test_utxo.py
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
