Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix
  catalyst-gateway/tests/api_tests/api_tests/test_schema_mismatch_behavior.py
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/tests/api_tests/api_tests/__init__.py
  catalyst-gateway/tests/api_tests/api_tests/test_schema_mismatch_behavior.py
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/tests/api_tests/api_tests/__init__.py
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

add test_utxo.py
  catalyst-gateway/tests/api_tests/api_tests/__init__.py
  catalyst-gateway/tests/api_tests/api_tests/test_schema_mismatch_behavior.py
  catalyst-gateway/tests/api_tests/api_tests/test_utxo.py
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: Reorder folders.
  catalyst_voices/packages/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/responsive/responsive_breakpoint_key.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/responsive/responsive_builder.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/responsive/responsive_child.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/responsive/responsive_padding.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/platform_aware_builder_test.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/responsive_builder_test.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/responsive_child_test.dart
Owners: @minikin

feat: Add `ResponsiveChild`. (#342)
  catalyst_voices/packages/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/responsive/responsive_breakpoint_key.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/responsive/responsive_builder.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/responsive/responsive_child.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/responsive/responsive_padding.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/platform_aware_builder_test.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/responsive_builder_test.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/responsive_child_test.dart
Owners: @minikin

Update README.md
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/README.md
Owners: @minikin

chore: fix md files
  catalyst_voices/packages/catalyst_voices_remote_widgets/README.md
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/README.md
Owners: @minikin

Update README.md
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/README.md
Owners: @minikin

chore: format fixes
  .config/dictionaries/project.dic
  catalyst_voices/packages/catalyst_voices_remote_widgets/example/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
Owners: @minikin

chore: maybe fix cspell
  .config/dictionaries/project.dic
  cspell.json
Owners: none

Update cspell.json
  cspell.json
Owners: none

Update cspell.json
  cspell.json
Owners: none

Update cspell.json
  cspell.json
Owners: none

update config table
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/event_db/config.rs
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/event-db/migrations/V1__config_tables.sql
  catalyst-gateway/event-db/queries/config/select_config.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix CI
  catalyst-gateway/event-db/queries/config/select_config.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/event-db/queries/config/select_config.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/event-db/queries/config/select_config.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: builder fields
  utilities/wallet-tester/src/common/components/CBOREditor.tsx
  utilities/wallet-tester/src/common/components/Dropdown.tsx
  utilities/wallet-tester/src/common/components/TxBuilder.tsx
  utilities/wallet-tester/src/common/components/TxBuilderMultiFieldsSection.tsx
  utilities/wallet-tester/src/common/components/TxBuilderSingleFieldSection.tsx
  utilities/wallet-tester/src/common/helpers/buildUnsignedTx.ts
  utilities/wallet-tester/src/common/helpers/extractApiData.ts
  utilities/wallet-tester/src/common/helpers/json2tx.ts
  utilities/wallet-tester/src/common/helpers/tx2json.ts
  utilities/wallet-tester/src/modules/SignTxPanel.tsx
  utilities/wallet-tester/src/types/cardano.ts
Owners: none

chore: lintfix
  utilities/wallet-tester/src/common/components/Dropdown.tsx
  utilities/wallet-tester/src/common/components/TxBuilder.tsx
  utilities/wallet-tester/src/common/helpers/extractApiData.ts
  utilities/wallet-tester/src/types/cardano.ts
Owners: none

feat: Update cat-gateway config handling, preparation for integration tests (#344)
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/event_db/config.rs
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/event-db/migrations/V1__config_tables.sql
  catalyst-gateway/event-db/queries/config/select_config.sql
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst-gateway/tests/api_tests/Readme.md
  catalyst-gateway/tests/api_tests/api_tests/__init__.py
  catalyst-gateway/tests/api_tests/api_tests/test_schema_mismatch_behavior.py
  catalyst-gateway/tests/api_tests/api_tests/test_utxo.py
  catalyst-gateway/tests/api_tests/docker-compose.yml
  catalyst-gateway/tests/api_tests/poetry.lock
  catalyst-gateway/tests/api_tests/pyproject.toml
  catalyst-gateway/tests/schema-mismatch/schema_mismatch/__init__.py
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor(cips): reorganize documentation ready for drafting descriptive prose about the formats and uses
  docs/src/catalyst-standards/draft-cips/ed25519-cbor-tags/cip-xxxx.md
  docs/src/catalyst-standards/draft-cips/images/cardano-transaction.d2
  docs/src/catalyst-standards/draft-cips/images/cardano-transaction.svg
  docs/src/catalyst-standards/draft-cips/images/certificate-chain.d2
  docs/src/catalyst-standards/draft-cips/images/certificate-chain.svg
  docs/src/catalyst-standards/draft-cips/images/metadata-envelope.d2
  docs/src/catalyst-standards/draft-cips/images/metadata-envelope.svg
  docs/src/catalyst-standards/draft-cips/images/x509-roles-complete.d2
  docs/src/catalyst-standards/draft-cips/images/x509-roles-complete.svg
  docs/src/catalyst-standards/draft-cips/images/x509-roles.d2
  docs/src/catalyst-standards/draft-cips/images/x509-roles.svg
  docs/src/catalyst-standards/draft-cips/x509-envelope-metadata/.meta.yml
  docs/src/catalyst-standards/draft-cips/x509-envelope-metadata/cip-xxxx.md
  docs/src/catalyst-standards/draft-cips/x509-envelope-metadata/x509-envelope.cddl
  docs/src/catalyst-standards/draft-cips/x509-rbac-signing-with-cip30/.meta.yml
  docs/src/catalyst-standards/draft-cips/x509-rbac-signing-with-cip30/cip-xxxx.md
  docs/src/catalyst-standards/draft-cips/x509-role-registration-metadata/.meta.yml
  docs/src/catalyst-standards/draft-cips/x509-role-registration-metadata/cip-xxxx.md
  docs/src/catalyst-standards/draft-cips/x509-role-registration-metadata/x509-roles.cddl
Owners: none

docs(cips): add cip draft for catalyst roles using the x509-rbac standard
  docs/src/catalyst-standards/draft-cips/project-catalyst-x509-role-defintions/.meta.yml
  docs/src/catalyst-standards/draft-cips/project-catalyst-x509-role-defintions/cip-xxxx.md
Owners: none

feat: certificate stake delegation
  utilities/wallet-tester/src/common/components/Dropdown.tsx
  utilities/wallet-tester/src/common/components/TxBuilder.tsx
  utilities/wallet-tester/src/types/cardano.ts
Owners: none

feat(initial cddl parsing ): wip
  catalyst-gateway/Cargo.lock
  catalyst-gateway/Earthfile
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/cddl/61284.cddl
  catalyst-gateway/bin/src/cddl/61285.cddl
  catalyst-gateway/bin/src/cddl/cip36.cddl
  catalyst-gateway/bin/src/cddl/mod.rs
  catalyst-gateway/bin/src/event_db/error.rs
  catalyst-gateway/bin/src/event_db/voter_registration.rs
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/bin/src/main.rs
  catalyst-gateway/bin/src/service/api/utxo/staked_ada_get.rs
  catalyst-gateway/bin/src/util.rs
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/event-db/migrations/V6__registration.sql
  catalyst-gateway/event-db/queries/voter_registration/insert_voter_registration.sql
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: Update assets for coming soon page.
  catalyst_voices/packages/catalyst_voices_assets/assets/colors/colors.xml
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/assets.gen.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/colors.gen.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

chore: Update assets for coming soon page.
  catalyst_voices/packages/catalyst_voices_assets/assets/images/coming_soon_bkg.webp
  catalyst_voices/packages/catalyst_voices_assets/assets/images/logo.webp
Owners: @minikin

feat: Add Coming Soon page with text animations.
  catalyst_voices/lib/pages/coming_soon/coming_soon.dart
  catalyst_voices/lib/pages/coming_soon/description.dart
  catalyst_voices/lib/pages/coming_soon/logo.dart
  catalyst_voices/lib/pages/coming_soon/title.dart
  catalyst_voices/pubspec.yaml
Owners: @minikin

chore: Adjust routes to display Coming Soon page.
  catalyst_voices/lib/app/view/app_content.dart
  catalyst_voices/lib/routes/app_router.dart
  catalyst_voices/lib/routes/home_page_route.dart
  catalyst_voices/lib/routes/home_page_route.g.dart
Owners: @minikin

chore: Remove guard from home route.
  catalyst_voices/lib/routes/app_router.dart
Owners: @minikin

chore: Adjust spelling and linting.
  .config/dictionaries/project.dic
  catalyst_voices/lib/pages/coming_soon/description.dart
  catalyst_voices/lib/pages/coming_soon/logo.dart
  catalyst_voices/lib/pages/coming_soon/title.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/responsive_builder_test.dart
Owners: @minikin

docs(cips): Add c509 cddl with restrictions and enhancements for plutus usage
  docs/src/catalyst-standards/draft-cips/c509-plutus-restricted-certificate/c509-cert-plutus-restricted.cddl
Owners: none

feat: Add coming soon page (#346)
  .config/dictionaries/project.dic
  catalyst_voices/lib/app/view/app_content.dart
  catalyst_voices/lib/pages/coming_soon/coming_soon.dart
  catalyst_voices/lib/pages/coming_soon/description.dart
  catalyst_voices/lib/pages/coming_soon/logo.dart
  catalyst_voices/lib/pages/coming_soon/title.dart
  catalyst_voices/lib/routes/app_router.dart
  catalyst_voices/lib/routes/home_page_route.dart
  catalyst_voices/lib/routes/home_page_route.g.dart
  catalyst_voices/packages/catalyst_voices_assets/assets/colors/colors.xml
  catalyst_voices/packages/catalyst_voices_assets/assets/images/coming_soon_bkg.webp
  catalyst_voices/packages/catalyst_voices_assets/assets/images/logo.webp
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/assets.gen.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/colors.gen.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_shared/test/src/responsive_builder_test.dart
  catalyst_voices/pubspec.yaml
Owners: @minikin

feat: apply builder fields to builder function
  utilities/wallet-tester/src/common/components/SwitchButton.tsx
  utilities/wallet-tester/src/common/components/TxBuilder.tsx
  utilities/wallet-tester/src/common/helpers/buildUnsignedTx.ts
  utilities/wallet-tester/src/modules/SignTxPanel.tsx
  utilities/wallet-tester/src/types/cardano.ts
Owners: none

feat: certs build
  utilities/wallet-tester/src/common/components/TxBuilder.tsx
  utilities/wallet-tester/src/common/helpers/buildUnsignedTx.ts
  utilities/wallet-tester/src/types/cardano.ts
Owners: none

feat: Add and configure swagger_dart_code_generator.
  catalyst_voices/packages/catalyst_voices_services/.gitignore
  catalyst_voices/packages/catalyst_voices_services/build.yaml
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
Owners: @minikin

feat: Add Earthly targets for code generation.
  catalyst_voices/Earthfile
Owners: @minikin

feat(initial cddl parsing ): wip
  catalyst-gateway/Cargo.lock
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/cddl/mod.rs
  catalyst-gateway/bin/src/event_db/voter_registration.rs
  catalyst-gateway/bin/src/follower.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs(cips): Metadata envelope specification draft complete
  .config/dictionaries/project.dic
  docs/src/catalyst-standards/draft-cips/x509-envelope-metadata/cip-xxxx.md
  docs/src/catalyst-standards/draft-cips/x509-envelope-metadata/images/metadata-envelope-process.d2
  docs/src/catalyst-standards/draft-cips/x509-envelope-metadata/images/metadata-envelope-process.svg
  docs/src/catalyst-standards/draft-cips/x509-envelope-metadata/images/metadata-envelope-structure.d2
  docs/src/catalyst-standards/draft-cips/x509-envelope-metadata/images/metadata-envelope-structure.svg
  docs/src/catalyst-standards/draft-cips/x509-envelope-metadata/x509-envelope.cddl
Owners: none

feat: Restore `catalyst_analysis` package in the pipeline for the code generation.
  Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
Owners: @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
