Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

feat: register widget
  catalyst_voices/lib/widgets/indicators/voices_no_internet_connection_banner.dart
  catalyst_voices/lib/widgets/widgets.dart
Owners: @minikin

fix CI
  .config/dictionaries/project.dic
  docs/src/architecture/08_concepts/voting_transaction/crypto.md
  docs/src/architecture/08_concepts/voting_transaction/transaction.md
Owners: none

fix: layout
  catalyst_voices/lib/widgets/indicators/voices_no_internet_connection_banner.dart
  catalyst_voices/uikit_example/lib/examples/voices_indicators_example.dart
Owners: @minikin

chore: fix dart analysis rules which override a single rule
  catalyst_voices/analysis_options.yaml
  catalyst_voices/packages/catalyst_voices_assets/analysis_options.yaml
  catalyst_voices/packages/catalyst_voices_blocs/analysis_options.yaml
  catalyst_voices/packages/catalyst_voices_brands/analysis_options.yaml
  catalyst_voices/packages/catalyst_voices_localization/analysis_options.yaml
  catalyst_voices/packages/catalyst_voices_models/analysis_options.yaml
  catalyst_voices/packages/catalyst_voices_repositories/analysis_options.yaml
  catalyst_voices/packages/catalyst_voices_services/analysis_options.yaml
  catalyst_voices/packages/catalyst_voices_shared/analysis_options.yaml
  catalyst_voices/packages/catalyst_voices_view_models/analysis_options.yaml
  catalyst_voices/uikit_example/analysis_options.yaml
  catalyst_voices_packages/catalyst_analysis/README.md
  catalyst_voices_packages/catalyst_analysis/example/analysis_options.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/analysis_options.yaml
  utilities/catalyst_voices_remote_widgets/example/analysis_options.yaml
  utilities/poc_local_storage/analysis_options.yaml
Owners: @minikin, @stevenj

update from feedback
  docs/src/architecture/08_concepts/immutable_ledger/ledger.md
Owners: none

fix: uses-material-design bug
  catalyst_voices/packages/catalyst_voices_brands/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_repositories/pubspec.yaml
Owners: @minikin

chore: ignore missing messages in assert
  catalyst_voices/lib/pages/treasury/campaign_segment_controller.dart
  catalyst_voices/lib/pages/workspace/proposal_segment_controller.dart
Owners: @minikin

chore: constraint dependency
  catalyst_voices/uikit_example/pubspec.yaml
Owners: @minikin

feat: expand banner
  catalyst_voices/lib/widgets/indicators/voices_no_internet_connection_banner.dart
Owners: @minikin

feat: update text fields to correctly use the svg icons
  catalyst_voices/lib/widgets/text_field/voices_text_field.dart
Owners: @minikin

feat: add unlocked header actions to voting page
  catalyst_voices/lib/pages/voting/voting_page.dart
Owners: @minikin

refactor: cleanup
  catalyst_voices/lib/pages/spaces/spaces_drawer.dart
Owners: @minikin

fix: uses-material-design bug (#817)
  catalyst_voices/packages/catalyst_voices_brands/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_repositories/pubspec.yaml
Owners: @minikin

docs: Jormungandr voting transaction structure and crypto spec. (#809)
  .config/dictionaries/project.dic
  docs/Earthfile
  docs/src/architecture/08_concepts/voting_transaction/.pages
  docs/src/architecture/08_concepts/voting_transaction/crypto.md
  docs/src/architecture/08_concepts/voting_transaction/transaction.md
  docs/src/architecture/08_concepts/voting_transaction/tx_v1.abnf
Owners: none

feat: button display on wide screen
  catalyst_voices/lib/widgets/indicators/voices_no_internet_connection_banner.dart
Owners: @minikin

refactor: using theme
  catalyst_voices/lib/widgets/indicators/voices_no_internet_connection_banner.dart
Owners: @minikin

refactor: theme color on white
  catalyst_voices/lib/widgets/indicators/voices_no_internet_connection_banner.dart
Owners: @minikin

feat: voting space unlocked menu (#824)
  catalyst_voices/lib/pages/spaces/spaces_drawer.dart
  catalyst_voices/lib/pages/spaces/spaces_shell_page.dart
  catalyst_voices/lib/pages/spaces/voting_rounds.dart
  catalyst_voices/lib/pages/voting/voting_page.dart
  catalyst_voices/lib/widgets/app_bar/session/session_header.dart
  catalyst_voices/lib/widgets/app_bar/session/user_header.dart
  catalyst_voices/lib/widgets/text_field/voices_text_field.dart
  catalyst_voices/lib/widgets/tiles/voices_nav_tile.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/uikit_example/lib/examples/voices_spaces_example.dart
Owners: @minikin

refactor: var name
  catalyst_voices/lib/widgets/indicators/voices_no_internet_connection_banner.dart
Owners: @minikin

feat: move discovery from ui kit to voices
  catalyst_voices/lib/pages/discovery/discovery_page.dart
  catalyst_voices/uikit_example/lib/examples/voices_spaces_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

fix(backend-lib): Bump to catalyst-libs tagged version
  catalyst-gateway/bin/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(backend): stub out obsolete code (to be removed in follow up PR).
  catalyst-gateway/bin/src/cardano/cip36_registration_obsolete/cip36.cddl
  catalyst-gateway/bin/src/cardano/cip36_registration_obsolete/cip36_registration.cddl
  catalyst-gateway/bin/src/cardano/cip36_registration_obsolete/cip36_witness.cddl
  catalyst-gateway/bin/src/cardano/cip36_registration_obsolete/mod.rs.obsolete
  catalyst-gateway/bin/src/cardano/mod.rs
  catalyst-gateway/bin/src/cardano/util.rs
  catalyst-gateway/bin/src/db/event/cardano.obsolete/cip36_registration/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/types.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(backend-lib): code format
  catalyst-gateway/bin/src/cardano/util.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(backend): remove unused crate dependencies
  catalyst-gateway/bin/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: Add Handler for Permissionless Auth (#825)
  .config/dictionaries/project.dic
  .markdownlint.jsonc
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/cardano/cip36_registration_obsolete/cip36.cddl
  catalyst-gateway/bin/src/cardano/cip36_registration_obsolete/cip36_registration.cddl
  catalyst-gateway/bin/src/cardano/cip36_registration_obsolete/cip36_witness.cddl
  catalyst-gateway/bin/src/cardano/cip36_registration_obsolete/mod.rs.obsolete
  catalyst-gateway/bin/src/cardano/mod.rs
  catalyst-gateway/bin/src/cardano/util.rs
  catalyst-gateway/bin/src/db/event/cardano.obsolete/cip36_registration/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/types.rs
  docs/src/catalyst-standards/permissionless-auth/auth-header.md
  docs/src/catalyst-standards/permissionless-auth/auth-token.cddl
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(backend): Re-enable dependent crates used by this code
  catalyst-gateway/bin/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(backend): clippy lints
  catalyst-gateway/bin/src/service/api/auth/token.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(backend): spelling
  .config/dictionaries/project.dic
  catalyst-gateway/bin/src/service/api/auth/endpoint.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: auth token (#723)
  .config/dictionaries/project.dic
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/service/api/auth/endpoint.rs
  catalyst-gateway/bin/src/service/api/auth/mod.rs
  catalyst-gateway/bin/src/service/api/auth/token.rs
  catalyst-gateway/bin/src/service/api/health/mod.rs
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/service/docs/stoplight_elements/mod.rs
  catalyst-gateway/bin/src/service/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: merge user state bloc with session bloc
  catalyst_voices/lib/app/view/app.dart
  catalyst_voices/lib/dependency/dependencies.dart
  catalyst_voices/lib/pages/discovery/current_status_text.dart
  catalyst_voices/lib/pages/discovery/discovery_page.dart
  catalyst_voices/lib/pages/discovery/toggle_state_text.dart
  catalyst_voices/lib/pages/spaces/spaces_shell_page.dart
  catalyst_voices/lib/widgets/app_bar/session/session_action_header.dart
  catalyst_voices/lib/widgets/app_bar/session/session_header.dart
  catalyst_voices/lib/widgets/app_bar/session/session_state_header.dart
  catalyst_voices/lib/widgets/app_bar/session/user_header.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/catalyst_voices_blocs.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_bloc.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_event.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_state.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/user_profile/user_profile.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/user_profile/user_profile_bloc.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/user_profile/user_profile_event.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/user_profile/user_profile_state.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/user/user.dart
  catalyst_voices/uikit_example/lib/main.dart
Owners: @minikin

fix: warnings
  catalyst_voices/lib/widgets/indicators/voices_no_internet_connection_banner.dart
  catalyst_voices/uikit_example/lib/examples/voices_indicators_example.dart
Owners: @minikin

fix: warnings
  catalyst_voices/lib/widgets/indicators/voices_no_internet_connection_banner.dart
Owners: @minikin

fix: lock button circle style
  catalyst_voices/lib/widgets/app_bar/session/session_action_header.dart
  catalyst_voices/lib/widgets/buttons/voices_icon_button.dart
Owners: @minikin

feat: spaces visitor no drawer
  catalyst_voices/lib/pages/spaces/spaces_shell_page.dart
Owners: @minikin

feat: guest drawer menu
  catalyst_voices/lib/pages/spaces/drawer/discovery_menu.dart
  catalyst_voices/lib/pages/spaces/drawer/guest_menu.dart
  catalyst_voices/lib/pages/spaces/drawer/individual_private_campaigns.dart
  catalyst_voices/lib/pages/spaces/drawer/my_private_proposals.dart
  catalyst_voices/lib/pages/spaces/drawer/space_header.dart
  catalyst_voices/lib/pages/spaces/drawer/spaces_drawer.dart
  catalyst_voices/lib/pages/spaces/drawer/voting_rounds.dart
  catalyst_voices/lib/pages/spaces/spaces_drawer.dart
  catalyst_voices/lib/pages/spaces/spaces_shell_page.dart
  catalyst_voices/lib/widgets/app_bar/session/session_action_header.dart
  catalyst_voices/lib/widgets/tiles/voices_nav_tile.dart
Owners: @minikin

feat: drawer discovery menu
  catalyst_voices/lib/pages/spaces/drawer/discovery_menu.dart
Owners: @minikin

chore: remove commented out code
  catalyst_voices/lib/pages/discovery/toggle_state_text.dart
Owners: @minikin

fix: move super.initState to the top
  catalyst_voices/lib/pages/discovery/toggle_state_text.dart
Owners: @minikin

feat: i10n
  catalyst_voices/lib/widgets/indicators/voices_no_internet_connection_banner.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

fix: example removing row
  catalyst_voices/uikit_example/lib/examples/voices_indicators_example.dart
Owners: @minikin
