Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(latest registration endpoints): given stake addr and stake key hash
  catalyst-gateway/bin/src/db/index/queries/cql/get_latest_registration_w_stake_addr.cql
  catalyst-gateway/bin/src/db/index/queries/mod.rs
  catalyst-gateway/bin/src/db/index/queries/registrations/get_latest_registration_w_stake_addr.rs
  catalyst-gateway/bin/src/db/index/queries/staked_ada/get_txi_by_txn_hash.rs
  catalyst-gateway/bin/src/db/index/queries/staked_ada/get_txo_by_stake_address.rs
  catalyst-gateway/bin/src/service/api/cardano/cip36.rs
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(latest registration endpoints): given stake addr and stake key hash
  catalyst-gateway/bin/src/db/index/queries/cql/get_stake_addr_w_stake_key_hash.cql
  catalyst-gateway/bin/src/db/index/queries/mod.rs
  catalyst-gateway/bin/src/db/index/queries/registrations/get_latest_registration_w_stake_addr.rs
  catalyst-gateway/bin/src/db/index/queries/registrations/get_latest_registration_w_stake_hash.rs
  catalyst-gateway/bin/src/db/index/queries/registrations/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/cip36.rs
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(cat-gateway): Bump ci version and update rust earthfile to check for cache breaks
  Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

test(cat-gateway): Add parameters better suited to syncing mainnet
  catalyst-gateway/Justfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: add path to melos.yaml + logger message
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/keychain_creation_cubit.dart
  melos.yaml
Owners: @minikin

feat(cat-voices): download seed phrase (#906)
  catalyst_voices/lib/dependency/dependencies.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/keychain_creation_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/catalyst_voices_services.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/downloader/downloader.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/downloader/downloader_stub.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/downloader/io_downloader.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/downloader/web_downloader.dart
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  melos.yaml
Owners: @minikin

chore: cleanup
  catalyst_voices/lib/pages/registration/wallet_link/stage/wallet_details_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/wallet_link_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/wallet_link_state_data.dart
Owners: @minikin

feat: check seed phrase stage
  catalyst_voices/lib/pages/registration/create_keychain/create_keychain_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/check_seed_phrase_instructions_panel.dart
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

feat(cat-voices): wallet link details empty balance (#907)
  catalyst_voices/lib/pages/registration/wallet_link/stage/wallet_details_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/wallet_link_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/wallet_link_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/wallet_link_state_data.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/wallet/cardano_wallet_details.dart
Owners: @minikin

fix spelling
  .config/dictionaries/project.dic
Owners: none

fix markdown
  docs/src/architecture/08_concepts/voting_transaction/crypto.md
Owners: none

fix: code of conduct broken link
  .github/ISSUE_TEMPLATE/bug_report.yml
Owners: none

feat(cat-voices): check seed phrase stage (#908)
  catalyst_voices/lib/pages/registration/create_keychain/create_keychain_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/check_seed_phrase_instructions_panel.dart
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

feat: initial commit
  catalyst_voices/lib/widgets/cards/role_chooser_card.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/uikit_example/lib/examples/voices_cards_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

feat: check seed phrase panel
  catalyst_voices/lib/pages/registration/create_keychain/create_keychain_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_check_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_panel.dart
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
  catalyst_voices/lib/widgets/common/infrastructure/voices_loadable.dart
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_completer.dart
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_picker.dart
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_sequencer.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/keychain_creation_cubit.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/seed_phrase.dart
  catalyst_voices/uikit_example/lib/examples/voices_seed_phrase_example.dart
Owners: @minikin

feat: indicate info panel picture word selection
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
Owners: @minikin

fix: add spacing
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_check_panel.dart
Owners: @minikin

chore: delete test stage skip
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/keychain_creation_cubit.dart
Owners: @minikin

feat: storing seed phrase check result
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_check_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/keychain_creation_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/seed_phrase_state.dart
Owners: @minikin

feat: preview card with state
  catalyst_voices/lib/widgets/buttons/voices_segmented_button.dart
  catalyst_voices/lib/widgets/cards/role_chooser_card.dart
  catalyst_voices/uikit_example/lib/examples/voices_cards_example.dart
Owners: @minikin

feat: Upload file dialog - initial commit
  catalyst_voices/lib/widgets/modals/voices_upload_file_dialog.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/pubspec.yaml
  catalyst_voices/uikit_example/lib/examples/voices_modals_example.dart
Owners: @minikin

feat: Upload file dialog - fix bg and border for dialogs
  catalyst_voices/lib/widgets/modals/voices_desktop_dialog.dart
Owners: @minikin

fix: icon
  catalyst_voices/lib/widgets/cards/role_chooser_card.dart
  catalyst_voices/uikit_example/lib/examples/voices_cards_example.dart
Owners: @minikin

feat(latest registration endpoints): given stake addr and stake key hash
  catalyst-gateway/bin/src/db/index/queries/cql/get_stake_addr_w_stake_key_hash.cql
  catalyst-gateway/bin/src/db/index/queries/cql/get_stake_addr_w_vote_key.cql
  catalyst-gateway/bin/src/db/index/queries/mod.rs
  catalyst-gateway/bin/src/db/index/queries/registrations/get_latest_w_stake_addr.rs
  catalyst-gateway/bin/src/db/index/queries/registrations/get_latest_w_stake_hash.rs
  catalyst-gateway/bin/src/db/index/queries/registrations/get_latest_w_vote_key.rs
  catalyst-gateway/bin/src/db/index/queries/registrations/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/cip36.rs
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add temporary panel
  catalyst_voices/lib/pages/registration/create_keychain/create_keychain_panel.dart
  catalyst_voices/lib/pages/registration/placeholder_panel.dart
  catalyst_voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/roles_chooser_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/roles_summary_panel.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/registration/create_keychain_stage.dart
Owners: @minikin

fix: registration flow completeness
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/registration/registration_step.dart
Owners: @minikin

feat: Upload file dialog - extract and implement subwidgets
  catalyst_voices/lib/widgets/modals/voices_upload_file_dialog.dart
Owners: @minikin

feat(cat-voices): registration flow placeholders (#913)
  catalyst_voices/lib/pages/registration/create_keychain/create_keychain_panel.dart
  catalyst_voices/lib/pages/registration/placeholder_panel.dart
  catalyst_voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/roles_chooser_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/roles_summary_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/registration/create_keychain_stage.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/registration/registration_step.dart
Owners: @minikin

feat(latest registration endpoints): given stake addr and stake key hash
  catalyst-gateway/bin/src/service/api/cardano/cip36.rs
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: check seed phrase result stage
  catalyst_voices/lib/pages/registration/create_keychain/create_keychain_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_check_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_check_result_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/stages.dart
  catalyst_voices/lib/pages/registration/next_step.dart
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_picker.dart
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_viewer.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/keychain_creation_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/seed_phrase_state.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

fix: remove auto completion of seed phrase check
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_check_panel.dart
Owners: @minikin

feat: Upload file dialog - inkwell + spannable
  catalyst_voices/lib/widgets/modals/voices_upload_file_dialog.dart
Owners: @minikin

feat: roles chooser panel
  catalyst_voices/lib/widgets/containers/roles_chooser_panel.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_assets/assets/images/role_drep.svg
  catalyst_voices/packages/catalyst_voices_assets/assets/images/role_proposer.svg
  catalyst_voices/packages/catalyst_voices_assets/assets/images/role_voter.svg
  catalyst_voices/uikit_example/lib/examples/voices_cards_example.dart
Owners: @minikin

fix: failing tests
  catalyst_voices/test/widgets/seed_phrase/seed_phrases_sequencer_test.dart
Owners: @minikin

Update catalyst_voices/lib/widgets/seed_phrase/seed_phrases_picker.dart
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_picker.dart
Owners: @minikin

chore: formatting
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_sequencer.dart
Owners: @minikin

chore: missing TODO
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_check_panel.dart
Owners: @minikin

feat: Upload file dialog - add file_picker
  catalyst_voices/lib/widgets/modals/voices_upload_file_dialog.dart
Owners: @minikin

feat: localization
  catalyst_voices/lib/widgets/cards/role_chooser_card.dart
  catalyst_voices/lib/widgets/containers/roles_chooser_panel.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/uikit_example/lib/examples/voices_cards_example.dart
Owners: @minikin

refactor: move l10n items
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
