Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

feat(fronted): add catalyst_voices_localization pub
  catalyst_voices/README.md
  catalyst_voices/l10n.yaml
  catalyst_voices/lib/app/view/app.dart
  catalyst_voices/lib/l10n/l10n.dart
  catalyst_voices/packages/catalyst_voices_localization/.gitignore
  catalyst_voices/packages/catalyst_voices_localization/README.md
  catalyst_voices/packages/catalyst_voices_localization/l10n.yaml
  catalyst_voices/packages/catalyst_voices_localization/lib/catalyst_voices_localization.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_es.arb
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/l10n.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/src/catalyst_voices_localization.dart
  catalyst_voices/packages/catalyst_voices_localization/pubspec.yaml
  catalyst_voices/pubspec.yaml
  catalyst_voices/test/helpers/pump_app.dart
Owners: @minikin

Delete l10n.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/l10n.dart
Owners: @minikin

feat(gateway): Gateway DB defined up to `event` tables. WIP
  .config/dictionaries/project.dic
  .sqlfluff
  catalyst-gateway/event-db/json_schemas/.cspell.json
  catalyst-gateway/event-db/json_schemas/config/dbsync.json
  catalyst-gateway/event-db/json_schemas/event/data/catalyst_v1.json
  catalyst-gateway/event-db/json_schemas/event/description/multiline_text.json
  catalyst-gateway/event-db/migrations/V1__config_tables.sql
  catalyst-gateway/event-db/migrations/V2__event_tables.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: update localization
  catalyst_voices/lib/app/view/app.dart
  catalyst_voices/lib/dummy/constants.dart
  catalyst_voices/lib/dummy/home_screen.dart
  catalyst_voices/lib/dummy/login_page.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_es.arb
  catalyst_voices/packages/catalyst_voices_localization/lib/src/build_context_localization_extension.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/src/catalyst_voices_localization.dart
Owners: @minikin

Update project.dic
  .config/dictionaries/project.dic
Owners: none

fix: Mark fragment endpoints as deprecated
  catalyst-gateway/bin/src/service/api/v1/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst_voices/README.md
  catalyst_voices/packages/catalyst_voices_localization/README.md
  cspell.json
Owners: @minikin

fix: Add deprecation notice to fragment status API schemas
  catalyst-gateway/bin/src/service/common/objects/fragment_status.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: update localization pub
  .config/dictionaries/project.dic
  catalyst_voices/lib/dummy/home_screen.dart
  catalyst_voices/lib/dummy/login_page.dart
  catalyst_voices/packages/catalyst_voices_localization/README.md
  catalyst_voices/packages/catalyst_voices_localization/lib/src/build_context_localization_extension.dart
Owners: @minikin

Update README.md
  catalyst_voices/packages/catalyst_voices_localization/README.md
Owners: @minikin

Update README.md
  catalyst_voices/packages/catalyst_voices_localization/README.md
Owners: @minikin

feat(gateway): Event DB respec WIP. Registration tables work.
  catalyst-gateway/event-db/migrations/V1__config_tables.sql
  catalyst-gateway/event-db/migrations/V2__event_tables.sql
  catalyst-gateway/event-db/migrations/V3__objective_tables.sql
  catalyst-gateway/event-db/migrations/V6__registration.sql
  catalyst-gateway/event-db/migrations/V6__snapshot_tables.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(fronted): add catalyst_voices_localization pub (#155)
  .config/dictionaries/project.dic
  catalyst_voices/README.md
  catalyst_voices/l10n.yaml
  catalyst_voices/lib/app/view/app.dart
  catalyst_voices/lib/dummy/constants.dart
  catalyst_voices/lib/dummy/home_screen.dart
  catalyst_voices/lib/dummy/login_page.dart
  catalyst_voices/lib/l10n/arb/app_en.arb
  catalyst_voices/lib/l10n/arb/app_es.arb
  catalyst_voices/lib/l10n/l10n.dart
  catalyst_voices/packages/catalyst_voices_localization/.gitignore
  catalyst_voices/packages/catalyst_voices_localization/README.md
  catalyst_voices/packages/catalyst_voices_localization/l10n.yaml
  catalyst_voices/packages/catalyst_voices_localization/lib/catalyst_voices_localization.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_es.arb
  catalyst_voices/packages/catalyst_voices_localization/lib/src/build_context_localization_extension.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/src/catalyst_voices_localization.dart
  catalyst_voices/packages/catalyst_voices_localization/pubspec.yaml
  catalyst_voices/pubspec.yaml
  catalyst_voices/test/helpers/pump_app.dart
  cspell.json
Owners: @minikin

feat(gateway): CIP15/36 Registration and staked ADA DB schemas Done but untested.
  catalyst-gateway/event-db/json_schemas/.cspell.json
  catalyst-gateway/event-db/json_schemas/config/dbsync.json
  catalyst-gateway/event-db/json_schemas/config/registration.json
  catalyst-gateway/event-db/json_schemas/event/data/catalyst_v1.json
  catalyst-gateway/event-db/json_schemas/registration/cip36_stats.json
  catalyst-gateway/event-db/json_schemas/registration/update_stats.json
  catalyst-gateway/event-db/migrations/V1__config_tables.sql
  catalyst-gateway/event-db/migrations/V6__registration.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(gateway): add back objectives tales for now.
  catalyst-gateway/event-db/migrations/V3__objective_tables.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs(docs): Update to latest docs builder, add architecture docs templates (#153)
  .config/dictionaries/project.dic
  .vscode/settings.recommended.json
  docs/Earthfile
  docs/mkdocs.yml
  docs/src/.pages
  docs/src/appendix/important/.pages
  docs/src/appendix/important/coc.md
  docs/src/appendix/tags.md
  docs/src/architecture/.pages
  docs/src/architecture/01_introduction_and_goals.md
  docs/src/architecture/02_architecture_constraints.md
  docs/src/architecture/03_system_scope_and_context.md
  docs/src/architecture/04_solution_strategy.md
  docs/src/architecture/05_building_block_view.md
  docs/src/architecture/06_runtime_view.md
  docs/src/architecture/07_deployment_view.md
  docs/src/architecture/08_concepts.md
  docs/src/architecture/09_architecture_decisions/.pages
  docs/src/architecture/09_architecture_decisions/0001-arch-std.md
  docs/src/architecture/09_architecture_decisions/0002-adr.md
  docs/src/architecture/09_architecture_decisions/index.md
  docs/src/architecture/09_architecture_decisions/template/.pages
  docs/src/architecture/09_architecture_decisions/template/0xxx-template.md_
  docs/src/architecture/10_quality_requirements.md
  docs/src/architecture/11_technical_risks.md
  docs/src/architecture/12_glossary.md
  docs/src/architecture/images/arc42-logo.png
  docs/src/architecture/index.md
  docs/src/important/coc.md
  docs/src/important/contributing.md
  docs/src/important/index.md
  docs/src/important/license.md
  docs/src/important/security.md
  docs/src/monorepo-architecture/index.md
Owners: none

feat(gateway): Event DB passes CI lints, but still WIP.
  .sqlfluff
  Earthfile
  catalyst-gateway/event-db/.sqlfluffignore
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/event-db/check-lint.txt
  catalyst-gateway/event-db/local-lint.txt
  catalyst-gateway/event-db/migrations/V1__config_tables.sql
  catalyst-gateway/event-db/migrations/V2__event_tables.sql
  catalyst-gateway/event-db/migrations/V3__objective_tables.sql
  catalyst-gateway/event-db/migrations/V4__proposal_tables.sql
  catalyst-gateway/event-db/migrations/V5__vote_plan.sql
  catalyst-gateway/event-db/migrations/V6__registration.sql
  catalyst-gateway/event-db/migrations/V8__catalyst_automation.sql
  catalyst-gateway/event-db/migrations/V9__moderation_stage.sql
  catalyst-gateway/event-db/stage_data/dev/00002_testfund_ideascale_params.sql
  catalyst-gateway/event-db/stage_data/testnet/00002_fund10_ideascale_params.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix md files
  catalyst_voices/packages/catalyst_voices_blocs/README.md
  catalyst_voices/packages/catalyst_voices_models/README.md
  catalyst_voices/packages/catalyst_voices_repositories/.github/ISSUE_TEMPLATE/bug_report.md
  catalyst_voices/packages/catalyst_voices_repositories/.github/ISSUE_TEMPLATE/build.md
  catalyst_voices/packages/catalyst_voices_repositories/.github/ISSUE_TEMPLATE/chore.md
  catalyst_voices/packages/catalyst_voices_repositories/.github/ISSUE_TEMPLATE/ci.md
  catalyst_voices/packages/catalyst_voices_repositories/.github/ISSUE_TEMPLATE/config.yml
  catalyst_voices/packages/catalyst_voices_repositories/.github/ISSUE_TEMPLATE/documentation.md
  catalyst_voices/packages/catalyst_voices_repositories/.github/ISSUE_TEMPLATE/feature_request.md
  catalyst_voices/packages/catalyst_voices_repositories/.github/ISSUE_TEMPLATE/performance.md
  catalyst_voices/packages/catalyst_voices_repositories/.github/ISSUE_TEMPLATE/refactor.md
  catalyst_voices/packages/catalyst_voices_repositories/.github/ISSUE_TEMPLATE/revert.md
  catalyst_voices/packages/catalyst_voices_repositories/.github/ISSUE_TEMPLATE/style.md
  catalyst_voices/packages/catalyst_voices_repositories/.github/ISSUE_TEMPLATE/test.md
  catalyst_voices/packages/catalyst_voices_repositories/.github/PULL_REQUEST_TEMPLATE.md
  catalyst_voices/packages/catalyst_voices_repositories/.github/cspell.json
  catalyst_voices/packages/catalyst_voices_repositories/.github/dependabot.yaml
  catalyst_voices/packages/catalyst_voices_repositories/.github/workflows/main.yaml
  catalyst_voices/packages/catalyst_voices_services/README.md
  catalyst_voices/packages/catalyst_voices_view_models/README.md
Owners: @minikin

add melos files
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_models/melos_catalyst_voices_models.iml
  catalyst_voices/packages/catalyst_voices_repositories/melos_catalyst_voices_repositories.iml
  catalyst_voices/packages/catalyst_voices_services/melos_catalyst_voices_services.iml
  catalyst_voices/packages/catalyst_voices_view_models/melos_catalyst_voices_view_models.iml
  catalyst_voices/pubspec.yaml
Owners: @minikin

Update README.md
  catalyst_voices/README.md
Owners: @minikin

Update README.md
  catalyst_voices/README.md
Owners: @minikin

Update README.md
  catalyst_voices/README.md
Owners: @minikin

Update README.md
  catalyst_voices/README.md
Owners: @minikin

feat: add SecureStorageService
  catalyst_voices/lib/bootstrap.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/catalyst_voices_services.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/secure_storage/secure_storage.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/secure_storage/secure_storage_keys.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/secure_storage/secure_storage_service.dart
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_services/test/src/catalyst_voices_services_test.dart
Owners: @minikin

feat(fragments-endpoints): Add /fragments and /fragments/statuses compatibility endpoints (#93)
  catalyst-gateway/bin/src/service/api/v1/fragments_post.rs
  catalyst-gateway/bin/src/service/api/v1/fragments_statuses.rs
  catalyst-gateway/bin/src/service/api/v1/mod.rs
  catalyst-gateway/bin/src/service/common/objects/block.rs
  catalyst-gateway/bin/src/service/common/objects/fragment_status.rs
  catalyst-gateway/bin/src/service/common/objects/fragments_batch.rs
  catalyst-gateway/bin/src/service/common/objects/hash.rs
  catalyst-gateway/bin/src/service/common/objects/mod.rs
  catalyst-gateway/bin/src/service/common/tags.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(docs): note about starting chromedriver
  docs/FLUTTER_INTEGRATION_TEST.md
Owners: none

feat: add catalyst_voices_shared, upgrade flutter
  catalyst_voices/README.md
  catalyst_voices/packages/catalyst_voices_assets/example/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_assets/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_localization/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_repositories/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/.gitignore
  catalyst_voices/packages/catalyst_voices_shared/README.md
  catalyst_voices/packages/catalyst_voices_shared/analysis_options.yaml
  catalyst_voices/packages/catalyst_voices_shared/coverage_badge.svg
  catalyst_voices/packages/catalyst_voices_shared/lib/catalyst_voices_shared.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/test/src/catalyst_voices_shared_test.dart
  catalyst_voices/packages/catalyst_voices_view_models/pubspec.yaml
  catalyst_voices/pubspec.yaml
  catalyst_voices_packages/catalyst_analysis/example/pubspec.yaml
  catalyst_voices_packages/catalyst_analysis/pubspec.yaml
  pubspec.yaml
Owners: @minikin, @stevenj

Update project.dic
  .config/dictionaries/project.dic
Owners: none

Update README.md
  catalyst_voices/README.md
Owners: @minikin

remove legacy servic
  catalyst-gateway/bin/src/event_db/types/registration.rs
  catalyst-gateway/bin/src/event_db/types/search.rs
  catalyst-gateway/bin/src/legacy_service/health.rs
  catalyst-gateway/bin/src/legacy_service/mod.rs
  catalyst-gateway/bin/src/legacy_service/types/ballot.rs
  catalyst-gateway/bin/src/legacy_service/types/event.rs
  catalyst-gateway/bin/src/legacy_service/types/mod.rs
  catalyst-gateway/bin/src/legacy_service/types/objective.rs
  catalyst-gateway/bin/src/legacy_service/types/proposal.rs
  catalyst-gateway/bin/src/legacy_service/types/registration.rs
  catalyst-gateway/bin/src/legacy_service/types/review.rs
  catalyst-gateway/bin/src/legacy_service/types/search.rs
  catalyst-gateway/bin/src/legacy_service/types/vit_ss/challenge.rs
  catalyst-gateway/bin/src/legacy_service/types/vit_ss/fund.rs
  catalyst-gateway/bin/src/legacy_service/types/vit_ss/goal.rs
  catalyst-gateway/bin/src/legacy_service/types/vit_ss/group.rs
  catalyst-gateway/bin/src/legacy_service/types/vit_ss/mod.rs
  catalyst-gateway/bin/src/legacy_service/types/vit_ss/vote_plan.rs
  catalyst-gateway/bin/src/legacy_service/types/voting_status.rs
  catalyst-gateway/bin/src/legacy_service/v0/fund.rs
  catalyst-gateway/bin/src/legacy_service/v0/mod.rs
  catalyst-gateway/bin/src/legacy_service/v1/event/ballots.rs
  catalyst-gateway/bin/src/legacy_service/v1/event/mod.rs
  catalyst-gateway/bin/src/legacy_service/v1/event/objective/ballots.rs
  catalyst-gateway/bin/src/legacy_service/v1/event/objective/mod.rs
  catalyst-gateway/bin/src/legacy_service/v1/event/objective/proposal/ballot.rs
  catalyst-gateway/bin/src/legacy_service/v1/event/objective/proposal/mod.rs
  catalyst-gateway/bin/src/legacy_service/v1/event/objective/proposal/review.rs
  catalyst-gateway/bin/src/legacy_service/v1/event/objective/review_type.rs
  catalyst-gateway/bin/src/legacy_service/v1/mod.rs
  catalyst-gateway/bin/src/legacy_service/v1/registration.rs
  catalyst-gateway/bin/src/legacy_service/v1/search.rs
  catalyst-gateway/bin/src/main.rs
  catalyst-gateway/bin/src/service/mod.rs
  catalyst-gateway/bin/src/service/poem_service.rs
  catalyst-gateway/bin/src/service/utilities/middleware/chain_axum.rs
  catalyst-gateway/bin/src/service/utilities/middleware/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Update README.md
  catalyst_voices/packages/catalyst_voices_shared/README.md
Owners: @minikin

fix docs
  catalyst-gateway/bin/src/service/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Update README.md
  catalyst_voices/README.md
Owners: @minikin

fix(docs): add more details
  docs/FLUTTER_INTEGRATION_TEST.md
Owners: none

fix(docs): fmt
  docs/FLUTTER_INTEGRATION_TEST.md
Owners: none

remove unused deps
  catalyst-gateway/Cargo.lock
  catalyst-gateway/Cargo.toml
  catalyst-gateway/bin/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs: Fix flutter docs (#160)
  docs/FLUTTER_INTEGRATION_TEST.md
Owners: none

feat: add flutter adr, update catalyst_voices_assets
  catalyst_voices/packages/catalyst_voices_assets/internal_resources/README.md
  catalyst_voices/packages/catalyst_voices_assets/internal_resources/animations/.gitkeep
  catalyst_voices/packages/catalyst_voices_assets/internal_resources/fonts/.gitkeep
  catalyst_voices/packages/catalyst_voices_assets/internal_resources/icons/.gitkeep
  catalyst_voices/packages/catalyst_voices_assets/internal_resources/images/.gitkeep
  docs/src/architecture/09_architecture_decisions/0003-flutter.md
  docs/src/architecture/09_architecture_decisions/index.md
Owners: @minikin

Update project.dic
  .config/dictionaries/project.dic
Owners: none

Update project.dic
  .config/dictionaries/project.dic
Owners: none
