Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

feat: cose flutter package structure (#649)
  .earthlyignore
  .markdownlint-cli2.jsonc
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/pubspec.yaml
  catalyst_voices_packages/catalyst_cose/catalyst_cose/CHANGELOG.md
  catalyst_voices_packages/catalyst_cose/catalyst_cose/LICENSE
  catalyst_voices_packages/catalyst_cose/catalyst_cose/README.md
  catalyst_voices_packages/catalyst_cose/catalyst_cose/analysis_options.yaml
  catalyst_voices_packages/catalyst_cose/catalyst_cose/example/main.dart
  catalyst_voices_packages/catalyst_cose/catalyst_cose/lib/catalyst_cose.dart
  catalyst_voices_packages/catalyst_cose/catalyst_cose/lib/src/catalyst_cose.dart
  catalyst_voices_packages/catalyst_cose/catalyst_cose/pubspec.yaml
  catalyst_voices_packages/catalyst_cose/catalyst_cose_platform_interface/CHANGELOG.md
  catalyst_voices_packages/catalyst_cose/catalyst_cose_platform_interface/LICENSE
  catalyst_voices_packages/catalyst_cose/catalyst_cose_platform_interface/README.md
  catalyst_voices_packages/catalyst_cose/catalyst_cose_platform_interface/analysis_options.yaml
  catalyst_voices_packages/catalyst_cose/catalyst_cose_platform_interface/example/main.dart
  catalyst_voices_packages/catalyst_cose/catalyst_cose_platform_interface/lib/catalyst_cose_platform_interface.dart
  catalyst_voices_packages/catalyst_cose/catalyst_cose_platform_interface/lib/src/catalyst_cose_platform.dart
  catalyst_voices_packages/catalyst_cose/catalyst_cose_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_cose/catalyst_cose_web/CHANGELOG.md
  catalyst_voices_packages/catalyst_cose/catalyst_cose_web/LICENSE
  catalyst_voices_packages/catalyst_cose/catalyst_cose_web/README.md
  catalyst_voices_packages/catalyst_cose/catalyst_cose_web/analysis_options.yaml
  catalyst_voices_packages/catalyst_cose/catalyst_cose_web/assets/js/.gitignore
  catalyst_voices_packages/catalyst_cose/catalyst_cose_web/assets/js/README.md
  catalyst_voices_packages/catalyst_cose/catalyst_cose_web/assets/js/catalyst_cose.js
  catalyst_voices_packages/catalyst_cose/catalyst_cose_web/assets/js/main.js
  catalyst_voices_packages/catalyst_cose/catalyst_cose_web/assets/js/package.json
  catalyst_voices_packages/catalyst_cose/catalyst_cose_web/example/main.dart
  catalyst_voices_packages/catalyst_cose/catalyst_cose_web/lib/catalyst_cose_web.dart
  catalyst_voices_packages/catalyst_cose/catalyst_cose_web/lib/src/interop/catalyst_cose_interop.dart
  catalyst_voices_packages/catalyst_cose/catalyst_cose_web/pubspec.yaml
  cspell.json
Owners: @minikin, @stevenj

fix: flutter coverage
  .github/workflows/generate-allure-report.yml
  melos.yaml
Owners: none

chore: dots in documentation
  catalyst_voices/lib/widgets/buttons/voices_segmented_button.dart
Owners: @minikin

fix: be more explicit about segmented button example page
  catalyst_voices/uikit_example/lib/examples/voices_segmented_button_example.dart
  catalyst_voices/uikit_example/lib/examples/voices_widgets_example.dart
  catalyst_voices/uikit_example/lib/examples/widgets/segmented_button_examples.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

fix: Page appBar title
  catalyst_voices/uikit_example/lib/examples/voices_segmented_button_example.dart
Owners: @minikin

chore: update ci version
  Earthfile
  catalyst-gateway-crates/c509-certificate/Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add SegmentedButton (#660)
  catalyst_voices/lib/widgets/buttons/voices_segmented_button.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/uikit_example/lib/examples/voices_segmented_button_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

fix(backend): WIP indexing for stake addresses and unstaked ada
  .config/dictionaries/project.dic
  catalyst-gateway-crates/c509-certificate/deny.toml
  catalyst-gateway/Cargo.toml
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/cardano/mod.rs
  catalyst-gateway/bin/src/db/index/block.rs
  catalyst-gateway/bin/src/db/index/queries.rs
  catalyst-gateway/bin/src/db/index/queries/insert_unstaked_txo.cql
  catalyst-gateway/bin/src/db/index/queries/insert_unstaked_txo_asset.cql
  catalyst-gateway/bin/src/db/index/schema.rs
  catalyst-gateway/bin/src/db/index/schema/stake_hash_to_stake_address.cql
  catalyst-gateway/bin/src/db/index/schema/unstaked_txo_assets_by_txn_hash.cql
  catalyst-gateway/bin/src/db/index/schema/unstaked_txo_by_txn_hash.cql
  catalyst-gateway/bin/src/db/index/session.rs
  catalyst-gateway/bin/src/settings.rs
  catalyst-gateway/deny.toml
  utilities/local-cluster/Vagrantfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: add test sign tx
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/wallet-automation/typhon/typhon-wallet-registration.spec.ts
Owners: @minikin, @stevenj

feat: Introduce VoicesFilledButton, PrefixSuffixDecorator and ButtonsExample UI Kit page
  catalyst_voices/lib/widgets/buttons/voices_filled_button.dart
  catalyst_voices/lib/widgets/chips/voices_chip.dart
  catalyst_voices/lib/widgets/common/prefix_suffix_decorator.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/uikit_example/lib/examples/voices_buttons_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
  catalyst_voices/uikit_example/pubspec.yaml
Owners: @minikin

feat: VoicesOutlinedButton
  catalyst_voices/lib/widgets/buttons/voices_outlined_button.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/uikit_example/lib/examples/voices_buttons_example.dart
Owners: @minikin

feat: VoicesTextButton, VoicesButtonAffixDecoration
  catalyst_voices/lib/widgets/buttons/voices_button_affix_decoration.dart
  catalyst_voices/lib/widgets/buttons/voices_outlined_button.dart
  catalyst_voices/lib/widgets/buttons/voices_text_button.dart
  catalyst_voices/lib/widgets/chips/voices_chip.dart
  catalyst_voices/lib/widgets/common/affix_decorator.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/uikit_example/lib/examples/voices_buttons_example.dart
Owners: @minikin

fix: add time to submit two transactions
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/wallet-automation/playwright.config.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/wallet-automation/typhon/typhon-wallet-registration.spec.ts
Owners: @minikin, @stevenj

feat: VoicesTextButton variants
  catalyst_voices/lib/widgets/buttons/voices_text_button.dart
  catalyst_voices/uikit_example/lib/examples/voices_buttons_example.dart
Owners: @minikin

fix: VoicesTextButton variant style build docs
  catalyst_voices/lib/widgets/buttons/voices_text_button.dart
Owners: @minikin

feat: VoicesIconButton
  catalyst_voices/lib/widgets/buttons/voices_icon_button.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/uikit_example/lib/examples/voices_buttons_example.dart
Owners: @minikin

fix: remove redundant TODO
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
Owners: @minikin

Update Example Title
  catalyst_voices/uikit_example/lib/examples/voices_buttons_example.dart
Owners: @minikin

feat: adds api coverage
  .github/workflows/generate-allure-report.yml
Owners: none

fix: update collection package version in melos.yaml
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  melos.yaml
Owners: @minikin

fix: use ListView.separated for spacings in ButtonsExample
  catalyst_voices/uikit_example/lib/examples/voices_buttons_example.dart
Owners: @minikin

fix: missing dots in docs
  catalyst_voices/lib/widgets/buttons/voices_button_affix_decoration.dart
  catalyst_voices/lib/widgets/buttons/voices_icon_button.dart
  catalyst_voices/lib/widgets/buttons/voices_text_button.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
Owners: @minikin

feat: normalize pat
  .github/workflows/generate-allure-report.yml
Owners: none

fix: sed
  .github/workflows/generate-allure-report.yml
Owners: none

feat: leading icon and suffix text button example
  catalyst_voices/uikit_example/lib/examples/voices_buttons_example.dart
Owners: @minikin

fix: sed
  .github/workflows/generate-allure-report.yml
Owners: none

fix: sed
  .github/workflows/generate-allure-report.yml
Owners: none

fix: spell checking fix and extract buttons theme
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/widgets/buttons_theme.dart
Owners: @minikin

feat: VoicesButtons (#662)
  catalyst_voices/lib/widgets/buttons/voices_button_affix_decoration.dart
  catalyst_voices/lib/widgets/buttons/voices_filled_button.dart
  catalyst_voices/lib/widgets/buttons/voices_icon_button.dart
  catalyst_voices/lib/widgets/buttons/voices_outlined_button.dart
  catalyst_voices/lib/widgets/buttons/voices_text_button.dart
  catalyst_voices/lib/widgets/chips/voices_chip.dart
  catalyst_voices/lib/widgets/common/affix_decorator.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/widgets/buttons_theme.dart
  catalyst_voices/uikit_example/lib/examples/voices_buttons_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
  catalyst_voices/uikit_example/pubspec.yaml
  melos.yaml
Owners: @minikin

feat: Basic VoicesRadio and theming
  catalyst_voices/lib/widgets/toggles/voices_radio.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/widgets/toggles_theme.dart
  catalyst_voices/uikit_example/lib/examples/voices_radio_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

feat: adds catalyst_voices_packages coverage
  .github/workflows/generate-allure-report.yml
  melos.yaml
Owners: none

feat: VoicesRadio now accepts Label and Note widgets + update example page
  catalyst_voices/lib/widgets/toggles/voices_radio.dart
  catalyst_voices/pubspec.yaml
  catalyst_voices/uikit_example/lib/examples/voices_radio_example.dart
Owners: @minikin

fix: flutter coverage (#661)
  .github/workflows/generate-allure-report.yml
  Earthfile
  catalyst-gateway-crates/c509-certificate/Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
  docs/Earthfile
  melos.yaml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Themed VoicesCheckbox + example
  catalyst_voices/lib/widgets/toggles/voices_checkbox.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/widgets/toggles_theme.dart
  catalyst_voices/uikit_example/lib/examples/voices_checkbox_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

feat: Checkbox label + note. Update docs plus examples
  catalyst_voices/lib/widgets/common/label_decorator.dart
  catalyst_voices/lib/widgets/toggles/voices_checkbox.dart
  catalyst_voices/lib/widgets/toggles/voices_radio.dart
  catalyst_voices/uikit_example/lib/examples/voices_checkbox_example.dart
Owners: @minikin

doc: LabelDecorator docs
  catalyst_voices/lib/widgets/common/label_decorator.dart
Owners: @minikin

doc: Missing docs dots
  catalyst_voices/lib/widgets/toggles/voices_checkbox.dart
  catalyst_voices/lib/widgets/toggles/voices_radio.dart
Owners: @minikin

fix: add toggleable to project.dlc
  .config/dictionaries/project.dic
Owners: none

fix: remove unnecessary null unwrapping
  catalyst_voices/lib/widgets/toggles/voices_checkbox.dart
Owners: @minikin

test: AffixDecorator tests
  catalyst_voices/test/widgets/common/affix_decorator_test.dart
Owners: @minikin
