Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

fix: add wallet-automation
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/test/connect-to-wallet.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/wallet-automation/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/wallet-automation/global-setup.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/wallet-automation/package-lock.json
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/wallet-automation/package.json
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/wallet-automation/playwright.config.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/wallet-automation/typhon/credentials.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/wallet-automation/typhon/seed-phrase.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/wallet-automation/typhon/typhon-wallet-registration.spec.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/wallet-automation/typhon/typhon-wallet-storage.txt
Owners: @minikin, @stevenj

fix coverage path
  .github/workflows/generate-allure-report.yml
Owners: none

fix: move files
  catalyst-gateway-crates/c509-certificate/Cargo.toml
  catalyst-gateway-crates/c509-certificate/examples/cli/data/cert_sample_1.json
  catalyst-gateway-crates/c509-certificate/examples/cli/main.rs
Owners: none

fix: format and err msg
  catalyst-gateway-crates/c509-certificate/examples/cli/main.rs
  catalyst-gateway-crates/c509-certificate/src/lib.rs
Owners: none

fix: move files to examples
  catalyst-gateway-crates/c509-certificate/examples/web/index.html
  catalyst-gateway-crates/c509-certificate/examples/web/index.js
Owners: none

feat: update RBAC sample to submit a fully signed transaction onto blockchain
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/main.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_rbac_tx.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_tx.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/transaction_builder.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/hashes.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/x509_metadata_envelope.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/types.dart
Owners: @minikin, @stevenj

docs: typos
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/x509_metadata_envelope.dart
Owners: @minikin, @stevenj

feat: adds sed for flutter coverage
  .github/workflows/generate-allure-report.yml
Owners: none

test
  .github/workflows/generate-allure-report.yml
Owners: none

fix coverage path
  .github/workflows/generate-allure-report.yml
Owners: none

feat: adds code coverage with coveralls (#520)
  .config/dictionaries/project.dic
  .github/workflows/generate-allure-report.yml
  catalyst-gateway/.gitignore
  catalyst-gateway/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst-gateway/tests/api_tests/poetry.lock
  catalyst-gateway/tests/api_tests/pyproject.toml
  catalyst-gateway/tests/schemathesis_tests/Earthfile
  catalyst_voices/Earthfile
  cspell.json
  melos.yaml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: update ci to v3.1.18
  Earthfile
  catalyst-gateway-crates/c509-certificate/Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: comment out publish
  catalyst_voices/Earthfile
Owners: @minikin

fix: comment out publish (#632)
  catalyst_voices/Earthfile
Owners: @minikin

chore: update ci to v3.1.18 (#631)
  Earthfile
  catalyst-gateway-crates/c509-certificate/Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: cli name
  catalyst-gateway-crates/c509-certificate/Cargo.toml
Owners: none

fix: update x509 envelope serializer
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/x509_metadata_envelope.dart
Owners: @minikin, @stevenj

fix: cleanup
  catalyst-gateway-crates/c509-certificate/examples/cli/main.rs
  catalyst-gateway-crates/c509-certificate/src/c509_attributes/attribute.rs
  catalyst-gateway-crates/c509-certificate/src/c509_extensions/extension/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_issuer_sig_algo/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_oid.rs
  catalyst-gateway-crates/c509-certificate/src/c509_subject_pub_key_algo/mod.rs
Owners: none

fix: typo
  catalyst-gateway-crates/c509-certificate/examples/cli/main.rs
  catalyst-gateway-crates/c509-certificate/src/c509_extensions/extension/mod.rs
Owners: none

WIP
  .vscode/extensions.json
Owners: none

feat: restore api tests
  catalyst-gateway/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst-gateway/tests/api_tests/poetry.lock
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: rbac metadata envelope (#630)
  .config/dictionaries/project.dic
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/main.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_rbac_tx.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_tx.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_data.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/web/index.html
  catalyst_voices_packages/catalyst_cardano_serialization/lib/catalyst_cardano_serialization.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/transaction_builder.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/witness_builder.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/hashes.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/registration_data.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/x509_metadata_envelope.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/signature.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/transaction.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/types.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/witness.dart
  catalyst_voices_packages/catalyst_cardano_serialization/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano_serialization/test/rbac/registration_data_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/signature_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/test_utils/test_data.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/witness_test.dart
  melos.yaml
Owners: @minikin, @stevenj

feat: restore api tests
  catalyst-gateway/tests/api_tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: rename attribute to snake case
  catalyst-gateway-crates/c509-certificate/examples/cli/data/cert_sample_1.json
  catalyst-gateway-crates/c509-certificate/src/c509_attributes/attribute.rs
  catalyst-gateway-crates/c509-certificate/src/c509_extensions/alt_name.rs
  catalyst-gateway-crates/c509-certificate/src/c509_extensions/extension/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_general_names/general_name.rs
  catalyst-gateway-crates/c509-certificate/src/c509_name/mod.rs
  catalyst-gateway-crates/c509-certificate/src/tbs_cert.rs
Owners: none

fix: update c509 encode decode
  catalyst-gateway-crates/c509-certificate/src/c509.rs
Owners: none

chore: format
  catalyst-gateway-crates/c509-certificate/examples/web/index.js
Owners: none

chore: update ci version
  Earthfile
  catalyst-gateway-crates/c509-certificate/Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: test nighly for package target
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix nightly
  catalyst-gateway/tests/api_tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: issuer sig value
  catalyst-gateway-crates/c509-certificate/examples/cli/main.rs
Owners: none

fix: format
  catalyst-gateway-crates/c509-certificate/examples/cli/main.rs
Owners: none

fix!: make api version nullable as some extensions return null
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/lib/src/cardano_wallet.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_interop.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_wallet_proxy.dart
Owners: @minikin, @stevenj

fix!: make api version nullable as some extensions return null
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/lib/src/cardano_wallet.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_interop.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_wallet_proxy.dart
Owners: @minikin, @stevenj

fix: filter out unsupported extensions
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/lib/src/cardano_wallet.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/assets/js/catalyst_cardano.js
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_interop.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_wallet_proxy.dart
Owners: @minikin, @stevenj

fix: getting supported extensions from typhoon extension
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_interop.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_wallet_proxy.dart
Owners: @minikin, @stevenj

feat: split api tests for nightly and normal ci run
  catalyst-gateway/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst-gateway/tests/api_tests/api_tests/test_schema_mismatch_behavior.py
  catalyst-gateway/tests/api_tests/api_tests/test_slot_info.py
  catalyst-gateway/tests/api_tests/api_tests/test_utils.py
  catalyst-gateway/tests/api_tests/api_tests/test_utxo.py
  catalyst-gateway/tests/api_tests/api_tests/test_voter_registration.py
  catalyst-gateway/tests/api_tests/pyproject.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: update README
  catalyst_voices_packages/README.md
Owners: @minikin, @stevenj

fix: amount in getUtxos should accept a balance, not a Coin
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/main.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/lib/src/cardano_wallet.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_interop.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_wallet_proxy.dart
Owners: @minikin, @stevenj

fix: api usage
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/README.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_rbac_tx.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_tx.dart
Owners: @minikin, @stevenj

fix: test report path
  .github/workflows/nightly-ci.yml
Owners: none
