Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: improve ux
  utilities/poc_local_storage/lib/home_screen.dart
  utilities/poc_local_storage/lib/protected_screen.dart
  utilities/poc_local_storage/lib/secure_certificate_repository.dart
Owners: none

fix: fixed text field validation if controller changed from the outside
  catalyst_voices/lib/widgets/text_field/voices_text_field.dart
Owners: @minikin

fix: fixed text field validation if controller changed from the outside (#694)
  catalyst_voices/lib/widgets/text_field/voices_text_field.dart
Owners: @minikin

feat: add fab example
  catalyst_voices/uikit_example/lib/examples/voices_fab_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

chore: minor update
  utilities/poc_local_storage/lib/app.dart
  utilities/poc_local_storage/lib/home_screen.dart
  utilities/poc_local_storage/lib/main.dart
Owners: none

fix(backend): Add support for log control with env vars, default to mainnet, adjust `justfile` to properly select preprod and also refresh git dependencies.
  catalyst-gateway/Cargo.toml
  catalyst-gateway/bin/src/logger.rs
  catalyst-gateway/bin/src/settings.rs
  justfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add certificates encryption
  utilities/poc_local_storage/firebase.json
  utilities/poc_local_storage/lib/crypto_service.dart
  utilities/poc_local_storage/lib/protected_screen.dart
  utilities/poc_local_storage/lib/secure_certificate_repository.dart
  utilities/poc_local_storage/pubspec.yaml
Owners: none

Update pubspec.yaml
  utilities/poc_local_storage/pubspec.yaml
Owners: none

Update crypto_service.dart
  utilities/poc_local_storage/lib/crypto_service.dart
Owners: none

chore: add Argon2
  utilities/poc_local_storage/lib/crypto_service.dart
  utilities/poc_local_storage/lib/file_picker_service.dart
  utilities/poc_local_storage/lib/password_entry_screen.dart
  utilities/poc_local_storage/lib/protected_screen.dart
  utilities/poc_local_storage/lib/secure_certificate_repository.dart
  utilities/poc_local_storage/lib/secure_storage_service.dart
  utilities/poc_local_storage/pubspec.yaml
Owners: none

Update protected_screen.dart
  utilities/poc_local_storage/lib/protected_screen.dart
Owners: none

feat(catalyst_cardano_serialization): add CborEncodable interface for standardized CBOR handling (refs #692)
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/address.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/registration_data.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/transaction.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/types.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/witness.dart
Owners: @minikin, @stevenj

feat: add badges example
  catalyst_voices/uikit_example/lib/examples/voices_badge_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

feat: add success badge
  catalyst_voices/uikit_example/lib/examples/voices_badge_example.dart
Owners: @minikin

feat(auth token encode and decode): permissionless auth
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/service/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(auth token encode and decode): permissionless auth
  catalyst-gateway/bin/src/service/api/auth/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: Add VoicesStatusIndicator and example
  catalyst_voices/lib/widgets/indicators/voices_status_indicator.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/uikit_example/lib/examples/voices_indicators_example.dart
Owners: @minikin

feat: add fab example (#695)
  catalyst_voices/uikit_example/lib/examples/voices_fab_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

feat: Add VoicesStatusIndicator and example (#697)
  catalyst_voices/lib/widgets/indicators/voices_status_indicator.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/uikit_example/lib/examples/voices_indicators_example.dart
Owners: @minikin

fix: remove obsolete comment
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/widgets/toggles_theme.dart
Owners: @minikin

feat: VoicesStatusIndicator tests
  catalyst_voices/test/widgets/indicators/voices_status_indicator_test.dart
Owners: @minikin

feat: uikit badge (#698)
  catalyst_voices/uikit_example/lib/examples/voices_badge_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

chore: minor
  utilities/poc_local_storage/lib/crypto_service.dart
  utilities/poc_local_storage/lib/secure_certificate_repository.dart
Owners: none

feat: VoicesStatusIndicator tests (#699)
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/widgets/toggles_theme.dart
  catalyst_voices/test/widgets/indicators/voices_status_indicator_test.dart
Owners: @minikin

feat(auth token encode and decode): permissionless auth
  catalyst-gateway/bin/src/service/api/auth/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: fix decrypt / encrypt
  utilities/poc_local_storage/lib/crypto_service.dart
  utilities/poc_local_storage/lib/protected_screen.dart
  utilities/poc_local_storage/lib/secure_certificate_repository.dart
Owners: none

feat(backend): Make local test scylla db run with 4 nodes, not 1
  utilities/local-cluster/justfile
  utilities/local-scylla/Readme.md
  utilities/local-scylla/docker-compose.yml
  utilities/local-scylla/justfile
  utilities/local-scylla/node1-scylla.yaml
  utilities/local-scylla/node2-scylla.yaml
  utilities/local-scylla/node3-scylla.yaml
  utilities/local-scylla/node4-scylla.yaml
Owners: none

feat(auth token encode and decode): permissionless auth
  catalyst-gateway/bin/src/service/api/auth/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(auth token encode and decode): permissionless auth
  catalyst-gateway/bin/src/service/api/auth/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: First iteration of SeedPhrasesViewer
  catalyst_voices/lib/widgets/seed_phrase/seed_phrase_viewer.dart
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_viewer.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/uikit_example/lib/examples/voices_seed_phrase_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

feat: refactor tests
  .gitignore
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/compose.yml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/global-setup.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/test-results/.last-run.json
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/typhon-tests.spec.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/wallets/credentials.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/wallets/seed-phrase.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/wallets/wallet-keys.txt
Owners: @minikin, @stevenj

iron out tests
  catalyst-gateway/bin/src/service/api/auth/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor: Extract ColumnsRow widget
  catalyst_voices/lib/widgets/common/columns_row.dart
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_viewer.dart
Owners: @minikin

fix: word overflow, update exemaple
  catalyst_voices/lib/widgets/seed_phrase/seed_phrase_viewer.dart
  catalyst_voices/uikit_example/lib/examples/voices_seed_phrase_example.dart
Owners: @minikin

fix: to be signed message should be a plain cbor sequence
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/auth_token.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/rbac/auth_token_test.dart
Owners: @minikin, @stevenj

feat: SeedPhrases Picker and Completer
  catalyst_voices/lib/widgets/seed_phrase/seed_phrase_viewer.dart
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_completer.dart
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_picker.dart
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_viewer.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/uikit_example/lib/examples/voices_seed_phrase_example.dart
Owners: @minikin

feat: SeedPhrasesEditor
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_completer.dart
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_editor.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/uikit_example/lib/examples/voices_seed_phrase_example.dart
Owners: @minikin

refactor: Rename SeedPhrasesEditor to SeedPhrasesSequencer
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_sequencer.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/uikit_example/lib/examples/voices_seed_phrase_example.dart
Owners: @minikin

iron out tests
  catalyst-gateway/bin/src/service/api/auth/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor(auth token encode and decode): ed25519 Signature cbor fields
  catalyst-gateway/bin/src/service/api/auth/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
