Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: update iOS project
  catalyst_voices/ios/Podfile.lock
  catalyst_voices/ios/Runner.xcodeproj/project.pbxproj
  catalyst_voices/ios/Runner.xcodeproj/xcshareddata/xcschemes/dev.xcscheme
  catalyst_voices/ios/Runner.xcodeproj/xcshareddata/xcschemes/preprod.xcscheme
  catalyst_voices/ios/Runner.xcodeproj/xcshareddata/xcschemes/prod.xcscheme
  catalyst_voices/ios/Runner.xcodeproj/xcshareddata/xcschemes/qa.xcscheme
Owners: @minikin

feat: update Android project, README
  catalyst_voices/README.md
  catalyst_voices/android/app/build.gradle
  catalyst_voices/android/app/src/dev/ic_launcher-playstore.png
  catalyst_voices/android/app/src/dev/res/drawable/ic_launcher_foreground.xml
  catalyst_voices/android/app/src/dev/res/mipmap-anydpi-v26/ic_launcher.xml
  catalyst_voices/android/app/src/dev/res/mipmap-anydpi-v26/ic_launcher_round.xml
  catalyst_voices/android/app/src/dev/res/mipmap-hdpi/ic_launcher.png
  catalyst_voices/android/app/src/dev/res/mipmap-mdpi/ic_launcher.png
  catalyst_voices/android/app/src/dev/res/mipmap-xhdpi/ic_launcher.png
  catalyst_voices/android/app/src/dev/res/mipmap-xxhdpi/ic_launcher.png
  catalyst_voices/android/app/src/dev/res/mipmap-xxxhdpi/ic_launcher.png
  catalyst_voices/android/app/src/dev/res/values/ic_launcher_background.xml
  catalyst_voices/android/app/src/main/AndroidManifest.xml
  catalyst_voices/android/app/src/main/java/io/flutter/app/FlutterMultiDexApplication.java
  catalyst_voices/android/app/src/preprod/ic_launcher-playstore.png
  catalyst_voices/android/app/src/preprod/res/drawable/ic_launcher_foreground.xml
  catalyst_voices/android/app/src/preprod/res/mipmap-anydpi-v26/ic_launcher.xml
  catalyst_voices/android/app/src/preprod/res/mipmap-anydpi-v26/ic_launcher_round.xml
  catalyst_voices/android/app/src/preprod/res/mipmap-hdpi/ic_launcher.png
  catalyst_voices/android/app/src/preprod/res/mipmap-mdpi/ic_launcher.png
  catalyst_voices/android/app/src/preprod/res/mipmap-xhdpi/ic_launcher.png
  catalyst_voices/android/app/src/preprod/res/mipmap-xxhdpi/ic_launcher.png
  catalyst_voices/android/app/src/preprod/res/mipmap-xxxhdpi/ic_launcher.png
  catalyst_voices/android/app/src/preprod/res/values/ic_launcher_background.xml
  catalyst_voices/android/app/src/qa/ic_launcher-playstore.png
  catalyst_voices/android/app/src/qa/res/drawable/ic_launcher_foreground.xml
  catalyst_voices/android/app/src/qa/res/mipmap-anydpi-v26/ic_launcher.xml
  catalyst_voices/android/app/src/qa/res/mipmap-anydpi-v26/ic_launcher_round.xml
  catalyst_voices/android/app/src/qa/res/mipmap-hdpi/ic_launcher.png
  catalyst_voices/android/app/src/qa/res/mipmap-mdpi/ic_launcher.png
  catalyst_voices/android/app/src/qa/res/mipmap-xhdpi/ic_launcher.png
  catalyst_voices/android/app/src/qa/res/mipmap-xxhdpi/ic_launcher.png
  catalyst_voices/android/app/src/qa/res/mipmap-xxxhdpi/ic_launcher.png
  catalyst_voices/android/app/src/qa/res/values/ic_launcher_background.xml
Owners: @minikin

feat: update android assets
  catalyst_voices/android/app/src/dev/ic_launcher-playstore.png
  catalyst_voices/android/app/src/dev/res/drawable/ic_launcher_foreground.xml
  catalyst_voices/android/app/src/dev/res/mipmap-hdpi/ic_launcher.png
  catalyst_voices/android/app/src/dev/res/mipmap-mdpi/ic_launcher.png
  catalyst_voices/android/app/src/dev/res/mipmap-xhdpi/ic_launcher.png
  catalyst_voices/android/app/src/dev/res/mipmap-xxhdpi/ic_launcher.png
  catalyst_voices/android/app/src/dev/res/mipmap-xxxhdpi/ic_launcher.png
  catalyst_voices/android/app/src/main/res/drawable/ic_launch_image.xml
  catalyst_voices/android/app/src/main/res/drawable/ic_launcher_foreground.xml
  catalyst_voices/android/app/src/main/res/ic_launcher-web.png
  catalyst_voices/android/app/src/main/res/playstore-icon.png
  catalyst_voices/android/app/src/preprod/res/drawable/ic_launcher_foreground.xml
  catalyst_voices/android/app/src/qa/res/drawable/ic_launcher_foreground.xml
Owners: @minikin

Update launch.recommended.json
  .vscode/launch.recommended.json
Owners: none

refactor
  catalyst-gateway/.cargo/config.toml
  catalyst-gateway/Cargo.lock
  catalyst-gateway/Earthfile
  catalyst-gateway/tests/Cargo.toml
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/integration/catalyst_gateway_event_db.rs
  catalyst-gateway/tests/integration/docker-compose.yml
  catalyst-gateway/tests/integration/main.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: earthly target ref
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: Tests structure (#188)
  catalyst-gateway/.cargo/config.toml
  catalyst-gateway/Cargo.lock
  catalyst-gateway/Cargo.toml
  catalyst-gateway/Earthfile
  catalyst-gateway/tests/Cargo.toml
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/integration/catalyst_gateway_event_db.rs
  catalyst-gateway/tests/integration/docker-compose.yml
  catalyst-gateway/tests/integration/main.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix lint
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: update ci version
  catalyst-gateway/Earthfile
  catalyst-gateway/tests/integration/catalyst_gateway_event_db.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Update 0005-flutter-app.md
  docs/src/architecture/09_architecture_decisions/0005-flutter-app.md
Owners: none

fix: cspell words
  catalyst-gateway/tests/Cargo.toml
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/integration/catalyst_gateway_event_db.rs
  catalyst_voices/android/app/src/dev/res/drawable/ic_launcher_foreground.xml
  catalyst_voices/android/app/src/main/java/io/flutter/app/FlutterMultiDexApplication.java
  catalyst_voices/android/app/src/main/res/drawable/ic_launch_image.xml
  catalyst_voices/android/app/src/main/res/drawable/ic_launcher_foreground.xml
  catalyst_voices/android/app/src/preprod/res/drawable/ic_launcher_foreground.xml
  catalyst_voices/android/app/src/qa/res/drawable/ic_launcher_foreground.xml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Update 0005-flutter-app.md
  docs/src/architecture/09_architecture_decisions/0005-flutter-app.md
Owners: none

Update 0005-flutter-app.md
  docs/src/architecture/09_architecture_decisions/0005-flutter-app.md
Owners: none

Update 0005-flutter-app.md
  docs/src/architecture/09_architecture_decisions/0005-flutter-app.md
Owners: none

fix: move cspell words to dic file
  .config/dictionaries/project.dic
  catalyst-gateway/Earthfile
  catalyst-gateway/tests/Cargo.toml
  catalyst-gateway/tests/Earthfile
  catalyst_voices/android/app/src/dev/res/drawable/ic_launcher_foreground.xml
  catalyst_voices/android/app/src/main/java/io/flutter/app/FlutterMultiDexApplication.java
  catalyst_voices/android/app/src/main/res/drawable/ic_launch_image.xml
  catalyst_voices/android/app/src/main/res/drawable/ic_launcher_foreground.xml
  catalyst_voices/android/app/src/preprod/res/drawable/ic_launcher_foreground.xml
  catalyst_voices/android/app/src/qa/res/drawable/ic_launcher_foreground.xml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: remove cspell inline check
  catalyst-gateway/tests/integration/catalyst_gateway_event_db.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix fmt
  catalyst-gateway/tests/integration/catalyst_gateway_event_db.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: Linting errors (#195)
  .config/dictionaries/project.dic
  catalyst-gateway/Earthfile
  catalyst-gateway/tests/Cargo.toml
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/integration/catalyst_gateway_event_db.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: set State variable for schema version check status
  catalyst-gateway/bin/src/service/api/health/ready_get.rs
  catalyst-gateway/bin/src/state/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: set State variable for schema version check status (#197)
  catalyst-gateway/bin/src/service/api/health/ready_get.rs
  catalyst-gateway/bin/src/state/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

Update 0005-flutter-app.md
  docs/src/architecture/09_architecture_decisions/0005-flutter-app.md
Owners: none

Update 0005-flutter-app.md
  docs/src/architecture/09_architecture_decisions/0005-flutter-app.md
Owners: none

wip
  catalyst_voices/lib/dummy/dummy.dart
  catalyst_voices/lib/dummy/home_page.dart
  catalyst_voices/lib/routes/app_router.dart
  catalyst_voices/lib/routes/go_router_refresh_stream.dart
  catalyst_voices/lib/routes/home_page_route.dart
  catalyst_voices/lib/routes/login_page_route.dart
  catalyst_voices/pubspec.yaml
Owners: @minikin

feat: add SchemaVersionValidation middleware to existing API endpoints
  catalyst-gateway/bin/src/service/api/registration/mod.rs
  catalyst-gateway/bin/src/service/api/v0/mod.rs
  catalyst-gateway/bin/src/service/api/v1/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: update endpoint to use 'State::event_db()' method
  catalyst-gateway/bin/src/service/api/registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add SchemaVersionValidation middleware
  catalyst-gateway/bin/src/service/common/responses/resp_5xx.rs
  catalyst-gateway/bin/src/service/utilities/middleware/mod.rs
  catalyst-gateway/bin/src/service/utilities/middleware/schema_validation.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: refactor State to hide inner vars, expose functionality via methods
  catalyst-gateway/bin/src/state/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: update GET /health/ready endpoint
  catalyst-gateway/bin/src/service/api/health/ready_get.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: spelling
  catalyst-gateway/bin/src/service/utilities/middleware/schema_validation.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore(event-db): Fix CI version for postgres builders
  catalyst-gateway/event-db/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore(voices db): Fix version of CI for postgres builders (#202)
  catalyst-gateway/event-db/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(docs): Catalyst Gateway OpenAPI docs (#183)
  catalyst-gateway/Earthfile
  catalyst-gateway/bin/README.md
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/service/docs/stoplight_elements/mod.rs
  docs/Earthfile
  docs/src/api/.pages
  docs/src/api/cat-gateway/.pages
  docs/src/api/cat-gateway/index.md
  docs/src/api/cat-gateway/openapi.md
  docs/src/api/cat-gateway/rust.md
  docs/src/api/cat-gateway/stoplight_template.html
  docs/src/api/catalyst-gateway.md
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: update services , repositories, add models
  catalyst_voices/lib/routes/go_router_refresh_stream.dart
  catalyst_voices/packages/catalyst_voices_models/lib/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/authentication_status.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/errors/errors.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/errors/network_error.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/errors/secure_storage_error.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/seesion_data.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/session_data.dart
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_models/test/src/catalyst_voices_models_test.dart
  catalyst_voices/packages/catalyst_voices_repositories/lib/src/catalyst_voices_repositories.dart
  catalyst_voices/packages/catalyst_voices_repositories/lib/src/credentials_storage_repository.dart
  catalyst_voices/packages/catalyst_voices_repositories/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_repositories/test/src/catalyst_voices_repositories_test.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/secure_storage/secure_storage_keys.dart
Owners: @minikin

add AuthenticationRepository, clean up
  catalyst_voices/packages/catalyst_voices_models/lib/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/seesion_data.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/session_data.dart
  catalyst_voices/packages/catalyst_voices_repositories/lib/src/authentication_repository.dart
  catalyst_voices/packages/catalyst_voices_repositories/lib/src/catalyst_voices_repositories.dart
  catalyst_voices/packages/catalyst_voices_repositories/lib/src/credentials_storage_repository.dart
Owners: @minikin

Update 0005-flutter-app.md
  docs/src/architecture/09_architecture_decisions/0005-flutter-app.md
Owners: none

wip
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/authentication/authentication.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/authentication/authentication_bloc.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/authentication/authentication_event.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/authentication/authentication_state.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/login/login.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/login/login_bloc.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/login/login_event.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/login/login_state.dart
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_models/lib/src/session_data.dart
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_view_models/pubspec.yaml
  melos.yaml
Owners: @minikin

add auth and login blocs
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/catalyst_voices_blocs.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/login/login_bloc.dart
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/authentication/authentication.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/authentication/email.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/authentication/password.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/catalyst_voices_view_models.dart
  catalyst_voices/packages/catalyst_voices_view_models/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_view_models/test/src/catalyst_voices_view_models_test.dart
Owners: @minikin

Update project.dic
  .config/dictionaries/project.dic
Owners: none

fix: update code with suggestions from peer review
  catalyst-gateway/bin/src/service/api/health/ready_get.rs
  catalyst-gateway/bin/src/service/api/registration/mod.rs
  catalyst-gateway/bin/src/service/mod.rs
  catalyst-gateway/bin/src/service/utilities/middleware/schema_validation.rs
  catalyst-gateway/bin/src/state/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(service): schema mismatch disables service (#198)
  catalyst-gateway/bin/src/service/api/health/ready_get.rs
  catalyst-gateway/bin/src/service/api/registration/mod.rs
  catalyst-gateway/bin/src/service/api/v0/mod.rs
  catalyst-gateway/bin/src/service/api/v1/mod.rs
  catalyst-gateway/bin/src/service/common/responses/resp_5xx.rs
  catalyst-gateway/bin/src/service/mod.rs
  catalyst-gateway/bin/src/service/utilities/middleware/mod.rs
  catalyst-gateway/bin/src/service/utilities/middleware/schema_validation.rs
  catalyst-gateway/bin/src/state/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
