Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: spelling issues
  .config/dictionaries/project.dic
  catalyst_voices/lib/pages/spaces/appbar/spaces_theme_mode_switch.dart
Owners: @minikin

chore: update Earthfile to v3.2.13
  Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip(cat-gateway): chain-root indexing insert queries
  catalyst-gateway/bin/src/db/index/block/rbac509/insert_chain_root_for_role0_key.rs
  catalyst-gateway/bin/src/db/index/block/rbac509/insert_chain_root_for_stake_address.rs
  catalyst-gateway/bin/src/db/index/block/rbac509/insert_chain_root_for_txn_id.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(invalids): add error reporting in resp
  catalyst-gateway/bin/src/db/index/queries/cql/get_invalid_registration_w_stake_addr.cql
  catalyst-gateway/bin/src/db/index/queries/mod.rs
  catalyst-gateway/bin/src/db/index/queries/registrations/get_from_stake_addr.rs
  catalyst-gateway/bin/src/db/index/queries/registrations/get_from_stake_hash.rs
  catalyst-gateway/bin/src/db/index/queries/registrations/get_from_vote_key.rs
  catalyst-gateway/bin/src/db/index/queries/registrations/get_invalid.rs
  catalyst-gateway/bin/src/db/index/queries/registrations/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/cip36.rs
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: Upload file dialog - pass onUpload
  catalyst_voices/lib/widgets/modals/voices_upload_file_dialog.dart
  catalyst_voices/uikit_example/lib/examples/voices_modals_example.dart
Owners: @minikin

feat: Upload file dialog - pass title
  catalyst_voices/lib/widgets/modals/voices_upload_file_dialog.dart
  catalyst_voices/uikit_example/lib/examples/voices_modals_example.dart
Owners: @minikin

feat: Upload file dialog - add allowedExtensions property
  catalyst_voices/lib/widgets/modals/voices_upload_file_dialog.dart
  catalyst_voices/uikit_example/lib/examples/voices_modals_example.dart
Owners: @minikin

feat: Upload file dialog - onCancel callback
  catalyst_voices/lib/widgets/modals/voices_desktop_dialog.dart
  catalyst_voices/lib/widgets/modals/voices_upload_file_dialog.dart
  catalyst_voices/uikit_example/lib/examples/voices_modals_example.dart
Owners: @minikin

feat: Upload file dialog - isUploading conditions
  catalyst_voices/lib/widgets/modals/voices_upload_file_dialog.dart
Owners: @minikin

feat: Upload file dialog - show progress indicator
  catalyst_voices/lib/widgets/modals/voices_upload_file_dialog.dart
Owners: @minikin

wip(cat-gateway): use wip branch in catalyst-libs
  catalyst-gateway/bin/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip(cat-gateway): role0 key indexing
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/db/index/block/rbac509/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: mocked create keychain method
  catalyst_voices/lib/pages/registration/create_keychain/stage/unlock_password_panel.dart
  catalyst_voices/lib/pages/registration/get_started/get_started_panel.dart
  catalyst_voices/lib/pages/registration/registration_stage_navigation.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/keychain_creation_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
Owners: @minikin

feat: info panel password picture types
  catalyst_voices/lib/pages/registration/pictures/password_picture.dart
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
Owners: @minikin

chore: remove autofill group
  catalyst_voices/lib/pages/registration/create_keychain/stage/unlock_password_panel.dart
Owners: @minikin

feat: clear password on back
  catalyst_voices/lib/pages/registration/create_keychain/stage/unlock_password_panel.dart
  catalyst_voices/lib/pages/registration/registration_stage_navigation.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/keychain_creation_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/unlock_password_state.dart
Owners: @minikin

feat(cat-voices): role summary viewer (#924)
  catalyst_voices/lib/pages/registration/create_keychain/stage/instructions_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_check_instructions_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_check_result_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/splash_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/unlock_password_instructions_panel.dart
  catalyst_voices/lib/pages/registration/get_started/get_started_panel.dart
  catalyst_voices/lib/pages/registration/registration_stage_message.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/intro_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/roles_chooser_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/roles_summary_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/select_wallet_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/wallet_link_panel.dart
  catalyst_voices/lib/widgets/cards/role_chooser_card.dart
  catalyst_voices/packages/catalyst_voices_assets/assets/colors/colors.xml
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/colors.gen.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/theme_extensions/voices_color_scheme.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

fix: formatting
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
Owners: @minikin

feat: Upload file dialog - pass info and itemNameToUpload
  catalyst_voices/lib/widgets/modals/voices_upload_file_dialog.dart
  catalyst_voices/uikit_example/lib/examples/voices_modals_example.dart
Owners: @minikin

refactor: use voices switch
  catalyst_voices/lib/widgets/toggles/voices_theme_mode_switch.dart
Owners: @minikin

feat: finish account creation panel
  catalyst_voices/lib/pages/registration/finish_account/finish_account_creation_panel.dart
  catalyst_voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
  catalyst_voices/lib/pages/registration/registration_progress.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

refactor: use password from constructor data
  catalyst_voices/lib/pages/registration/create_keychain/stage/unlock_password_panel.dart
Owners: @minikin

feat: Upload file dialog - l10n
  catalyst_voices/lib/widgets/modals/voices_upload_file_dialog.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/uikit_example/lib/examples/voices_modals_example.dart
Owners: @minikin

feat(cat-voices): theme mode switch (#927)
  .config/dictionaries/project.dic
  catalyst_voices/lib/app/view/app_content.dart
  catalyst_voices/lib/pages/spaces/appbar/spaces_theme_mode_switch.dart
  catalyst_voices/lib/pages/spaces/spaces_shell_page.dart
  catalyst_voices/lib/widgets/toggles/voices_theme_mode_switch.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/uikit_example/lib/main.dart
Owners: @minikin

feat: finish account creation panel (#931)
  catalyst_voices/lib/pages/registration/finish_account/finish_account_creation_panel.dart
  catalyst_voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
  catalyst_voices/lib/pages/registration/registration_progress.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

feat(cat-gateway): Add recoverable sync logic
  catalyst-gateway/bin/src/cardano/mod.rs
  catalyst-gateway/bin/src/settings/chain_follower.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(cat-gateway): Update CI to fix issue with SyncConfig
  Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(cat-gateway): spelling
  .config/dictionaries/project.dic
Owners: none

feat: Upload file dialog - SizedBox and Future<void>
  catalyst_voices/lib/widgets/modals/voices_upload_file_dialog.dart
  catalyst_voices/uikit_example/lib/examples/voices_modals_example.dart
Owners: @minikin

feat: Upload file dialog - fix l10n
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

feat: Upload file dialog - add dependencies to melos.yaml
  catalyst_voices/pubspec.yaml
  melos.yaml
Owners: @minikin

feat: Upload file dialog - merge main
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
Owners: @minikin

feat(error reporting): invalids
  catalyst-gateway/bin/src/db/index/queries/cql/get_invalid_registration_w_stake_addr.cql
  catalyst-gateway/bin/src/db/index/queries/registrations/get_invalid.rs
  catalyst-gateway/bin/src/service/api/cardano/cip36.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(error reporting): invalids
  catalyst-gateway/bin/src/db/index/queries/cql/get_invalid_registration_w_stake_addr.cql
  catalyst-gateway/bin/src/db/index/queries/registrations/get_invalid.rs
  catalyst-gateway/bin/src/service/api/cardano/cip36.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor(docs): clean
  catalyst-gateway/bin/src/db/index/queries/registrations/get_from_stake_addr.rs
  catalyst-gateway/bin/src/db/index/queries/registrations/get_from_stake_hash.rs
  catalyst-gateway/bin/src/db/index/queries/registrations/get_from_vote_key.rs
  catalyst-gateway/bin/src/db/index/queries/registrations/get_invalid.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor(cat-voices): migrate apple-mobile-web-app-capable to mobile-web-app-capable
  catalyst_voices/packages/catalyst_voices_assets/example/web/index.html
  catalyst_voices/uikit_example/web/index.html
  catalyst_voices/web/index.html
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/web/index.html
  utilities/catalyst_voices_remote_widgets/example/web/index.html
  utilities/poc_local_storage/web/index.html
Owners: @minikin, @stevenj

ci(general): bumps to latest version
  .github/workflows/ci.yml
Owners: none

ci(general): updates CI version
  .github/workflows/ci.yml
Owners: none

refactor(housekeeping): clean
  catalyst-gateway/bin/src/service/api/cardano/cip36.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: reformat
  catalyst_voices/lib/pages/registration/finish_account/finish_account_creation_panel.dart
Owners: @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
