Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

feat: settings dto
  catalyst-gateway/bin/src/service/api/legacy/v0/settings_get.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: fmtfix
  catalyst-gateway/bin/src/service/api/legacy/v0/settings_get.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: update openapi linter
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: proposals and fund
  catalyst-gateway/bin/src/service/api/legacy/v0/fund_get.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/proposals_get.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/settings_get.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs(cat-gateway): Add more constraints to parameters and json bodies
  catalyst-gateway/bin/src/service/api/cardano/cip36.rs
  catalyst-gateway/bin/src/service/api/config/mod.rs
  catalyst-gateway/bin/src/service/api/legacy/registration/mod.rs
  catalyst-gateway/bin/src/service/api/legacy/v1/mod.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/stake_info.rs
  catalyst-gateway/bin/src/service/common/objects/legacy/event_id.rs
  catalyst-gateway/bin/src/service/common/tags.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: openapi lint FUNCTION name
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: CIP36 example and description
  catalyst-gateway/bin/src/service/api/cardano/cip36.rs
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(cat-gateway): cleanup error handling, and add a global 429 response to all endpoints.
  catalyst-gateway/bin/src/service/common/objects/mod.rs
  catalyst-gateway/bin/src/service/common/responses/code_429_too_many_requests.rs
  catalyst-gateway/bin/src/service/common/responses/code_500_internal_server_error.rs
  catalyst-gateway/bin/src/service/common/responses/code_503_service_unavailable.rs
  catalyst-gateway/bin/src/service/common/responses/mod.rs
  catalyst-gateway/bin/src/service/common/responses/types/mod.rs
  catalyst-gateway/bin/src/service/common/responses/types/retry_after.rs
  catalyst-gateway/bin/src/service/utilities/catch_panic.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: config endpoint example, desc, and return
  catalyst-gateway/bin/src/service/api/config/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: remove todo
  catalyst-gateway/bin/src/service/api/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: move config object
  catalyst-gateway/bin/src/service/api/config/mod.rs
  catalyst-gateway/bin/src/service/common/objects/config/frontend_config.rs
  catalyst-gateway/bin/src/service/common/objects/config/mod.rs
  catalyst-gateway/bin/src/service/common/objects/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: move cip36 object
  catalyst-gateway/bin/src/service/api/cardano/cip36.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/cip36.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs(cat-gateway): Add missing headers to responses
  catalyst-gateway/bin/src/service/api/cardano/cip36.rs
  catalyst-gateway/bin/src/service/api/config/mod.rs
  catalyst-gateway/bin/src/service/api/health/inspection_get.rs
  catalyst-gateway/bin/src/service/api/legacy/registration/mod.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/mod.rs
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/registration_info.rs
  catalyst-gateway/bin/src/service/common/objects/legacy/delegate_public_key.rs
  catalyst-gateway/bin/src/service/common/objects/legacy/vote_plan.rs
  catalyst-gateway/bin/src/service/common/objects/legacy/voter_info.rs
  catalyst-gateway/bin/src/service/common/responses/mod.rs
  catalyst-gateway/bin/src/service/common/responses/types/mod.rs
  catalyst-gateway/bin/src/service/common/responses/types/retry_after.rs
  catalyst-gateway/bin/src/service/common/responses/types/string_types.rs
  catalyst-gateway/bin/src/service/common/tags.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs(cat-gateway): Cleanup the rest of the documentation in the api
  catalyst-gateway/bin/src/service/api/cardano/cip36.rs
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
  catalyst-gateway/bin/src/service/api/legacy/registration/mod.rs
  catalyst-gateway/bin/src/service/api/legacy/v1/fragments_post.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/cip36.rs
  catalyst-gateway/bin/src/service/common/objects/config/frontend_config.rs
  catalyst-gateway/bin/src/service/common/objects/config/mod.rs
  catalyst-gateway/bin/src/service/common/objects/legacy/fragments_processing_summary.rs
  catalyst-gateway/bin/src/service/common/responses/types/string_types.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(cat-gateway): Fix OpenAPI linting and add autogenerated api file for dart.
  catalyst-gateway/tests/.oapi-v3.spectral.yml
  catalyst-gateway/tests/Earthfile
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.g.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.chopper.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.dart
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor(cat-gateway): Better generalize the OpenAPI simple string type creation macro.
  .config/dictionaries/project.dic
  catalyst-gateway/bin/src/service/common/mod.rs
  catalyst-gateway/bin/src/service/common/responses/mod.rs
  catalyst-gateway/bin/src/service/common/responses/types/mod.rs
  catalyst-gateway/bin/src/service/common/types/headers/access_control_allow_origin.rs
  catalyst-gateway/bin/src/service/common/types/headers/mod.rs
  catalyst-gateway/bin/src/service/common/types/headers/ratelimit.rs
  catalyst-gateway/bin/src/service/common/types/headers/retry_after.rs
  catalyst-gateway/bin/src/service/common/types/mod.rs
  catalyst-gateway/bin/src/service/common/types/string_types.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(cat-gateway): Add APIKey and CatToken auth to some endpoints. Add 401 and 403 common responses.
  catalyst-gateway/bin/src/service/api/auth/mod.rs
  catalyst-gateway/bin/src/service/api/config/mod.rs
  catalyst-gateway/bin/src/service/api/health/mod.rs
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/service/common/auth/api_key.rs
  catalyst-gateway/bin/src/service/common/auth/mod.rs
  catalyst-gateway/bin/src/service/common/auth/scheme.rs
  catalyst-gateway/bin/src/service/common/auth/token.rs
  catalyst-gateway/bin/src/service/common/mod.rs
  catalyst-gateway/bin/src/service/common/responses/code_401_unauthorized.rs
  catalyst-gateway/bin/src/service/common/responses/code_403_forbidden.rs
  catalyst-gateway/bin/src/service/common/responses/code_500_internal_server_error.rs
  catalyst-gateway/bin/src/service/common/responses/code_503_service_unavailable.rs
  catalyst-gateway/bin/src/service/common/responses/mod.rs
  catalyst-gateway/bin/src/settings/mod.rs
  catalyst-gateway/tests/.oapi-v3.spectral.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(cat-gateway): Add universal 422 response to all endpoints, and try and make all endpoint validation use it.
  catalyst-gateway/bin/src/service/common/responses/code_422_unprocessable_content.rs
  catalyst-gateway/bin/src/service/common/responses/mod.rs
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.g.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.chopper.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.dart
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: add cardano stake address type
  catalyst-gateway/bin/src/service/common/types/cardano/address.rs
  catalyst-gateway/bin/src/service/common/types/cardano/mod.rs
  catalyst-gateway/bin/src/service/common/types/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: convert to async (wip)
  catalyst_voices_packages/catalyst_key_derivation/flutter_rust_bridge.yaml
  catalyst_voices_packages/catalyst_key_derivation/rust/src/api/simple.rs
Owners: @minikin, @stevenj

chore: remove unused stuff
  example/integration_test/simple_test.dart
  example/lib/main.dart
  ios/Classes/dummy_file.c
  ios/catalyst_voices_workspace.podspec
  lib/catalyst_voices_workspace.dart
  lib/src/rust/api/simple.dart
  lib/src/rust/frb_generated.dart
  lib/src/rust/frb_generated.io.dart
  lib/src/rust/frb_generated.web.dart
  linux/CMakeLists.txt
  macos/Classes/dummy_file.c
  macos/catalyst_voices_workspace.podspec
  rust/.gitignore
  rust/Cargo.toml
  rust/src/api/mod.rs
  rust/src/api/simple.rs
  rust/src/frb_generated.rs
  rust/src/lib.rs
  test_driver/integration_test.dart
  windows/.gitignore
  windows/CMakeLists.txt
Owners: none

fix(cat-gateway): stake address type
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/registration_get.rs
  catalyst-gateway/bin/src/service/api/cardano/staked_ada_get.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/mod.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/stake_address.rs
  catalyst-gateway/bin/src/service/common/types/cardano/address.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: Keychain metadata typo fix + migration tests
  catalyst_voices/packages/catalyst_voices_models/lib/src/crypto/keychain_metadata.dart
  catalyst_voices/packages/catalyst_voices_models/test/crypto/keychain_metadata_test.dart
Owners: @minikin

fix: secure storage key id lookup
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/secure_storage_vault.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/storage/vault/secure_storage_vault_test.dart
Owners: @minikin

test: vault keychain
  catalyst_voices/packages/catalyst_voices_services/lib/src/keychain/vault_keychain.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/keychain/vault_keychain_test.dart
Owners: @minikin

test: vault keychain provider
  catalyst_voices/packages/catalyst_voices_services/lib/src/keychain/vault_keychain_provider.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/keychain/vault_keychain_provider_test.dart
Owners: @minikin

test: KeychainToUnlockTransformer
  catalyst_voices/packages/catalyst_voices_services/test/src/keychain/keychain_transformers_test.dart
Owners: @minikin

test: UserService
  catalyst_voices/packages/catalyst_voices_services/test/src/user/user_service_test.dart
Owners: @minikin

chore: update rust sample to block main thread, generate code
  catalyst_voices_packages/catalyst_key_derivation/example/lib/main.dart
  catalyst_voices_packages/catalyst_key_derivation/example/macos/Podfile.lock
  catalyst_voices_packages/catalyst_key_derivation/example/macos/Runner.xcodeproj/project.pbxproj
  catalyst_voices_packages/catalyst_key_derivation/example/macos/Runner.xcworkspace/contents.xcworkspacedata
  catalyst_voices_packages/catalyst_key_derivation/example/web/enable-threads.js
  catalyst_voices_packages/catalyst_key_derivation/lib/src/rust/api/simple.dart
  catalyst_voices_packages/catalyst_key_derivation/lib/src/rust/frb_generated.dart
  catalyst_voices_packages/catalyst_key_derivation/lib/src/rust/frb_generated.io.dart
  catalyst_voices_packages/catalyst_key_derivation/rust/src/api/simple.rs
  catalyst_voices_packages/catalyst_key_derivation/rust/src/frb_generated.rs
Owners: @minikin, @stevenj

docs: add example how to run the app
  catalyst_voices_packages/catalyst_key_derivation/README.md
Owners: @minikin, @stevenj

docs: fix how to instructions
  catalyst_voices_packages/catalyst_key_derivation/README.md
Owners: @minikin, @stevenj

chore: drop unused files
  android/.gitignore
  android/build.gradle
  android/settings.gradle
  android/src/main/AndroidManifest.xml
  cargokit/.gitignore
  cargokit/LICENSE
  cargokit/README
  cargokit/build_pod.sh
  cargokit/build_tool/README.md
  cargokit/build_tool/analysis_options.yaml
  cargokit/build_tool/bin/build_tool.dart
  cargokit/build_tool/lib/build_tool.dart
  cargokit/build_tool/lib/src/android_environment.dart
  cargokit/build_tool/lib/src/artifacts_provider.dart
  cargokit/build_tool/lib/src/build_cmake.dart
  cargokit/build_tool/lib/src/build_gradle.dart
  cargokit/build_tool/lib/src/build_pod.dart
  cargokit/build_tool/lib/src/build_tool.dart
  cargokit/build_tool/lib/src/builder.dart
  cargokit/build_tool/lib/src/cargo.dart
  cargokit/build_tool/lib/src/crate_hash.dart
  cargokit/build_tool/lib/src/environment.dart
  cargokit/build_tool/lib/src/logging.dart
  cargokit/build_tool/lib/src/options.dart
  cargokit/build_tool/lib/src/precompile_binaries.dart
  cargokit/build_tool/lib/src/rustup.dart
  cargokit/build_tool/lib/src/target.dart
  cargokit/build_tool/lib/src/util.dart
  cargokit/build_tool/lib/src/verify_binaries.dart
  cargokit/build_tool/pubspec.lock
  cargokit/build_tool/pubspec.yaml
  cargokit/cmake/cargokit.cmake
  cargokit/cmake/resolve_symlinks.ps1
  cargokit/gradle/plugin.gradle
  cargokit/run_build_tool.cmd
  cargokit/run_build_tool.sh
Owners: none

chore: drop unused files
  flutter_rust_bridge.yaml
Owners: none

chore: add script
  catalyst_voices_packages/catalyst_key_derivation/run.sh
Owners: @minikin, @stevenj

test
  catalyst_voices/integration_test/Earthfile
Owners: @minikin

chore: fix script
  catalyst_voices_packages/catalyst_key_derivation/run.sh
Owners: @minikin, @stevenj

chore: fix script
  catalyst_voices_packages/catalyst_key_derivation/README.md
  catalyst_voices_packages/catalyst_key_derivation/run.sh
Owners: @minikin, @stevenj

chore: run heave computation in a thread pool
  catalyst_voices_packages/catalyst_key_derivation/example/ios/Podfile.lock
  catalyst_voices_packages/catalyst_key_derivation/example/ios/Runner.xcodeproj/project.pbxproj
  catalyst_voices_packages/catalyst_key_derivation/example/ios/Runner.xcworkspace/contents.xcworkspacedata
  catalyst_voices_packages/catalyst_key_derivation/rust/src/api/simple.rs
Owners: @minikin, @stevenj

chore: cleanup code, extract dependencies, add docs
  catalyst_voices_packages/catalyst_key_derivation/.gitignore
  catalyst_voices_packages/catalyst_key_derivation/.metadata
  catalyst_voices_packages/catalyst_key_derivation/CHANGELOG.md
  catalyst_voices_packages/catalyst_key_derivation/LICENSE
  catalyst_voices_packages/catalyst_key_derivation/README.md
  catalyst_voices_packages/catalyst_key_derivation/example/.gitignore
  catalyst_voices_packages/catalyst_key_derivation/example/integration_test/simple_test.dart
  catalyst_voices_packages/catalyst_key_derivation/example/lib/main.dart
  catalyst_voices_packages/catalyst_key_derivation/example/web/enable-threads.js
  catalyst_voices_packages/catalyst_key_derivation/pubspec.yaml
  catalyst_voices_packages/catalyst_key_derivation/run.sh
  catalyst_voices_packages/catalyst_key_derivation/test_driver/integration_test.dart
  melos.yaml
Owners: @minikin, @stevenj

chore: cleanup
  catalyst_voices_packages/catalyst_key_derivation/.gitignore
  catalyst_voices_packages/catalyst_key_derivation/CHANGELOG.md
  catalyst_voices_packages/catalyst_key_derivation/cargokit/build_tool/pubspec.lock
Owners: @minikin, @stevenj
