Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: test report action
  .github/workflows/nightly-ci.yml
Owners: none

chore: update README (#634)
  catalyst_voices_packages/README.md
Owners: @minikin, @stevenj

fix: pubkey parse and cli command
  catalyst-gateway-crates/c509-certificate/examples/cli/main.rs
Owners: none

feat: restore and split api tests (#633)
  .github/workflows/nightly-ci.yml
  Earthfile
  catalyst-gateway-crates/c509-certificate/Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst-gateway/tests/api_tests/api_tests/test_schema_mismatch_behavior.py
  catalyst-gateway/tests/api_tests/api_tests/test_slot_info.py
  catalyst-gateway/tests/api_tests/api_tests/test_utils.py
  catalyst-gateway/tests/api_tests/api_tests/test_utxo.py
  catalyst-gateway/tests/api_tests/api_tests/test_voter_registration.py
  catalyst-gateway/tests/api_tests/poetry.lock
  catalyst-gateway/tests/api_tests/pyproject.toml
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: send undefined values to JS instead of nulls
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/assets/js/catalyst_cardano.js
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_interop.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_wallet_proxy.dart
Owners: @minikin, @stevenj

fix: uncomment code
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/main.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/assets/js/catalyst_cardano.js
Owners: @minikin, @stevenj

docs: improve wording
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_wallet_proxy.dart
Owners: @minikin, @stevenj

fix: catalyst cardano integration with Typhoon wallet (#636)
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/README.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/main.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_rbac_tx.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_tx.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/lib/src/cardano_wallet.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/assets/js/catalyst_cardano.js
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_interop.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_wallet_proxy.dart
Owners: @minikin, @stevenj

chore(release): publish packages
  CHANGELOG.md
  catalyst_voices/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano_serialization/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano_serialization/pubspec.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression/CHANGELOG.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression/pubspec.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression_platform_interface/CHANGELOG.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/CHANGELOG.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/pubspec.yaml
Owners: @minikin, @stevenj

chore(release): publish packages (#637)
  CHANGELOG.md
  catalyst_voices/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano_serialization/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano_serialization/pubspec.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression/CHANGELOG.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression/pubspec.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression_platform_interface/CHANGELOG.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/CHANGELOG.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/pubspec.yaml
Owners: @minikin, @stevenj

docs: add packages to readme
  catalyst_voices_packages/README.md
Owners: @minikin, @stevenj

fix(rust): Format fixes
  catalyst-gateway-crates/c509-certificate/Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/bin/src/cardano/mod.rs
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/db/event/cardano/chain_state/mod.rs
  catalyst-gateway/bin/src/db/event/cardano/cip36_registration/mod.rs
  catalyst-gateway/bin/src/db/event/cardano/utxo/mod.rs
  catalyst-gateway/bin/src/db/event/legacy/queries/event/ballot.rs
  catalyst-gateway/bin/src/db/event/legacy/queries/event/objective.rs
  catalyst-gateway/bin/src/db/event/legacy/queries/event/proposal.rs
  catalyst-gateway/bin/src/db/event/legacy/queries/event/review.rs
  catalyst-gateway/bin/src/db/event/legacy/queries/registration.rs
  catalyst-gateway/bin/src/db/event/legacy/queries/search.rs
  catalyst-gateway/bin/src/db/event/legacy/queries/vit_ss/fund.rs
  catalyst-gateway/bin/src/db/index/schema.rs
  catalyst-gateway/bin/src/db/index/session.rs
  catalyst-gateway/bin/src/logger.rs
  catalyst-gateway/bin/src/service/api/cardano/date_time_to_slot_number_get.rs
  catalyst-gateway/bin/src/service/api/cardano/registration_get.rs
  catalyst-gateway/bin/src/service/api/cardano/staked_ada_get.rs
  catalyst-gateway/bin/src/service/api/cardano/sync_state_get.rs
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/registration_info.rs
  catalyst-gateway/bin/src/settings.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs: add packages to readme (#638)
  catalyst_voices_packages/README.md
Owners: @minikin, @stevenj

fix(rust): Build fixes
  .gitignore
  .secret.template
  catalyst-gateway-crates/c509-certificate/rust-toolchain.toml
  catalyst-gateway/bin/src/build_info.rs
  catalyst-gateway/bin/src/settings.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

test: add test wallet not empty
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/test/connect-to-wallet.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/wallet-automation/typhon/wallet-extension.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/wallet-automation/typhon/wallet-test.spec.ts
Owners: @minikin, @stevenj

fix(rust): Adjust index DB so we can index without querying, and can optimize on first detected spend.
  .vscode/extensions.json
  catalyst-gateway/bin/src/db/index/schema.rs
  catalyst-gateway/bin/src/db/index/schema/txi_by_stake_table.cql
  catalyst-gateway/bin/src/db/index/schema/txi_by_txn_hash_table.cql
  catalyst-gateway/bin/src/db/index/schema/txo_assets_by_stake_table.cql
  catalyst-gateway/bin/src/db/index/schema/txo_by_stake_table.cql
  catalyst-gateway/bin/src/db/index/session.rs
  justfile
  utilities/local-cluster/justfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: grammar fix
  catalyst-gateway-crates/c509-certificate/examples/cli/main.rs
Owners: none

fix(rust): add more docs
  catalyst-gateway/bin/src/db/index/schema/txo_assets_by_stake_table.cql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(rust): basic new follower integration
  catalyst-gateway/Cargo.toml
  catalyst-gateway/bin/src/cardano/cip36_registration/mod.rs
  catalyst-gateway/bin/src/cardano/mod.rs
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/db/event/cardano/chain_state/mod.rs
  catalyst-gateway/bin/src/db/event/cardano/cip36_registration/mod.rs
  catalyst-gateway/bin/src/db/event/cardano/config/mod.rs
  catalyst-gateway/bin/src/db/event/cardano/utxo/mod.rs
  catalyst-gateway/bin/src/db/event/mod.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/network.rs
  catalyst-gateway/bin/src/service/utilities/mod.rs
  catalyst-gateway/bin/src/settings.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: add enable wallet
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/main.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/wallet-automation/typhon/wallet-test.spec.ts
Owners: @minikin, @stevenj

fix: connect wallet to the app
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/wallet-automation/typhon/typhon-wallet-registration.spec.ts
Owners: @minikin, @stevenj

fix(rust): wip
  catalyst-gateway/Cargo.toml
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/db/index/block.rs
  catalyst-gateway/bin/src/db/index/mod.rs
  catalyst-gateway/bin/src/db/index/queries/insert_txo.cql
  catalyst-gateway/bin/src/db/index/schema/txo_by_stake_table.cql
  catalyst-gateway/bin/src/db/index/session.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

update regist test
  .gitignore
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/.gitignore
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/wallet-automation/package-lock.json
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/wallet-automation/package.json
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/wallet-automation/playwright.config.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/wallet-automation/typhon/typhon-wallet-registration.spec.ts
Owners: @minikin, @stevenj

Update main.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/main.dart
Owners: @minikin, @stevenj

feat: add CatalystSnackBar
  catalyst_voices/lib/widgets/snackbar/catalyst_snackbar.dart
Owners: @minikin

feat: C509 lib CLI example (#625)
  catalyst-gateway-crates/c509-certificate/Cargo.toml
  catalyst-gateway-crates/c509-certificate/Earthfile
  catalyst-gateway-crates/c509-certificate/examples/cli/data/cert_sample_1.json
  catalyst-gateway-crates/c509-certificate/examples/cli/main.rs
  catalyst-gateway-crates/c509-certificate/src/c509.rs
  catalyst-gateway-crates/c509-certificate/src/c509_algo_identifier.rs
  catalyst-gateway-crates/c509-certificate/src/c509_attributes/attribute.rs
  catalyst-gateway-crates/c509-certificate/src/c509_big_uint.rs
  catalyst-gateway-crates/c509-certificate/src/c509_extensions/alt_name.rs
  catalyst-gateway-crates/c509-certificate/src/c509_extensions/extension/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_extensions/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_general_names/general_name.rs
  catalyst-gateway-crates/c509-certificate/src/c509_general_names/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_general_names/other_name_hw_module.rs
  catalyst-gateway-crates/c509-certificate/src/c509_issuer_sig_algo/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_name/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_name/rdn.rs
  catalyst-gateway-crates/c509-certificate/src/c509_oid.rs
  catalyst-gateway-crates/c509-certificate/src/c509_subject_pub_key_algo/mod.rs
  catalyst-gateway-crates/c509-certificate/src/c509_time.rs
  catalyst-gateway-crates/c509-certificate/src/lib.rs
  catalyst-gateway-crates/c509-certificate/src/signing.rs
  catalyst-gateway-crates/c509-certificate/src/tbs_cert.rs
Owners: none

fix: update index.js
  catalyst-gateway-crates/c509-certificate/examples/web/index.js
Owners: none

chore: fix error message
  catalyst-gateway-crates/c509-certificate/src/wasm_binding.rs
Owners: none

fix: format
  catalyst-gateway-crates/c509-certificate/src/wasm_binding.rs
Owners: none

:fix: Update wallet registration
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/wallet-automation/package-lock.json
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/wallet-automation/package.json
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/wallet-automation/typhon/typhon-wallet-registration.spec.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/wallet-automation/typhon/typhon-wallet-storage.txt
Owners: @minikin, @stevenj

fix!: X509 registration metadata encoding
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_rbac_tx.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/catalyst_cardano_serialization.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/certificate.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/registration_data.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/x509_metadata_envelope.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/signature.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/utils/cbor.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/utils/uuid.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/utils/uuid_test.dart
Owners: @minikin, @stevenj

fix(ci): Bump rust compiler version to match CI
  catalyst-gateway-crates/c509-certificate/rust-toolchain.toml
Owners: none

fix: test data
  catalyst_voices_packages/catalyst_cardano_serialization/test/hashes_test.dart
Owners: @minikin, @stevenj

fix: add support for earlier era UTXO format
  .config/dictionaries/project.dic
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/transaction.dart
Owners: @minikin, @stevenj

fix: certificate hash calculation
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/certificate.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/hashes.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/hashes_test.dart
Owners: @minikin, @stevenj

fix!: X509 registration metadata encoding (#640)
  .config/dictionaries/project.dic
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_rbac_tx.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/catalyst_cardano_serialization.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/hashes.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/registration_data.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/x509_metadata_envelope.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/signature.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/transaction.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/utils/cbor.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/utils/uuid.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/hashes_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/utils/uuid_test.dart
Owners: @minikin, @stevenj

fix: get wallet balance
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/wallet-automation/typhon/typhon-wallet-registration.spec.ts
Owners: @minikin, @stevenj

ci(backend): Bump rust version to match CI
  catalyst-gateway/rust-toolchain.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(backend): Fix code format and lints
  catalyst-gateway/bin/src/db/index/mod.rs
  catalyst-gateway/bin/src/db/index/session.rs
  catalyst-gateway/bin/src/settings.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(backend): simple new block indexer just to test the logic works
  catalyst-gateway/bin/src/cardano/mod.rs
  catalyst-gateway/bin/src/db/index/block.rs
  catalyst-gateway/bin/src/db/index/queries/insert_txi.cql
  catalyst-gateway/bin/src/db/index/queries/insert_txo_asset.cql
  catalyst-gateway/bin/src/db/index/schema/txi_by_txn_hash_table.cql
  catalyst-gateway/bin/src/db/index/schema/txo_assets_by_stake_table.cql
  catalyst-gateway/bin/src/db/index/schema/txo_by_stake_table.cql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
