Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: create test reporting for backend python tests (#511)
  .config/dictionaries/project.dic
  .github/workflows/generate-allure-report.yml
  catalyst-gateway/tests/api_tests/.gitignore
  catalyst-gateway/tests/api_tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: parse any shelley address
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/address.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/address_test.dart
Owners: @minikin, @stevenj

feat: imports and dependencies
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/assets/js/cardano_multiplatform_lib.d.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/assets/js/cardano_multiplatform_lib.js
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/assets/js/cardano_multiplatform_lib_bg.wasm
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/assets/js/cardano_multiplatform_lib_bg.wasm.d.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/assets/js/catalyst_cardano.js
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/pubspec.yaml
Owners: @minikin, @stevenj

try
  catalyst-gateway/bin/src/service/api/health/inspection_get.rs
  catalyst-gateway/tests/api_tests/api_tests/__init__.py
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: update check license
  Earthfile
  catalyst_voices/license_checker.yaml
Owners: @minikin

fix
  catalyst-gateway/bin/src/event_db/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

try
  catalyst_voices/Earthfile
Owners: @minikin

try
  catalyst-gateway/bin/src/service/common/responses/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: upgrade flutter to 3.22.1, dart to 3.3.4
  catalyst_voices/Earthfile
  catalyst_voices/README.md
  catalyst_voices/packages/catalyst_voices_assets/example/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_assets/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_brands/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_localization/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_repositories/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_view_models/pubspec.yaml
  catalyst_voices/pubspec.yaml
  catalyst_voices/web/index.html
  catalyst_voices_packages/catalyst_analysis/example/pubspec.yaml
  catalyst_voices_packages/catalyst_analysis/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano_serialization/README.md
  catalyst_voices_packages/catalyst_cardano_serialization/pubspec.yaml
  melos.yaml
  utilities/catalyst_voices_remote_widgets/pubspec.yaml
Owners: @minikin, @stevenj

try
  catalyst-gateway/bin/src/service/utilities/catch_panic.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

set deep query inspection to false
  catalyst-gateway/bin/src/settings.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor DeepQueryInspectionFlag
  catalyst-gateway/bin/src/event_db/mod.rs
  catalyst-gateway/bin/src/service/api/health/inspection_get.rs
  catalyst-gateway/bin/src/service/api/health/mod.rs
  catalyst-gateway/bin/src/state/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/bin/src/event_db/mod.rs
  catalyst-gateway/bin/src/main.rs
  catalyst-gateway/bin/src/service/common/responses/mod.rs
  catalyst-gateway/bin/src/service/utilities/catch_panic.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor
  catalyst-gateway/bin/src/logger.rs
  catalyst-gateway/bin/src/service/api/health/inspection_get.rs
  catalyst-gateway/bin/src/service/common/responses/mod.rs
  catalyst-gateway/bin/src/state/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add hook for schemathesis tests
  .gitignore
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/.gitignore
  catalyst-gateway/tests/api_tests/api_tests/hooks.py
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(wip): add subject public key encoder
  catalyst-gateway/crates/c509-certificate/src/c509_cert.rs
  catalyst-gateway/crates/c509-certificate/src/c509_enum.rs
  catalyst-gateway/crates/c509-certificate/src/cbor.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

test
  .github/workflows/generate-allure-report.yml
Owners: none

split OpenAI definition of LogLevel and DeepQueryInspectionFlag structs from the original one.
  catalyst-gateway/bin/src/event_db/mod.rs
  catalyst-gateway/bin/src/logger.rs
  catalyst-gateway/bin/src/service/api/health/inspection_get.rs
  catalyst-gateway/bin/src/service/api/health/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix
  catalyst-gateway/bin/src/cli.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/bin/src/service/api/health/inspection_get.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: run code generator
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.enums.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.g.dart
Owners: @minikin

add prepare_sql_params_list fn
  catalyst-gateway/bin/src/event_db/cardano/chain_state/mod.rs
  catalyst-gateway/bin/src/event_db/cardano/cip36_registration/mod.rs
  catalyst-gateway/bin/src/event_db/cardano/utxo/mod.rs
  catalyst-gateway/bin/src/event_db/mod.rs
  catalyst-gateway/bin/src/event_db/utils.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: refactor event-db queries to do batch inserts and updates
  catalyst-gateway/bin/src/cardano/mod.rs
  catalyst-gateway/bin/src/event_db/cardano/chain_state/mod.rs
  catalyst-gateway/bin/src/event_db/cardano/cip36_registration/mod.rs
  catalyst-gateway/bin/src/event_db/cardano/utxo/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: process chain data and write data to postgres concurrently
  catalyst-gateway/bin/src/cardano/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: fix clippy
  catalyst-gateway/bin/src/cardano/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/bin/src/event_db/cardano/chain_state/mod.rs
  catalyst-gateway/bin/src/event_db/cardano/cip36_registration/mod.rs
  catalyst-gateway/bin/src/event_db/cardano/utxo/mod.rs
  catalyst-gateway/bin/src/event_db/utils.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: fix format
  catalyst-gateway/bin/src/cardano/mod.rs
  catalyst-gateway/bin/src/event_db/cardano/cip36_registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: refactor index transaction function
  catalyst-gateway/bin/src/cardano/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: batch write chain data using COPY instead of INSERT
  catalyst-gateway/bin/src/cardano/mod.rs
  catalyst-gateway/bin/src/event_db/cardano/chain_state/mod.rs
  catalyst-gateway/bin/src/event_db/cardano/cip36_registration/mod.rs
  catalyst-gateway/bin/src/event_db/cardano/utxo/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: fix fmt
  catalyst-gateway/bin/src/cardano/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: upgrade android code to be compatible with latest flutter version
  catalyst_voices/android/app/build.gradle
  catalyst_voices/android/app/src/main/java/io/flutter/app/FlutterMultiDexApplication.java
  catalyst_voices/android/build.gradle
  catalyst_voices/android/gradle/wrapper/gradle-wrapper.properties
  catalyst_voices/android/settings.gradle
  utilities/catalyst_voices_remote_widgets/example/android/settings.gradle
Owners: @minikin

chore: upgrade ios project
  catalyst_voices/ios/Podfile.lock
  catalyst_voices/ios/Runner.xcodeproj/project.pbxproj
  catalyst_voices/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
Owners: @minikin

docs: document package version
  .config/dictionaries/project.dic
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/lib/src/catalyst_cardano.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/CHANGELOG.md
Owners: @minikin, @stevenj

feat: add cardano wallet api
  catalyst_voices/lib/app/view/app_page.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/lib/catalyst_cardano_platform_interface.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/lib/src/cardano_wallet.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/lib/src/catalyst_cardano_platform.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/lib/src/exceptions.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/assets/js/catalyst_cardano.js
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/catalyst_cardano_web.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_interop.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_wallet_proxy.dart
Owners: @minikin, @stevenj

feat: add put patch delete method, refactor
  catalyst-gateway/tests/api_tests/api_tests/hooks.py
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: Add dark and icon version of brand logos.
  catalyst_voices/packages/catalyst_voices_assets/assets/images/catalyst_logo_icon.svg
  catalyst_voices/packages/catalyst_voices_assets/assets/images/catalyst_logo_icon_white.svg
  catalyst_voices/packages/catalyst_voices_assets/assets/images/catalyst_logo_white.svg
  catalyst_voices/packages/catalyst_voices_assets/assets/images/fallback_logo.svg
  catalyst_voices/packages/catalyst_voices_assets/assets/images/fallback_logo_icon.svg
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/assets.gen.dart
Owners: @minikin

feat: Add `BrandAssets` theme extention to have brand related assets available.
  catalyst_voices/packages/catalyst_voices_brands/lib/src/theme_extensions/brand_assets.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/theme_extensions/voices_color_scheme.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/fallback.dart
Owners: @minikin

test: Add tests for `BrandAssets`.
  catalyst_voices/packages/catalyst_voices_brands/test/src/catalyst_voices_brands_test.dart
Owners: @minikin

fix: change patch to delete
  catalyst-gateway/tests/api_tests/api_tests/hooks.py
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: Remove `uses-material-design` option.
  catalyst_voices/packages/catalyst_voices_assets/pubspec.yaml
Owners: @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
