Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

refactor: update schema_validation check (#414)
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/event_db/error.rs
  catalyst-gateway/bin/src/event_db/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/date_time_to_slot_number_get.rs
  catalyst-gateway/bin/src/service/api/cardano/registration_get.rs
  catalyst-gateway/bin/src/service/api/cardano/staked_ada_get.rs
  catalyst-gateway/bin/src/service/api/cardano/sync_state_get.rs
  catalyst-gateway/bin/src/service/api/health/ready_get.rs
  catalyst-gateway/bin/src/service/mod.rs
  catalyst-gateway/bin/src/service/utilities/middleware/schema_validation.rs
  catalyst-gateway/bin/src/state/mod.rs
  catalyst-gateway/tests/api_tests/api_tests/__init__.py
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

update MismatchedSchema and NoDatabaseUrl error handling
  catalyst-gateway/bin/src/event_db/error.rs
  catalyst-gateway/bin/src/event_db/mod.rs
  catalyst-gateway/bin/src/event_db/schema_check.rs
  catalyst-gateway/bin/src/service/api/health/ready_get.rs
  catalyst-gateway/bin/src/state/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

update get_follower_config error handling
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/event_db/config.rs
  catalyst-gateway/bin/src/event_db/error.rs
  catalyst-gateway/bin/src/follower.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

update follower queries error handling
  catalyst-gateway/bin/src/event_db/error.rs
  catalyst-gateway/bin/src/event_db/follower/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix
  catalyst-gateway/bin/src/event_db/legacy/queries/event/ballot.rs
  catalyst-gateway/bin/src/service/api/cardano/date_time_to_slot_number_get.rs
  catalyst-gateway/bin/src/service/api/cardano/sync_state_get.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

update legacy queries
  catalyst-gateway/bin/src/event_db/legacy/queries/event/objective.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/proposal.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/review.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/registration.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/search.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/vit_ss/fund.rs
  catalyst-gateway/bin/src/event_db/mod.rs
  catalyst-gateway/bin/src/event_db/utxo.rs
  catalyst-gateway/bin/src/event_db/voter_registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

update utxo queries error handling
  catalyst-gateway/bin/src/event_db/utxo.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix
  catalyst-gateway/bin/src/event_db/error.rs
  catalyst-gateway/bin/src/service/api/cardano/staked_ada_get.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/bin/src/event_db/error.rs
  catalyst-gateway/bin/src/event_db/follower/mod.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/mod.rs
  catalyst-gateway/bin/src/event_db/voter_registration/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/registration_get.rs
  catalyst-gateway/bin/src/service/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

remove service error type
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/service/mod.rs
  catalyst-gateway/bin/src/service/poem_service.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

update registration error handling
  catalyst-gateway/bin/src/main.rs
  catalyst-gateway/bin/src/registration/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/bin/src/service/api/cardano/date_time_to_slot_number_get.rs
  catalyst-gateway/bin/src/service/api/cardano/registration_get.rs
  catalyst-gateway/bin/src/service/api/cardano/staked_ada_get.rs
  catalyst-gateway/bin/src/service/api/cardano/sync_state_get.rs
  catalyst-gateway/bin/src/service/api/health/ready_get.rs
  catalyst-gateway/bin/src/service/common/responses/resp_5xx.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/event_db/config.rs
  catalyst-gateway/bin/src/event_db/error.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: adds browser install for arm64
  catalyst_voices/Earthfile
  catalyst_voices/test_driver/scripts/install-chrome-linux64.sh
  catalyst_voices/test_driver/scripts/install-edge-linux64.sh
  catalyst_voices/test_driver/scripts/install-firefox-linux64.sh
Owners: @minikin

fix: if cond
  catalyst_voices/test_driver/scripts/install-chrome-linux64.sh
  catalyst_voices/test_driver/scripts/install-edge-linux64.sh
  catalyst_voices/test_driver/scripts/install-firefox-linux64.sh
Owners: @minikin

refactor: Update error handling in `cat-gateway` (#425)
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/event_db/config.rs
  catalyst-gateway/bin/src/event_db/error.rs
  catalyst-gateway/bin/src/event_db/follower/mod.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/ballot.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/mod.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/objective.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/proposal.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/review.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/registration.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/search.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/vit_ss/fund.rs
  catalyst-gateway/bin/src/event_db/mod.rs
  catalyst-gateway/bin/src/event_db/schema_check.rs
  catalyst-gateway/bin/src/event_db/utxo.rs
  catalyst-gateway/bin/src/event_db/voter_registration/mod.rs
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/bin/src/main.rs
  catalyst-gateway/bin/src/registration/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/date_time_to_slot_number_get.rs
  catalyst-gateway/bin/src/service/api/cardano/registration_get.rs
  catalyst-gateway/bin/src/service/api/cardano/staked_ada_get.rs
  catalyst-gateway/bin/src/service/api/cardano/sync_state_get.rs
  catalyst-gateway/bin/src/service/api/health/ready_get.rs
  catalyst-gateway/bin/src/service/common/responses/resp_5xx.rs
  catalyst-gateway/bin/src/service/mod.rs
  catalyst-gateway/bin/src/service/poem_service.rs
  catalyst-gateway/bin/src/state/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: updates scripts
  catalyst_voices/test_driver/scripts/install-chrome-linux64.sh
  catalyst_voices/test_driver/scripts/install-edge-linux64.sh
  catalyst_voices/test_driver/scripts/install-firefox-linux64.sh
Owners: @minikin

fix: cspell
  .config/dictionaries/project.dic
Owners: none

feat: dont test for edge on arm
  catalyst_voices/test_driver/Earthfile
Owners: @minikin

move db queries under cardano module
  catalyst-gateway/bin/src/event_db/cardano/config/mod.rs
  catalyst-gateway/bin/src/event_db/cardano/config/select_config.sql
  catalyst-gateway/bin/src/event_db/cardano/follower/insert_slot_index.sql
  catalyst-gateway/bin/src/event_db/cardano/follower/insert_update_state.sql
  catalyst-gateway/bin/src/event_db/cardano/follower/mod.rs
  catalyst-gateway/bin/src/event_db/cardano/follower/select_slot_info_by_datetime.sql.hbs
  catalyst-gateway/bin/src/event_db/cardano/follower/select_update_state.sql
  catalyst-gateway/bin/src/event_db/cardano/mod.rs
  catalyst-gateway/bin/src/event_db/cardano/utxo/insert_txn_index.sql
  catalyst-gateway/bin/src/event_db/cardano/utxo/insert_utxo.sql
  catalyst-gateway/bin/src/event_db/cardano/utxo/mod.rs
  catalyst-gateway/bin/src/event_db/cardano/utxo/select_total_utxo_amount.sql
  catalyst-gateway/bin/src/event_db/cardano/utxo/update_utxo.sql
  catalyst-gateway/bin/src/event_db/cardano/voter_registration/insert_voter_registration.sql
  catalyst-gateway/bin/src/event_db/cardano/voter_registration/mod.rs
  catalyst-gateway/bin/src/event_db/cardano/voter_registration/select_voter_registration.sql
  catalyst-gateway/bin/src/event_db/mod.rs
  catalyst-gateway/bin/src/follower.rs
  catalyst-gateway/bin/src/service/api/cardano/date_time_to_slot_number_get.rs
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/registration_get.rs
  catalyst-gateway/bin/src/service/api/cardano/staked_ada_get.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/hash.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/registration_info.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/slot_info.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/stake_info.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/sync_state.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

wip
  catalyst-gateway/bin/src/event_db/cardano/config/mod.rs
  catalyst-gateway/bin/src/event_db/cardano/utxo/mod.rs
  catalyst-gateway/bin/src/event_db/schema_check/mod.rs
  catalyst-gateway/bin/src/event_db/schema_check/select_max_version.sql
  catalyst-gateway/event-db/queries/config/select_config.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: browser installers (#428)
  .config/dictionaries/project.dic
  catalyst_voices/Earthfile
  catalyst_voices/test_driver/Earthfile
  catalyst_voices/test_driver/scripts/install-chrome-linux64.sh
  catalyst_voices/test_driver/scripts/install-edge-linux64.sh
  catalyst_voices/test_driver/scripts/install-firefox-linux64.sh
Owners: @minikin

feat: Add brands to store brand-related ThemeData.
  catalyst_voices/packages/catalyst_voices_models/lib/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/brands.dart
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
Owners: @minikin

feat: Add BrandBloc to manage brand state.
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/brand/brand.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/brand/brand_bloc.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/brand/brand_event.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/brand/brand_state.dart
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
Owners: @minikin

test: Add tests for BrandBloc.
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_blocs/test/src/brand_test.dart
Owners: @minikin

test: Improve test description.
  catalyst_voices/packages/catalyst_voices_blocs/test/src/brand_test.dart
Owners: @minikin

move under the cardano mod
  catalyst-gateway/bin/src/cardano/mod.rs
  catalyst-gateway/bin/src/cardano/registration/61284.cddl
  catalyst-gateway/bin/src/cardano/registration/61285.cddl
  catalyst-gateway/bin/src/cardano/registration/cip36.cddl
  catalyst-gateway/bin/src/cardano/registration/mod.rs
  catalyst-gateway/bin/src/cardano/util.rs
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/event_db/cardano/utxo/mod.rs
  catalyst-gateway/bin/src/event_db/cardano/voter_registration/mod.rs
  catalyst-gateway/bin/src/main.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor
  catalyst-gateway/bin/src/cardano/mod.rs
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/settings.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix deny
  catalyst-gateway/Cargo.lock
  catalyst-gateway/Cargo.toml
  catalyst-gateway/bin/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: rename test report target
  .github/workflows/generate-allure-report.yml
Owners: none

fix
  catalyst-gateway/event-db/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: rename test report target (#433)
  .github/workflows/generate-allure-report.yml
Owners: none

chore: Use proper doc syntax.
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/brand/brand_bloc.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/brands.dart
Owners: @minikin

chore: melos bootstrap
  .gitignore
  catalyst_voices/packages/catalyst_voices_assets/example/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_assets/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_localization/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_repositories/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_view_models/pubspec.yaml
  catalyst_voices/pubspec.yaml
  catalyst_voices_packages/catalyst_analysis/example/pubspec.yaml
  catalyst_voices_packages/catalyst_analysis/pubspec.yaml
  utilities/catalyst_voices_remote_widgets/pubspec.yaml
Owners: @minikin, @stevenj

chore: melos bootstrap (#436)
  .gitignore
  catalyst_voices/packages/catalyst_voices_assets/example/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_assets/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_localization/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_repositories/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_view_models/pubspec.yaml
  catalyst_voices/pubspec.yaml
  catalyst_voices_packages/catalyst_analysis/example/pubspec.yaml
  catalyst_voices_packages/catalyst_analysis/pubspec.yaml
  utilities/catalyst_voices_remote_widgets/pubspec.yaml
Owners: @minikin, @stevenj

update cat-gateway packaging
  catalyst-gateway/Earthfile
  catalyst-gateway/README.md
  catalyst-gateway/docker-compose.yml
  catalyst-gateway/event-db/Readme.md
  catalyst-gateway/event-db/docker-compose.yml
  catalyst-gateway/scripts/entry.sh
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst-gateway/tests/schemathesis-docker-compose.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix
  catalyst-gateway/Earthfile
  catalyst-gateway/README.md
  catalyst-gateway/tests/api_tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix
  catalyst-gateway/README.md
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin
