Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(barebones): scylla queries
  catalyst-gateway/bin/src/db/index/queries/cql/get_latest_registration_w_stake_addr.cql
  catalyst-gateway/bin/src/db/index/queries/registrations/get_latest_registration_w_stake_addr.rs
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/registration_get.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(barebones): scylla queries
  catalyst-gateway/bin/src/service/api/cardano/cip36.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor: move SeedPhraseState fields to the top of class
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/seed_phrase_state.dart
Owners: @minikin

refactor: use hash of mnemonic in toString
  catalyst_voices/packages/catalyst_voices_models/lib/src/seed_phrase.dart
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_models/test/seed_phrase_test.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/lock_factor.dart
Owners: @minikin

update Homomorphic Tally section
  docs/src/architecture/08_concepts/voting_transaction/crypto.md
Owners: none

refactor: Migrate Registration from Bloc to Cubit
  catalyst_voices/lib/dependency/dependencies.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/instructions_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/splash_panel.dart
  catalyst_voices/lib/pages/registration/get_started/get_started_panel.dart
  catalyst_voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/intro/intro_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/rbac_transaction/rbac_transaction_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/roles_chooser/roles_chooser_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/roles_summary/roles_summary_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/select_wallet/select_wallet_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/wallet_details/wallet_details_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/controllers/keychain_creation_controller.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/controllers/wallet_link_controller.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/keychain_creation_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/wallet_link_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_bloc.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_event.dart
Owners: @minikin

chore(ci): add playwright function to Earthfile (#896)
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/Earthfile
Owners: @minikin, @stevenj

refactor: cubit properties moved to state only
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_panel.dart
  catalyst_voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/lib/pages/registration/wallet_link/wallet_link_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/keychain_creation_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/wallet_link_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_state.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/seed_phrase_state.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/wallet_link_state_data.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/optional.dart
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_models/test/optional_test.dart
Owners: @minikin

feat: My account, modals, return value from dialog instead of passing a callback
  catalyst_voices/lib/pages/account/account_page.dart
  catalyst_voices/lib/pages/account/delete_keychain_dialog.dart
Owners: @minikin

feat(cat-voices): My account, modals (#894)
  .config/dictionaries/project.dic
  catalyst_voices/lib/pages/account/account_page.dart
  catalyst_voices/lib/pages/account/delete_keychain_dialog.dart
  catalyst_voices/lib/pages/account/keychain_deleted_dialog.dart
  catalyst_voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/lib/widgets/buttons/voices_filled_button.dart
  catalyst_voices/lib/widgets/modals/voices_desktop_dialog.dart
  catalyst_voices/lib/widgets/modals/voices_info_dialog.dart
  catalyst_voices/lib/widgets/text_field/voices_text_field.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

refactor: formatting
  catalyst_voices/lib/pages/account/delete_keychain_dialog.dart
Owners: @minikin

feat: animated linear progress
  catalyst_voices/lib/pages/registration/information_panel.dart
  catalyst_voices/lib/widgets/indicators/voices_linear_progress_indicator.dart
Owners: @minikin

feat: Remove flutter_quill dependency from catalyst_voices_models
  catalyst_voices/lib/pages/account/delete_keychain_dialog.dart
  catalyst_voices/lib/pages/workspace/proposal_details.dart
  catalyst_voices/lib/pages/workspace/workspace_page.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/workspace/workspace_proposal_segment_step.dart
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
Owners: @minikin

refactor: select wallet
  catalyst_voices/lib/pages/registration/wallet_link/select_wallet/select_wallet_panel.dart
  catalyst_voices/macos/Flutter/GeneratedPluginRegistrant.swift
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/wallet_link_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/wallet_link_state_data.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/wallet/cardano_wallet_details.dart
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
Owners: @minikin

feat: Remove flutter_quill dependency from catalyst_voices_models, uses-material-design: true
  catalyst_voices/packages/catalyst_voices_brands/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_repositories/pubspec.yaml
Owners: @minikin

feat: animated linear progress (#903)
  catalyst_voices/lib/pages/registration/information_panel.dart
  catalyst_voices/lib/widgets/indicators/voices_linear_progress_indicator.dart
Owners: @minikin

feat(latest registration endpoints): given stake addr and stake key hash
  catalyst-gateway/bin/src/service/api/cardano/cip36.rs
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(latest registration endpoints): given stake addr and stake key hash
  catalyst-gateway/bin/src/service/api/health/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(latest registration endpoints): given stake addr and stake key hash
  catalyst-gateway/bin/src/service/api/health/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(latest registration endpoints): given stake addr and stake key hash
  catalyst-gateway/bin/src/service/api/health/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(latest registration endpoints): given stake addr and stake key hash
  catalyst-gateway/bin/src/db/index/queries/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add wallet address formatter
  catalyst_voices/lib/pages/account/account_popup.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/formatter/wallet_address_formatter.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/formatter/wallet_address_formatter_test.dart
Owners: @minikin

refactor: restructure panels
  catalyst_voices/lib/pages/registration/wallet_link/stage/intro_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/rbac_transaction_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/roles_chooser_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/roles_summary_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/select_wallet_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/wallet_details_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/wallet_details/wallet_details_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/wallet_link_panel.dart
  catalyst_voices/lib/widgets/menu/voices_wallet_tile.dart
Owners: @minikin

feat: implement wallet details
  catalyst_voices/lib/pages/registration/wallet_link/stage/wallet_details_panel.dart
  catalyst_voices/lib/widgets/menu/voices_wallet_tile.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

feat: add loading animation
  catalyst_voices/lib/pages/registration/wallet_link/stage/select_wallet_panel.dart
  catalyst_voices/lib/widgets/menu/voices_wallet_tile.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
Owners: @minikin

chore: revert unintended changes
  catalyst_voices/macos/Flutter/GeneratedPluginRegistrant.swift
Owners: @minikin

chore: revert
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
Owners: @minikin

chore: cleanup
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/wallet_link_state_data.dart
Owners: @minikin

chore: cleanup
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
Owners: @minikin

feat: Remove flutter_quill dependency from catalyst_voices_models, add rich_text_json_data.dart wrapper
  catalyst_voices/lib/pages/workspace/proposal_details.dart
  catalyst_voices/lib/pages/workspace/workspace_page.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/rich_text_json_data.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/workspace/workspace_proposal_segment_step.dart
Owners: @minikin

feat: Remove flutter_quill dependency from catalyst_voices_models, rename to documentJson
  catalyst_voices/lib/pages/workspace/proposal_details.dart
  catalyst_voices/lib/pages/workspace/workspace_page.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/document_json.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/rich_text_json_data.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/workspace/workspace_proposal_segment_step.dart
Owners: @minikin

feat: Remove flutter_quill dependency from catalyst_voices_models, move to package document
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/document/document_json.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/workspace/workspace_proposal_segment_step.dart
Owners: @minikin

feat: Remove flutter_quill dependency from catalyst_voices_models, fix lint
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
Owners: @minikin

feat: seed phrase download
  catalyst_voices/lib/dependency/dependencies.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/keychain_creation_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/catalyst_voices_services.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/downloader/downloader.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/downloader/io_downloader.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/downloader/web_downloader.dart
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
Owners: @minikin

chore: update seed_phrase filename
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/keychain_creation_cubit.dart
Owners: @minikin

feat: Remove flutter_quill dependency from catalyst_voices_models (#904)
  catalyst_voices/lib/pages/workspace/proposal_details.dart
  catalyst_voices/lib/pages/workspace/workspace_page.dart
  catalyst_voices/packages/catalyst_voices_brands/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/document/document_json.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/workspace/workspace_proposal_segment_step.dart
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_repositories/pubspec.yaml
Owners: @minikin

feat(cat-voices): wallet link details (#905)
  catalyst_voices/lib/pages/account/account_popup.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/intro_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/rbac_transaction_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/roles_chooser_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/roles_summary_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/select_wallet_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/wallet_details_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/wallet_details/wallet_details_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/wallet_link_panel.dart
  catalyst_voices/lib/widgets/menu/voices_wallet_tile.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/wallet_link_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/wallet_link_state_data.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/wallet/cardano_wallet_details.dart
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/formatter/wallet_address_formatter.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/formatter/wallet_address_formatter_test.dart
Owners: @minikin

fix: downloader stub to fix tests
  catalyst_voices/packages/catalyst_voices_services/lib/src/downloader/downloader.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/downloader/downloader_stub.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/downloader/io_downloader.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/downloader/web_downloader.dart
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
Owners: @minikin

feat: add not enough balance state to wallet link
  catalyst_voices/lib/pages/registration/wallet_link/stage/wallet_details_panel.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/wallet/cardano_wallet_details.dart
Owners: @minikin

fix: logger
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/wallet_link_cubit.dart
Owners: @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin
