Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

feat: unique calling ids
  catalyst_voices_packages/catalyst_compression/catalyst_compression/README.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/assets/js/catalyst_compression.js
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/assets/js/catalyst_compression_worker.js
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/lib/src/interop/catalyst_compression_interop.dart
Owners: @minikin, @stevenj

fix: enable escaping arb special characters
  catalyst_voices/packages/catalyst_voices_localization/l10n.yaml
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

chore: interop
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/lib/src/interop/catalyst_compression_interop.dart
Owners: @minikin, @stevenj

chore: use relax-syntax to not require espacing quotes each time
  catalyst_voices/packages/catalyst_voices_localization/l10n.yaml
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

fix: asset loading path
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/assets/js/catalyst_compression.js
Owners: @minikin, @stevenj

chore: worker initial message event
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/assets/js/catalyst_compression.js
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/assets/js/catalyst_compression_worker.js
Owners: @minikin, @stevenj

refactor: compression web
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/assets/js/catalyst_compression.js
Owners: @minikin, @stevenj

fix: frontend default and json schema
  catalyst-gateway/bin/src/db/event/config/default/frontend.json
  catalyst-gateway/bin/src/db/event/config/jsonschema/frontend.json
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: error handling
  catalyst-gateway/bin/src/db/event/config/key.rs
  catalyst-gateway/bin/src/db/event/config/mod.rs
  catalyst-gateway/bin/src/service/api/config/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: cat-gateway api code gen
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.g.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.chopper.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.dart
Owners: @minikin

fix: openapi lint
  catalyst-gateway/bin/src/service/api/config/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: complete calling function
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/assets/js/catalyst_compression.js
Owners: @minikin, @stevenj

fix: Use Pbkdf2 instead of Argon2id key derivation algorithm
  .config/dictionaries/project.dic
  catalyst_voices/packages/catalyst_voices_services/lib/src/crypto/vault_crypto_service.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/crypto/vault_crypto_service_test.dart
Owners: @minikin

docs: improve docs for CryptoService, VaultCryptoService and Keychain
  catalyst_voices/packages/catalyst_voices_services/lib/src/crypto/crypto_service.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/crypto/vault_crypto_service.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/keychain/keychain.dart
Owners: @minikin

fix(cat-voices): escape special characters in arb (#1015)
  catalyst_voices/packages/catalyst_voices_localization/l10n.yaml
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Owners: @minikin

add forge setup step
  .github/workflows/ci.yml
  .github/workflows/generate-allure-report.yml
Owners: none

fix: open api doc page display
  catalyst-gateway/bin/src/service/docs/stoplight_elements/mod.rs
  docs/src/api/cat-gateway/openapi.md
  docs/src/api/cat-gateway/stoplight_template.html
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: frontend json schema
  catalyst-gateway/bin/src/db/event/config/jsonschema/frontend.json
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

try 1
  .github/workflows/ci.yml
Owners: none

try 2
  .github/workflows/ci.yml
Owners: none

fix: error handling
  catalyst-gateway/bin/src/db/event/config/key.rs
  catalyst-gateway/bin/src/service/api/config/mod.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

docs(docs): Add ADR on structured logging.
  docs/src/architecture/09_architecture_decisions/0008-structured-logging.md
Owners: none

fix: cat-gateway api code gen
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.g.dart
Owners: @minikin

try 3
  .github/workflows/ci.yml
  .github/workflows/generate-allure-report.yml
Owners: none

try 4
  .github/workflows/generate-allure-report.yml
Owners: none

add forge install
  .github/workflows/generate-allure-report.yml
Owners: none

Update catalyst_voices/packages/catalyst_voices_models/lib/src/errors/crypto_exception.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/errors/crypto_exception.dart
Owners: @minikin

fix: missing props in exceptions
  catalyst_voices/packages/catalyst_voices_models/lib/src/errors/crypto_exception.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/errors/vault_exception.dart
Owners: @minikin

cleanup
  .github/workflows/ci.yml
  .github/workflows/generate-allure-report.yml
Owners: none

remove running allure after ci until allure flow changes are in main
  .github/workflows/ci.yml
Owners: none

docs: CryptoService and KeyDerivation connection
  catalyst_voices/packages/catalyst_voices_services/lib/src/crypto/crypto_service.dart
Owners: @minikin

feat: Upload SeedPhrase - fix index
  catalyst_voices/lib/pages/registration/show_upload_confirmation_dialog.dart
Owners: @minikin

remove local running option
  .github/workflows/generate-allure-report.yml
Owners: none

feat(cat-voices): add result builder with delayed loading
  catalyst_voices/lib/pages/registration/wallet_link/stage/select_wallet_panel.dart
  catalyst_voices/lib/widgets/common/infrastructure/voices_result_builder.dart
  catalyst_voices/test/widgets/common/infrastructure/voices_result_builder_test.dart
Owners: @minikin

style: reformat
  catalyst_voices/lib/pages/registration/wallet_link/stage/select_wallet_panel.dart
Owners: @minikin

feat: Upload SeedPhrase - fix recovery flow
  catalyst_voices/lib/pages/registration/recover/seed_phrase/seed_phrase_input_panel.dart
  catalyst_voices/lib/widgets/text_field/seed_phrase_field.dart
Owners: @minikin

remove unused vars
  .github/workflows/generate-allure-report.yml
Owners: none

fix: remove id
  catalyst-gateway/bin/src/db/event/config/jsonschema/frontend.json
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

chore: drop unused min delay
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/wallet_link_cubit.dart
Owners: @minikin

fix: worker loading path
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/assets/js/catalyst_compression.js
Owners: @minikin, @stevenj
