Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

fix lints
  docs/src/architecture/08_concepts/voting_transaction/crypto.md
Owners: none

wip
  docs/src/architecture/08_concepts/voting_transaction/crypto.md
Owners: none

fix spelling
  docs/src/architecture/08_concepts/voting_transaction/crypto.md
Owners: none

refactor: rename builder function
  catalyst_voices/lib/pages/treasury/campaign_segment_controller.dart
Owners: @minikin

feat: voices treasury space (#782)
  catalyst_voices/lib/app/view/app_content.dart
  catalyst_voices/lib/pages/spaces/individual_private_campaigns.dart
  catalyst_voices/lib/pages/spaces/spaces_drawer.dart
  catalyst_voices/lib/pages/spaces/spaces_shell_page.dart
  catalyst_voices/lib/pages/treasury/campaign_builder_panel.dart
  catalyst_voices/lib/pages/treasury/campaign_comments_panel.dart
  catalyst_voices/lib/pages/treasury/campaign_details.dart
  catalyst_voices/lib/pages/treasury/campaign_segment_controller.dart
  catalyst_voices/lib/pages/treasury/treasury_campaign_builder_ext.dart
  catalyst_voices/lib/pages/treasury/treasury_page.dart
  catalyst_voices/lib/widgets/avatars/space_avatar.dart
  catalyst_voices/lib/widgets/drawer/voices_drawer_space_chooser.dart
  catalyst_voices/lib/widgets/menu/voices_node_menu.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/treasury/treasury_campaign_builder.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/treasury/treasury_campaign_segment.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/treasury/treasury_campaign_segment_step.dart
  catalyst_voices/uikit_example/lib/examples/treasury_space/campaign_builder_panel.dart
  catalyst_voices/uikit_example/lib/examples/treasury_space/campaign_details.dart
  catalyst_voices/uikit_example/lib/examples/treasury_space/voices_treasury_drawer.dart
  catalyst_voices/uikit_example/lib/examples/treasury_space/voices_treasury_space.dart
  catalyst_voices/uikit_example/lib/examples/voices_menu_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Owners: @minikin

feat: update cardano catalyst testplan (#764)
  .config/dictionaries/project.dic
  docs/src/architecture/10_quality/testplans/flutter_cardano_integration.md
Owners: none

feat: LoggingManager implementation
  catalyst_voices/lib/configs/app_bloc_observer.dart
  catalyst_voices/lib/configs/bootstrap.dart
  catalyst_voices/lib/dependency/dependencies.dart
  catalyst_voices/lib/routes/app_router.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/logging/logging_manager.dart
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
  melos.yaml
Owners: @minikin

improove
  docs/src/architecture/08_concepts/voting_transaction/crypto.md
Owners: none

fix: spaces dark theme colors adjustments
  catalyst_voices/lib/pages/treasury/campaign_details.dart
  catalyst_voices/lib/widgets/containers/space_side_panel.dart
  catalyst_voices/lib/widgets/containers/workspace_tile_container.dart
  catalyst_voices/lib/widgets/headers/segment_header.dart
  catalyst_voices/packages/catalyst_voices_assets/assets/colors/colors.xml
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/assets.gen.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/colors.gen.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/theme_extensions/voices_color_scheme.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
Owners: @minikin

fix: SimpleTreeView colors
  catalyst_voices/lib/widgets/common/simple_tree_view.dart
Owners: @minikin

refactor: SegmentHeader colors
  catalyst_voices/lib/widgets/headers/segment_header.dart
Owners: @minikin

fix: WorkspaceTileContainer shadow color
  catalyst_voices/lib/widgets/containers/workspace_tile_container.dart
Owners: @minikin

fix: typo
  catalyst_voices/lib/configs/bootstrap.dart
Owners: @minikin

refactor: rename LoggingManager to LoggingService
  catalyst_voices/lib/configs/bootstrap.dart
  catalyst_voices/lib/dependency/dependencies.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/logging/logging_service.dart
Owners: @minikin

ci(ci): Bump all earthfiles to latest WIP cat-ci branch
  Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(frontend-pkg): Ignore .dart_tool directory in frontend files checking markdown
  .markdownlint-cli2.jsonc
Owners: none

fix(ci): Fix spelling
  .markdownlint.jsonc
Owners: none

fix(spelling): Add more project words and properly sort list
  .config/dictionaries/project.dic
Owners: none

fix(backend): Sync rust configs and add target to make it easier in future
  catalyst-gateway/.cargo/config.toml
  catalyst-gateway/.config/nextest.toml
  catalyst-gateway/Earthfile
  catalyst-gateway/clippy.toml
  catalyst-gateway/deny.toml
  catalyst-gateway/rust-toolchain.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(backend): Enable all features of Scylla for now.
  catalyst-gateway/bin/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(frontend-pkg): Fix markdown table having too many columns
  catalyst_voices_packages/README.md
Owners: @minikin, @stevenj

ci(spelling): Fix spelling issues
  utilities/local-scylla/node1-scylla.yaml
  utilities/local-scylla/node2-scylla.yaml
  utilities/local-scylla/node3-scylla.yaml
  utilities/local-scylla/node4-scylla.yaml
  utilities/wallet-tester/src/common/components/TxBuilder.tsx
  utilities/wallet-tester/src/common/helpers/buildUnsignedTx.ts
Owners: none

fix(docs): Bump docs to latest WIP cat-ci version
  docs/Earthfile
Owners: none

feat(gateway): Add low resource scylla db instance for local testing
  utilities/local-scylla/justfile
Owners: none

feat(gateway): Add and update developer convenience functions for backend
  catalyst-gateway/Justfile
  justfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(backend): Fix code format
  catalyst-gateway/bin/src/cardano/util.rs
  catalyst-gateway/bin/src/db/index/index_certs.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix(backend): Fix spelling issues in CQL files
  catalyst-gateway/bin/src/db/index/schema/stake_registration.cql
  catalyst-gateway/bin/src/db/index/schema/txi_by_txn_hash_table.cql
  catalyst-gateway/bin/src/db/index/schema/txo_assets_by_stake_table.cql
  catalyst-gateway/bin/src/db/index/schema/txo_by_stake_table.cql
  catalyst-gateway/bin/src/db/index/schema/unstaked_txo_assets_by_txn_hash.cql
  catalyst-gateway/bin/src/db/index/schema/unstaked_txo_by_txn_hash.cql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

refactor: make LoggingService global and initialized as first in bootstrap
  catalyst_voices/lib/configs/bootstrap.dart
  catalyst_voices/lib/dependency/dependencies.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/logging/logging_service.dart
Owners: @minikin

fix: typo
  catalyst_voices/lib/routes/app_router.dart
Owners: @minikin

fix(spelling): Remove duplicates from the project words dictionary
  .config/dictionaries/project.dic
Owners: none

fix(backend): Get the backend building properly with earthly.
  catalyst-gateway/Cargo.toml
  catalyst-gateway/Earthfile
  catalyst-gateway/Justfile
  catalyst-gateway/bin/Cargo.toml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: add wallet-automation (#629)
  .config/dictionaries/project.dic
  .github/workflows/nightly-ci.yml
  .gitignore
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/.gitignore
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/main.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/compose.yml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/global-setup.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/keys.txt
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/package-lock.json
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/package.json
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/playwright.config.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/utils.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/wallet-tests.spec.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/lib/src/cardano_wallet.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_interop.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_wallet_proxy.dart
Owners: @minikin, @stevenj

feat: initial widget
  catalyst_voices/lib/widgets/indicators/voices_no_internet_connection_banner.dart
Owners: @minikin

fix: tabs indicator + remove shadow from workspaceTile
  catalyst_voices/lib/widgets/containers/workspace_tile_container.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
Owners: @minikin

refactor: make states Set private
  catalyst_voices/lib/widgets/headers/segment_header.dart
Owners: @minikin

feat: Workspace - initial commit
  catalyst_voices/lib/pages/workspace/proposal_details.dart
  catalyst_voices/lib/pages/workspace/proposal_navigation_panel.dart
  catalyst_voices/lib/pages/workspace/proposal_segment_controller.dart
  catalyst_voices/lib/pages/workspace/proposal_setup_panel.dart
  catalyst_voices/lib/pages/workspace/workspace_page.dart
  catalyst_voices/lib/pages/workspace/workspace_proposal_navigation_ext.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/workspace/workspace_proposal_navigation.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/workspace/workspace_proposal_segment.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/workspace/workspace_proposal_segment_step.dart
Owners: @minikin

fix: spaces dark mode colors (#789)
  catalyst_voices/lib/pages/treasury/campaign_details.dart
  catalyst_voices/lib/widgets/common/simple_tree_view.dart
  catalyst_voices/lib/widgets/containers/space_side_panel.dart
  catalyst_voices/lib/widgets/containers/workspace_tile_container.dart
  catalyst_voices/lib/widgets/headers/segment_header.dart
  catalyst_voices/packages/catalyst_voices_assets/assets/colors/colors.xml
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/assets.gen.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/colors.gen.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/theme_extensions/voices_color_scheme.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
Owners: @minikin

chore: typos
  catalyst_voices/lib/configs/bootstrap.dart
Owners: @minikin

fix: jumping images in favorite proposals
  catalyst_voices/lib/pages/voting/voting_page.dart
Owners: @minikin

feat: Workspace - simplify WorkspaceProposalSegmentStep model
  catalyst_voices/lib/pages/workspace/proposal_details.dart
  catalyst_voices/lib/pages/workspace/proposal_navigation_panel.dart
  catalyst_voices/lib/pages/workspace/workspace_page.dart
  catalyst_voices/lib/pages/workspace/workspace_proposal_navigation_ext.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/workspace/workspace_proposal_segment_step.dart
Owners: @minikin
