Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

feat: adds fuzzer api
  .config/dictionaries/project.dic
  .github/workflows/generate-allure-report.yml
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: report name
  catalyst-gateway/tests/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: adds --allow-privileged
  .github/workflows/generate-allure-report.yml
Owners: none

wip
  catalyst_voices/lib/pages/home/README.md
  catalyst_voices/lib/pages/home/catalyst_core.dart
  catalyst_voices/lib/pages/home/home_page.dart
  catalyst_voices/lib/pages/home/home_page.rfwtxt
  catalyst_voices/lib/pages/home/main.dart
  catalyst_voices/lib/pages/home/network.dart
  catalyst_voices/lib/pages/home/server/.gitignore
  catalyst_voices/lib/pages/home/server/.vscode/extensions.json
  catalyst_voices/lib/pages/home/server/README.md
  catalyst_voices/lib/pages/home/server/pubspec.yaml
  catalyst_voices/lib/pages/home/server/routes/home_page.rfw
  catalyst_voices/lib/pages/home/server/routes/index.dart
  catalyst_voices/lib/routes/home_page_route.dart
  catalyst_voices/pubspec.yaml
Owners: @minikin

update flutter to 3.19.2
  catalyst_voices/packages/catalyst_voices_assets/example/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_assets/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_localization/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_remote_widgets/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_repositories/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_view_models/pubspec.yaml
  catalyst_voices/pubspec.yaml
  melos.yaml
Owners: @minikin

wip
  catalyst_voices/lib/pages/home/network.dart
  catalyst_voices/lib/pages/home/server/public/home_page.rfw
  catalyst_voices/lib/pages/home/server/routes/index.dart
  catalyst_voices/macos/Runner/DebugProfile.entitlements
Owners: @minikin

Update network.dart
  catalyst_voices/lib/pages/home/network.dart
Owners: @minikin

wip
  catalyst_voices/lib/pages/home/home_page.rfw
  catalyst_voices/lib/pages/home/home_page.rfwtxt
  catalyst_voices/lib/pages/home/main.dart
  catalyst_voices/lib/pages/home/network.dart
  catalyst_voices/lib/pages/home/server/.gitignore
  catalyst_voices/lib/pages/home/server/.vscode/extensions.json
  catalyst_voices/lib/pages/home/server/README.md
  catalyst_voices/lib/pages/home/server/public/home_page.rfw
  catalyst_voices/lib/pages/home/server/pubspec.yaml
  catalyst_voices/lib/pages/home/server/routes/index.dart
Owners: @minikin

test: add failures
  .github/workflows/generate-allure-report.yml
  catalyst-gateway/bin/src/service/api/health/ready_get.rs
  catalyst-gateway/bin/src/settings.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: split test reporting steps in different jobs
  .github/workflows/generate-allure-report.yml
Owners: none

fix: adds always to upload steps
  .github/workflows/generate-allure-report.yml
Owners: none

test run
  .github/workflows/generate-allure-report.yml
Owners: none

test run
  .github/workflows/generate-allure-report.yml
Owners: none

test run
  .github/workflows/generate-allure-report.yml
Owners: none

test run
  .github/workflows/generate-allure-report.yml
Owners: none

test: remove one job
  .github/workflows/generate-allure-report.yml
Owners: none

test run
  .github/workflows/generate-allure-report.yml
Owners: none

feat: add schemathesis step back
  .github/workflows/generate-allure-report.yml
Owners: none

fix: add always
  .github/workflows/generate-allure-report.yml
Owners: none

feat: remove test faliure
  catalyst-gateway/bin/src/settings.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

test run
  .github/workflows/generate-allure-report.yml
Owners: none

test run
  .github/workflows/generate-allure-report.yml
Owners: none

test run
  .github/workflows/generate-allure-report.yml
Owners: none

test run
  .github/workflows/generate-allure-report.yml
Owners: none

test run
  .github/workflows/generate-allure-report.yml
Owners: none

test run
  .github/workflows/generate-allure-report.yml
Owners: none

fix path
  .github/workflows/generate-allure-report.yml
Owners: none

feat: adds pattern for junit files
  .github/workflows/generate-allure-report.yml
Owners: none

feat: adds continue on error
  .github/workflows/generate-allure-report.yml
Owners: none

feat: search for wildcard
  .github/workflows/generate-allure-report.yml
Owners: none

feat: switch to globstar
  .github/workflows/generate-allure-report.yml
Owners: none

feat: adds file ext env var
  .github/workflows/generate-allure-report.yml
Owners: none

test run
  catalyst-gateway/bin/src/settings.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

clean up
  .github/workflows/generate-allure-report.yml
  catalyst-gateway/bin/src/event_db/follower.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/ballot.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/objective.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/proposal.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/review.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/registration.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/search.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/vit_ss/fund.rs
  catalyst-gateway/bin/src/service/api/health/ready_get.rs
  catalyst-gateway/bin/src/settings.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: fmt
  catalyst-gateway/bin/src/event_db/follower.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/ballot.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/objective.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/proposal.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/event/review.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/registration.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/search.rs
  catalyst-gateway/bin/src/event_db/legacy/queries/vit_ss/fund.rs
  catalyst-gateway/bin/src/settings.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

restore test failure
  catalyst-gateway/bin/src/service/api/health/ready_get.rs
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: clean up and fix deps errors
  .github/workflows/generate-allure-report.yml
  catalyst-gateway/Cargo.lock
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(docs): adds link to latest report
  docs/src/index.md
Owners: none

fix(docs): update text
  docs/src/index.md
Owners: none

fix: markdown
  docs/src/index.md
Owners: none
