Repository input-output-hk/catalyst-voices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

.github/CODEOWNERS:

/athena/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku

/catalyst_voices/ @minikin

/catalyst_voices_packages/ @minikin @stevenj

/catalyst-gateway/ @stevenj @Mr-Leshiy @FelipeRosa @cong-or @saibatizoku @minikin

.md  @stevenj @minikin

fix: revert version
  catalyst_voices/packages/catalyst_voices_localization/pubspec.yaml
Owners: @minikin

chore: refactor event-db queries to do batch inserts and updates (#463)
  catalyst-gateway/bin/src/cardano/mod.rs
  catalyst-gateway/bin/src/event_db/cardano/chain_state/insert_slot_index.sql
  catalyst-gateway/bin/src/event_db/cardano/chain_state/mod.rs
  catalyst-gateway/bin/src/event_db/cardano/cip36_registration/insert_cip36_registration.sql
  catalyst-gateway/bin/src/event_db/cardano/cip36_registration/mod.rs
  catalyst-gateway/bin/src/event_db/cardano/utxo/insert_txn_index.sql
  catalyst-gateway/bin/src/event_db/cardano/utxo/insert_utxo.sql
  catalyst-gateway/bin/src/event_db/cardano/utxo/mod.rs
  catalyst-gateway/bin/src/event_db/cardano/utxo/update_utxo.sql
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat(ci): Local Cluster base setup ready
  .config/dictionaries/project.dic
  catalyst-gateway/event-db/Earthfile
  utilities/local-cluster/Earthfile
  utilities/local-cluster/Readme.md
  utilities/local-cluster/Vagrantfile
  utilities/local-cluster/justfile
  utilities/local-cluster/shared/k3s/cassandra/k8c1.yml
  utilities/local-cluster/shared/k3s/grafana-prometheus/alert-manager-ingress.yaml
  utilities/local-cluster/shared/k3s/grafana-prometheus/grafana-ingress.yaml
  utilities/local-cluster/shared/k3s/grafana-prometheus/prometheus-ingress.yaml
  utilities/local-cluster/shared/k3s/grafana-prometheus/traefik-dashboard.yaml
  utilities/local-cluster/shared/k3s/grafana-prometheus/traefik-service-monitor.yaml
  utilities/local-cluster/shared/k3s/registry/registry-service.yaml
  utilities/local-cluster/shared/k3s/registry/registry-ui.yaml
  utilities/local-cluster/shared/k3s/scylladb/cluster.yaml
  utilities/local-cluster/shared/k3s/scylladb/load-balancer.yaml
  utilities/local-cluster/shared/k3s/scylladb/values.cluster.yaml
  utilities/local-cluster/shared/k3s/server/manifests/traefik-dashboard-helmconfig.yml
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: remove browser installer
  catalyst_voices/test_driver/scripts/install-chrome-linux64.sh
  catalyst_voices/test_driver/scripts/install-edge-linux64.sh
  catalyst_voices/test_driver/scripts/install-firefox-linux64.sh
Owners: @minikin

fix(ci): Fix markdown lint errors in local-cluster docs
  utilities/local-cluster/Readme.md
Owners: none

docs(gateway): Start adding new db redesign documentation
  docs/src/architecture/08_concepts/cat-gateway-db/cardano-db/index.md
  docs/src/architecture/08_concepts/cat-gateway-db/cardano-db/schemas/address_to_pubkey.d2
  docs/src/architecture/08_concepts/cat-gateway-db/cardano-db/schemas/chebotko_notation.d2
  docs/src/architecture/08_concepts/cat-gateway-db/cardano-db/schemas/cip36_voter_registrations.d2
Owners: none

chore: ignore flutter plugins generated files
  .gitignore
Owners: none

fix: flutter analyze
  catalyst_voices/integration_test/common.dart
  catalyst_voices/integration_test/landing_page_test.dart
  catalyst_voices/lib/configs/main_qa.dart
Owners: @minikin

fix: update package source override
  catalyst_voices/license_checker.yaml
Owners: @minikin

feat: cardano wallet api example (#523)
  .config/dictionaries/project.dic
  catalyst_voices/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/.gitignore
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/.metadata
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/README.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/analysis_options.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/main.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/web/favicon.png
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/web/icons/Icon-192.png
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/web/icons/Icon-512.png
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/web/icons/Icon-maskable-192.png
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/web/icons/Icon-maskable-512.png
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/web/index.html
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/web/manifest.json
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/lib/catalyst_cardano.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/pubspec.yaml
Owners: @minikin, @stevenj

fix: `cat-voice` flutter builder ci (#521)
  .earthlyignore
  catalyst_voices/Earthfile
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.enums.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.g.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.dart
  catalyst_voices/test_driver/Earthfile
  catalyst_voices/test_driver/scripts/install-chrome-linux64.sh
  catalyst_voices/test_driver/scripts/install-edge-linux64.sh
  catalyst_voices/test_driver/scripts/install-firefox-linux64.sh
Owners: @minikin

fix: license checker target
  Earthfile
  catalyst_voices/Earthfile
Owners: @minikin

fix: balance with multi asset tokens
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/main.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/lib/src/cardano_wallet.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_wallet_proxy.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/types.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/types_test.dart
Owners: @minikin, @stevenj

feat: parse value from utxo
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/main.dart
  catalyst_voices_packages/catalyst_cardano_serialization/example/main.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/transaction_builder.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/transaction.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/types.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/test_utils/test_data.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/types_test.dart
Owners: @minikin, @stevenj

fix: utxo formatting
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/main.dart
Owners: @minikin, @stevenj

feat: cardano wallet api (#522)
  .config/dictionaries/project.dic
  catalyst_voices/lib/app/view/app_page.dart
  catalyst_voices/pubspec.yaml
  catalyst_voices/web/index.html
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/README.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/.gitignore
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/.metadata
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/README.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/analysis_options.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/main.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/web/favicon.png
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/web/icons/Icon-192.png
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/web/icons/Icon-512.png
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/web/icons/Icon-maskable-192.png
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/web/icons/Icon-maskable-512.png
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/web/index.html
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/web/manifest.json
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/lib/catalyst_cardano.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/lib/src/catalyst_cardano.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/lib/catalyst_cardano_platform_interface.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/lib/src/cardano_wallet.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/lib/src/catalyst_cardano_platform.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/lib/src/exceptions.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/assets/js/catalyst_cardano.js
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/catalyst_cardano_web.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_interop.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_wallet_proxy.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano_serialization/README.md
  catalyst_voices_packages/catalyst_cardano_serialization/example/main.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/address.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/transaction.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/address_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/transaction_test.dart
Owners: @minikin, @stevenj

feat: update example
  catalyst_voices_packages/catalyst_cardano_serialization/README.md
Owners: @minikin, @stevenj

chore: upgrade flutter web projects
  catalyst_voices/packages/catalyst_voices_assets/example/web/index.html
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/web/index.html
  utilities/catalyst_voices_remote_widgets/example/web/index.html
Owners: @minikin, @stevenj

fix: license checker
  Earthfile
  catalyst_voices/Earthfile
Owners: @minikin

feat: add license, license checker to all package
  catalyst_voices/packages/catalyst_voices_assets/Earthfile
  catalyst_voices/packages/catalyst_voices_assets/example/Earthfile
  catalyst_voices/packages/catalyst_voices_assets/example/license_checker.yaml
  catalyst_voices/packages/catalyst_voices_assets/license_checker.yaml
  catalyst_voices/packages/catalyst_voices_blocs/Earthfile
  catalyst_voices/packages/catalyst_voices_blocs/license_checker.yaml
  catalyst_voices/packages/catalyst_voices_brands/Earthfile
  catalyst_voices/packages/catalyst_voices_brands/license_checker.yaml
  catalyst_voices/packages/catalyst_voices_localization/Earthfile
  catalyst_voices/packages/catalyst_voices_localization/license_checker.yaml
  catalyst_voices/packages/catalyst_voices_models/Earthfile
  catalyst_voices/packages/catalyst_voices_models/license_checker.yaml
  catalyst_voices/packages/catalyst_voices_repositories/Earthfile
  catalyst_voices/packages/catalyst_voices_repositories/license_checker.yaml
  catalyst_voices/packages/catalyst_voices_services/Earthfile
  catalyst_voices/packages/catalyst_voices_services/license_checker.yaml
  catalyst_voices/packages/catalyst_voices_shared/Earthfile
  catalyst_voices/packages/catalyst_voices_shared/license_checker.yaml
  catalyst_voices/packages/catalyst_voices_view_models/Earthfile
  catalyst_voices/packages/catalyst_voices_view_models/license_checker.yaml
  catalyst_voices_packages/catalyst_analysis/Earthfile
  catalyst_voices_packages/catalyst_analysis/license_checker.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/LICENSE
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/license_checker.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/LICENSE
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/license_checker.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/LICENSE
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/license_checker.yaml
  catalyst_voices_packages/catalyst_cardano_serialization/Earthfile
  catalyst_voices_packages/catalyst_cardano_serialization/license_checker.yaml
Owners: @minikin, @stevenj

fix: revert wrong nginx app path
  catalyst_voices/Earthfile
Owners: @minikin

fix: add bootstrap to license checker base
  Earthfile
Owners: none

change ci
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: gen c509 function
  catalyst-gateway-crates/c509-certificate/src/c509_cert.rs
Owners: none

fix: cbor encoder
  catalyst-gateway-crates/c509-certificate/src/cbor_encoder.rs
Owners: none

fix: alt name
  catalyst-gateway-crates/c509-certificate/src/extensions/alt_name.rs
Owners: none

fix: extensions
  catalyst-gateway-crates/c509-certificate/src/extensions/mod.rs
Owners: none

fix(ci): rename target so its not triggered by CI.
  utilities/local-cluster/Earthfile
Owners: none

fix(ci): Update cat-ci release to v3.1.2
  Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  docs/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

fix: change license checker config yaml
  catalyst_voices/license_checker.yaml
  catalyst_voices/packages/catalyst_voices_assets/example/license_checker.yaml
  catalyst_voices/packages/catalyst_voices_assets/license_checker.yaml
  catalyst_voices/packages/catalyst_voices_blocs/license_checker.yaml
  catalyst_voices/packages/catalyst_voices_brands/license_checker.yaml
  catalyst_voices/packages/catalyst_voices_localization/license_checker.yaml
  catalyst_voices/packages/catalyst_voices_models/license_checker.yaml
  catalyst_voices/packages/catalyst_voices_repositories/license_checker.yaml
  catalyst_voices/packages/catalyst_voices_services/license_checker.yaml
  catalyst_voices/packages/catalyst_voices_shared/license_checker.yaml
  catalyst_voices/packages/catalyst_voices_view_models/license_checker.yaml
  catalyst_voices_packages/catalyst_analysis/license_checker.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/license_checker.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/license_checker.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/license_checker.yaml
  catalyst_voices_packages/catalyst_cardano_serialization/license_checker.yaml
Owners: @minikin, @stevenj

feat: create new main_qa and use localization asset in test
  catalyst_voices/integration_test/common.dart
  catalyst_voices/integration_test/landing_page_test.dart
  catalyst_voices/lib/configs/main_qa.dart
  catalyst_voices/lib/configs/main_qa_patrol.dart
Owners: @minikin

adds allow empty flag
  .github/workflows/generate-allure-report.yml
Owners: none

refactor: cleanup boostrap
  catalyst_voices/integration_test/common.dart
  catalyst_voices/lib/configs/bootstrap.dart
  catalyst_voices/lib/configs/main_qa_patrol.dart
Owners: @minikin

docs: improve
  catalyst_voices/lib/configs/bootstrap.dart
Owners: @minikin

fix: update ci version
  catalyst-gateway/Earthfile
Owners: @stevenj, @Mr-Leshiy, @FelipeRosa, @cong-or, @saibatizoku, @minikin

feat: Add CatalystVoicesIcons set.
  .config/dictionaries/project.dic
  catalyst_voices/packages/catalyst_voices_assets/internal_resources/fonts/CatalystVoicesIcons.ttf
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_voices_assets.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_voices_icons.dart
  catalyst_voices/packages/catalyst_voices_assets/pubspec.yaml
Owners: @minikin

feat: Update actions components to use CatalystVoices icons.
  catalyst_voices/lib/pages/widgets/voices_app_bar/actions/connecting_status.dart
  catalyst_voices/lib/pages/widgets/voices_app_bar/actions/notifications_indicator.dart
  catalyst_voices/lib/pages/widgets/voices_app_bar/actions/role_picker.dart
  catalyst_voices/lib/pages/widgets/voices_app_bar/actions/unlock_button.dart
Owners: @minikin

feat: Add VoicesAppBar widget.
  catalyst_voices/lib/pages/widgets/voices_app_bar/voices_app_bar.dart
Owners: @minikin

docs: Add docs for actions widgets.
  catalyst_voices/lib/pages/widgets/voices_app_bar/actions/connecting_status.dart
  catalyst_voices/lib/pages/widgets/voices_app_bar/actions/finish_account_button.dart
  catalyst_voices/lib/pages/widgets/voices_app_bar/actions/get_started_button.dart
  catalyst_voices/lib/pages/widgets/voices_app_bar/actions/notifications_indicator.dart
  catalyst_voices/lib/pages/widgets/voices_app_bar/actions/role_picker.dart
  catalyst_voices/lib/pages/widgets/voices_app_bar/actions/unlock_button.dart
  catalyst_voices/lib/pages/widgets/voices_app_bar/actions/user_profile_button.dart
Owners: @minikin

feat: code adjust
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/main.dart
Owners: @minikin, @stevenj
