Repository input-output-hk/catalyst-voices, pull requests merged in 2024-10, with the labels that each got.

#906 feat(cat-voices): download seed phrase
  catalyst_voices/lib/dependency/dependencies.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/keychain_creation_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/catalyst_voices_services.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/downloader/downloader.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/downloader/downloader_stub.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/downloader/io_downloader.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/downloader/web_downloader.dart
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  melos.yaml
Labels: review me, dart

#907 feat(cat-voices): wallet link details empty balance
  catalyst_voices/lib/pages/registration/wallet_link/stage/wallet_details_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/wallet_link_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/wallet_link_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/wallet_link_state_data.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/wallet/cardano_wallet_details.dart
Labels: review me, ux/ui, dart

#908 feat(cat-voices): check seed phrase instructions stage
  catalyst_voices/lib/pages/registration/create_keychain/create_keychain_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/check_seed_phrase_instructions_panel.dart
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Labels: review me, ux/ui, dart

#913 feat(cat-voices): registration flow placeholders
  catalyst_voices/lib/pages/registration/create_keychain/create_keychain_panel.dart
  catalyst_voices/lib/pages/registration/placeholder_panel.dart
  catalyst_voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/roles_chooser_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/roles_summary_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/registration/create_keychain_stage.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/registration/registration_step.dart
Labels: review me, ux/ui, dart

#915 feat(cat-voices): check seed phrase and result panel
  catalyst_voices/lib/pages/registration/create_keychain/create_keychain_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_check_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_check_result_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/stages.dart
  catalyst_voices/lib/pages/registration/next_step.dart
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
  catalyst_voices/lib/widgets/common/infrastructure/voices_loadable.dart
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_completer.dart
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_picker.dart
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_sequencer.dart
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_viewer.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/keychain_creation_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/seed_phrase_state.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/seed_phrase.dart
  catalyst_voices/test/widgets/seed_phrase/seed_phrases_sequencer_test.dart
  catalyst_voices/uikit_example/lib/examples/voices_seed_phrase_example.dart
Labels: review me, ux/ui, dart

#919 feat(cat-voices): not dismissible registration dialog
  catalyst_voices/lib/pages/registration/registration_dialog.dart
Labels: review me, dart

#918 feat(cat-voices): registration components
  catalyst_voices/lib/pages/registration/create_keychain/stage/check_seed_phrase_instructions_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/instructions_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_check_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_check_result_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/splash_panel.dart
  catalyst_voices/lib/pages/registration/get_started/get_started_panel.dart
  catalyst_voices/lib/pages/registration/placeholder_panel.dart
  catalyst_voices/lib/pages/registration/registration_stage_message.dart
  catalyst_voices/lib/pages/registration/registration_stage_navigation.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/intro_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/select_wallet_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/wallet_details_panel.dart
  catalyst_voices/lib/widgets/common/delayed_widget.dart
  catalyst_voices/lib/widgets/common/infrastructure/voices_loadable.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
Labels: review me, dart

#921 feat(cat-voices): registration transaction summary
  catalyst_voices/lib/pages/account/account_page.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/rbac_transaction_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/wallet_details_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/wallet_link_panel.dart
  catalyst_voices/lib/widgets/list/bullet_list.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Labels: review me, ux/ui, dart

#916 feat(cat-voices): Add roles chooser panel widget
  catalyst_voices/lib/common/ext/account_role_ext.dart
  catalyst_voices/lib/widgets/buttons/voices_segmented_button.dart
  catalyst_voices/lib/widgets/cards/role_chooser_card.dart
  catalyst_voices/lib/widgets/common/grayscale_filter.dart
  catalyst_voices/lib/widgets/common/link_text.dart
  catalyst_voices/lib/widgets/containers/roles_chooser_container.dart
  catalyst_voices/lib/widgets/containers/roles_summary_container.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_assets/assets/images/2.0x/role_drep.webp
  catalyst_voices/packages/catalyst_voices_assets/assets/images/2.0x/role_proposer.webp
  catalyst_voices/packages/catalyst_voices_assets/assets/images/2.0x/role_voter.webp
  catalyst_voices/packages/catalyst_voices_assets/assets/images/3.0x/role_drep.webp
  catalyst_voices/packages/catalyst_voices_assets/assets/images/3.0x/role_proposer.webp
  catalyst_voices/packages/catalyst_voices_assets/assets/images/3.0x/role_voter.webp
  catalyst_voices/packages/catalyst_voices_assets/assets/images/role_drep.webp
  catalyst_voices/packages/catalyst_voices_assets/assets/images/role_proposer.webp
  catalyst_voices/packages/catalyst_voices_assets/assets/images/role_voter.webp
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/assets.gen.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/uikit_example/lib/examples/voices_role_panels_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Labels: review me, ux/ui, dart, UI Kit

#911 fix(docs): code of conduct broken link
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: review me

#923 feat(cat-voices): roles chooser
  catalyst_voices/lib/pages/registration/wallet_link/stage/rbac_transaction_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/roles_chooser_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/wallet_details_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/wallet_link_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/wallet_link_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/wallet_link_state_data.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Labels: review me, ux/ui, dart

#924 feat(cat-voices): role summary viewer
  catalyst_voices/lib/pages/registration/create_keychain/stage/instructions_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_check_instructions_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_check_result_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/splash_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/unlock_password_instructions_panel.dart
  catalyst_voices/lib/pages/registration/get_started/get_started_panel.dart
  catalyst_voices/lib/pages/registration/registration_stage_message.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/intro_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/roles_chooser_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/roles_summary_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/select_wallet_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/wallet_link_panel.dart
  catalyst_voices/lib/widgets/cards/role_chooser_card.dart
  catalyst_voices/packages/catalyst_voices_assets/assets/colors/colors.xml
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/colors.gen.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/theme_extensions/voices_color_scheme.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Labels: review me, ux/ui, dart

#927 feat(cat-voices): theme mode switch
  .config/dictionaries/project.dic
  catalyst_voices/lib/app/view/app_content.dart
  catalyst_voices/lib/pages/spaces/appbar/spaces_theme_mode_switch.dart
  catalyst_voices/lib/pages/spaces/spaces_shell_page.dart
  catalyst_voices/lib/widgets/toggles/voices_theme_mode_switch.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/uikit_example/lib/main.dart
Labels: review me, ux/ui, dart

#931 feat(cat-voices): finish account creation panel
  catalyst_voices/lib/pages/registration/finish_account/finish_account_creation_panel.dart
  catalyst_voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
  catalyst_voices/lib/pages/registration/registration_progress.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Labels: review me, dart

#937 fix(cat-voices): reformat code
  catalyst_voices/lib/pages/registration/finish_account/finish_account_creation_panel.dart
Labels: review me, dart

#930 feat(cat-voices): unlock password stage
  catalyst_voices/lib/common/formatters/input_formatters.dart
  catalyst_voices/lib/pages/login/login_password_text_field.dart
  catalyst_voices/lib/pages/registration/create_keychain/create_keychain_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/unlock_password_panel.dart
  catalyst_voices/lib/pages/registration/get_started/get_started_panel.dart
  catalyst_voices/lib/pages/registration/pictures/password_picture.dart
  catalyst_voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
  catalyst_voices/lib/pages/registration/registration_stage_navigation.dart
  catalyst_voices/lib/widgets/indicators/voices_password_strength_indicator.dart
  catalyst_voices/lib/widgets/text_field/voices_password_text_field.dart
  catalyst_voices/lib/widgets/text_field/voices_text_field.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/keychain_creation_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_state.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/unlock_password_state.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/auth/password_strength.dart
  catalyst_voices/test/common/formatters/input_formatters_test.dart
Labels: review me, ux/ui, dart

#932 feat(cat-voices): Upload file dialog
  catalyst_voices/lib/widgets/modals/voices_desktop_dialog.dart
  catalyst_voices/lib/widgets/modals/voices_upload_file_dialog.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/macos/Flutter/GeneratedPluginRegistrant.swift
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/file/voices_file.dart
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/pubspec.yaml
  catalyst_voices/uikit_example/lib/examples/voices_modals_example.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/pubspec.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/pubspec.yaml
  melos.yaml
Labels: review me, ux/ui, dart

#940 fix(cat-voices): align colors with designs
  catalyst_voices/lib/widgets/indicators/voices_no_internet_connection_banner.dart
  catalyst_voices/lib/widgets/indicators/voices_status_indicator.dart
  catalyst_voices/packages/catalyst_voices_assets/assets/colors/colors.xml
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/colors.gen.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/theme_extensions/voices_color_scheme.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
Labels: review me, ux/ui, dart, UI Kit

#934 fix(cat-voices): migrate apple-mobile-web-app-capable to mobile-web-app-capable
  catalyst_voices/packages/catalyst_voices_assets/example/web/index.html
  catalyst_voices/uikit_example/web/index.html
  catalyst_voices/web/index.html
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/web/index.html
  utilities/catalyst_voices_remote_widgets/example/web/index.html
  utilities/poc_local_storage/web/index.html
Labels: review me, dart

#917 feat(cat-gateway): Sync indexing and recovery
  .config/dictionaries/project.dic
  Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/Justfile
  catalyst-gateway/bin/src/cardano/mod.rs
  catalyst-gateway/bin/src/db/index/queries/cql/get_sync_status.cql
  catalyst-gateway/bin/src/db/index/queries/cql/insert_sync_status.cql
  catalyst-gateway/bin/src/db/index/queries/cql/update_txo_spent.cql
  catalyst-gateway/bin/src/db/index/queries/mod.rs
  catalyst-gateway/bin/src/db/index/queries/sync_status/get.rs
  catalyst-gateway/bin/src/db/index/queries/sync_status/mod.rs
  catalyst-gateway/bin/src/db/index/queries/sync_status/update.rs
  catalyst-gateway/bin/src/db/index/schema/cql/sync_status.cql
  catalyst-gateway/bin/src/db/index/schema/mod.rs
  catalyst-gateway/bin/src/db/index/session.rs
  catalyst-gateway/bin/src/service/api/cardano/staked_ada_get.rs
  catalyst-gateway/bin/src/settings/chain_follower.rs
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/Earthfile
  docs/Earthfile
  utilities/local-scylla/justfile
Labels: review me

#939 fix(cat-voices): flutter_inappwebview's web_support.js not found error
  catalyst_voices/pubspec.yaml
  catalyst_voices/uikit_example/pubspec.yaml
  catalyst_voices/uikit_example/web/index.html
  catalyst_voices/web/index.html
  melos.yaml
Labels: review me, dart

#960 fix(cat-voices): unit tests for status indicator
  catalyst_voices/test/widgets/indicators/voices_status_indicator_test.dart
Labels: review me, dart

#949 feat(cat-voices): registration confirm exit dialog
  catalyst_voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/lib/pages/registration/registration_exit_confirm_dialog.dart
  catalyst_voices/lib/widgets/modals/voices_desktop_dialog.dart
  catalyst_voices/lib/widgets/modals/voices_question_dialog.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Labels: review me, ux/ui, dart

#914 feat: return native tokens info in staked_ada endpoint
  .github/workflows/generate-allure-report.yml
  Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/Justfile
  catalyst-gateway/bin/src/db/index/queries/cql/get_assets_by_stake_address.cql
  catalyst-gateway/bin/src/db/index/queries/mod.rs
  catalyst-gateway/bin/src/db/index/queries/staked_ada/get_assets_by_stake_address.rs
  catalyst-gateway/bin/src/db/index/queries/staked_ada/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/cip36.rs
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/staked_ada_get.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/stake_info.rs
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/packages/catalyst_voices_repositories/test/src/catalyst_data_gateway_repository/catalyst_data_gateway_repository_test.dart
  catalyst_voices/packages/catalyst_voices_services/README.md
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.g.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.chopper.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.dart
  catalyst_voices/uikit_example/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/Earthfile
  docs/Earthfile
Labels: review me

#799 feat(cat-gateway): RBAC Metadata Indexing
  .config/dictionaries/project.dic
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/db/index/block/mod.rs
  catalyst-gateway/bin/src/db/index/block/rbac509/cql/insert_chain_root_for_role0_key.cql
  catalyst-gateway/bin/src/db/index/block/rbac509/cql/insert_chain_root_for_stake_address.cql
  catalyst-gateway/bin/src/db/index/block/rbac509/cql/insert_chain_root_for_txn_id.cql
  catalyst-gateway/bin/src/db/index/block/rbac509/cql/insert_rbac509.cql
  catalyst-gateway/bin/src/db/index/block/rbac509/insert_chain_root_for_role0_key.rs
  catalyst-gateway/bin/src/db/index/block/rbac509/insert_chain_root_for_stake_address.rs
  catalyst-gateway/bin/src/db/index/block/rbac509/insert_chain_root_for_txn_id.rs
  catalyst-gateway/bin/src/db/index/block/rbac509/insert_rbac509.rs
  catalyst-gateway/bin/src/db/index/block/rbac509/mod.rs
  catalyst-gateway/bin/src/db/index/queries/mod.rs
  catalyst-gateway/bin/src/db/index/schema/cql/chain_root_for_role0_key.cql
  catalyst-gateway/bin/src/db/index/schema/cql/chain_root_for_stake_addr.cql
  catalyst-gateway/bin/src/db/index/schema/cql/chain_root_for_txn_id.cql
  catalyst-gateway/bin/src/db/index/schema/cql/rbac509_registration.cql
  catalyst-gateway/bin/src/db/index/schema/mod.rs
  utilities/local-scylla/justfile
Labels: enhancement, review me

#909 feat(docs): Update `crypto` docs
  .config/dictionaries/project.dic
  docs/src/architecture/08_concepts/voting_transaction/crypto.md
Labels: review me

#969 fix(cat-voices): make sure ci job fails when test fail
  Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/blueprint.cue
  docs/Earthfile
  melos.yaml
Labels: review me, dart

#979 chore(cat-gateway): Add publish CI target for cat-gateway
  catalyst-gateway/Earthfile
Labels: review me

#977 feat(cat-voices): account role learn more dialog
  catalyst_voices/lib/common/ext/account_role_ext.dart
  catalyst_voices/lib/pages/registration/wallet_link/account_role_dialog.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/roles_chooser_panel.dart
  catalyst_voices/lib/widgets/common/link_text.dart
  catalyst_voices/packages/catalyst_voices_assets/assets/images/role_info_drep.png
  catalyst_voices/packages/catalyst_voices_assets/assets/images/role_info_proposer.png
  catalyst_voices/packages/catalyst_voices_assets/assets/images/role_info_voter.png
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/assets.gen.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Labels: review me, ux/ui, dart

#978 feat(cat-voices): provide seed phrase 953
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_check_panel.dart
  catalyst_voices/lib/pages/registration/recover/recover_seed_phrase_panel.dart
  catalyst_voices/lib/pages/registration/recover/seed_phrase/seed_phrase_input_panel.dart
  catalyst_voices/lib/pages/registration/widgets/seed_phrase_actions.dart
  catalyst_voices/lib/widgets/scrollbar/voices_scrollbar.dart
  catalyst_voices/lib/widgets/text_field/seed_phrase_field.dart
  catalyst_voices/lib/widgets/text_field/voices_autocomplete.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/recover_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/recover_state_data.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/seed_phrase.dart
  catalyst_voices/uikit_example/lib/examples/voices_seed_phrase_field_example.dart
  catalyst_voices/uikit_example/lib/examples/voices_text_field_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Labels: review me, ux/ui, dart, UI Kit

#982 fix(cat-voices): allow duplicate seed phrase words
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_check_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_panel.dart
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_completer.dart
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_picker.dart
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_sequencer.dart
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_viewer.dart
  catalyst_voices/lib/widgets/text_field/seed_phrase_field.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/keychain_creation_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/recover_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/recover_state_data.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/seed_phrase_state_data.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/seed_phrase.dart
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_models/test/seed_phrase_test.dart
  catalyst_voices/test/widgets/seed_phrase/seed_phrases_sequencer_test.dart
  catalyst_voices/uikit_example/lib/examples/voices_seed_phrase_example.dart
Labels: bug, review me, dart

#983 fix(cat-voices): use dart test in models package
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_models/test/auth/password_strength_test.dart
  catalyst_voices/packages/catalyst_voices_models/test/optional_test.dart
  catalyst_voices/packages/catalyst_voices_models/test/seed_phrase_test.dart
Labels: bug, review me, dart

#976 feat(cat-voices): wallet link transaction
  .config/dictionaries/project.dic
  catalyst_voices/lib/dependency/dependencies.dart
  catalyst_voices/lib/pages/registration/bloc_registration_builder.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/rbac_transaction_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/wallet_link_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_state.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/keychain_state_data.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/registration_state_data.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/wallet_link_state_data.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_repositories/lib/src/catalyst_voices_repositories.dart
  catalyst_voices/packages/catalyst_voices_repositories/lib/src/transaction/transaction_config_repository.dart
  catalyst_voices/packages/catalyst_voices_repositories/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_repositories/test/src/transaction/transaction_config_repository_test.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/catalyst_voices_services.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/transaction/registration_transaction_builder.dart
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/lib/src/formatter/cryptocurrency_formatter.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/formatter/cryptocurrency_formatter_test.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/catalyst_voices_view_models.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/exception/localized_exception.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/exception/localized_unknown_exception.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/registration/exception/localized_registration_transaction_exception.dart
  catalyst_voices/packages/catalyst_voices_view_models/pubspec.yaml
  catalyst_voices/web/index.html
Labels: review me, ux/ui, dart

#984 feat(cat-voices): wallet link service
  catalyst_voices/lib/dependency/dependencies.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/wallet_link_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/registration/exception/registration_exception.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/registration/registration.dart
  catalyst_voices/packages/catalyst_voices_repositories/lib/src/transaction/transaction_config_repository.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/catalyst_voices_services.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_service.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_transaction_builder.dart
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/catalyst_voices_view_models.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/registration/exception/localized_registration_exception.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/registration/exception/localized_registration_transaction_exception.dart
  catalyst_voices/packages/catalyst_voices_view_models/pubspec.yaml
Labels: review me, dart

#989 test(cat-voices): add allure report to slack
  .github/workflows/nightly-ci.yml
Labels: review me, github_actions

#991 feat(cat-voices): blocs errors stream and basic handling
  catalyst_voices/lib/common/error_handler.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/unlock_password_panel.dart
  catalyst_voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/bloc_error_emitter_mixin.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/catalyst_voices_blocs.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/keychain_creation_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/recover_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/wallet_link_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_service.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/registration/exception/localized_registration_exception.dart
Labels: review me, dart

#995 feat(cat-voices): keychain and session
  catalyst_voices/lib/app/view/app.dart
  catalyst_voices/lib/configs/app_bloc_observer.dart
  catalyst_voices/lib/dependency/dependencies.dart
  catalyst_voices/lib/pages/account/account_page.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_bloc.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_event.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/account/account_role.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/seed_phrase.dart
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_models/test/seed_phrase_test.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/catalyst_voices_services.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/keychain/key_derivation.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/keychain/keychain.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_service.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_transaction_builder.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/secure_storage.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/storage.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/secure_storage_vault.dart
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_services/test/src/keychain/key_derivation_test.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/storage/storage_string_mixin_test.dart
  catalyst_voices/uikit_example/lib/main.dart
Labels: review me, dart

#993 fix(docs): Update voting protocol definition and the jormnugandr tx spec
  docs/src/architecture/08_concepts/voting_transaction/crypto.md
  docs/src/architecture/08_concepts/voting_transaction/transaction.md
Labels: review me

#996 feat(cat-voices): registration completed screen
  catalyst_voices/lib/common/ext/ext.dart
  catalyst_voices/lib/common/ext/string_ext.dart
  catalyst_voices/lib/pages/registration/account_completed/account_completed_panel.dart
  catalyst_voices/lib/pages/registration/pictures/account_completed_picture.dart
  catalyst_voices/lib/pages/registration/registration_details_panel.dart
  catalyst_voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
  catalyst_voices/lib/pages/registration/widgets/next_step.dart
  catalyst_voices/lib/widgets/modals/voices_desktop_dialog.dart
  catalyst_voices/packages/catalyst_voices_assets/assets/images/2.0x/welcome_illustration.webp
  catalyst_voices/packages/catalyst_voices_assets/assets/images/3.0x/welcome_illustration.webp
  catalyst_voices/packages/catalyst_voices_assets/assets/images/registration_summary_keychain.png
  catalyst_voices/packages/catalyst_voices_assets/assets/images/registration_summary_roles.png
  catalyst_voices/packages/catalyst_voices_assets/assets/images/registration_summary_wallet.png
  catalyst_voices/packages/catalyst_voices_assets/assets/images/welcome_illustration.webp
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/assets.gen.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_state.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Labels: review me, ux/ui, dart

#998 fix(cat-voices): account page back navigation
  catalyst_voices/lib/pages/account/account_page.dart
  catalyst_voices/lib/pages/account/account_page_header.dart
Labels: bug, review me, dart

#997 feat(cat-voices): account restored
  catalyst_voices/lib/pages/registration/recover/recover_seed_phrase_panel.dart
  catalyst_voices/lib/pages/registration/recover/seed_phrase/restored_panel.dart
  catalyst_voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/lib/pages/registration/registration_exit_confirm_dialog.dart
  catalyst_voices/lib/pages/registration/wallet_link/account_role_dialog.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/roles_chooser_panel.dart
  catalyst_voices/lib/pages/registration/widgets/exit_confirm_dialog.dart
  catalyst_voices/lib/pages/registration/widgets/placeholder_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/recover_cubit.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/registration/registration_step.dart
Labels: review me, ux/ui, dart

#999 refactor(cat-voices): user and wallet model
  catalyst_voices/lib/pages/registration/account_completed/account_completed_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/rbac_transaction_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/select_wallet_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/wallet_details_panel.dart
  catalyst_voices/lib/widgets/app_bar/session/session_state_header.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/recover_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/wallet_link_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/state_data/wallet_link_state_data.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_bloc.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/user/account_role.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/user/profile.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/user/user.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/wallet/dummy_cardano_wallet.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/wallet/wallet_info.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/wallet/wallet_metadata.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_service.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/registration/exception/localized_registration_exception.dart
Labels: do not merge yet, review me, dart

#1004 fix(cat-gateway): Bump cardano-chain-follower to v0.0.4
  catalyst-gateway/bin/Cargo.toml
Labels: dependencies, review me

#1003 feat(cat-voices): lock/unlock keychain
  catalyst_voices/lib/app/view/app_content.dart
  catalyst_voices/lib/app/view/app_session_listener.dart
  catalyst_voices/lib/common/error_handler.dart
  catalyst_voices/lib/pages/account/unlock_keychain_dialog.dart
  catalyst_voices/lib/pages/registration/pictures/unlock_keychain_picture.dart
  catalyst_voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/lib/widgets/app_bar/session/session_action_header.dart
  catalyst_voices/lib/widgets/app_bar/session/session_state_header.dart
  catalyst_voices/lib/widgets/footers/standard_links_page_footer.dart
  catalyst_voices/lib/widgets/snackbar/voices_snackbar.dart
  catalyst_voices/lib/widgets/snackbar/voices_snackbar_action.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/bloc_error_emitter_mixin.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_bloc.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_event.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_services/lib/src/keychain/key_derivation.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/keychain/keychain.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_transaction_builder.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/authentication/authentication.dart
  catalyst_voices/packages/catalyst_voices_view_models/lib/src/authentication/exception/localized_unlock_password_exception.dart
  catalyst_voices/uikit_example/lib/examples/voices_snackbar_example.dart
Labels: review me, ux/ui, dart

#1015 fix(cat-voices): escape special characters in arb
  catalyst_voices/packages/catalyst_voices_localization/l10n.yaml
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Labels: bug, review me, dart

#1022 refactor(general): add running allure report flow after forge ci job part 2
  .github/workflows/ci.yml
Labels: review me

#1011 feat(cat-voices): vault crypto
  .config/dictionaries/project.dic
  catalyst_voices/lib/dependency/dependencies.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_bloc.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/errors/crypto_exception.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/errors/errors.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/errors/vault_exception.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/catalyst_voices_services.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/crypto/crypto_service.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/crypto/vault_crypto_service.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/keychain/keychain.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_service.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/lock_factor.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/lock_factor_codec.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/secure_storage_vault.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/vault.dart
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_services/test/src/crypto/vault_crypto_service_test.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/storage/vault/lock_factor_codec_test.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/storage/vault/lock_factor_test.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/storage/vault/secure_storage_vault_test.dart
Labels: review me, dart

#1021 feat(cat-voices): add result builder with delayed loading
  catalyst_voices/lib/pages/registration/wallet_link/stage/select_wallet_panel.dart
  catalyst_voices/lib/widgets/common/infrastructure/voices_result_builder.dart
  catalyst_voices/test/widgets/common/infrastructure/voices_result_builder_test.dart
Labels: review me, ux/ui, dart

#1020 feat(cat-voices): implement web worker for compression logic
  catalyst_voices/packages/catalyst_voices_services/lib/src/keychain/key_derivation.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_transaction_builder.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_rbac_tx.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/x509_metadata_envelope.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/signature.dart
  catalyst_voices_packages/catalyst_compression/catalyst_compression/README.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression/example/main.dart
  catalyst_voices_packages/catalyst_compression/catalyst_compression_platform_interface/lib/src/catalyst_compressor.dart
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/assets/js/catalyst_compression.js
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/assets/js/catalyst_compression_worker.js
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/lib/src/interop/catalyst_compression_interop.dart
Labels: enhancement, review me

#981 feat(cat-gateway): config API
  .config/dictionaries/project.dic
  Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/db/event/config/default/frontend.json
  catalyst-gateway/bin/src/db/event/config/default/frontend_ip.json
  catalyst-gateway/bin/src/db/event/config/jsonschema/frontend.json
  catalyst-gateway/bin/src/db/event/config/key.rs
  catalyst-gateway/bin/src/db/event/config/mod.rs
  catalyst-gateway/bin/src/db/event/config/sql/get.sql
  catalyst-gateway/bin/src/db/event/config/sql/upsert.sql
  catalyst-gateway/bin/src/db/event/mod.rs
  catalyst-gateway/bin/src/service/api/config/mod.rs
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/service/common/tags.rs
  catalyst-gateway/deny.toml
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/event-db/migrations/V1__config_tables.sql
  catalyst-gateway/event-db/migrations/V2__event_tables.sql
  catalyst-gateway/event-db/migrations/V3__objective_tables.sql
  catalyst-gateway/event-db/migrations/V4__proposal_tables.sql
  catalyst-gateway/event-db/migrations/V5__vote_plan.sql
  catalyst-gateway/event-db/migrations/V6__registration.sql
  catalyst-gateway/event-db/migrations/V7__vote_tables.sql
  catalyst-gateway/event-db/migrations/V8__catalyst_automation.sql
  catalyst-gateway/event-db/migrations/V9__moderation_stage.sql
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.g.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.chopper.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.dart
  catalyst_voices/uikit_example/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/Earthfile
  docs/Earthfile
Labels: enhancement, review me

#1009 docs(docs): Add API Versioning ADR
  .config/dictionaries/project.dic
  .earthlyignore
  .vscode/extensions.json
  .vscode/settings.recommended.json
  docs/src/architecture/09_architecture_decisions/0007-api-versions.md
Labels: review me

#1018 docs(docs): Add ADR on structured logging.
  .config/dictionaries/project.dic
  docs/src/architecture/09_architecture_decisions/0008-structured-logging.md
Labels: review me

#1019 feat(cat-voices): Upload seedphrase
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_check_panel.dart
  catalyst_voices/lib/pages/registration/incorrect_seed_phrase_dialog.dart
  catalyst_voices/lib/pages/registration/recover/seed_phrase/seed_phrase_input_panel.dart
  catalyst_voices/lib/pages/registration/upload_seed_phrase_confirmation_dialog.dart
  catalyst_voices/lib/pages/registration/upload_seed_phrase_dialog.dart
  catalyst_voices/lib/widgets/text_field/seed_phrase_field.dart
  catalyst_voices/packages/catalyst_voices_assets/assets/images/2.0x/key_incorrect.webp
  catalyst_voices/packages/catalyst_voices_assets/assets/images/3.0x/key_incorrect.webp
  catalyst_voices/packages/catalyst_voices_assets/assets/images/key_incorrect.webp
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/assets.gen.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/keychain_creation_cubit.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Labels: review me, dart

#1033 fix: limit scope for mve1
  catalyst_voices/lib/app/view/app_session_listener.dart
  catalyst_voices/lib/pages/spaces/spaces_shell_page.dart
  catalyst_voices/lib/routes/routing/routes.dart
  catalyst_voices/lib/widgets/app_bar/session/session_action_header.dart
  catalyst_voices/lib/widgets/app_bar/session/session_state_header.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/assets.gen.dart
Labels: review me, ux/ui, dart

#1031 feat(cat-gateway): Add rough high level db schema.
  catalyst-gateway/event-db/migrations/V2__brand_tables.sql
  catalyst-gateway/event-db/migrations/V3__campaign_tables.sql
  catalyst-gateway/event-db/migrations/V4__event_tables.sql
  catalyst-gateway/event-db/migrations/V5__proposal_tables.sql
  catalyst-gateway/event-db/migrations/V6__category_tables.sql
Labels: review me

#1016 fix: open api doc page display
  docs/src/api/cat-gateway/openapi.md
  docs/src/api/cat-gateway/stoplight_template.html
Labels: review me

#1041 feat(flutter/catalyst_key_derivation): catalyst key derivation package structure
  .github/workflows/semantic_pull_request.yml
  .vscode/settings.recommended.json
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation/CHANGELOG.md
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation/LICENSE
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation/README.md
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation/analysis_options.yaml
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation/example/main.dart
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation/lib/catalyst_key_derivation.dart
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation/lib/src/catalyst_key_derivation.dart
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation/pubspec.yaml
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation_platform_interface/CHANGELOG.md
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation_platform_interface/LICENSE
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation_platform_interface/README.md
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation_platform_interface/analysis_options.yaml
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation_platform_interface/example/main.dart
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation_platform_interface/lib/catalyst_key_derivation_platform_interface.dart
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation_platform_interface/lib/src/catalyst_key_derivation_platform.dart
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation_web/CHANGELOG.md
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation_web/LICENSE
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation_web/README.md
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation_web/analysis_options.yaml
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation_web/assets/js/catalyst_key_derivation.js
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation_web/assets/js/catalyst_key_derivation_worker.js
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation_web/example/main.dart
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation_web/lib/catalyst_key_derivation_web.dart
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation_web/lib/src/interop/catalyst_key_derivation_interop.dart
  catalyst_voices_packages/catalyst_key_derivation/catalyst_key_derivation_web/pubspec.yaml
  melos.yaml
Labels: review me, dart

#1027 feat(cat-voices): add recovery to unlock dialog
  catalyst_voices/lib/pages/account/unlock_keychain_dialog.dart
  catalyst_voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Labels: ux/ui, dart

#1047 feat(cat-voices): add route guard for account page
  catalyst_voices/lib/routes/guards/composite_route_guard_mixin.dart
  catalyst_voices/lib/routes/guards/session_unlocked_guard.dart
  catalyst_voices/lib/routes/routing/account_route.dart
Labels: review me, dart

#1051 feat(cat-voices): Workspace - more data 837
  .config/dictionaries/project.dic
  catalyst_voices/lib/pages/workspace/proposal_details.dart
  catalyst_voices/lib/pages/workspace/rich_text/answer.dart
  catalyst_voices/lib/pages/workspace/rich_text/bonus_mark_up.dart
  catalyst_voices/lib/pages/workspace/rich_text/delivery_and_accountability.dart
  catalyst_voices/lib/pages/workspace/rich_text/feasibility_checks.dart
  catalyst_voices/lib/pages/workspace/rich_text/problem_statement.dart
  catalyst_voices/lib/pages/workspace/rich_text/public_description.dart
  catalyst_voices/lib/pages/workspace/rich_text/solution_statement.dart
  catalyst_voices/lib/pages/workspace/rich_text/title.dart
  catalyst_voices/lib/pages/workspace/rich_text/value_for_money.dart
  catalyst_voices/lib/pages/workspace/sample_rich_text2.dart
  catalyst_voices/lib/pages/workspace/sample_rich_text3.dart
  catalyst_voices/lib/pages/workspace/workspace_page.dart
  catalyst_voices/lib/pages/workspace/workspace_proposal_navigation_ext.dart
  catalyst_voices/lib/widgets/containers/space_side_panel.dart
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/workspace/workspace_proposal_segment.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/workspace/workspace_proposal_segment_step.dart
Labels: ux/ui, dart

#1050 fix(docs): Fix `block.cddl` metadata definition
  docs/src/architecture/08_concepts/immutable_ledger/cddl/block.cddl
Labels: review me

#1056 test(cat-voices): user service, keychain, keychain provider
  .config/dictionaries/project.dic
  catalyst_voices/lib/dependency/dependencies.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_blocs/test/session/session_cubit_test.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/crypto/keychain_metadata.dart
  catalyst_voices/packages/catalyst_voices_models/test/crypto/keychain_metadata_test.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/catalyst_voices_services.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/keychain/vault_keychain.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/keychain/vault_keychain_provider.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/registration/registration_service.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/secure_storage_vault.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/user/user_service.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/keychain/keychain_transformers_test.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/keychain/vault_keychain_provider_test.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/keychain/vault_keychain_test.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/storage/vault/secure_storage_vault_test.dart
  catalyst_voices/packages/catalyst_voices_services/test/src/user/user_service_test.dart
Labels: review me, dart

#1024 feat: RBAC chain root and registrations queries
  catalyst-gateway/bin/src/db/index/queries/cql/get_chain_root.cql
  catalyst-gateway/bin/src/db/index/queries/cql/get_registrations_by_chain_root.cql
  catalyst-gateway/bin/src/db/index/queries/cql/get_role0_key_chain_root.cql
  catalyst-gateway/bin/src/db/index/queries/mod.rs
  catalyst-gateway/bin/src/db/index/queries/rbac/get_chain_root.rs
  catalyst-gateway/bin/src/db/index/queries/rbac/get_registrations.rs
  catalyst-gateway/bin/src/db/index/queries/rbac/get_role0_chain_root.rs
  catalyst-gateway/bin/src/db/index/queries/rbac/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/rbac/chain_root_get.rs
  catalyst-gateway/bin/src/service/api/cardano/rbac/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/rbac/registrations_get.rs
  catalyst-gateway/bin/src/service/api/cardano/rbac/role0_chain_root_get.rs
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.g.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.chopper.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.dart
Labels: enhancement
