Repository input-output-hk/catalyst-voices, pull requests merged in 2024-09, with the labels that each got.

#746 fix: catalyst cardano null utxos
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_rbac_tx.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_tx.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_interop.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_wallet_proxy.dart
Labels: bug, dart

#713 feat!: add initial support for Cardano Native scripts, Plutus scripts, advanced transaction outputs, and additional transaction body fields and witnesses
  .config/dictionaries/project.dic
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_rbac_tx.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_tx.dart
  catalyst_voices_packages/catalyst_cardano_serialization/example/main.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/catalyst_cardano_serialization.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/transaction_builder.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/datum.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/hashes.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/redeemer.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/scripts.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/transaction.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/transaction_output.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/types.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/witness.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/scripts_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/test_utils/test_data.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/transaction_output_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/transaction_test.dart
Labels: review me, dart

#752 chore(release): publish packages
  CHANGELOG.md
  catalyst_voices/packages/catalyst_voices_assets/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_brands/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_localization/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_repositories/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_view_models/pubspec.yaml
  catalyst_voices/pubspec.yaml
  catalyst_voices/uikit_example/pubspec.yaml
  catalyst_voices_packages/catalyst_analysis/CHANGELOG.md
  catalyst_voices_packages/catalyst_analysis/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano_serialization/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano_serialization/pubspec.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression/CHANGELOG.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression/pubspec.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression_platform_interface/CHANGELOG.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/CHANGELOG.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/pubspec.yaml
  catalyst_voices_packages/catalyst_cose/CHANGELOG.md
  catalyst_voices_packages/catalyst_cose/pubspec.yaml
  utilities/catalyst_voices_remote_widgets/example/pubspec.yaml
  utilities/catalyst_voices_remote_widgets/pubspec.yaml
  utilities/poc_local_storage/pubspec.yaml
Labels: review me, dart

#747 refactor: responsive builder + app_bar
  catalyst_voices/lib/widgets/app_bar/voices_app_bar.dart
  catalyst_voices/lib/widgets/buttons/voices_buttons.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/responsive/responsive_builder.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/responsive/responsive_child.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/responsive/responsive_padding.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/utils/typedefs.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/responsive_builder_test.dart
Labels: review me, dart, UI Kit

#745 feat: wallet lister
  catalyst_voices/lib/widgets/menu/voices_wallet_tile.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/test/widgets/avatars/voices_avatar_test.dart
  catalyst_voices/test/widgets/menu/voices_wallet_tile_test.dart
  catalyst_voices/test/widgets/text_field/voices_text_field_test.dart
  catalyst_voices/uikit_example/lib/examples/voices_fab_example.dart
  catalyst_voices/uikit_example/lib/examples/voices_list_tile_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Labels: ux/ui, dart, UI Kit

#729 feat: treasury_space_ui_example
  catalyst_voices/lib/widgets/common/proposal_status_container.dart
  catalyst_voices/lib/widgets/common/simple_tree_view.dart
  catalyst_voices/lib/widgets/drawer/voices_drawer_nav_item.dart
  catalyst_voices/lib/widgets/drawer/voices_drawer_space_chooser.dart
  catalyst_voices/lib/widgets/menu/voices_node_menu.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/uikit_example/lib/examples/treasury_space/campaign_builder_panel.dart
  catalyst_voices/uikit_example/lib/examples/treasury_space/campaign_comments_panel.dart
  catalyst_voices/uikit_example/lib/examples/treasury_space/campaign_details.dart
  catalyst_voices/uikit_example/lib/examples/treasury_space/voices_treasury_drawer.dart
  catalyst_voices/uikit_example/lib/examples/treasury_space/voices_treasury_space.dart
  catalyst_voices/uikit_example/lib/examples/voices_menu_example.dart
  catalyst_voices/uikit_example/lib/examples/voices_navigation_example.dart
  catalyst_voices/uikit_example/lib/examples/voices_spaces_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
  catalyst_voices/uikit_example/pubspec.yaml
Labels: review me, ux/ui, dart

#760 feat: discovery modal
  .config/dictionaries/project.dic
  catalyst_voices/lib/widgets/buttons/voices_buttons.dart
  catalyst_voices/lib/widgets/modals/voices_desktop_dialog.dart
  catalyst_voices/lib/widgets/modals/voices_dialog.dart
  catalyst_voices/lib/widgets/modals/voices_info_dialog.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_assets/assets/colors/colors.xml
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/colors.gen.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/theme_extensions/voices_color_scheme.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/uikit_example/lib/examples/voices_modals_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Labels: review me, dart, UI Kit

#761 feat: guest/locked/unlocked state management simulation
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/catalyst_voices_blocs.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_bloc.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_event.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_state.dart
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/pubspec.yaml
  catalyst_voices/uikit_example/lib/examples/voices_spaces_example.dart
  catalyst_voices/uikit_example/lib/main.dart
  catalyst_voices/uikit_example/lib/widgets/session_header.dart
  catalyst_voices/uikit_example/pubspec.yaml
  melos.yaml
Labels: review me, dart

#763 feat: add user profile bloc
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/catalyst_voices_blocs.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_bloc.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_event.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_state.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/user_profile/user_profile.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/user_profile/user_profile_bloc.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/user_profile/user_profile_event.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/user_profile/user_profile_state.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/user/user.dart
  catalyst_voices/uikit_example/lib/examples/voices_spaces_example.dart
  catalyst_voices/uikit_example/lib/main.dart
  catalyst_voices/uikit_example/lib/widgets/session_header.dart
  catalyst_voices/uikit_example/lib/widgets/user_header.dart
Labels: review me, dart

#765 feat: voices_spaces_switching
  catalyst_voices/lib/app/app.dart
  catalyst_voices/lib/app/view/app.dart
  catalyst_voices/lib/app/view/app_content.dart
  catalyst_voices/lib/app/view/app_page.dart
  catalyst_voices/lib/configs/bootstrap.dart
  catalyst_voices/lib/configs/main_dev.dart
  catalyst_voices/lib/configs/main_preprod.dart
  catalyst_voices/lib/configs/main_prod.dart
  catalyst_voices/lib/configs/main_qa.dart
  catalyst_voices/lib/configs/main_web.dart
  catalyst_voices/lib/pages/coming_soon/coming_soon.dart
  catalyst_voices/lib/pages/coming_soon/coming_soon_page.dart
  catalyst_voices/lib/pages/discovery/discovery.dart
  catalyst_voices/lib/pages/discovery/discovery_page.dart
  catalyst_voices/lib/pages/funded_projects/funded_projects.dart
  catalyst_voices/lib/pages/funded_projects/funded_projects_page.dart
  catalyst_voices/lib/pages/home/home_page.dart
  catalyst_voices/lib/pages/spaces/spaces.dart
  catalyst_voices/lib/pages/spaces/spaces_shell_page.dart
  catalyst_voices/lib/pages/treasury/treasury.dart
  catalyst_voices/lib/pages/treasury/treasury_page.dart
  catalyst_voices/lib/pages/voting/voting.dart
  catalyst_voices/lib/pages/voting/voting_page.dart
  catalyst_voices/lib/pages/workspace/workspace.dart
  catalyst_voices/lib/pages/workspace/workspace_page.dart
  catalyst_voices/lib/routes/app_router.dart
  catalyst_voices/lib/routes/app_router_refresh_stream.dart
  catalyst_voices/lib/routes/guards/milestone_guard.dart
  catalyst_voices/lib/routes/guards/route_guard.dart
  catalyst_voices/lib/routes/routes.dart
  catalyst_voices/lib/routes/routing/coming_soon_route.dart
  catalyst_voices/lib/routes/routing/coming_soon_route.g.dart
  catalyst_voices/lib/routes/routing/login_route.dart
  catalyst_voices/lib/routes/routing/login_route.g.dart
  catalyst_voices/lib/routes/routing/routes.dart
  catalyst_voices/lib/routes/routing/routing.dart
  catalyst_voices/lib/routes/routing/spaces_route.dart
  catalyst_voices/lib/routes/routing/spaces_route.g.dart
  catalyst_voices/lib/routes/routing/transitions/fade_page_transition_mixin.dart
  catalyst_voices/lib/routes/routing/transitions/transitions.dart
  catalyst_voices/lib/widgets/drawer/voices_drawer_space_chooser.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/space.dart
  catalyst_voices/test/app/view/app_test.dart
  catalyst_voices/uikit_example/lib/examples/treasury_space/voices_treasury_space.dart
  catalyst_voices/uikit_example/lib/examples/voices_navigation_example.dart
  catalyst_voices/uikit_example/lib/examples/voices_spaces_example.dart
Labels: review me, ux/ui, dart

#770 feat: allow m4 subpages in voices
  catalyst_voices/nginx.conf
Labels: review me

#772 feat: funded proposal card
  .config/dictionaries/project.dic
  catalyst_voices/lib/widgets/cards/funded_proposal_card.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/macos/Flutter/GeneratedPluginRegistrant.swift
  catalyst_voices/packages/catalyst_voices_assets/assets/colors/colors.xml
  catalyst_voices/packages/catalyst_voices_assets/assets/images/proposal_background_1.webp
  catalyst_voices/packages/catalyst_voices_assets/assets/images/proposal_background_2.webp
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/assets.gen.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/colors.gen.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/theme_extensions/voices_color_scheme.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/proposal/funded_proposal.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/proposal/pending_proposal.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/proposal/proposal_status.dart
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/lib/catalyst_voices_shared.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/formatter/cryptocurrency_formatter.dart
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/test/src/formatter/cryptocurrency_formatter_test.dart
  catalyst_voices/uikit_example/lib/examples/voices_proposal_card_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/types.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/types_test.dart
  cspell.json
Labels: review me, ux/ui, dart, UI Kit

#778 feat: dummy voting space
  catalyst_voices/lib/app/view/app.dart
  catalyst_voices/lib/dependency/dependencies.dart
  catalyst_voices/lib/pages/voting/voting_page.dart
  catalyst_voices/lib/widgets/cards/funded_proposal_card.dart
  catalyst_voices/lib/widgets/cards/pending_proposal_card.dart
  catalyst_voices/lib/widgets/common/tab_bar_stack_view.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/proposal/funded_proposal.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/proposal/pending_proposal.dart
  catalyst_voices/uikit_example/lib/examples/voices_proposal_card_example.dart
  catalyst_voices/web/index.html
Labels: review me, ux/ui, dart

#769 feat: asset image caching
  .config/dictionaries/project.dic
  catalyst_voices/lib/app/view/app_content.dart
  catalyst_voices/lib/app/view/app_precache_image_assets.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/assets_ext.dart
Labels: review me, dart

#782 feat: voices treasury space
  catalyst_voices/lib/app/view/app_content.dart
  catalyst_voices/lib/pages/spaces/individual_private_campaigns.dart
  catalyst_voices/lib/pages/spaces/spaces_drawer.dart
  catalyst_voices/lib/pages/spaces/spaces_shell_page.dart
  catalyst_voices/lib/pages/treasury/campaign_builder_panel.dart
  catalyst_voices/lib/pages/treasury/campaign_comments_panel.dart
  catalyst_voices/lib/pages/treasury/campaign_details.dart
  catalyst_voices/lib/pages/treasury/campaign_segment_controller.dart
  catalyst_voices/lib/pages/treasury/treasury_campaign_builder_ext.dart
  catalyst_voices/lib/pages/treasury/treasury_page.dart
  catalyst_voices/lib/widgets/avatars/space_avatar.dart
  catalyst_voices/lib/widgets/drawer/voices_drawer_space_chooser.dart
  catalyst_voices/lib/widgets/menu/voices_node_menu.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/treasury/treasury_campaign_builder.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/treasury/treasury_campaign_segment.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/treasury/treasury_campaign_segment_step.dart
  catalyst_voices/uikit_example/lib/examples/treasury_space/campaign_builder_panel.dart
  catalyst_voices/uikit_example/lib/examples/treasury_space/campaign_details.dart
  catalyst_voices/uikit_example/lib/examples/treasury_space/voices_treasury_drawer.dart
  catalyst_voices/uikit_example/lib/examples/treasury_space/voices_treasury_space.dart
  catalyst_voices/uikit_example/lib/examples/voices_menu_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Labels: review me, ux/ui, dart

#764 feat: update cardano catalyst testplan
  .config/dictionaries/project.dic
  docs/src/architecture/10_quality/testplans/flutter_cardano_integration.md
Labels: review me

#629 feat: add wallet-automation
  .config/dictionaries/project.dic
  .github/workflows/nightly-ci.yml
  .gitignore
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/.gitignore
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/main.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/compose.yml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/global-setup.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/keys.txt
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/package-lock.json
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/package.json
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/playwright.config.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/utils.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/wallet-tests.spec.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/lib/src/cardano_wallet.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_interop.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_wallet_proxy.dart
Labels: review me

#787 feat: logging
  catalyst_voices/lib/configs/app_bloc_observer.dart
  catalyst_voices/lib/configs/bootstrap.dart
  catalyst_voices/lib/routes/app_router.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/logging/logging_service.dart
  catalyst_voices/packages/catalyst_voices_shared/pubspec.yaml
  melos.yaml
Labels: review me, dart

#794 feat: funded projects space
  catalyst_voices/lib/pages/funded_projects/funded_projects_page.dart
  catalyst_voices/lib/pages/voting/voting_page.dart
  catalyst_voices/lib/widgets/cards/funded_proposal_card.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Labels: review me, ux/ui, dart

#801 feat: update star_filled icon
  catalyst_voices/lib/pages/voting/voting_page.dart
  catalyst_voices/lib/widgets/cards/pending_proposal_card.dart
  catalyst_voices/packages/catalyst_voices_assets/internal_resources/fonts/CatalystVoicesIcons.ttf
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_voices_icons.dart
Labels: review me, ux/ui, dart, UI Kit

#792 fix: format-check fails when code is not formatted
  catalyst_voices/lib/widgets/cards/pending_proposal_card.dart
  catalyst_voices/lib/widgets/common/tree_view_column.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/catalyst_voices_icons.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_voices_assets.dart
  melos.yaml
Labels: review me, dart

#804 feat: Overall Spaces
  .config/dictionaries/project.dic
  catalyst_voices/lib/app/view/app_content.dart
  catalyst_voices/lib/app/view/app_precache_image_assets.dart
  catalyst_voices/lib/common/ext/brand_ext.dart
  catalyst_voices/lib/common/ext/ext.dart
  catalyst_voices/lib/common/ext/space_ext.dart
  catalyst_voices/lib/pages/overall_spaces/back_fab.dart
  catalyst_voices/lib/pages/overall_spaces/brands_navigation.dart
  catalyst_voices/lib/pages/overall_spaces/overall_spaces.dart
  catalyst_voices/lib/pages/overall_spaces/overall_spaces_page.dart
  catalyst_voices/lib/pages/overall_spaces/space/discovery_overview.dart
  catalyst_voices/lib/pages/overall_spaces/space/funded_projects_overview.dart
  catalyst_voices/lib/pages/overall_spaces/space/space_overview_header.dart
  catalyst_voices/lib/pages/overall_spaces/space/space_overview_nav_tile.dart
  catalyst_voices/lib/pages/overall_spaces/space/treasury_overview.dart
  catalyst_voices/lib/pages/overall_spaces/space/voting_overview.dart
  catalyst_voices/lib/pages/overall_spaces/space/workspace_overview.dart
  catalyst_voices/lib/pages/overall_spaces/space_overview_container.dart
  catalyst_voices/lib/pages/overall_spaces/spaces_overview_list_view.dart
  catalyst_voices/lib/pages/overall_spaces/update_ready.dart
  catalyst_voices/lib/pages/spaces/individual_private_campaigns.dart
  catalyst_voices/lib/pages/spaces/my_private_proposals.dart
  catalyst_voices/lib/pages/spaces/spaces_drawer.dart
  catalyst_voices/lib/routes/routing/overall_spaces_route.dart
  catalyst_voices/lib/routes/routing/overall_spaces_route.g.dart
  catalyst_voices/lib/routes/routing/routes.dart
  catalyst_voices/lib/routes/routing/routing.dart
  catalyst_voices/lib/widgets/app_bar/voices_app_bar.dart
  catalyst_voices/lib/widgets/avatars/space_avatar.dart
  catalyst_voices/lib/widgets/buttons/voices_buttons.dart
  catalyst_voices/lib/widgets/common/proposal_status_container.dart
  catalyst_voices/lib/widgets/drawer/voices_drawer.dart
  catalyst_voices/lib/widgets/drawer/voices_drawer_nav_item.dart
  catalyst_voices/lib/widgets/drawer/voices_drawer_space_chooser.dart
  catalyst_voices/lib/widgets/scrollbar/voices_scrollbar.dart
  catalyst_voices/lib/widgets/separators/voices_divider.dart
  catalyst_voices/lib/widgets/tiles/voices_nav_tile.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/brand/brand_bloc.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/brand/brand_event.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/brand/brand_state.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/brands/brand.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/brands/brands.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/catalyst_voices_brands.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/theme_builder/theme_builder.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/theme_extensions/brand_assets.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/fallback.dart
  catalyst_voices/packages/catalyst_voices_brands/test/src/catalyst_voices_brands_test.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/proposal/proposal_status.dart
  catalyst_voices/test/widgets/rich_text/voices_rich_text_test.dart
  catalyst_voices/test/widgets/text_field/voices_text_field_test.dart
  catalyst_voices/uikit_example/lib/main.dart
Labels: review me, ux/ui, dart

#806 feat: keep drawer open when space changes
  catalyst_voices/lib/pages/spaces/spaces_drawer.dart
Labels: review me, ux/ui, dart

#824 feat: voting space unlocked menu
  catalyst_voices/lib/pages/spaces/spaces_drawer.dart
  catalyst_voices/lib/pages/spaces/spaces_shell_page.dart
  catalyst_voices/lib/pages/spaces/voting_rounds.dart
  catalyst_voices/lib/pages/voting/voting_page.dart
  catalyst_voices/lib/widgets/app_bar/session/session_header.dart
  catalyst_voices/lib/widgets/app_bar/session/user_header.dart
  catalyst_voices/lib/widgets/text_field/voices_text_field.dart
  catalyst_voices/lib/widgets/tiles/voices_nav_tile.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/uikit_example/lib/examples/voices_spaces_example.dart
Labels: review me, ux/ui, dart

#723 feat: auth token
  .config/dictionaries/project.dic
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/service/api/auth/endpoint.rs
  catalyst-gateway/bin/src/service/api/auth/mod.rs
  catalyst-gateway/bin/src/service/api/auth/token.rs
  catalyst-gateway/bin/src/service/api/health/mod.rs
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/service/docs/stoplight_elements/mod.rs
  catalyst-gateway/bin/src/service/mod.rs
Labels: review me

#826 feat(cat-voices): Voices discovery space
  catalyst_voices/lib/app/view/app.dart
  catalyst_voices/lib/dependency/dependencies.dart
  catalyst_voices/lib/pages/discovery/current_status_text.dart
  catalyst_voices/lib/pages/discovery/discovery_page.dart
  catalyst_voices/lib/pages/discovery/toggle_state_text.dart
  catalyst_voices/lib/pages/spaces/drawer/discovery_menu.dart
  catalyst_voices/lib/pages/spaces/drawer/guest_menu.dart
  catalyst_voices/lib/pages/spaces/drawer/individual_private_campaigns.dart
  catalyst_voices/lib/pages/spaces/drawer/my_private_proposals.dart
  catalyst_voices/lib/pages/spaces/drawer/space_header.dart
  catalyst_voices/lib/pages/spaces/drawer/spaces_drawer.dart
  catalyst_voices/lib/pages/spaces/drawer/voting_rounds.dart
  catalyst_voices/lib/pages/spaces/spaces_drawer.dart
  catalyst_voices/lib/pages/spaces/spaces_shell_page.dart
  catalyst_voices/lib/widgets/app_bar/session/session_action_header.dart
  catalyst_voices/lib/widgets/app_bar/session/session_header.dart
  catalyst_voices/lib/widgets/app_bar/session/session_state_header.dart
  catalyst_voices/lib/widgets/app_bar/session/user_header.dart
  catalyst_voices/lib/widgets/buttons/voices_icon_button.dart
  catalyst_voices/lib/widgets/tiles/voices_nav_tile.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/catalyst_voices_blocs.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_bloc.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_event.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_state.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/user_profile/user_profile.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/user_profile/user_profile_bloc.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/user_profile/user_profile_event.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/user_profile/user_profile_state.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/user/user.dart
  catalyst_voices/uikit_example/lib/examples/voices_spaces_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
  catalyst_voices/uikit_example/lib/main.dart
Labels: ux/ui, dart

#728 feat: Update GET staked_ada endpoint to fetch from ScyllaDB
  .config/dictionaries/project.dic
  catalyst-gateway/bin/src/db/event/cardano.obsolete/utxo/mod.rs
  catalyst-gateway/bin/src/db/index/mod.rs
  catalyst-gateway/bin/src/db/index/queries.rs
  catalyst-gateway/bin/src/db/index/queries/get_txi_by_txn_hashes.cql
  catalyst-gateway/bin/src/db/index/queries/get_txo_by_stake_address.cql
  catalyst-gateway/bin/src/db/index/queries/insert_txo.cql
  catalyst-gateway/bin/src/db/index/queries/update_txo_spent.cql
  catalyst-gateway/bin/src/db/index/schema/txi_by_txn_hash_table.cql
  catalyst-gateway/bin/src/db/index/session.rs
  catalyst-gateway/bin/src/db/index/staked_ada/get_txi_by_txn_hash.rs
  catalyst-gateway/bin/src/db/index/staked_ada/get_txo_by_stake_address.rs
  catalyst-gateway/bin/src/db/index/staked_ada/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/staked_ada_get.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/stake_address.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/stake_info.rs
  catalyst_voices/packages/catalyst_voices_repositories/lib/src/catalyst_data_gateway_repository.dart
  catalyst_voices/packages/catalyst_voices_repositories/test/src/catalyst_data_gateway_repository/catalyst_data_gateway_repository_test.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.g.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.chopper.dart
  catalyst_voices/packages/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.dart
Labels: rust

#827 feat(cat-voices): Add "No Internet Connection Banner" widget
  catalyst_voices/lib/widgets/indicators/voices_no_internet_connection_banner.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/uikit_example/lib/examples/voices_indicators_example.dart
Labels: review me

#788 feat: DB Indexing for CIP-36 registrations
  catalyst-gateway/bin/src/db/index/block/certs.rs
  catalyst-gateway/bin/src/db/index/block/cip36/cql/insert_cip36.cql
  catalyst-gateway/bin/src/db/index/block/cip36/cql/insert_cip36_for_vote_key.cql
  catalyst-gateway/bin/src/db/index/block/cip36/cql/insert_cip36_invalid.cql
  catalyst-gateway/bin/src/db/index/block/cip36/insert_cip36.rs
  catalyst-gateway/bin/src/db/index/block/cip36/insert_cip36_for_vote_key.rs
  catalyst-gateway/bin/src/db/index/block/cip36/insert_cip36_invalid.rs
  catalyst-gateway/bin/src/db/index/block/cip36/mod.rs
  catalyst-gateway/bin/src/db/index/block/cql/insert_stake_registration.cql
  catalyst-gateway/bin/src/db/index/block/cql/insert_txi.cql
  catalyst-gateway/bin/src/db/index/block/mod.rs
  catalyst-gateway/bin/src/db/index/block/txi.rs
  catalyst-gateway/bin/src/db/index/block/txo/cql/insert_txo.cql
  catalyst-gateway/bin/src/db/index/block/txo/cql/insert_txo_asset.cql
  catalyst-gateway/bin/src/db/index/block/txo/cql/insert_unstaked_txo.cql
  catalyst-gateway/bin/src/db/index/block/txo/cql/insert_unstaked_txo_asset.cql
  catalyst-gateway/bin/src/db/index/block/txo/insert_txo.rs
  catalyst-gateway/bin/src/db/index/block/txo/insert_txo_asset.rs
  catalyst-gateway/bin/src/db/index/block/txo/insert_unstaked_txo.rs
  catalyst-gateway/bin/src/db/index/block/txo/insert_unstaked_txo_asset.rs
  catalyst-gateway/bin/src/db/index/block/txo/mod.rs
  catalyst-gateway/bin/src/db/index/mod.rs
  catalyst-gateway/bin/src/db/index/queries/cql/get_txi_by_txn_hashes.cql
  catalyst-gateway/bin/src/db/index/queries/cql/get_txo_by_stake_address.cql
  catalyst-gateway/bin/src/db/index/queries/cql/update_txo_spent.cql
  catalyst-gateway/bin/src/db/index/queries/mod.rs
  catalyst-gateway/bin/src/db/index/queries/staked_ada/get_txi_by_txn_hash.rs
  catalyst-gateway/bin/src/db/index/queries/staked_ada/get_txo_by_stake_address.rs
  catalyst-gateway/bin/src/db/index/queries/staked_ada/mod.rs
  catalyst-gateway/bin/src/db/index/queries/staked_ada/update_txo_spent.rs
  catalyst-gateway/bin/src/db/index/schema/cql/cip36_registration.cql
  catalyst-gateway/bin/src/db/index/schema/cql/cip36_registration_for_vote_key.cql
  catalyst-gateway/bin/src/db/index/schema/cql/cip36_registration_invalid.cql
  catalyst-gateway/bin/src/db/index/schema/cql/namespace.cql
  catalyst-gateway/bin/src/db/index/schema/cql/stake_registration.cql
  catalyst-gateway/bin/src/db/index/schema/cql/txi_by_txn_hash_table.cql
  catalyst-gateway/bin/src/db/index/schema/cql/txo_assets_by_stake_table.cql
  catalyst-gateway/bin/src/db/index/schema/cql/txo_by_stake_table.cql
  catalyst-gateway/bin/src/db/index/schema/cql/unstaked_txo_assets_by_txn_hash.cql
  catalyst-gateway/bin/src/db/index/schema/cql/unstaked_txo_by_txn_hash.cql
  catalyst-gateway/bin/src/db/index/schema/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/staked_ada_get.rs
Labels: enhancement

#830 feat(cat-voices): spaces shortcuts
  catalyst_voices/lib/common/ext/space_ext.dart
  catalyst_voices/lib/pages/spaces/drawer/spaces_drawer.dart
  catalyst_voices/lib/pages/spaces/spaces_shell_page.dart
  catalyst_voices/lib/widgets/buttons/voices_keyboard_key_button.dart
  catalyst_voices/lib/widgets/buttons/voices_logical_keyboard_key_button.dart
  catalyst_voices/lib/widgets/common/shortcut_activator_view.dart
  catalyst_voices/lib/widgets/drawer/voices_drawer_space_chooser.dart
  catalyst_voices/lib/widgets/tooltips/voices_plain_tooltip.dart
  catalyst_voices/lib/widgets/widgets.dart
Labels: review me, ux/ui, dart

#833 fix(cat-voices): center avatar letter
  catalyst_voices/lib/widgets/avatars/voices_avatar.dart
Labels: bug, review me, UI Kit

#832 feat(cat-voices): Spaces drawer menu animation
  catalyst_voices/lib/pages/spaces/drawer/spaces_drawer.dart
  catalyst_voices/lib/widgets/drawer/voices_drawer.dart
  catalyst_voices/lib/widgets/headers/brand_header.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/uikit_example/lib/examples/voices_navigation_example.dart
Labels: review me, ux/ui, dart

#834 feat: update flutter-ci version to v3.2.04
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/test/wallet-automation/Earthfile
Labels: review me

#831 feat(dart/catalyst_cardano_serialization): x509 self-signed certificate
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/main.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_rbac_tx.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/catalyst_cardano_serialization.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/address.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/exceptions.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/hashes.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/x509_certificate.dart
  catalyst_voices_packages/catalyst_cardano_serialization/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano_serialization/test/address_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/rbac/x509_certificate_test.dart
  melos.yaml
Labels: review me, dart

#835 fix(cat-voices): spaces navigation behaviour
  catalyst_voices/lib/common/ext/space_ext.dart
  catalyst_voices/lib/pages/overall_spaces/spaces_overview_list_view.dart
  catalyst_voices/lib/pages/spaces/drawer/discovery_menu.dart
  catalyst_voices/lib/pages/spaces/drawer/guest_menu.dart
  catalyst_voices/lib/pages/spaces/drawer/individual_private_campaigns.dart
  catalyst_voices/lib/pages/spaces/drawer/my_private_proposals.dart
  catalyst_voices/lib/pages/spaces/drawer/space_header.dart
  catalyst_voices/lib/pages/spaces/drawer/voting_rounds.dart
  catalyst_voices/lib/pages/workspace/workspace_page.dart
  catalyst_voices/lib/routes/routing/spaces_route.dart
  catalyst_voices/lib/routes/routing/spaces_route.g.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/space.dart
Labels: review me, ux/ui, dart

#709 docs: Voting ledger design
  cspell.json
  docs/src/architecture/08_concepts/immutable_ledger/.pages
  docs/src/architecture/08_concepts/immutable_ledger/cddl/block.cddl
  docs/src/architecture/08_concepts/immutable_ledger/cddl/genesis_to_prev_hash.cddl
  docs/src/architecture/08_concepts/immutable_ledger/images/ledger_schema.excalidraw
  docs/src/architecture/08_concepts/immutable_ledger/images/ledger_schema.svg
  docs/src/architecture/08_concepts/immutable_ledger/images/temporary_chain.excalidraw
  docs/src/architecture/08_concepts/immutable_ledger/images/temporary_chain.svg
  docs/src/architecture/08_concepts/immutable_ledger/ledger.md
  docs/src/catalyst-standards/cbor_tags/blake.md
Labels: review me

#848 refactor(cat-voices): Refactor application bootstrap to allow running it in integration tests
  catalyst_voices/integration_test/app_test.dart
  catalyst_voices/lib/configs/bootstrap.dart
  catalyst_voices/lib/configs/main_dev.dart
  catalyst_voices/lib/configs/main_preprod.dart
  catalyst_voices/lib/configs/main_prod.dart
  catalyst_voices/lib/configs/main_qa.dart
  catalyst_voices/lib/configs/main_web.dart
Labels: review me, dart

#851 feat(cat-voices): alert dialog
  catalyst_voices/lib/widgets/avatars/voices_avatar.dart
  catalyst_voices/lib/widgets/modals/voices_alert_dialog.dart
  catalyst_voices/lib/widgets/modals/voices_desktop_dialog.dart
  catalyst_voices/lib/widgets/modals/voices_dialog.dart
  catalyst_voices/lib/widgets/modals/voices_info_dialog.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/test/widgets/avatars/voices_avatar_test.dart
  catalyst_voices/uikit_example/lib/examples/voices_avatar_example.dart
  catalyst_voices/uikit_example/lib/examples/voices_modals_example.dart
Labels: review me, ux/ui, dart, UI Kit

#836 feat(cat-gateway): Chain sync V2 - part 2
  catalyst-gateway/Justfile
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/db/index/block/certs.rs
  catalyst-gateway/bin/src/db/index/block/cip36/cql/insert_cip36.cql
  catalyst-gateway/bin/src/db/index/block/cip36/cql/insert_cip36_for_vote_key.cql
  catalyst-gateway/bin/src/db/index/block/cip36/cql/insert_cip36_invalid.cql
  catalyst-gateway/bin/src/db/index/block/cip36/insert_cip36.rs
  catalyst-gateway/bin/src/db/index/block/cip36/insert_cip36_for_vote_key.rs
  catalyst-gateway/bin/src/db/index/block/cip36/insert_cip36_invalid.rs
  catalyst-gateway/bin/src/db/index/block/cip36/mod.rs
  catalyst-gateway/bin/src/db/index/block/mod.rs
  catalyst-gateway/bin/src/db/index/block/txi.rs
  catalyst-gateway/bin/src/db/index/block/txo/insert_txo.rs
  catalyst-gateway/bin/src/db/index/block/txo/insert_txo_asset.rs
  catalyst-gateway/bin/src/db/index/block/txo/insert_unstaked_txo.rs
  catalyst-gateway/bin/src/db/index/block/txo/insert_unstaked_txo_asset.rs
  catalyst-gateway/bin/src/db/index/block/txo/mod.rs
  catalyst-gateway/bin/src/db/index/queries/mod.rs
  catalyst-gateway/bin/src/db/index/queries/staked_ada/update_txo_spent.rs
  catalyst-gateway/bin/src/db/index/schema/cql/cip36_registration.cql
  catalyst-gateway/bin/src/db/index/schema/cql/cip36_registration_for_vote_key.cql
  catalyst-gateway/bin/src/db/index/schema/cql/cip36_registration_invalid.cql
  catalyst-gateway/bin/src/db/index/session.rs
  catalyst-gateway/bin/src/service/utilities/convert.rs
Labels: review me

#861 feat(cat-voices): password strength indicator
  catalyst_voices/lib/widgets/indicators/voices_password_strength_indicator.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/auth/authentication_status.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/auth/password_strength.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_models/test/auth/password_strength_test.dart
  catalyst_voices/uikit_example/lib/examples/voices_indicators_example.dart
  melos.yaml
Labels: ux/ui, dart, UI Kit

#858 feat(dart/catalyst_cardano_serialization): add support for additional transaction body fields
  catalyst_voices_packages/catalyst_cardano_serialization/README.md
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/transaction_builder.dart
Labels: review me, dart

#862 docs: Jormungandr voting crypto proofs spec.
  docs/src/architecture/08_concepts/voting_transaction/crypto.md
Labels: review me

#857 feat(cat-voices): Account popup
  .config/dictionaries/project.dic
  catalyst_voices/lib/pages/account/account_popup.dart
  catalyst_voices/lib/widgets/app_bar/session/session_state_header.dart
Labels: review me

#856 fix(cat-voices): rename wallet test folder
  .github/workflows/nightly-ci.yml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/compose.yml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/global-setup.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/keys.txt
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/package-lock.json
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/package.json
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/playwright.config.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/utils.ts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/wallet-tests.spec.ts
Labels: do not merge yet

#868 feat(cat-voices): /m4 redirects to /m4/discovery
  catalyst_voices/lib/routes/guards/milestone_guard.dart
  catalyst_voices/lib/routes/routing/routes.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_bloc.dart
Labels: review me, dart

#869 feat: discovery cta modal
  catalyst_voices/lib/pages/discovery/discovery_page.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
Labels: review me, dart

#874 feat(cat-voices): Simplify MVE1 workspace
  catalyst_voices/lib/pages/workspace/workspace_page.dart
  catalyst_voices/lib/widgets/rich_text/voices_rich_text.dart
Labels: review me, ux/ui, dart

#871 feat(dart/catalyst_cardano_serialization)!: Implement tiered fee calculation for reference scripts
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/README.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/main.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_rbac_tx.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_tx.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/lib/src/cardano_wallet.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/src/interop/catalyst_cardano_wallet_proxy.dart
  catalyst_voices_packages/catalyst_cardano_serialization/README.md
  catalyst_voices_packages/catalyst_cardano_serialization/example/main.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/transaction_builder.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/exceptions.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/fees.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/hashes.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/scripts.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/fees_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/hashes_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/scripts_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/test_utils/test_data.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/transaction_output_test.dart
Labels: review me, dart

#879 feat(cat-voices): account creation task picture
  catalyst_voices/lib/pages/account/creation/task_picture.dart
  catalyst_voices/packages/catalyst_voices_assets/assets/images/2.0x/task_illustration.webp
  catalyst_voices/packages/catalyst_voices_assets/assets/images/3.0x/task_illustration.webp
  catalyst_voices/packages/catalyst_voices_assets/assets/images/keychain.svg
  catalyst_voices/packages/catalyst_voices_assets/assets/images/task_illustration.webp
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/assets.gen.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/colors.gen.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/assets_ext.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_svg_icon.dart
Labels: review me, dart, UI Kit

#880 fix(dart/catalyst_cardano_serialization): fix samples in readme
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/README.md
  catalyst_voices_packages/catalyst_cardano_serialization/README.md
Labels: review me, dart

#877 feat(cat-voices): wallet link flow structure
  catalyst_voices/lib/pages/registration/link_wallet/intro/link_wallet_intro_dialog.dart
  catalyst_voices/lib/pages/registration/link_wallet/link_wallet_dialog.dart
  catalyst_voices/lib/pages/registration/link_wallet/link_wallet_stage.dart
  catalyst_voices/lib/pages/registration/link_wallet/select_wallet/select_wallet_dialog.dart
  catalyst_voices/lib/widgets/buttons/voices_buttons.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Labels: review me, ux/ui, dart

#875 feat(cat-gateway): Add Mithril Snapshot Downloader control env vars
  Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/Justfile
  catalyst-gateway/bin/src/cardano/mod.rs
  catalyst-gateway/bin/src/db/index/block/certs.rs
  catalyst-gateway/bin/src/db/index/block/cip36/insert_cip36.rs
  catalyst-gateway/bin/src/db/index/block/cip36/insert_cip36_for_vote_key.rs
  catalyst-gateway/bin/src/db/index/block/cip36/insert_cip36_invalid.rs
  catalyst-gateway/bin/src/db/index/block/cip36/mod.rs
  catalyst-gateway/bin/src/db/index/block/mod.rs
  catalyst-gateway/bin/src/db/index/block/txi.rs
  catalyst-gateway/bin/src/db/index/block/txo/insert_txo.rs
  catalyst-gateway/bin/src/db/index/block/txo/insert_txo_asset.rs
  catalyst-gateway/bin/src/db/index/block/txo/insert_unstaked_txo.rs
  catalyst-gateway/bin/src/db/index/block/txo/insert_unstaked_txo_asset.rs
  catalyst-gateway/bin/src/db/index/block/txo/mod.rs
  catalyst-gateway/bin/src/db/index/queries/mod.rs
  catalyst-gateway/bin/src/db/index/queries/staked_ada/update_txo_spent.rs
  catalyst-gateway/bin/src/db/index/schema/mod.rs
  catalyst-gateway/bin/src/db/index/session.rs
  catalyst-gateway/bin/src/settings/cassandra_db.rs
  catalyst-gateway/bin/src/settings/chain_follower.rs
  catalyst-gateway/bin/src/settings/mod.rs
  catalyst-gateway/bin/src/settings/str_env_var.rs
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst-gateway/tests/schemathesis_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/Earthfile
  docs/Earthfile
  utilities/local-cluster/Earthfile
Labels: review me

#882 fix(cat-voices): task picture scaling
  catalyst_voices/lib/pages/account/creation/task_picture.dart
Labels: bug, review me, dart, UI Kit

#881 feat(cat-voices): account creation type dialog
  catalyst_voices/lib/pages/account/creation/get_started/account_create_dialog.dart
  catalyst_voices/lib/pages/spaces/spaces_shell_page.dart
  catalyst_voices/lib/widgets/app_bar/session/session_action_header.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/session/session_bloc.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Labels: review me, ux/ui

#883 feat(cat-voices): My account, extract AccountRole model and fix build
  catalyst_voices/lib/common/ext/account_role_ext.dart
  catalyst_voices/lib/pages/account/account_page.dart
  catalyst_voices/lib/routes/routing/account_route.g.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/account/account_role.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
Labels: review me, dart

#885 feat(cat-voices): Add simple key derivation from seed phrase
  catalyst_voices/packages/catalyst_voices_models/lib/src/seed_phrase.dart
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_models/test/seed_phrase_test.dart
  melos.yaml
Labels: review me, dart

#886 feat(cat-voices): registration dialog structure
  catalyst_voices/lib/dependency/dependencies.dart
  catalyst_voices/lib/pages/registration/create_keychain/create_keychain_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/instructions_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/splash_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/stages.dart
  catalyst_voices/lib/pages/registration/get_started/get_started_panel.dart
  catalyst_voices/lib/pages/registration/information_panel.dart
  catalyst_voices/lib/pages/registration/link_wallet/intro/intro_panel.dart
  catalyst_voices/lib/pages/registration/link_wallet/intro/link_wallet_intro_dialog.dart
  catalyst_voices/lib/pages/registration/link_wallet/link_wallet_dialog.dart
  catalyst_voices/lib/pages/registration/link_wallet/select_wallet/select_wallet_dialog.dart
  catalyst_voices/lib/pages/registration/link_wallet/select_wallet/select_wallet_panel.dart
  catalyst_voices/lib/pages/registration/link_wallet/wallet_link_panel.dart
  catalyst_voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
  catalyst_voices/lib/pages/registration/task_picture.dart
  catalyst_voices/lib/pages/spaces/spaces_shell_page.dart
  catalyst_voices/lib/widgets/buttons/voices_buttons.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/catalyst_voices_blocs.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/controllers/keychain_creation_controller.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/controllers/wallet_link_controller.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_bloc.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_event.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_navigator.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_state.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/registration/create_account_type.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/registration/create_keychain_stage.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/registration/registration.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/registration/wallet_link_stage.dart
Labels: review me, dart

#892 feat(cat-voices): define wallet link flow
  catalyst_voices/lib/pages/registration/link_wallet/select_wallet/select_wallet_panel.dart
  catalyst_voices/lib/pages/registration/link_wallet/wallet_link_panel.dart
  catalyst_voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/intro/intro_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/rbac_transaction/rbac_transaction_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/roles_chooser/roles_chooser_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/roles_summary/roles_summary_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/select_wallet/select_wallet_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/wallet_details/wallet_details_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/wallet_link_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/controllers/wallet_link_controller.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/registration/wallet_link_stage.dart
Labels: review me, ux/ui, dart

#889 feat(cat-gateway): Add autogenerated cassandra schema version and sync status tables.
  .config/dictionaries/project.dic
  Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/cardano/util.rs
  catalyst-gateway/bin/src/db/index/schema/cql/sync_status.cql
  catalyst-gateway/bin/src/db/index/schema/mod.rs
  catalyst-gateway/bin/src/main.rs
  catalyst-gateway/bin/src/service/api/cardano/types.rs
  catalyst-gateway/bin/src/service/utilities/middleware/tracing_mw.rs
  catalyst-gateway/bin/src/settings/mod.rs
  catalyst-gateway/bin/src/utils/blake2b_hash.rs
  catalyst-gateway/bin/src/utils/mod.rs
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/rust-toolchain.toml
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/Earthfile
  docs/Earthfile
Labels: review me

#896 chore(flutter/catalyst_cardano): add playwright function to Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/Earthfile
Labels: review me

#894 feat(cat-voices): My account, modals
  .config/dictionaries/project.dic
  catalyst_voices/lib/pages/account/account_page.dart
  catalyst_voices/lib/pages/account/delete_keychain_dialog.dart
  catalyst_voices/lib/pages/account/keychain_deleted_dialog.dart
  catalyst_voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/lib/widgets/buttons/voices_filled_button.dart
  catalyst_voices/lib/widgets/modals/voices_desktop_dialog.dart
  catalyst_voices/lib/widgets/modals/voices_info_dialog.dart
  catalyst_voices/lib/widgets/text_field/voices_text_field.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
Labels: review me, ux/ui, dart

#897 feat(cat-voices): registration seed phrase step
  catalyst_voices/lib/dependency/dependencies.dart
  catalyst_voices/lib/pages/account/delete_keychain_dialog.dart
  catalyst_voices/lib/pages/registration/create_keychain/create_keychain_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/instructions_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/seed_phrase_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/splash_panel.dart
  catalyst_voices/lib/pages/registration/create_keychain/stage/stages.dart
  catalyst_voices/lib/pages/registration/get_started/get_started_panel.dart
  catalyst_voices/lib/pages/registration/information_panel.dart
  catalyst_voices/lib/pages/registration/pictures/keychain_picture.dart
  catalyst_voices/lib/pages/registration/pictures/seed_phrase_picture.dart
  catalyst_voices/lib/pages/registration/pictures/task_picture.dart
  catalyst_voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/lib/pages/registration/registration_info_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/intro/intro_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/rbac_transaction/rbac_transaction_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/roles_chooser/roles_chooser_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/roles_summary/roles_summary_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/select_wallet/select_wallet_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/wallet_details/wallet_details_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/wallet_link_panel.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/controllers/keychain_creation_controller.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/controllers/wallet_link_controller.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/keychain_creation_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/wallet_link_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_bloc.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_event.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_navigator.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_state.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/seed_phrase_state.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/wallet_link_state_data.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/optional.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/registration/registration.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/registration/registration_step.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/seed_phrase.dart
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_models/test/optional_test.dart
  catalyst_voices/packages/catalyst_voices_models/test/seed_phrase_test.dart
  catalyst_voices/packages/catalyst_voices_services/lib/src/storage/vault/lock_factor.dart
Labels: review me, ux/ui, dart

#904 feat: Remove flutter_quill dependency from catalyst_voices_models
  catalyst_voices/lib/pages/workspace/proposal_details.dart
  catalyst_voices/lib/pages/workspace/workspace_page.dart
  catalyst_voices/packages/catalyst_voices_brands/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/document/document_json.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/workspace/workspace_proposal_segment_step.dart
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_repositories/pubspec.yaml
Labels: review me, dart

#905 feat(cat-voices): wallet link details
  catalyst_voices/lib/pages/account/account_popup.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/intro_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/rbac_transaction_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/roles_chooser_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/roles_summary_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/select_wallet_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/stage/wallet_details_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/wallet_details/wallet_details_panel.dart
  catalyst_voices/lib/pages/registration/wallet_link/wallet_link_panel.dart
  catalyst_voices/lib/widgets/menu/voices_wallet_tile.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/cubits/wallet_link_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/catalyst_voices_blocs/lib/src/registration/wallet_link_state_data.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/catalyst_voices_models/lib/src/wallet/cardano_wallet_details.dart
  catalyst_voices/packages/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/formatter/wallet_address_formatter.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/formatter/wallet_address_formatter_test.dart
Labels: review me, ux/ui, dart
