Repository input-output-hk/catalyst-voices, pull requests merged in 2024-08, with the labels that each got.

#659 feat: add snackbars
  catalyst_voices/lib/widgets/snackbar/voices_snackbar.dart
  catalyst_voices/lib/widgets/snackbar/voices_snackbar_type.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/catalyst_voices_brands.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/theme_extensions/voices_color_scheme.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/utils/typedefs.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/catalyst_voices_localization/lib/src/catalyst_voices_localization.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/src/typedefs.dart
  catalyst_voices/uikit_example/lib/examples/voices_snackbar_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Labels: review me, dart

#662 feat: VoicesButtons
  catalyst_voices/lib/widgets/buttons/voices_button_affix_decoration.dart
  catalyst_voices/lib/widgets/buttons/voices_filled_button.dart
  catalyst_voices/lib/widgets/buttons/voices_icon_button.dart
  catalyst_voices/lib/widgets/buttons/voices_outlined_button.dart
  catalyst_voices/lib/widgets/buttons/voices_text_button.dart
  catalyst_voices/lib/widgets/chips/voices_chip.dart
  catalyst_voices/lib/widgets/common/affix_decorator.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/widgets/buttons_theme.dart
  catalyst_voices/uikit_example/lib/examples/voices_buttons_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
  catalyst_voices/uikit_example/pubspec.yaml
  melos.yaml
Labels: review me, UI Kit

#661 fix: flutter coverage
  .github/workflows/generate-allure-report.yml
  Earthfile
  catalyst-gateway-crates/c509-certificate/Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
  docs/Earthfile
  melos.yaml
Labels: review me

#663 feat: VoicesCheckbox, VoicesCheckboxGroup, VoicesRadio
  .config/dictionaries/project.dic
  catalyst_voices/lib/widgets/common/label_decorator.dart
  catalyst_voices/lib/widgets/toggles/voices_checkbox.dart
  catalyst_voices/lib/widgets/toggles/voices_checkbox_group.dart
  catalyst_voices/lib/widgets/toggles/voices_radio.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/theme_extensions/voices_color_scheme.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/widgets/toggles_theme.dart
  catalyst_voices/pubspec.yaml
  catalyst_voices/test/widgets/common/affix_decorator_test.dart
  catalyst_voices/test/widgets/common/label_decorator_test.dart
  catalyst_voices/test/widgets/toggles/voices_checkbox_group_test.dart
  catalyst_voices/test/widgets/toggles/voices_checkbox_test.dart
  catalyst_voices/uikit_example/lib/examples/voices_checkbox_example.dart
  catalyst_voices/uikit_example/lib/examples/voices_radio_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Labels: review me, dart, UI Kit

#670 feat: switch, dividers, progress indicators
  catalyst_voices/lib/widgets/indicators/voices_circular_progress_indicator.dart
  catalyst_voices/lib/widgets/indicators/voices_linear_progress_indicator.dart
  catalyst_voices/lib/widgets/separators/voices_divider.dart
  catalyst_voices/lib/widgets/separators/voices_text_divider.dart
  catalyst_voices/lib/widgets/separators/voices_vertical_divider.dart
  catalyst_voices/lib/widgets/toggles/voices_switch.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/packages/catalyst_voices_brands/lib/src/themes/widgets/toggles_theme.dart
  catalyst_voices/uikit_example/lib/examples/voices_indicators_example.dart
  catalyst_voices/uikit_example/lib/examples/voices_separators_example.dart
  catalyst_voices/uikit_example/lib/examples/voices_switch_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Labels: review me, dart, UI Kit

#671 feat: add catv1 auth token generator
  catalyst_voices_packages/catalyst_cardano_serialization/lib/catalyst_cardano_serialization.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/auth_token.dart
  catalyst_voices_packages/catalyst_cardano_serialization/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano_serialization/test/rbac/auth_token_test.dart
  melos.yaml
Labels: review me, dart

#673 feat: ProcessProgressIndicator
  catalyst_voices/lib/widgets/indicators/process_progress_indicator.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/uikit_example/lib/examples/voices_indicators_example.dart
Labels: review me, dart, UI Kit

#669 feat!: COSE_SIGN1 signatures and verification
  .config/dictionaries/project.dic
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_rbac_tx.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/lib/src/catalyst_cardano.dart
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/lib/catalyst_cardano_web.dart
  catalyst_voices_packages/catalyst_compression/catalyst_compression/lib/src/catalyst_compression.dart
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/lib/catalyst_compression_web.dart
  catalyst_voices_packages/catalyst_cose/CHANGELOG.md
  catalyst_voices_packages/catalyst_cose/LICENSE
  catalyst_voices_packages/catalyst_cose/README.md
  catalyst_voices_packages/catalyst_cose/analysis_options.yaml
  catalyst_voices_packages/catalyst_cose/catalyst_cose/example/main.dart
  catalyst_voices_packages/catalyst_cose/catalyst_cose/lib/catalyst_cose.dart
  catalyst_voices_packages/catalyst_cose/catalyst_cose/lib/src/catalyst_cose.dart
  catalyst_voices_packages/catalyst_cose/catalyst_cose/pubspec.yaml
  catalyst_voices_packages/catalyst_cose/catalyst_cose_platform_interface/CHANGELOG.md
  catalyst_voices_packages/catalyst_cose/catalyst_cose_platform_interface/LICENSE
  catalyst_voices_packages/catalyst_cose/catalyst_cose_platform_interface/README.md
  catalyst_voices_packages/catalyst_cose/catalyst_cose_platform_interface/analysis_options.yaml
  catalyst_voices_packages/catalyst_cose/catalyst_cose_platform_interface/example/main.dart
  catalyst_voices_packages/catalyst_cose/catalyst_cose_platform_interface/lib/catalyst_cose_platform_interface.dart
  catalyst_voices_packages/catalyst_cose/catalyst_cose_platform_interface/lib/src/catalyst_cose_platform.dart
  catalyst_voices_packages/catalyst_cose/catalyst_cose_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_cose/catalyst_cose_web/CHANGELOG.md
  catalyst_voices_packages/catalyst_cose/catalyst_cose_web/LICENSE
  catalyst_voices_packages/catalyst_cose/catalyst_cose_web/README.md
  catalyst_voices_packages/catalyst_cose/catalyst_cose_web/analysis_options.yaml
  catalyst_voices_packages/catalyst_cose/catalyst_cose_web/assets/js/.gitignore
  catalyst_voices_packages/catalyst_cose/catalyst_cose_web/assets/js/README.md
  catalyst_voices_packages/catalyst_cose/catalyst_cose_web/assets/js/catalyst_cose.js
  catalyst_voices_packages/catalyst_cose/catalyst_cose_web/assets/js/main.js
  catalyst_voices_packages/catalyst_cose/catalyst_cose_web/assets/js/package.json
  catalyst_voices_packages/catalyst_cose/catalyst_cose_web/example/main.dart
  catalyst_voices_packages/catalyst_cose/catalyst_cose_web/lib/catalyst_cose_web.dart
  catalyst_voices_packages/catalyst_cose/catalyst_cose_web/lib/src/interop/catalyst_cose_interop.dart
  catalyst_voices_packages/catalyst_cose/catalyst_cose_web/pubspec.yaml
  catalyst_voices_packages/catalyst_cose/example/main.dart
  catalyst_voices_packages/catalyst_cose/lib/catalyst_cose.dart
  catalyst_voices_packages/catalyst_cose/lib/src/catalyst_cose.dart
  catalyst_voices_packages/catalyst_cose/pubspec.yaml
  catalyst_voices_packages/catalyst_cose/test/catalyst_cose_test.dart
  cspell.json
Labels: review me, dart

#676 feat: UIKit avatars
  catalyst_voices/lib/widgets/avatars/voices_avatar.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/test/widgets/avatars/voices_avatar_test.dart
  catalyst_voices/uikit_example/assets/images/robot_avatar.png
  catalyst_voices/uikit_example/lib/examples/voices_avatar_example.dart
  catalyst_voices/uikit_example/lib/examples/voices_chip_example.dart
  catalyst_voices/uikit_example/lib/examples/voices_snackbar_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
  catalyst_voices/uikit_example/lib/generated/assets.gen.dart
  catalyst_voices/uikit_example/pubspec.yaml
Labels: review me, dart, UI Kit

#678 chore(release): publish packages
  CHANGELOG.md
  catalyst_voices/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano_serialization/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano_serialization/pubspec.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression/CHANGELOG.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression/pubspec.yaml
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/CHANGELOG.md
  catalyst_voices_packages/catalyst_compression/catalyst_compression_web/pubspec.yaml
  catalyst_voices_packages/catalyst_cose/CHANGELOG.md
  catalyst_voices_packages/catalyst_cose/pubspec.yaml
Labels: review me

#679 fix!: cardano serialization must depend on flutter
  catalyst_voices_packages/README.md
  catalyst_voices_packages/catalyst_cardano_serialization/pubspec.yaml
Labels: review me, dart

#688 fix: rbac txn inputs hash
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_rbac_tx.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/hashes.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/hashes_test.dart
Labels: review me, dart

#689 feat: uikit text fields
  catalyst_voices/lib/widgets/text_field/voices_email_text_field.dart
  catalyst_voices/lib/widgets/text_field/voices_password_text_field.dart
  catalyst_voices/lib/widgets/text_field/voices_text_field.dart
  catalyst_voices/pubspec.yaml
  catalyst_voices/test/widgets/text_field/voices_text_field_test.dart
  catalyst_voices/uikit_example/lib/examples/voices_text_field_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Labels: review me, dart, UI Kit

#682 chore(release): publish packages
  CHANGELOG.md
  catalyst_voices/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/example/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_platform_interface/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano_web/pubspec.yaml
  catalyst_voices_packages/catalyst_cardano_serialization/CHANGELOG.md
  catalyst_voices_packages/catalyst_cardano_serialization/pubspec.yaml
Labels: review me

#694 fix: fixed text field validation if controller changed from the outside
  catalyst_voices/lib/widgets/text_field/voices_text_field.dart
Labels: review me, dart, UI Kit

#695 feat: floating action button
  catalyst_voices/uikit_example/lib/examples/voices_fab_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Labels: review me, dart, UI Kit

#697 feat: VoicesStatusIndicator
  catalyst_voices/lib/widgets/indicators/voices_status_indicator.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/uikit_example/lib/examples/voices_indicators_example.dart
Labels: review me, dart, UI Kit

#698 feat: uikit badge
  catalyst_voices/uikit_example/lib/examples/voices_badge_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Labels: review me, dart, UI Kit

#701 fix: to be signed message should be a plain cbor sequence, not a list
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/auth_token.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/rbac/auth_token_test.dart
Labels: bug, review me, dart

#702 feat: SeedPhrasesSequencer and SeedPhrasesViewer
  catalyst_voices/lib/widgets/common/columns_row.dart
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_completer.dart
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_picker.dart
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_sequencer.dart
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_viewer.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/test/widgets/common/columns_row_test.dart
  catalyst_voices/test/widgets/seed_phrase/seed_phrases_sequencer_test.dart
  catalyst_voices/uikit_example/lib/examples/voices_seed_phrase_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Labels: review me, dart, UI Kit

#703 fix!: required signers should be the hash of the public key, not the public key
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/builders/transaction_builder.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/hashes.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/transaction.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/fees_test.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/test_utils/test_data.dart
  catalyst_voices_packages/catalyst_cardano_serialization/test/transaction_test.dart
Labels: bug, review me, dart

#706 fix: seed phrases slot loc
  catalyst_voices/lib/widgets/seed_phrase/seed_phrases_completer.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/test/helpers/pump_app.dart
  catalyst_voices/test/widgets/seed_phrase/seed_phrases_sequencer_test.dart
Labels: bug, review me, dart, UI Kit

#705 feat: Iterable separatedBy/separatedByIndexed extension
  catalyst_voices/lib/widgets/common/columns_row.dart
  catalyst_voices/lib/widgets/indicators/voices_status_indicator.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/catalyst_voices_shared/lib/src/utils/iterable_ext.dart
  catalyst_voices/packages/catalyst_voices_shared/test/src/utils/iterable_ext_test.dart
  catalyst_voices/uikit_example/lib/examples/voices_buttons_example.dart
  catalyst_voices/uikit_example/lib/examples/voices_indicators_example.dart
  catalyst_voices/uikit_example/pubspec.yaml
Labels: review me, dart

#696 feat(catalyst_cardano_serialization): add CborEncodable interface for standardized CBOR handling
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/address.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/rbac/registration_data.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/transaction.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/types.dart
  catalyst_voices_packages/catalyst_cardano_serialization/lib/src/witness.dart
Labels: dart

#714 feat: text field resizable
  catalyst_voices/lib/widgets/text_field/voices_text_field.dart
  catalyst_voices/packages/catalyst_voices_assets/assets/images/dragger.svg
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/assets.gen.dart
  catalyst_voices/uikit_example/lib/examples/voices_text_field_example.dart
Labels: review me, dart, UI Kit

#718 feat: discovery_spaces
  catalyst_voices/lib/widgets/app_bar/voices_app_bar.dart
  catalyst_voices/lib/widgets/common/link_text.dart
  catalyst_voices/lib/widgets/common/navigation_location.dart
  catalyst_voices/lib/widgets/drawer/voices_drawer.dart
  catalyst_voices/lib/widgets/footers/links_page_footer.dart
  catalyst_voices/lib/widgets/footers/page_footer.dart
  catalyst_voices/lib/widgets/footers/standard_links_page_footer.dart
  catalyst_voices/lib/widgets/text_field/voices_text_field.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_assets/assets/images/facebook.svg
  catalyst_voices/packages/catalyst_voices_assets/assets/images/facebook_mono.svg
  catalyst_voices/packages/catalyst_voices_assets/assets/images/linkedin.svg
  catalyst_voices/packages/catalyst_voices_assets/assets/images/linkedin_mono.svg
  catalyst_voices/packages/catalyst_voices_assets/assets/images/x.svg
  catalyst_voices/packages/catalyst_voices_assets/assets/images/x_mono.svg
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/assets.gen.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/assets_ext.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_svg_icon.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_svg_picture.dart
  catalyst_voices/packages/catalyst_voices_assets/lib/src/catalyst_voices_assets.dart
  catalyst_voices/packages/catalyst_voices_assets/pubspec.yaml
  catalyst_voices/test/widgets/common/link_text_test.dart
  catalyst_voices/test/widgets/common/navigation_location_test.dart
  catalyst_voices/uikit_example/lib/examples/voices_spaces_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Labels: review me, ux/ui, dart

#712 feat: menu
  catalyst_voices/lib/widgets/menu/voices_menu.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/test/widgets/menu/voices_menu_test.dart
  catalyst_voices/uikit_example/lib/examples/voices_menu_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Labels: review me, dart

#741 feat: TreeView + VoicesNodeMenu
  catalyst_voices/lib/widgets/common/simple_tree_view.dart
  catalyst_voices/lib/widgets/menu/voices_menu.dart
  catalyst_voices/lib/widgets/menu/voices_node_menu.dart
  catalyst_voices/lib/widgets/separators/voices_divider.dart
  catalyst_voices/lib/widgets/separators/voices_vertical_divider.dart
  catalyst_voices/lib/widgets/widgets.dart
  catalyst_voices/packages/catalyst_voices_assets/assets/images/node-closed.svg
  catalyst_voices/packages/catalyst_voices_assets/assets/images/node_open.svg
  catalyst_voices/packages/catalyst_voices_assets/assets/images/view_grid.svg
  catalyst_voices/packages/catalyst_voices_assets/lib/generated/assets.gen.dart
  catalyst_voices/uikit_example/lib/examples/voices_menu_example.dart
  catalyst_voices/uikit_example/lib/examples/voices_tree_view_example.dart
  catalyst_voices/uikit_example/lib/examples_list.dart
Labels: review me, dart, UI Kit
