Repository input-output-hk/catalyst-voices, pull requests merged in 2024-11, with the labels that each got.

#1098 docs(docs): Add targets to make it easy to locally preview docs.
  .config/dictionaries/project.dic
  Earthfile
  catalyst-gateway/Earthfile
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/tests/Earthfile
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst_voices/Earthfile
  catalyst_voices/uikit_example/Earthfile
  catalyst_voices_packages/catalyst_cardano/catalyst_cardano/wallet-automation/Earthfile
  docs/Earthfile
  justfile
  utilities/docs-preview/.gitignore
  utilities/docs-preview/Earthfile
  utilities/docs-preview/justfile
Labels: documentation, review me

#1116 refactor(cat-voices): choose other wallet clarification
  catalyst_voices/apps/voices/lib/pages/registration/wallet_link/stage/roles_chooser_panel.dart
  catalyst_voices/apps/voices/lib/pages/registration/wallet_link/stage/wallet_details_panel.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
Labels: review me, dart

#1117 fix(cat-voices): display correct seed phrase words
  catalyst_voices/apps/voices/lib/pages/registration/create_keychain/stage/seed_phrase_panel.dart
Labels: bug, do not review yet, review me, dart

#1120 feat(cat-voices): back buttons in get create recovery dialog
  catalyst_voices/apps/voices/lib/pages/registration/create_keychain/stage/splash_panel.dart
  catalyst_voices/apps/voices/lib/pages/registration/recover/recover_method_panel.dart
  catalyst_voices/apps/voices/macos/Flutter/GeneratedPluginRegistrant.swift
Labels: review me, ux/ui

#1126 fix(cat-voices): remove unused CatalystDataGatewayRepository
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/catalyst_data_gateway_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/catalyst_data_gateway_repository/catalyst_data_gateway_repository_test.dart
Labels: bug, review me, dart

#1127 feat(cat-voices): add constants and URL parsing for supported wallets
  catalyst_voices/apps/voices/lib/common/constants/constants.dart
  catalyst_voices/apps/voices/lib/common/ext/string_ext.dart
  catalyst_voices/apps/voices/lib/pages/registration/wallet_link/stage/select_wallet_panel.dart
Labels: review me, ux/ui, dart

#1099 fix(cat-gateway): OpenAPI Lint Cleanup Part 2
  .config/dictionaries/project.dic
  catalyst-gateway/Justfile
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/build_info.rs
  catalyst-gateway/bin/src/db/index/block/certs.rs
  catalyst-gateway/bin/src/db/index/queries/registrations/get_from_stake_addr.rs
  catalyst-gateway/bin/src/db/index/schema/cql/txo_assets_by_stake_table.cql
  catalyst-gateway/bin/src/service/api/cardano/cip36.rs
  catalyst-gateway/bin/src/service/api/cardano/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/rbac/chain_root_get.rs
  catalyst-gateway/bin/src/service/api/cardano/rbac/registrations_get.rs
  catalyst-gateway/bin/src/service/api/cardano/rbac/role0_chain_root_get.rs
  catalyst-gateway/bin/src/service/api/cardano/staking/assets_get.rs
  catalyst-gateway/bin/src/service/api/cardano/staking/mod.rs
  catalyst-gateway/bin/src/service/api/config/mod.rs
  catalyst-gateway/bin/src/service/api/legacy/registration/mod.rs
  catalyst-gateway/bin/src/service/api/legacy/v0/mod.rs
  catalyst-gateway/bin/src/service/api/legacy/v1/account_votes_get.rs
  catalyst-gateway/bin/src/service/api/legacy/v1/mod.rs
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/cip36.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/stake_info.rs
  catalyst-gateway/bin/src/service/common/objects/legacy/account_votes.rs
  catalyst-gateway/bin/src/service/common/objects/legacy/block.rs
  catalyst-gateway/bin/src/service/common/responses/code_503_service_unavailable.rs
  catalyst-gateway/bin/src/service/common/responses/mod.rs
  catalyst-gateway/bin/src/service/common/tags.rs
  catalyst-gateway/bin/src/service/common/types/cardano/address.rs
  catalyst-gateway/bin/src/service/common/types/cardano/asset_name.rs
  catalyst-gateway/bin/src/service/common/types/cardano/asset_value.rs
  catalyst-gateway/bin/src/service/common/types/cardano/hash28.rs
  catalyst-gateway/bin/src/service/common/types/cardano/mod.rs
  catalyst-gateway/bin/src/service/common/types/generic/ed25519_public_key.rs
  catalyst-gateway/bin/src/service/common/types/generic/mod.rs
  catalyst-gateway/bin/src/service/common/types/headers/retry_after.rs
  catalyst-gateway/bin/src/service/common/types/mod.rs
  catalyst-gateway/bin/src/service/common/types/string_types.rs
  catalyst-gateway/bin/src/utils/ed25519.rs
  catalyst-gateway/bin/src/utils/mod.rs
  catalyst-gateway/tests/.oapi-v3.spectral.yml
  catalyst-gateway/tests/.spectral.yml
  catalyst-gateway/tests/Earthfile
  catalyst_voices/packages/internal/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.g.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.chopper.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.dart
Labels: review me

#1133 fix: redirecting after keychain is deleted
  catalyst_voices/apps/voices/lib/configs/bootstrap.dart
  catalyst_voices/apps/voices/lib/pages/account/account_page.dart
  catalyst_voices/apps/voices/lib/pages/account/delete_keychain_dialog.dart
  catalyst_voices/apps/voices/lib/pages/account/keychain_deleted_dialog.dart
  catalyst_voices/apps/voices/lib/routes/app_router.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
Labels: bug, review me

#1137 refactor(cat-voices): Update button text in roles_summary_panel
  catalyst_voices/apps/voices/lib/pages/registration/wallet_link/stage/roles_summary_panel.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
Labels: review me, ux/ui

#1140 feat(cat-voices): text field required onFieldSubmitted
  catalyst_voices/apps/voices/lib/pages/account/delete_keychain_dialog.dart
  catalyst_voices/apps/voices/lib/pages/login/login_email_text_filed.dart
  catalyst_voices/apps/voices/lib/pages/voting/voting_page.dart
  catalyst_voices/apps/voices/lib/widgets/text_field/voices_email_text_field.dart
  catalyst_voices/apps/voices/lib/widgets/text_field/voices_text_field.dart
  catalyst_voices/apps/voices/test/widgets/text_field/voices_text_field_test.dart
  catalyst_voices/utilities/uikit_example/lib/examples/voices_text_field_example.dart
Labels: review me, dart

#1147 feat(cat-voices): recover different keychain
  catalyst_voices/apps/voices/lib/pages/registration/recover/seed_phrase/account_details_panel.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/registration/cubits/recover_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/session/session_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/test/session/session_cubit_test.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/user/user_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/user/user_service_test.dart
Labels: review me, dart

#1151 fix(cat-voices): account recovery keychain password
  catalyst_voices/apps/voices/lib/pages/registration/recover/seed_phrase/unlock_password_panel.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/registration/cubits/recover_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/registration/registration_service.dart
Labels: bug, review me, dart

#1175 feat(cat-voices): unify sections navigation
  catalyst_voices/apps/voices/lib/pages/treasury/campaign_builder_panel.dart
  catalyst_voices/apps/voices/lib/pages/treasury/campaign_details.dart
  catalyst_voices/apps/voices/lib/pages/treasury/campaign_segment_controller.dart
  catalyst_voices/apps/voices/lib/pages/treasury/treasury_body.dart
  catalyst_voices/apps/voices/lib/pages/treasury/treasury_campaign_builder_ext.dart
  catalyst_voices/apps/voices/lib/pages/treasury/treasury_campaign_setup.dart
  catalyst_voices/apps/voices/lib/pages/treasury/treasury_details_panel.dart
  catalyst_voices/apps/voices/lib/pages/treasury/treasury_navigation_panel.dart
  catalyst_voices/apps/voices/lib/pages/treasury/treasury_page.dart
  catalyst_voices/apps/voices/lib/pages/workspace/proposal_details.dart
  catalyst_voices/apps/voices/lib/pages/workspace/proposal_navigation_panel.dart
  catalyst_voices/apps/voices/lib/pages/workspace/proposal_segment_controller.dart
  catalyst_voices/apps/voices/lib/pages/workspace/workspace_body.dart
  catalyst_voices/apps/voices/lib/pages/workspace/workspace_form_section.dart
  catalyst_voices/apps/voices/lib/pages/workspace/workspace_navigation_panel.dart
  catalyst_voices/apps/voices/lib/pages/workspace/workspace_page.dart
  catalyst_voices/apps/voices/lib/pages/workspace/workspace_proposal_navigation_ext.dart
  catalyst_voices/apps/voices/lib/pages/workspace/workspace_setup_panel.dart
  catalyst_voices/apps/voices/lib/widgets/containers/sidebar_scaffold.dart
  catalyst_voices/apps/voices/lib/widgets/containers/space_scaffold.dart
  catalyst_voices/apps/voices/lib/widgets/menu/voices_node_menu.dart
  catalyst_voices/apps/voices/lib/widgets/navigation/sections_controller.dart
  catalyst_voices/apps/voices/lib/widgets/navigation/sections_menu.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/treasury/treasury_campaign_builder.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/treasury/treasury_campaign_segment.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/treasury/treasury_campaign_segment_step.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/workspace/workspace_proposal_navigation.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/workspace/workspace_proposal_segment.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/workspace/workspace_proposal_segment_step.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/catalyst_voices_view_models.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/navigation/sections_navigation.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/treasury/campaign_setup.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/treasury/treasury_sections.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/workspace/capability_and_feasibility.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/workspace/proposal_impact.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/workspace/proposal_setup.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/workspace/proposal_solution.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/workspace/proposal_summary.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/workspace/workspace_sections.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/pubspec.yaml
  catalyst_voices/utilities/uikit_example/lib/examples/voices_menu_example.dart
Labels: review me, dart

#1204 feat(cat-voices): workspace segments behaviour
  catalyst_voices/apps/voices/lib/pages/treasury/treasury_body.dart
  catalyst_voices/apps/voices/lib/pages/treasury/treasury_campaign_setup.dart
  catalyst_voices/apps/voices/lib/pages/treasury/treasury_dummy_topic_step.dart
  catalyst_voices/apps/voices/lib/pages/treasury/treasury_navigation_panel.dart
  catalyst_voices/apps/voices/lib/pages/treasury/treasury_page.dart
  catalyst_voices/apps/voices/lib/pages/workspace/workspace_body.dart
  catalyst_voices/apps/voices/lib/pages/workspace/workspace_form_section.dart
  catalyst_voices/apps/voices/lib/pages/workspace/workspace_navigation_panel.dart
  catalyst_voices/apps/voices/lib/pages/workspace/workspace_page.dart
  catalyst_voices/apps/voices/lib/pages/workspace/workspace_rich_text_step.dart
  catalyst_voices/apps/voices/lib/widgets/buttons/voices_buttons.dart
  catalyst_voices/apps/voices/lib/widgets/common/animated_expand_chevron.dart
  catalyst_voices/apps/voices/lib/widgets/containers/space_scaffold.dart
  catalyst_voices/apps/voices/lib/widgets/headers/segment_header.dart
  catalyst_voices/apps/voices/lib/widgets/navigation/section_header.dart
  catalyst_voices/apps/voices/lib/widgets/navigation/section_step_state_builder.dart
  catalyst_voices/apps/voices/lib/widgets/navigation/sections_controller.dart
  catalyst_voices/apps/voices/lib/widgets/navigation/sections_list_view.dart
  catalyst_voices/apps/voices/lib/widgets/navigation/sections_list_view_builder.dart
  catalyst_voices/apps/voices/lib/widgets/navigation/sections_menu.dart
  catalyst_voices/apps/voices/lib/widgets/widgets.dart
  catalyst_voices/apps/voices/pubspec.yaml
  catalyst_voices/melos.yaml
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/catalyst_voices_view_models.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/navigation/sections_list_view_item.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/navigation/sections_navigation.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/treasury/campaign_setup.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/treasury/treasury_sections.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/workspace/capability_and_feasibility.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/workspace/proposal_impact.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/workspace/proposal_setup.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/workspace/proposal_solution.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/workspace/proposal_summary.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/workspace/workspace_sections.dart
Labels: review me, ux/ui, dart

#1205 fix(cat-voices): remove unused catalyst voices deploy github action
  .github/workflows/build-flutter-web.yml
Labels: review me

#1207 fix(flutter/catalyst_compression): catalyst compression doesn't load in dev
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/example/lib/main.dart
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/example/web/enable-threads.js
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/example/web/index.html
  catalyst_voices/packages/libs/catalyst_compression/catalyst_compression_web/assets/js/brotli/brotli_wasm.js
  catalyst_voices/packages/libs/catalyst_compression/catalyst_compression_web/assets/js/brotli/brotli_wasm_bg.wasm
  catalyst_voices/packages/libs/catalyst_compression/catalyst_compression_web/assets/js/brotli/index.js
  catalyst_voices/packages/libs/catalyst_compression/catalyst_compression_web/assets/js/catalyst_compression_worker.js
  catalyst_voices/packages/libs/catalyst_compression/catalyst_compression_web/assets/js/zstd/index.js
  catalyst_voices/packages/libs/catalyst_compression/catalyst_compression_web/pubspec.yaml
Labels: bug, review me, dart

#1191 chore(cat-voices): Removing code generated files from repo
  catalyst_voices/.gitignore
  catalyst_voices/.idea/.name
  catalyst_voices/.idea/libraries/Dart_Packages.xml
  catalyst_voices/.idea/libraries/Dart_SDK.xml
  catalyst_voices/.idea/libraries/Flutter_Plugins.xml
  catalyst_voices/.idea/misc.xml
  catalyst_voices/.idea/modules.xml
  catalyst_voices/.idea/runConfigurations/melos_bootstrap.xml
  catalyst_voices/.idea/runConfigurations/melos_clean.xml
  catalyst_voices/.idea/runConfigurations/melos_run_format_check.xml
  catalyst_voices/.idea/runConfigurations/melos_run_metrics.xml
  catalyst_voices/.idea/runConfigurations/melos_run_test.xml
  catalyst_voices/.idea/runConfigurations/melos_run_test_select.xml
  catalyst_voices/.idea/vcs.xml
  catalyst_voices/.idea/workspace.xml
  catalyst_voices/Earthfile
  catalyst_voices/README.md
  catalyst_voices/apps/voices/integration_test/Earthfile
  catalyst_voices/apps/voices/lib/routes/routing/account_route.g.dart
  catalyst_voices/apps/voices/lib/routes/routing/coming_soon_route.g.dart
  catalyst_voices/apps/voices/lib/routes/routing/login_route.g.dart
  catalyst_voices/apps/voices/lib/routes/routing/overall_spaces_route.g.dart
  catalyst_voices/apps/voices/lib/routes/routing/spaces_route.g.dart
  catalyst_voices/packages/internal/catalyst_voices_assets/lib/generated/assets.gen.dart
  catalyst_voices/packages/internal/catalyst_voices_assets/lib/generated/colors.gen.dart
  catalyst_voices/packages/internal/catalyst_voices_assets/lib/generated/fonts.gen.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/generated/catalyst_voices_localizations.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_en.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/generated/catalyst_voices_localizations_es.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.enums.swagger.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.models.swagger.g.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.chopper.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/generated/catalyst_gateway/cat_gateway_api.swagger.dart
  utilities/local-cluster/.vagrant/rgloader/loader.rb
Labels: review me, dart

#1220 fix(cat-voices): expand arrow rotation
  catalyst_voices/apps/voices/lib/widgets/common/animated_expand_chevron.dart
Labels: bug, review me, dart

#1225 fix: disable flaky integration tests
  catalyst_voices/apps/voices/integration_test/Earthfile
Labels: review me, dart

#1226 fix(cat-voices): uikit deployment
  catalyst_voices/utilities/uikit_example/Earthfile
Labels: review me

#1177 feat(cat-voices): Proposal setup section
  .config/dictionaries/project.dic
  catalyst_voices/apps/voices/lib/common/ext/guidance_ext.dart
  catalyst_voices/apps/voices/lib/pages/workspace/workspace_guidance_view.dart
  catalyst_voices/apps/voices/lib/pages/workspace/workspace_page.dart
  catalyst_voices/apps/voices/lib/pages/workspace/workspace_setup_panel.dart
  catalyst_voices/apps/voices/lib/widgets/cards/comment_card.dart
  catalyst_voices/apps/voices/lib/widgets/cards/guidance_card.dart
  catalyst_voices/apps/voices/lib/widgets/dropdown/voices_dropdown.dart
  catalyst_voices/apps/voices/lib/widgets/navigation/sections_controller.dart
  catalyst_voices/apps/voices/test/widgets/dropdown/voices_dropdown_test.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/catalyst_voices_view_models.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/navigation/sections_navigation.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/proposal/comment.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/proposal/guidance/guidance.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/proposal/guidance/guidance_type.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/workspace/proposal_setup.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/workspace/proposal_solution.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/workspace/proposal_summary.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/workspace/workspace_sections.dart
Labels: review me, ux/ui, dart

#1227 feat(cat-voices): VoicesModalMenu 1183
  catalyst_voices/apps/voices/lib/widgets/menu/voices_modal_menu.dart
  catalyst_voices/apps/voices/lib/widgets/widgets.dart
Labels: review me, ux/ui, dart

#1237 fix(cat-voices): code coverage and test reports
  .github/workflows/generate-allure-report.yml
  catalyst_voices/Earthfile
  catalyst_voices/apps/voices/lib/pages/workspace/workspace_guidance_view.dart
  catalyst_voices/melos.yaml
Labels: bug, do not merge yet, review me, dart

#1236 feat(cat-voices): No proposal state widget
  catalyst_voices/apps/voices/lib/pages/workspace/workspace_guidance_view.dart
  catalyst_voices/apps/voices/lib/widgets/images/voices_image_scheme.dart
  catalyst_voices/apps/voices/lib/widgets/proposals/no_proposals.dart
  catalyst_voices/apps/voices/test/widgets/proposals/no_proposals_test.dart
  catalyst_voices/packages/internal/catalyst_voices_assets/assets/images/no_proposal_foreground.svg
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
Labels: review me, ux/ui

#1239 feat(cat-voices): campaign details and information
  catalyst_voices/apps/voices/lib/common/formatters/date_formatter.dart
  catalyst_voices/apps/voices/lib/widgets/modals/campaign/campaign_details_tile.dart
  catalyst_voices/apps/voices/lib/widgets/tiles/voices_expansion_tile.dart
  catalyst_voices/apps/voices/lib/widgets/widgets.dart
  catalyst_voices/apps/voices/test/common/formatters/date_formatter_test.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
Labels: review me, ux/ui, dart

#1251 feat(cat-voices): campaign categories
  catalyst_voices/apps/voices/lib/widgets/menu/voices_menu.dart
  catalyst_voices/apps/voices/lib/widgets/menu/voices_modal_menu.dart
  catalyst_voices/apps/voices/lib/widgets/modals/campaign/campaign_categories_tile.dart
  catalyst_voices/apps/voices/test/widgets/menu/voices_menu_test.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/keychain/vault_keychain.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/storage/vault/secure_storage_vault.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/storage/vault/vault.dart
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/keychain/vault_keychain_provider_test.dart
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/keychain/vault_keychain_test.dart
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/user/user_service_test.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/campaign/campaign_category.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/campaign/campaign_section.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/catalyst_voices_view_models.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/menu/menu_item.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/menu/popup_menu_item.dart
  catalyst_voices/utilities/uikit_example/lib/examples/voices_menu_example.dart
Labels: review me, ux/ui, dart

#1252 feat(cat-voices): autofocus password field to enable faster input
  catalyst_voices/apps/voices/lib/pages/account/unlock_keychain_dialog.dart
  catalyst_voices/apps/voices/lib/widgets/text_field/voices_password_text_field.dart
  catalyst_voices/apps/voices/lib/widgets/text_field/voices_text_field.dart
Labels: enhancement, review me, ux/ui, dart

#1242 feat(cat-voices): In-page Information Cards
  catalyst_voices/apps/voices/lib/common/formatters/date_formatter.dart
  catalyst_voices/apps/voices/lib/widgets/cards/in_page_information_card.dart
  catalyst_voices/apps/voices/test/widgets/cards/in_page_information_card_test.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/catalyst_voices_view_models.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/proposal/in_page_information.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/pubspec.yaml
Labels: review me, ux/ui

#1280 fix(cat-voices): equatable lint issue fix
  catalyst_voices/apps/voices/pubspec.yaml
  catalyst_voices/melos.yaml
  catalyst_voices/packages/internal/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/internal/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/keychain/vault_keychain.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/storage/vault/secure_storage_vault.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/storage/vault/vault.dart
  catalyst_voices/packages/internal/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/keychain/vault_keychain_provider_test.dart
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/keychain/vault_keychain_test.dart
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/user/user_service_test.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/pubspec.yaml
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/example/pubspec.yaml
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano_platform_interface/pubspec.yaml
  catalyst_voices/packages/libs/catalyst_cardano_serialization/pubspec.yaml
  catalyst_voices/packages/libs/catalyst_compression/catalyst_compression_platform_interface/pubspec.yaml
  catalyst_voices/packages/libs/catalyst_key_derivation/pubspec.yaml
Labels: review me

#1281 feat(cat-voices): discovery page mve3
  .config/dictionaries/project.dic
  catalyst_voices/apps/voices/lib/app/view/app.dart
  catalyst_voices/apps/voices/lib/common/formatters/date_formatter.dart
  catalyst_voices/apps/voices/lib/dependency/dependencies.dart
  catalyst_voices/apps/voices/lib/pages/account/unlock_keychain_dialog.dart
  catalyst_voices/apps/voices/lib/pages/discovery/current_status_text.dart
  catalyst_voices/apps/voices/lib/pages/discovery/discovery_page.dart
  catalyst_voices/apps/voices/lib/pages/workspace/workspace_guidance_view.dart
  catalyst_voices/apps/voices/lib/widgets/cards/pending_proposal_card.dart
  catalyst_voices/apps/voices/lib/widgets/empty_state/empty_state.dart
  catalyst_voices/apps/voices/lib/widgets/images/voices_image_scheme.dart
  catalyst_voices/apps/voices/lib/widgets/menu/voices_menu.dart
  catalyst_voices/apps/voices/lib/widgets/menu/voices_modal_menu.dart
  catalyst_voices/apps/voices/lib/widgets/modals/campaign/campaign_categories_tile.dart
  catalyst_voices/apps/voices/lib/widgets/modals/campaign/campaign_details_tile.dart
  catalyst_voices/apps/voices/lib/widgets/text_field/voices_password_text_field.dart
  catalyst_voices/apps/voices/lib/widgets/text_field/voices_text_field.dart
  catalyst_voices/apps/voices/lib/widgets/tiles/voices_expansion_tile.dart
  catalyst_voices/apps/voices/lib/widgets/widgets.dart
  catalyst_voices/apps/voices/test/common/formatters/date_formatter_test.dart
  catalyst_voices/apps/voices/test/widgets/empty_state/empty_state_test.dart
  catalyst_voices/apps/voices/test/widgets/menu/voices_menu_test.dart
  catalyst_voices/packages/internal/catalyst_voices_assets/assets/images/no_proposal_foreground.svg
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/catalyst_voices_blocs.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposals/proposals.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposals/proposals_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposals/proposals_state.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/test/proposals/proposals_cubit_test.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/catalyst_voices_repositories.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/proposal/proposal_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/pubspec.yaml
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/campaign/campaign_category.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/campaign/campaign_section.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/catalyst_voices_view_models.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/menu/menu_item.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/menu/popup_menu_item.dart
  catalyst_voices/utilities/uikit_example/lib/examples/voices_menu_example.dart
  docs/src/api/cat-gateway/stoplight_template.html
Labels: review me, ux/ui, dart

#1288 fix(flutter/catalyst_key_derivation): Accept non extended public key for rbac
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/registration/registration_transaction_builder.dart
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_rbac_tx.dart
  catalyst_voices/packages/libs/catalyst_cardano_serialization/lib/src/rbac/registration_data.dart
  catalyst_voices/packages/libs/catalyst_cardano_serialization/test/rbac/registration_data_test.dart
  catalyst_voices/packages/libs/catalyst_cardano_serialization/test/rbac/x509_certificate_test.dart
  catalyst_voices/packages/libs/catalyst_cardano_serialization/test/rbac/x509_certificate_test.mocks.dart
  catalyst_voices/packages/libs/catalyst_key_derivation/example/integration_test/catalyst_key_derivation_test.dart
  catalyst_voices/packages/libs/catalyst_key_derivation/lib/src/bip32_ed25519/bip32_ed25519_public_key.dart
  catalyst_voices/packages/libs/catalyst_key_derivation/lib/src/ed25519/ed25519_public_key.dart
Labels: bug, review me, dart

#1292 fix(dart/catalyst_cardano_serialization): remove key reference from RBAC, use local key ref instead
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/registration/registration_transaction_builder.dart
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_rbac_tx.dart
  catalyst_voices/packages/libs/catalyst_cardano_serialization/lib/src/rbac/registration_data.dart
  catalyst_voices/packages/libs/catalyst_cardano_serialization/test/rbac/registration_data_test.dart
Labels: bug, review me, dart

#1297 chore(cat-gateway): bump `cardano-chain-follower` version to v0.0.5
  catalyst-gateway/bin/Cargo.toml
Labels: review me

#1289 feat(cat-voices): campaign modal
  catalyst_voices/apps/voices/lib/dependency/dependencies.dart
  catalyst_voices/apps/voices/lib/pages/campaign/details/campaign_details_dialog.dart
  catalyst_voices/apps/voices/lib/pages/campaign/details/widgets/campaign_categories_tile.dart
  catalyst_voices/apps/voices/lib/pages/campaign/details/widgets/campaign_details_tile.dart
  catalyst_voices/apps/voices/lib/pages/campaign/details/widgets/campaign_header.dart
  catalyst_voices/apps/voices/lib/pages/campaign/details/widgets/campaign_sections_list_view.dart
  catalyst_voices/apps/voices/lib/pages/discovery/discovery_page.dart
  catalyst_voices/apps/voices/lib/widgets/modals/details/voices_details_dialog.dart
  catalyst_voices/apps/voices/lib/widgets/modals/details/voices_details_dialog_header.dart
  catalyst_voices/apps/voices/lib/widgets/modals/voices_desktop_dialog.dart
  catalyst_voices/apps/voices/lib/widgets/modals/voices_upload_file_dialog.dart
  catalyst_voices/apps/voices/lib/widgets/widgets.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/campaign/details/campaign_details.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/campaign/details/campaign_details_bloc.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/campaign/details/campaign_details_event.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/campaign/details/campaign_details_state.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/catalyst_voices_blocs.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/campaign/campaign.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/campaign/campaign_category.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/campaign/campaign_section.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/campaign/campaign_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/catalyst_voices_repositories.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/campaign/campaign_category_section.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/campaign/campaign_list_item.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/catalyst_voices_view_models.dart
  catalyst_voices/utilities/uikit_example/lib/examples/voices_modals_example.dart
Labels: review me, ux/ui, dart

#1293 refactor: date time text field
  catalyst_voices/apps/voices/lib/common/ext/time_of_day_ext.dart
  catalyst_voices/apps/voices/lib/widgets/pickers/voices_calendar_picker.dart
  catalyst_voices/apps/voices/lib/widgets/pickers/voices_time_picker.dart
  catalyst_voices/apps/voices/lib/widgets/text_field/date_time_picker/base_picker.dart
  catalyst_voices/apps/voices/lib/widgets/text_field/date_time_picker/field_date_picker_controller.dart
  catalyst_voices/apps/voices/lib/widgets/text_field/date_time_picker/voices_date_time_picker.dart
  catalyst_voices/apps/voices/lib/widgets/text_field/voices_date_field.dart
  catalyst_voices/apps/voices/lib/widgets/text_field/voices_date_time_field.dart
  catalyst_voices/apps/voices/lib/widgets/text_field/voices_date_time_text_field.dart
  catalyst_voices/apps/voices/lib/widgets/text_field/voices_text_field.dart
  catalyst_voices/apps/voices/lib/widgets/text_field/voices_time_field.dart
  catalyst_voices/apps/voices/lib/widgets/widgets.dart
  catalyst_voices/apps/voices/test/widgets/text_field/voices_text_field_test.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/catalyst_voices_view_models.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/date_picker/time_slot.dart
  catalyst_voices/utilities/uikit_example/lib/examples/voices_text_field_example.dart
Labels: review me, dart

#1224 feat(cat-voices): Date & Time input widget
  .config/dictionaries/project.dic
  catalyst_voices/.gitignore
  catalyst_voices/apps/voices/lib/common/ext/time_of_day_ext.dart
  catalyst_voices/apps/voices/lib/widgets/pickers/voices_calendar_picker.dart
  catalyst_voices/apps/voices/lib/widgets/pickers/voices_time_picker.dart
  catalyst_voices/apps/voices/lib/widgets/text_field/voices_date_field.dart
  catalyst_voices/apps/voices/lib/widgets/text_field/voices_date_time_field.dart
  catalyst_voices/apps/voices/lib/widgets/text_field/voices_date_time_text_field.dart
  catalyst_voices/apps/voices/lib/widgets/text_field/voices_text_field.dart
  catalyst_voices/apps/voices/lib/widgets/text_field/voices_time_field.dart
  catalyst_voices/apps/voices/lib/widgets/widgets.dart
  catalyst_voices/apps/voices/pubspec.yaml
  catalyst_voices/apps/voices/test/widgets/text_field/voices_text_field_test.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/utilities/uikit_example/lib/examples/voices_text_field_example.dart
  catalyst_voices/utilities/uikit_example/lib/generated/assets.gen.dart
Labels: review me, ux/ui, dart
