Repository input-output-hk/catalyst-voices, pull requests merged in 2024-12, with the labels that each got.

#1300 feat(docs): Document the key derivation path for Project Catalyst ED25519 Keys
  docs/src/architecture/08_concepts/key-derivation/.pages
  docs/src/architecture/08_concepts/key-derivation/derivation.md
Labels: review me

#1290 fix(dart/catalyst_cardano_serialization): x509 distinguished name structure
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/registration/registration_transaction_builder.dart
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/example/lib/sign_and_submit_rbac_tx.dart
  catalyst_voices/packages/libs/catalyst_cardano_serialization/lib/src/rbac/x509_certificate.dart
  catalyst_voices/packages/libs/catalyst_cardano_serialization/test/rbac/x509_certificate_test.dart
Labels: bug, review me, dart

#1310 feat(cat-voices): additional just functions for faster startup
  catalyst_voices/README.md
  catalyst_voices/justfile
Labels: documentation, review me, dart

#1301 fix(cat-voices): update key derivation path
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/user/account_role.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/crypto/key_derivation.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/registration/registration_transaction_builder.dart
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/crypto/key_derivation_test.dart
Labels: review me, dart

#1309 feat(cat-voices): admin preview tools
  .config/dictionaries/project.dic
  catalyst_voices/apps/voices/lib/pages/campaign/admin_tools/campaign_admin_tools_dialog.dart
  catalyst_voices/apps/voices/lib/pages/campaign/admin_tools/campaign_admin_tools_events.dart
  catalyst_voices/apps/voices/lib/pages/campaign/admin_tools/campaign_admin_tools_views.dart
  catalyst_voices/apps/voices/lib/pages/spaces/spaces_shell_page.dart
  catalyst_voices/apps/voices/lib/widgets/cards/campaign_preview_card.dart
  catalyst_voices/apps/voices/test/widgets/cards/campaign_preview_card_test.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/campaign/campaign_status.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/campaign/admin/campaign_preview_info.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/campaign/admin/campaign_status_info.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/catalyst_voices_view_models.dart
Labels: review me, ux/ui, dart

#1320 fix: frb unexpected cfg
  catalyst_voices/packages/libs/catalyst_key_derivation/rust/Cargo.toml
Labels: bug

#1302 feat(cat-voices): vit ss endpoints generating
  catalyst_voices/Earthfile
  catalyst_voices/melos.yaml
  catalyst_voices/packages/internal/catalyst_voices_repositories/pubspec.yaml
  catalyst_voices/packages/internal/catalyst_voices_services/build.yaml
  catalyst_voices/packages/internal/catalyst_voices_services/lib/generated/api/client_index.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/generated/api/client_mapping.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/generated/catalyst_gateway/client_index.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/api_models/overriden_models.dart
  catalyst_voices/packages/internal/catalyst_voices_services/openapi/vit.yaml
  catalyst_voices/packages/internal/catalyst_voices_services/pubspec.yaml
  cspell.json
Labels: review me, dart

#1316 fix(cat-gateway): bump `scylla` to v0.15.0
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/db/index/queries/mod.rs
  catalyst-gateway/bin/src/db/index/queries/rbac/get_chain_root.rs
  catalyst-gateway/bin/src/db/index/queries/rbac/get_registrations.rs
  catalyst-gateway/bin/src/db/index/queries/rbac/get_role0_chain_root.rs
  catalyst-gateway/bin/src/db/index/queries/registrations/get_from_stake_addr.rs
  catalyst-gateway/bin/src/db/index/queries/registrations/get_from_stake_hash.rs
  catalyst-gateway/bin/src/db/index/queries/registrations/get_from_vote_key.rs
  catalyst-gateway/bin/src/db/index/queries/registrations/get_invalid.rs
  catalyst-gateway/bin/src/db/index/queries/staked_ada/get_assets_by_stake_address.rs
  catalyst-gateway/bin/src/db/index/queries/staked_ada/get_txi_by_txn_hash.rs
  catalyst-gateway/bin/src/db/index/queries/staked_ada/get_txo_by_stake_address.rs
  catalyst-gateway/bin/src/db/index/queries/sync_status/get.rs
  catalyst-gateway/bin/src/db/index/queries/sync_status/update.rs
  catalyst-gateway/bin/src/db/index/session.rs
  catalyst-gateway/bin/src/service/api/cardano/rbac/chain_root_get.rs
  catalyst-gateway/bin/src/service/api/cardano/rbac/registrations_get.rs
  catalyst-gateway/bin/src/service/api/cardano/rbac/role0_chain_root_get.rs
Labels: review me

#1322 feat(cat-gateway): Add a signed documents repository storage table in the Event DB
  catalyst-gateway/event-db/migrations/V2__signed_documents.sql
  catalyst-gateway/event-db/migrations_unused/V2__brand_tables.sql
  catalyst-gateway/event-db/migrations_unused/V3__campaign_tables.sql
  catalyst-gateway/event-db/migrations_unused/V4__event_tables.sql
  catalyst-gateway/event-db/migrations_unused/V5__proposal_tables.sql
  catalyst-gateway/event-db/migrations_unused/V6__category_tables.sql
Labels: review me

#1315 feat(docs): Define signed document metadata fields
  .config/dictionaries/project.dic
  docs/src/architecture/08_concepts/signed_document_metadata/.pages
  docs/src/architecture/08_concepts/signed_document_metadata/metadata.md
Labels: documentation, review me, F14

#1304 feat(cat-voices): Integration tests using flutter_driver
  .config/dictionaries/project.dic
  .gitignore
  catalyst_voices/melos.yaml
  catalyst_voices/packages/internal/catalyst_voices_driver/.gitignore
  catalyst_voices/packages/internal/catalyst_voices_driver/.metadata
  catalyst_voices/packages/internal/catalyst_voices_driver/README.md
  catalyst_voices/packages/internal/catalyst_voices_driver/analysis_options.yaml
  catalyst_voices/packages/internal/catalyst_voices_driver/lib/catalyst_voices_driver.dart
  catalyst_voices/packages/internal/catalyst_voices_driver/lib/src/extension.dart
  catalyst_voices/packages/internal/catalyst_voices_driver/lib/src/extensions/voices_web_driver_ext.dart
  catalyst_voices/packages/internal/catalyst_voices_driver/lib/src/voices_web_driver.dart
  catalyst_voices/packages/internal/catalyst_voices_driver/pubspec.yaml
  catalyst_voices/packages/internal/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/example/.vscode/launch.json
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/example/README.md
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/example/lib/main.dart
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/example/pubspec.yaml
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/example/test_driver/app.dart
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/example/test_driver/app_test.dart
  catalyst_voices/utilities/uikit_example/lib/generated/assets.gen.dart
  cspell.json
Labels: ux/ui, dart, testplan

#1321 feat(cat-voices): Campaign info dialog on discovery
  catalyst_voices/apps/voices/lib/app/view/app.dart
  catalyst_voices/apps/voices/lib/dependency/dependencies.dart
  catalyst_voices/apps/voices/lib/pages/campaign/admin_tools/campaign_admin_tools_dialog.dart
  catalyst_voices/apps/voices/lib/pages/discovery/discovery_page.dart
  catalyst_voices/apps/voices/lib/pages/spaces/spaces_shell_page.dart
  catalyst_voices/apps/voices/lib/widgets/cards/campaign_stage_card.dart
  catalyst_voices/apps/voices/test/widgets/cards/campaign_preview_card_test.dart
  catalyst_voices/apps/voices/test/widgets/cards/campaign_stage_card_test.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/campaign/info/campaign_info.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/campaign/info/campaign_info_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/campaign/info/campaign_info_state.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/catalyst_voices_blocs.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/campaign/campaign.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/campaign/campaign_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/campaign/campaign_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/catalyst_voices_services.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/campaign/admin/campaign_preview_info.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/campaign/campaign_info.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/campaign/campaign_stage.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/catalyst_voices_view_models.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/test/campaign/campaign_stage_test.dart
Labels: review me, ux/ui, dart

#1323 feat(cat-voices): admin tools events timer
  catalyst_voices/apps/voices/lib/pages/campaign/admin_tools/campaign_admin_tools_events.dart
Labels: review me, dart

#1164 test(cat-voices): refactoring playwright tests
  .config/dictionaries/project.dic
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/wallet-automation/.nvmrc
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/wallet-automation/Earthfile
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/wallet-automation/README.md
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/wallet-automation/compose.yml
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/wallet-automation/global-setup.ts
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/wallet-automation/keys.txt
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/wallet-automation/nginx.conf
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/wallet-automation/package-lock.json
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/wallet-automation/package.json
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/wallet-automation/pages/homePage.ts
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/wallet-automation/pages/modal.ts
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/wallet-automation/pages/walletListPage.ts
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/wallet-automation/playwright.config.ts
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/wallet-automation/setup.ts
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/wallet-automation/test-fixtures.ts
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/wallet-automation/tests/wallets.spec.ts
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/wallet-automation/tsconfig.json
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/wallet-automation/utils.ts
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/wallet-automation/utils/extensionDownloader.ts
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/wallet-automation/utils/extensions.ts
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/wallet-automation/utils/walletConfigs.ts
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/wallet-automation/utils/wallets/eternlUtils.ts
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/wallet-automation/utils/wallets/laceUtils.ts
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/wallet-automation/utils/wallets/typhonUtils.ts
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/wallet-automation/utils/wallets/walletUtils.ts
  catalyst_voices/packages/libs/catalyst_cardano/catalyst_cardano/wallet-automation/wallet-tests.spec.ts
Labels: review me

#1326 feat(cat-voices): Admin view for overall spaces menu
  catalyst_voices/apps/voices/lib/common/ext/map_ext.dart
  catalyst_voices/apps/voices/lib/dependency/dependencies.dart
  catalyst_voices/apps/voices/lib/pages/overall_spaces/space/treasury_overview.dart
  catalyst_voices/apps/voices/lib/pages/overall_spaces/spaces_overview_list_view.dart
  catalyst_voices/apps/voices/lib/pages/spaces/drawer/spaces_drawer.dart
  catalyst_voices/apps/voices/lib/pages/spaces/spaces_shell_page.dart
  catalyst_voices/apps/voices/lib/routes/guards/user_access_guard.dart
  catalyst_voices/apps/voices/lib/routes/routing/overall_spaces_route.dart
  catalyst_voices/apps/voices/lib/routes/routing/spaces_route.dart
  catalyst_voices/apps/voices/lib/widgets/containers/grey_out_container.dart
  catalyst_voices/apps/voices/lib/widgets/drawer/voices_drawer_space_chooser.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/session/session_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/session/session_state.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/test/session/session_cubit_test.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/user/account.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/authentication/access_control.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/authentication/authentication.dart
Labels: review me, ux/ui

#1329 fix(cat-voices): update CatalystRBACTokenV1::is_young implementation
  catalyst-gateway/bin/src/service/common/auth/rbac/scheme.rs
  catalyst-gateway/bin/src/service/common/auth/rbac/token.rs
Labels: review me

#1335 feat(cat-voices): proposal editor template data flow
  catalyst_voices/apps/voices/lib/app/view/app.dart
  catalyst_voices/apps/voices/lib/common/codecs/markdown_codec.dart
  catalyst_voices/apps/voices/lib/common/ext/guidance_ext.dart
  catalyst_voices/apps/voices/lib/dependency/dependencies.dart
  catalyst_voices/apps/voices/lib/pages/spaces/drawer/my_private_proposals.dart
  catalyst_voices/apps/voices/lib/pages/treasury/treasury_page.dart
  catalyst_voices/apps/voices/lib/pages/workspace/rich_text/answer.dart
  catalyst_voices/apps/voices/lib/pages/workspace/rich_text/bonus_mark_up.dart
  catalyst_voices/apps/voices/lib/pages/workspace/rich_text/delivery_and_accountability.dart
  catalyst_voices/apps/voices/lib/pages/workspace/rich_text/feasibility_checks.dart
  catalyst_voices/apps/voices/lib/pages/workspace/rich_text/problem_statement.dart
  catalyst_voices/apps/voices/lib/pages/workspace/rich_text/public_description.dart
  catalyst_voices/apps/voices/lib/pages/workspace/rich_text/solution_statement.dart
  catalyst_voices/apps/voices/lib/pages/workspace/rich_text/title.dart
  catalyst_voices/apps/voices/lib/pages/workspace/rich_text/value_for_money.dart
  catalyst_voices/apps/voices/lib/pages/workspace/workspace_guidance_view.dart
  catalyst_voices/apps/voices/lib/pages/workspace/workspace_page.dart
  catalyst_voices/apps/voices/lib/pages/workspace/workspace_rich_text_step.dart
  catalyst_voices/apps/voices/lib/pages/workspace/workspace_setup_panel.dart
  catalyst_voices/apps/voices/lib/widgets/cards/guidance_card.dart
  catalyst_voices/apps/voices/lib/widgets/menu/voices_node_menu.dart
  catalyst_voices/apps/voices/lib/widgets/navigation/sections_controller.dart
  catalyst_voices/apps/voices/lib/widgets/navigation/sections_menu.dart
  catalyst_voices/apps/voices/lib/widgets/rich_text/voices_rich_text.dart
  catalyst_voices/apps/voices/pubspec.yaml
  catalyst_voices/apps/voices/test/common/codecs/markdown_codec_test.dart
  catalyst_voices/melos.yaml
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/catalyst_voices_blocs.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/workspace/workspace.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/workspace/workspace_bloc.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/workspace/workspace_event.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/workspace/workspace_state.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/test/proposals/proposals_cubit_test.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/document_json.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/markdown_data.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/proposal/guidance.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/proposal/proposal.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/proposal/proposal_builder.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/proposal/proposal_section.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/proposal/proposal_template.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/campaign/campaign_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/proposal/proposal_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/campaign/campaign_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/catalyst_voices_services.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/catalyst_voices_view_models.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/navigation/sections_navigation.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/proposal/guidance/guidance_type.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/workspace/capability_and_feasibility.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/workspace/proposal_impact.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/workspace/proposal_setup.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/workspace/proposal_solution.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/workspace/proposal_summary.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/workspace/workspace_sections.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/test/campaign/campaign_stage_test.dart
  catalyst_voices/utilities/uikit_example/lib/examples/voices_menu_example.dart
Labels: review me, dart

#1349 fix: naming mismatch
  catalyst-gateway/bin/src/db/index/block/mod.rs
  catalyst-gateway/bin/src/db/index/block/rbac509/insert_chain_root_for_stake_address.rs
  catalyst-gateway/bin/src/db/index/queries/mod.rs
Labels: do not merge yet, do not review yet

#1336 refactor(cat-voices): move api to repository package
  catalyst_voices/Earthfile
  catalyst_voices/justfile
  catalyst_voices/melos.yaml
  catalyst_voices/packages/internal/catalyst_voices_repositories/README.md
  catalyst_voices/packages/internal/catalyst_voices_repositories/build.yaml
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/generated/api/client_index.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/generated/api/client_mapping.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/api_models/overriden_models.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/catalyst_voices_repositories.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/credentials_storage_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/dummy_auth_storage.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/openapi-filters.json
  catalyst_voices/packages/internal/catalyst_voices_repositories/openapi/vit.yaml
  catalyst_voices/packages/internal/catalyst_voices_repositories/pubspec.yaml
  catalyst_voices/packages/internal/catalyst_voices_services/README.md
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/catalyst_voices_services.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/keychain/keychain.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/keychain/vault_keychain.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/registration/registration_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/user/user_storage.dart
  catalyst_voices/packages/internal/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/crypto/crypto_service.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/crypto/key_derivation.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/crypto/local_crypto_service.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/lockable.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/storage/secure_storage.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/storage/storage.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/storage/storage_string_mixin.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/storage/vault/secure_storage_vault.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/storage/vault/vault.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/packages/internal/catalyst_voices_shared/test/src/crypto/key_derivation_test.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/test/src/crypto/local_crypto_service_test.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/test/src/storage/secure_storage_test.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/test/src/storage/storage_string_mixin_test.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/test/src/storage/vault/secure_storage_vault_test.dart
  catalyst_voices/packages/libs/catalyst_cardano_serialization/test/rbac/x509_certificate_test.mocks.dart
Labels: review me, dart

#1354 fix(cat-gateway): Update `CIP509` new implementation
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/db/index/block/rbac509/insert_rbac509.rs
  catalyst-gateway/bin/src/db/index/block/rbac509/mod.rs
Labels: enhancement

#1351 fix(cat-voices): Log schema version check error
  catalyst-gateway/bin/src/service/utilities/middleware/schema_validation.rs
Labels: review me

#1361 fix(cat-voices): Fix/missing autofocus merge
  catalyst_voices/apps/voices/lib/pages/account/unlock_keychain_dialog.dart
  catalyst_voices/apps/voices/lib/widgets/text_field/voices_password_text_field.dart
  catalyst_voices/apps/voices/lib/widgets/text_field/voices_text_field.dart
  catalyst_voices/apps/voices/lib/widgets/widgets.dart
Labels: review me

#1368 feat(dart/catalyst_cardano_serialization): replace ulid by UUID in auth token
  catalyst_voices/melos.yaml
  catalyst_voices/packages/libs/catalyst_cardano_serialization/lib/src/rbac/auth_token.dart
  catalyst_voices/packages/libs/catalyst_cardano_serialization/lib/src/utils/cbor.dart
  catalyst_voices/packages/libs/catalyst_cardano_serialization/lib/src/utils/uuid.dart
  catalyst_voices/packages/libs/catalyst_cardano_serialization/pubspec.yaml
  catalyst_voices/packages/libs/catalyst_cardano_serialization/test/rbac/auth_token_test.dart
Labels: review me, dart

#1373 fix(cat-voices): snackbar no scaffold error
  catalyst_voices/apps/voices/lib/app/view/app_content.dart
Labels: bug, review me, dart

#1365 feat(cat-gateway): Catalyst signed docs simple upsert and select queries templates
  .config/dictionaries/project.dic
  catalyst-gateway/event-db/Earthfile
  catalyst-gateway/event-db/blueprint.cue
  catalyst-gateway/event-db/poetry.lock
  catalyst-gateway/event-db/pyproject.toml
  catalyst-gateway/event-db/queries/insert_signed_documents.sql
  catalyst-gateway/event-db/queries/select_signed_documents.sql.jinja
  catalyst-gateway/event-db/queries/select_signed_documents_2.sql.jinja
  catalyst-gateway/event-db/tests/docker-compose.yml
  catalyst-gateway/event-db/tests/test_signed_docs_queries.py
Labels: do not merge yet, draft

#1374 feat(dart/catalyst_cose): Catalyst COSE_SIGN support
  .config/dictionaries/project.dic
  catalyst_voices/packages/libs/catalyst_cose/README.md
  catalyst_voices/packages/libs/catalyst_cose/example/main.dart
  catalyst_voices/packages/libs/catalyst_cose/lib/catalyst_cose.dart
  catalyst_voices/packages/libs/catalyst_cose/lib/src/catalyst_cose.dart
  catalyst_voices/packages/libs/catalyst_cose/lib/src/cose_constants.dart
  catalyst_voices/packages/libs/catalyst_cose/lib/src/cose_sign.dart
  catalyst_voices/packages/libs/catalyst_cose/lib/src/cose_sign1.dart
  catalyst_voices/packages/libs/catalyst_cose/lib/src/types/cose_headers.dart
  catalyst_voices/packages/libs/catalyst_cose/lib/src/types/string_or_int.dart
  catalyst_voices/packages/libs/catalyst_cose/lib/src/types/uuid.dart
  catalyst_voices/packages/libs/catalyst_cose/lib/src/utils/cbor_utils.dart
  catalyst_voices/packages/libs/catalyst_cose/pubspec.yaml
  catalyst_voices/packages/libs/catalyst_cose/test/catalyst_cose_test.dart
  catalyst_voices/packages/libs/catalyst_cose/test/cose_sign1_test.dart
  catalyst_voices/packages/libs/catalyst_cose/test/cose_sign_test.dart
Labels: review me, dart

#1372 feat(cat-voices): Cached vault unlock state
  catalyst_voices/apps/voices/lib/app/view/app_active_state_listener.dart
  catalyst_voices/apps/voices/lib/app/view/app_content.dart
  catalyst_voices/apps/voices/lib/dependency/dependencies.dart
  catalyst_voices/apps/voices/pubspec.yaml
  catalyst_voices/melos.yaml
  catalyst_voices/packages/internal/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/internal/catalyst_voices_blocs/test/session/session_cubit_test.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/crypto/keychain_metadata.dart
  catalyst_voices/packages/internal/catalyst_voices_models/test/crypto/keychain_metadata_test.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/keychain/keychain.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/keychain/vault_keychain.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/keychain/vault_keychain_provider.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/user/user_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/keychain/keychain_transformers_test.dart
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/keychain/vault_keychain_provider_test.dart
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/keychain/vault_keychain_test.dart
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/user/user_service_test.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/cache/cache.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/cache/local_tll_cache.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/cache/ttl_cache.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/dependency/dependency_provider.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/storage/local_storage.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/storage/memory_storage.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/storage/secure_storage.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/storage/vault/secure_storage_vault.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/storage/vault/secure_storage_vault_cache.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/storage/vault/vault.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/utils/active_aware.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/utils/lockable.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/packages/internal/catalyst_voices_shared/test/src/cache/local_tll_cache_test.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/test/src/storage/vault/secure_storage_vault_test.dart
Labels: review me, dart

#1378 feat(cat-voices): app config model
  catalyst_voices/apps/voices/lib/configs/bootstrap.dart
  catalyst_voices/apps/voices/lib/dependency/dependencies.dart
  catalyst_voices/melos.yaml
  catalyst_voices/packages/internal/catalyst_voices_blocs/test/session/session_cubit_test.dart
  catalyst_voices/packages/internal/catalyst_voices_models/analysis_options.yaml
  catalyst_voices/packages/internal/catalyst_voices_models/build.yaml
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/app_config.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/internal/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/internal/catalyst_voices_repositories/analysis_options.yaml
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/catalyst_voices_repositories.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/config/config_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/catalyst_voices_services.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/config/config_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/keychain/vault_keychain_provider.dart
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/keychain/vault_keychain_provider_test.dart
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/user/user_service_test.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/utils/json_converters.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/pubspec.yaml
Labels: review me, dart

#1389 feat(cat-gateway): Signed docs insert query
  catalyst-gateway/Earthfile
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/db/event/mod.rs
  catalyst-gateway/bin/src/db/event/signed_docs/mod.rs
  catalyst-gateway/bin/src/db/event/signed_docs/sql/insert_signed_documents.sql
  catalyst-gateway/bin/src/db/event/signed_docs/tests/mod.rs
  catalyst-gateway/blueprint.cue
  catalyst-gateway/docker-compose.yml
  catalyst-gateway/event-db/migrations/V2__signed_documents.sql
Labels: review me

#1391 feat(cat-voices): caching user
  catalyst_voices/apps/voices/lib/dependency/dependencies.dart
  catalyst_voices/apps/voices/lib/pages/discovery/toggle_state_text.dart
  catalyst_voices/melos.yaml
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/registration/cubits/recover_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/session/session_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/session/session_state.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/test/session/session_cubit_test.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/app_config.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/user/account.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/user/user.dart
  catalyst_voices/packages/internal/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/internal/catalyst_voices_repositories/build.yaml
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/catalyst_voices_repositories.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/dto/app_config_dto.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/dto/user_dto.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/user/user_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/user/user_storage.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/utils/json_converters.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/catalyst_voices_services.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/keychain/keychain_transformers.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/registration/registration_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/user/dummy_user_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/user/user_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/user/user_storage.dart
  catalyst_voices/packages/internal/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/user/dummy_user_factory_test.dart
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/user/user_service_test.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/keychain/keychain.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/keychain/keychain_provider.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/keychain/keychain_transformers.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/keychain/vault_keychain.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/keychain/vault_keychain_provider.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/storage/vault/secure_storage_vault.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/utils/json_converters.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/utils/lockable.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/packages/internal/catalyst_voices_shared/test/src/keychain/keychain_transformers_test.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/test/src/keychain/vault_keychain_provider_test.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/test/src/keychain/vault_keychain_test.dart
Labels: review me, dart

#1396 feat(cat-voices): setup campaign stage dates
  catalyst_voices/apps/voices/lib/common/formatters/date_formatter.dart
  catalyst_voices/apps/voices/lib/pages/campaign/details/widgets/campaign_management.dart
  catalyst_voices/apps/voices/lib/pages/campaign/details/widgets/campaign_management_dialog.dart
  catalyst_voices/apps/voices/lib/pages/treasury/steps/treasury_campaign_categories_step.dart
  catalyst_voices/apps/voices/lib/pages/treasury/steps/treasury_campaign_details_step.dart
  catalyst_voices/apps/voices/lib/pages/treasury/steps/treasury_campaign_stages_edit_step.dart
  catalyst_voices/apps/voices/lib/pages/treasury/steps/treasury_campaign_stages_view_step.dart
  catalyst_voices/apps/voices/lib/pages/treasury/steps/treasury_campaign_widgets.dart
  catalyst_voices/apps/voices/lib/pages/treasury/steps/treasury_proposal_template_step.dart
  catalyst_voices/apps/voices/lib/pages/treasury/treasury_body.dart
  catalyst_voices/apps/voices/lib/pages/treasury/treasury_page.dart
  catalyst_voices/apps/voices/lib/routes/guards/user_access_guard.dart
  catalyst_voices/apps/voices/lib/widgets/containers/workspace_tile_container.dart
  catalyst_voices/apps/voices/lib/widgets/headers/segment_header.dart
  catalyst_voices/apps/voices/lib/widgets/navigation/sections_controller.dart
  catalyst_voices/apps/voices/lib/widgets/navigation/sections_list_view.dart
  catalyst_voices/apps/voices/macos/Flutter/GeneratedPluginRegistrant.swift
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/campaign/campaign_builder/campaign_builder_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/campaign/campaign_builder/campaign_builder_state.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/treasury/campaign_setup.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/treasury/treasury_sections.dart
Labels: review me, ux/ui, dart

#1401 feat(cat-voices): bootstrap router parameter
  catalyst_voices/apps/voices/integration_test/app_test.dart
  catalyst_voices/apps/voices/lib/configs/bootstrap.dart
Labels: review me, dart

#1409 feat(cat-voices): multi proposal workspace
  catalyst_voices/apps/voices/lib/app/view/app.dart
  catalyst_voices/apps/voices/lib/dependency/dependencies.dart
  catalyst_voices/apps/voices/lib/pages/discovery/discovery_page.dart
  catalyst_voices/apps/voices/lib/pages/proposal_builder/proposal_builder.dart
  catalyst_voices/apps/voices/lib/pages/proposal_builder/proposal_builder_body.dart
  catalyst_voices/apps/voices/lib/pages/proposal_builder/proposal_builder_guidance_view.dart
  catalyst_voices/apps/voices/lib/pages/proposal_builder/proposal_builder_navigation_panel.dart
  catalyst_voices/apps/voices/lib/pages/proposal_builder/proposal_builder_page.dart
  catalyst_voices/apps/voices/lib/pages/proposal_builder/proposal_builder_rich_text_step.dart
  catalyst_voices/apps/voices/lib/pages/proposal_builder/proposal_builder_setup_panel.dart
  catalyst_voices/apps/voices/lib/pages/workspace/workspace_empty_state.dart
  catalyst_voices/apps/voices/lib/pages/workspace/workspace_error.dart
  catalyst_voices/apps/voices/lib/pages/workspace/workspace_header.dart
  catalyst_voices/apps/voices/lib/pages/workspace/workspace_loading.dart
  catalyst_voices/apps/voices/lib/pages/workspace/workspace_page.dart
  catalyst_voices/apps/voices/lib/pages/workspace/workspace_proposals.dart
  catalyst_voices/apps/voices/lib/routes/routing/spaces_route.dart
  catalyst_voices/apps/voices/lib/widgets/empty_state/empty_state.dart
  catalyst_voices/apps/voices/lib/widgets/indicators/voices_indicator.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/catalyst_voices_blocs.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/proposal_builder.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/proposal_builder_bloc.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/proposal_builder_event.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/proposal_builder_state.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/workspace/workspace_bloc.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/workspace/workspace_event.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/workspace/workspace_state.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/catalyst_voices_view_models.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/workspace/workspace_proposal_list_item.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/workspace/workspace_tab_type.dart
Labels: review me, ux/ui, dart

#1424 feat(cat-voices): expose restart dependencies method
  catalyst_voices/apps/voices/lib/configs/bootstrap.dart
  catalyst_voices/apps/voices/lib/dependency/dependencies.dart
Labels: review me, dart

#1425 test(cat-voices): enable running multiple tests
  catalyst_voices/apps/voices/integration_test/app_test.dart
  catalyst_voices/apps/voices/integration_test/pageobject/app_bar_page.dart
  catalyst_voices/apps/voices/integration_test/pageobject/overall_spaces_page.dart
  catalyst_voices/apps/voices/integration_test/pageobject/spaces_drawer_page.dart
  catalyst_voices/apps/voices/integration_test/utils/selector_utils.dart
  catalyst_voices/apps/voices/lib/pages/overall_spaces/spaces_overview_list_view.dart
  catalyst_voices/apps/voices/lib/pages/spaces/drawer/discovery_menu.dart
  catalyst_voices/apps/voices/lib/pages/spaces/drawer/individual_private_campaigns.dart
  catalyst_voices/apps/voices/lib/pages/spaces/drawer/my_private_proposals.dart
  catalyst_voices/apps/voices/lib/pages/spaces/drawer/space_header.dart
  catalyst_voices/apps/voices/lib/pages/spaces/drawer/voting_rounds.dart
  catalyst_voices/apps/voices/lib/widgets/tiles/voices_nav_tile.dart
Labels: review me

#1406 test(cat-gateway): Setup Scylla testing environment
  catalyst-gateway/Earthfile
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/db/index/mod.rs
  catalyst-gateway/bin/src/db/index/tests/mod.rs
  catalyst-gateway/bin/src/db/index/tests/scylla_session.rs
  catalyst-gateway/blueprint.cue
Labels: review me

#1363 feat(cat-voices): proposal template models
  .config/dictionaries/project.dic
  catalyst-gateway/bin/Cargo.toml
  catalyst_voices/apps/voices/lib/widgets/document_builder/document_property.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document_builder/document_builder.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document_builder/document_definitions.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document_builder/document_schema.dart
  catalyst_voices/packages/internal/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/dto/document_builder_dto.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/dto/document_definitions_dto.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/dto/document_schema_dto.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/pubspec.yaml
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/assets/0ce8ab38-9258-4fbc-a62e-7faa6e58318f.schema.json
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/assets/generic_proposal.json
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/helpers/read_json.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/document_builder/document_builder_test.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/document_builder/document_definitions_test.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/document_builder/document_schema_test.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/document/extension/document_list_sort_ext.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/document/extension/document_map_to_list_ext.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/document/identifiable.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/range/range.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/pubspec.yaml
Labels: review me, dart

#1408 feat(cat-voices): encode/decode cose documents
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/document/document_manager.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/document/document_manager_impl.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/packages/internal/catalyst_voices_shared/test/src/document/document_manager_test.dart
  catalyst_voices/packages/libs/catalyst_cose/README.md
  catalyst_voices/packages/libs/catalyst_cose/example/main.dart
  catalyst_voices/packages/libs/catalyst_cose/lib/src/cose_constants.dart
  catalyst_voices/packages/libs/catalyst_cose/lib/src/cose_sign.dart
  catalyst_voices/packages/libs/catalyst_cose/lib/src/cose_sign1.dart
  catalyst_voices/packages/libs/catalyst_cose/lib/src/types/cose_headers.dart
  catalyst_voices/packages/libs/catalyst_cose/lib/src/types/uuid.dart
  catalyst_voices/packages/libs/catalyst_cose/lib/src/utils/cbor_utils.dart
  catalyst_voices/packages/libs/catalyst_cose/pubspec.yaml
  catalyst_voices/packages/libs/catalyst_cose/test/cose_sign1_test.dart
  catalyst_voices/packages/libs/catalyst_cose/test/cose_sign_test.dart
Labels: review me, dart

#1370 docs: Adds ADR on the migration to UUID7
  docs/src/architecture/09_architecture_decisions/0009-uuid7-vs-ulid.md
Labels: review me

#1449 test(cat-voices): Add running all test files
  catalyst_voices/apps/voices/integration_test/all_test.dart
  catalyst_voices/apps/voices/integration_test/app_test.dart
  catalyst_voices/apps/voices/integration_test/onboarding_test.dart
Labels: do not merge yet
