Repository input-output-hk/catalyst-voices, pull requests merged in 2025-06, with the labels that each got.

#2643 feat(cat-voices): proposals ordering
  catalyst_voices/apps/voices/lib/pages/proposals/proposals_page.dart
  catalyst_voices/apps/voices/lib/pages/proposals/widgets/proposals_latest_updated.dart
  catalyst_voices/apps/voices/lib/pages/proposals/widgets/proposals_order_dropdown.dart
  catalyst_voices/apps/voices/lib/pages/proposals/widgets/proposals_sub_header.dart
  catalyst_voices/apps/voices/lib/widgets/dropdown/voices_dropdown.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/discovery/discovery_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposals/proposals_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposals/proposals_cubit_cache.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposals/proposals_state.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/data/document_data_content.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/specialized/proposal_document.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/proposals/proposals_count_filters.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/proposals/proposals_filters.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/proposals/proposals_order.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/database/dao/proposals_dao.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/database/query/jsonb_expressions.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/source/database_documents_data_source.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/source/proposal_document_data_local_source.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/proposal/proposal_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/database/dao/proposals_dao_test.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/proposal/proposal_service.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/utils/uuid_utils.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/catalyst_voices_view_models.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/proposals/proposals_dropdown_order_item.dart
Labels: review me, dart, F14-RC2

#2646 feat(cat-voices): category brief dialog in proposal builder page
  catalyst_voices/apps/voices/lib/pages/proposal_builder/proposal_builder_action_widgets.dart
  catalyst_voices/apps/voices/lib/pages/proposal_builder/proposal_builder_document_widgets.dart
  catalyst_voices/apps/voices/lib/pages/proposal_builder/proposal_builder_segments.dart
  catalyst_voices/apps/voices/lib/widgets/document_builder/document_property_builder.dart
  catalyst_voices/apps/voices/lib/widgets/list/category_requirements_list.dart
  catalyst_voices/apps/voices/lib/widgets/modals/proposals/category_brief_dialog.dart
  catalyst_voices/apps/voices/lib/widgets/tiles/editable_tile.dart
  catalyst_voices/apps/voices/lib/widgets/tiles/specialized/document_builder_section_tile.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/specialized/proposal_document.dart
Labels: review me, ux/ui, dart, F14, F14-RC2

#2617 feat(cat-voices): dev tools logs
  catalyst_voices/apps/voices/lib/configs/bootstrap.dart
  catalyst_voices/apps/voices/lib/dependency/dependencies.dart
  catalyst_voices/apps/voices/lib/pages/dev_tools/cards/app_info_card.dart
  catalyst_voices/apps/voices/lib/pages/dev_tools/cards/config_card.dart
  catalyst_voices/apps/voices/lib/pages/dev_tools/cards/documents_card.dart
  catalyst_voices/apps/voices/lib/pages/dev_tools/cards/gateway_info_card.dart
  catalyst_voices/apps/voices/lib/pages/dev_tools/cards/info_card.dart
  catalyst_voices/apps/voices/lib/pages/dev_tools/cards/logs_card.dart
  catalyst_voices/apps/voices/lib/pages/dev_tools/dev_tools_page.dart
  catalyst_voices/apps/voices/lib/pages/dev_tools/widgets/environment_card.dart
  catalyst_voices/apps/voices/lib/pages/dev_tools/widgets/logs_collect_toggle.dart
  catalyst_voices/apps/voices/lib/pages/dev_tools/widgets/logs_export_button.dart
  catalyst_voices/apps/voices/lib/pages/dev_tools/widgets/logs_level_selector.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/dev_tools/dev_tools_bloc.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/dev_tools/dev_tools_event.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/dev_tools/dev_tools_state.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/logging/logging_settings.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/catalyst_voices_repositories.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/dto/logging_settings_dto.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/logging/logging_settings_storage.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/catalyst_voices_services.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/documents/documents_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/logging/collect/collect_log_strategy.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/logging/collect/memory_collect_log_strategy.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/logging/formatter/logs_formatter.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/logging/formatter/text_logs_formatter.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/logging/logging_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/logging/print/console_log_print_strategy.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/logging/print/log_print_strategy.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/logging/logger.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/logging/logging_service.dart
Labels: review me, dart

#2658 feat(cat-voices): show snackbar at the same level of share dialog
  catalyst_voices/apps/voices/lib/widgets/modals/proposals/share_proposal_dialog.dart
  catalyst_voices/apps/voices/lib/widgets/modals/voices_share_dialog.dart
Labels: bug, review me, dart, F14, F14-RC2

#2660 feat(cat-voices): favicon update
  catalyst_voices/apps/voices/web/favicon.png
  catalyst_voices/apps/voices/web/icons/Icon-192.png
  catalyst_voices/apps/voices/web/icons/Icon-512.png
  catalyst_voices/apps/voices/web/icons/Icon-maskable-192.png
  catalyst_voices/apps/voices/web/icons/Icon-maskable-512.png
  catalyst_voices/apps/voices/web/icons/favicon-192.png
  catalyst_voices/apps/voices/web/icons/favicon.png
  catalyst_voices/apps/voices/web/index.html
Labels: review me, ux/ui, dart

#2671 feat(cat-voices): reviews link resolved against env
  catalyst_voices/apps/voices/lib/common/constants/constants.dart
  catalyst_voices/apps/voices/lib/pages/dev_tools/widgets/environment_card.dart
  catalyst_voices/apps/voices/lib/pages/discovery/sections/stay_involved.dart
  catalyst_voices/apps/voices/lib/pages/spaces/drawer/opportunities_drawer.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/config/app_environment.dart
  catalyst_voices/packages/internal/catalyst_voices_models/test/config/app_environment_test.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/api/api_services.dart
Labels: bug, review me, dart

#2675 fix(cat-voices): handle unknown account with better error message
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/registration/cubits/recover_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/user/user_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/registration/exception/localized_registration_exception.dart
Labels: bug, review me, dart

#2682 fix(cat-voices): missing opportunities drawer in proposal builder
  catalyst_voices/apps/voices/lib/pages/proposal_builder/proposal_builder_page.dart
Labels: bug, review me, ux/ui

#2683 feat(cat-voices): submission close date for category
  catalyst_voices/apps/voices/lib/widgets/cards/create_proposal_card.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/campaign/campaign_service.dart
Labels: review me, ux/ui, dart, F14, F14-RC2

#2669 feat(cat-voices): discovery page RC 2 content update
  catalyst_voices/apps/voices/integration_test/pageobject/discovery/current_campaign_selector_page.dart
  catalyst_voices/apps/voices/lib/common/constants/constants.dart
  catalyst_voices/apps/voices/lib/common/formatters/date_formatter.dart
  catalyst_voices/apps/voices/lib/pages/discovery/sections/current_campaign.dart
  catalyst_voices/apps/voices/lib/pages/discovery/sections/session_account_catalyst_id.dart
  catalyst_voices/apps/voices/lib/pages/discovery/sections/stay_involved.dart
  catalyst_voices/apps/voices/lib/pages/spaces/drawer/opportunities_drawer.dart
  catalyst_voices/apps/voices/lib/pages/workspace/header/workspace_header.dart
  catalyst_voices/apps/voices/lib/pages/workspace/user_proposals/user_proposals.dart
  catalyst_voices/apps/voices/lib/widgets/campaign_timeline/campaign_timeline.dart
  catalyst_voices/apps/voices/lib/widgets/campaign_timeline/campaign_timeline_card.dart
  catalyst_voices/apps/voices/lib/widgets/cards/campaign_category_card.dart
  catalyst_voices/apps/voices/lib/widgets/cards/funds_detail_card.dart
  catalyst_voices/apps/voices/lib/widgets/text/campaign_stage_time_text.dart
  catalyst_voices/apps/voices/lib/widgets/text/tip_text.dart
  catalyst_voices/apps/voices/test/widgets/campaign_timeline/campaign_timeline_card_test.dart
  catalyst_voices/apps/voices/test/widgets/campaign_timeline/campaign_timeline_test.dart
  catalyst_voices/apps/voices/test/widgets/cards/funds_detail_card_test.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/discovery/discovery_state.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/campaign/campaign_timeline.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/campaign/current_campaign.dart
Labels: review me, ux/ui, dart, F14, F14-RC2

#2679 ci(general): Update/modify the recommended extensions for vscode.
  .vscode/extensions.json
Labels: review me

#2686 feat(cat-voices): filled buttons overlay and sp.words sequencer cells
  catalyst_voices/apps/voices/lib/pages/registration/create_keychain/stage/seed_phrase_check_panel.dart
  catalyst_voices/apps/voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/apps/voices/lib/pages/registration/registration_error_handler.dart
  catalyst_voices/apps/voices/lib/pages/registration/widgets/registration_tile.dart
  catalyst_voices/apps/voices/lib/widgets/seed_phrase/seed_phrases_completer.dart
  catalyst_voices/apps/voices/lib/widgets/seed_phrase/seed_phrases_picker.dart
  catalyst_voices/apps/voices/lib/widgets/seed_phrase/seed_phrases_sequencer.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/registration/cubits/keychain_creation_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_brands/lib/src/theme_extensions/voices_color_scheme.dart
  catalyst_voices/packages/internal/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/packages/internal/catalyst_voices_brands/lib/src/themes/widgets/buttons_theme.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/registration/exception/localized_registration_exception.dart
Labels: review me, dart, F14-RC2

#2695 feat(cat-voices): tapping log redirects to home and dev tools works under long press
  catalyst_voices/apps/voices/lib/widgets/app_bar/voices_app_bar.dart
  catalyst_voices/apps/voices/lib/widgets/dev_tools/dev_tools_enabler.dart
  catalyst_voices/apps/voices/lib/widgets/gesture/voices_gesture_detector.dart
Labels: review me, dart

#2713 feat(cat-voices): move proposal back arrow to AppBar
  catalyst_voices/apps/voices/lib/pages/proposal/proposal_page.dart
  catalyst_voices/apps/voices/lib/pages/proposal/widget/proposal_navigation_controls.dart
  catalyst_voices/apps/voices/lib/widgets/app_bar/voices_app_bar.dart
  catalyst_voices/apps/voices/lib/widgets/buttons/navigation_back.dart
  catalyst_voices/apps/voices/lib/widgets/buttons/voices_buttons.dart
  catalyst_voices/apps/voices/lib/widgets/widgets.dart
Labels: review me, dart

#2699 fix(cat-voices): validation inputs in proposal builder
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/proposal_builder_bloc.dart
Labels: review me, dart, F14

#2714 feat(cat-voices): requested amendments to copy text in discovery page
  catalyst_voices/apps/voices/lib/pages/category/category_detail_view.dart
  catalyst_voices/apps/voices/lib/pages/discovery/sections/stay_involved.dart
  catalyst_voices/apps/voices/lib/widgets/campaign_timeline/campaign_timeline.dart
  catalyst_voices/apps/voices/lib/widgets/cards/campaign_category_card.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/discovery/discovery_state.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/campaign/campaign_timeline.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/campaign/campaign_timeline_view_model.dart
Labels: do not merge yet, review me, ux/ui, dart

#2736 feat(cat-voices): add scroll alignment parameter to SegmentsController
  catalyst_voices/apps/voices/lib/pages/proposal/proposal_page.dart
  catalyst_voices/apps/voices/lib/widgets/segments/segments_controller.dart
Labels: bug, review me, dart, F14

#2621 fix(cat-gateway): 404 Error log for unknown URL
  catalyst-gateway/bin/src/metrics/endpoint.rs
  catalyst-gateway/bin/src/service/utilities/middleware/tracing_mw.rs
  catalyst-gateway/bin/src/settings/mod.rs
Labels: bug, review me

#2721 fix(cat-voices): assign proposal category id instead of category id
  catalyst-gateway/bin/src/service/api/documents/templates/data.rs
  catalyst-gateway/bin/src/service/api/documents/templates/docs/category/f14_concepts.schema.json
  catalyst-gateway/bin/src/service/api/documents/templates/docs/category/f14_developers.schema.json
  catalyst-gateway/bin/src/service/api/documents/templates/docs/category/f14_ecosystem.schema.json
  catalyst-gateway/bin/src/service/api/documents/templates/docs/category/f14_partner_product.schema.json
  catalyst-gateway/bin/src/service/api/documents/templates/docs/f14_proposal_template.schema.json
  catalyst-gateway/bin/src/service/api/documents/templates/docs/proposal/f14_concept.schema.json
  catalyst-gateway/bin/src/service/api/documents/templates/docs/proposal/f14_developer.schema.json
  catalyst-gateway/bin/src/service/api/documents/templates/docs/proposal/f14_ecosystem.schema.json
  catalyst-gateway/bin/src/service/api/documents/templates/docs/proposal/f14_partner_product.schema.json
  catalyst-gateway/bin/src/service/api/documents/templates/docs/proposal/f14_proposal_template.schema.json
  docs/src/architecture/08_concepts/document_templates/proposal/F14-Generic/0194d492-1daa-716f-a04e-f422f08a99dc.schema.json
  docs/src/architecture/08_concepts/document_templates/proposal/F14-Generic/0194d492-1daa-7371-8bd3-c15811b2b063.schema.json
  docs/src/architecture/08_concepts/document_templates/proposal/F14-Generic/0194d492-1daa-75b5-b4a4-5cf331cd8d1a.schema.json
  docs/src/architecture/08_concepts/document_templates/proposal/F14-Generic/0194d492-1daa-79c7-a222-2c3b581443a8.schema.json
Labels: review me, F14, requires architecture review

#2737 fix(cat-voices): recovering keychain while finishing registration
  catalyst_voices/apps/voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/registration/cubits/keychain_creation_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/test/session/session_cubit_test.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/registration/exception/registration_exception.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/registration/registration_progress.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/registration/registration_service.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/registration/exception/localized_registration_exception.dart
Labels: bug, review me, dart

#2742 fix(cat-voices): decode account public id username
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/dto/user/catalyst_id_public_ext.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/dto/user/catalyst_id_public_ext_test.dart
Labels: bug, review me, dart

#2764 fix(cat-voices): align fields in workspace proposal's tiles
  catalyst_voices/apps/voices/lib/widgets/cards/proposal/workspace_proposal_card.dart
Labels: review me, ux/ui, dart

#2763 fix(cat-voices): can submit without email verification
  catalyst_voices/apps/voices/lib/pages/proposal_builder/appbar/proposal_builder_status_action.dart
Labels: bug, review me, dart

#2756 fix(cat-voices): freezed video
  catalyst_voices/apps/voices/lib/app/view/video_cache/app_video_manager.dart
  catalyst_voices/apps/voices/lib/widgets/video/video_player.dart
Labels: bug, review me, ux/ui, dart

#2786 chore: reopen proposal submission
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/campaign/campaign_timeline.dart
Labels: review me

#2785 feat(cat-voices): updating closing submission dialog
  catalyst_voices/apps/voices/lib/common/formatters/date_formatter.dart
  catalyst_voices/apps/voices/lib/pages/workspace/submission_closing_warning_dialog.dart
  catalyst_voices/apps/voices/lib/widgets/text/proposal_submission_closes_text.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/utils/string_ext.dart
Labels: bug, review me, ux/ui, F14

#2790 chore(cat-voices): remove unnecessary colour from category do's and don'ts
  catalyst_voices/apps/voices/lib/pages/proposal_builder/proposal_builder_document_widgets.dart
  catalyst_voices/apps/voices/lib/widgets/list/category_requirements_list.dart
Labels: review me, ux/ui, F14

#2749 fix(cat-voices): sharing proposals url
  catalyst_voices/apps/voices/lib/app/view/app_content.dart
  catalyst_voices/apps/voices/lib/common/constants/constants.dart
  catalyst_voices/apps/voices/lib/dependency/dependencies.dart
  catalyst_voices/apps/voices/lib/pages/discovery/sections/stay_involved.dart
  catalyst_voices/apps/voices/lib/pages/proposal/widget/proposal_share_button.dart
  catalyst_voices/apps/voices/lib/pages/spaces/drawer/opportunities_drawer.dart
  catalyst_voices/apps/voices/lib/pages/workspace/proposal_menu_action_button.dart
  catalyst_voices/apps/voices/lib/share/resource_url_resolver.dart
  catalyst_voices/apps/voices/lib/share/share_manager.dart
  catalyst_voices/apps/voices/lib/widgets/cards/proposal/pending_proposal_card.dart
  catalyst_voices/apps/voices/lib/widgets/modals/proposals/share_proposal_dialog.dart
  catalyst_voices/apps/voices/lib/widgets/modals/voices_share_dialog.dart
  catalyst_voices/apps/voices/test/widgets/modals/voices_share_dialog_test.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/share/share_channel.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/share/share_data.dart
  catalyst_voices/packages/internal/catalyst_voices_models/test/share/share_channel_test.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/catalyst_voices_services.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/share/share_app_resource_url_resolver.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/share/share_reviews_resource_url_resolver.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/share/share_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/share/strategy/clipboard_share_strategy.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/share/strategy/launch_share_strategy.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/share/strategy/share_strategy.dart
  catalyst_voices/packages/internal/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/utils/uri_ext.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/catalyst_voices_view_models.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/share/share_channel_ext.dart
Labels: bug, review me, dart

#2752 fix(cat-gateway): Log relevant chain indexer info and update live tip metric
  catalyst-gateway/bin/src/cardano/mod.rs
Labels: bug, review me, rust

#2783 feat(cat-voices): adding invalid format exception when importing proposal
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/workspace/workspace_bloc.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/exception/document_import_invalid_data_exception.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/document_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/catalyst_voices_view_models.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/exception/localized_document_import_invalid_data_exception.dart
Labels: bug, review me, ux/ui, dart

#2791 feat(cat-voices): comments+replies count in proposal details
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal/proposal_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/specialized/comment_with_replies.dart
Labels: review me, dart

#2782 feat(cat-voices): Title minLength requirements, guidance cards update for proposal template
  docs/src/architecture/08_concepts/document_templates/proposal/F14-Generic/0194d492-1daa-716f-a04e-f422f08a99dc.schema.json
  docs/src/architecture/08_concepts/document_templates/proposal/F14-Generic/0194d492-1daa-7371-8bd3-c15811b2b063.schema.json
  docs/src/architecture/08_concepts/document_templates/proposal/F14-Generic/0194d492-1daa-75b5-b4a4-5cf331cd8d1a.schema.json
  docs/src/architecture/08_concepts/document_templates/proposal/F14-Generic/0194d492-1daa-79c7-a222-2c3b581443a8.schema.json
Labels: review me, F14, requires architecture review

#2789 chore(cat-voices): delete data usage acknowledgement
  catalyst_voices/apps/voices/lib/pages/registration/create_base_profile/stage/acknowledgements_panel.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/registration/cubits/base_profile_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/registration/state_data/base_profile_state_data.dart
Labels: review me, dart

#2809 fix(cat-voices): remove wrong text in ExitFormIssueModeDialog
  catalyst_voices/apps/voices/lib/pages/proposal_builder/proposal_builder_validation_snackbar.dart
Labels: review me, ux/ui

#2811 fix(cat-voices): background colour of guidance cards
  catalyst_voices/apps/voices/lib/pages/proposal_builder/proposal_builder_guidance.dart
Labels: review me, ux/ui, dart

#2632 ci(cat-gateway): Add `API_URL_PREFIX` to the `+build` target
  catalyst-gateway/Earthfile
  catalyst-gateway/tests/openapi-v3.0-lints/.spectral.yml
  catalyst_voices/apps/voices/lib/pages/dev_tools/widgets/environment_card.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/config/app_environment.dart
  catalyst_voices/packages/internal/catalyst_voices_models/test/config/app_environment_test.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/build.yaml
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/api/api_services.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/config/remote_config_source.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/source/document_data_remote_source.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/user/user_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/wallet/blockchain_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/config/remote_config_source_test.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/document/source/document_data_remote_source_test.dart
Labels: review me, rust

#2798 feat(cat-voices): adding forget proposal in proposal editor
  .config/dictionaries/project.dic
  catalyst_voices/apps/voices/lib/pages/proposal_builder/appbar/proposal_builder_status_action.dart
  catalyst_voices/apps/voices/lib/pages/proposal_builder/proposal_builder_page.dart
  catalyst_voices/apps/voices/lib/pages/workspace/page/workspace_page.dart
  catalyst_voices/apps/voices/lib/widgets/snackbar/common_snackbars.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/proposal_builder_bloc.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/proposal_builder_event.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/proposal_builder_signal.dart
Labels: review me, ux/ui, dart

#2821 fix(cat-voices): category name in proposal viewer
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal/proposal_cubit.dart
Labels: review me, ux/ui, dart, F14-RC4

#2820 ci(cat-voices): migrates voices frontend from nginx to caddy
  .config/dictionaries/project.dic
  catalyst_voices/Caddyfile
  catalyst_voices/Earthfile
  catalyst_voices/blueprint.cue
  catalyst_voices/module.cue
Labels: review me

#2831 chore(cat-voices): update sentry plugin and reporting
  catalyst_voices/apps/voices/pubspec.yaml
  catalyst_voices/melos.yaml
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/logging/logging_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/logging/reporting/log_reporting_strategy.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/logging/reporting/sentry_errors_reporting_strategy.dart
  catalyst_voices/packages/internal/catalyst_voices_services/pubspec.yaml
Labels: dart

#2816 chore(cat-voices): adjust comment template maxLength
  docs/src/architecture/08_concepts/document_templates/F14-Comments/0b8424d4-ebfd-46e3-9577-1775a69d290c.schema.json
Labels: review me, F14, requires architecture review

#2837 chore(cat-voices): Consolidation of small bugs/feature requests for proposals list page
  catalyst_voices/apps/voices/lib/pages/category/category_page.dart
  catalyst_voices/apps/voices/lib/pages/proposals/proposals_page.dart
  catalyst_voices/apps/voices/lib/pages/proposals/widgets/proposals_tabs.dart
  catalyst_voices/apps/voices/lib/routes/routing/spaces_route.dart
  catalyst_voices/apps/voices/lib/widgets/search/search_text_field.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/session/session_state.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/proposals/proposals_filters.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/database/dao/proposals_dao.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/database/dao/proposals_dao_test.dart
Labels: review me, dart, squad: face

#2832 fix(cat-gateway): `health/started`, `health/ready` endpoint incorrect behaviour
  catalyst-gateway/bin/src/cardano/mod.rs
  catalyst-gateway/bin/src/db/index/queries/sync_status/update.rs
  catalyst-gateway/bin/src/service/api/health/ready_get.rs
  catalyst-gateway/bin/src/service/utilities/health/start.rs
Labels: review me, requires architecture review, squad: gatekeepers

#2844 fix(cat-gateway): Fixed `test_signed_doc.py` integration test
  catalyst-gateway/tests/api_tests/test_data/signed_docs/proposal.json
Labels: review me, squad: gatekeepers

#2846 feat(cat-gateway): Bump cat-libs to r20250619-00
  catalyst-gateway/bin/Cargo.toml
Labels: review me, squad: gatekeepers

#2842 fix(cat-gateway): chain follower metrics issues
  catalyst-gateway/bin/src/cardano/event.rs
  catalyst-gateway/bin/src/cardano/mod.rs
  catalyst-gateway/bin/src/metrics/chain_indexer.rs
Labels: do not merge yet, review me, requires architecture review

#2853 feat(cat-voices): allow any UUID in dev tools lookup
  catalyst_voices/apps/voices/lib/pages/dev_tools/widgets/document_ref_field.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/document/uuid.dart
Labels: squad: face

#2875 feat(cat-gateway): Update RBAC cache metrics
  catalyst-gateway/bin/src/db/index/queries/rbac/get_catalyst_id_from_public_key.rs
  catalyst-gateway/bin/src/db/index/queries/rbac/get_catalyst_id_from_stake_address.rs
  catalyst-gateway/bin/src/db/index/queries/rbac/get_catalyst_id_from_transaction_id.rs
  catalyst-gateway/bin/src/metrics/mod.rs
  catalyst-gateway/bin/src/metrics/rbac_cache.rs
  catalyst-gateway/bin/src/rbac/chains_cache.rs
  catalyst-gateway/bin/src/rbac/mod.rs
  catalyst-gateway/bin/src/rbac_cache/mod.rs
  catalyst-gateway/bin/src/settings/mod.rs
Labels: review me, rust, squad: gatekeepers

#2880 fix(cat-gateway): Fixing incorrect `error!` message logging for `saturating_add` methods
  catalyst-gateway/bin/src/service/common/types/cardano/ada_value.rs
  catalyst-gateway/bin/src/service/common/types/cardano/asset_value.rs
Labels: review me, squad: gatekeepers

#2887 chore(cat-voices): move registration acknowledgements to first stage
  catalyst_voices/apps/voices/integration_test/pageobject/onboarding/create_flow/step_4_acknowledgments.dart
  catalyst_voices/apps/voices/integration_test/pageobject/onboarding/create_flow/step_5_profile_final.dart
  catalyst_voices/apps/voices/integration_test/suites/onboarding_test.dart
  catalyst_voices/apps/voices/lib/common/constants/constants.dart
  catalyst_voices/apps/voices/lib/pages/registration/create_base_profile/create_base_profile_panel.dart
  catalyst_voices/apps/voices/lib/pages/registration/create_base_profile/stage/acknowledgements_panel.dart
  catalyst_voices/apps/voices/lib/pages/registration/create_base_profile/stage/instructions_panel.dart
  catalyst_voices/apps/voices/lib/pages/registration/create_base_profile/stage/widgets/instructions_acknowledgements.dart
  catalyst_voices/apps/voices/lib/pages/registration/create_base_profile/stage/widgets/instructions_navigation.dart
  catalyst_voices/apps/voices/lib/pages/registration/create_base_profile/stage/widgets/registration_conditions_checkbox.dart
  catalyst_voices/apps/voices/lib/pages/registration/create_base_profile/stage/widgets/registration_conditions_rich_text.dart
  catalyst_voices/apps/voices/lib/pages/registration/create_base_profile/stage/widgets/tos_and_privacy_policy_checkbox.dart
  catalyst_voices/apps/voices/lib/pages/registration/create_base_profile/stage/widgets/tos_and_privacy_policy_rich_text.dart
  catalyst_voices/apps/voices/lib/pages/registration/create_base_profile/stage/widgets/tos_rich_text.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/registration/cubits/base_profile_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/registration/state_data/base_profile_state_data.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/registration/steps/create_base_profile_stage.dart
Labels: F14-RC4, squad: face

#2866 chore(cat-voices): translation cleanup
  catalyst_voices/apps/voices/lib/pages/registration/widgets/export_catalyst_key_confirm_dialog.dart
  catalyst_voices/apps/voices/lib/widgets/banner/widgets/email_need_verification_proposer_banner.dart
  catalyst_voices/apps/voices/lib/widgets/text_field/token_field.dart
  catalyst_voices/melos.yaml
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/catalyst_voices_localization.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/src/manage_l10n.dart
Labels: review me, squad: face

#2888 refactor(cat-voices): change copy text for campaign category for legal alignment
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/campaign/campaign_category.dart
Labels: review me, F14-RC4, squad: face, fyi: product

#2892 feat(cat-gateway): Bumping `cat-libs` dependencies
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/tests/api_tests/Earthfile
Labels: review me

#2897 feat(cat-gateway): ChainInfo object
  catalyst-gateway/bin/src/rbac/chain_info.rs
  catalyst-gateway/bin/src/rbac/get_chain.rs
  catalyst-gateway/bin/src/rbac/mod.rs
  catalyst-gateway/bin/src/service/common/auth/rbac/scheme.rs
Labels: review me, rust, squad: gatekeepers, rr: gatekeepers

#2891 chore(cat-voices): Legal requirement changes
  catalyst-gateway/tests/api_tests/test_data/signed_docs/proposal.json
  catalyst_voices/apps/voices/integration_test/pageobject/onboarding/create_flow/step_2_profile_info.dart
  catalyst_voices/apps/voices/integration_test/pageobject/onboarding/create_flow/step_3_setup_profile.dart
  catalyst_voices/apps/voices/integration_test/pageobject/onboarding/create_flow/step_4_acknowledgments.dart
  catalyst_voices/apps/voices/integration_test/pageobject/onboarding/create_flow/step_5_profile_final.dart
  catalyst_voices/apps/voices/integration_test/suites/onboarding_test.dart
  catalyst_voices/apps/voices/lib/common/constants/constants.dart
  catalyst_voices/apps/voices/lib/pages/registration/create_base_profile/create_base_profile_panel.dart
  catalyst_voices/apps/voices/lib/pages/registration/create_base_profile/stage/acknowledgements_panel.dart
  catalyst_voices/apps/voices/lib/pages/registration/create_base_profile/stage/instructions_panel.dart
  catalyst_voices/apps/voices/lib/pages/registration/create_base_profile/stage/setup_panel.dart
  catalyst_voices/apps/voices/lib/pages/registration/create_base_profile/stage/widgets/display_name_text_field.dart
  catalyst_voices/apps/voices/lib/pages/registration/create_base_profile/stage/widgets/email_text_field.dart
  catalyst_voices/apps/voices/lib/pages/registration/create_base_profile/stage/widgets/instructions_acknowledgements.dart
  catalyst_voices/apps/voices/lib/pages/registration/create_base_profile/stage/widgets/instructions_navigation.dart
  catalyst_voices/apps/voices/lib/pages/registration/create_base_profile/stage/widgets/receive_emails_checkbox.dart
  catalyst_voices/apps/voices/lib/pages/registration/create_base_profile/stage/widgets/registration_conditions_checkbox.dart
  catalyst_voices/apps/voices/lib/pages/registration/create_base_profile/stage/widgets/registration_conditions_rich_text.dart
  catalyst_voices/apps/voices/lib/pages/registration/create_base_profile/stage/widgets/setup_panel_navigation.dart
  catalyst_voices/apps/voices/lib/pages/registration/create_base_profile/stage/widgets/tos_and_privacy_policy_checkbox.dart
  catalyst_voices/apps/voices/lib/pages/registration/create_base_profile/stage/widgets/tos_and_privacy_policy_rich_text.dart
  catalyst_voices/apps/voices/lib/pages/registration/create_base_profile/stage/widgets/tos_rich_text.dart
  catalyst_voices/apps/voices/lib/widgets/cards/action_card.dart
  catalyst_voices/apps/voices/lib/widgets/text_field/voices_text_field.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/registration/cubits/base_profile_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/registration/state_data/base_profile_state_data.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/campaign/campaign_category.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/registration/steps/create_base_profile_stage.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/utils/string_ext.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/authentication/email.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/catalyst_voices_view_models.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/registration/receive_emails.dart
  docs/src/architecture/08_concepts/document_templates/proposal/F14-Generic/0194d492-1daa-716f-a04e-f422f08a99dc.schema.json
  docs/src/architecture/08_concepts/document_templates/proposal/F14-Generic/0194d492-1daa-7371-8bd3-c15811b2b063.schema.json
  docs/src/architecture/08_concepts/document_templates/proposal/F14-Generic/0194d492-1daa-75b5-b4a4-5cf331cd8d1a.schema.json
  docs/src/architecture/08_concepts/document_templates/proposal/F14-Generic/0194d492-1daa-79c7-a222-2c3b581443a8.schema.json
  docs/src/architecture/08_concepts/document_templates/proposal/F14-Generic/0ce8ab38-9258-4fbc-a62e-7faa6e58318f.schema.json
  docs/src/architecture/08_concepts/document_templates/proposal/F14-Generic/example.proposal.json
Labels: F14-RC4, squad: face, fyi: product
