Repository input-output-hk/catalyst-voices, pull requests merged in 2025-03, with the labels that each got.

#1937 fix(cat-gateway): Fix `ContentErrorDetail` OpenApi definition
  catalyst-gateway/bin/src/service/common/responses/code_412_precondition_failed.rs
Labels: review me

#1938 fix(cat-gateway): Remove unused `blake2b` hash functions
  catalyst-gateway/bin/src/utils/blake2b_hash.rs
Labels: review me

#1851 fix(general): test-report and coverage
  .github/workflows/ci.yml
  .github/workflows/generate-allure-report.yml
  .github/workflows/nightly-ci.yml
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst_voices/melos.yaml
Labels: review me

#1949 fix(cat-gateway): Update `ContentErrorDetail` and `ErrorMessage` OpenApi definitions.
  catalyst-gateway/bin/src/service/common/responses/code_412_precondition_failed.rs
  catalyst-gateway/bin/src/service/common/types/generic/error_msg.rs
Labels: review me

#1942 fix(cat-gateway): Move `ADDRESS` and `SERVER_NAME` settings to be only configured from env vars
  catalyst-gateway/Earthfile
  catalyst-gateway/bin/src/cli.rs
  catalyst-gateway/bin/src/service/api/mod.rs
  catalyst-gateway/bin/src/settings/cassandra_db.rs
  catalyst-gateway/bin/src/settings/chain_follower.rs
  catalyst-gateway/bin/src/settings/mod.rs
  catalyst-gateway/bin/src/settings/str_env_var.rs
Labels: review me

#1950 feat(cat-voices): Save/delete local proposal draft
  catalyst_voices/apps/voices/lib/common/signal_handler.dart
  catalyst_voices/apps/voices/lib/dependency/dependencies.dart
  catalyst_voices/apps/voices/lib/pages/proposal_builder/proposal_builder_loading.dart
  catalyst_voices/apps/voices/lib/pages/proposal_builder/proposal_builder_page.dart
  catalyst_voices/apps/voices/lib/widgets/modals/proposals/proposal_builder_delete_confirmation_dialog.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/catalyst_voices_blocs.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/common/bloc_signal_emitter_mixin.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/proposal_builder.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/proposal_builder_bloc.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/proposal_builder_signal.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/proposal_builder_state.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/document_mapper.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/document_ref.dart
  catalyst_voices/packages/internal/catalyst_voices_models/test/document/document_ref_test.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/catalyst_voices_repositories.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/database/dao/drafts_dao.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/document_mapper.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/document_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/source/database_drafts_data_source.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/source/document_data_local_source.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/dto/document/document_dto.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/database/dao/drafts_dao_test.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/document/document_repository_test.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/proposal/proposal_service.dart
Labels: review me, ux/ui, dart, F14

#1924 feat(cat-voices): Connecting frontend with backend on discovery page
  catalyst_voices/apps/voices/lib/dependency/dependencies.dart
  catalyst_voices/apps/voices/lib/widgets/cards/pending_proposal_card.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/discovery/discovery_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/proposal_builder_bloc.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/proposal_builder_state.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/test/proposals/proposals_cubit_test.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/data/document_data_content.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/data/document_type.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/document_ref.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/specialized/proposal_document.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/proposal/proposal.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/proposal/proposal_base.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/proposal/proposal_data.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/proposal/proposal_enums.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/proposal/proposal_pagination_items.dart
  catalyst_voices/packages/internal/catalyst_voices_models/test/proposal/proposal_pagination_items_test.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/database/dao/documents_dao.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/document_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/source/database_documents_data_source.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/source/document_data_local_source.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/proposal/proposal_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/database/dao/documents_dao_test.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/document/document_repository_test.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/proposal/proposal_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/proposal/proposal_service_test.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/proposal/proposal_view_model.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/session/session_account.dart
Labels: review me, ux/ui, dart

#1957 feat(cat-voices): Proposal sticky header
  catalyst_voices/apps/voices/lib/pages/proposal/proposal_header.dart
  catalyst_voices/apps/voices/lib/pages/proposal/proposal_page.dart
  catalyst_voices/apps/voices/lib/widgets/headers/sticky_header.dart
  catalyst_voices/apps/voices/lib/widgets/widgets.dart
Labels: review me, dart, F14

#1968 feat(cat-voices): add cat-reviews openapi spec
  catalyst_voices/.gitignore
  catalyst_voices/apps/voices/lib/configs/bootstrap.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/app_config.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/api/api.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/api/api_services.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/api/review_module.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/openapi/cat-reviews.json
  catalyst_voices/packages/internal/catalyst_voices_repositories/process_openapi.dart
Labels: review me, dart, F14

#1967 fix(cat-voices): uuid date calculation overflow
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/utils/uuid_utils.dart
Labels: review me, dart, F14

#1966 chore(cat-voices): update test token
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/api/api_services.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/api/interceptors/rbac_auth_interceptor.dart
Labels: review me, dart

#1860 feat(cat-voices): documents synchronisation part 1
  catalyst_voices/apps/voices/lib/configs/bootstrap.dart
  catalyst_voices/apps/voices/lib/dependency/dependencies.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/document_ref.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/errors/sync_exception.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/catalyst_voices_repositories.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/database/dao/documents_dao.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/database/dao/drafts_dao.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/constants.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/document_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/source/database_documents_data_source.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/source/database_drafts_data_source.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/source/document_data_local_source.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/source/document_data_remote_source.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/source/document_data_source.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/database/catalyst_database_test.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/database/dao/documents_dao_test.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/database/dao/drafts_dao_test.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/catalyst_voices_services.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/documents/documents_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/sync/sync_manager.dart
  catalyst_voices/packages/internal/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/documents/documents_service_test.dart
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/sync/sync_manager_test.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/document/signed_document_json_payload.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/document/signed_document_manager.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/test/src/document/signed_document_manager_test.dart
  catalyst_voices/packages/libs/catalyst_cose/lib/src/cose_constants.dart
Labels: review me, dart, F14

#1971 fix(cat-voices): most recent proposal stream
  catalyst_voices/apps/voices/lib/pages/discovery/sections/current_campaign.dart
  catalyst_voices/apps/voices/lib/pages/discovery/state_selectors/most_recent_proposals_selector.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/discovery/discovery_cubit.dart
Labels: review me, dart

#1958 feat(cat-voices): Overall spaces UI
  catalyst_voices/apps/voices/lib/pages/overall_spaces/brands_navigation.dart
  catalyst_voices/apps/voices/lib/pages/overall_spaces/overall_spaces_page.dart
  catalyst_voices/apps/voices/lib/pages/overall_spaces/space/discovery_overview.dart
  catalyst_voices/apps/voices/lib/pages/overall_spaces/space/workspace_overview.dart
  catalyst_voices/apps/voices/lib/pages/proposals/proposals_page.dart
  catalyst_voices/apps/voices/lib/pages/spaces/drawer/spaces_drawer.dart
  catalyst_voices/apps/voices/lib/routes/routing/spaces_route.dart
  catalyst_voices/apps/voices/lib/widgets/cards/pending_proposal_card.dart
  catalyst_voices/apps/voices/lib/widgets/cards/proposal_card_widgets.dart
  catalyst_voices/apps/voices/lib/widgets/cards/small_proposal_card.dart
  catalyst_voices/apps/voices/lib/widgets/drawer/voices_drawer.dart
  catalyst_voices/apps/voices/lib/widgets/text/day_month_time_text.dart
  catalyst_voices/packages/internal/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/proposal/proposal.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/proposal/proposal_enums.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/user/account.dart
Labels: review me, ux/ui

#1911 feat(cat-gateway): Add Chain Indexer metrics
  catalyst-gateway/bin/src/cardano/event.rs
  catalyst-gateway/bin/src/cardano/mod.rs
  catalyst-gateway/bin/src/metrics/chain_indexer.rs
Labels: review me, rust

#1981 feat(cat-voices): publish proposal document - part 1
  catalyst_voices/apps/voices/lib/dependency/dependencies.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/proposal_builder_bloc.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/data/document_data.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/signed_document/signed_document.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/catalyst_voices_repositories.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/document_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/source/document_data_remote_source.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/signed_document/signed_document_json_payload.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/signed_document/signed_document_manager.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/signed_document/signed_document_manager_impl.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/pubspec.yaml
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/document/document_repository_test.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/signed_document/signed_document_manager_test.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/proposal/proposal_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/proposal/proposal_service_test.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/crypto/key_derivation.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/document/signed_document_manager.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/document/signed_document_manager_impl.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/packages/libs/catalyst_cose/lib/src/cose_constants.dart
  catalyst_voices/packages/libs/catalyst_cose/lib/src/types/cose_headers.dart
  catalyst_voices/packages/libs/catalyst_cose/lib/src/types/uuid.dart
  catalyst_voices/packages/libs/catalyst_cose/lib/src/utils/cbor_utils.dart
Labels: review me, dart, F14

#1941 feat(cat-gateway): Finish Catalyst RBAC token validation
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/service/common/auth/rbac/scheme.rs
  catalyst-gateway/bin/src/service/common/auth/rbac/token.rs
Labels: review me

#1991 feat(cat-voices): Catalyst ID generator
  catalyst_voices/apps/voices/lib/configs/bootstrap.dart
  catalyst_voices/apps/voices/lib/dependency/dependencies.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/test/session/session_cubit_test.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/crypto/catalyst_key_factory.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/crypto/catalyst_private_key.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/crypto/catalyst_public_key.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/crypto/catalyst_signature.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/enums/document_content_media_type.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/enums/document_property_format.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/user/account_role.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/user/catalyst_id.dart
  catalyst_voices/packages/internal/catalyst_voices_models/test/user/catalyst_id_test.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/dto/document/schema/enum/document_property_type_dto.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/dto/document/schema/mapper/document_boolean_schema_mapper.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/dto/document/schema/mapper/document_integer_schema_mapper.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/dto/document/schema/mapper/document_list_schema_mapper.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/dto/document/schema/mapper/document_number_schema_mapper.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/dto/document/schema/mapper/document_object_schema_mapper.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/dto/document/schema/mapper/document_string_schema_mapper.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/signed_document/signed_document_manager.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/signed_document/signed_document_manager_impl.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/signed_document/signed_document_manager_test.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/catalyst_voices_services.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/crypto/bip32_ed25519_catalyst_key_factory.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/crypto/bip32_ed25519_catalyst_private_key.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/crypto/bip32_ed25519_catalyst_public_key.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/crypto/bip32_ed25519_catalyst_signature.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/crypto/key_derivation_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/proposal/proposal_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/user/user_service_test.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/keychain/vault_keychain.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/keychain/vault_keychain_provider.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/utils/string_ext.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/utils/uri_ext.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/test/src/keychain/vault_keychain_provider_test.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/test/src/keychain/vault_keychain_test.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/test/src/utils/string_ext_test.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/test/src/utils/uri_ext_test.dart
Labels: review me, dart, F14

#1999 feat(cat-voices): keychain provider caching
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/keychain/vault_keychain_provider.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/test/src/keychain/vault_keychain_provider_test.dart
Labels: bug, review me, dart

#2001 chore(cat-voices): comment out api doc request
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/source/document_data_remote_source.dart
Labels: review me, dart

#2002 fix(cat-voices): making registration exit only after explicitly tapping confirm button
  catalyst_voices/apps/voices/lib/pages/registration/registration_dialog.dart
Labels: bug, review me, dart

#1947 fix: added category details and required for segments on a schema level
  docs/src/architecture/08_concepts/document_templates/proposal/F14-Generic/0ce8ab38-9258-4fbc-a62e-7faa6e58318f.schema.json
  docs/src/architecture/08_concepts/document_templates/proposal/F14-Generic/example.proposal.json
Labels: review me, F14

#2011 feat(cat-voices): proposal version selector
  catalyst_voices/apps/voices/lib/pages/proposal/proposal_content.dart
  catalyst_voices/apps/voices/lib/pages/proposal/proposal_navigation_panel.dart
  catalyst_voices/apps/voices/lib/pages/proposal/proposal_page.dart
  catalyst_voices/apps/voices/lib/pages/proposal/snack_bar/viewing_older_version_snack_bar.dart
  catalyst_voices/apps/voices/lib/pages/proposal/tiles/proposal_metadata_tile.dart
  catalyst_voices/apps/voices/lib/pages/proposal/widget/proposal_version.dart
  catalyst_voices/apps/voices/lib/widgets/document/document_version_selector.dart
  catalyst_voices/apps/voices/lib/widgets/text/day_at_time_text.dart
  catalyst_voices/apps/voices/lib/widgets/text/day_month_time_text.dart
  catalyst_voices/apps/voices/lib/widgets/text/timezone_date_time_text.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal/proposal.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal/proposal_bloc.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal/proposal_signal.dart
  catalyst_voices/packages/internal/catalyst_voices_brands/lib/src/catalyst_voices_brands.dart
  catalyst_voices/packages/internal/catalyst_voices_brands/lib/src/themes/widgets/timezone_date_time_text_theme.dart
  catalyst_voices/packages/internal/catalyst_voices_brands/pubspec.yaml
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/proposal/proposal.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/proposal/proposal_data.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/proposal/proposal_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/proposal/proposal_service.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/utils/string_ext.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/catalyst_voices_view_models.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/document/document_version.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/document/document_versions.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/proposal/proposal_view_data.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/proposal/proposal_view_header.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/proposal/proposal_view_metadata.dart
Labels: review me, dart, F14

#2013 fix(cat-voices): Drift missing upsert logic for proposal builder
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/proposal_builder_bloc.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/proposal_builder_event.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/proposal_builder_state.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/campaign/campaign_base.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/database/dao/drafts_dao.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/document_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/document/document_repository_test.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/proposal/proposal_service.dart
Labels: review me, dart, F14

#2012 feat(cat-voices): blockchain config
  catalyst_voices/apps/voices/lib/dependency/dependencies.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/common/app_config.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/signed_document/signed_document.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/catalyst_voices_repositories.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/signed_document/signed_document_manager_impl.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/transaction/transaction_config_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/signed_document/signed_document_manager_test.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/transaction/transaction_config_repository_test.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/auth/auth_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/proposal/proposal_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/registration/registration_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/auth/auth_service_test.dart
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/proposal/proposal_service_test.dart
Labels: review me, dart, F14

#2017 chore(cat-voices): use CatalystId in Account and Profile
  catalyst_voices/apps/voices/lib/pages/account/widgets/account_display_name_tile.dart
  catalyst_voices/apps/voices/lib/pages/account/widgets/account_header_tile.dart
  catalyst_voices/apps/voices/lib/pages/spaces/appbar/account_popup/session_account_avatar.dart
  catalyst_voices/apps/voices/lib/pages/spaces/appbar/account_popup/session_account_display_name.dart
  catalyst_voices/apps/voices/lib/pages/spaces/appbar/account_popup/session_account_popup_catalyst_id.dart
  catalyst_voices/apps/voices/lib/widgets/tiles/editable_tile.dart
  catalyst_voices/apps/voices/lib/widgets/user/catalyst_id_text.dart
  catalyst_voices/apps/voices/lib/widgets/user/profile_container.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/account/account_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/account/account_state.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal/proposal_bloc.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/session/session_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/test/session/session_cubit_test.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/user/account.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/user/catalyst_id.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/user/profile.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/user/user.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/dto/user_dto.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/user/user_storage.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/api/interceptors/rbac_auth_interceptor_test.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/registration/registration_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/auth/auth_service_test.dart
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/user/user_service_test.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/catalyst_voices_shared.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/user/dummy_catalyst_id_factory.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/session/session_account.dart
Labels: review me, dart, F14

#2024 fix(cat-voices): catalyst ID bytes length
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/user/catalyst_id.dart
  catalyst_voices/packages/internal/catalyst_voices_models/test/user/catalyst_id_test.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/signed_document/signed_document_manager_impl.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/signed_document/signed_document_manager_test.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/auth/auth_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/proposal/proposal_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/registration/registration_service.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/user/dummy_catalyst_id_factory.dart
Labels: bug, review me, dart, F14

#2023 feat(cat-voices): publish proposal actions - part 1
  catalyst_voices/apps/voices/lib/dependency/dependencies.dart
  catalyst_voices/apps/voices/lib/pages/overall_spaces/space/discovery_overview.dart
  catalyst_voices/apps/voices/lib/pages/overall_spaces/space/workspace_overview.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/proposal_builder_bloc.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/proposal_builder_state.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/registration/cubits/recover_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/test/proposals/proposals_cubit_test.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/crypto/catalyst_key_pair.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/crypto/catalyst_private_key.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/data/document_data_metadata.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/proposal/proposal.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/proposal/proposal_data.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/proposal/proposal_enums.dart
  catalyst_voices/packages/internal/catalyst_voices_models/test/proposal/proposal_pagination_items_test.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/document_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/source/document_data_remote_source.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/dto/document/document_data_dto.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/dto/proposal/proposal_submission_action_dto.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/proposal/proposal_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/auth/auth_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/proposal/proposal_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/registration/registration_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/registration/registration_transaction_builder.dart
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/auth/auth_service_test.dart
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/proposal/proposal_service_test.dart
  catalyst_voices/packages/libs/catalyst_key_derivation/lib/src/bip32_ed25519/bip32_ed25519_private_key.dart
Labels: review me, dart, F14

#2025 feat(cat-voices): proposal comments - Part 1
  catalyst_voices/apps/voices/lib/pages/proposal/proposal_content.dart
  catalyst_voices/apps/voices/lib/pages/proposal/tiles/proposal_comment_tile.dart
  catalyst_voices/apps/voices/lib/pages/proposal/tiles/proposal_comments_tile.dart
  catalyst_voices/apps/voices/lib/pages/proposal/tiles/proposal_document_section_tile.dart
  catalyst_voices/apps/voices/lib/pages/proposal_builder/proposal_builder_setup_panel.dart
  catalyst_voices/apps/voices/lib/widgets/cards/comment_card.dart
  catalyst_voices/apps/voices/lib/widgets/document/document_property_read_builder.dart
  catalyst_voices/apps/voices/lib/widgets/document_builder/document_list_property_builder.dart
  catalyst_voices/apps/voices/lib/widgets/document_builder/document_object_property_builder.dart
  catalyst_voices/apps/voices/lib/widgets/document_builder/document_property_builder.dart
  catalyst_voices/apps/voices/lib/widgets/document_builder/document_value_property_builder.dart
  catalyst_voices/apps/voices/lib/widgets/document_builder/value/agreement_confirmation_widget.dart
  catalyst_voices/apps/voices/lib/widgets/document_builder/value/document_builder_value_widget.dart
  catalyst_voices/apps/voices/lib/widgets/document_builder/value/document_error_text.dart
  catalyst_voices/apps/voices/lib/widgets/document_builder/value/document_token_value_widget.dart
  catalyst_voices/apps/voices/lib/widgets/document_builder/value/duration_in_months_widget.dart
  catalyst_voices/apps/voices/lib/widgets/document_builder/value/language_code_widget.dart
  catalyst_voices/apps/voices/lib/widgets/document_builder/value/list_length_picker_widget.dart
  catalyst_voices/apps/voices/lib/widgets/document_builder/value/multiline_text_entry_markdown_widget.dart
  catalyst_voices/apps/voices/lib/widgets/document_builder/value/radio_button_selection_widget.dart
  catalyst_voices/apps/voices/lib/widgets/document_builder/value/simple_text_entry_widget.dart
  catalyst_voices/apps/voices/lib/widgets/document_builder/value/single_dropdown_selection_widget.dart
  catalyst_voices/apps/voices/lib/widgets/document_builder/value/single_grouped_tag_selector_widget.dart
  catalyst_voices/apps/voices/lib/widgets/document_builder/value/single_line_https_url_widget.dart.dart
  catalyst_voices/apps/voices/lib/widgets/document_builder/value/yes_no_choice_widget.dart
  catalyst_voices/apps/voices/lib/widgets/segments/segments_controller.dart
  catalyst_voices/apps/voices/lib/widgets/tiles/document_builder_section_tile.dart
  catalyst_voices/apps/voices/lib/widgets/toggles/voices_radio_button_form_field.dart
  catalyst_voices/apps/voices/lib/widgets/widgets.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal/proposal_bloc.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/common/node_id.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/document_node_id.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/schema/property/document_string_schema.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/specialized/comment_document.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/specialized/comment_template.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/specialized/comment_with_replies.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/catalyst_voices_view_models.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/document/document_property_value_read_item.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/proposal/comment.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/proposal/proposal_comments_segment.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/segments/segments_navigation.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/pubspec.yaml
Labels: review me, dart, F14

#2029 feat(cat-voices): proposal comments - Part 2
  catalyst_voices/apps/voices/lib/pages/account/widgets/account_header_tile.dart
  catalyst_voices/apps/voices/lib/pages/proposal/tiles/proposal_comment_tile.dart
  catalyst_voices/apps/voices/lib/pages/proposal/tiles/proposal_document_section_tile.dart
  catalyst_voices/apps/voices/lib/pages/proposal/widget/proposal_comment_card.dart
  catalyst_voices/apps/voices/lib/pages/proposal/widget/proposal_comment_with_replies_card.dart
  catalyst_voices/apps/voices/lib/pages/spaces/appbar/account_popup/session_account_avatar.dart
  catalyst_voices/apps/voices/lib/widgets/buttons/voices_buttons.dart
  catalyst_voices/apps/voices/lib/widgets/cards/pending_proposal_card.dart
  catalyst_voices/apps/voices/lib/widgets/common/animated_expand_chevron.dart
  catalyst_voices/apps/voices/lib/widgets/document/document_property_read_builder.dart
  catalyst_voices/apps/voices/lib/widgets/user/catalyst_id_text.dart
  catalyst_voices/apps/voices/lib/widgets/user/profile_avatar.dart
  catalyst_voices/apps/voices/lib/widgets/user/profile_container.dart
  catalyst_voices/apps/voices/lib/widgets/widgets.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal/proposal_bloc.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/specialized/comment_document.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/specialized/comment_with_replies.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/utils/string_ext.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/test/src/utils/string_ext_test.dart
Labels: review me, dart, F14

#1989 feat(cat-gateway): Chain follower rollback
  catalyst-gateway/bin/src/cardano/event.rs
  catalyst-gateway/bin/src/cardano/mod.rs
  catalyst-gateway/bin/src/db/index/block/roll_forward.rs
  catalyst-gateway/bin/src/metrics/chain_indexer.rs
  catalyst-gateway/bin/src/settings/mod.rs
Labels: review me

#1995 feat(cat-voices): new proposal dialog
  catalyst_voices/apps/voices/lib/app/view/app.dart
  catalyst_voices/apps/voices/lib/dependency/dependencies.dart
  catalyst_voices/apps/voices/lib/pages/workspace/header/create_proposal_button.dart
  catalyst_voices/apps/voices/lib/pages/workspace/header/workspace_header.dart
  catalyst_voices/apps/voices/lib/widgets/dropdown/voices_dropdown.dart
  catalyst_voices/apps/voices/lib/widgets/modals/proposals/create_new_proposal_dialog.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/catalyst_voices_blocs.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/new_proposal/new_proposal.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/new_proposal/new_proposal_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/new_proposal/new_proposal_state.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/catalyst_voices_view_models.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/proposal/proposal_title.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/pubspec.yaml
Labels: review me, ux/ui, dart, F14

#2036 feat(cat-voices): remove alg and tag from cose sign structure
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/signed_document/signed_document_manager_impl.dart
  catalyst_voices/packages/libs/catalyst_cose/lib/src/cose_sign.dart
  catalyst_voices/packages/libs/catalyst_cose/lib/src/cose_sign1.dart
Labels: review me, dart, F14

#2035 feat(cat-voices): proposal actions part2
  .config/dictionaries/project.dic
  catalyst_voices/apps/voices/lib/dependency/dependencies.dart
  catalyst_voices/apps/voices/lib/pages/category/category_page.dart
  catalyst_voices/apps/voices/lib/pages/category/change_category_button.dart
  catalyst_voices/apps/voices/lib/pages/proposal/proposal_page.dart
  catalyst_voices/apps/voices/lib/pages/proposal_builder/appbar/proposal_builder_status_action.dart
  catalyst_voices/apps/voices/lib/pages/proposal_builder/proposal_builder_page.dart
  catalyst_voices/apps/voices/lib/pages/proposals/proposals_page.dart
  catalyst_voices/apps/voices/lib/pages/proposals/proposals_pagination.dart
  catalyst_voices/apps/voices/lib/routes/routing/proposal_builder_route.dart
  catalyst_voices/apps/voices/lib/routes/routing/proposal_route.dart
  catalyst_voices/apps/voices/lib/routes/routing/spaces_route.dart
  catalyst_voices/apps/voices/lib/widgets/buttons/voices_buttons.dart
  catalyst_voices/apps/voices/lib/widgets/cards/campaign_category_card.dart
  catalyst_voices/apps/voices/lib/widgets/cards/category_proposals_details_card.dart
  catalyst_voices/apps/voices/lib/widgets/cards/create_proposal_card.dart
  catalyst_voices/apps/voices/lib/widgets/dropdown/category_dropdown.dart
  catalyst_voices/apps/voices/lib/widgets/dropdown/voices_dropdown.dart
  catalyst_voices/apps/voices/lib/widgets/modals/proposals/create_new_proposal_dialog.dart
  catalyst_voices/apps/voices/test/widgets/dropdown/category_dropdown_test.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/campaign/details/campaign_details_bloc.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/category/category_detail_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/discovery/discovery_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/new_proposal/new_proposal_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/new_proposal/new_proposal_state.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/proposal_builder_bloc.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/proposal_builder_event.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/proposal_builder_state.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposals/proposals_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposals/proposals_state.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/campaign/campaign_category.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/data/document_data_metadata.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/data/static_document_data.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/document_ref.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/specialized/proposal_document.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/specialized/proposal_template.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/proposal/proposal_pagination_request.dart
  catalyst_voices/packages/internal/catalyst_voices_models/test/proposal/proposal_pagination_request_test.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/document_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/exception/document_data_local_source_exception.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/source/database_documents_data_source.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/source/database_drafts_data_source.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/dto/document/document_data_dto.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/dto/document/document_ref_dto.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/proposal/proposal_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/document/document_repository_test.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/campaign/campaign_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/proposal/proposal_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/registration/registration_service.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/campaign/campaign_category_view_model.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/category/dropdown_menu_view_model.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/proposal/proposal_pagination_view_model.dart
Labels: review me, dart, F14

#2040 feat(cat-voices): replace uuid by uuid_plus
  catalyst_voices/apps/voices/lib/pages/voting/voting_page.dart
  catalyst_voices/apps/voices/pubspec.yaml
  catalyst_voices/melos.yaml
  catalyst_voices/packages/internal/catalyst_voices_blocs/pubspec.yaml
  catalyst_voices/packages/internal/catalyst_voices_blocs/test/proposals/proposals_cubit_test.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/document_ref.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/hi_lo/uuid_hi_lo.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/proposal/proposal.dart
  catalyst_voices/packages/internal/catalyst_voices_models/pubspec.yaml
  catalyst_voices/packages/internal/catalyst_voices_models/test/document/data/document_data_metadata_test.dart
  catalyst_voices/packages/internal/catalyst_voices_models/test/hi_lo/uuid_hi_lo_test.dart
  catalyst_voices/packages/internal/catalyst_voices_models/test/proposal/proposal_pagination_items_test.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/source/document_data_remote_source.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/proposal/proposal_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/pubspec.yaml
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/api/interceptors/rbac_auth_interceptor_test.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/database/dao/documents_dao_test.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/database/dao/drafts_dao_test.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/document/document_repository_test.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/dto/document/document_data_dto_test.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/utils/test_factories.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/registration/registration_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/pubspec.yaml
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/documents/documents_service_test.dart
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/proposal/proposal_service_test.dart
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/sync/sync_manager_test.dart
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/user/user_service_test.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/utils/string_ext.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/utils/uuid_utils.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/pubspec.yaml
  catalyst_voices/packages/internal/catalyst_voices_shared/test/src/keychain/vault_keychain_provider_test.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/test/src/keychain/vault_keychain_test.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/test/src/utils/uuid_utils_test.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/proposal/proposal_view_model.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/pubspec.yaml
  catalyst_voices/packages/libs/catalyst_cardano_serialization/lib/src/utils/uuid.dart
  catalyst_voices/packages/libs/catalyst_cardano_serialization/pubspec.yaml
  catalyst_voices/packages/libs/catalyst_cose/lib/src/types/uuid.dart
  catalyst_voices/packages/libs/catalyst_cose/pubspec.yaml
Labels: bug, review me, dart, F14

#1889 feat(cat-voices): Workspace proposal card component
  catalyst_voices/apps/voices/lib/common/ext/proposal_publish_ext.dart
  catalyst_voices/apps/voices/lib/pages/proposal/proposal_navigation_panel.dart
  catalyst_voices/apps/voices/lib/pages/proposal/tiles/proposal_metadata_tile.dart
  catalyst_voices/apps/voices/lib/pages/workspace/my_proposals/my_proposals.dart
  catalyst_voices/apps/voices/lib/pages/workspace/page/workspace_page.dart
  catalyst_voices/apps/voices/lib/widgets/cards/proposal_card_widgets.dart
  catalyst_voices/apps/voices/lib/widgets/cards/proposal_iteration_history_card.dart
  catalyst_voices/apps/voices/lib/widgets/cards/small_proposal_card.dart
  catalyst_voices/apps/voices/lib/widgets/cards/workspace_proposal_card.dart
  catalyst_voices/apps/voices/lib/widgets/headers/section_learn_more_header.dart
  catalyst_voices/apps/voices/lib/widgets/text/last_edit_date.dart
  catalyst_voices/apps/voices/lib/widgets/text/timezone_date_time_text.dart
  catalyst_voices/apps/voices/lib/widgets/widgets.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal/proposal_bloc.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/proposal_builder_bloc.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/proposal/proposal.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/proposal/proposal_data.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/proposal/proposal_version.dart
  catalyst_voices/packages/internal/catalyst_voices_models/test/proposal/proposal_with_versions_test.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/database/dao/documents_dao.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/document_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/source/database_documents_data_source.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/source/document_data_local_source.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/proposal/proposal_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/database/dao/documents_dao_test.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/proposal/proposal_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/proposal/proposal_service_test.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/formatter/cryptocurrency_formatter.dart
Labels: review me, ux/ui, F14

#2042 feat(cat-voices): extract catalyst id from signed document
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/signed_document/signed_document.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/signed_document/signed_document_manager_impl.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/signed_document/signed_document_manager_test.dart
Labels: review me, dart, F14

#2043 feat(cat-voices): update proposal template to latest
  catalyst_voices/packages/internal/catalyst_voices_assets/assets/document_templates/proposal/F14-Generic/0ce8ab38-9258-4fbc-a62e-7faa6e58318f.schema.json
  catalyst_voices/packages/internal/catalyst_voices_assets/assets/document_templates/proposal/F14-Generic/example.proposal.json
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/dto/document/document_dto.dart
Labels: review me, dart, F14

#2051 feat(cat-voices): update Flutter Quill
  catalyst_voices/apps/voices/lib/app/view/app_content.dart
  catalyst_voices/apps/voices/lib/widgets/rich_text/voices_rich_text.dart
  catalyst_voices/apps/voices/lib/widgets/rich_text/voices_rich_text_rules.dart
  catalyst_voices/apps/voices/pubspec.yaml
  catalyst_voices/apps/voices/test/helpers/pump_app.dart
  catalyst_voices/melos.yaml
  catalyst_voices/packages/internal/catalyst_voices_assets/assets/document_templates/proposal/F14-Generic/example.proposal.json
  catalyst_voices/utilities/uikit_example/pubspec.yaml
Labels: review me, dart, F14

#2053 feat(cat-voices): proposal builder category details
  catalyst_voices/apps/voices/lib/pages/funded_projects/funded_projects_page.dart
  catalyst_voices/apps/voices/lib/pages/proposal_builder/proposal_builder_document_widgets.dart
  catalyst_voices/apps/voices/lib/pages/proposal_builder/proposal_builder_segments.dart
  catalyst_voices/apps/voices/lib/pages/voting/voting_page.dart
  catalyst_voices/apps/voices/lib/pages/workspace/page/workspace_page.dart
  catalyst_voices/apps/voices/lib/widgets/cards/funds_detail_card.dart
  catalyst_voices/apps/voices/lib/widgets/document_builder/document_list_property_builder.dart
  catalyst_voices/apps/voices/lib/widgets/document_builder/document_object_property_builder.dart
  catalyst_voices/apps/voices/lib/widgets/document_builder/document_property_builder.dart
  catalyst_voices/apps/voices/lib/widgets/text_field/token_field.dart
  catalyst_voices/apps/voices/lib/widgets/tiles/document_builder_section_tile.dart
  catalyst_voices/apps/voices/macos/Flutter/GeneratedPluginRegistrant.swift
  catalyst_voices/apps/voices/test/widgets/cards/funds_detail_card_test.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal/proposal_cubit_mock_data.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/proposal_builder_bloc.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/proposal_builder_state.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/workspace/workspace.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/workspace/workspace_bloc.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/workspace/workspace_signal.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/workspace/workspace_state.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/campaign/campaign_category.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/campaign/current_campaign.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/schema/property/document_integer_schema.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/schema/property/document_list_schema.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/schema/property/document_number_schema.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/schema/property/document_string_schema.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/specialized/proposal_document.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/validation/document_validation_result.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/proposal/proposal.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/user/account.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/wallet/cardano_wallet_details.dart
  catalyst_voices/packages/internal/catalyst_voices_models/test/proposal/proposal_pagination_items_test.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/dto/document/schema/mapper/document_integer_schema_mapper.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/dto/document/schema/mapper/document_list_schema_mapper.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/dto/document/schema/mapper/document_number_schema_mapper.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/dto/document/schema/mapper/document_string_schema_mapper.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/proposal/proposal_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/registration/registration_service.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/range/range.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/test/src/range/range_test.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/authentication/display_name.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/authentication/email.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/campaign/campaign_category_view_model.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/campaign/current_campaign_info_view_model.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/document/validation/localized_document_validation_result.dart
  catalyst_voices/packages/libs/catalyst_cardano_serialization/lib/src/builders/strategies/greedy_selection_strategy.dart
  catalyst_voices/packages/libs/catalyst_cardano_serialization/lib/src/types.dart
  catalyst_voices/packages/libs/catalyst_cardano_serialization/test/fees_test.dart
  catalyst_voices/packages/libs/catalyst_cardano_serialization/test/types_test.dart
  catalyst_voices/utilities/poc_local_storage/macos/Flutter/GeneratedPluginRegistrant.swift
  catalyst_voices/utilities/uikit_example/lib/examples/voices_proposal_card_example.dart
Labels: review me, ux/ui, dart, F14

#2046 feat(cat-voices): integrate persistent favourite proposal toggle
  catalyst_voices/apps/voices/lib/dependency/dependencies.dart
  catalyst_voices/apps/voices/lib/pages/proposals/proposals_pagination.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal/proposal_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposals/proposals_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/document_ref.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/catalyst_voices_repositories.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/database/catalyst_database.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/database/dao/favorites_dao.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/database/database.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/database/table/documents_favorite.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/document_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/source/document_favorites_source.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/proposal/proposal_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/document/document_repository_test.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/proposal/proposal_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/proposal/proposal_service_test.dart
Labels: review me, dart, F14

#2059 feat(cat-voices): adding author list to document metadata to store in db
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/data/document_data_metadata.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/specialized/proposal_document.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/database/dao/documents_dao.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/database/dao/drafts_dao.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/dto/document/document_data_dto.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/proposal/proposal_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/database/dao/drafts_dao_test.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/proposal/proposal_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/proposal/proposal_service_test.dart
Labels: review me, dart, F14

#2063 test(cat-voices): Add proposals share links checking
  catalyst_voices/apps/voices/integration_test/pageobject/proposals_page.dart
  catalyst_voices/apps/voices/integration_test/suites/proposals_test.dart
  catalyst_voices/apps/voices/integration_test/utils/mock_url_launcher_platform.dart
  catalyst_voices/apps/voices/pubspec.yaml
Labels: review me

#2068 feat(cat-voices): adaptive proposal details
  catalyst_voices/apps/voices/lib/pages/proposal/proposal_back_button.dart
  catalyst_voices/apps/voices/lib/pages/proposal/proposal_content.dart
  catalyst_voices/apps/voices/lib/pages/proposal/proposal_page.dart
  catalyst_voices/apps/voices/lib/pages/proposal/widget/proposal_comment_card.dart
  catalyst_voices/apps/voices/lib/pages/proposal/widget/proposal_delivery_card.dart
  catalyst_voices/apps/voices/lib/pages/proposal/widget/proposal_header.dart
  catalyst_voices/apps/voices/lib/pages/proposal/widget/proposal_navigation_controls.dart
  catalyst_voices/apps/voices/lib/pages/proposal/widget/proposal_navigation_panel.dart
  catalyst_voices/apps/voices/lib/pages/proposal/widget/proposal_segments_navigation.dart
  catalyst_voices/apps/voices/lib/pages/proposal/widget/proposal_sidebars.dart
  catalyst_voices/apps/voices/lib/pages/proposal_builder/proposal_builder_page.dart
  catalyst_voices/apps/voices/lib/pages/treasury/treasury_page.dart
  catalyst_voices/apps/voices/lib/widgets/common/navigation_back.dart
  catalyst_voices/apps/voices/lib/widgets/common/page_overflow.dart
  catalyst_voices/apps/voices/lib/widgets/containers/sidebar/sidebar_panel.dart
  catalyst_voices/apps/voices/lib/widgets/containers/sidebar/sidebar_scaffold.dart
  catalyst_voices/apps/voices/lib/widgets/containers/sidebar/space_side_panel.dart
  catalyst_voices/apps/voices/lib/widgets/containers/sidebar_scaffold.dart
  catalyst_voices/apps/voices/lib/widgets/containers/space_scaffold.dart
  catalyst_voices/apps/voices/lib/widgets/widgets.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/source/document_data_remote_source.dart
Labels: review me, dart, F14

#2073 feat(cat-voices): documents sync - Part 2
  catalyst_voices/apps/voices/lib/configs/bootstrap.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/api/exception/api_error_response_exception.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/api/exception/api_exception.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/data/document_data_metadata.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/document_ref.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/signed_document/signed_document.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/signed_document/signed_document_payload.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/api/api_services.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/catalyst_voices_repositories.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/database/catalyst_database.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/constants.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/document_data_factory.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/document_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/exception/document_data_local_source_exception.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/exception/document_exception.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/source/document_data_remote_source.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/dto/api/document_index_list_dto.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/dto/api/document_index_query_filters_dto.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/dto/document/document_data_dto.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/dto/document/document_ref_dto.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/dto/proposal/proposal_submission_action_dto.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/proposal/proposal_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/signed_document/signed_document_json_payload.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/signed_document/signed_document_manager.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/signed_document/signed_document_manager_impl.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/database/dao/documents_dao_test.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/database/dao/drafts_dao_test.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/document/document_repository_test.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/document/source/document_data_remote_source_test.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/signed_document/signed_document_manager_test.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/utils/test_factories.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/sync/sync_manager.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/api/exception/localized_api_exception.dart
Labels: review me, dart, F14

#2081 fix(cat-gateway): Fixing clippy issues for cat-gateway
  catalyst-gateway/bin/src/logger.rs
  catalyst-gateway/tests/schemathesis_tests/Earthfile
Labels: review me

#2089 chore(cat-voices): wide screen improvments in discovery page
  catalyst_voices/apps/voices/lib/pages/discovery/sections/campaign_categories.dart
  catalyst_voices/apps/voices/lib/pages/discovery/sections/most_recent_proposals.dart
  catalyst_voices/apps/voices/lib/widgets/heroes/section_hero.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/document_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/proposal/proposal_repository.dart
Labels: ux/ui

#2084 fix(cat-gateway): Debug staked asset value check
  catalyst-gateway/bin/src/service/api/cardano/staking/assets_get.rs
Labels: bug, review me, F14

#2082 feat(cat-voices): proposal details integration - Part 1
  catalyst_voices/apps/voices/lib/dependency/dependencies.dart
  catalyst_voices/apps/voices/lib/pages/proposal/proposal_content.dart
  catalyst_voices/apps/voices/lib/pages/proposal/proposal_error.dart
  catalyst_voices/apps/voices/lib/pages/proposal/proposal_loading.dart
  catalyst_voices/apps/voices/lib/pages/proposal/proposal_page.dart
  catalyst_voices/apps/voices/lib/pages/proposal/tiles/proposal_comment_tile.dart
  catalyst_voices/apps/voices/lib/pages/proposal/tiles/proposal_comments_header_tile.dart
  catalyst_voices/apps/voices/lib/pages/proposal/widget/proposal_comment_builder.dart
  catalyst_voices/apps/voices/lib/pages/proposal/widget/proposal_comment_card.dart
  catalyst_voices/apps/voices/lib/pages/proposal/widget/proposal_comment_with_replies_card.dart
  catalyst_voices/packages/internal/catalyst_voices_assets/lib/src/voices_documents_templates.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/category/category_detail_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/discovery/discovery_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal/proposal_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal/proposal_cubit_cache.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal/proposal_cubit_mock_data.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/proposal_builder_bloc.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/registration/cubits/keychain_creation_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/registration/cubits/recover_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/workspace/workspace_bloc.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/data/document_data_metadata.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/specialized/comment_document.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/specialized/comment_template.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/specialized/comment_with_replies.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/catalyst_voices_repositories.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/comment/comment_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/database/dao/documents_dao.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/document_data_factory.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/document_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/source/database_documents_data_source.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/source/document_data_local_source.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/dto/document/document_data_dto.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/dto/document/schema/document_schema_dto.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/proposal/proposal_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/fixture/comment_template.json
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/document/document_repository_test.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/document/schema/document_schema_dto_test.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/utils/fixture_reader.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/catalyst_voices_services.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/comment/comment_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/proposal/proposal_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/user/signer_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/proposal/proposal_service_test.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/catalyst_voices_view_models.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/exception/exception_mapper.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/exception/localized_exception.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/proposal/exception/localized_unknown_publish_comment_exception.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/proposal/proposal_comments_segment.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/proposal/proposal_view_data.dart
Labels: review me, dart, F14

#2090 feat(cat-voices): proposal details integration - Part 2
  catalyst_voices/apps/voices/lib/dependency/dependencies.dart
  catalyst_voices/apps/voices/lib/pages/proposal/tiles/proposal_metadata_tile.dart
  catalyst_voices/apps/voices/lib/pages/proposal/widget/proposal_delivery_card.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/document/document_to_segment_mixin.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal/proposal_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal/proposal_cubit_cache.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/specialized/proposal_document.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/money/currency.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/proposal/proposal.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/proposal/proposal_data.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/proposal/proposal_version.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/proposal/proposal_view_metadata.dart
Labels: review me, dart, F14

#2096 feat(cat-voices): editable username
  catalyst_voices/apps/voices/lib/pages/account/account_page.dart
  catalyst_voices/apps/voices/lib/pages/account/widgets/account_username_tile.dart
  catalyst_voices/apps/voices/lib/pages/proposal/widget/proposal_header.dart
  catalyst_voices/apps/voices/lib/pages/registration/create_base_profile/stage/setup_panel.dart
  catalyst_voices/apps/voices/lib/pages/spaces/appbar/account_popup/session_account_popup_menu.dart
  catalyst_voices/apps/voices/lib/widgets/text_field/voices_username_text_field.dart
  catalyst_voices/apps/voices/lib/widgets/user/catalyst_id_text.dart
  catalyst_voices/apps/voices/lib/widgets/user/profile_container.dart
  catalyst_voices/apps/voices/lib/widgets/widgets.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/account/account_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/account/account_state.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal/proposal_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/registration/cubits/base_profile_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/registration/state_data/base_profile_state_data.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/registration/registration_progress.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/user/account.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/user/catalyst_id.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/user/user.dart
  catalyst_voices/packages/internal/catalyst_voices_models/test/user/catalyst_id_test.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/database/dao/documents_dao.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/database/dao/drafts_dao.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/database/dao/documents_dao_test.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/database/dao/drafts_dao_test.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/registration/registration_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/user/user_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/user/user_service_test.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/authentication/authentication.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/authentication/display_name.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/authentication/username.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/proposal/proposal_view_header.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/test/authentication/username_test.dart
Labels: review me, dart, F14

#2099 fix(cat-gateway): Signed Document Index endpoint pagination bug fix
  catalyst-gateway/bin/src/service/api/documents/post_document_index_query/mod.rs
  catalyst-gateway/tests/api_tests/integration/test_signed_doc.py
Labels: bug, review me, F14

#2101 feat(cat-gateway): Bump cat-libs version
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/service/api/documents/templates/mod.rs
  catalyst-gateway/bin/src/service/common/auth/rbac/scheme.rs
Labels: review me

#2102 fix(cat-voices): missing registration exit confirmation dialog
  catalyst_voices/apps/voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/apps/voices/lib/pages/registration/widgets/registration_confirm_dialog.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/registration/steps/account_create_step.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/registration/steps/registration_step.dart
Labels: bug, review me, dart, F14

#2106 fix(cat-voices): account locked without unlock password
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/registration/cubits/recover_cubit.dart
Labels: bug, review me, dart, F14

#2107 chore(cat-voices): new catalyst logo without project in name
  catalyst_voices/packages/internal/catalyst_voices_assets/assets/images/catalyst_logo.svg
  catalyst_voices/packages/internal/catalyst_voices_assets/assets/images/catalyst_logo_white.svg
  catalyst_voices/packages/internal/catalyst_voices_assets/assets/images/fallback_logo.svg
Labels: review me, ux/ui

#2103 feat(cat-voices): mobile access restriction
  .config/dictionaries/project.dic
  catalyst_voices/apps/voices/lib/app/view/app_content.dart
  catalyst_voices/apps/voices/lib/app/view/app_mobile_access_restriction.dart
  catalyst_voices/apps/voices/macos/Podfile.lock
  catalyst_voices/packages/internal/catalyst_voices_assets/assets/images/mobile_restrict_access.webp
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/platform/web_platform.dart
Labels: review me, ux/ui

#2085 feat(cat-voices): My Opportunities
  catalyst_voices/apps/voices/lib/pages/spaces/appbar/account_popup/session_account_popup_menu.dart
  catalyst_voices/apps/voices/lib/pages/spaces/drawer/opportunities_drawer.dart
  catalyst_voices/apps/voices/lib/pages/spaces/spaces_shell_page.dart
  catalyst_voices/apps/voices/lib/widgets/buttons/copy_catalyst_id_button.dart
  catalyst_voices/apps/voices/lib/widgets/drawer/voices_drawer.dart
  catalyst_voices/packages/internal/catalyst_voices_assets/assets/images/opportunities/reviewer.webp
  catalyst_voices/packages/internal/catalyst_voices_assets/assets/images/opportunities/voter.webp
  catalyst_voices/packages/internal/catalyst_voices_assets/pubspec.yaml
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
Labels: review me, ux/ui

#2108 fix(cat-voices): pass missing tags to rbac defined field
  catalyst_voices/packages/libs/catalyst_cardano_serialization/lib/src/address.dart
  catalyst_voices/packages/libs/catalyst_cardano_serialization/lib/src/certificate.dart
  catalyst_voices/packages/libs/catalyst_cardano_serialization/lib/src/datum.dart
  catalyst_voices/packages/libs/catalyst_cardano_serialization/lib/src/hashes.dart
  catalyst_voices/packages/libs/catalyst_cardano_serialization/lib/src/rbac/rbac_field.dart
  catalyst_voices/packages/libs/catalyst_cardano_serialization/lib/src/rbac/registration_data.dart
  catalyst_voices/packages/libs/catalyst_cardano_serialization/lib/src/redeemer.dart
  catalyst_voices/packages/libs/catalyst_cardano_serialization/lib/src/scripts.dart
  catalyst_voices/packages/libs/catalyst_cardano_serialization/lib/src/transaction.dart
  catalyst_voices/packages/libs/catalyst_cardano_serialization/lib/src/transaction_output.dart
  catalyst_voices/packages/libs/catalyst_cardano_serialization/lib/src/types.dart
  catalyst_voices/packages/libs/catalyst_cardano_serialization/lib/src/witness.dart
Labels: bug, review me, dart, F14

#2086 feat(cat-voices): Stay involved in Discovery Page
  catalyst_voices/apps/voices/lib/pages/discovery/discovery_page.dart
  catalyst_voices/apps/voices/lib/pages/discovery/sections/stay_involved.dart
  catalyst_voices/apps/voices/lib/widgets/text/voting_start_at_time_text.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/discovery/discovery_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/discovery/discovery_state.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/campaign/campaign_timeline.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/campaign/campaign_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/campaign/campaign_service.dart
Labels: review me, ux/ui

#2083 feat(cat-voices): menu action
  catalyst_voices/apps/voices/lib/dependency/dependencies.dart
  catalyst_voices/apps/voices/lib/pages/proposal_builder/appbar/proposal_builder_status_action.dart
  catalyst_voices/apps/voices/lib/pages/proposal_builder/appbar/proposal_menu_item_action_enum.dart
  catalyst_voices/apps/voices/lib/pages/workspace/my_proposals/my_proposals.dart
  catalyst_voices/apps/voices/lib/pages/workspace/page/workspace_page.dart
  catalyst_voices/apps/voices/lib/pages/workspace/proposal_menu_action_button.dart
  catalyst_voices/apps/voices/lib/pages/workspace/user_proposals/user_proposals.dart
  catalyst_voices/apps/voices/lib/widgets/cards/proposal_iteration_history_card.dart
  catalyst_voices/apps/voices/lib/widgets/cards/workspace_proposal_card.dart
  catalyst_voices/apps/voices/lib/widgets/modals/proposals/forget_proposal_dialog.dart
  catalyst_voices/apps/voices/lib/widgets/modals/proposals/unlock_edit_proposal.dart
  catalyst_voices/packages/internal/catalyst_voices_assets/assets/icons/unlink.svg
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/proposal_builder_bloc.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/workspace/workspace_bloc.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/workspace/workspace_event.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/workspace/workspace_signal.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/proposal/proposal_forget_actions.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/database/dao/drafts_dao.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/document_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/proposal/proposal_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/proposal/proposal_service.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/catalyst_voices_view_models.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/exception/localized_proposal_deletion_exception.dart
Labels: review me, ux/ui, dart, F14

#2110 feat(cat-voices): add account role
  catalyst_voices/apps/voices/lib/dependency/dependencies.dart
  catalyst_voices/apps/voices/lib/pages/account/unlock_keychain_dialog.dart
  catalyst_voices/apps/voices/lib/pages/account/widgets/account_roles_tile.dart
  catalyst_voices/apps/voices/lib/pages/registration/account_completed/account_completed_panel.dart
  catalyst_voices/apps/voices/lib/pages/registration/create_keychain/stage/unlock_password_panel.dart
  catalyst_voices/apps/voices/lib/pages/registration/recover/seed_phrase/unlock_password_panel.dart
  catalyst_voices/apps/voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/apps/voices/lib/pages/registration/registration_type.dart
  catalyst_voices/apps/voices/lib/pages/registration/wallet_link/stage/rbac_transaction_panel.dart
  catalyst_voices/apps/voices/lib/pages/registration/wallet_link/stage/roles_chooser_panel.dart
  catalyst_voices/apps/voices/lib/pages/registration/wallet_link/stage/roles_summary_panel.dart
  catalyst_voices/apps/voices/lib/pages/registration/widgets/registration_confirm_dialog.dart
  catalyst_voices/apps/voices/lib/pages/spaces/appbar/session_action_header.dart
  catalyst_voices/apps/voices/lib/widgets/cards/role_chooser_card.dart
  catalyst_voices/apps/voices/lib/widgets/containers/roles_chooser_container.dart
  catalyst_voices/apps/voices/lib/widgets/containers/roles_summary_container.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/account/account_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/registration/cubits/recover_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/registration/cubits/wallet_link_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/registration/state_data/registration_state_data.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/registration/state_data/wallet_link_state_data.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/registration/account_submit_data.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/user/user.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/catalyst_voices_services.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/registration/registration_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/registration/registration_transaction_builder.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/registration/registration_transaction_role.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/user/user_service.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/catalyst_voices_view_models.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/registration/exception/localized_registration_exception.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/registration/registration_role.dart
  catalyst_voices/utilities/uikit_example/lib/examples/voices_role_panels_example.dart
Labels: review me, dart, F14

#2116 fix(cat-gateway): Bump cat-libs version with the fixed cardano-chain-follower
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/service/common/auth/rbac/scheme.rs
Labels: review me
