Repository input-output-hk/catalyst-voices, pull requests merged in 2025-05, with the labels that each got.

#2400 fix(cat-gateway): Hide sensitive data in log
  catalyst-gateway/bin/src/settings/cassandra_db.rs
  catalyst-gateway/bin/src/settings/event_db.rs
  catalyst-gateway/bin/src/settings/mod.rs
Labels: bug, review me, rust, F14-RC1

#2424 feat(cat-voices): offstage viewProposals button if count is 0
  catalyst_voices/apps/voices/lib/widgets/cards/category_proposals_details_card.dart
Labels: bug, review me, ux/ui, F14, F14-RC1

#2426 fix(cat-voices): change dashboard name to space
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
Labels: bug, do not merge yet, do not review yet, ux/ui, dart, F14-RC1

#2435 fix(cat-voices): missing opportunities drawer in account page
  catalyst_voices/apps/voices/lib/pages/account/account_page.dart
Labels: review me, ux/ui, dart, F14, F14-RC1

#2440 feat(cat-gateway): Bump cat-libs version
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/service/api/documents/common/mod.rs
  catalyst-gateway/tests/api_tests/test_data/signed_docs/submission_action.json
Labels: review me

#2425 fix(cat-voices): show confirm dialog in discovery page
  catalyst_voices/apps/voices/lib/pages/account/widgets/account_keychain_tile.dart
  catalyst_voices/apps/voices/lib/pages/discovery/discovery_page.dart
  catalyst_voices/apps/voices/lib/routes/routing/spaces_route.dart
Labels: bug, ux/ui, dart, F14-RC1

#2449 chore: update recover account wording
  catalyst_voices/apps/voices/lib/pages/account/unlock_keychain_dialog.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
Labels: review me, dart

#2451 chore(cat-voices): hide pagination controls when less then one page available
  catalyst_voices/apps/voices/lib/widgets/pagination/layouts/paginated_grid_view.dart
Labels: review me, dart

#2450 feat(cat-voices): Simplify recover account keychain flow
  catalyst_voices/apps/voices/lib/pages/registration/recover/recover_seed_phrase_panel.dart
  catalyst_voices/apps/voices/lib/pages/registration/recover/seed_phrase/seed_phrase_instructions_panel.dart
  catalyst_voices/apps/voices/lib/pages/registration/registration_dialog.dart
  catalyst_voices/apps/voices/lib/pages/registration/registration_info_panel.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/registration/steps/account_recover_step.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/registration/steps/recover_seed_phrase_stage.dart
Labels: review me, dart

#2392 feat(cat-gateway): New RBAC auth scheme functionality
  catalyst-gateway/bin/src/db/index/queries/rbac/get_rbac_registrations.rs
  catalyst-gateway/bin/src/service/api/cardano/rbac/registrations_get/chain_info.rs
  catalyst-gateway/bin/src/service/common/auth/rbac/token.rs
Labels: review me

#2463 feat(cat-gateway): RBAC auth, logging cleanup
  catalyst-gateway/bin/src/service/common/auth/rbac/scheme.rs
Labels: review me

#2464 fix(cat-voices): center dialogs
  catalyst_voices/apps/voices/lib/widgets/modals/voices_desktop_dialog.dart
Labels: dart

#2467 fix(cat-voices): do not emit new state when closed
  catalyst_voices/apps/voices/lib/pages/discovery/sections/stay_involved.dart
  catalyst_voices/apps/voices/lib/pages/discovery/state_selectors/campaign_categories_state_selector.dart
  catalyst_voices/apps/voices/lib/pages/discovery/state_selectors/current_campaign_selector.dart
  catalyst_voices/apps/voices/lib/pages/discovery/state_selectors/most_recent_proposals_selector.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/discovery/discovery.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/discovery/discovery_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/discovery/discovery_state.dart
Labels: bug, dart

#2470 fix(cat-voices): share proposal local and add https in link
  catalyst_voices/apps/voices/lib/widgets/cards/proposal/pending_proposal_card.dart
  catalyst_voices/apps/voices/lib/widgets/modals/voices_share_dialog.dart
Labels: bug, review me, dart

#2473 fix(cat-voices): loading my proposals
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposals/proposals_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/database/dao/proposals_dao.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/proposal/proposal_repository.dart
Labels: bug, review me, dart, F14

#2379 feat(cat-gateway): Add a python script to perform `PUT /config/frontend`
  config/README.md
  config/dev/config.json
  config/dev/settings.json
  config/preprod/config.json
  config/preprod/settings.json
  config/prod/config.json
  config/prod/settings.json
  config/set_config.py
Labels: review me, python

#2476 fix(cat-voices): Prioritised documents sync
  catalyst_voices/apps/voices/lib/configs/app_bloc_observer.dart
  catalyst_voices/apps/voices/lib/configs/bootstrap.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/constant_documents_refs.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/data/document_type.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/document_ref.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/database/dao/documents_dao.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/database/dao/drafts_dao.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/document_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/source/database_documents_data_source.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/source/database_drafts_data_source.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/source/document_data_local_source.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/source/document_data_remote_source.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/source/document_data_source.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/database/dao/documents_dao_test.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/database/dao/drafts_dao_test.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/document/document_repository_test.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/document/source/document_data_remote_source_test.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/documents/documents_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/documents/documents_service_test.dart
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/sync/sync_manager_test.dart
Labels: review me, dart

#2479 fix(cat-voices): clear registration progress notifier
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
Labels: bug, review me, dart

#2477 fix(cat-voices): racing setting isFavorite in dashboard
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/discovery/discovery_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/discovery/discovery_state.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/proposal/proposal_view_model.dart
Labels: bug, review me, dart, F14

#2339 refactor: update role id type
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/db/index/block/rbac509/insert_catalyst_id_for_stake_address.rs
  catalyst-gateway/bin/src/db/index/block/rbac509/insert_catalyst_id_for_txn_id.rs
  catalyst-gateway/bin/src/db/index/block/rbac509/insert_rbac509.rs
  catalyst-gateway/bin/src/db/index/block/rbac509/insert_rbac509_invalid.rs
  catalyst-gateway/bin/src/db/index/block/rbac509/mod.rs
  catalyst-gateway/bin/src/db/index/queries/rbac/get_catalyst_id_from_transaction_id.rs
  catalyst-gateway/bin/src/db/index/queries/rbac/get_rbac_registrations.rs
  catalyst-gateway/bin/src/db/index/tests/scylla_queries.rs
  catalyst-gateway/bin/src/db/types/catalyst_id.rs
  catalyst-gateway/bin/src/service/api/cardano/rbac/registrations_get/chain_info.rs
  catalyst-gateway/bin/src/service/api/cardano/rbac/registrations_get/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/rbac/registrations_get/registration_chain.rs
  catalyst-gateway/bin/src/service/api/cardano/rbac/registrations_get/role_map.rs
  catalyst-gateway/bin/src/service/api/documents/common/mod.rs
  catalyst-gateway/bin/src/service/api/documents/put_document/mod.rs
  catalyst-gateway/bin/src/service/api/documents/templates/mod.rs
  catalyst-gateway/bin/src/service/common/auth/rbac/scheme.rs
  catalyst-gateway/bin/src/service/common/auth/rbac/token.rs
  catalyst-gateway/bin/src/service/common/types/cardano/catalyst_id.rs
Labels: do not merge yet, draft

#2501 feat(cat-voices): db logging interceptor
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/database/catalyst_database.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/database/database_logging_interceptor.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/utils/string_ext.dart
Labels: review me, dart

#2503 fix(cat-voices): missing multiline for MarkdownText
  catalyst_voices/apps/voices/lib/widgets/document_builder/viewer/document_property_builder_viewer.dart
Labels: bug, dart, F14-RC2

#2485 chore(cat-voices): ultrawide screens
  catalyst_voices/apps/voices/lib/pages/discovery/discovery_page.dart
  catalyst_voices/apps/voices/lib/pages/discovery/sections/current_campaign.dart
  catalyst_voices/apps/voices/lib/pages/discovery/sections/most_recent_proposals.dart
  catalyst_voices/apps/voices/lib/widgets/common/infrastructure/voices_wide_screen_constrained.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/campaign/campaign_timeline.dart
Labels: review me, ux/ui, dart

#2517 fix(cat-voices): clickable sidebar panel when collapsed
  catalyst_voices/apps/voices/lib/widgets/containers/sidebar/sidebar_panel.dart
Labels: bug, review me, dart

#2513 feat(cat-voices): Clicking section header toggles expansion
  catalyst_voices/apps/voices/lib/widgets/segments/segment_header_tile.dart
Labels: review me, dart

#2516 feat(cat-voices): get author name of proposal firstly from CatalystId
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal/proposal_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/specialized/proposal_document.dart
Labels: review me, dart, F14, F14-RC1

#2515 fix(cat-voices): allowing two lines in TreeView elements
  catalyst_voices/apps/voices/lib/widgets/common/simple_tree_view.dart
  catalyst_voices/apps/voices/lib/widgets/menu/voices_node_menu.dart
  catalyst_voices/apps/voices/lib/widgets/segments/segments_menu.dart
Labels: bug, review me, dart

#2453 test(cat-gateway): Integration test for RBAC endpoint
  catalyst-gateway/bin/src/service/common/types/cardano/catalyst_id.rs
  catalyst-gateway/tests/api_tests/integration/test_rbac.py
  catalyst-gateway/tests/api_tests/integration/test_rbac_auth_token.py
  catalyst-gateway/tests/api_tests/test_data/rbac_regs/only_role_0.jsonc
  catalyst-gateway/tests/api_tests/test_data/rbac_regs/role_3.jsonc
  catalyst-gateway/tests/api_tests/utils/rbac_chain.py
  cspell.json
Labels: python, testcase

#2522 fix(cat-voices): cut character in avatar - proposal viewer
  catalyst_voices/apps/voices/lib/widgets/user/profile_avatar.dart
Labels: review me, dart, F14, F14-RC2

#2527 fix(cat-voices): proposals limit in navigation rail
  catalyst_voices/apps/voices/lib/pages/overall_spaces/space/user_proposal_selectors/discovery_overview_proposal_selector.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/workspace/workspace_state.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/proposal/proposal.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/proposal/proposal_enums.dart
  catalyst_voices/packages/internal/catalyst_voices_models/test/proposal/proposal_enums_test.dart
Labels: review me, ux/ui, dart, F14

#2526 chore(cat-voices): revert win32 workaround
  catalyst_voices/apps/voices/pubspec.yaml
  catalyst_voices/melos.yaml
Labels: review me, dart

#2531 feat(cat-gateway): disable RBAC_OFF for dev environment
  catalyst-gateway/blueprint.cue
Labels: review me

#2520 feat(cat-gateway): Improve logging
  catalyst-gateway/bin/src/db/index/block/rbac509/mod.rs
  catalyst-gateway/bin/src/db/index/queries/rbac/get_rbac_registrations.rs
Labels: review me

#2385 test(cat-gateway): Correct the integration test for the assets endpoint
  catalyst-gateway/tests/api_tests/api/v1/cardano.py
  catalyst-gateway/tests/api_tests/integration/test_assets.py
Labels: review me, python

#2534 feat(cat-voices): blockchain slot number config
  catalyst_voices/apps/voices/integration_test/suites/account_test.dart
  catalyst_voices/apps/voices/integration_test/suites/app_test.dart
  catalyst_voices/apps/voices/integration_test/suites/discovery_test.dart
  catalyst_voices/apps/voices/integration_test/suites/onboarding_restore_test.dart
  catalyst_voices/apps/voices/integration_test/suites/onboarding_test.dart
  catalyst_voices/apps/voices/integration_test/suites/proposals_test.dart
  catalyst_voices/apps/voices/lib/configs/bootstrap.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/registration/registration_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/test/session/session_cubit_test.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/blockchain/blockchain_slot_config.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/config/app_config.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/config/app_config_factory.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/dto/config/remote_blockchain_config.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/fixture/configs.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/config/config_repository_test.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/blockchain/blockchain_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/registration/registration_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/blockchain/blockchain_service_test.dart
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/user/user_service_test.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/test/src/keychain/vault_keychain_provider_test.dart
  config/dev/config.json
  config/preprod/config.json
  config/prod/config.json
Labels: review me, dart

#2528 fix(cat-voices): update voices text field icons
  catalyst_voices/apps/voices/lib/widgets/text_field/voices_text_field.dart
  catalyst_voices/apps/voices/test/widgets/text_field/voices_text_field_test.dart
  catalyst_voices/utilities/uikit_example/lib/examples_list.dart
Labels: review me, ux/ui, dart, F14

#2525 fix(cat-voices): update url in after proposal submission
  catalyst_voices/apps/voices/lib/common/constants/constants.dart
Labels: review me, dart, F14, F14-RC2

#2545 feat(cat-gateway): Missing `thiserror` `#[source]` directivies
  catalyst-gateway/bin/src/db/index/session.rs
Labels: review me

#2536 feat(cat-gateway): Catalyst Signed Documents signature negative test cases
  catalyst-gateway/tests/api_tests/integration/test_assets.py
  catalyst-gateway/tests/api_tests/integration/test_rbac.py
  catalyst-gateway/tests/api_tests/integration/test_rbac_auth_token.py
  catalyst-gateway/tests/api_tests/integration/test_signed_doc.py
  catalyst-gateway/tests/api_tests/poetry.lock
  catalyst-gateway/tests/api_tests/pyproject.toml
  catalyst-gateway/tests/api_tests/utils/rbac_chain.py
  catalyst-gateway/tests/api_tests/utils/signed_doc.py
Labels: review me

#2538 chore(cat-voices): do not mark cancellation as error in db interceptor
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/database/database_logging_interceptor.dart
Labels: review me, dart

#2540 fix(cat-voices): previous pagination page
  catalyst_voices/apps/voices/lib/widgets/pagination/layouts/paginated_grid_view.dart
Labels: bug, review me, dart, F14-RC2

#2529 feat(cat-voices): handling anonymous account
  catalyst_voices/apps/voices/lib/pages/account/widgets/account_header_tile.dart
  catalyst_voices/apps/voices/lib/pages/proposal/proposal_content.dart
  catalyst_voices/apps/voices/lib/pages/proposal/proposal_page.dart
  catalyst_voices/apps/voices/lib/pages/proposal/snack_bar/username_updated_snack_bar.dart
  catalyst_voices/apps/voices/lib/pages/proposal/widget/proposal_header.dart
  catalyst_voices/apps/voices/lib/pages/proposal_builder/proposal_builder_segments.dart
  catalyst_voices/apps/voices/lib/pages/registration/recover/seed_phrase/account_details_panel.dart
  catalyst_voices/apps/voices/lib/pages/spaces/appbar/account_popup/session_account_display_name.dart
  catalyst_voices/apps/voices/lib/widgets/cards/comment_card.dart
  catalyst_voices/apps/voices/lib/widgets/cards/proposal/pending_proposal_card.dart
  catalyst_voices/apps/voices/lib/widgets/comment/pick_username_dialog.dart
  catalyst_voices/apps/voices/lib/widgets/comment/proposal_add_comment_tile.dart
  catalyst_voices/apps/voices/lib/widgets/comment/proposal_comment_card.dart
  catalyst_voices/apps/voices/lib/widgets/comment/proposal_comment_pick_username_tile.dart
  catalyst_voices/apps/voices/lib/widgets/user/profile_avatar.dart
  catalyst_voices/apps/voices/lib/widgets/user/profile_container.dart
  catalyst_voices/apps/voices/lib/widgets/user/username_text.dart
  catalyst_voices/apps/voices/lib/widgets/widgets.dart
  catalyst_voices/packages/internal/catalyst_voices_assets/assets/icons/avatar_placeholder.svg
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal/proposal_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal/proposal_signal.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/proposal_builder_bloc.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/proposal_builder_event.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/proposal/proposal.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/proposal/proposal_view_header.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/proposal/proposal_view_model.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/proposal_comments/proposal_comments_segment.dart
Labels: review me, dart, F14-RC2

#2550 chore(cat-voices): missing redirect link
  catalyst_voices/apps/voices/lib/common/constants/constants.dart
  catalyst_voices/apps/voices/lib/pages/registration/widgets/export_catalyst_key_confirm_dialog.dart
Labels: dart

#2482 chore(cat-voices): adding precache video
  catalyst_voices/apps/voices/lib/app/view/app_content.dart
  catalyst_voices/apps/voices/lib/app/view/video_cache/app_video_manager.dart
  catalyst_voices/apps/voices/lib/app/view/video_cache/app_video_precache.dart
  catalyst_voices/apps/voices/lib/dependency/dependencies.dart
  catalyst_voices/apps/voices/lib/pages/discovery/sections/campaign_hero.dart
  catalyst_voices/apps/voices/lib/widgets/heroes/section_hero.dart
  catalyst_voices/apps/voices/lib/widgets/video/video_player.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/catalyst_voices_view_models.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/managers/video_manager_assets.dart
Labels: review me, ux/ui, dart

#2557 fix(cat-gateway): `prepare_cardano_asset.py` Ada amount issue
  catalyst-gateway/tests/api_tests/integration/test_assets.py
  catalyst-gateway/tests/api_tests/scripts/prepare_cardano_asset.py
Labels: review me

#2543 feat(cat-gateway): Use RBAC cache during RBAC indexing
  catalyst-gateway/bin/src/db/index/block/mod.rs
  catalyst-gateway/bin/src/db/index/block/rbac509/cql/insert_catalyst_id_for_stake_address.cql
  catalyst-gateway/bin/src/db/index/block/rbac509/cql/insert_catalyst_id_for_txn_id.cql
  catalyst-gateway/bin/src/db/index/block/rbac509/cql/insert_rbac509.cql
  catalyst-gateway/bin/src/db/index/block/rbac509/insert_catalyst_id_for_stake_address.rs
  catalyst-gateway/bin/src/db/index/block/rbac509/insert_catalyst_id_for_txn_id.rs
  catalyst-gateway/bin/src/db/index/block/rbac509/insert_rbac509.rs
  catalyst-gateway/bin/src/db/index/block/rbac509/mod.rs
  catalyst-gateway/bin/src/db/index/block/roll_forward.rs
  catalyst-gateway/bin/src/db/index/queries/cql/get_catalyst_id_for_stake_address.cql
  catalyst-gateway/bin/src/db/index/queries/cql/get_catalyst_id_for_transaction_id.cql
  catalyst-gateway/bin/src/db/index/queries/cql/get_rbac_registrations_catalyst_id.cql
  catalyst-gateway/bin/src/db/index/queries/mod.rs
  catalyst-gateway/bin/src/db/index/queries/purge/catalyst_id_for_stake_address.rs
  catalyst-gateway/bin/src/db/index/queries/purge/catalyst_id_for_txn_id.rs
  catalyst-gateway/bin/src/db/index/queries/purge/cql/delete_catalyst_id_for_stake_address.cql
  catalyst-gateway/bin/src/db/index/queries/purge/cql/delete_catalyst_id_for_txn_id.cql
  catalyst-gateway/bin/src/db/index/queries/purge/cql/get_catalyst_id_for_stake_address.cql
  catalyst-gateway/bin/src/db/index/queries/purge/cql/get_catalyst_id_for_txn_id.cql
  catalyst-gateway/bin/src/db/index/queries/purge/mod.rs
  catalyst-gateway/bin/src/db/index/queries/rbac/get_catalyst_id_from_stake_address.rs
  catalyst-gateway/bin/src/db/index/queries/rbac/get_catalyst_id_from_transaction_id.rs
  catalyst-gateway/bin/src/db/index/queries/rbac/get_rbac_registrations.rs
  catalyst-gateway/bin/src/db/index/queries/rbac/mod.rs
  catalyst-gateway/bin/src/db/index/schema/cql/catalyst_id_for_stake_address.cql
  catalyst-gateway/bin/src/db/index/schema/cql/catalyst_id_for_txn_id.cql
  catalyst-gateway/bin/src/db/index/schema/cql/rbac_registration.cql
  catalyst-gateway/bin/src/db/index/schema/cql/rbac_registration_cat_id_by_txn_id_index.cql
  catalyst-gateway/bin/src/db/index/schema/mod.rs
  catalyst-gateway/bin/src/db/index/tests/mod.rs
  catalyst-gateway/bin/src/db/index/tests/rbac_index.rs
  catalyst-gateway/bin/src/db/index/tests/scylla_purge.rs
  catalyst-gateway/bin/src/db/index/tests/scylla_queries.rs
  catalyst-gateway/bin/src/rbac_cache/add_result.rs
  catalyst-gateway/bin/src/rbac_cache/cache.rs
  catalyst-gateway/bin/src/rbac_cache/mod.rs
  catalyst-gateway/bin/src/service/api/cardano/rbac/registrations_get/mod.rs
  catalyst-gateway/tests/Earthfile
Labels: review me

#2514 fix(cat-gateway): regex and parse param
  catalyst-gateway/bin/src/db/index/block/txo/insert_txo_asset.rs
  catalyst-gateway/bin/src/db/index/block/txo/insert_unstaked_txo_asset.rs
  catalyst-gateway/bin/src/db/index/queries/purge/txo_assets.rs
  catalyst-gateway/bin/src/db/index/queries/purge/unstaked_txo_assets.rs
  catalyst-gateway/bin/src/db/index/queries/staked_ada/get_assets_by_stake_address.rs
  catalyst-gateway/bin/src/db/index/schema/cql/txo_assets_by_stake_table.cql
  catalyst-gateway/bin/src/db/index/schema/cql/unstaked_txo_assets_by_txn_id.cql
  catalyst-gateway/bin/src/service/api/cardano/rbac/registrations_get/binary_data.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/stake_info.rs
  catalyst-gateway/bin/src/service/common/types/cardano/asset_name.rs
  catalyst-gateway/bin/src/service/common/types/cardano/cip19_shelley_address.rs
  catalyst-gateway/bin/src/service/common/types/cardano/cip19_stake_address.rs
  catalyst-gateway/bin/src/service/common/types/cardano/hash28.rs
  catalyst-gateway/bin/src/service/common/types/cardano/query/as_at.rs
  catalyst-gateway/bin/src/service/common/types/cardano/query/cat_id_or_stake.rs
  catalyst-gateway/bin/src/service/common/types/cardano/query/stake_or_voter.rs
  catalyst-gateway/bin/src/service/common/types/cardano/transaction_id.rs
  catalyst-gateway/bin/src/service/common/types/generic/ed25519_public_key.rs
  catalyst-gateway/bin/src/service/common/types/generic/uuidv4.rs
  catalyst-gateway/bin/src/service/common/types/generic/uuidv7.rs
Labels: bug, enhancement, review me, rust

#2569 chore(cat-voices): remove linter 80 char long line
  catalyst_voices/apps/voices/lib/common/formatters/date_formatter.dart
  catalyst_voices/apps/voices/lib/pages/discovery/sections/stay_involved.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/database/dao/drafts_dao.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/database/query/jsonb_expressions.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/database/table/documents_metadata.dart
  catalyst_voices/packages/libs/catalyst_analysis/lib/analysis_options.yaml
Labels: review me, dart

#2551 feat(cat-voices): opening proposal editor via links
  catalyst_voices/apps/voices/lib/pages/proposal_builder/proposal_builder_page.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/proposal_builder_bloc.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/proposal_builder_event.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/proposal_builder_signal.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/proposal/proposal_service.dart
Labels: dart, F14

#2537 feat(cat-voices): adding read view for proposal page
  catalyst_voices/apps/voices/lib/pages/proposal/proposal_page.dart
  catalyst_voices/apps/voices/lib/routes/guards/proposal_submission_guard.dart
  catalyst_voices/apps/voices/lib/routes/routing/proposal_route.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/campaign/campaign_stage/campaign_stage_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal/proposal_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal/proposal_state.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/campaign/campaign_service.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/range/date_range.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/test/src/range/date_range_test.dart
Labels: review me, dart, F14

#2574 feat(cat-gateway): Bump cat-libs, Catalyst Signed Docs `parameters` field
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/service/api/documents/post_document_index_query/response.rs
  catalyst-gateway/tests/api_tests/integration/test_signed_doc.py
Labels: review me

#2570 feat(cat-voices): scaffold dev tools
  catalyst_voices/apps/voices/lib/app/view/app.dart
  catalyst_voices/apps/voices/lib/app/view/app_content.dart
  catalyst_voices/apps/voices/lib/app/view/app_global_shortcuts.dart
  catalyst_voices/apps/voices/lib/dependency/dependencies.dart
  catalyst_voices/apps/voices/lib/pages/dev_tools/dev_tools_page.dart
  catalyst_voices/apps/voices/lib/pages/discovery/sections/most_recent_proposals.dart
  catalyst_voices/apps/voices/lib/pages/workspace/header/workspace_header.dart
  catalyst_voices/apps/voices/lib/widgets/app_bar/voices_app_bar.dart
  catalyst_voices/apps/voices/lib/widgets/common/resizable_box_parent.dart
  catalyst_voices/apps/voices/lib/widgets/dev_tools/dev_tools_enabler.dart
  catalyst_voices/apps/voices/lib/widgets/drawer/voices_drawer.dart
  catalyst_voices/apps/voices/lib/widgets/gesture/voices_gesture_detector.dart
  catalyst_voices/apps/voices/lib/widgets/modals/proposals/submit_proposal_for_review_dialog.dart
  catalyst_voices/apps/voices/lib/widgets/text/link_text.dart
  catalyst_voices/apps/voices/lib/widgets/text_field/voices_date_time_field.dart
  catalyst_voices/apps/voices/lib/widgets/toggles/voices_checkbox.dart
  catalyst_voices/apps/voices/lib/widgets/toggles/voices_radio.dart
  catalyst_voices/apps/voices/lib/widgets/user/catalyst_id_text.dart
  catalyst_voices/apps/voices/lib/widgets/widgets.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/catalyst_voices_blocs.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/dev_tools/dev_tools.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/dev_tools/dev_tools_bloc.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/dev_tools/dev_tools_enabler_signal.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/dev_tools/dev_tools_event.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/dev_tools/dev_tools_signal.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/dev_tools/dev_tools_state.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/dev_tools/dev_tools_config.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/catalyst_voices_repositories.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/dev_tools/dev_tools_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/dev_tools/dev_tools_storage.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/dto/dev_tools/dev_tools_config_dto.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/catalyst_voices_services.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/dev_tools/dev_tools_service.dart
Labels: review me, dart

#2567 feat(cat-gateway): Add integration test for health/ready endpoint
  .config/dictionaries/project.dic
  catalyst-gateway/tests/api_tests/Earthfile
  catalyst-gateway/tests/api_tests/api/v1/document.py
  catalyst-gateway/tests/api_tests/integration/test_health.py
  catalyst-gateway/tests/api_tests/integration/test_signed_doc.py
  catalyst-gateway/tests/api_tests/poetry.lock
  catalyst-gateway/tests/api_tests/pyproject.toml
  catalyst-gateway/tests/api_tests/utils/health.py
  catalyst-gateway/tests/api_tests/wrappers/__init__.py
  catalyst-gateway/tests/api_tests/wrappers/cat_gateway.py
Labels: enhancement, review me

#2589 feat(cat-voices): amendments to proposal builder
  catalyst_voices/apps/voices/lib/widgets/document_builder/common/document_property_builder_title.dart
  catalyst_voices/apps/voices/lib/widgets/document_builder/value/multiline_text_entry_markdown_widget.dart
  catalyst_voices/apps/voices/lib/widgets/document_builder/value/single_dropdown_selection_widget.dart
  catalyst_voices/apps/voices/lib/widgets/document_builder/viewer/document_property_builder_viewer.dart
  catalyst_voices/apps/voices/lib/widgets/rich_text/voices_rich_text.dart
  catalyst_voices/apps/voices/lib/widgets/text_field/token_field.dart
  catalyst_voices/apps/voices/lib/widgets/text_field/voices_text_field.dart
Labels: review me, ux/ui, dart, F14

#2586 fix(cat-voices): discovery recent proposals query
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/discovery/discovery_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/database/dao/documents_dao.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/database/dao/proposals_dao.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/source/database_documents_data_source.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/document/source/proposal_document_data_local_source.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/proposal/proposal_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/test/src/database/dao/proposals_dao_test.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/proposal/proposal_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/proposal/proposal_service_test.dart
Labels: bug, review me, dart

#2585 feat(cat-gateway): `CatGatewayInfo` middleware
  catalyst-gateway/bin/src/build_info.rs
  catalyst-gateway/bin/src/service/poem_service.rs
  catalyst-gateway/bin/src/service/utilities/middleware/mod.rs
  catalyst-gateway/bin/src/service/utilities/middleware/node_info.rs
Labels: review me, requires architecture review

#2591 fix(cat-gateway): Properly collect native assets from the cql query
  catalyst-gateway/bin/src/service/api/cardano/staking/assets_get.rs
  catalyst-gateway/bin/src/service/common/objects/cardano/stake_info.rs
  catalyst-gateway/bin/src/service/common/types/cardano/ada_value.rs
  catalyst-gateway/bin/src/service/common/types/cardano/asset_value.rs
  catalyst-gateway/tests/api_tests/integration/test_assets.py
  catalyst-gateway/tests/api_tests/scripts/prepare_cardano_asset.py
Labels: review me

#2594 feat(cat-voices): app/gateway info and config sections in DevTools
  catalyst_voices/apps/voices/lib/dependency/dependencies.dart
  catalyst_voices/apps/voices/lib/pages/dev_tools/dev_tools_page.dart
  catalyst_voices/apps/voices/lib/pages/dev_tools/widgets/app_info_card.dart
  catalyst_voices/apps/voices/lib/pages/dev_tools/widgets/build_mode_text.dart
  catalyst_voices/apps/voices/lib/pages/dev_tools/widgets/build_number_text.dart
  catalyst_voices/apps/voices/lib/pages/dev_tools/widgets/config_card.dart
  catalyst_voices/apps/voices/lib/pages/dev_tools/widgets/gateway_info_card.dart
  catalyst_voices/apps/voices/lib/pages/dev_tools/widgets/info_card.dart
  catalyst_voices/apps/voices/lib/pages/dev_tools/widgets/value_text.dart
  catalyst_voices/apps/voices/lib/pages/dev_tools/widgets/x_close_button.dart
  catalyst_voices/melos.yaml
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/dev_tools/dev_tools_bloc.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/dev_tools/dev_tools_event.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/dev_tools/dev_tools_state.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/info/app_info.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/info/gateway_info.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/info/system_info.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/dev_tools/dev_tools_repository.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/pubspec.yaml
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/dev_tools/dev_tools_service.dart
Labels: review me, dart

#2566 fix(cat-gateway): RBAC cache with RBAC auth token
  catalyst-gateway/bin/src/service/common/auth/rbac/scheme.rs
Labels: enhancement, review me, rust

#2598 feat(cat-gateway): Remove unused code `cardano/utils.rs`
  catalyst-gateway/bin/Cargo.toml
  catalyst-gateway/bin/src/cardano/mod.rs
  catalyst-gateway/bin/src/cardano/util.rs
Labels: review me, requires architecture review

#2601 feat(cat-voices): category detail view (compact and large)
  .config/dictionaries/project.dic
  catalyst_voices/apps/voices/lib/pages/category/category_brief.dart
  catalyst_voices/apps/voices/lib/pages/category/category_compact_detail_view.dart
  catalyst_voices/apps/voices/lib/pages/category/category_description_expandable_list.dart
  catalyst_voices/apps/voices/lib/pages/category/category_detail_view.dart
  catalyst_voices/apps/voices/lib/pages/category/category_page.dart
  catalyst_voices/apps/voices/lib/pages/category/view_all_category_proposal_button.dart
  catalyst_voices/apps/voices/lib/routes/routing/spaces_route.dart
  catalyst_voices/apps/voices/lib/widgets/cards/campaign_category_card.dart
  catalyst_voices/apps/voices/lib/widgets/cards/category_proposals_details_card.dart
  catalyst_voices/apps/voices/lib/widgets/cards/create_proposal_card.dart
  catalyst_voices/apps/voices/lib/widgets/cards/funds_detail_card.dart
  catalyst_voices/apps/voices/lib/widgets/common/affix_decorator.dart
  catalyst_voices/apps/voices/lib/widgets/list/category_requirements_list.dart
  catalyst_voices/apps/voices/lib/widgets/list/voices_list.dart
  catalyst_voices/apps/voices/lib/widgets/tiles/voices_expansion_tile.dart
  catalyst_voices/packages/internal/catalyst_voices_assets/assets/images/category/category_0194d490-30bf-7043-8c5c-f0e09f8a6d8c.jpg
  catalyst_voices/packages/internal/catalyst_voices_assets/assets/images/category/category_0194d490-30bf-7043-8c5c-f0e09f8a6d8c.svg
  catalyst_voices/packages/internal/catalyst_voices_assets/assets/images/category/category_0194d490-30bf-706d-91c6-0d4707f74cdf.jpg
  catalyst_voices/packages/internal/catalyst_voices_assets/assets/images/category/category_0194d490-30bf-7473-81c8-a0eaef369619.jpg
  catalyst_voices/packages/internal/catalyst_voices_assets/assets/images/category/category_0194d490-30bf-7473-81c8-a0eaef369619.svg
  catalyst_voices/packages/internal/catalyst_voices_assets/assets/images/category/category_0194d490-30bf-7703-a1c0-83a916b001e7.svg
  catalyst_voices/packages/internal/catalyst_voices_assets/assets/images/category/category_0194d490-30bf-79d1-9a0f-84943123ef38.jpg
  catalyst_voices/packages/internal/catalyst_voices_assets/assets/images/category/category_0194d490-30bf-7e75-95c1-a6cf0e8086d9.jpg
  catalyst_voices/packages/internal/catalyst_voices_assets/assets/images/category/category_0194d490-30bf-7e75-95c1-a6cf0e8086d9.svg
  catalyst_voices/packages/internal/catalyst_voices_assets/assets/images/category/category_0194d492-1daa-716f-a04e-f422f08a99dc.jpg
  catalyst_voices/packages/internal/catalyst_voices_brands/lib/src/theme_extensions/voices_color_scheme.dart
  catalyst_voices/packages/internal/catalyst_voices_brands/lib/src/themes/catalyst.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/campaign/campaign_category.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/campaign/campaign_category_view_model.dart
Labels: review me, ux/ui, dart

#2600 feat(cat-voices): dev tools documents utils
  catalyst_voices/apps/voices/lib/dependency/dependencies.dart
  catalyst_voices/apps/voices/lib/pages/dev_tools/dev_tools_page.dart
  catalyst_voices/apps/voices/lib/pages/dev_tools/widgets/documents_card.dart
  catalyst_voices/apps/voices/lib/pages/dev_tools/widgets/documents_count_text.dart
  catalyst_voices/apps/voices/lib/pages/dev_tools/widgets/sync_stats_text.dart
  catalyst_voices/apps/voices/lib/pages/dev_tools/widgets/value_text.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/dev_tools/dev_tools_bloc.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/dev_tools/dev_tools_event.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/dev_tools/dev_tools_state.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/sync/sync_stats.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/catalyst_voices_repositories.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/dto/sync_stats_dto.dart
  catalyst_voices/packages/internal/catalyst_voices_repositories/lib/src/sync/sync_stats_storage.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/dev_tools/dev_tools_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/documents/documents_service.dart
  catalyst_voices/packages/internal/catalyst_voices_services/lib/src/sync/sync_manager.dart
  catalyst_voices/packages/internal/catalyst_voices_services/test/src/sync/sync_manager_test.dart
  catalyst_voices/packages/internal/catalyst_voices_shared/lib/src/storage/local_storage.dart
Labels: review me, dart

#2629 fix(cat-voices): snackbars width assert
  catalyst_voices/apps/voices/lib/pages/proposal_builder/proposal_builder_validation_snackbar.dart
  catalyst_voices/apps/voices/lib/widgets/snackbar/voices_snackbar.dart
Labels: bug, review me, dart

#2618 feat(cat-voices): start proposal dialog
  catalyst_voices/apps/voices/lib/dependency/dependencies.dart
  catalyst_voices/apps/voices/lib/pages/category/category_compact_detail_view.dart
  catalyst_voices/apps/voices/lib/pages/spaces/spaces_shell_page.dart
  catalyst_voices/apps/voices/lib/pages/workspace/header/create_proposal_button.dart
  catalyst_voices/apps/voices/lib/pages/workspace/header/workspace_header.dart
  catalyst_voices/apps/voices/lib/widgets/buttons/create_proposal_button.dart
  catalyst_voices/apps/voices/lib/widgets/cards/create_proposal_card.dart
  catalyst_voices/apps/voices/lib/widgets/modals/proposals/create_new_proposal_action_buttons.dart
  catalyst_voices/apps/voices/lib/widgets/modals/proposals/create_new_proposal_category_selection.dart
  catalyst_voices/apps/voices/lib/widgets/modals/proposals/create_new_proposal_dialog.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/new_proposal/new_proposal_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/new_proposal/new_proposal_state.dart
  catalyst_voices/packages/internal/catalyst_voices_localization/lib/l10n/intl_en.arb
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/catalyst_voices_models.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/proposal/proposal_creation_step.dart
Labels: ux/ui, dart, F14, F14-RC2

#2640 feat(cat-voices): ui changes to proposal builder to comply with new template
  catalyst_voices/apps/voices/lib/pages/proposal_builder/proposal_builder_guidance.dart
  catalyst_voices/apps/voices/lib/widgets/document_builder/common/document_property_builder_title.dart
  catalyst_voices/apps/voices/lib/widgets/document_builder/value/document_token_value_widget.dart
  catalyst_voices/apps/voices/lib/widgets/document_builder/value/list_length_picker_widget.dart
  catalyst_voices/apps/voices/lib/widgets/document_builder/value/multiline_text_entry_markdown_widget.dart
  catalyst_voices/apps/voices/lib/widgets/document_builder/value/single_dropdown_selection_widget.dart
  catalyst_voices/apps/voices/lib/widgets/document_builder/viewer/document_property_builder_viewer.dart
  catalyst_voices/apps/voices/lib/widgets/rich_text/voices_rich_text.dart
  catalyst_voices/apps/voices/lib/widgets/text_field/token_field.dart
  catalyst_voices/apps/voices/lib/widgets/text_field/voices_text_field.dart
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/proposal_builder_bloc.dart
  catalyst_voices/packages/internal/catalyst_voices_models/lib/src/document/specialized/proposal_document.dart
Labels: review me, ux/ui, dart, F14, F14-RC2

#2645 feat(cat-voices): min title length validation and recheck checkboxes
  catalyst_voices/packages/internal/catalyst_voices_blocs/lib/src/proposal_builder/new_proposal/new_proposal_cubit.dart
  catalyst_voices/packages/internal/catalyst_voices_view_models/lib/src/proposal/proposal_title.dart
Labels: review me, ux/ui, dart, F14, F14-RC2
